<tr class="multiple">
    <td style="width: 55%; padding-right: 14px;">&nbsp;</td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black;">
        #FORMATO_CUV#
    </td>
</tr>

<tr class="multiple">
    <td style="width: 55%; padding-right: 14px;">&nbsp;</td>
    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; font-weight: 700; vertical-align: top; color: #000; padding-right: 14px;">
        #FORMATO_DESCRIPCIONCUV#
    </td>
</tr>
<tr class="multiple">
    <td style="width: 55%; padding-right: 14px;">&nbsp;</td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black;">
        #FORMATO_CANTIDAD# unidades
    </td>   
</tr>
<tr class="multiple">
    <td style="width: 55%; padding-right: 14px;">&nbsp;</td>
    <td style="width: 44%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black;">
        Costo: #FORMATO_PRECIO#
    </td>
</tr>