
<tr>
    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black; padding-right: 14px;">
        <!--#FORMATO_CANTIDAD1# unidades-->
    </td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black; border-top: 1px solid #979797;">
        #FORMATO_CUV2#
    </td>
</tr>
<tr>
    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; color: black; padding-right: 14px;">
        <!--Costo: #FORMATO_PRECIO1#-->
    </td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; color: black;">
        #FORMATO_DESCRIPCIONCUV2#
    </td>
</tr>
<tr>
    <td style="width: 55%; padding-right: 14px;">&nbsp;</td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black;">
        #FORMATO_CANTIDAD2#
    </td>
</tr>
<tr>
    <td style="width: 55%; padding-right: 14px;">&nbsp;</td>
    <td style="width: 44%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black;">
         #FORMATO_PRECIO2#
    </td>
</tr>