#ETIQUETA_SET_PACK#
<tr>
    <td style="border-bottom:1px solid #979797; padding-top:8px; padding-bottom:15px">
        <table align="center" border="0" cellspacing="0" cellpadding="0" style="width:100%; padding-left:14px; padding-right:14px;">
            <tbody>
                <tr>
                    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; color: #000; padding-right: 14px; vertical-align: top;">
                        #FORMATO_CUV1#
                    </td>
                    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; color: black; font-weight: 300; vertical-align: top;">
                        Solución solicitada:
                    </td>
                </tr>
                #FORMATO_DETALLE_TIPO_OPERACION#
            </tbody>
        </table>
    </td>
</tr>