<tr>
    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; font-weight: 700; vertical-align: top; color: #000; padding-right: 14px;">
        #FORMATO_DESCRIPCIONCUV1#
    </td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black; font-weight: 700;">
        #FORMATO_SOLICITUD#
    </td>
</tr>
<tr>
    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black; padding-right: 14px;">
        #FORMATO_CANTIDAD1# unidades unidades
    </td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black;">
        #FORMATO_CUV2#
    </td>
</tr>
<tr>
    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; color: black; padding-right: 14px;">
        Costo: #FORMATO_PRECIO1#
    </td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; color: black;">
        #FORMATO_DESCRIPCIONCUV2#
    </td>
</tr>
<tr>
    <td style="width: 55%; padding-right: 14px;">&nbsp;</td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black;">
        #FORMATO_CANTIDAD2# unidades
    </td>
</tr>
<tr>
    <td style="width: 55%; padding-right: 14px;">&nbsp;</td>
    <td style="width: 44%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black;">
        Costo: #FORMATO_PRECIO2#
    </td>
</tr>