
<tr>
    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; font-weight: 700; vertical-align: top; color: #000; padding-right: 14px;">
        #FORMATO_DESCRIPCIONCUV1#
    </td>
    <td rowspan="2" style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black; font-weight: 700;">
        #FORMATO_SOLICITUD#
    </td>
</tr>
<tr>
    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black; padding-right: 14px;">
        #FORMATO_CANTIDAD1# unidades
    </td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; vertical-align: top; color: black;"></td>
</tr>
<tr>
    <td style="width: 55%; text-align: left; font-family: 'Calibri'; font-size: 16px; color: black; padding-right: 14px;">
        Costo: #FORMATO_PRECIO1#
    </td>
    <td style="width: 45%; text-align: left; font-family: 'Calibri'; font-size: 16px; color: black;"></td>
</tr>