
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#FFF;">
    <thead>
        <tr>
            <th colspan="3" style="width: 100%; height: 50px; border-bottom: 1px solid #000; padding: 12px 0px; text-align: center;">
                <img src="https://cdn1-prd.somosbelcorp.com/ImagenesPortal/Iconos/logo.png" alt="Logo Esika"/>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3" style="height:30px;"></td>
        </tr>
        <tr>
            <td colspan="3">
                <table align="center" border="0" cellspacing="0" cellpadding="0" style="width:100%; text-align:center; padding-bottom:20px;">
                    <tbody>
                        <tr>
                            <td style="font-family: 'Calibri'; font-size: 17px; text-align: center; font-weight: 500; color: #000; padding: 0 0 20px 0;">
                                ¡Hola #FORMATO_NOMBRECOMPLETO#!
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; font-family: 'Calibri'; font-size: 22px; font-weight: 700; color: #000; padding-bottom: 15px;">
                                HEMOS RECIBIDO TU SOLICITUD DE CAMBIOS Y <br/>DEVOLUCIONES
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; font-family: 'Calibri'; color: #000; font-weight: 700; font-size: 14px; padding-bottom: 30px;">
                                En estos momentos la estamos evaluando y en 30 minutos te daremos una respuesta
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;">
                                <table align="center" border="0" cellspacing="0" cellpadding="0" style="width:100%; padding-left:14px; padding-right:14px;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 33%; text-align: center; font-family: 'Calibri'; font-size: 15px; font-weight: 300; color: black; border-right: 1px solid black; padding-right: 14px;">
                                                Fecha: #FORMATO_FECHACULIMNADO#
                                            </td>
                                            <td style="width: 33%; text-align: center; font-family: 'Calibri'; font-size: 15px; font-weight: 300; color: black; border-right: 1px solid black; padding-left: 14px; padding-right: 14px;">
                                                Solicitud: Nº #FORMATO_NUMEROSOLICITUD#
                                            </td>
                                            <td style="width: 33%; text-align: center; font-family: 'Calibri'; font-size: 15px; font-weight: 300; color: black; padding-left: 14px;">
                                                Campaña: #FORMATO_CAMPANIA#
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        #MENSAJE_EXPRESS#
                        <tr>
                            <td style="text-align: center; font-size: 17px; font-weight: 700; font-family: 'Calibri'; color: #262626; text-align: center; border-top: 1px solid #979797; border-bottom: 1px solid #979797; padding: 8px;">
                                DETALLE DE LA SOLICITUD
                            </td>
                        </tr>
                        #FORMATO_DETALLECDR#
                        <tr>
                            <td style="padding-top:30px;">
                                <table align="center" border="0" cellspacing="0" cellpadding="0" style="width:55%; padding-left:14px; padding-right:14px;">
                                    <tbody>
                                        <tr>
                                            <td style="font-weight: 700; color: black; font-size: 14px; width: 100%; border: 2px solid #979797; font-family: 'Calibri'; text-align: center; padding: 10px;">
                                                <a href="https://www.somosbelcorp.com/MisReclamos" style="text-decoration: none; font-family: 'Calibri'; font-weight: 700; color: black; font-size: 14px;">
                                                    VER LA SOLICITUD EN SOMOS BELCORP
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:center; font-family:'Calibri'; color:#000; font-size:12px; font-weight:400;padding-top:25px; padding-bottom:27px;"></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="background:#000; height:62px;">
                                <table align="center" style="text-align:center; padding:0 13px; width:100%; max-width:550px;">
                                    <!--[if gte mso 9]>";
                                    <table id=\"tableForOutlook\"><tr><td>";
                                    <![endif]-->
                                    <tbody>
                                        <tr>
                                            <td style="width:11%; text-align:left; vertical-align:top;">
                                                <a href="http://belcorp.biz/">
                                                    <img src="https://cdn1-prd.somosbelcorp.com/ImagenesPortal/Iconos/logo-belcorp.png" alt="Logo Belcorp" />
                                                </a>
                                            </td>
                                            <td style="width:8%; text-align:left;">
                                                <a href="http://www.esika.com/">
                                                    <img src="https://cdn1-prd.somosbelcorp.com/ImagenesPortal/Iconos/logo-esika.png" alt="Logo Esika" />
                                                </a>
                                            </td>
                                            <td style="width:8%; text-align:left;">
                                                <a href="http://www.lbel.com/">
                                                    <img src="https://cdn1-prd.somosbelcorp.com/ImagenesPortal/Iconos/logo-lbel.png" alt="Logo L'bel" />
                                                </a>
                                            </td>
                                            <td style="width:15%; text-align:left;border-right:1px solid #FFF;">
                                                <a href="http://www.cyzone.com/">
                                                    <img src="https://cdn1-prd.somosbelcorp.com/Correo/logo-cyzone.png" alt="Logo Cyzone" />
                                                </a>
                                            </td>
                                            <td style="width:15%; font-family:'Calibri'; font-weight:400; font-size:13px; color:#FFF; vertical-align:middle;">
                                                <a href="https://www.facebook.com/SomosBelcorpOficial?fref=ts">
                                                    <table align="center" style="text-align:center; width:100%;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align: right; font-family: 'Calibri'; font-weight: 400; font-size: 13px; vertical-align: middle; width: 69%; color: white;">
                                                                    SÍGUENOS
                                                                </td>
                                                                <td style="text-align: right; position: relative; top: 2px; left: 10px; width: 20%; vertical-align: top;">
                                                                    <img src="https://cdn1-prd.somosbelcorp.com/ImagenesPortal/Iconos/logo-facebook.png" alt="Logo Facebook" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!--[if gte mso 9]>";
                                    </td></tr></table>";
                                    <![endif]-->
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table align="center" style="text-align:center; width:220px;">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" style="height:6px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center; width:49%; border-right:1px solid #000; padding-right: 13px;">
                                                <span style="font-family:'Calibri'; font-size:12px; color:#000;">¿Tienes dudas?</span>
                                            </td>
                                            <td style="text-align:center; width:49%;">
                                                <span style="font-family:'Calibri'; font-size:12px; color:#000;">
                                                    <a href="http://belcorpresponde.somosbelcorp.com/">
                                                        Contáctanos
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

