<div class='content_datos_percepciones'>
    <div class='tipo padding_tabla_percepcion'>#TIPO_DOCUMENTO#</div>
    <div class='serie padding_tabla_percepcion'>#NUMERO_DOCUMENTO_SERIE#</div>
    <div class='correlativo padding_tabla_percepcion'>#NUMERO_DOCUMENTO_CORRELATIVO#</div>
    <div class='fechaEmision padding_tabla_percepcion'>#FECHA_EMISION_DOCUMENTO#</div>
    <div class='precioVenta padding_tabla_percepcion'>#MONTO#</div>
    <div class='porcentajePercepcion padding_tabla_percepcion'>#PORCENTAJE_PERCEPCION#</div>
    <div class='importePercepcion padding_tabla_percepcion'>#IMPORTTE_PERCEPCION#</div>
    <div class='montoTotalPercepcion padding_tabla_percepcion'>#MONTO_TOTAL#</div>
</div>
