@model Portal.Consultoras.Web.Models.RolModel
@{
    ViewBag.Title = "Rol";
}
<script type="text/javascript" src="~/Scripts/jquery.jstree.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        fnGrilla();
        IniDialog();

        $("#txtRolP").keypress(function (e) {
            if (e.which == 13) {
                RegistrarRol();
            }
        });

        $("#txtRol").keypress(
                function (evt) {
                    var charCode = (evt.which) ? evt.which : window.event.keyCode;
                    if (charCode <= 13) {
                        return false;
                    }
                    else {
                        var keyChar = String.fromCharCode(charCode);
                        var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ _.\/-]/;
                        return re.test(keyChar);
                    }
                });

        $("#txtRolP").keypress(
                function (evt) {
                    var charCode = (evt.which) ? evt.which : window.event.keyCode;
                    if (charCode <= 13) {
                        return false;
                    }
                    else {
                        var keyChar = String.fromCharCode(charCode);
                        var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ _.\/-]/;
                        return re.test(keyChar);
                    }
                });

        $("#txtRol").keypress(function (e) {
            if (e.which == 13) {
                fnGrilla();
            }
        });
    });

    function IniDialog() {
        $('#DialogRoles').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 600,
            draggable: true,
            title: "Registro de Roles",
            buttons:
            {
                "Guardar": function () {
                    var vMessage = "";
                    if (jQuery.trim($('#txtRolP').val()) == "")
                        vMessage = "Debe ingresar un Rol.";

                    if (vMessage != "") {
                        alert(vMessage);
                        $('#txtRolP').focus();
                        return false;
                    }
                    else {
                        RegistrarRol();
                    }

                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });

        $('#DialogPermisos').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 600,
            draggable: true,
            title: "Configurar Permisos",
            buttons:
            {
                "Guardar": function () {
                    var elimina = confirm('¿ Está seguro que desea guardar los(el) registro(s) seleccionado(s)?');
                    if (!elimina)
                        return false;
                    RegistrarPermiso();
                },
                "Cancelar": function () {
                    $(this).dialog('close');

                    $("#demoTree").jstree("remove");
                }
            }
        });
    }

    function ShowDialog(id) {
        showDialog(id);
    }

    function CloseDialog(id) {
        $("#" + id).dialog('close');
    }

    function RegistrarRol() {
        var item = {
            Descripcion: jQuery.trim($("#txtRolP").val()),
            RolID: $("#hdRolId").val()
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'Rol/Mantener',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success == true) {
                        var item = data.items;
                        alert(data.message);
                        CloseDialog("DialogRoles");
                        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert(data.message);
                    CloseDialog("DialogRoles");
                }
            }
        });
    }

    function RegistrarPermiso() {
        var params = { RolID: '', permisos: [] };
        params.RolID = $('#hdRolIdP').val();
        $("#demoTree").jstree("get_checked", null, true).each
            (function () {
                params.permisos.push(this.id);
            });
        $("#demoTree").find(".jstree-undetermined", null, true).each
            (function () {
                params.permisos.push(this.id);
            });
        waitingDialog({});
        $.ajax({
            type: "POST",
            url: baseUrl + "Rol/InsertarPermiso",
            data: JSON.stringify(params),
            contentType: 'application/json',
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        closeWaitingDialog();
                        alert(data.message);
                        CloseDialog("DialogPermisos");
                    }
                    else
                        alert(data.message);
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("ERROR");
                    CloseDialog("DialogPermisos");
                }
            }
        });
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "Rol/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vDescripcion: function () {
                    return jQuery.trim($("#txtRol").val());
                }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['CodRol', 'Roles', 'Permisos', 'Opcion'],
            colModel: [
                 {
                     name: 'RolID', index: 'RolID', width: 0, editable: false, align: 'center',
                     hidden: true
                 },
                { name: 'Descripcion', index: 'Descripcion', width: 50, editable: true, resizable: false },
                { name: 'vPermiso', index: 'vPermiso', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowLink },
                { name: 'vOpcion', index: 'vOpcion', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Descripcion',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowLink(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var link = "&nbsp;<a href='javascript:;' onclick=\"jQuery('#list').Configurar('" + rowObject[0] + "');\" >Configurar Permisos</a>";
            return link;
        };

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Registro' title='Editar Registro' border='0' /></a>";
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Registro' title='Eliminar Registro' border='0' /></a>";
            return Edit + Del;
        };
    }

    $.jgrid.extend({
        Eliminar: function (rolID) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado ?');
            if (!elimina)
                return false;
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'Rol/Eliminar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    RolID: rolID
                }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        },
        Configurar: function (rolID) {
            waitingDialog({});
            $.ajaxSetup({ cache: false });
            $.getJSON(baseUrl + "Rol/CargarPermiso", { RolID: rolID }, function (data) {
                if (checkTimeout(data)) {
                    $.ajaxSetup({ cache: true });
                    $("#demoTree").jstree({
                        json_data: {
                            data: data
                        },
                        "themes": {
                            "theme": "apple",
                            "dots": true,
                            "icons": false
                        },
                        "core": {
                            "animation": 500
                        },
                        checkbox: {
                            real_checkboxes: true,
                            checked_parent_open: true
                        },
                        plugins: ["themes", "json_data", "ui", "checkbox"],
                    }).bind("loaded.jstree", function (event, data) {
                        $(this).jstree("open_all");
                        closeWaitingDialog();
                        ShowDialog('DialogPermisos');
                    });
                }
            });
            $('#hdRolIdP').val(rolID);
        },
        Editar: function (rolID) {
            if (rolID) {
                $('#hdRolId').val(jQuery("#list").jqGrid('getCell', rolID, 'RolID'));
                $('#txtRolP').val(jQuery("#list").jqGrid('getCell', rolID, 'Descripcion'));
                ShowDialog("DialogRoles");
            } else {
                alert("No selecciono un Rol");
            }
            return false;
        }
    });

    function LimpiarRol() {
        var elem = $("#txtRolP");
        elem.val("");
        elem.focus();
        $("#hdRolId").val("0");
    }

    function Nuevo() {
        LimpiarRol();
        ShowDialog('DialogRoles');
    }

    function Buscar() {
        fnGrilla();
    }
</script>

<div class="wrap_cab">

    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Mantenimiento <span>de Rol</span></h1>
            </div>
            <div class="div-3">
                <div class="input_search">
                    <input id="btnNuevo" type="button" value="Nuevo" onclick="Nuevo();" />
                </div>
                <div class="titB">Rol:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtRol" type="text" maxlength="50">
                </div>
                <div class="input_search">
                    <input type="button" value="Buscar" onclick="Buscar();" />
                </div>
            </div>

        </div>
    </div>
</div>

<div class="wrap">

    <section class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>

        </div>
    </section>

</div>


<div id="DialogRoles" style="display: none">
    @Html.HiddenFor(model => model.RolID, new { id = "hdRolId" })
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">Rol:</div>
            <div class="selectA borde_redondeado">
                <input id="txtRolP" type="text">
            </div>
        </div>
    </div>
</div>
<div id="DialogPermisos" style="display: none">
    @Html.HiddenFor(model => model.RolID, new { id = "hdRolIdP", @maxlength = "50" })
    <div class="Content_modal">
        <div id="demoTree">
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
