 .BloqueLandingRD{
     padding-left:139px;
 }
 .parche_productos_1000{
     max-width:1000px;
 }
 .parche_productos_1000 #orderby-filter{
     padding: 0 11px;
 }
 .parche_productos_1000 .revistadigital-landing{
     width: auto;
     display: inline-block;
     margin-left: -4px;
     min-width: 25%;
     padding: 0 10px;
 }
 .parche_productos_1000 .revistadigital-landing .content_item_carrusel {
     margin-right: 0;
     margin-left: 0;
     width: 100%;
     min-width: 230px;
     padding-right: 10px;
     padding-left: 10px;
     /* border: none; */
     box-shadow: none;
 }
 .parche_productos_1000 .contenido_834 .revistadigital-landing .content_item_carrusel img.imagen_producto {
     padding: 10px;
     margin-top: 5px;
 }
 .parche_productos_1000 .revistadigital-landing .content_item_carrusel a.boton_Agregalo_home {
     font-size: 12px !important;
     letter-spacing: .5px;
 }
.producto_nombre_descripcion {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    height: auto;
    font-family: 'Lato';
    letter-spacing: .2px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.producto_nombre_descripcion .nombre-producto {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    height: 40px;
}
.producto_precio_oferta {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 15px;
    width: 50%;
    padding-left: 3px;
    position: relative;
}
.bc_plantilla_estrategia_personalizada .contenido_834 .revistadigital-landing {
    min-width: 33.33% !important;
}
#divOfertaProductos{
    text-align:center !important;
}