@model Portal.Consultoras.Web.Models.ParametroDiasCargaPedidoModel
@{
    ViewBag.Title = "Parámetro Días Carga Pedido";
}
<script>
    function LimpiarDependencias(Id) {
        var ddlRegion = $('#ddlRegion');
        var ddlZona = $('#ddlZona');
        ddlRegion.empty();
        ddlZona.empty();
        $('#chkSeleccionar').attr('checked', false);

        if (Id != "") {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
        } else {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
        }
    }

    // se refresca el arbol con el pais, region y zona seleccionadas
    function CargarArbol(pais, region, zona) {
        
        waitingDialog({});
        $.jstree._reference($("#arbolRegionZona")).refresh(-1);
    }

    function Grabar() {
       
        var ndias =parseInt($('#txtDiasDuracionCronograma').val());

        var listachecked = $('.jstree-no-icons li ul').find('.jstree-leaf.jstree-checked');

        for (j = 0; j < listachecked.length; j++)
        {
            var fila = parseInt(listachecked[j].attributes[1].value)

            if(fila < ndias)
            {
                alert("El número de días debe ser menor o igual al número de días de cronograma de la zona " + "(" + fila + " días)");
                $('#txtDiasDuracionCronograma').val("");
                $('#txtDiasDuracionCronograma').focus();
                return false;
            }
        }


        waitingDialog({});
        var ParametroDiasCargaPedidoModel = {
            EntradasLog: [],
            EntradasConfiguracionParametroCarga: [],
            DiasParametroCarga: $("#txtDiasDuracionCronograma").val()
        };
        // se capturan los ids de los nodos seleccionados
        var objEntradaLog, objConfiguracionParametroCarga;
        $.jstree._reference($("#arbolRegionZona")).get_checked(null, true).each(function () {
            // solo para nodos de tipo hoja (leaf)
            if (this.className.toLowerCase().indexOf("jstree-leaf") == -1) {
                return true;
            }

            objEntradaLog = {
                CodigosRegionZona: this.parentNode.parentNode.id + ';' + this.id,
                DiasParametroCargaAnterior: this.attributes[2].value,
                DiasParametroCargaActual: ParametroDiasCargaPedidoModel.DiasParametroCarga
            };
            ParametroDiasCargaPedidoModel.EntradasLog.push(objEntradaLog);
            objConfiguracionParametroCarga = {
                ZonaID: this.id,
                DiasParametroCarga: ParametroDiasCargaPedidoModel.DiasParametroCarga
            };
            ParametroDiasCargaPedidoModel.EntradasConfiguracionParametroCarga.push(objConfiguracionParametroCarga);
        });

        // se envian los ids al servidor para ser grabados
        if (ParametroDiasCargaPedidoModel.EntradasConfiguracionParametroCarga.length == 0) {
            alert("Debe seleccionar al menos una zona.");
            closeWaitingDialog();
            return false;
        }

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: baseUrl + 'ParametroDiasCargaPedido/GrabarZonas',
            data: JSON.stringify({ EntradasLog: ParametroDiasCargaPedidoModel.EntradasLog, EntradasConfiguracionParametroCarga: ParametroDiasCargaPedidoModel.EntradasConfiguracionParametroCarga, DiasParametroCarga: ParametroDiasCargaPedidoModel.DiasParametroCarga }),
            success: function (data) {
                if (checkTimeout(data)) {
                    alert(data.message);
                    $("#txtDiasDuracionCronograma").val("1");
                    $('#chkSeleccionar').attr('checked', false);
                    CargarArbol();
                    closeWaitingDialog();
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("Se produjo un error al realizar la modificación de Parametro Días Carga Pedido");
                }
            }
        });
    }

    function ExportarExcel() {
        var PaisID = jQuery.trim($("#ddlPais").val());
        if (PaisID == "") {
            alert("Debe seleccionar un País.");
            return false;
        }

        waitingDialog({});

        setTimeout(function () {
            DownloadAttachExcel(PaisID)
        }, 0);
    }

    function DownloadAttachExcel(PaisID) {
        if (checkTimeout()) {
            var content = baseUrl + "ParametroDiasCargaPedido/ExportarExcel?PaisID=" + PaisID;

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }

    function IniDialogVerLog() {
        $('#DialogVerLog').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 940,
            draggable: true,
            title: "Log de Modificación de Parametro Carga Pedido",
            buttons:
            {
                "Cerrar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "ParametroDiasCargaPedido/ConsultarLog",
            hidegrid: false,
            datatype: 'json',
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Código Usuario', 'Fecha', 'Región / Zona', 'DiasParametroCargaActual'],
            colModel: [
                { name: 'CodigoUsuario', index: 'CodigoUsuario', width: 30, editable: true, resizable: false },
                { name: 'Fecha', index: 'Fecha', width: 40, editable: true, resizable: false },
                { name: 'CodigosRegionZona', index: 'CodigosRegionZona', width: 100, editable: true, resizable: false },
                { name: 'DiasParametroCargaActual', index: 'DiasParametroCargaActual', width: 60, editable: true, resizable: false },
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    ISOPais: 'ISOPais'
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Fecha',
            sortorder: 'desc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function MostrarDialogo() {
        fnGrilla();
        showDialog("DialogVerLog");
    }

    $(function () {
        IniDialogVerLog();

        $('#ddlPais').change(function () {
           
            var Id = $(this).val();

            if ($(this)[0].children[0].innerHTML == "-- Seleccionar --" && Id == "") {
                
                $('#ddlRegion').children().remove();
                $('#ddlZona').children().remove();
                $('#arbolRegionZona').children().empty();
                html_ = '<option value="">-- -- Seleccionar -- --</option>';
                $('#ddlRegion').append(html_);

                html1_ = '<option value="">-- -- Seleccionar -- --</option>';
                $('#ddlZona').append(html1_);
                
                return;
            }
            else {

                if (Id != null) {
                    waitingDialog({});
                    $.ajaxSetup({ cache: false });
                    $.getJSON(baseUrl + 'ParametroDiasCargaPedido/ObtenerRegionesPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                        if (checkTimeout(data)) {
                            LimpiarDependencias(Id);
                            if (Id != "") {
                                var ddlRegion = $('#ddlRegion');
                                var ddlZona = $('#ddlZona');
                                if (data.lstRegiones.length > 0) {
                                    for (var item in data.lstRegiones) {
                                        if (data.lstRegiones.hasOwnProperty(item)) {
                                            ddlRegion.append($('<option/>', {
                                                value: data.lstRegiones[item].RegionID,
                                                text: data.lstRegiones[item].Codigo
                                            }));
                                        }
                                    }
                                }
                            }
                            closeWaitingDialog();
                        }
                    });
                }

            }
            
        });

        $('#ddlRegion').change(function () {
            var Id = $(this).val();
            if (Id != null) {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.ajax({
                    type: 'GET',
                    url: baseUrl + 'ParametroDiasCargaPedido/ObtenerZonasByRegion',
                    data: "PaisID=" + $("#ddlPais").val() + "&RegionID=" + (Id == "" ? -1 : Id),
                    cache: false,
                    dataType: 'Json',
                    success: function (data) {
                        if (checkTimeout(data)) {
                            var ddlZona = $('#ddlZona');
                            ddlZona.empty();
                            if (data.listaZonas.length > 0) {
                                ddlZona.append($('<option/>', {
                                    value: "",
                                    text: "-- Todas --"
                                }));
                                for (var item in data.listaZonas) {
                                    if (data.listaZonas.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.listaZonas[item].ZonaID,
                                            text: data.listaZonas[item].Codigo
                                        }));
                                    }
                                }
                            }
                            closeWaitingDialog();
                        }
                    },
                    error: function (x, xh, xhr) {
                        if (checkTimeout(x)) {
                            closeWaitingDialog();
                        }
                    }
                });
            }
        });

        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }

            $("#txtDiasDuracionCronograma").val("");
            $('#chkSeleccionar').attr('checked', false);
            CargarArbol();

        });

        $("#arbolRegionZona").jstree({
            json_data: {
                //data: treeModel
                ajax: {
                    url: baseUrl + "ParametroDiasCargaPedido/CargarArbolRegionesZonas",
                    //async: true,
                    data: function (n) {
                        
                        return { pais: $("#ddlPais").val(), region: $("#ddlRegion").val(), zona: $("#ddlZona").val() };
                    },
                    type: "GET",
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    },
                    success: function (data, textStatus, jqXHR) {
                    },
                    complete: function () {
                        closeWaitingDialog();
                    }
                }
            },
            "themes": {
                "theme": "apple",
                "dots": true,
                "icons": false
            },
            plugins: ["themes", "json_data", "ui", "checkbox"]
        });

        $('#txtDiasDuracionCronograma').val("1");

        $('#txtDiasDuracionCronograma').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[1-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('#txtDiasDuracionCronograma').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 49 || e.which > 57)) {
                return false;
            }
        });

        $("#chkSeleccionar").click(function () {
            if (this.checked)
                $.jstree._reference($("#arbolRegionZona")).check_all();
            else
                $.jstree._reference($("#arbolRegionZona")).uncheck_all();
        });
    });
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Parámetro Días Carga Pedidos</h1>
                <span>En esta opción se configura el parámetro de días para determinar la fecha de inicio de descarga de los pedidos validados y no validados</span>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titF">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>

            </div>
            <div class="div-3">
                <div class="titF">Región:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.RegionID, new SelectList(Model.listaRegiones, "RegionID", "Codigo"), "-- Seleccionar --", new { id = "ddlRegion" })
                </div>
            </div>
            <div class="div-3">
                <div class="titF">Zona:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.ZonaID, new SelectList(Model.listaZonas, "ZonaID", "Codigo"), "-- Seleccionar --", new { id = "ddlZona" })
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="input_search">
                    <input type="submit" value="Buscar" id="btnBuscar" name="">
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="titH" style="width: 300px;">
                    Para actualizar el parámetro de N° de días para la descarga de pedidos validados y no validados, marque las regiones o zonas deseadas:
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="treeview_content borde_redondeado">
                    <div id="arbolRegionZona" class="demo">
                    </div>
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="titH">
                    <label id="lblSeleccionar">
                        <input type="checkbox" id="chkSeleccionar" />
                        Seleccionar todo</label>
                </div>
            </div>
            <div class="div-3">
                <div class="titF">N° dias :</div>
                <div class="selectH2 borde_redondeado" style="width: 75px;">
                    <input type="text" id="txtDiasDuracionCronograma" maxlength="3" onpaste="return paste(this);" />
                </div>
                <div class="input_horizontal">
                    <input type="submit" value="Grabar" id="btnGrabar" name="btnGrabar" onclick="Grabar();">
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="input_horizontal">
                    <input type="button" value="Excel" id="btnExportarExcel" name="btnExportarExcel" onclick="ExportarExcel();">
                    <input type="button" value="Ver Log" id="btnVerLog" name="btnVerLog" onclick="MostrarDialogo();">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<div id="DialogVerLog" style="display: none;">
    <div class="Content_modal">
        <table id="list"></table>
        <div id="pager"></div>
    </div>
</div>

