@model Portal.Consultoras.Web.Models.UsuarioModel
@{
    Layout = "";
    ViewBag.Title = "Admin";
}

<style>
    body {
        font-size: 11px !important;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 0px 10px 0px;
        padding: 0px;
        background: #FFF;
        color: #666666;
    }

    img {
        border: 0px;
    }

    p {
        border: 0px;
        padding: 0px 0px 0px 0px;
        margin: 0px;
    }
    .MainArea {
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        display: block;
        width: 955px;
    }

    .wrapper {
        width: 905px;
        padding: 40px 25px 20px 25px;
        margin: 0px auto;
        overflow: hidden;
        display: block;
    }
    .left {
        width: 475px;
        height: 475px;
        padding: 0px 0px 10px 0px;
        float: left;
        display: block;
    }
    .left_img {
        height: 340px;
        position: relative;
    }
    .right {
        width: 320px;
        float: right;
        display: block;
        background: #FFF;
    }
    .right_dominio {
        color: #7D398D;
        font-size: 18px;
        font-weight: normal;
        padding: 30px 0px 7px 0px;
    }
    .right_usuario {
        padding: 0px 0px 10px 0px;
    }
    .right_usuario input {
        height: 32px;
        line-height: 32px;
        border: 1px solid #BDBCBD;
        background: #FFF;
        color: #999;
        margin: 0px;
        width: 96%;
        padding: 0px 1px 0px 10px;
        font-size: 13px;
        font-weight: normal;
    }
    .right_usuario input:hover {
        border: 1px solid #9A9A9A;
    }
    .right_password {
        padding: 0px 0px 10px 0px;
    }
    .right_password input {
        height: 32px;
        line-height: 32px;
        border: 1px solid #BDBCBD;
        background: #FFF;
        color: #999;
        margin: 0px;
        width: 96%;
        padding: 0px 1px 0px 10px;
        font-size: 13px;
        font-weight: normal;
    }
    .right_error {
        color: red;
        font-size: 13px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        padding: 2px 0px 20px 0px;
    }
    .right_iniciar {
        padding: 0px 0px 20px 0px;
    }
    .right_iniciar input {
        border: 0px;
        background: #6C207F;
        height: 30px;
        width: 110px;
        line-height: 30px;
        color: #FFF;
        padding: 0px 10px 0px 10px;
        cursor: pointer;
    }
    .foot_login {
        height: 82px;
        background: url('../img/foot_login.png') top left repeat-x;
        text-align: center;
        clear: both;
    }
    .foot_login_content {
        width: 935px;
        margin: 0px auto;
        text-align: left;
        padding: 0px 0px 0px 0px;
    }
    .logos_login img {
        overflow: hidden;
        float: left;
    }
    .logos_login p {
        overflow: hidden;
        float: left;
        color: #6E828D;
        font-size: 13px;
        font-weight: bold;
        padding: 2px 0px 0px 0px;
    }
    .copyright_login {
        float: right;
        font-size: 11px;
        color: #702789;
        padding: 4px 0px 0px 0px;
    }
</style>

<form name="MainForm" method="post" action="@Url.Action("LoginAdmin", "Login")" id="frmLoginAdmin">
    <div>
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJMjcyNjc2NDE3ZGQ="/>
    </div>

    <div>
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBQKA0dCRBQLnmcnFAQLQyNvdDgLC9/ChAwKyuOLUCw=="/>
    </div>
    <input type="hidden" name="__db" value="14"/>
    <div id="Div1" class="MainArea">
        <div class="wrapper">
            <div class="left">
                <div class="left_img">
                    <img src="https://d2bgg33tt62p1e.cloudfront.net/ffvvweb/images/adfs_13.jpg" alt=""/>
                </div>
            </div>
            <div class="right">
                <div class="logo">
                    <img src="https://d2bgg33tt62p1e.cloudfront.net/ffvvweb/images/adfs_02.png" alt=""/>
                </div>
                <div class="right_dominio">
                    belcorp.biz
                </div>
                <div class="right_usuario">
                    <input name="CodigoUsuario" type="text" id="txtNombreUsuario" placeholder="Nombre Usuario"/>
                </div>
                <div class="right_password">
                    <input name="ClaveSecreta" type="password" id="txtClaveUsuario" placeholder="Contraseña"/>
                </div>
                <div class="right_error" id="divErrorAdmin">

                </div>
                <div class="right_iniciar">
                    <input type="submit" name="btnLoginAdmin" value="Iniciar sesión" id="btnLoginAdmin"/>
                </div>
                <div class="right_cuenta"></div>
            </div>
        </div>
        <div class="foot_login">
            <div class="foot_login_content">
                <div class="logos_login">
                    <p>Conoce más de:</p>
                    <a href="http://www.lbel.com" title="LBEL" target="_blank">
                        <img src="https://d2bgg33tt62p1e.cloudfront.net/ffvvweb/images/adfs_06.png" border="0"/>
                    </a>
                    <a href="http://www.esika.biz" title="ESIKA" target="_blank">
                        <img src="https://d2bgg33tt62p1e.cloudfront.net/ffvvweb/images/adfs_07.png" border="0"/>
                    </a>
                    <a href="http://www.cyzone.com" title="CYZONE" target="_blank">
                        <img src="https://d2bgg33tt62p1e.cloudfront.net/ffvvweb/images/adfs_08.png" border="0"/>
                    </a>
                    <a href="http://www.Belcorp.biz" title="BELCORP" target="_blank">
                        <img src="https://d2bgg33tt62p1e.cloudfront.net/ffvvweb/images/adfs_09.png" border="0"/>
                    </a>
                    <a href="https://ffvv.somosbelcorp.com" title="Fuerza de Ventas Belcorp" target="_blank">
                        <img src="https://d2bgg33tt62p1e.cloudfront.net/ffvvweb/images/adfs_10.png" border="0"/>
                    </a>
                    <a href="http://correo.belcorp.biz" title="Correo Belcorp" target="_blank">
                        <img src="https://d2bgg33tt62p1e.cloudfront.net/ffvvweb/images/adfs_11.png" border="0"/>
                    </a>
                    <a href="http://summatutalento.belcorp.biz" title="Summa" target="_blank">
                        <img src="https://d2bgg33tt62p1e.cloudfront.net/ffvvweb/images/adfs_12.png" border="0"/>
                    </a>
                </div>
                <div class="copyright_login">
                    Copyright Belcorp 2014. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</form>

<script src="@Url.Content("~/Scripts/jquery-1.11.2.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.js")"></script>

@if (TempData["errorLoginAdmin"] != null)
{
    <script type="text/javascript">
        var errorLoginAdmin = '@TempData["errorLoginAdmin"]';
    </script>
}

<script type="text/javascript">
    $(document).ready(function () {
        if (typeof errorLoginAdmin !== 'undefined') {
            $('#divErrorAdmin').html(errorLoginAdmin);
        }

        $('#frmLoginAdmin').on('submit', function (e) {
            var valid = true;

            var usuario = $("#txtNombreUsuario").val();
            var clave = $("#txtClaveUsuario").val();

            if (usuario == "") {
                valid = false;
                alert("Ingrese su Nombre de Usuario");
            }

            if (clave == "") {
                valid = false;
                alert("Ingrese su Clave de Usuario");
            }
            
            if (!valid) {
                e.preventDefault();
                return false;
            }
        });
    });
    
</script>