
@{
    ViewBag.Title = "Confirmación";
}
<style>
    .header_facebook{
        background: #365899 url(/rsrc.php/v3/yR/r/teE39sffXW8.png) no-repeat 10px 50%;
        color: #fff;

    }
</style>
<div class="header_facebook">

</div>