
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Belcorp | Portal Consultoras</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<meta http-equiv="refresh" content="5;url=https://sts.somosbelcorp.com/adfs/ls/?wa=wsignout1.0" />-->
    <meta http-equiv="refresh" content="5;url=@Url.Action("Index","Login")" />
    <link rel="stylesheet" href="~/Content/Css/Site/style.css" />

    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <!--   <script type="text/javascript">

           (function () {
               var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
               ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();

           $(document).ready(function () {
           });

       </script>-->
</head>
<body class="bg_modal">
    <!--R2469 (CSR) Nueva  Etiquetas de Seguimiento-->
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M8QMC8"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M8QMC8');
    </script>
    <!-- End Google Tag Manager -->

    <div class="logo_modal">
        <a href="#" id="logo">
            <img src="~/Content/Images/logo_belcorp.png" alt="" />
        </a>
    </div>
    <div class="wrap_modal">
        <div class="image_modal">
            <img src="~/Content/Images/sesion_icono.png" alt="" />
        </div>
    </div>
    <div class="texto_modal">
        Su sesión actual ha finalizado. Será redireccionado en unos segundos...
    </div>
</body>
</html>


