<div class="content_mas_vendidos" style="display: none;">
    <div class="titulo_mas_vendido"> LOS MÁS VENDIDOS</div>

    <div id="divCarrouselMasVendidos" class="content_carrusel_mas_vendidos">
    </div>
</div>

@Html.Partial("~/Views/Bienvenida/template-mas-vendidos-mobile.cshtml")

