@using Portal.Consultoras.Common

<div class="content_mas_vendidos" style="display: none;">
    <div style="text-align:center">    
        
        <div class="titulo_mas_vendido"><b>LOS MÁS VENDIDOS</b></div>
        <hr class="clear" />
        <div class="titulo_estrellas"></div>
    </div>

    <div id="divCarrouselMasVendidos" class="content_carrusel_mas_vendidos" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.MasVendidosMobileHomeCarrusel">
    </div>
</div>

@Html.Partial("~/Views/Bienvenida/template-mas-vendidos-mobile.cshtml")