
<div class="fondo_gris" id="divContenedorListaEstrategia">
    <div class="row contenedorCupon">
        <div class="label_cupon contenedorCuponConocelo" style="display: none;">
            <div class="icono_label"><img src="/Content/Images/PL20/icono_cupon.png"></div>
            <div class="texto_cupon">Tienes un dscto exclusivo para ti, <a id="linkConocerDescuento" class="link_cupon_home">conócelo aquí</a> </div>
        </div>
        <div class="label_cupon contenedorCuponInfo" style="display: none;" data-cupon-info-opt="">
            <div class="icono_label"><img src="/Content/Images/PL20/icono_cupon.png"></div>
            <div class="texto_cupon">
                Agrega alguna oferta web para hacer válido tu cupón de descuento de 00 % || S/. 00.00
            </div>
        </div>
    </div>
    <hr class="clear"/>
    <div class="content_belcorp" style="text-align: center; padding-top: 15px;">
        <div class="">
            @*@if (ViewBag.Source == 1)
            {
                <div>
                    <div class="titulo_ofertas_home">
                        OFERTAS <b style="text-transform: uppercase;">PARA TI @ViewBag.NombreConsultora</b>
                        <div class="texto_exclusivo">
                            EXCLUSIVO SÓLO POR WEB
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <div class="titulo_ofertas_home">
                        OFERTAS <b class="color_marca">@ViewBag.NombrePalanca</b>
                        <div class="texto_exclusivo_bpt">
                            @ViewBag.NombreConsultora, PRUEBA LAS VENTAJAS DE COMPRAR OFERTAS PERSONALIZADAS
                        </div>
                    </div>
                </div>
            }*@
            <hr class="clear"/>
            <div class="contenedor_carrusel_home content_carrusel_agregado" id="divListadoEstrategia">
                <div style="text-align: center;">Cargando Productos Destacados<br><img src="/Content/Images/Loading.gif"/><br/>
                </div>
            </div>
            <hr class="clear"/>
        </div>
    </div>
</div>
