<script id="estrategia-template2" type="text/x-handlebars-template">
    {{#each this.ListaLan as |item|}}
    {{#iff item.TipoEstrategia.Codigo '==' '005'}}
    <div class="wrapper_resumen_mobile">
        <div class="rd_lanzamiento">
            {{#iff EstrategiaDetalle.ImgHomeMobile '!=' ''}}
                <img class="rd_lanzamiento_producto" src="{{EstrategiaDetalle.ImgHomeMobile}}">
            {{/iff}}
            
            <div>CONOCE {{DescripcionResumen}}</div>
            <div class="btn_black_solid"><a href="javascript: RDRedireccionarDetalle({{CUV2}}, {{CampaniaID}})">DESCUBRE ESTA NOVEDAD</a></div>
            <a href="@Url.Action("Index", "RevistaDigital", new { area = "Mobile" })">VER MÁS LANZAMIENTOS <img class="rd_arrowright" src="@Url.Content("~/Content/Images/RevistaDigital/rd_arrowright.png")" /></a>
        </div>
    </div>
    <hr class="clear" />
    {{/iff}}
    {{/each}}
</script>