/*UpSelling*/
.carousel_ficha {
    position: relative;
}

.carousel_ficha .slick-arrow {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel_ficha .js-slick-next {
    right: -42px;
}

.carousel_ficha .js-slick-prev {
    left: -50px;
}

.titulo_seccion, .titulo_seccion span {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.carousel_ficha .slick-list {
    padding: 2px 1px;
}

.carousel_ficha .slick-disabled {
    opacity: 0.25;
    cursor: default;
}

.caja_vertical {
    /*max-width: 195px;*/
    width: 196px !important;
}

.caja_horizontal {
    /*max-width: 410px;*/
    width: 412px !important;
}
/*Fin pSelling*/



@media (min-width: 960px) {
}

@media (max-width: 960px) {
    /*UpSelling*/
    .carousel_ficha .slick-arrow {
        display: none !important;
    }
    .img_producto img {
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }

    .precio_normal {
        display: none;
    }

    .caja_vertical {
        /*max-width: 195px;*/
        width: 250px !important;
    }

    .caja_horizontal {
        /*max-width: 410px;*/
        width: 250px !important;
    }

    .titulo_producto {
        font-size: 14px;
    }
    /*Fin UpSelling*/

    .img_producto{
        height: 90px;
    }
}
