
.Content_Actualizar {
    background: #fff;
    padding: 0 0 10px 25px;
    max-height: 600px;
    overflow: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 0;
    behavior: url('../../../../Content/Css/Pie/PIE.htc');
    position: relative;
}

.Content_Comunicado {
    background: #fff;
    padding: 0 0 10px 25px;
    max-height: 900px;
    overflow: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 0;
    behavior: url('../../../../Content/Css/Pie/PIE.htc');
    position: relative;
}

.titulo {
    font-family: Arial;
    font-size: 20px;
    color: #993399;
    font-weight: bold;
    padding: 6px;
}

.tituloC {
    font-family: Arial;
    font-size: 20px;
    color: #993399;
    font-weight: bold;
}

.mensaje_Consultora {
    font-family: Arial;
    font-size: 13px;
    color: #768591;
    font-weight: bold;
    padding-right: 49px;
    padding-bottom: 2em;
}

.Content_Actualizar .div-3 {
    width: 100%;
    height: 39px;
    overflow: hidden;
    margin: 0 0 5px -35px;
    padding: 0 0 1px 0;
}

    .Content_Actualizar .div-3 .titZ {
        float: left;
        width: 170px;
        height: auto;
        padding: 9px;
        background: none;
        color: #768591;
        font-size: 14px;
        margin: 0;
        border: 0;
        text-align: right;
    }

    .Content_Actualizar .div-3 .TextBox {
        float: left;
        background: #fff;
        color: #702789;
        margin-right: auto;
        position: relative;
    }

.borde {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 0;
    behavior: url('../../../../Content/Css/Pie/PIE.htc');
    position: relative;
}

.inputTextBox {
    width: 345px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}

.mensaje_CampoObligatorio {
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    color: #660066;
    padding-left: 410px;
    padding-top: 20px;
}

.asteriscos {
    font-family: Arial,Verdana,sans-serif;
    font-size: 17px;
    color: #660066;
    float: left;
    margin-left: -9px;
    margin-top: 7px;
    font-weight: bold;
}

.ocultarCambiarContrasena {
    display: none;
}

.mostrarCambiarContrasena {
    display: block;
}

.cambiarContrasena {
    font-family: Arial;
    font-size: 12px;
    color: #993399;
    font-weight: bold;
    padding-left: 164px;
    padding-bottom: 2px;
    padding-top: 0;
}

.btnCerrar {
    width: 20px;
    height: 20px;
    float: right;
    background: url('/Content/Images/btnCerrar_AD.png') no-repeat;
    cursor: pointer;
}

.checkBox {
    width: 18px;
    height: 18px;
    float: left;
}

.terminosContrato {
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    color: #768591;
}

.btnActualizar {
    background: url('/Content/Images/btnActualizar_AD.png') no-repeat;
    cursor: pointer;
    width: 148px;
    height: 38px;
}

.btnAceptar {
    background: url('/Content/Images/afiliacion/aceptar.png') no-repeat;
    cursor: pointer;
    height: 47px;
}

.contentActualizar {
    padding-left: 225px;
    padding-top: 14px;
}

.contentAceptar {
    padding-left: 190px;
    padding-top: 14px;
}

.tituloMensajeConfirmacion {
    font-family: Arial;
    font-size: 20px;
    color: #993399;
    font-weight: bold;
    padding: 6px;
    text-align: center;
}

.checkImage {
    background: url('/Content/Images/check_AD.png') no-repeat;
    background-position: 24% 4px;
    padding: 6px 0;
}

.lblComunicadoV {
    display: block;
    text-indent: -15px;
    padding-top: .2em;
    font-size: .9em;
}

    .lblComunicadoV .chkComunicadoV {
        width: 13px;
        height: 13px;
        padding: 0;
        margin-right: 1.7em;
        vertical-align: bottom;
        position: relative;
        top: -13px;
        float: left;
        *overflow: hidden;
    }

.textoMensajeConfirmacion {
    color: #768591;
    font-family: Arial,Verdana,sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
}

.btnCerrarMensajeConfirmacion {
    width: 20px;
    height: 20px;
    float: right;
    background: url('/Content/Images/btnCerrar_AD.png') no-repeat;
    cursor: pointer;
}

.contenedorCheckImage {
    padding-left: 148px;
}
