/* CSS Document */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
}

.wrapper_ficha_detalle {
    max-width: 1189px;
    margin: 0 auto;
    height: auto;
    position: relative;
    font-family: 'Lato';
}

.content_producto_set {
    float: left;
    max-width: 25%;
    text-align: center;
}

.content_detalle_set {
    max-width: 48.5%;
    float: left;
    min-height: 100px;
    background: white;
    margin-left: 4%;
    padding: 30px;
    font-family: 'Lato';
}

.content_left_ficha {
    float: left;
    max-width: 40%;
    margin-right: 5%;
}

.content_right_ficha {
    float: RIGHT;
    max-width: 55%;
    position: relative;
    text-align: right;
}

.titulo_set {
    font-size: 20px;
    line-height: 22px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.precio_valorizado_showroom {
    font-size: 13px;
    height: 16px;
}

.precio_oferta_venta {
    font-size: 13px;
    height: 22px;
}

    .precio_oferta_venta b {
        font-size: 17px;
        margin-left: 7px;
    }

.ganancia_showroom {
    font-size: 17px;
    color: #e81c36;
    text-transform: uppercase;
    font-weight: bold;
}

.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    height: 0;
}

.titulo_separador {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 18px;
}

.content_detalle_showroom {
    width: 100%;
    margin-top: 14px;
    overflow: hidden;
}

.nombre_set_individual {
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
}

.linea_separadora {
    width: 100%;
    height: 1px;
    background: black;
}

.liquidacion_rango_home {
    width: 45px;
    margin-top: 7px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    overflow: hidden;
    height: 45px;
}

.liquidacion_rango_cantidad_pedido {
    width: 40px;
    height: 45px;
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: left;
    text-align: center;
    font-family: 'lato';
    font-weight: 700;
    color: black;
    font-size: 12pt;
    background: transparent;
    margin-top: 0 !important;
}

.liquidacion_rango_right_pedido {
    display: none;
    width: 23px;
    height: 45px;
    border: 1px solid #cccccc;
    float: left;
    padding-top: 2px;
    text-align: center;
}

    .liquidacion_rango_right_pedido .mas, .liquidacion_rango_right_pedido .menos {
        width: 100%;
        display: block;
        cursor: pointer;
    }

    .liquidacion_rango_right_pedido .mas {
        margin-top: 2px;
        padding-left: 1px;
        border-bottom: 1px solid #b0b0b0;
    }

.btn_agregar_set {
    float: right;
    background: black;
    color: white;
    width: -moz-calc(100% - 57px);
    width: calc(100% - 57px);
    display: block;
    margin-top: 7px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    border: 2px solid #000;
    font-size: 12.5px;
    font-weight: bold;
}

.boton_Agregalo_home {
    display: block;
    margin-top: 7px;
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    line-height: 42px;
    text-align: center;
    border: 2px solid #000;
    font-size: 12.5px;
    font-weight: bold;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.desktop {
}

.cantidad_set {
    margin-right: 10px;
    font-weight: bold;
}

.notificacion_pack {
    background: url('https://d1y60eoca8fkyl.cloudfront.net/ImagenesPortal/Iconos/icono_advertencia_notificacion.png') no-repeat;
    padding-left: 26px;
    padding-top: 2px;
    font-size: 13px;
    margin-top: 17px;
    height: 20px;
}

.content_ficha_compra {
    float: left;
    max-width: 20%;
    height: 432px;
    background: white;
    position: relative;
    margin-left: 2.5%;
    padding: 40px 25px 25px 25px;
}

.titulo_compra_POP {
    font-family: 'LAto';
    font-weight: 700;
    text-align: center;
    font-size: 21px;
    color: #bda571;
}


.titulo_producto_compra_carrusel {
    font-family: 'Lato';
    font-size: 14.5px;
    margin-top: 17px;
    padding-bottom: 13px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 3px;
    line-height: 18px;
}

.content_imagen_carrusel_compra {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

    .content_imagen_carrusel_compra img {
        width: 100%;
    }

.content_ficha_compra:after {
    content: '';
    width: 100%;
    height: 10px;
    background: #bda571;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.fondo_set {
    width: 100%;
    padding-top: 60px;
    height: 355px;
    background: #f6f6f6;
    background-size: contain;
}

.content_producto_set img {
    width: 100%;
}

.cantidad_desktop {
    display: block;
    float: left;
}

.cantidad_mobile {
    display: none;
    width: 18%;
    margin-right: 5%;
    float: left;
    background: white;
}

.cantidad_menos_home {
    display: none;
    float: left;
    width: 30%;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #b0b0b0;
}

.rango_cantidad_pedido {
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: transparent;
    float: left;
    text-align: center;
    font-weight: 700;
    border: 1px solid #b0b0b0;
}

.cantidad_mas_home {
    display: none;
    float: left;
    width: 30%;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #b0b0b0;
}

.titulo_mobile {
    display: none;
    position: relative;
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    letter-spacing: .25px;
    font-family: 'Lato';
}

    .titulo_mobile:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-top-color: #000000;
        border-width: 12px;
        margin-left: -12px;
    }

.mobile_otros {
    display: none !important;
}

.btn_otros {
    display: block;
    font-family: 'Lato';
    color: black;
    margin-top: 13px;
    font-size: 11.5px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 100;
}
/*MEDIAS*/
@media only screen and (max-width : 1188px) {
    .wrapper_ficha_detalle {
        padding-left: 14px;
        padding-right: 14px;
    }
}

@media only screen and (max-width : 980px) {
    .desktop_otros {
        display: none !important;
    }

    .mobile_otros {
        display: block !important;
        text-align: center;
    }

    .fondo_set {
        padding-top: 0;
        height: 283px;
    }

    .content_producto_set {
        float: none;
        margin: 0 auto;
        max-width: 250px;
        margin-top: 12px;
    }

    .content_detalle_set {
        float: none;
        margin: 0 auto;
        padding: 0;
        margin-top: 3px;
        max-width: 320px;
    }

    .content_left_ficha {
        float: none;
        max-width: 100%;
        margin-right: 0;
    }

    .content_right_ficha {
        text-align: left;
        float: none;
        margin-top: 10px;
    }

    .content_ficha_compra {
        max-width: 250px;
        margin: 0 auto;
        float: none;
        -webkit-box-shadow: 0 4px 12px 2px rgba(0,0,0,.06);
        -moz-box-shadow: 0 4px 12px 2px rgba(0,0,0,.06);
        box-shadow: 0 4px 12px 2px rgba(0,0,0,.06);
        padding-top: 20px;
        margin-bottom: 125px;
        padding-bottom: 10px;
        height: auto;
        margin-top: 25px;
    }

    .content_agregar {
        position: fixed;
        bottom: 0;
        height: 100px;
        z-index: 100;
        width: 100%;
        left: 0;
        background: #ececec;
    }

    .content_mobile_agregar {
        max-width: 292px;
        margin: 0 auto;
        padding-top: 14px;
    }

    .notificacion_pack {
        margin-bottom: 26px;
    }

    .oculto_mobile {
        display: none;
    }

    .cantidad_desktop {
        display: none;
    }

    .cantidad_mobile {
        display: block;
    }

    .btn_agregar_set {
        width: 77%;
        margin-top: 0;
        height: 48px;
        line-height: 48px;
    }

    .titulo_producto_compra_carrusel {
        margin-top: 10px;
        padding-bottom: 0;
    }

    .titulo_set {
        display: none;
    }

    .titulo_mobile {
        display: block;
    }
}


/*INICIO Loading*/
.content-spinner2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(240, 240, 240, .3);
    z-index: 99999;
    display: none;
}

.busy-loader {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
}

    .busy-loader .w-ball-wrapper {
        position: absolute;
        width: 86px;
        height: 86px;
        opacity: 0;
        -moz-transform: rotate(225deg);
        -moz-animation: orbit 4.4s infinite;
        -webkit-transform: rotate(225deg);
        -webkit-animation: orbit 4.4s infinite;
        -ms-transform: rotate(225deg);
        -ms-animation: orbit 4.4s infinite;
        -o-transform: rotate(225deg);
        -o-animation: orbit 4.4s infinite;
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
        -webkit-animation: orbit 4.4s infinite;
        animation: orbit 4.4s infinite;
    }

        .busy-loader .w-ball-wrapper .w-ball {
            position: absolute;
            width: 7px;
            height: 7px;
            background: #fff;
            left: 0;
            top: 0;
            -o-border-radius: 11px;
            border-radius: 11px;
        }

    .busy-loader .ball-1 {
        -webkit-animation-delay: .96s;
        -ms-animation-delay: .96s;
        animation-delay: .96s;
    }

    .busy-loader .ball-2 {
        -webkit-animation-delay: .19s;
        -ms-animation-delay: .19s;
        animation-delay: .19s;
    }

    .busy-loader .ball-3 {
        -webkit-animation-delay: .38s;
        -ms-animation-delay: .38s;
        animation-delay: .38s;
    }

    .busy-loader .ball-4 {
        -webkit-animation-delay: .58s;
        -ms-animation-delay: .58s;
        animation-delay: .58s;
    }

    .busy-loader .ball-5 {
        -webkit-animation-delay: .77s;
        -ms-animation-delay: .77s;
        animation-delay: .77s;
    }

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        origin: 0;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }
}
/*FIN Loading*/

/*INICIO Popups Mensajes*/
.MensajeAlertaMobile {
    position: fixed;
    z-index: 2010;
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    top: 0;
    background: rgba(0,0,0,.5);
}

.content_mensajeAlerta {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background: white;
    padding: 20px;
    overflow-y: auto;
}

.cerrar_popMobile {
    cursor: pointer;
    width: 19px;
    height: 19px;
    display: block;
    position: relative;
    right: 0;
    float: right;
}

    .cerrar_popMobile img {
        width: 100%;
    }

.icono_alerta {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.check_icono_mobile {
    background: url('../../Images/Esika/icono_check_esika.svg') no-repeat;
    background-size: cover;
}

.exclamacion_icono_mobile {
    background: url('../../Images/Esika/icono_exclamacion_esika.png') no-repeat;
    background-size: cover;
}

.icono_alerta img {
    width: 100%;
}

.titulo_compartir {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 300;
    line-height: .82;
    text-align: center;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mensaje_alerta {
    font-family: 'Lato';
    font-size: 14px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 23px;
    color: black;
}

.btn_ok_mobile {
    margin: 0 auto;
    width: 139px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    background-color: #e81c36;
    margin-bottom: 20px;
    color: #FFF !important;
    text-decoration: none !important;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
}

@media only screen and (max-width : 425px) {
    .titulo_compartir {
        font-size: 19px;
        line-height: 28px;
    }
}
/*FIN Popups Mensajes*/
