/*INICIO Loading*/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon/icomoon.eot?ur7cdc');
    src: url('fonts/icomoon/icomoon.eot?ur7cdc#iefix') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.ttf?ur7cdc') format('truetype'),
        url('fonts/icomoon/icomoon.woff?ur7cdc') format('woff'),
        url('fonts/icomoon/icomoon.svg?ur7cdc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'logo_esika';
    src: url('fonts/icomoon/logo_esika.eot?ur7cdc');
    src: url('fonts/icomoon/logo_esika.eot?ur7cdc#iefix') format('embedded-opentype'),
        url('fonts/icomoon/logo_esika.ttf?ur7cdc') format('truetype'),
        url('fonts/icomoon/logo_esika.woff?ur7cdc') format('woff'),
        url('fonts/icomoon/logo_esika.svg?ur7cdc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.content-spinner2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(147, 148, 151, .5);
    z-index: 99999;
    display: none;
}

.busy-loader {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
}

    .busy-loader .w-ball-wrapper {
        position: absolute;
        width: 86px;
        height: 86px;
        opacity: 0;
        -moz-transform: rotate(225deg);
        -moz-animation: orbit 4.4s infinite;
        -webkit-transform: rotate(225deg);
        -webkit-animation: orbit 4.4s infinite;
        -ms-transform: rotate(225deg);
        -ms-animation: orbit 4.4s infinite;
        -o-transform: rotate(225deg);
        -o-animation: orbit 4.4s infinite;
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
        -webkit-animation: orbit 4.4s infinite;
        animation: orbit 4.4s infinite;
    }

        .busy-loader .w-ball-wrapper .w-ball {
            position: absolute;
            width: 7px;
            height: 7px;
            background: #fff;
            left: 0;
            top: 0;
            -o-border-radius: 11px;
            border-radius: 11px;
        }

    .busy-loader .ball-1 {
        -webkit-animation-delay: .96s;
        -ms-animation-delay: .96s;
        animation-delay: .96s;
    }

    .busy-loader .ball-2 {
        -webkit-animation-delay: .19s;
        -ms-animation-delay: .19s;
        animation-delay: .19s;
    }

    .busy-loader .ball-3 {
        -webkit-animation-delay: .38s;
        -ms-animation-delay: .38s;
        animation-delay: .38s;
    }

    .busy-loader .ball-4 {
        -webkit-animation-delay: .58s;
        -ms-animation-delay: .58s;
        animation-delay: .58s;
    }

    .busy-loader .ball-5 {
        -webkit-animation-delay: .77s;
        -ms-animation-delay: .77s;
        animation-delay: .77s;
    }

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        origin: 0;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }
}
/*FIN Loading*/

/*INICIO Popups Mensajes*/
.MensajeAlertaMobile {
    position: fixed;
    z-index: 2010;
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    top: 0;
    background: rgba(0,0,0,.5);
}

.content_mensajeAlerta {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background: white;
    padding: 20px;
    overflow-y: auto;
}

.cerrar_popMobile {
    cursor: pointer;
    width: 19px;
    height: 19px;
    display: block;
    position: relative;
    right: 0;
    float: right;
}

    .cerrar_popMobile img {
        width: 100%;
    }

.icono_alerta {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.check_icono_mobile {
    background: url('/Content/Images/Esika/icono_check_esika.svg') no-repeat;
    background-size: cover;
}

.exclamacion_icono_mobile {
    background: url('/Content/Images/Esika/icono_exclamacion_esika.png') no-repeat;
    background-size: cover;
}

.icono_alerta img {
    width: 100%;
}

.titulo_compartir {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 300;
    line-height: .82;
    text-align: center;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mensaje_alerta {
    font-family: 'Lato';
    font-size: 14px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 23px;
    color: black;
}

.btn_ok_mobile {
    margin: 0 auto;
    width: 139px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    background-color: #e81c36;
    margin-bottom: 20px;
    color: #FFF !important;
    text-decoration: none !important;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
}

@media only screen and (max-width : 425px) {
    .titulo_compartir {
        font-size: 19px;
        line-height: 28px;
    }
}
/*FIN Popups Mensajes*/

.btn_facebook_chat {
    width: 100%;
    height: 45px;
    color: white;
    border-radius: 3px;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato';
    padding: 0;
    padding-left: 16px;
    background: #3b56a8 url('/Content/Images/PL20/facebook_login.png') no-repeat;
    background-position: 21px 14px;
    display: block;
    text-align: center;
    -webkit-appearance: none;
}

.wrapper_chatbot {
    padding: 15px 26px;
    position: relative;
}

.texto_facebook {
    float: left;
    margin-top: 3px;
    margin-left: 17px;
    margin-bottom: 15px;
    font-family: 'Lato';
    font-size: 12px;
    letter-spacing: .2px;
}

.logo_esika_facebook {
    float: left;
    text-align: center;
    font-family: icomoon;
    width: 50px;
    height: 20px;
    margin-top: -2px;
}

    .logo_esika_facebook:before {
        content: '\e905';
        font-size: 22px;
        color: #613c87;
    }

    .logo_esika_facebook img {
        width: 100%;
    }

.salir_chatbot {
    float: left;
    padding-left: 20px;
    padding-top: 3px;
    height: 20px;
    margin-bottom: -2px;
    margin-right: 8px;
    letter-spacing: .3px;
    font-weight: 700;
    font-family: 'Lato';
    font-size: 12px;
    text-decoration: none;
    color: black;
    background: url('/Content/Images/PL20/flecha_regresa_chat.png') no-repeat;
}

.campo_input_chat {
    margin-top: 10px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-bottom: 1px solid #959595;
    position: relative;
    font-family: 'icomoon';
}

#div_select_pais {
    background: left 2px top 10px no-repeat;
}

.input_chat {
    width: 100%;
    border: 0;
    height: 28px;
    color: black;
    padding-left: 25px;
    box-sizing: border-box;
    position: relative;
    background: transparent;
    font-family: 'Lato';
    letter-spacing: .3px;
}

.select_pais_chat {
    width: -moz-calc(100% - 21px);
    width: calc(100% - 21px);
    width: -webkit-calc(100% - 21px);
    width: -webkit-calc(~'100% - 21px');
    float: right;
    border: 0;
    height: 28px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Lato';
    font-size: 12px;
    color: #595959;
}

.select_pais_chat_activo {
    font-size: 20px;
    color: black;
}

.select_pais_chat > option {
    font-size: 12px;
    color: #595959;
}

.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.icono_usuario_chatbot:before {
    content: '\e903';
    font-size: 20px;
    text-align: left;
    color: black;
    margin-right: 7px;
    top: 2px;
    position: absolute;
    z-index: 100;
}

.icono_pass_chatbot:before {
    content: '\e900';
    font-size: 20px;
    text-align: left;
    color: black;
    margin-right: 7px;
    top: 2px;
    position: absolute;
    z-index: 100;
}

.btnLogin {
    color: white;
    background-color: #613c87;
    border: 0;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    height: 45px;
    text-align: center;
    margin-top: 6px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    line-height: 45px;
    font-family: 'Lato';
}

#txtUsuario {
    font-size: 20px;
}

#txtPassword {
    font-size: 12px;
}

#txtUsuario::-webkit-input-placeholder {
    font-size: 12px;
    color: #595959;
}

#txtUsuario:-moz-placeholder {
    font-size: 12px;
    color: #595959;
}

#txtUsuario::-moz-placeholder {
    font-size: 12px;
    color: #595959;
}

#txtUsuario:-ms-input-placeholder {
    font-size: 12px;
    color: #595959;
}

#txtPassword::-webkit-input-placeholder {
    font-size: 12px;
    color: #595959;
}

#txtPassword:-moz-placeholder {
    font-size: 12px;
    color: #595959;
}

#txtPassword::-moz-placeholder {
    font-size: 12px;
    color: #595959;
}

#txtPassword:-ms-input-placeholder {
    font-size: 12px;
    color: #595959;
}

.ayuda_usuario_facebook_chatBot {
    top: 3px;
    right: 0;
    position: absolute;
    border: 0;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 3px;
    box-sizing: border-box;
    width: 31px;
    height: 25px;
}

.helper_facebook_chatBot {
    width: 20px;
    height: 20px;
    float: right;
    font-family: 'icomoon';
    margin-top: -4px;
    padding-bottom: 4px;
    padding-right: 8px;
    background-repeat: no-repeat;
    text-decoration: none;
}

    .helper_facebook_chatBot:before {
        content: '\e902';
        font-size: 18px;
        text-align: left;
        color: #949494;
    }

.mensaje_ayuda_usuario_chatBot {
    box-sizing: border-box;
    display: none;
    width: 155px;
    right: 40px;
    top: -13px;
    position: absolute;
    padding: 10px;
    color: black;
    font-size: 9pt;
    font-family: lato;
    background: white;
    border: 1px solid black;
    z-index: 10000000;
}

.ayuda_usuario_facebook_chatBot:hover .mensaje_ayuda_usuario_chatBot {
    display: block;
}

.mensaje_ayuda_usuario_chatBot:after, .mensaje_ayuda_usuario_chatBot:before {
    left: 100%;
    top: 24px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.mensaje_ayuda_usuario_chatBot:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #000;
    border-right-color: transparent;
    border-width: 10px;
    margin-top: -10px;
}

.mensaje_ayuda_usuario_chatBot:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-right-color: transparent;
    border-width: 9px;
    margin-top: -9px;
}

.logo_normal {
    float: left;
    text-align: center;
    font-family: icomoon;
    width: 50px;
    height: 20px;
    margin-top: -2px;
}

    .logo_normal:before {
        content: '\e905';
        font-size: 22px;
        color: #613c87;
    }

    .logo_normal img {
        width: 100%;
    }

.texto_normal {
    margin-top: 3px;
    font-family: 'Lato';
    float: left;
    font-size: 12px;
    margin-left: 17px;
}

.titulo_campo {
    font-family: 'Lato';
    font-size: 11px;
    position: absolute;
    top: -8px;
    color: black;
    z-index: 100;
    left: 25px;
}
