ul, ol {
    list-style: none;
}
.nav_principal{
   
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* vertical-align: middle; */
    background: transparent;
}
header {
    position:relative;
    top:0px!important;
    left:0px!important;
    background: white!important;
    height: 80px;
    position: fixed;
    background: white;
    z-index: 900;
    width: 100%!important;
    box-shadow: 0 4px 4px 0 rgba(126, 126, 126, 0.5);
    -webkit-box-shadow: 0 4px 4px 0 rgba(126, 126, 126, 0.5);
    -moz-box-shadow: 0 4px 4px 0 rgba(126, 126, 126, 0.5);
}
.wrapper_header {
    height: 80px;
    margin: 0 auto;
    max-width: 1189px;   
     
}
.menu_new_esika {
    float: left;
    width: 60%;
    height:60px;
    position:relative;
}

.menu_esika_b {
    height: 60px;
    float: left;
    width: 29%;
    /*overflow: hidden;*/
}

.campana {
    margin-top: 15px;
    float: left;
    width: 46px;
    /* padding-left: 5px; */
    height: 40px;
    /* padding-right: 5px; */
}
.mensaje_header{
     margin-top: 15px;
    float: left;
    width: 27px;
    /* padding-left: 4px; */
    height: 40px;
    margin-right: 12px;

}

.campana_svg {
    float: left;
    width: 20px;
    height: 24px;
    background: url(../../../Images/Esika/carrito.png) no-repeat;
    background-position: 0 4px;
}
.mensaje_svg {
    background: url(../../../Images/Esika/mensajes.png) no-repeat;
    background-position: 0 4px;
}

.campana:hover .mensaje_svg {
    background: url(../../../Images/Esika/mensajes.png) no-repeat !important;
    background-position: 0 4px !important;
}

.notificaciones {
    width: 22px;
    height: 22px;
    text-align: center;
    margin-top: 1px;
    padding-top: 1px;
    font-family: 'lato';
    font-size: 9pt;
    color: black;
    margin-left: 2px;
    float: left;
    margin-top: 3px;
   
}

.boton_cerrar_s a {
    float: right;
    text-align: center;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 12px;
    font-family: 'lato';
    font-size: 9px;
    margin-top: 15px;
    color: black;
}

.borde_c {
    border-right: 1px solid #ccc;
    float: left;
    margin-top: 18px;
    height: 23px;
    margin-right: 13px;
    margin-left: 12px;
}

.new_menu_a {
        display: inline-block;
        font-family: 'lato';
        font-weight: 700;
        font-size: 10.5px;
        text-decoration: none;
        color: black;
        border-bottom: 2px solid white;
        letter-spacing: 0.75pt;
        text-transform:uppercase;
    }

 .new_menu_a:hover {
            /*border-bottom: 2px solid #e81c36;*/
        }


.new_menu {
    margin-top: 31px;
    margin-left: 4.8%;
    height: 50px;
    float: left;
    position:relative;
}

.flecha_menu{
    width: 0px;
    height: 0px;
    float:right;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    margin-top:4px;
    margin-left:5px;
}

/*.menu_socia_empresaria > .new_menu{
    margin-left: 4.2%;
    margin-top: 21px;
    width: 15%;
    
}*/
.nav_principal li:hover > ul {
    display:block;
}
.nav_principal li:hover .pestana_esika{
    display:block;
}
.sub_menu_home1{
    position:absolute;
    top: 48px;
    margin-left: -73px;
    width:196px;
    height: auto;
    padding-bottom: 37px;
    padding-left:65px;
    padding-right:60px;
    display: none;
    background: rgba(255,255,255,0.95) url(../../../Images/Esika/fondo.png);
    -webkit-box-shadow: -4px 4px 11px -5px rgba(120,120,120,1);
    -moz-box-shadow: -4px 4px 11px -5px rgba(120,120,120,1);
    box-shadow: -4px 4px 11px -5px rgba(120,120,120,1);    
}
.sub_menu_home2{
    position:absolute;
    left: -111px;
    display:none;
    top: 48px;
    width:223px;
    height: auto;
    padding-bottom: 37px;
    padding-left:60px;
    padding-right:60px;
    background: rgba(255,255,255,0.95) url(../../../Images/Esika/fondo.png);
    -webkit-box-shadow: -4px 4px 11px -5px rgba(120,120,120,1);
    -moz-box-shadow: -4px 4px 11px -5px rgba(120,120,120,1);
    box-shadow: -4px 4px 11px -5px rgba(120,120,120,1); 
}
.linea_menu {
    width: 100%;
    height: 1px;
    background: black;
}
.pestana_esika{
    width: 20px;
    height: 16px;
    top: 33px;
    display:none;
    z-index: 1000;
    position: absolute;
    /* margin-left: 72px; */
    right: 0;
    left: 0;
    margin: 0 auto;    
    background:url(../../Images/Esika/pestana_esika.png);
    background-size:cover;
}

.content_left_menu{
    float:left;
    margin-right:50px;
    margin-top:40px;
    
}
.menu_titulo{
    font-family:'Lato';
    font-size:13px;
    letter-spacing:0.3px;
    font-weight:700;
    background: url("../../../Images/Esika/fle_.png") no-repeat;
    background-position:0px 5px;
    padding-left:13px;
    margin-bottom:13px;
    margin-left:-15px;
    color:black;
    display:block;
     text-decoration:none;
}
.menu_enlace{
    font-family:'Lato';
    font-size:13px;
    letter-spacing:0.3px;
    margin-bottom:13px;
    color:black;
    display:block;
    text-decoration:none;
}
.menu_enlace:hover{
    text-decoration:underline;
}
.menu_imagen{
    margin-top:40px;
    margin-right:45px;
    margin-left:13px;
    float:left;
    width:180px;
    height:143px;
    position:relative;
    display:block;

}
.menu_imagen img{
    width:100%;
}
.titulo_imagen{
    width:100%;
    height:30px;
    font-family:'Lato';
    font-size:11px;
    font-weight:900;
    color:white;
    text-align:center;
    letter-spacing:0.5px;
    line-height:30px;
    background:black;
    position:absolute;
    bottom:0;
}
.menu_socia_empresaria .sub_menu_home1{
    margin-left: -161px;
}
.logo_esika {
    margin-top: 6px;
    float: left;
    width: 10%;
    padding-right: 2px;
}
.logo_esika a {
    width: 82%;
    height: 62px;
    background-size: cover;
    display:block;
}
.content_left_menu:last-child{
    margin-right:0;
}