/*#region Banner inferior */
.showroom_banner_inferior {
    bottom: 0;
    -webkit-box-shadow: -2px 1px 18px -4px rgba(0,0,0,.5);
    -moz-box-shadow: -2px 1px 18px -4px rgba(0,0,0,.5);
    box-shadow: -2px 1px 18px -4px rgba(0,0,0,.5);
    height: auto;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1001;
}

.showroom_banner_img {
    display: block;
    height: 73px;
    object-fit: cover;
    width: 100vw;
}

.draw_close {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: center;
    position: relative;
    width: 20px;
}

    .draw_close::before,
    .draw_close::after {
        background-color: #fff;
        content: '';
        height: 2px; /* cross thickness */
        position: absolute;
        width: 100%;
    }

    .draw_close::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .draw_close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

.showroom_banner_boton {
    cursor: pointer;
    right: 10px;
    top: 10px;
    position: absolute;
    z-index: 901;
}
/*#endregion */

/*#Rangos */
.irs-bar, .irs-line {
    background: none;
    border-radius: 2px;
    height: 2px;
}

.irs-slider {
    background: none;
    border-radius: 10px;
    box-shadow: none;
    height: 11px;
    top: 28px;
    width: 11px;
}

.irs-with-grid {
    height: 62px;
}

.irs-grid-pol {
    background: #e5e5e5;
    opacity: 1;
}

    .irs-grid-pol.small {
        background: #999;
        display: none;
    }

.irs-grid-text {
    bottom: 0px;
    color: #4a4a4a;
    font-family: 'Lato';
    font-size: 12.5px;
    font-weight: 700;
    line-height: 1;
}

.irs-from, .irs-to, .irs-single {
    background: #428bca00;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    top: 2px;
}