/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}

    .slick-track:before, .slick-track:after {
        content: '';
        display: table;
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

    .slick-slide.slick-loading img {
        display: none;
    }

    .slick-slide.dragging img {
        pointer-events: none;
    }

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
    margin-bottom:2px;
}

/* Icons */
/* Arrows */
.slick-prev {
    position: absolute;
    display: block;
    height: 13px;
    width: 24px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    margin-left: 45px;
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev {
    background: url('/Content/Images/showroom/carrusel_n.png') no-repeat;
}

.slick-next {
    position: absolute;
    display: block;
    height: 13px;
    width: 24px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    margin-left: 45px;
    padding: 0;
    border: none;
    outline: none;
    background: url('/Content/Images/showroom/carrusel_p.png') no-repeat;
}

    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        outline: none;
        color: transparent;
    }

        .slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
            opacity: 1;
        }

    .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
        opacity: .25;
    }

    .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        color: white;
        opacity: .75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }


/* Dots */
.slick-slider {
    margin-top: 43px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}

    .slick-dots li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

        .slick-dots li button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
        }

            .slick-dots li button:hover, .slick-dots li button:focus {
                outline: none;
            }

                .slick-dots li button:hover:before, .slick-dots li button:focus:before {
                    opacity: 1;
                }

            .slick-dots li button:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '\2022';
                width: 20px;
                height: 20px;
                font-family: 'slick';
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                color: black;
                opacity: .25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        .slick-dots li.slick-active button:before {
            color: black;
            opacity: .75;
        }

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

    [dir='rtl'] .slick-next:before {
        content: '\2190';
    }

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

    [dir='rtl'] .slick-prev:before {
        content: '\2192';
    }

[dir='rtl'] .slick-slide {
    float: right;
}

#divCarruselSugerido.slick-slider {
    margin-top: -5px !important;
}

.slick-slider {
    margin-top: 20px;
}

.slick-next {
    position: absolute !important;
    display: block;
    height: 25px !important;
    width: 48px !important;
    top: 0;
    left: 50% !important;
    margin-left: -24px !important;
    background: #f8f8f8 url('/Content/Images/carrusel_p.png') no-repeat 12px 3px !important;
    z-index: 2;
    border-radius: 0 0 25px 25px;
    border-bottom: 1px solid #e7e1e1 !important;
}

.slick-prev {
    position: relative !important;
    display: block;
    height: 25px !important;
    width: 48px !important;
    bottom: 36px;
    left: 50.3% !important;
    margin-left: -24px !important;
    background: url('/Content/Images/carrusel_n.png') no-repeat 12px 9px !important;
    z-index: 6;
    border: none;
}

    .slick-prev:before, .slick-next:before {
        line-height: 5 !important;
    }

.previous_ofertas-popup {
    height: 250px;
    padding-top: 122px;
    position: absolute;
    background: #fff;
    z-index: 1000;
}

    .previous_ofertas-popup.next {
        right: 30px;
    }

.previous_compraxcompra {
    background: url('https://cdn1-prd.somosbelcorp.com/ImagenesPortal/Iconos/border_efecto.png') no-repeat center top !important;
    top: 95%;
    height: 40px !important;
    position: absolute !important;
}

.next_compraxcompra {
    background: url('https://cdn1-prd.somosbelcorp.com/ImagenesPortal/Iconos/flecha_arriba.png') no-repeat center top !important;
    border-bottom: 0 !important;
}

.fix-margen-vertical-dorado {
    max-height: 1565px;
}

.fix-margen-vertical-nodorado {
    max-height: 1585px;
}