.pedidos_no_existe {
    margin-top: 68px !important;
    position: absolute !important;
    width: 100% !important;
    max-width: 700px !important;
}

.SubHeader {
    position: absolute;
    margin-left: 83px;
}

.ubicacion_web {
    width: 100% !important;
    max-width: 1189px !important;
    position: relative !important;
    z-index: 6 !important;
}

    .ubicacion_web span {
        color: #FFF !important;
    }

    .ubicacion_web a {
        color: #FFF !important;
    }

        .ubicacion_web a:hover {
            text-decoration: underline;
        }

.content {
    margin-top: -69px;
}

.logo_esika a {
    transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}

    .logo_esika a:hover {
        opacity: .5;
        filter: alpha(opacity=50);
    }

.titulo_principal_interiores {
    font-size: 36px !important;
    color: #FFF !important;
    width: 100% !important;
    text-align: center !important;
    font-weight: 300 !important;
    margin-top: 23px;
}

    .titulo_principal_interiores strong {
        font-weight: 500 !important;
    }

.liquidacion_rango_wrapper_pedido {
    width: 63px !important;
}

.liquidacion_rango_right_pedido {
    height: 45px !important;
    padding-top: 3px;
    background: #FFF !important;
}

    .liquidacion_rango_right_pedido a {
        border-bottom: 1px solid #b0b0b0;
    }

.liquidacion_rango_cantidad_pedido {
    height: 45px !important;
    line-height: 40px !important;
    border-left: 1px solid #CCCCCC !important;
    padding-left: 5px !important;
    font-size: 15px !important;
    margin-right: 0 !important;
}

.pedido_ingreso_datos input {
    height: 45px !important;
    background: #fff;
    margin-right: 2px;
    font-family: 'lato';
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding-left: 11px;
    box-sizing: border-box;
}

.pedido_ingreso_datos.campo_codigo {
    width: 7.5%;
}

    .pedido_ingreso_datos.campo_codigo input {
        width: 100%;
    }

.pedido_ingreso_datos.campo_descripcion_producto {
    width: 31.1%;
}

    .pedido_ingreso_datos.campo_descripcion_producto input {
        width: 100%;
    }

.pedido_ingreso_datos.campo_precio {
    width: 10.2%;
}

    .pedido_ingreso_datos.campo_precio input {
        width: 100%;
    }

.pedido_ingreso_datos.campo_cliente {
    width: 22.25%;
}

    .pedido_ingreso_datos.campo_cliente input {
        width: 100%;
    }

.pedido_agregado {
    border: 0;
    width: 20.2% !important;
    height: 45px !important;
    padding-left: 0 !important;
    font-size: 13px !important;
    transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    opacity: 1;
    filter: alpha(opacity=100);
}

    .pedido_agregado:hover {
        opacity: .8;
        filter: alpha(opacity=80);
    }

.pedidos_cliente {
    font-size: 10px !important;
    color: #FFF !important;
    margin-top: 4px !important;
}

.oferta_web {
    top: 3% !important;
    left: 59% !important;
}

.reco_star {
    top: 2.5% !important;
    left: 5% !important;
}

@media screen and (max-width:1280px) {
    .pedido_ingreso_datos.campo_cliente {
        width: 21.5%;
    }

    .pedido_ingreso_datos.campo_descripcion_producto {
        width: 31.1%;
    }
}

@media screen and (max-width:1220px) {
    .ubicacion_web {
        padding-left: 3%;
    }

    .caja_carousel_productos h1 {
        font-size: 17px !important;
    }
}

@media screen and (max-width:1159px) {
    .pedido_agregado {
        width: 18% !important;
    }
}

@media screen and (max-width:1024px) {
    .pedido_ingreso_datos.campo_cliente {
        width: 20%;
    }

    .texto_pedidos.subtotal span.icon-advertencia {
        top: 44%;
        right: -16%;
        zoom: .8;
    }

    .pedido_agregado {
        width: 20% !important;
    }
}

@media screen and (max-width:982px) {
    .pedido_ingreso_datos.campo_descripcion_producto {
        width: 29.1% !important;
    }
}

.btn_animado {
    display: none;
    position: absolute;
    z-index: 1000;
    text-align: center;
}

.no_mostrar {
    display: none;
}

.campana:hover .info_cam {
    display: none;
}

.optRechazoSelect {
    background-color: silver;
}

.SubHeader {
    position: absolute;
    margin-left: 83px;
}

.divNoValInteractiva {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #efefef;
    margin-bottom: 5px;
}
    .divNoValInteractiva .spnMensajeNoValInteractiva {
        padding-left: 5px;
    }