
/* HD-4287 - MOTIVOS DE RECHAZO */

.motivos__rechazo__modal{
    padding-left:16px;
    padding-right:16px;
}

    .motivos__rechazo__modal > div{
        height:100%;
    }

    .motivos__rechazo__modal > div:last-child{
       display:flex;
    }

.enlace__cerrar__modal__motivos__rechazo:before {
    margin-top: 10px;
    margin-right: 3px;
}

.motivo__rechazo__modal__titulo {
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 16px;
}

.lista__motivos__rechazo {
    margin-top:0;
    margin-bottom: 0;
    height: auto;
}

.motivo__rechazo{
    margin-bottom:16px;
}

    .motivo__rechazo:last-child{
        margin-bottom:0;
    }

.form__group__fields--motivoAdicionalWrapper .label__checkbox__sb {
    border: 1px solid #454549;
    margin-right:5px;
}

    .form__group__fields--motivoAdicionalWrapper .label__checkbox__sb + span{
        margin-top:0;
    }

.motivo__rechazo,
.tag__checkbox__sb--motivoRechazo {
    flex: 0 0 145px;
    max-width: 145px;
}

input[type="checkbox"].field__checkbox__sb,
input[type="radio"].field__checkbox__sb {
    display: none !important;
}

.motivo__adicional__otro {
    color: #454549;
}

.form__group__fields--motivoAdicionalWrapper{
    margin-bottom:8px;
}

.text__field__sb::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #787878;
}

.text__field__sb::-moz-placeholder { /* Firefox 19+ */
    color: #787878;
}

.text__field__sb:-ms-input-placeholder { /* IE 10+ */
    color: #787878;
}

.text__field__sb:-moz-placeholder { /* Firefox 18- */
    color: #787878;
}

.btn__sb__primary--confirmar {
    position: sticky;
    position: -webkit-sticky;
    top: calc(100% - 57px);
}

.motivos__rechazo__modal__icono{
    width:72px;
    height:72px;
}

    .motivos__rechazo__modal__icono img{
        width:100%;
        height:auto;
    }

.motivos__rechazo__modal__mensaje{
    margin-top:10px;
    color:#000;
    font-size:34px;
}

/* FIN - HD-4287 - MOTIVOS DE RECHAZO */
