
/* POP UP ACTUALIZA DATOS*/

.popup_confirmacion_datos .estructura_confirmar_datos {
    box-shadow: none !important;
    background: white;
}

.popup_confirmacion_datos .contenido-table-datos {
    display: table;
    height: 432px;
    width: 100%;
}

    .popup_confirmacion_datos .contenido-table-datos .cont-datos {
        vertical-align: middle;
        display: table-cell;
    }

.popup_confirmacion_datos {
    padding: 0px 40px;
}

    .popup_confirmacion_datos p.felicidades {
        display: block;
        font-size: 13px;
        font-weight: bolder;
        margin-bottom: 0;
        letter-spacing: 1px;
        text-align: center;
        color: #c39934;
    }

    .popup_confirmacion_datos .contenido-popup-nuevo-2017 .estructura_confirmar_datos .centrar-vertical-contenido .form-confirmacion .loader-confirmacion {
        height: 50px;
        width: 50px;
        display: block;
        margin: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .popup_confirmacion_datos p.estasganando {
        display: block;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #000000;
        margin-bottom: 20px;
    }

    .popup_confirmacion_datos span.confirmanos {
        display: block;
        text-align: center;
        letter-spacing: 0.5px;
        font-size: 13px;
        margin-bottom: 20px;
        line-height: 16px;
        color: black;
    }

    .popup_confirmacion_datos .form-datos button {
        background: #e0e0e0;
        letter-spacing: 1px;
        color: white;
        border: none;
        font-size: 13px;
        text-align: center;
        display: block;
        font-weight: bolder;
        width: 100%;
        /* padding: 15px 50px; */
        /* margin-top: 5px; */
        /* margin-bottom: 20px; */
        width: 240px;
        margin: auto;
        height: 45px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .popup_confirmacion_datos .form-datos {
        margin-bottom: opx;
    }

        .popup_confirmacion_datos .form-datos .input {
            margin-bottom: 15px;
        }

            .popup_confirmacion_datos .form-datos .input:last-child {
                margin-bottom: 0;
            }

            .popup_confirmacion_datos .form-datos .input img {
                display: inline;
                position: absolute;
                padding: 0px 10px;
                margin-top: 14px;
                width: auto !important;
                height: auto !important;
                margin-bottom: 0 !important;
            }

                .popup_confirmacion_datos .form-datos .input img.phone {
                    margin-top: 10px;
                    margin-left: 4px;
                    width: 32px;
                    height: auto;
                }

    .popup_confirmacion_datos .form_datos .input img.envelope {
        width: 40px;
        height: auto;
    }

    .popup_confirmacion_datos .form-datos .input img.info {
        display: block;
        padding: 0px;
        margin-top: 4px;
        border: none;
        background: none;
        width: 20px;
        height: 20px;
    }

    .popup_confirmacion_datos .form-datos .input input {
        display: inline;
        padding: 12px 40px;
        width: 100%;
        border: 1px solid #e0e0e0;
        height: 40px;
        color: black;
        letter-spacing: 0.5px;
    }

    .popup_confirmacion_datos .form-datos .input p.txtvalidar {
        margin: 0;
        padding: 0;
        /* line-height: 2em; */
        text-align: left;
        display: block;
        padding: 5px 0px 0px 40px;
        color: red;
        letter-spacing: .5px;
        font-size: 12px;
        text-transform: initial;
    }

    .popup_confirmacion_datos .form-datos .input span {
        text-align: left;
        display: block;
        /* padding: 12pt 27px; */
        width: 100%;
        padding-left: 30px;
        color: #808080;
        line-height: 13px;
        font-size: 11px;
        text-transform: initial;
        letter-spacing: 0.5px;
    }

    .popup_confirmacion_datos .form-datos .validar_chk {
        width: 100%;
    }

        .popup_confirmacion_datos .form-datos .validar_chk .inputchk {
            width: 12%;
            float: left;
            margin-top: -6px;
        }

            .popup_confirmacion_datos .form-datos .validar_chk .inputchk input[type="checkbox"] {
                width: 16px;
                height: 16px;
                display: none !important;
            }

            .popup_confirmacion_datos .form-datos .validar_chk .inputchk input[type=checkbox] + label {
                display: inline-block;
                padding: 0 0 0 0px;
                background: white;
                box-shadow: inset 0 0 4px #0000006b;
                width: 16px;
                height: 16px;
            }

            .popup_confirmacion_datos .form-datos .validar_chk .inputchk input[type=checkbox]:checked + label {
                width: 16px;
                height: 16px;
                display: inline-block;
                box-shadow: none;
                background: #c39934;
            }

        .popup_confirmacion_datos .form-datos .validar_chk .txtchk {
            width: 88%;
            float: left;
            display: block;
            text-align: left;
            margin-top: -9.5px;
            /* color: black; */
            /* font-size: 10px !important; */
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            letter-spacing: .7px;
            color: #000000;
        }

.desactivar_boton_popup_confirma_datos {
    background: #e0e0e0;
}

.activar_boton_popup_confirma_datos {
    background: #c39934 !important;
}

@media (max-width:400px) {
    .popup_confirmacion_datos {
        padding: 0px 15px !important;
    }

        .popup_confirmacion_datos .centrar-vertical-contenido {
            padding: 25px;
        }
}
