.content_detalle_set_bpt_general {
    font-family: 'Lato';
}


.content_detalle_set_bpt {
    width: 100%;
    height: 280px;
    position: relative;
}

    .content_detalle_set_bpt img {
        display: block;
        width: 100vw;
        max-height: 280px;
        object-fit: cover;
    }

.regresar_landing {
    position: absolute;
    left: 14px;
    font-family: 'Lato';
    color: black;
    top: 10px;
    padding-left: 20px;
    background: url('/Content/Images/Esika/pagina.png') no-repeat;
    background-position: 3px 2px;
    height: 20px;
}


.etiqueta_nuevo_bpt {
    margin-bottom: 15px;
}

.info-set_bpt {
    font-size: 12px;
    text-transform: uppercase;
}

.content_descripcion_bpt {
    border-top: 1px solid black;
    padding-top: 10px;
    font-size: 13px;
    margin-top: 10px;
    line-height: 20px;
}

.ol_detalle {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
    width: 100% !important;
}

    .ol_detalle > li {
        margin: 0;
        padding: 0 0 0 2em;
        text-indent: -2em;
        list-style-type: none;
        counter-increment: item;
        display: inline-block;
        width: 100% !important;
    }

        .ol_detalle > li:before {
            display: inline-block;
            width: 1.5em;
            padding-right: .5em;
            font-weight: bold;
            text-align: right;
            content: counter(item) '.';
        }

.btn_ver_video_bpt {
    font-family: 'Lato';
    text-align: center;
    margin-top: 20px;
    display: block;
    width: 180px;
    margin: 0 auto;
    height: 32px;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.video-responsive-bpt {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .video-responsive-bpt iframe,
    .video-responsive-bpt object,
    .video-responsive-bpt embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }