.logo_EPT_content {
    width: 35%;
    height: 100px;
    text-align: center;
    padding-right: 10px;
    float: left;
    position: relative;
    background: rgba(177,19,20,1);
    background: -moz-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(177,19,20,1)), color-stop(18%, rgba(197,31,28,1)), color-stop(100%, rgba(223,41,34,1)));
    background: -webkit-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    background: -o-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    background: -ms-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    background: linear-gradient(to bottom, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b11314', endColorstr='#df2922', GradientType=0 );
    padding-top: 15px;
}

    .logo_EPT_content img {
        width: auto;
        height: 65px;
    }


.texto_usuario_ept {
    font-family: 'Lato';
    font-weight: 700;
    color: white;
    float: left;
    width: 65%;
    background: black;
    height: 100px;
    font-size: 13px;
    padding-top: 25px;
    padding-left: 17px;
    padding-right: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    position: relative;
}

    .texto_usuario_ept:before {
        display: none;
        content: '';
        position: absolute;
        left: -19px;
        top: 0;
        z-index: 9;
        height: 0;
        border-style: solid;
        border-width: 0 0 100px 20px;
        border-color: transparent transparent #000000 transparent;
    }

@media (min-width: 700px) {
    .texto_usuario_ept {
        padding-top: 42px;
    }
}

@media (min-width: 397px) and (max-width: 767px) {
    .texto_usuario_ept {
        padding-top: 35px;
    }
}

.revistadigital-detalle-titulo {
    height: 48px;
}

    .revistadigital-detalle-titulo .logo_EPT_content {
        background: black;
        height: 48px;
        padding-top: 0;
    }

        .revistadigital-detalle-titulo .logo_EPT_content span {
            font-size: 13px;
            padding-left: 15%;
        }

    .revistadigital-detalle-titulo .texto_usuario_ept {
        height: 48px;
        padding-top: 0;
        background: rgba(177,19,20,1);
        background: -moz-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(177,19,20,1)), color-stop(18%, rgba(197,31,28,1)), color-stop(100%, rgba(223,41,34,1)));
        background: -webkit-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        background: -o-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        background: -ms-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        background: linear-gradient(to bottom, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b11314', endColorstr='#df2922', GradientType=0 );
    }

    .revistadigital-detalle-titulo .logo_EPT_content:after {
        content: '';
        position: absolute;
        right: -25px;
        top: 0;
        z-index: 9;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 13px 25px 13px;
        border-color: black transparent transparent black;
    }
