
.content_belcorp {
    max-width: 1200px;
}

.items_belcorp {
    width: 24%;
    margin-right: 1%;
    padding-left: 15px;
    padding-right: 15px;
}

.item_catalogo {
    width: 24%;
}

.titulo_home_belcorp {
    width: 82%;
    margin-left: 4%;
}

.btn_100_facturacion {
    background-position: 14% 4px;
}


/*FIN STYLE NEW*/





.cam-exito {
    /*	background: white;
    border: 1px solid #efefef;
    padding: 10px 30px;
    box-sizing: border-box;
    max-width: 320px;
    box-shadow: 0px 8px 18px 2px rgba(0,0,0,0.1);*/
}

    .cam-exito img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        max-width: 65px !important;
    }

    .cam-exito p {
        color: black;
        font-size: 14px;
        text-align: center;
        font-family: 'lato';
        margin-bottom: 12px;
    }

    .cam-exito strong {
        font-weight: bold;
    }

    .cam-exito a {
        text-align: center;
        display: block;
        text-transform: uppercase;
        color: black;
        border: 1px solid #000;
        background: white;
        max-width: 260px;
        padding: 11px 15px;
        font-weight: bold;
        font-size: 14px;
        font-family: 'lato';
        text-decoration: none;
        margin: 17px auto;
        margin-top: 17px;
        margin-bottom: 10px;
    }
        .cam-exito a:hover {
            background: black;
            color: white;
        }
    .cam-exito .toptext {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 3px;
    }
