@model Portal.Consultoras.Web.Models.CDRWebModel
@{
    ViewBag.Title = "Reporte Cambios y Devoluciones";
}
<script type="text/javascript">
    function LimpiarCombo($combo) {
        $combo.empty();
        $combo.append($('<option/>', { value: "", text: "-- Seleccionar --" }));
    }

    jQuery(document).ready(function () {
        fnGrilla();

        $("#btnBuscar").click(function () {
            if (jQuery.trim($("#ddlPais").val()) == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }
            if (jQuery.trim($("#ddlCampania").val()) != "") {
                $("#hdTipoConsulta").val('1');
            }
            else {
                alert("Debe seleccionar una Campaña, verifique");
                return false;
            }

            $("#hdTipoConsulta").val('1');
            fnGrilla();
            
        });

        $('#ddlCampania').click(function () {
            var n = 10;
            var val = this.selectedIndex;
            if ((this.selectedIndex < ($(this).find('option').length - n)) && (this.selectedIndex > n)) {
                this.selectedIndex += n;
                this.selectedIndex -= (2 * n);
                this.selectedIndex += n;
            }
            else {
                this.selectedIndex = ((this.selectedIndex < n) ? 0 : $(this).find('option').length - 1);
                this.selectedIndex = val;
            }
        });

        $('#ddlRegion').change(function () {
            LimpiarCombo($('#ddlZona'));

            var regionId = $('#ddlRegion').val();
            var paisId = $('#ddlPais').val();
            if (regionId == "") return false;

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'MisReclamos/ObtenerZonasByRegion',
                dataType: 'json',
                data: { PaisId: paisId, RegionId: regionId },
                async: true,
                success: function (data) {
                    if (!checkTimeout(data)) return false;

                    closeWaitingDialog();
                    if (data.success == true) {
                        var ddlZona = $('#ddlZona');
                        $.each(data.listaZonas, function (ind, item) {
                            ddlZona.append($('<option/>', { value: item.ZonaID, text: item.Nombre }));
                        });
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("Ocurrió un error al ejecutar la acción. Por favor inténtelo de nuevo.");
                    }
                }
            });
        });
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "MisReclamos/ConsultaCRDWebDetalleReporte",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                CampaniaID: function () { return jQuery.trim($("#ddlCampania").val()); },
                RegionID: function () { return jQuery.trim($("#ddlRegion").val()); },
                ZonaID: function () { return jQuery.trim($("#ddlZona").val()); },
                PaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                CodigoConsultora: function () { return jQuery.trim($("#CodigoConsultora").val()); },
                Estado: function () { return jQuery.trim($("#ddlEstado").val()); },
                Consulta: function () { return jQuery.trim($("#hdTipoConsulta").val()); },
                TipoConsultora: function () { return jQuery.trim($("#dllTipoConsultora").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Nro. CDR', 'Código de cliente', 'Región', 'Zona', 'Sección', 'Campaña Origen Pedido', 'Fecha Hora Solicitud',
                'Fecha Hora Atención', 'Estado del Reclamo', 'Código de Venta', 'Unidades facturadas', 'Monto Facturado',
                'Unidades devueltas', 'Monto Devuelto', 'Código de Venta Producto a Enviar', 'Unidades a Enviar', 'Monto Producto a Enviar',
                'Operación', 'Motivo', 'Estado', 'Motivo Rechazo', 'Segmento Consultora', 'Indicador Despacho', 'Flete CDR', 'Origen CDR Web'],
            colModel: [
                { name: 'NroCDR', index: 'NroCDR', width: 10, editable: true, resizable: false },
                { name: 'ConsultoraCodigo', index: 'ConsultoraCodigo', width: 25, editable: true, resizable: false, align: 'center' },
                { name: 'RegionCodigo', index: 'RegionCodigo', width: 15, editable: true, resizable: false, align: 'center' },
                { name: 'ZonaCodigo', index: 'ZonaCodigo', width: 10, editable: true, resizable: false, align: 'center' },
                { name: 'SeccionCodigo', index: 'SeccionCodigo', width: 20, editable: true, resizable: false, align: 'center' },
                { name: 'CampaniaOrigenPedido', index: 'CampaniaOrigenPedido', width: 20, editable: true, resizable: false, align: 'center' },
                { name: 'FechaHoraSolicitud', index: 'FechaHoraSolicitud', width: 25, editable: true, resizable: false, align: 'center' },
                { name: 'FechaAtencion', index: 'FechaAtencion', width: 25, editable: true, resizable: false, align: 'center' },
                { name: 'EstadoDescripcion', index: 'EstadoDescripcion', width: 30, editable: true, resizable: false, align: 'center' },
                { name: 'CUV', index: 'CUV', width: 20, editable: true, resizable: false, align: 'center' },
                { name: 'UnidadesFacturadas', index: 'UnidadesFacturadas', width: 20, editable: true, resizable: false, align: 'center' },
                { name: 'MontoFacturado', index: 'MontoFacturado', width: 20, editable: true, resizable: false, align: 'right' },
                { name: 'UnidadesDevueltas', index: 'UnidadesDevueltas', width: 20, editable: true, resizable: false, align: 'center' },
                { name: 'MontoDevuelto', index: 'MontoDevuelto', width: 20, editable: true, resizable: false, align: 'right' },
                { name: 'CUV2', index: 'CUV2', width: 30, editable: true, resizable: false, align: 'center' },
                { name: 'UnidadesEnviar', index: 'UnidadesEnviar', width: 20, editable: true, resizable: false, align: 'center' },
                { name: 'MontoProductoEnviar', index: 'MontoProductoEnviar', width: 20, editable: true, resizable: false, align: 'right' },
                { name: 'Operacion', index: 'Operacion', width: 30, editable: true, resizable: false },
                { name: 'Reclamo', index: 'Reclamo', width: 30, editable: true, resizable: false },
                { name: 'EstadoDetalle', index: 'EstadoDetalle', width: 30, editable: true, resizable: false, align: 'center' },
                { name: 'MotivoRechazo', index: 'MotivoRechazo', width: 30, editable: true, resizable: false },                   
                { name: 'TipoConsultora', index: 'TipoConsultora', width: 30, editable: true, resizable: false, align: 'center' },
                { name: 'TipoDespacho', index: 'TipoDespacho', width: 30, editable: true, resizable: false, align: 'center' },
                { name: 'FleteDespacho', index: 'FleteDespacho', width: 30, editable: true, resizable: false, align: 'right' },
                { name: 'OrigenCDRWeb', index: 'OrigenCDRWeb', width: 30, editable: true, resizable: false, align: 'center'}
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 1600,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ExportarExcel() {

        var PaisID = jQuery.trim($("#ddlPais").val());
        if (PaisID == "") {
            alert("Debe seleccionar un pais.");
            return false;
        }

        var CodigoCampania = jQuery.trim($("#ddlCampania").val());
        if (CodigoCampania == "") {
            alert("Debe seleccionar una campaña.");
            return false;
        }
        var RegionID = jQuery.trim($("#ddlRegion").val());

        var ZonaID = jQuery.trim($("#ddlZona").val());

        var codigoConsultora = jQuery.trim($('#CodigoConsultora').val());
        var Estado = jQuery.trim($("#ddlEstado").val());
        var Tipoconsultora = jQuery.trim($("#dllTipoConsultora").val());
        waitingDialog({});

        setTimeout(function () {
            DownloadAttachExcel(CodigoCampania, RegionID, ZonaID, PaisID, codigoConsultora, Estado, Tipoconsultora)
        }, 0);
    }

    function DownloadAttachExcel(CodigoCampania, RegionID, ZonaID, PaisID, CodigoConsultora, Estado, TipoConsultora) {
        if (checkTimeout()) {
            var content = baseUrl + "MisReclamos/ExportarExcel?CampaniaID=" + CodigoCampania + "&RegionID=" + RegionID + "&ZonaID="
                                  + ZonaID + "&PaisID=" + PaisID + "&CodigoConsultora=" + CodigoConsultora + "&Estado=" + Estado + "&TipoConsultora=" + TipoConsultora;
            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }
</script>

<input type="hidden" id="hdTipoConsulta" value="0" />
<div class="wrap_cab">

    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Reporte Cambios y Devoluciones</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre", Model.PaisID), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lista, "CampaniaID", "NombreCorto", Model.CampaniaID), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
            </div>

            <div class="div-3">
                <div class="titG">Región:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.RegionID, new SelectList(Model.listaRegiones, "RegionID", "Codigo"), "-- Seleccionar --", new { id = "ddlRegion" })
                </div>

                <div class="titB">Zona:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.ZonaID, new SelectList(Model.listaZonas, "ZonaID", "Nombre"), "-- Seleccionar --", new { id = "ddlZona" })
                </div>

                <input type="hidden" id="hdNombreAnt" />
            </div>

            <div class="div-3">
                <div class="titG">Codigo Consultora:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="CodigoConsultora" name="CodigoConsultora" maxlength="20">
                </div>

                <div class="titB">Estado:</div>
                <div class="selectA borde_redondeado">

                    <select name="ddlEstado" id="ddlEstado">
                        <option value="" selected>-- Seleccionar --</option>
                        <option value="1">PENDIENTE</option>
                        <option value="2">EN EVALUACIÓN</option>
                        <option value="3">APROBADO</option>
                        <option value="4">RECHAZADO</option>
                    </select>
                </div>
            </div>

            <div class="div-3">
                <div class="titG">Segmento Consultora:</div>
                <div class="selectA borde_redondeado">
                    <select name="dllTipoConsultora" id="dllTipoConsultora">
                        <option value="" selected>-- Seleccionar --</option>                        
                        <option value="2">Ciclo de Nuevas</option>
                        <option value="1">Otros</option>
                    </select>
                </div>
            </div>


            <div class="div-3">
                <div class="titG">&nbsp;</div>
                <div class="input_horizontal">
                    <div class="input_search">
                        <input type="submit" name="" id="btnBuscar" value="Buscar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper" style="overflow-x:scroll;">

            <table id="list"></table>
            <div id="pager"></div>

        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix" style="text-align: center">
        <div class="input_global">
            <input type="button" value="Exportar Excel" id="btnExportarExcel" name="btnExportarExcel" onclick="ExportarExcel();">
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
