GO
USE BelcorpPeru
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpMexico
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpColombia
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpSalvador
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpPuertoRico
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpPanama
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpGuatemala
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpEcuador
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpDominicana
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpCostaRica
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpChile
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
USE BelcorpBolivia
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[InsIncentivo]
  @PaisID int,
  @CampaniaIDInicio int,
  @CampaniaIDFin int,
  @ConsultoraID bigint,
  @Titulo varchar(1000),
  @Subtitulo varchar(1000) = null,
  @ArchivoPortada varchar(3000),
  @ArchivoPDF varchar(3000),
  @Url varchar(1000),
  @Zona varchar(MAX)  = null,
  @Segmento varchar(MAX) = null
as
  insert Incentivo (PaisID, CampaniaIDInicio, CampaniaIDFin, ConsultoraID, Titulo, Subtitulo, ArchivoPortada, ArchivoPDF, Url, Zona, Segmento)
  values (@PaisID, @CampaniaIDInicio, @CampaniaIDFin, @ConsultoraID, @Titulo, @Subtitulo, @ArchivoPortada, @ArchivoPDF, @Url, @Zona, @Segmento)

GO
