USE BelcorpPeru
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpMexico
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpColombia
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpVenezuela
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpSalvador
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpPuertoRico
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpPanama
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpGuatemala
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpEcuador
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpDominicana
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpCostaRica
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpChile
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

USE BelcorpBolivia
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GetCodeEstrategiaByCUV]') AND type in (N'P', N'PC')) 
	DROP PROCEDURE [dbo].[GetCodeEstrategiaByCUV]
GO
/*end*/

