/* LANZAMIENTO */

.content_slider_ept {
    max-width: 929px;
    margin: 0 auto;
    padding-top: 0;
    position: relative;
}

.imagen_fondo {
    min-height: 450px;
    max-width: 929px;
}

.imagen_fondo img {
    width: 100%;
}

.content_item_ept {
    width: 100%;
    position: relative;
    min-height: 450px;
}

.detalle_set_banner {
    position: absolute;
    width: auto;
    min-width: 302px;
    top: 30px;
    left: 7%;
    background: white;
    z-index: 20;
    max-width: 50%;
    border: 1px solid #e7e1e1;
    -webkit-box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    -moz-box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    max-height: 415px;
}

/*.detalle_set_banner_ofertas_fix {
    position: absolute;
    width: auto;
    min-width: 302px;
    top: 30px;
    left: 45px;
    background: white;
    z-index: 20;
}*/

/*.content_set_imagen_banner {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 10px;
}*/

/*.content_set_imagen_banner img {
    width: auto;
    height: 150px;
}*/

/*.titulo_set_banner_ept {
    font-family: 'Lato';
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}*/

/*.detalle_set_banner_ept {
    font-family: 'Lato';
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
}*/

/*.btn_mas_info_set {
    font-family: 'Lato';
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 11px;
}*/

/*.etiqueta_nuevo_ept {
    text-align: left;
    z-index: 30;
}*/

/*.fondo_imagen_set {
    width: 140px;
    height: 140px;
}*/

/*.fondo_imagen_set img {
    width: 100%;
}*/

.btn-set-previous {
    width: 130px;
    height: 130px;
    background: black;
    display: block;
    position: absolute;
    z-index: 100;
    top: 34%;
    overflow: hidden;
    border: none !important;
}

.btn-set-previous img {
    width: 100%;
}

.previous_ofertas_ept {
    display: block;
    position: absolute;
    width: 19px;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 45px;
}

/*.btn-ofertas-margen-fix {
    margin-top: 10px;
}*/

/* FIN LANZAMIENTO */
.marca_ept {
    height: 40px;
    color: black;
    font-family: 'Lato';
    padding-left: 7px;
    font-size: 12px;
    float: right;
    letter-spacing: .3px;
    margin-left: 10px;
}

/* Diseño de los productos */
.revistadigital-landing {
    width: auto;
    padding: 0 20px 25px 20px;
    display: inline-block;
}

.revistadigital-landing .content_item_carrusel {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    min-width: 230px;
    padding-right: 10px;
    padding-left: 10px;
}

.revistadigital-landing .content_item_carrusel_clubganamas {
    background-image: linear-gradient(48deg, #b3842f, #d9b43c) !important;
    border: none !important;
    min-height: 372px;
    padding: 111px 30px 33px 30px;
    width: 240px;
    margin: auto;
    float: none;
}

.revistadigital-landing .content_item_carrusel .clubganamas_logo {
    position: absolute;
    left: 0;
    top: 0;
}

.revistadigital-landing .content_item_carrusel_clubganamas img.portada {
    width: 100%;
    margin-top: 20px;
    height: 206px !important;
    display: inherit;
}

.revistadigital-landing .content_item_carrusel_clubganamas img.portada_off {
    height: 229px;
}

.revistadigital-landing .content_item_carrusel_clubganamas a.portada {
    border: 1px solid black !important;
    color: black !important;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    border: 1px solid white;
    padding: 14.5px 0px;
    margin-top: 5px;
}

.revistadigital-landing .content_item_carrusel_clubganamas_off {
    background-image: linear-gradient(48deg, white, white) !important;
    padding: 20px 35px;
}

.revistadigital-landing .content_item_carrusel_clubganamas p.tercero {
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 15px;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    height: 40px;
    padding: 0;
    font-size: 13px;
    margin: 0 auto;
    width: 100%;
    max-width: 177px;
    display: -webkit-box;
    display: block;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 18px;
}

.revistadigital-landing .content_item_carrusel_clubganamas p.primero {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}

.revistadigital-landing .content_item_carrusel_clubganamas p.segundo {
    display: block;
    width: 100%;
    font-family: Lato;
    font-size: 22px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
    margin: auto;
    color: #ffffff;
    margin-bottom: 22px;
}

.revistadigital-landing .content_item_carrusel_clubganamas a {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    border: 1px solid white;
    height: 46px;
    padding: 13px 0px;
}

.revistadigital-landing .producto_img_home img {
    height: 100%;
    width: auto;
}

/* FIN Diseño de los productos */

/*QUERIES*/
.rd_btn {
    height: 45px;
}

/* BTN DIAGONAL*/
.btn_diagonal {
    overflow: hidden;
    z-index: 1;
    font-weight: 700;
    width: 100%;
    position: absolute;
}

.btn_diagonal:after {
    content: '';
    color: #fff;
    position: absolute;
    top: 0;
    width: 208px;
    height: 298px;
    z-index: -1;
    transform-origin: 0 0;
    transform: translateX(calc(20% + 25px)) translateY(10%) rotate(-45deg);
    transform: translateY(40%) translateX(270px) rotate(-75deg);
    transition: transform .5s;
    background: #000;
}

.btn_diagonal:hover::after {
    transform: translateY(40%) translateX(-38px) rotate(-75deg);
}

.btn_diagonal:hover .rd_arrowright {
    display: none;
}

.btn_diagonal:hover .rd_arrowright_blanco {
    visibility: initial !important;
    animation: bounceRight 1.2s infinite;
    width: 8px;
    height: 12px;
    top: 1px;
    display: inline-block;
}

.btn_diagonal a {
    height: 45px;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
    transition: all .6s ease-in-out;
    letter-spacing: 1px;
}

.btn_stroke2:hover::after {
    transform: translateY(40%) translateX(-180px) rotate(-75deg) !important;
}

.btn_stroke2:hover a {
    color: #ffffff !important;
}
/* boton rojo */
.rd_btn_rojo {
    width: 260px;
    left: 50%;
    margin-left: -130px;
    border: 0 solid;
    color: #fff;
    font-size: 13px;
}

/* fin boton rojo*/


/*MODIFICACION LANDING*/

.rd_ver_mas:hover {
    transition: all .2s ease-in-out;
}

.rd_ver_mas:after {
    background-image: url('/Content/Images/RevistaDigital/rd_arrowright.png');
    background-repeat: no-repeat;
    background-size: 6px 8px;
    display: inline-block;
    width: 6px;
    position: absolute;
    height: 10px;
    content: '';
    margin-left: 8px;
    margin-top: 4px;
    z-index: 10;
}

.rd_ver_mas:hover:after {
    animation: bounceRight 1.2s infinite;
}

.div-carousel-rd-prev {
    left: -14%;
    top: 35%;
    text-align: right;
}

.div-carousel-rd-next {
    right: -14%;
    top: 35%;
}

/*TRANSITIONS*/
@keyframes bounceLeft {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }

    80% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }
}

@keyframes bounceRight {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    80% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
}

.flex-container {
    flex-wrap: wrap;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.hblock_title_perdio {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 22px;
    text-align: center;
    margin-bottom: 18px;
}

.hblock_title_perdio2 {
    height: 120px;
    left: 300px;
    font-size: 18px;
    font-weight: 100;
    padding-top: 24px;
    line-height: 24px;
    letter-spacing: 2px;
}

.content_item_home_bpt {
    background: white;
    -webkit-box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    -moz-box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    position: relative;
}

/* POP UP RD BLOQUEADO */
.popup_rd_bloqueado {
    font-family: 'Lato';
    background-color: #F6F6F6;
    width: 100%;
    max-width: 500px;
    max-height: 610px;
    position: relative;
    top: 50%;
    margin: auto;
    margin-top: -295px;
    padding: 25px 40px;
    text-align: center;
}

.popup_rd_bloqueado .box_producto {
    max-height: 320px;
    margin: 10px 0;
    background-color: #fff;
}

.popup_rd_bloqueado .popup_text {
    margin: 7px 48px;
    font-size: 16px;
    line-height: 20px;
    color: black;
    text-decoration: none;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
}

.popup_rd_bloqueado a {
    transition: all .2s ease-in-out;
}

.popup_rd_bloqueado a:hover {
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.popup_rd_bloqueado .rd_ver_mas:after {
    content: '';
    background-image: url('/Content/Images/RevistaDigital/rd_arrowright.png');
    background-repeat: no-repeat;
    background-size: 8px 12px;
    display: inline-block;
    width: 10px;
    position: absolute;
    height: 14px;
    margin-left: 8px;
    margin-top: 4px;
    z-index: 2 !important;
}

.producto_nombre_descripcion .nombre_producto {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    height: 40px;
}

.block_inscribete_predio {
    margin: 15px 0;
}

.rd-fitlros-fix {
    float: left;
    width: 60%;
}

.cantidad_productos_fix {
    float: left !important;
    width: 40%;
}

.rd-seccion2 {
    width: 100%;
    height: 75px;
}

/* nuevo landing de revista 6.11.2017 */
.contenedor-suscripcion {
    max-width: 1024px;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
}

@media (max-width: 1100px) {
    .como-funciona img {
        margin-left: -10px;
    }
}

/* fin nuevo landing de revista 6.11.2017 */
.banner_pedido_masofertas .btn_diagonal img {
    position: relative;
    top: 1px;
    width: 8px;
    height: 12px;
    margin-left: 5px;
}

.popup-prod-bloqueado .centrar-vertical-contenido {
    background-color: rgba(0, 0, 0, 0.85);
}

.contenido-popup-nuevo-2017 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.contenido-popup-nuevo-2017 .centrar-estructura {
    margin: 5% auto auto auto;
    width: 432px;
    height: 432px;
    display: table;
}

.contenido-popup-nuevo-2017 .centrar-estructura .centrar-vertical-contenido {
    vertical-align: middle;
    padding: 20px;
    display: table-cell;
    height: 422px;
}

.contenido-popup-nuevo-2017 .centrar-estructura .centrar-vertical-contenido p.primer-texto {
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    display: block;
    margin: auto;
    width: 280px;
    margin-bottom: 5px;
}

.contenido-popup-nuevo-2017 .centrar-estructura .centrar-vertical-contenido p.segundo-texto {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    display: block;
    margin: auto;
    width: 280px;
    margin-bottom: 30px;
}

.contenido-popup-nuevo-2017 .centrar-estructura .centrar-vertical-contenido p.segundo-texto span.flashit {
    color: white;
}

.contenido-popup-nuevo-2017 .centrar-estructura .centrar-vertical-contenido img {
    display: block;
    margin: auto;
    text-align: center;
    height: 120px;
    margin-bottom: 15px;
}

.contenido-popup-nuevo-2017 .centrar-estructura .centrar-vertical-contenido a.btn-popup {
    width: 280px;
    background-color: #c39934;
    color: white;
    margin: auto;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .3);
    padding: 16px 0px;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.contenido-popup-nuevo-2017 .centrar-estructura .centrar-vertical-contenido .cerrargndtxt {
    display: block;
    width: 100%;
    position: relative;
    top: 85px;
    cursor: pointer;
}

.contenido-popup-nuevo-2017 .centrar-estructura .logogndplus {
    WIDTH: 100%;
    position: absolute;
    text-align: left;
}

.contenido-popup-nuevo-2017 .centrar-estructura .logogndplus img {
    display: inline-block;
    width: auto;
    height: 40px;
}

.contenido-popup-nuevo-2017 .centrar-estructura a.cerrar-popup {
    float: right;
    margin-top: -5px;
    margin-left: 441px;
    position: absolute;
}

.contenido-popup-nuevo-2017 .cerrargndtxt {
    margin-top: 20px;
    font-size: 11px;
    letter-spacing: .5px;
    color: #9E9E9E;
    text-decoration: underline;
}

.contenedor_fondo_popup {
    background: rgba(0, 0, 0, .70) !important;
}

.contenedor_fondo_popup_oscuro {
    background: rgba(0, 0, 0, .85) !important;
}

.Acortar2Renglones3puntos {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.Acortar3Renglones3puntos {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}
