@using Portal.Consultoras.Web.Helpers
@using Portal.Consultoras.Web.Models;
@using Portal.Consultoras.Web.Models.Estrategia.OfertaDelDia;

@{
    ViewBag.Title = "OfertaDelDia";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";

    var mobileConfiguracion = Html.MobileAppConfiguracion();
    DataModel ofertaDelDia = new DataModel();
    if (ViewBag.MostrarOfertaDelDia == true) { ofertaDelDia = ViewBag.OfertaDelDia; }
}

@section styles{
    <style type="text/css">
        #btn_init {
            display: none !important;
        }

        #btn_open {
            display: none !important;
        }
    </style>
}

@if (ViewBag.MostrarOfertaDelDiaContenedor == true)
{
    <div id="pop_oferta_mobile" class="content_pop_oferta_mobile">
        <div>
            <div id="OfertasDiaMobile" class="set_oferta_content">
            </div>
            <div class="row contenedor-botones">
                <div class="content_btn_agregar">
                    <div class="content_320">
                        <div class="content_cantidad_ficha_producto" data-cantidad-contenedor="">
                            <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                            <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                            <a class=" cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                        </div>
                        <a id="btnAgregarMobile" href="#" class="btn_agregar_ficha_producto" data-odd-accion="agregar" onclick="odd_mobile_google_analytics_addtocart()">AGRÉGALO</a>
                        <hr class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="estrategia-template_carrusel" type="text/x-handlebars-template">
        {{#each this.ListaOfertas  as |oferta|}}
        <div data-item="">
            <div style="display:none;" data-item-campos="">
                <input type="text" class="tipoestrategia-id-odd" value="{{oferta.TipoEstrategiaID}}" />
                <input type="text" class="estrategia-id-odd" value="{{oferta.EstrategiaID}}" />
                <input type="text" class="marca-id-odd" value="{{oferta.MarcaID}}" />
                <input type="text" class="cuv2-odd" value="{{oferta.CUV2}}" />
                <input type="text" class="limite-venta-odd" value="{{oferta.LimiteVenta}}" />
                <input type="text" class="flagnueva-odd" value="{{oferta.FlagNueva}}" />
                <input type="text" class="precio-odd" value="{{oferta.PrecioOferta}}" />
                <input type="text" class="nombre-odd" value="{{oferta.NombreOferta}}" />
                <input type="text" class="indmonto-min-odd" value="{{oferta.IndicadorMontoMinimo}}" />
                <input type="text" class="teimagenmostrar-odd" value="{{oferta.TipoEstrategiaImagenMostrar}}" />
                <input type="text" Class="imagen-odd" value="{{oferta.ImagenDisplay}}" />
                <input type="text" class="origenPedidoWeb-odd" value="1" />
                <input type="hidden" class="DescripcionEstrategia" value="{{oferta.DescripcionEstrategia}}" />
            </div>
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="{{oferta.CUV2}}" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsFBRutaImagen" value="{{oferta.ImagenDisplay}}" />
                <input type="hidden" class="rsWARutaImagen" value="{{oferta.ImagenDisplay}}" />
                <input type="hidden" class="MarcaID" value="{{oferta.MarcaID}}" />
                <input type="hidden" class="MarcaNombre" value="{{oferta.DescripcionMarca}}" />
                <input type="hidden" class="Nombre" value="{{oferta.NombreOferta}}" />
                <input type="hidden" class="ProductoDescripcion" value="{{oferta.DescripcionOferta}}" />
                <input type="hidden" class="Palanca" value="ODD" />
            </div>
            <div class="saludo_paginacion">
                <p>@ViewBag.NombreConsultora</p>, te mostramos <b>{{oferta.Posicion}} de {{../CantidadProductos}}</b>
                {{#iff ../CantidadProductos '>' 1}}
                &nbsp;ofertas
                {{/iff}}
                {{#iff ../CantidadProductos '<' 2}}
                &nbsp;oferta
                {{/iff}}
            </div>
            <div class="producto_img_mobile">
                <img src="{{oferta.ImagenDisplay}}" alt="Solo Hoy" id="img-display-odd" data-img-lazy="1" />
            </div>
            <div class="nombre_set_display">{{oferta.NombreOferta}}</div>
            <div class="precio_valorizado_mobile">VALORIZADO EN <span>@ViewBag.Simbolo {{oferta.PrecioCatalogoFormat}}</span></div>
            <div class="producto_precio_hoy_mobile">
                A SOLO <span>@ViewBag.Simbolo {{oferta.PrecioOfertaFormat}}</span>
            </div>

            {{#IsNullOrEmpty oferta.DescripcionOferta '!='}}
            <div class="titulo_contenido">CONTENIDO</div>
            <div class="nombre_set_producto_hoy">{{{oferta.DescripcionOferta}}}</div>
            {{/IsNullOrEmpty}}

            @if (mobileConfiguracion.MostrarHipervinculo)
            {
                <div class="content_redes_ficha" data-item="">
                    <div class="texto_redes">Comparte este producto con tus clientes:</div>
                    <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA"><img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt=""></a>
                    <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB"><img src="/Content/Images/Mobile/Esika/facebook.png" alt=""></a>
                </div>
            }

        </div>
        {{/each}}
    </script>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.MostrarOfertaDelDiaContenedor' == "True") {
                //window.OfertaDelDia.CargarODD();
                OfertaDelDiaModule.Inicializar();
            }
        });
        var OrigenDesktopODD = 3;
    </script>
    <script type="text/javascript" src="~/Scripts/PortalConsultoras/EstrategiaAgregar/EstrategiaAgregar.js"></script>

}