#marca {
    margin: 0;
    padding: 0;
    font-family: arial;
}

.CMXD-containment-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -800000;
}

.CMXD-btn-help {
    width: 70px;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 100px;
    text-align: center;
}

.pop-up {
    position: absolute;
    width: 100%;
    height: 448px;
    border-radius: 0 0 4px 4px;
    top: 42px;
    background: white;
    display: none;
    z-index: 1000;
}
/******************BOTON AYUDA******************/ /*Estilo General*/

.CMXD-btn-help .CMXD-help {
    background-image: url(../images/btn-help.png);
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: .2s;
}

.CMXD-btn-help .CMXD-open {
    background-image: url(../images/btn-open.png);
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: .2s;
    display: none;
}
/*Open Hover Lbel*/

.CMXD-lbel .CMXD-btn-help .CMXD-help:hover {
    background-image: url(../images/btn-help-hover-lbel.png);
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: .2s;
    cursor: pointer;
}

.CMXD-lbel .CMXD-btn-help .CMXD-open:hover {
    background-image: url(../images/btn-open-hover-lbel.png);
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: .2s;
    cursor: pointer;
}
/*Open Hover Esika*/

.CMXD-esika .CMXD-btn-help .CMXD-help:hover {
    background-image: url(../images/btn-help-hover-esika.png);
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: .2s;
    cursor: pointer;
}

.CMXD-esika .CMXD-btn-help .CMXD-open:hover {
    background-image: url(../images/btn-open-hover-esika.png);
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: .2s;
    cursor: pointer;
}

a {
    text-decoration: none;
}
/******************ALERTAS******************/ /*Alerta LBEL*/

.CMXD-lbel #loading_image {
    content: url(../images/welcome-lbel.png);
}

.CMXD-lbel #schedule_image {
    content: url(../images/calendar-lbel.png);
}

.CMXD-lbel #Error_image {
    content: url(../images/error-lbel.png);
}

.CMXD-lbel #alert_image {
    content: url(../images/alert-close-lbel.png);
}
/*Alerta Esika*/

.CMXD-esika #loading_image {
    content: url(../images/welcome-esika.png);
}

.CMXD-esika #schedule_image {
    content: url(../images/calendar-esika.png);
}

.CMXD-esika #Error_image {
    content: url(../images/error-esika.png);
}

.CMXD-esika #alert_image {
    content: url(../images/alert-close-esika.png);
}
/******************ICONOS******************/

.fa-comments-o {
    font-size: 20px !important;
}

i.fa {
    color: #3a3a3a;
}
/******************CONTENEDORES******************/

.CMXD-container-chat {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 342px;
    height: 490px;
    border-radius: 4px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.28);
}
/******************HEADER******************/

.CMXD-header-chat {
    padding: 10px 20px 0;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.36);
}

.CMXD-line {
    margin-top: 10px;
    border: 1px solid rgba(192, 192, 192, 0.35);
    border-radius: 4px;
}

.CMXD-icons {
    float: right;
}
/******************WELCOME CHAT******************/

.CMXD-img-welcome {
    text-align: center;
    padding: 50px;
}

    .CMXD-img-welcome img {
        width: 150px
    }

.CMXD-welcome {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.CMXD-description {
    width: 242px;
    margin: auto;
    height: 36px;
    font-size: 15px;
    text-align: center;
    color: #555555;
    margin-top: 20px
}
/******************CHAT******************/

.chat-wrapper {
    overflow: auto;
    height: 357px;
    z-index: -1;
    padding: 0 10px;
    font-size: 13px
}

    .chat-wrapper:before {
        content: " ";
        display: block;
    }

    .chat-wrapper .chat-image {
        float: left;
    }

        .chat-wrapper .chat-image.chat-image-default {
            width: 40px;
            height: 40px;
            border-radius: 10px;
        }

        .chat-wrapper .chat-image.chat-image-default2 {
            width: 15px;
            height: 15px;
            margin-top: 20px;
            border-radius: 10px;
            background-image: url(../images/check.png);
            background-size: 100%;
        }
/*Asesor Lbel*/

.CMXD-lbel span.asesor {
    color: #744da7;
}
/*Asesor Esika*/

.CMXD-esika span.asesor {
    color: #e81c36;
}

.chat-wrapper .chat-message {
    margin-bottom: 10px;
    width: 100%;
    display: table;
    overflow: hidden;
}

    .chat-wrapper .chat-message:before {
        content: " ";
        display: block;
    }

    .chat-wrapper .chat-message:last-of-type {
        margin-bottom: 0;
    }

    .chat-wrapper .chat-message .chat-message-wrapper {
        max-width: 77%;
        display: table;
        margin: 0 10px;
        position: relative;
    }

    .chat-wrapper .chat-message .chat-message-wrapper2 {
        max-width: 77%;
        display: table;
        margin: 0 10px;
        position: relative;
    }

    .chat-wrapper .chat-message .chat-message-wrapper:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        top: 20px;
        position: absolute;
        z-index: 2;
    }

.chat-message-content {
    min-width: 114px;
}

.chat-wrapper .chat-message .chat-message-wrapper p {
    padding: 5px 10px;
    color: #363636;
    border-top: 1px solid;
}

.chat-wrapper .chat-message .chat-message-wrapper2 p {
    padding: 5px 10px;
    color: #363636;
    border-top: 1px solid;
}

.chat-wrapper .chat-message .chat-message-wrapper p:first-of-type {
    border-top: 0 !important;
}

.chat-wrapper .chat-message .chat-message-wrapper2 p:first-of-type {
    border-top: 0 !important;
}

.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper, .chat-wrapper .chat-message.chat-message-recipient .chat-message-content {
    float: left;
}

.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper2, .chat-wrapper .chat-message.chat-message-recipient .chat-message-content {
    float: left;
}

.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper:before {
    left: -20px;
    border-right-color: white;
    top: 5px;
}

.bg1 {
    background: white;
}

.bg2 {
    background: #ebebeb;
}

.chat-wrapper .chat-message.chat-message-recipient p {
    background-color: white;
    border-top-color: white;
}

.chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper, .chat-wrapper .chat-message.chat-message-sender .chat-message-content {
    float: right;
}

    .chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper:before {
        right: -20px;
        border-left-color: #ebebeb;
        top: 20px;
    }

.chat-wrapper .chat-message.chat-message-sender p {
    background: #ebebeb;
    border-top-color: #ebebeb;
}

.chat-wrapper .chat-message.chat-message-sender img {
    float: right;
}

.chat-wrapper .chat-message .chat-message-content {
    display: table;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: px;
}

    .chat-wrapper .chat-message .chat-message-content:before {
        content: " ";
        display: block;
    }

.chat-wrapper .chat-message .chat-details {
    clear: both;
    width: 95%;
    display: table;
    overflow: hidden;
    text-align: right;
    font-size: 10px;
    padding-bottom: 5px
}

    .chat-wrapper .chat-message .chat-details:before {
        content: " ";
        display: block;
    }

    .chat-wrapper .chat-message .chat-details span {
        margin-right: 4px;
        color: #bbb;
    }

.chat-wrapper .chat-message .chat-details2 {
    clear: both;
    width: 95%;
    display: table;
    overflow: hidden;
    padding-bottom: 5px;
    text-align: right;
    font-size: 10px;
    background: #ebebeb;
}

    .chat-wrapper .chat-message .chat-details2:before {
        content: " ";
        display: block;
    }

    .chat-wrapper .chat-message .chat-details2 span {
        margin-right: 4px;
        color: #929292;
    }

.load-3 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    padding: 5px;
}

.line {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: #bbb;
    margin-bottom: 8px;
}

.load-3 .line:nth-last-child(1) {
    animation: loadingC .8s .1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
    animation: loadingC .8s .2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
    animation: loadingC .8s .3s linear infinite;
}

@keyframes loadingC {
    0 {
        transform: translate(0,0);
    }

    50% {
        transform: translate(0,5px);
        opacity: .6;
    }

    100% {
        transform: translate(0,0);
    }
}

.container-txt {
    width: 100%;
    height: 70px;
    background: #ebebeb;
}

.txtarea {
    width: 80%;
    height: 50px;
    resize: none;
    padding: 10px;
    font-size: 13px !important;
    background: none;
    float: left;
    border: none;
    color: #797979 !important;
}

    .txtarea:focus {
        border-color: rgba(102, 175, 233, 0);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0);
    }

.send {
    width: 14%;
    float: right;
    padding: 19px 0;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    font-weight: 550;
    color: #505050;
}
/*Asesor Lbel*/

.CMXD-esika .send:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 70px;
    background: rgba(202, 62, 62, 0.3);
    transition: all .5s ease;
}

.CMXD-lbel .send:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 70px;
    background: rgba(104, 62, 202, 0.3);
    transition: all .5s ease;
}

.send:hover:before {
    width: 50px !important;
}

    .send:hover:before .fa-paper-plane-o {
        color: white;
    }

.fa-paper-plane-o {
    color: #797979 !important;
}
/******************BOTONES******************/ /*Boton Lbel*/

.CMXD-lbel .btn-yes {
    background: #7a57a8;
    padding: 10px 40px;
    color: white;
    border-radius: 4px;
    transition: .2s;
    text-decoration: none;
}

    .CMXD-lbel .btn-yes:hover {
        background: #7a57a8;
        background: linear-gradient(to right, #7a57a8, #b79add);
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
        transition: .2s;
    }

.CMXD-lbel .btn-no {
    background: #5d4084;
    padding: 10px 40px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

    .CMXD-lbel .btn-no:hover {
        background: #7a57a8;
        background: linear-gradient(to right, #5d4084, #9379b5);
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
        transition: .2s;
    }
/*Boton Esika*/

.CMXD-esika .btn-yes {
    background: #e81c36;
    padding: 10px 40px;
    color: white;
    border-radius: 4px;
    transition: .2s;
    text-decoration: none;
}

    .CMXD-esika .btn-yes:hover {
        background: #e81c36;
        background: linear-gradient(to right, #e81c36, #F57082);
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
        transition: .2s;
    }

.CMXD-esika .btn-no {
    background: #B11328;
    padding: 10px 40px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

    .CMXD-esika .btn-no:hover {
        background: #B11328;
        background: linear-gradient(to right, #B11328, #CC5565);
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
        transition: .2s;
    }

.container-movil {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.31);
    display: none;
}

@media only screen and (max-width : 500px) {
}
/******************SCROLL******************/ /*Scroll Lbel*/

::-webkit-scrollbar-thumb {
    background-color: rgba(124, 124, 124, 0.47);
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 8px;
}
