
<section id="elegir-opciones-modal" style="display: none; margin-right: -320px; opacity: 0;" class="contenedor_seleccion">
    <div>
        <div class="header_fixed">
            <div class="seleccion_header" id="contendor-titulo-opciones">
                <div id="titulo-opciones-seleccionadas"></div>
            </div>
            <div class="contenedor_selecionados" id="contenedor-opciones-seleccionadas">
                <div class="selecionados_carrosel" id="opciones-seleccionadas" style="display: none;">
                </div>
            </div>
        </div>
        <div class="seleccion_main list_style_none" id="lista-opciones">

        </div>
        <div class="aplicar_seleccion" id="contenedor-aplicar-seleccion">
            <button id="btn-aplicar-seleccion" onclick="javascript: ResumenOpcionesModule.AplicarOpciones();" class="disabled">APLICAR SELECCIÓN</button>
        </div>
    </div>
</section>
<div style="display: none" class="modal-fondo"></div>

@Html.Partial("ListaOpcionesTemplate")
@Html.Partial("OpcionesSeleccionadasTemplate")
@Html.Partial("TituloOpcionesSeleccionadasTemplate")