﻿@using Portal.Consultoras.Common
<div data-ficha-contenido="componenteDetalle-template"></div>
<script id="componenteDetalle-template" type="text/x-handlebars-template">
    <div id="modal_producto_detalle" class="Modal_Editar_Producto" style="display:none" data-product-detail-popup>
        <div class="contenedor_detalle texto_font">
            <a class="boton_volver_ficha" href="" data-close-product-detail-popup>
                <img src="/Content/Images/mobile/Esika/right-arrow.svg">Volver
            </a>
            <div class="producto_detalle_content">
                <div class="ficha_content_left">
                    <div>
                        <div class="nombre_marca">
                            <span data-nombre_marca="">{{DescripcionMarca}}</span>
                        </div>
                        <div class="descripcion">{{NombreComercial}}</div>
                        <div class="descripcion_item">{{Cabecera.ContenidoNeto}}</div>
                        <div class="descripcion_item">{{Cabecera.Dimensiones}}</div>
                        <div class="descripcion_item">{{Cabecera.TallaMedidas}}</div>
                        {{#iff PrecioCatalogo '>' 0}}
                        <div class="precio_cliente">Precio para ti: <span>{{SimboloMoneda}} {{DecimalToStringFormat PrecioCatalogo}}</span></div>
                        {{/iff}}
                    </div>
                </div>
                <div class="ficha_content_rigth">
                    <div id="FichaImagenProducto" class="contenedor_imagen" style="height: 250px;">
                        <img class="contenedor_img" src="{{ImgUrl ImagenBulk}}" alt="">
                    </div>
                    <div id="contenedor_foto_referencial" class="texto_referencial" style="margin: 0px;">
                        <span>* Foto Referencial</span>
                    </div>
                </div>
                <br class="clear" />

                <div id="ContenidoProducto" class="contenedor_ficha_tabs popup_ficha_tabs">
                    <div class="tabla_ficha_tab">
                        <div class="row_ficha_tab">
                            {{#each this.Secciones as |seccion|}}
                            <div class="cell_ficha_tab">
                                <div class="contents_ficha_tab {{#if @@first}}active{{/if}}" data-tab-header data-num-tab="{{@@index}}">
                                    <input id="ficha_tab_{{@@index}}" class="imput_tab_clean imput_tab" type="radio" name="tabs" data-num-tab="{{@@index}}">
                                    <label for="ficha_tab_{{@@index}}" class="label_tab" data-num-tab="{{@@index}}">{{seccion.Titulo}}</label>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{#each this.Secciones as |seccion|}}
                    {{#iff seccion.Tipo '==' '@Constantes.TipoSeccion.Texto' }}
                    <section class="seccion_tab" {{#if @@first}} style="display:block" {{/if}} data-tab-body data-num-tab="{{@@index}}">
                        {{#each seccion.Detalles as |detalle|}}
                        <h3>{{detalle.Titulo}}</h3>
                        <p>{{detalle.Descripcion}}</p>
                        {{/each}}
                    </section>
                    {{else}}
                    <section class="seccion_tab" {{#if @@first}} style="display:block" {{/if}} data-tab-body data-num-tab="{{@@index}}">
                        <div id="carouselVideo">
                            {{#each seccion.Detalles as |detalle|}}
                            <div class="video_item">
                                <p>{{detalle.Titulo}}</p>
                                <div id="ytFichax"
                                     data-youtube-key="{{detalle.Key}}"
                                     data-youtube="{
                                            height:'165',
                                            width:'300',
                                            enablejsapi:1,
                                            fs:0,
                                            showinfo:0,
                                            modestbranding:1,
                                            loop:1,
                                            videoId: '{{detalle.Key}}',
                                            playerVars:{autoplay:0,rel:0}}"
                                     data-extra="{'descripcionResumen':'{{detalle.Titulo}}'}">
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </section>
                    {{/iff}}

                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</script>