@section styles{
    <link href="@Url.Content("~/Content/Css/Site/Ficha/Ficha.css")" rel="stylesheet" />
}

<div class="imagen_fondo_detalle" style="background-image: url('https://S3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_Desktop_Fondo_del_ShowRoom_en_el_Contenedor_Ofertas_Venta 50A_2018630811_01_ytmwyupjny.jpg');"></div>
<div class="contenedor_detalle texto_font">
    <div class="contenedor_fichas">
        <div class="contenedor_ficha_producto">
            <div class="ficha_producto">
                <div class="contenedor_imagen">
                    <img class="contenedor_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/E/productos/PE_200050018.jpg" alt="">
                </div>
                <div class="texto_referencial">
                    <span data-texto_referencial="">* Foto Referencial</span>
                </div>
                <div class="contenedor_carrusel_tonos">
                    <div id="carrusel_tonos">
                        <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                        </div>
                        <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                        </div>
                        <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                        </div>
                        <div class="contenedor_imagen_carrusel_tonos" data-item="" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                        </div>
                    </div>
                </div>
                <div class="ficha_redes_sociales">
                    <div class="texto_redes_sociales">Comparte este producto con tus clientes</div>
                    <a class="btn_compartir_facebook" href="javascript:;" data-compartir="FB">
                        <img class="contenedor_img" src="/Content/Images/Esika/facebook.png">
                    </a>
                </div>
            </div>
            <div class="ficha_detalle">
                <div class="contenedor_ficha_etiquetas">
                    <div class="contenedor_etiqueta_odd">
                        <div id="clock" class="clock_odd"></div>
                    </div>
                    <div class="contenedor_etiquetas">
                        <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4840045/2izIcVZzfnNuPBe/%C2%A1NUEVO%21.jpg">
                    </div>
                </div>
                <div class="contenedor_nombre_precio">
                    <div class="contenedor_izquierdo">
                        <div class="nombre_marca">
                            <span data-nombre_marca="">ÉSIKA</span>
                        </div>
                        <div class="descripcion" data-descripcion="">PACK TOTAL + PULSO + ALVIENTO</div>
                    </div>
                    <div class="contenedor_derecho">
                        <div class="precio_valorizado">Valorizado en <span data-precio_valorizado="">S/.200</span></div>
                        <div class="precio_venta_oferta">Precio para ti <b><span data-precio_venta_oferta="">S/.110</span></b></div>
                        <div class="ganancia">GANA <span data-ganancia="">S/.90</span></div>
                    </div>
                </div>
                <div class="contenedor_nombre_descripcion_producto">
                    <div class="nombre_detalle_producto">Terciopelo en barra</div>
                    <div class="descripcion_detalle_producto_ver_mas">
                        Lápiz Labial Color Intenso y Textura Aterciopelada.
                        <span class="txt_ver_mas">ver más</span>
                    </div>
                </div>
                <div class="contenedor_lista_tonos">
                    <div class="selector_lista_tonos" data-selector_tono="">
                        <div class="elige_tono" data-tono_change="1">
                            <div class="img_item_tono" data-img_item_tono="">
                                <img src="~/Content/Images/showroom/no_disponible.png" alt="">
                            </div>
                            <div class="txt_item_tono txt_bold" data-txt_item_tono="">ELIGE TU TONO</div>
                            <div class="contenedor_flecha_tonos">
                                <div class="dibujar_linea dibujar_flecha_tonos" data-flecha-tonos=""></div>
                            </div>
                        </div>
                        <div class="contenedor_items_tonos" data-visible="0">
                            <div class="contenedor_item_tono" data-tono_change="2" data-tono-cuv="" data-tono-nombre="Rose Desir" data-tono-descripcion="">
                                <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/L/productos/bulk/PE_200087991_B.jpg" alt=""></div>
                                <div class="txt_item_tono">Rose Desir</div>
                                <hr class="clear">
                            </div>
                            <div class="contenedor_item_tono" data-tono-tono_change="2" data-tono-cuv="" data-tono-nombre="Berry Riche" data-tono-descripcion="">
                                <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201808/L/productos/bulk/PE_200087990_B.jpg" alt=""></div>
                                <div class="txt_item_tono">Berry Riche</div>
                                <hr class="clear">
                            </div>
                            <div class="contenedor_item_tono" data-tono-tono_change="2" data-tono-cuv="" data-tono-nombre="Roselle" data-tono-descripcion="">
                                <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/L/productos/bulk/PE_200082704_B.jpg" alt=""></div>
                                <div class="txt_item_tono">Roselle</div>
                                <hr class="clear">
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_lista_tonos_imagen">
                        <a class="contenedor_item_tono_imagen contenedor_item_tono_imagen_seleccionado" data-tono_change="2" data-tono-cuv="" data-tono-nombre="Rose Desir" data-tono-descripcion="">
                            <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/L/productos/bulk/PE_200087991_B.jpg" alt=""></div>
                            <hr class="clear">
                        </a>
                        <a class="contenedor_item_tono_imagen" data-tono_change="2" data-tono-cuv="" data-tono-nombre="Berry Riche" data-tono-descripcion="">
                            <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201808/L/productos/bulk/PE_200087990_B.jpg" alt=""></div>
                            <hr class="clear">
                        </a>
                        <a class="contenedor_item_tono_imagen" data-tono_change="2" data-tono-cuv="" data-tono-nombre="Roselle" data-tono-descripcion="">
                            <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/L/productos/bulk/PE_200082704_B.jpg" alt=""></div>
                            <hr class="clear">
                        </a>
                    </div>
                </div>
                <div class="contenedor_lista_detalle">
                    <div class="texto_contenido">CONTENIDO:</div>
                    <div class="detalle_producto" data-tono="" data-tono-select="" data-tono-digitable="">
                        <div class="marca_cantidad_descripcion_detalle">
                            <div class="marca_detalle_producto">
                                <span data-marca_detalle_producto>LBEL</span>
                            </div>
                            <div class="cantidad_descripcion_detalle">
                                <span class="cantidad_detalle_producto" data-cantidad_detalle_producto="">x2</span>
                                <span class="descripcion_detalle_producto" data-descripcion_detalle_producto="" @* data-tono-cuv-producto="" data-tono-select-nombrecomercial="" *@>
                                    Labial en barra rouge l'intense 4g/14o.z
                                </span>
                            </div>
                        </div>
                        <div class="selector_tono" data-selector_tono="">
                            <div class="elige_tono" data-tono_change="1">
                                <div class="img_item_tono" data-img_item_tono="">
                                    <img src="~/Content/Images/showroom/no_disponible.png" alt="">
                                </div>
                                <div class="txt_item_tono txt_bold" data-txt_item_tono="">ELIGE TU TONO</div>
                                <div class="contenedor_flecha_tonos">
                                    <div class="dibujar_linea dibujar_flecha_tonos" data-flecha-tonos=""></div>
                                </div>
                            </div>
                            <div class="contenedor_items_tonos" data-visible="0">
                                <div class="contenedor_item_tono" data-tono_change="2" data-tono-cuv="" data-tono-nombre="Rose Desir" data-tono-descripcion="">
                                    <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/L/productos/bulk/PE_200087991_B.jpg" alt=""></div>
                                    <div class="txt_item_tono">Rose Desir</div>
                                    <hr class="clear">
                                </div>
                                <div class="contenedor_item_tono" data-tono-tono_change="2" data-tono-cuv="" data-tono-nombre="Berry Riche" data-tono-descripcion="">
                                    <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201808/L/productos/bulk/PE_200087990_B.jpg" alt=""></div>
                                    <div class="txt_item_tono">Berry Riche</div>
                                    <hr class="clear">
                                </div>
                                <div class="contenedor_item_tono" data-tono-tono_change="2" data-tono-cuv="" data-tono-nombre="Roselle" data-tono-descripcion="">
                                    <div class="img_item_tono"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201809/L/productos/bulk/PE_200082704_B.jpg" alt=""></div>
                                    <div class="txt_item_tono">Roselle</div>
                                    <hr class="clear">
                                </div>
                            </div>
                        </div>
                        <hr class="clear">
                    </div>
                    <div class="detalle_producto" data-tono="" data-tono-select="" data-tono-digitable="">
                        <div class="marca_cantidad_descripcion_detalle">
                            <div class="marca_detalle_producto">
                                <span data-marca_detalle_producto>ÉSIKA</span>
                            </div>
                            <div class="cantidad_descripcion_detalle">
                                <span class="cantidad_detalle_producto" data-cantidad_detalle_producto="">x1</span>
                                <span class="descripcion_detalle_producto" data-descripcion_detalle_producto="" @* data-tono-cuv-producto="" data-tono-select-nombrecomercial="" *@>
                                    Perfume Pulso 100m/3.4 fl.oz
                                </span>
                            </div>
                            <div class="cantidad_descripcion_detalle">
                                <span class="cantidad_detalle_producto" data-cantidad_detalle_producto="">x2</span>
                                <span class="descripcion_detalle_producto" data-descripcion_detalle_producto="" @* data-tono-cuv-producto="" data-tono-select-nombrecomercial="" *@>
                                    Perfume Pulso 100m/3.4 fl.oz
                                </span>
                            </div>
                        </div>
                        <hr class="clear">
                    </div>
                </div>
                <div class="contenedor_agregar">
                    <div class="contenedor_rangos">
                        <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                        <div>
                            <a class="txt_menos menos" data-cantidad-agregar="-">
                                <div class="dibujar_linea dibujar_menos"></div>
                            </a>
                            <a class="txt_mas mas" data-cantidad-agregar="+">
                                <div class="dibujar_linea dibujar_mas"></div>
                            </a>
                        </div>
                    </div>
                    <a id="btnAgregalo" class="btn_agregalo btn_agregalo_desactivado" onclick="">AGRÉGALO</a>
                    <div class="contenedor_agregado">
                        <div class="txt_agregado" data-txt_agregado="">
                            <span class="span_agregado">AGREGADO</span>
                            <div class="check_agregado">
                                <div class="dibujar_linea dibujar_check_agregado"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contenedor_limitacion">
                    <div class="signo_exclamacion">
                        <div class="dibujar_signo_exclamacion"></div>
                    </div>
                    <span class="txt_limitacion">Limitado a 5 packs por consultora</span>
                </div>
            </div>
        </div>
        <div class="contenedor_ficha_tabs">
            <div class="tabla_ficha_tab">
                <div class="row_ficha_tab">
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_1" class="imput_tab_clean imput_tab" type="radio" name="tabs" data-numTab="1" checked>
                            <label for="ficha_tab_1" class="label_tab">DETALLE DEL PRODUCTO</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_2" class="imput_tab_clean imput_tab" type="radio" data-numTab="2" name="tabs">
                            <label for="ficha_tab_2" class="label_tab">DETALLE DEL PACK</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_3" class="imput_tab_clean imput_tab" type="radio" data-numTab="3" name="tabs">
                            <label for="ficha_tab_3" class="label_tab">TIPS DE VENTA</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_4" class="imput_tab_clean imput_tab" type="radio" data-numTab="4" name="tabs">
                            <label for="ficha_tab_4" class="label_tab">BENEFICIOS</label>
                        </div>
                    </div>
                    <div class="cell_ficha_tab">
                        <div class="contents_ficha_tab">
                            <input id="ficha_tab_5" class="imput_tab_clean imput_tab" type="radio" data-numTab="5" name="tabs">
                            <label for="ficha_tab_5" class="label_tab">VIDEO</label>
                        </div>
                    </div>
                </div>
            </div>
            <section id="contenido_1" class="seccion_tab">
                <ul class="txt_ul">
                    <li class="txt_li">
                        <div class="txt_li_titulo">Labial en barra rouge lintense:</div>
                        <div class="txt_li_descripcion">El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</div>
                    </li>
                    <li>
                        <div class="txt_li_titulo">Pulso:</div>
                        <div class="txt_li_descripcion">Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</div>
                    </li>
                </ul>
            </section>
            <section id="contenido_2" class="seccion_tab">
                <ul class="txt_ul">
                    <li class="txt_li">
                        <div class="txt_li_titulo">Labial en barra rouge lintense:</div>
                        <div class="txt_li_descripcion">El labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.</div>
                    </li>
                    <li>
                        <div class="txt_li_titulo">Pulso:</div>
                        <div class="txt_li_descripcion">Posee un poder de seduccón innato que le permite conquistar a cualquier mujer a través de su mirada penetrante y su media sonrisa. Su aspecto puede parecer irreverente pero su elegancia y gestos de caballerosidad lo hacen irresistible. Aún sin conocerlo, puedes saber que</div>
                    </li>
                </ul>
            </section>
            <section id="contenido_3" class="seccion_tab">
                <div class="contenedor_img_txt">
                    <div class="txt_img_seccion_tab">
                        <div class="img_seccion_tab">
                            <img class="contenedor_img" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_2000934882018554845_vffslsirks.png" alt="">
                        </div>
                        <div class="txt_seccion_tab">
                            Tiene un aroma maderoso con Canela de Magadascar de larga duración.<br />
                            Su envase azul es moderno y sotisficado. Inspirado en el hombre.
                        </div>
                    </div>
                    <div class="txt_img_seccion_tab">
                        <div class="img_seccion_tab">
                            <img class="contenedor_img" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_2000892222018550244_gbatklhzxl.png" alt="">
                        </div>
                        <div class="txt_seccion_tab">
                            Aplícala directamente en la muñeca de tu cliente usando el demostrador.
                        </div>
                    </div>
                    <div class="txt_img_seccion_tab">
                        <div class="img_seccion_tab">
                            <img class="contenedor_img" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200083615201851656_wedqazhdhj.png" alt="">
                        </div>
                        <div class="txt_seccion_tab">
                            Convencelo comentando que el olor durará hasta el final del día y pregunta: "¿Te pido el fresco aroma de Cardigan Evolución?"
                        </div>
                    </div>
                </div>
            </section>
            <section id="contenido_4" class="seccion_tab">
                <div class="contenedor_txt_p">
                    <div class="txt_p_titulo">¿Por qué nos encanta?</div>
                    <div class="txt_p">
                        El Labial Color HD Velvet tiene un color mate 5 veces más intenso que hidrata tus labios. Contiene una fórmula con pigmentos de color saturado y microprismas que capturan la luz para amplificar el color. Labial de sensación ligera.
                    </div>
                    <div class="txt_p_titulo">¿Qué hace?</div>
                    <div class="txt_p">
                        El nuevo labial mate posee una gran innovación que mantiene tus labios hidratados hasta por 24 horas. Disfruta de todo el color
                        y la suavidad de miles de pétalos de rosa en tus labios.
                    </div>
                    <div class="txt_p_titulo">¿Cómo funciona?</div>
                    <div class="txt_p">
                        Labial Mate aterciopelado, no reseca los labios y viene con identificador de color en el envase.
                    </div>
                </div>
            </section>
            <section id="contenido_5" class="seccion_tab">
                <div class="contenedor_iframe_seccion_tab">
                    <iframe class="iframe_seccion_tab"
                            src="https://www.youtube.com/embed/Ib8S28KNZeU"></iframe>
                </div>
            </section>
        </div>
        <div class="contenedor_ficha_carrusel">
            <div class="contenedor_titulo_carrusel">
                <div class="contenedor_linea_carrusel">
                    <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_izquierda"></div>
                </div>
                <div class="txt_titulo_carrusel">SET DONDE ENCUENTRAS EL PRODUCTO</div>
                <div class="contenedor_linea_carrusel">
                    <div class="dibujar_linea dibujar_linea_titulo_carrusel linea_derecha"></div>
                </div>
            </div>
            <div class="contenedor_carrusel">
                <div id="carrusel">
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_elige_tu_tono_carrusel">
                                <div class="txt_elige_tu_tono">¡AHORA ELIGE TU TONO!</div>
                                <a id="btnElegirTono" class="btn_elige_tu_tono btn_elige_tu_tono_desactivado" data-btn-elegir-tono="">ELIGE TU OPCIÓN</a>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                            </div>
                            <div class="contenedor_agregado">
                                <div class="txt_agregado">
                                    <span class="span_agregado">AGREGADO</span>
                                    <div class="check_agregado">
                                        <div class="dibujar_linea dibujar_check_agregado"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_elige_tu_tono_carrusel">
                                <div class="txt_elige_tu_tono">¡AHORA ELIGE TU TONO!</div>
                                <a id="btnElegirTono" class="btn_elige_tu_tono btn_elige_tu_tono_desactivado" data-btn-elegir-tono="">ELIGE TU OPCIÓN</a>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                            </div>
                            <div class="contenedor_agregado">
                                <div class="txt_agregado">
                                    <span class="span_agregado">AGREGADO</span>
                                    <div class="check_agregado">
                                        <div class="dibujar_linea dibujar_check_agregado"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_elige_tu_tono_carrusel">
                                <div class="txt_elige_tu_tono">¡AHORA ELIGE TU TONO!</div>
                                <a id="btnElegirTono" class="btn_elige_tu_tono btn_elige_tu_tono_desactivado" data-btn-elegir-tono="">ELIGE TU OPCIÓN</a>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                            </div>
                            <div class="contenedor_agregado">
                                <div class="txt_agregado">
                                    <span class="span_agregado">AGREGADO</span>
                                    <div class="check_agregado">
                                        <div class="dibujar_linea dibujar_check_agregado"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor_producto_carrusel" data-item="">
                        <div class="contenedor_imagen_carrusel" data-img="">
                            <img data-imagen_producto="" src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200091042201768749_wttltqeyse.png" data-img-lazy="1">
                            <a class="btn_ver_detalle" href="">VER DETALLE</a>
                        </div>
                        <div class="contenedor_detalle_carrusel">
                            <div class="marca_detalle_carrusel">ÉSIKA</div>
                            <div class="descripcion_detalle_carrusel">7 Kalos Sport + 4 Shampoos Mañanas Felic ...</div>
                            <div class="precio_detalle_carrusel">
                                <span class="precio_oferta_normal_carrusel">S/. 875.00</span>
                                <span class="precio_oferta_venta_carrusel">S/. 329.90</span>
                            </div>
                            <div class="contenedor_elige_tu_tono_carrusel">
                                <div class="txt_elige_tu_tono">¡AHORA ELIGE TU TONO!</div>
                                <a id="btnElegirTono" class="btn_elige_tu_tono btn_elige_tu_tono_desactivado" data-btn-elegir-tono="">ELIGE TU OPCIÓN</a>
                            </div>
                            <div class="contenedor_agregar_carrusel">
                                <div class="contenedor_rangos contenedor_rangos_carrusel" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_carrusel ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel mas" data-cantidad-agregar="+">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_carrusel"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_carrusel"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo" class="btn_agregalo btn_agregalo_carrusel btn_agregalo_desactivado" data-btn-agregar-sr="">AGRÉGALO</a>
                            </div>
                            <div class="contenedor_agregado">
                                <div class="txt_agregado">
                                    <span class="span_agregado">AGREGADO</span>
                                    <div class="check_agregado">
                                        <div class="dibujar_linea dibujar_check_agregado"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        for (var i = 1; i <= 5; i++) {
            if (document.getElementById("ficha_tab_" + i.toString()).checked) {
                document.getElementById("contenido_" + i.toString()).style.display = "block";
            }

            document.getElementById("ficha_tab_" + i.toString()).onclick = function (event) {
                var numID = event.target.getAttribute('data-numTab');

                for (var j = 1; j <= 5; j++) {
                    document.getElementById("contenido_" + j.toString()).style.display = "none";
                }

                document.getElementById("contenido_" + numID.toString()).style.display = "block";
            }
        }

        $("#clock").each(function (index, elem) {
            $(elem).FlipClock(50000, {
                countdown: true,
                clockFace: 'HourlyCounter',
                language: 'es-es',
            });
        });

        $("#carrusel").not('.slick-initialized').slick({
            lazyLoad: 'ondemand',
            infinite: true,
            vertical: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: false,
            speed: 260,
            prevArrow: '<a class="contenedor_flecha_carrusel flecha_izquierda_carrusel js-slick-prev slick-arrow"><div class="dibujar_linea dibujar_flecha_carrusel dibujar_flecha_izquierda_carrusel"></div></a>',
            nextArrow: '<a class="contenedor_flecha_carrusel flecha_derecha_carrusel js-slick-next slick-arrow"><div class="dibujar_linea dibujar_flecha_carrusel dibujar_flecha_derecha_carrusel"></div></a>'
        });

        $("#carrusel_tonos").not('.slick-initialized').slick({
            lazyLoad: 'ondemand',
            infinite: true,
            vertical: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: false,
            speed: 260,
            prevArrow: '<a class="contenedor_flecha_carrusel flecha_izquierda_carrusel js-slick-prev slick-arrow"><div class="dibujar_linea dibujar_flecha_carrusel dibujar_flecha_carrusel_tonos dibujar_flecha_izquierda_carrusel"></div></a>',
            nextArrow: '<a class="contenedor_flecha_carrusel flecha_derecha_carrusel js-slick-next slick-arrow"><div class="dibujar_linea dibujar_flecha_carrusel dibujar_flecha_carrusel_tonos dibujar_flecha_derecha_carrusel"></div></a>'
        });
    </script>
}