<script id="lista-opciones-template" type="text/x-handlebars-template">
    {{#each this.Hermanos as |componente|}}
    <ul class="selecion_item list-inline">
        <li class="seleccion_img"><img src="{{componente.ImagenBulk}}" alt=""></li>
        <li class="seleccion_title">{{#Substr 38  componente.NombreBulk}}{{/Substr}}</li>
        {{#iff this.FactorCuadre '==' '1'}}
            {{#iff componente.cantidadSeleccionada '==' '0'}}
                <li class="seleccion_btn" id="li-eligelo-{{componente.Cuv}}">
                    <button id="btn-eligelo-{{componente.Cuv}}"
                            {{#if ../esCampaniaSiguiente}}
                            class="btn_desactivado_general"
                            {{/if}}
                            onclick="javascript: ListaOpcionesModule.SeleccionarOpcion('{{componente.Cuv}}')">
                        Elígelo
                    </button>
                </li>
            {{else}}
                <li class="seleccion_btn" id="li-eligelo-{{componente.Cuv}}">
                    <button id="btn-eligelo-{{componente.Cuv}}"
                            class="active"
                            onclick="javascript: ListaOpcionesModule.SeleccionarOpcion('{{componente.Cuv}}')">
                        Elegido
                    </button>
                </li>
            {{/iff}}
        {{else}}
            <li class="seleccion_btn" 
                id="li-eligelo-{{componente.Cuv}}"
                {{#iff componente.cantidadSeleccionada '!=' '0'}}
                style="display:none"
                {{/iff}}>
                <button id="btn-eligelo-{{componente.Cuv}}"
                        {{#if ../esCampaniaSiguiente}}
                        class="btn_desactivado_general"
                        {{/if}}
                        onclick="javascript: ListaOpcionesModule.SeleccionarOpcion('{{componente.Cuv}}')">
                    Elígelo
                </button>
            </li>
            <li class="seleccion_btn seleccion_cantidad" id="li-cantidad-opciones-{{componente.Cuv}}" 
                {{#iff componente.cantidadSeleccionada '==' '0'}}
                style="display:none"
                {{/iff}}>
                <div class="contenedor_rangos" data-cantidad-contenedor="">
                    <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" 
                           {{#iff componente.cantidadSeleccionada '==' '0'}}
                           value="1"
                           {{else}}
                           value="{{componente.cantidadSeleccionada}}"
                           {{/iff}} size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                    <div>
                        <a class="txt_menos" data-cantidad-agregar="-" onclick="javascript:ListaOpcionesModule.EliminarOpcion({{componente.Cuv}},event)">
                            <div class="dibujar_linea dibujar_menos"></div>
                        </a>
                        <a class="txt_mas" data-cantidad-agregar="+" onclick="javascript:ListaOpcionesModule.SeleccionarOpcion({{componente.Cuv}},event)">
                            <div class="dibujar_linea dibujar_mas"></div>
                        </a>
                    </div>
                </div>
            </li>
        {{/iff}}
        <!-- 
        <li class="seleccion_btn">
            <button onclick="javascript: ListaOpcionesModule.SeleccionarOpcion('{{componente.Cuv}}')">Elígelo</button>
        </li>
        <li class="seleccion_btn seleccion_cantidad" style="display:none;">
            <div class="contenedor_rangos" id="idcontenedor_rangos" data-cantidad-contenedor="">
                <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                <div>
                    <a class="txt_menos" data-cantidad-agregar="-" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                        <div class="dibujar_linea dibujar_menos"></div>
                    </a>
                    <a class="txt_mas" data-cantidad-agregar="+" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                        <div class="dibujar_linea dibujar_mas"></div>
                    </a>
                </div>
            </div>
        </li> -->
    </ul>
    {{/each}}
</script>
