
<script id="template-fichadetallevideo" type="text/x-handlebars-template">
    <div class="video-visual">
        <div class="video-container" style="width: 100%; position: relative;left: 7%;">
            <div id="ytFicha"
                 data-youtube="{ 
                    height:'220', 
                    width:'100%', 
                    enablejsapi:1, 
                    fs:0, 
                    showinfo:0, 
                    modestbranding:1, 
                    loop:1, 
                    videoId: '{{TipoEstrategiaDetalle.UrlVideoDesktop}}', 
                 playerVars:{autoplay:1,rel:0}}"
                 class="yt-video">
            </div>
        </div>
    </div>
</script>