<script id="titulo-opciones-seleccionadas-template" type="text/x-handlebars-template">
    <div>{{{titulo}}}</div>
    <p>{{subtitulo}}</p>
    <button onclick="javascript: ListaOpcionesModule.CloseElegirOpcionesModal();" class="button_cerrar"><img src="/Content/Images/mobile/Esika/close-button.svg" alt=""></button>
</script>