USE [BelcorpMexico]
GO
UPDATE [dbo].[TablaLogicaDatos]  SET Descripcion = 'SOLO MI NEGOCIO L´BEL' where TablaLogicaID = 97 AND CODIGO ='SN'

USE [BelcorpPanama]
GO
UPDATE [dbo].[TablaLogicaDatos]  SET Descripcion = 'SOLO MI NEGOCIO L´BEL' where TablaLogicaID = 97 AND CODIGO ='SN'

USE [BelcorpPuertoRico]
GO
UPDATE [dbo].[TablaLogicaDatos]  SET Descripcion = 'SOLO MI NEGOCIO L´BEL' where TablaLogicaID = 97 AND CODIGO ='SN'

USE [BelcorpCostaRica]
GO
UPDATE [dbo].[TablaLogicaDatos]  SET Descripcion = 'SOLO MI NEGOCIO L´BEL' where TablaLogicaID = 97 AND CODIGO ='SN'

