<div class="popup_cierre_sesion" id="PopupCierreSesion" style="display:none;">
    <div class="popup_cierre_sesion_contenido text-center">
        <div class="popup_cierre_sesion_icono center-block">
        </div>
        <p class="text-center popup_cierre_sesion_mensaje"></p>
        <button class="center-block text-center popup_cierre_sesion_btn popup_cierre_sesion_btn_continuar btn_margen_inferior_30"
                onclick="javascript: continuarSession();">
            Sí, continuar.
        </button>
        <button class="center-block text-center popup_cierre_sesion_btn popup_cierre_sesion_btn_reservar_pedido btn_margen_inferior_30"
                onclick="irReservarPedido()">
            Si, reservar pedido
        </button>
        <button class="center-block text-center popup_cierre_sesion_btn popup_cierre_sesion_btn_cerrar_sesion" sb-cerrar
                onclick="CerrarSesion()">
            No, cerrar sesión.
        </button>
        <button class="center-block text-center popup_cierre_sesion_btn popup_cierre_sesion_btn_cerrar_sesion" sb-ingresar
                onclick="CerrarSesion()">
            Ingresar
        </button>
    </div>
</div>