<div id="bloquemensajesPostulante" style="display: none">
    <div class="bloque_mensajesPedido" style="display: block">
        <div class="icono_cerrar_mensaje" style="top: 16px">
            <span>
                <a href="javascript:void(0);" title="Cerrar" onclick="cerrarMensajePostulante();">
                    <img src="/Content/Images/cerrar_04.png" alt="Cerrar">
                </a>
            </span>
            <span>CERRAR</span>
        </div>
        <div class="icono_estadoPedido">
            <img src="@Url.Content("~/Content/Images/icono_exclamacion_estado_pedido_negro.png")" alt="Icono Estado Pedido" />
        </div>
        <div class="mensajes_estadoPedido">
            <span class="mensaje_estadoActualPedido">TE ENCUENTRAS EN UNA SESIÓN DE PRUEBA</span>
            <span class="mensaje_horarioIngresoPedido">
                Una vez recibas tu código de consultora, podrás acceder a todos los beneficios de Somos Belcorp.
            </span>
        </div>
    </div>
</div>