<div id="ctras" class="caja-traslado" style="display: none;">
    <input type="hidden" id="hdEventoIDShowRoom" />
    <input type="hidden" id="hdNombreEventoShowRoom" />
    <a href="#" class="mover">
        <img id="imgPestaniaShowRoomLateral" alt="imgPestaniaShowRoomLateral" style="max-width: 100% !important;" />
    </a>
    <div class="contenido-ct">
        <div class="titulo_caja_traslado">
            SÓLO FALTAN
        </div>
        <div class="caja_dias">
            <span id="spnDiasFaltantes">12</span>
        </div>
        <div class="titulo_caja_traslado">
            DÍAS
        </div>
        <div style="height: 20px; width: 100%; margin-top: 20px">
            <div class="text_hora">hrs</div>
            <div class="text_hora">min</div>
            <div class="text_hora no_margin_right">sec</div>
        </div>
        <div class="fondo_contador">
            <div class="text_numero"><span id="spnHorasFaltantes">18</span></div>
            <div class="text_bolita">&#8226;</div>
            <div class="text_numero"><span id="spnMinutosFaltantes">25</span></div>
            <div class="text_bolita">&#8226;</div>
            <div class="text_numero"><span id="spnSegundosFaltantes">02</span></div>
        </div>

        <a href=""
           class="boton_showroom" id="lnkConoceMasShowRoomBannerLateral" target="_blank">CONOCE MÁS AQUÍ</a>
    </div>
</div>
<div id="ctrasHoy" class="caja-traslado" style="display: none;">
    <a href="#" class="mover">
        <img id="imgPestaniaShowRoomLateralHoy" alt="imgPestaniaShowRoomLateralHoy" style="max-width: 100% !important;" />
    </a>
    <div class="contenido-ct">
        <div style="width: 154px; height: 197px; margin-left: -8px;">
            <img id="imgVentaTagLateralHoy" alt="" />
        </div>
        <a href="#" class="boton_showroom" id="lnkConoceMasShowRoomBannerLateralHoy">VER OFERTAS AQUÍ</a>
    </div>
</div>