<div class="contenedor_popup_agregarUnidades contenedor_popup_error" id="dialog_PedidoReservado" style="display: none;">
    <div class="popup_agregarUnidades">
        <div class="btn_cerrar_agregarUnidades">
            <a href="javascript:;" onclick="return $('#dialog_PedidoReservado').hide();">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.png")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_popUp">
            <span class="icono_exclamacion"></span>
            <h1 class="titulo_agregarUnidades"><b>PEDIDO RESERVADO</b></h1>
            <div id="mensajePedidoReservado_Error" class="mensaje_agregarUnidades"></div>
            <div style="text-align: center; margin-top: 30px;">
                <input type="button" value="Modificar mi pedido" onclick="ModificarPedido2('1')" class="input_modifica_horizontal btnMensajeCancelar" style="width: 160px; margin-left: 0;" />
                <input type="button" value="Cancelar" onclick="return $('#dialog_PedidoReservado').hide();" class="input_modifica_horizontal btnMensajeAceptar" style="width: 160px; margin-left: 20px;" />
            </div>
        </div>
    </div>
</div>