<div id="DialogMensajesCom" style="display: none;">
    <div class="Content_modal">
        <div class="message_text">
        </div>
    </div>
</div>

<div id="alertDialogMensajes" style="display: none;">
    <div class="terminos_title_2">MENSAJE</div>
    <div class="linea_superior margin_10"></div>
    <div class="pop_pedido_mensaje"></div>
</div>

<div id="divMensajeConfirmacion" style="display: none;">
    <div class="terminos_title_2 divTitle">
        IMPORTANTE
    </div>
    <div class="pop_pedido_mensaje divTexto">
        <p></p>
    </div>
    <div style="text-align: center; margin-top: 30px;">
        <input type="button" value="CANCELAR" onclick="$('#divMensajeConfirmacion').dialog('close');" class="input_modifica_horizontal btnMensajeCancelar" style="width: 100px; margin-left: 0;" />
        <input type="button" value="ACEPTAR" onclick="$('#divMensajeConfirmacion').dialog('close');" class="input_modifica_horizontal btnMensajeAceptar" style="width: 100px; margin-left: 20px;" />
    </div>
</div>

<div id="divMensajeConfDuoPerfecto" style="display: none;">
    <div class="terminos_title_2 divTitle">
        DÚO PERFECTO
    </div>
    <div class="pop_pedido_mensaje divTexto">
        <p></p>
    </div>
    <div style="text-align: center; margin-top: 30px;">
        <input type="button" value="CANCELAR" onclick="$('#divMensajeConfDuoPerfecto').dialog('close');" class="input_modifica_horizontal btnMensajeCancelar" style="width: 100px; margin-left: 0;" />
        <input type="button" value="ACEPTAR" onclick="$('#divMensajeConfDuoPerfecto').dialog('close');" class="input_modifica_horizontal btnMensajeAceptar" style="width: 100px; margin-left: 20px;" />
    </div>
</div>
