<div class="contenedor_popup_agregarUnidades contenedor_popup_error" id="dialog_SesionMainLayout" style="display: none;">
    <div class="popup_agregarUnidades">
        <div class="btn_cerrar_agregarUnidades">
            <a href="javascript:;" onclick="window.location.href='@Url.Action("Index", "Login", new { area = "" })'">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.png")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_popUp">
            <span class="icono_exclamacion"></span>
            <h1 class="titulo_agregarUnidades"><b>SESIÓN FINALIZADA</b></h1>
            <div id="mensajeSesionSB2_Error" class="mensaje_agregarUnidades"></div>
            <button type="button" name="btn_ok" class="btn_ok" onclick="window.location.href='@Url.Action("Index", "Login", new { area = "" })'">
                OK
            </button>
        </div>
    </div>
</div>