<div class="contenedor_popup_agregarUnidades contenedor_popup_error" id="dialog_ErrorMainLayout" style="display: none;">
    <div class="popup_agregarUnidades general_dialog">
        <div class="btn_cerrar_agregarUnidades close_button_dialog">
            <a href="javascript:;" class="d-block popup__somos__belcorp__icono__cerrar" onclick="return $('#dialog_ErrorMainLayout').hide();">
                <img src="@Url.Content("~/Content/Images/icono_cerrar_popup.svg")" alt="Cerrar Popup" />
                @*<img src="@Url.Content("~/Content/Images/btn_cerrar_popup.png")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>*@
            </a>
        </div>
        <div class="contenido_popUp">
            <div class="d-block center-block alert_dialog_icono">
                <img src="@Url.Content("~/Content/Images/alerta-icono.png")" alt="Aviso" />
            </div>
            @*<span class="icono_exclamacion"></span>*@
            <h1 class="titulo_agregarUnidades alert_dialog_title"><b>LO SENTIMOS</b></h1>
            <div id="mensajeInformacionSB2_Error" class="mensaje_agregarUnidades alert_dialog_message"></div>
            <button type="button" name="btn_ok" class="d-block center-block border-radius-4 text-bold btn__sb btn__sb__primary btn__sb__primary--multimarca btn__sb--entendido" onclick="return $('#dialog_ErrorMainLayout').hide();">
                Entendido
            </button>
        </div>
    </div>
</div>

@*<div class="contenedor_popup_agregarUnidades contenedor_popup_error" id="dialog_ErrorMainLayout" style="display: none;">
    <div class="popup_agregarUnidades">
        <div class="btn_cerrar_agregarUnidades">
            <a href="javascript:;" onclick="return $('#dialog_ErrorMainLayout').hide();">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.png")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_popUp">
            <span class="icono_exclamacion"></span>
            <h1 class="titulo_agregarUnidades"><b>LO SENTIMOS</b></h1>
            <div id="mensajeInformacionSB2_Error" class="mensaje_agregarUnidades"></div>
            <button type="button" name="btn_ok" class="btn_ok" onclick="return $('#dialog_ErrorMainLayout').hide();">
                OK
            </button>
        </div>
    </div>
</div>*@