@using Portal.Consultoras.Common
@{
    string controllerAction = this.ViewContext.RouteData.Values["controller"].ToString() + this.ViewContext.RouteData.Values["action"].ToString();
    controllerAction = controllerAction.ToLower();
}

<div class="menu_esika_b">
    <div style="float:right;">
        <div class="campana user-profile oculto">
            <img class="mostrar_perfil" region="Superior" src="/Content/Images/Esika/user.jpg" alt="Esika">
        </div>
        <div class="campana margenIzquierdoOpcionNotificacion @(controllerAction == "bienvenidaindex" ? "oculto" : "")">
            <a href="javascript:;" onclick="Notificaciones();" role="menu" region="Superior" title="Notificaciones" id="lnk-sup-notificacion">
                <div class="campana_svg mensaje_svg"></div>
                <p class="notificaciones notificaciones_existentes js-notificaciones">0</p>
            </a>
        </div>
        <div class="borde_c @(controllerAction == "bienvenidaindex" ? "invisible" : "")"></div>

        <div class="campana cart_compras" style="width: auto;">
            <div class="contenedor_circulos">
                <div class="circulo-1 iniciarTransicion"></div>
                <div class="circulo-2 iniciarTransicion"></div>
                <div class="circulo-3 iniciarTransicion"></div>
            </div>
            <a href="#">
                <div class="campana_svg"></div>
                <p class="notificaciones" id="pCantidadProductosPedido" style="width: 14px;">0</p>
            </a>
            <div class="info_cam">
                <div class="flechita_info"></div>
                <div class="linea_blanca"></div>
                <div id="SinProductos">
                    <div class="sin_productos">
                        Todavía no has agregado
                        <br />ningún producto a tu
                        <br />pedido.
                    </div>
                    <a href="javascript:;" onclick="RedirectIngresaTuPedido();" class="ver_pedido esika">INGRESA TU PEDIDO</a>
                </div>
                <div id="carrito_items"></div>
            </div>

        </div>
        <div class="popover bottom tooltip_agregado" role="tooltip" id="" style="display: block;">
            <div class="arrow"></div>
            <div class="popover-content">
                ¡Genial! 👍 Agregaste una oferta
            </div>
        </div>

        <div class="borde_c"></div>
        <div class="mensaje_header" id="salvavidaTutorial" style="display: none;">
            <div class="campana_svg tutoriales_svg">
                <div class="contenedor_circulosTutorial">
                    <div class="circulo-1 iniciarTransicion"></div>
                    <div class="circulo-2 iniciarTransicion"></div>
                    <div class="circulo-3 iniciarTransicion"></div>
                </div>
                <div class="tooltip_tutorial" style="display: none;">
                    <div class="cerrar_tooltipTutorial">
                        <a href="javascript:void(0);" onclick="ocultarUbicacionTutorial();" title="Cerrar">
                            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup_color_negro.svg")" alt="Cerrar" />
                        </a>
                    </div>
                    <span class="titulo_necesitasAyuda">¿Necesitas ayuda?</span>
                    <span class="descripcion_necesitasAyuda">Hoy te brindamos este salvavidas que te ayudará a comprender la sección en donde te encuentres</span>
                </div>
            </div>
        </div>
        <div class="boton_cam">
            @{
                @:ESTÁS EN <br />
                <span>
                    @if (ViewBag.CampaniaCodigo == null || ViewBag.CampaniaCodigo.ToString().Length < 6)
                    {
                        @:-
                    }
                    else
                    {
                        @:C-@(Util.SubStr((ViewBag.CampaniaCodigo ?? "").ToString(), 4, 2))
                    }
                </span>
            }
        </div>
        <div class="boton_cerrar_s">
            <a href="javascript:;" onclick="CerrarSesion();" role="menu" region="Superior" title="Cerrar Sesión" id="lnk-sup-cerrar-sesion">
                CERRAR<br />SESIÓN
            </a>
        </div>
    </div>
</div>