<div id="divRegistroComunidad" class="wrap">
    <div id="divRegCom_Form" class="Content_modal_Com">
        <div class="webFormCom">
            <div class="div-3">
                ¿Aún no eres parte de nuestra comunidad?
                Ingresa tus datos aquí.
            </div>
            <div class="div-3">
                <div class="formcontrol user">
                    <input id="txtNombreConCom" runat="server" type="text" class="inputForm" value="@ViewBag.NombreC" readonly="readonly" />
                </div>
                <div class="formcontrol user">
                    <input id="txtApellidoConCom" runat="server" type="text" class="inputForm" value="@ViewBag.ApellidoC" readonly="readonly" />
                </div>
                <div class="formcontrol user">
                    <input id="txtUsuarioComunidad" runat="server" type="text" class="inputForm ValidaAlfanumerico" maxlength="25" onpaste="return false;" value="Tu apodo en la comunidad" onfocus="if (this.value == 'Tu apodo en la comunidad') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Tu apodo en la comunidad';}else{if (this.value != 'Tu apodo en la comunidad') {ValidarUsuarioIngresado(this.value);}}" />
                    <div id="ErrorUsuario" style="font-size: 11px; color: red; display: none;">Debe ingresar un apodo.</div>
                    <div id="ValUsuario" style="font-size: 11px; display: none;">
                        <img src="~/Content/Images/loadingCatalogo.gif" style="vertical-align: middle;" alt="Cargando" />
                        Validando...
                    </div>
                </div>
                <div id="ES_Usuario" style="height: 10px; display: none;"></div>
                <div class="formcontrol mail">
                    <input id="txtNuevoCorreoComunidad" runat="server" type="text" class="inputForm" value="Correo electrónico" onfocus="if (this.value == 'Correo electrónico') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Correo electrónico';}else{if (this.value != 'Correo electrónico') {ValidarCorreoIngresado(this.value);}}" />
                    <div id="ErrorCorreo" style="font-size: 11px; color: red; display: none;"></div>
                    <div id="ValCorreo" style="font-size: 11px; display: none;">
                        <img src="~/Content/Images/loadingCatalogo.gif" style="vertical-align: middle;" alt="Cargando" />
                        Validando...
                    </div>
                </div>
                <div id="ES_Correo" style="height: 10px; display: none;"></div>
            </div>
            <div class="div-3">
                <div class="input_validar" style="float: left;">
                    <input id="btnRegistrarUsuarioComunidad" type="button" value="Crea tu cuenta" onclick="return ValidarCorreoComunidad(2)" />
                </div>
            </div>
        </div>
        <div class="webFormComDiv">
        </div>
        <div class="webFormCom">
            <div class="div-3">
                Si ya eres miembro de la Comunidad
                Somos Belcorp, ingresa tu correo aquí:
            </div>
            <div class="div-3">
                <div class="formcontrol mail">
                    <input id="txtCorreoComunidad" runat="server" type="text" class="inputForm" value="Correo electrónico" onfocus="if (this.value == 'Correo electrónico') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Correo electrónico';}else{if (this.value != 'Correo electrónico') {}}" />
                    <div id="ErrorCorreoC" style="font-size: 11px; color: red; display: none;"></div>
                </div>
                <div id="ES_CorreoC" style="height: 10px; display: none;"></div>
            </div>
            <div class="div-3">
                <div class="input_validar" style="float: left;">
                    <input id="btnValidarCorreo" type="button" value="Ingresar" onclick="return ValidarCorreoComunidad(1)" />
                </div>
            </div>
        </div>
    </div>
    <div id="divMenCom_Form" class="Content_modal_Com">
        <div class="div-3">
            <b>¡Gracias por unirte a Somos Belcorp!</b>, una comunidad de mujeres emprendedoras
            <br />
            y apasionadas por el negocio de la belleza.
            <br />
            <br />
            Revisa tu correo y sigue los pasos para ingresar.
            ¡Te esperamos!
            <br />
            <br />
        </div>
        <div class="div-3">
            <div class="input_validar" style="float: left;">
                <input id="btnAceptarMensajeCom" type="button" value="Aceptar" onclick="return $('#divRegistroComunidad').dialog('close');" />
            </div>
        </div>
    </div>
</div>