<script id="resumenCampania-template" type="text/x-handlebars-template">
    <div class="info_productos_carrito">
        He agregado <span>{{cantidadProductos}}</span> unidades.<br />
        Últimos agregados:
    </div>
    {{#each this.ultimosTresPedidos}}
    <div class="productos_agregado_carrito">
        <div class="marca_belcorp">{{DescripcionLarga}}</div>
        <hr class="clear" />
        <div class="descripcion_producto_carrito">{{Split DescripcionProd '|' 0}}</div>
        <div class="marca_belcorp" style="font-size: 13px;">x{{Cantidad}}</div>
        <div class="precio_carrito">{{SimboloMoneda}} {{ImporteTotal}}</div>
    </div>
    {{/each}}
    <div class="pago_pedido_carrito">
        <div class="info_copy">
            <img src="@Url.Content("~/Content/Images/Esika/info-copy.png")" />
            <div class="tooltip_importe">
                <div class="left_reservado">
                    <div class="datos_Reservado">
                        <span>Total sin Dscto. </span>
                        <span>Dscto por niveles</span>
                    </div>
                </div>
                <div class="right_reservado">
                    <div class="datos_Reservado">
                        <span data-pedidototal="">{{SimboloMoneda}} {{montoWebAcumulado}}</span>
                        <span data-montodescuento="">{{SimboloMoneda}} {{#iff DescuentoProl '>' 0}}-{{/iff}}{{DescuentoProlStr}}</span>
                    </div>
                </div>
            </div>
        </div>
        PEDIDO TOTAL
        <span>{{SimboloMoneda}} <span data-pedidocondescuento="">{{montoWebConDescuentoStr}}</span></span>
    </div>
    <hr class="clear" />
    <a href="javascript:;" onclick="RedirectIngresaTuPedido();" class="ver_pedido" role="menu" region="Superior" title="Ver mi pedido" id="lnk-sup-ver-mi-pedido">VER TODO MI PEDIDO</a>
</script>