@model Portal.Consultoras.Web.Models.ReporteConsultoraPedidoSACModels
@{
    ViewBag.Title = "Index";
}

<style>
    .disabled {
        background: none repeat scroll 0 0 burlyWood;
        cursor: default !important;
    }
</style>

<script type="text/javascript">
    var rutaImagenArchivoClientes = '@Url.Content("~/Content/Images/update.png")';
    var rutaImagenCalendar = '@Url.Content("~/Content/Images/calendar.png")';

    $(document).ready(function(){

        $("#btnDescargar").data('click', false);
        $("#btnDescargar").click(function () {
            RealizarDescarga($(this));
        });

        $("#ddlPais").change(function () {
            debugger;
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'BaseAdm/ObtenerCampaniasZonasRegionesPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        var ddlCampania = $("#ddlCampania");

                        if (Id != "") {
                            if (data.lstCampania.length > 0) {
                                for (var item in data.lstCampania) {
                                    if (data.lstCampania[item].CampaniaID) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lstCampania[item].CampaniaID,
                                            text: data.lstCampania[item].Codigo
                                        }));
                                    }
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
                jQuery("#list").jqGrid("clearGridData");
            } else LimpiarDependencias(Id);
        });
    });


    function RealizarDescarga($btnClick) {
        var vMessage = "";

        if ($("#ddlPais").val() == "") {
            vMessage += "Debe seleccionar un País";
        }

        if ($("#ddlCampania").val() == "") {
            vMessage += "Debe seleccionar una Campaña";
        }

        if (vMessage != "") {
            alert(vMessage);
            return false;
        }
        else {
            $btnClick.data('click', true);

            var waiting = {
                message: 'Espere unos minutos, por favor...',
                title: 'Ejecutando Proceso'
            }
            waitingDialog(waiting);

            var JsonData = {
                PaisID: $("#ddlPais").val(),
                CampanaId: $("#ddlCampania").val()
            };

                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'ReporteConsultoraPedidoSAC/RealizarDescargaSinMarcar',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(JsonData),
                    async: true,
                    success: function (data) {
                        if (!checkTimeout(data)) return;

                        closeWaitingDialog();
                        alert(data.message);
                        if (!data.success) return;

                        $("#list").GridUnload();
                        fnGrilla();
                        if (data.cabecera && data.IsFox) {
                            $("#hdnfileHeader").val(data.rutac);
                            $("#hdnfileDetail").val(data.rutad);
                            $("#hdnfileDetailAct").val(data.rutae);
                        }
                    }
                    , complete: function () {
                        $('#btnDescargar').removeClass('disabled');
                        $btnClick.data('click', false); // Termino el click
                    }
                    , error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("Error del Sistema.");
                        }
                    }
                });
        }
    }
</script>


<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Carga de Pedidos Campaña</h1>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">
            <div class="DescargaParams">
                <div class="celda">
                    <span>País:</span>
                    <div class="selectP2 borde_redondeado">
                        @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                    </div>
                </div>
                <div class="celda">
                    <span>Campaña:</span>
                    <div class="selectP2 borde_redondeado">
                        @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaCampania, "CampaniaID", "Codigo"), new { id = "ddlCampania" })
                    </div>
                </div>
            
                <div class="celda">
                    <span></span>
                    <div class="input_add_alert_left">
                        <input type="button" name="" id="btnDescargar" value="Descargar" />
                    </div>
                </div>
            </div>

            <div class="UltimaDescarga">
                <span>Último proceso exitoso de descarga:</span>
                <table id="UltimaDescargaInfo">
                    <tr>
                        <th></th>
                        <th>Fecha/Hora</th>
                    </tr>

                    <tr>
                        <td>Pedidos Web</td>
                        <td><span id="FechaPedidoWeb"></span></td>
                    </tr>
                    <tr>
                        <td>Pedidos DD</td>
                        <td><span id="FechaPedidoDD"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnfileHeader" name="hdnfileHeader" />
    <input type="hidden" id="hdnfileDetail" name="hdnfileDetail" />
    <input type="hidden" id="hdnfileDetailAct" name="hdnfileDetailAct" />
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

