@model Portal.Consultoras.Web.Models.ParametrizarCUVModel
@{
    ViewBag.Title = "Mensaje Parametrizable por CUV";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        IniDialog();
        fnGrilla();

        $('textarea[maxlength]').keyup(function () {

            var limit = parseInt($(this).attr('maxlength'));
            var text = $(this).val();
            var chars = text.length;

            if (chars > limit) {
                var new_text = text.substr(0, limit);
                $(this).val(new_text);
            }

            $("#divCaracteres").html(chars + ' de ' + limit + ' caracteres');

        });

        $("#btnNuevo").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }

            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar la Campaña, verifique.");
                return false;
            }
            $("#hdParametroID").val("0");
            $("#hdPais").val($("#ddlPais").val());
            $("#hdCampania").val($('#ddlCampania').val());
            $("#spanPais").html($("#ddlPais option:selected").html());
            $("#spanCampania").html($('#ddlCampania').val());
            $('#txtMensaje').val('');
            $("#txtMensaje").attr("readonly", false);
            $('#txtCUV').val('');

            var limit = parseInt($('#txtMensaje').attr('maxlength'));
            var text = $('#txtMensaje').val();
            var chars = text.length;

            $("#divCaracteres").html(chars + ' de ' + limit + ' caracteres');

            showDialog("DialogAdministracionMensajeCUV");
        });

        $('#ddlPais').change(function () {
            $("#hdTipoConsulta").attr("value", "0");
            $("#list").jqGrid("clearGridData", true).trigger("reloadGrid");
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.ajax({
                    type: 'GET',
                    url: baseUrl + 'BaseAdm/ObtenerCampaniasZonasPorPais',
                    data: "PaisID=" + (Id == "" ? 0 : Id),
                    cache: false,
                    dataType: 'Json',
                    success: function (data) {
                        if (checkTimeout(data)) {
                            LimpiarDependencias(Id);
                            var ddlCampania = $('#ddlCampania');
                            var ddlCampaniaRZ = $('#ddlCampaniaRegistroZona');

                            ddlCampania.empty();
                            ddlCampaniaRZ.empty();
                            if (data.lista.length > 0) {
                                ddlCampania.append($('<option/>', {
                                    value: "",
                                    text: "-- Seleccionar --"
                                }));
                                ddlCampaniaRZ.append($('<option/>', {
                                    value: "",
                                    text: "-- Seleccionar --"
                                }));
                                if (Id != "") {
                                    for (var item in data.lista) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lista[item].CampaniaID,
                                            text: data.lista[item].Codigo
                                        }));
                                        ddlCampaniaRZ.append($('<option/>', {
                                            value: data.lista[item].CampaniaID,
                                            text: data.lista[item].Codigo
                                        }));
                                    }
                                }
                            }
                            closeWaitingDialog();
                        }
                    },
                    error: function (x, xh, xhr) {
                        if (checkTimeout(x)) {
                            closeWaitingDialog();
                        }
                    }
                });
            } else LimpiarDependencias(Id);
        });

        $("#btnBuscar").click(function () {

            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }

            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar la Campaña, verifique.");
                return false;
            }

            $("#hdTipoConsulta").attr("value", "1");

            fnGrilla();
        });

    });


    function fnGrilla() {

        jQuery("#list").jqGrid({
            url: baseUrl + "ParametrizarCUV/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                CampaniaID: function () { return jQuery.trim($("#ddlCampania").val()); },
                PaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                Consulta: function () { return jQuery.trim($("#hdTipoConsulta").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['', '', '', 'Mensaje', 'CUV', ''],
            colModel: [
                { name: 'ParametroID', index: 'ParametroID', width: 20, editable: true, resizable: false, hidden: true },
                { name: 'PaisID', index: 'PaisID', width: 20, editable: true, resizable: false, hidden: true },
                { name: 'CampaniaID', index: 'CampaniaID', width: 80, editable: true, hidden: true },
                { name: 'Mensaje', index: 'Mensaje', width: 120, editable: true, resizable: false },
                { name: 'CUVs', index: 'CUVs', width: 80, editable: true, resizable: false },
                { name: 'Options', index: 'Options', width: 12, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions, hidden: false }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Mensaje',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ShowActions(cellvalue, options, rowObject) {

        var cellValueInt = parseInt(cellvalue);
        var Des = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + rowObject[0] + "','" + rowObject[3] + "','" + rowObject[4] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Mensaje' title='Editar Mensaje' border='0' /></a>";
        Des += "&nbsp;&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Mensaje' title='Eliminar Mensaje' border='0' /></a>";
        return Des;
    };

    function IniDialog() {
        $('#DialogAdministracionMensajeCUV').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 705,
            draggable: true,
            title: "Registro de Mensaje Personalizable por CUV",
            buttons:
            {
                "Guardar": function () {

                    var parametroID = $("#hdParametroID").val();
                    var paisID = $("#hdPais").val();
                    var campaniaID = $("#hdCampania").val();
                    var mensaje = $("#txtMensaje").val();
                    var cuvs = $("#txtCUV").val().replace(/\n/g, ',');



                    if ($.trim(mensaje) == "") {
                        alert("No ingresó el mensaje.");
                        return false;
                    }

                    if ($.trim(cuvs) == "") {
                        alert("No ingresó los CUVs.");
                        return false;
                    }

                    var params = {
                        ParametroID: parametroID,
                        PaisID: paisID,
                        CampaniaID: campaniaID,
                        Mensaje: mensaje,
                        CUVs: cuvs
                    };

                    jQuery.ajax({
                        type: 'POST',
                        url: baseUrl + 'ParametrizarCUV/Registrar',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(params),
                        async: true,
                        success: function (data) {
                            if (checkTimeout(data)) {
                                if (data.success == true) {
                                    alert(data.message);
                                    HideDialog("DialogAdministracionMensajeCUV");
                                    $("#hdTipoConsulta").val("1");
                                    jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                }
                                else {
                                    alert(data.message);
                                }
                            }
                        },
                        error: function (data, error) {
                            if (checkTimeout(data)) {
                                alert(data.message);
                                HideDialog("DialogAdministracionMensajeCUV");
                            }
                        }
                    });

                },
                "Cancelar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        var ddlCampaniaRZ = $('#ddlCampaniaRegistroZona');
        ddlCampania.empty();
        ddlCampaniaRZ.empty();

        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
        ddlCampaniaRZ.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    }

    $.jgrid.extend({
        Editar: function (Id, mensaje, cuvs) {
            if (Id) {

                $("#hdParametroID").val(Id);
                $("#hdPais").val($("#ddlPais").val());
                $("#hdCampania").val($('#ddlCampania').val());
                $("#spanPais").html($("#ddlPais option:selected").html());
                $("#spanCampania").html($('#ddlCampania').val());
                $('#txtMensaje').val(mensaje);

                $("#txtMensaje").attr("readonly", true);

                var strCUVs = cuvs.replace(/ /g, "").replace(/,/g, "\n");
                $('#txtCUV').val(strCUVs);

                var limit = parseInt($('#txtMensaje').attr('maxlength'));
                var text = $('#txtMensaje').val();
                var chars = text.length;

                $("#divCaracteres").html(chars + ' de ' + limit + ' caracteres');

                showDialog("DialogAdministracionMensajeCUV");
            } else {
                alert("No selecciono el Cliente");
            }
            return false;
        },

        Eliminar: function (Id) {
            var paisID = $("#hdPais").val();

            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;

            waitingDialog({});

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ParametrizarCUV/Eliminar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ PaisID: paisID, ParametroID: Id }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                    }
                }
            });

            return false;
        }
    });
</script>
<input type="hidden" id="hdTipoConsulta" value="0" />
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Mensaje Parametrizable por CUV</span></h1>
            </div>
            <div class="div-3">
                <div class="titA">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" />
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" onclick="return HideDivRegistroZonas();" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>

<div id="DialogAdministracionMensajeCUV" style="display: none;">
    <input type="hidden" id="hdPais" value="" />
    <input type="hidden" id="hdCampania" value="" />
    <input type="hidden" id="hdParametroID" value="" />
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">Pais:</div>
            <div class="selectLogin borde_redondeado">
                <span id="spanPais"></span>
            </div>
            <div class="titB">Campaña:</div>
            <div class="selectLogin borde_redondeado">
                <span id="spanCampania"></span>
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Mensaje:</div>
            <div class="textarea_zona borde_redondeado">
                <textarea id="txtMensaje"  maxlength="250"></textarea>
            </div>
        </div>
        <div class="div-3">
            <div id="divCaracteres" style="text-align:right; padding-right:10px;">0 de 250 caracteres.</div>
        </div>
        <div class="div-3">
            <div class="titB">CUV:<br />(1 por linea)</div>
            <div class="textarea_zona borde_redondeado">
                <textarea id="txtCUV" style="height:100px" ></textarea>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>