**/[Oo]bj/
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/[Bb]in/
**/[Ll]og/

# Mac File
.DS_Store
**/.DS_Store

appspec.yml
appspecWEB.yml
appspecWS.yml
scripts/configuracion_web.bat
scripts/configuracion_ws.bat
scripts/permisos_web.bat
scripts/permisos_ws.bat
scripts/startpool_web.bat
scripts/startpool_ws.bat
scripts/stoppool_web.bat
scripts/stoppool_ws.bat
*.dll
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.orig
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
app/Portal.Consultoras.ServiceHost/bin
app/Portal.Consultoras.Web/bin
app/Portal.Consultoras.Web/obj

# Sonar
.sonarqube/
.scannerwork/
app/.axoCover

# Npm
node_modules/
**/node_modules/**

# Cakebuild
/app/tools/**
!/app/tools/packages.config
