@model Portal.Consultoras.Web.Models.ConfiguracionTipoProcesoCargaPedidosModel
@{
    ViewBag.Title = "Configuracion Tipo Proceso Carga Pedidos";
}
<script type="text/javascript">
    
    $(function () {
        $('#PaisID').change(function () {
            var Id = $(this).val();
            Limpiar();
            if (Id != null && Id != '') {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                
                $.getJSON(baseUrl + 'ConfiguracionTipoProcesoCargaPedidos/GetConfiguracionTipoProcesoCargaPedidos', { PaisID: Id }, function (data) {
                    var lbHas = $('#lbHas');
                    var lbHasNot = $('#lbHasNot');
                    
                    if (data.listaZonas.length > 0) {
                        for (var item in data.listaZonas) {
                            Myhtml_ = '<option class="listZonas" value=' + data.listaZonas[item].ZonaID + ' data-dias=' + data.listaZonas[item].DiasParametroCarga + '>' + data.listaZonas[item].Codigo + '</option>';
                            $("#lbHas").append(Myhtml_);
                        }
                        
                    }

                    if (data.listaZonasNuevoPROL.length > 0) {
                        for (var item in data.listaZonasNuevoPROL) {

                            Myhtml_ = '<option class="listZonasNuevo" value=' + data.listaZonasNuevoPROL[item].ZonaID + ' data-dias=' + data.listaZonasNuevoPROL[item].DiasParametroCarga + '>' + data.listaZonasNuevoPROL[item].Codigo + '</option>';
                            $("#lbHasNot").append(Myhtml_);
                           
                        }
                        
                    }
                    closeWaitingDialog();
                });
            }
        });

        function ordenarSelect(id_componente) {
            var selectToSort = jQuery('#' + id_componente);
            var optionActual = selectToSort.val();
            selectToSort.html(selectToSort.children('option').sort(function (a, b) {
                return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
            })).val(optionActual);
        }

        $(document).on("click", ".listZonas", function () {

            $('.listZonas').removeClass('on');

            $(this).addClass('on');

        });

        $(document).on("click", ".listZonasNuevo", function () {

            $('.listZonasNuevo').removeClass('on');

            $(this).addClass('on');

        });

        $('#btnToHasNot').click(function () {

            var id = parseInt($(this).parent().parent().parent().find('.listZonas.on').val());
            var codigo = $(this).parent().parent().parent().find('.listZonas.on')[0].innerHTML;
            var dias = parseInt($(this).parent().parent().parent().find('.listZonas.on')[0].dataset.dias);
            
            html_ = '<option class="listZonasNuevo" value="' + id + '" data-dias="' + dias + '">' + codigo + '</option>';
                $('#lbHasNot').append(html_);
                
                $(this).parent().parent().parent().find('.listZonas.on').remove();

            ordenarSelect('lbHasNot');
            
        });

        $('#btnAllToHasNot').click(function () {

            var listAll = $('#lbHas .listZonas');

            for (var i = 0; i < listAll.length; i++) {

                if(listAll[i].innerHTML != null)
                {
                    Myhtml_ = '<option class="listZonasNuevo" value=' + listAll[i].value + ' data-dias=' + listAll[i].dataset.dias + '>' + listAll[i].innerHTML + '</option>';
                    $("#lbHasNot").append(Myhtml_);
                }

            }

            $('#lbHas').children().remove();

            ordenarSelect('lbHasNot');

        });

        $('#btnAllToHas').click(function () {
           
            var listAllBack = $('#lbHasNot .listZonasNuevo'); 

            for (var i = 0; i < listAllBack.length; i++) {

                if (listAllBack[i].innerHTML != null) {
                    Myhtml_ = '<option class="listZonas" value=' + listAllBack[i].value + ' data-dias=' + listAllBack[i].dataset.dias + '>' + listAllBack[i].innerHTML + '</option>';
                    $("#lbHas").append(Myhtml_);
                }

            }

            $('#lbHasNot').children().remove();

            ordenarSelect('lbHas');

        });

        $('#btnToHas').click(function () {
            
            var id = parseInt($(this).parent().parent().parent().find('.listZonasNuevo.on').val());
            var codigo = $(this).parent().parent().parent().find('.listZonasNuevo.on')[0].innerHTML;
            var dias = parseInt($(this).parent().parent().parent().find('.listZonasNuevo.on')[0].dataset.dias);

            html_ = '<option class="listZonas" value="' + id + '" data-dias="' + dias + '">' + codigo + '</option>';
            $('#lbHas').append(html_);

            $(this).parent().parent().parent().find('.listZonasNuevo.on').remove();

            ordenarSelect('lbHas');

        });

        $('#btnGrabar').click(function () {
            
            waitingDialog({});
            var PaisID = jQuery.trim($("#PaisID").val());

            var listaZonasPROL = $('#lbHas .listZonas'); 
            var listaZonasNuevoPROL = $('#lbHasNot .listZonasNuevo');


            var JsonData = {
                listaZonasPROL: [],
                listaZonasNuevoPROL: [],
                PaisID: PaisID
            };

            for (var i = 0; i < listaZonasPROL.length; i++) {
                if (listaZonasPROL[i].innerHTML != "") {
                    JsonData.listaZonasPROL.push({
                        "ZonaID": parseInt(listaZonasPROL[i].value),
                        "Codigo": listaZonasPROL[i].innerHTML,
                        "DiasParametroCarga": parseInt(listaZonasPROL[i].dataset.dias)
                    });
                }
            }

            for (var i = 0; i < listaZonasNuevoPROL.length; i++) {
                if (listaZonasNuevoPROL[i].innerHTML != "") {
                    JsonData.listaZonasNuevoPROL.push({
                        "ZonaID": parseInt(listaZonasNuevoPROL[i].value),
                        "Codigo": listaZonasNuevoPROL[i].innerHTML,
                        "DiasParametroCarga": parseInt(listaZonasNuevoPROL[i].dataset.dias)
                    });
                }
            }

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ConfiguracionTipoProcesoCargaPedidos/ConfiguracionTipoProcesoNuevoCargaPedidos',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(JsonData),
                async: true,
                success: function (data) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        var item = data.items;
                        alert(data.message);
                    }
                    else {

                        alert(data.message);
                    }
                },
                error: function (data, error) {
                    closeWaitingDialog();
                    alert("Error del Sistema.");
                }
            });
        });
    });

    function Limpiar() {
        var lbHas = $('#lbHas').children().remove();
        var lbHasNot = $('#lbHasNot').children().remove();
        lbHas.children().empty();
        lbHasNot.children().empty();
    }

 
</script>

<input id="hdFlag" value="0" type="hidden" />
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Configuracion <span>Tipo Proceso Carga Pedidos</span></h1>
            </div>
            <div class="div-3">
                <div class="titJ">País:</div>
                <div class="selectP borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --")
                </div>
                <div class="titD"></div>

            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">

        <div class="border-wrapper">

            <div class="zonatit">
                <h3>Zonas</h3>
            </div>
            <div class="zonatit2">
                <h3>Zonas Configuradas</h3>
            </div>
            <div class="zona1">
                <select id="lbHas" multiple="multiple" name="listaZonasPROL" style="height: 200px;width:100%;">
                </select>

            </div>
            <div class="zona2">
                <input id="btnToHasNot" type="button" value=">" />
                <input id="btnAllToHasNot" type="button" value=">>" />
                <input id="btnAllToHas" type="button" value="<<" />
                <input id="btnToHas" type="button" value="<" />
            </div>
            <div class="zona3">
                <select id="lbHasNot" multiple="multiple" name="listaZonasNuevoPROL" style="height: 200px;width:100%;">
                </select>
               
            </div>
        </div>
        <div class="sep"></div>

        <div class="elements2">
            <div class="div-3">

                <div class="input_validar">
                    <input type="button" value="Grabar" id="btnGrabar" />
                </div>
            </div>
        </div>

    </div>
</div>


