
/* BUSCADOR DE FILTROS PORTAL CONSULTORAS */

.displayBlock{
    display:block;
}

.displayInlineBlock{
    display:inline-block;
    vertical-align:middle;
}

.text-left{
    text-align:left;
}

.buscador_productos {
    display: inline-block;
    vertical-align: middle;
    position:relative;
    left: 7.5px;
    border: 1px solid #E1E1E1;
    background-color: #FFF;
    min-width: 100px;
    max-width: 430px;
    height: 40px;
    border-radius: 4px;
    z-index: 2;
}

.buscador_productos_sin_enlace_menu_socia_empresaria {
    width: 27.7%;
    left: 14px;
}

.buscador_productos_con_enlace_menu_socia_empresaria {
    width: 20.3%;
    left:7.5px;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
    width: 17.6%;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido .buscador_productos{
    left:7px;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido .campo_buscador_productos{
    width:89%;
}

.buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
    width: 25.5%;
    left: 9px;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida {
    width:22.5%;
    left:10px;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida .campo_buscador_productos{
    width:91%;
}

.buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida {
    width: 29.8%;
    left: 16.8px;
}

.buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida .campo_buscador_productos{
    width:93%;
}

.campo_busqueda_fondo_on_focus{  
    display:none;  
    position: relative;
    width: 101%;
    left: -1px;
    top: -40px;
    height: 48px;
    background-color: #FFF;
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index:3;
    -moz-box-shadow: 1px 3px 12px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 1px 3px 12px -3px rgba(0,0,0,0.7);
    box-shadow: 1px 3px 12px -3px rgba(0,0,0,0.7);
}

.franja_blanca{
    position: absolute;
    background-color: #FFF;
    width: 107%;
    height: 16px;
    top: 47px;
    right: 0;
    /*border-right:1px solid #E1E1E1;*/
}

.campo_buscador_productos {
    position: relative;
    left: 15px;
    width: 90%;
    height: 38px;
    border: none;
    padding-left: 0;
    padding-right: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:4;
}

    .campo_buscador_productos::-webkit-input-placeholder {
        color: #808080;
    }

    .campo_buscador_productos:-moz-placeholder {
        color: #808080;
    }

    .campo_buscador_productos::-moz-placeholder {
        color: #808080;
    }

    .campo_buscador_productos:-ms-input-placeholder {
        color: #808080;
    }

    .campo_buscador_productos::-ms-clear{
        display: none;
    }

    .campo_buscador_productos_activo{
        border-bottom:1px solid #000;
    }

.buscador_productos_sin_enlace_menu_socia_empresaria .campo_buscador_productos{
    width:93%;
}

.buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido .campo_buscador_productos{
    width:91.5%;
}

.enlace_busqueda_productos,
.opcion_limpiar_campo_busqueda_productos
{
    height: 39px;
    position: absolute;
    top: 0;
    z-index:4;
}

    .enlace_busqueda_productos img,
    .opcion_limpiar_campo_busqueda_productos img
    {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

.enlace_busqueda_productos {
    width: 40px;
    right: 3px
}

.opcion_limpiar_campo_busqueda_productos {
    width: 17px;
    right: 13px;
}

/* INICIO - TOOLTIP INFORMATIVO SOBRE NOVEDAD DE BUSCADOR DE PRODUCTOS */

.tooltip_informativo_sobre_opcion_busqueda_prod {
    display: block;
    position: absolute;
    top: 38px;
    left: -62px;
    min-width: 206px;
    background-color: #f5f5f5;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    text-align: left;
    padding: 12px 13px;
    font-size: 12.5px;
    z-index:6;
    -moz-box-shadow: 5px 6px 12px -6px #8c8c8c;
    -webkit-box-shadow: 5px 6px 12px -6px #8c8c8c;
    box-shadow: 5px 6px 12px -6px #8c8c8c;
}

.tooltip_informativo_sobre_opcion_busqueda_prod:after,
.tooltip_informativo_sobre_opcion_busqueda_prod:before
{
	bottom: 100%;
	left: 0;
    right:0;
    margin:0 auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip_informativo_sobre_opcion_busqueda_prod:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #f5f5f5;
	border-width: 8px;
}

.tooltip_informativo_sobre_opcion_busqueda_prod:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #d7d7d7;
	border-width: 9px;
}

.novedad_busqueda_titulo{
    font-weight:900;
}

.novedad_busqueda_descripcion{
    display:block;
    margin-top:6px;
}

.icono_tooltip_informativo_opcion_busqueda,
.descripcion_tooltip_informativo_opcion_busqueda
{
    display:inline-block;
    vertical-align:top;
}

.icono_tooltip_informativo_opcion_busqueda{
    width: 19px;
    height: 25px;
    margin-right: 9px;
    padding-top: 1px;
}

.descripcion_tooltip_informativo_opcion_busqueda{
    width:140px;
    overflow-wrap:break-word;
    line-height:15px;
    color:#000;
    font-size:13px;
}

.icono_tooltip_informativo_opcion_busqueda img{
    width:100%;
    height:auto;
}

/* FIN - TOOLTIP INFORMATIVO SOBRE NOVEDAD DE BUSCADOR DE PRODUCTOS */

.lista_resultados_busqueda_productos {
    display: none;
    position: absolute;
    top: 45px;
    right: -2px;
    width: 621px;
    min-height: 250px;
    padding-bottom: 0;
    overflow: hidden;
    background-color: #FFF;
    border: 1px solid #E1E1E1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    -moz-box-shadow: 1px 5px 18px -5px rgba(0,0,0,0.55);
    -webkit-box-shadow: 1px 5px 18px -5px rgba(0,0,0,0.55);
    box-shadow: 1px 5px 18px -5px rgba(0,0,0,0.55);
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*.animarAlturaListaResultadosBusqueda{
    height:417px;
}*/

.spinner{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#FFF;
    z-index:5;
}

.spinner img{
    width:37px;
    height:auto;
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.resultados_wrapper{
    display:none;
    margin-top: 17px;
    width: 98.55%;
    min-height: 65px;
    max-height: 330px;
    overflow: auto;
    position: relative;
    padding-bottom:14px;
}

    .resultados_wrapper::-webkit-scrollbar-track {
        background-color:rgb(226,226,226);
        border-radius: 4px;
    }

.resultado_busqueda_producto{
    padding: 15px 12px 15px 5px;
    border-bottom:1px solid #b0b0b0;
    cursor:pointer;
}

    .resultado_busqueda_producto:first-child{
        padding-top:0;
    }

    .resultado_busqueda_producto:last-child{
        padding-bottom:0;
        border-bottom:none!important;
    }

.resultado_busqueda_img_prod{
    margin-left: 7px;
    width: 125.78px;
    height: 68px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

    .resultado_busqueda_img_prod img{
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: -11px;
        right: 0;
        bottom: 0;
        margin: auto;
    }

.resultado_busqueda_descrip_prod,
.resultado_busqueda_cantidad_prod
{
    font-family:'Lato', sans-serif;
    font-weight:400;
    color:#000;
}

.resultado_busqueda_descrip_prod{
    width:168.33px;
    margin-right:16px;
}

.resultado_busqueda_nom_producto{
    font-size:13px;
    letter-spacing:0.2px;
    overflow-wrap:break-word;
    /*margin-bottom:-3px;*/
    /*text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;*/
}

.resultado_busqueda_precio_normal,
.resultado_busqueda_precio_oferta
{
    vertical-align:bottom;
}

.resultado_busqueda_precio_normal{
    font-size:11px;
    text-decoration:line-through;
    margin-bottom:-4px;
    margin-right:10px;
}

.resultado_busqueda_precio_oferta{
    font-size:14px;
    font-weight:600;
    margin-bottom:3px;
}

.resultado_busqueda_tipo_oferta_prod{
    font-size:10px;
    margin-top:-2px;
    color:#848484;
    text-transform:uppercase;
}

.resultado_busqueda_cantidad_prod{
    margin-right:7px;
}

.resultado_busqueda_cantidad_prod,
.resultado_busqueda_btn_agregar_wrapper
{
    width:122.33px;
}

.resultado_busqueda_cantidad_prod .cantidad_menos_home,
.resultado_busqueda_cantidad_prod .cantidad_mas_home
{
    float: left;
    width: 30%;
    height: 45px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #b0b0b0;
}

.resultado_busqueda_cantidad_prod .cantidad_menos_home{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}

.resultado_busqueda_cantidad_prod .cantidad_mas_home{
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}

.resultado_busqueda_cantidad_prod .rango_cantidad_pedido{
    -webkit-appearance: none;
    width: 40%;
    height: 45px;
    line-height: 48px;
    background: transparent;
    float: left;
    font-family:'Lato', sans-serif;
    font-weight: 700;
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    border-left: none;
    border-right: none;
    color:#000;
}

.resultado_busqueda_btn_agregar_wrapper{
    position:relative;
}

.resultado_busqueda_btn_agregar_wrapper .boton_Agregalo_home {
    margin-top: 0;
    background-color: #000;
    color: #FFF;
}

.resultado_busqueda_btn_agregar_wrapper .boton_Agregalo_home,
.btn_elegir_opcion,
.btn_inactivo
{
    width:100%;
    height: 45px;
    line-height: 44px;
    font-size: 12px;
    letter-spacing:0.5px;
    font-weight: 700;
    border-radius: 4px;
    text-transform:uppercase;
}

.resultado_busqueda_btn_agregar_wrapper .boton_Agregalo_home,
.btn_elegir_opcion
{
    border: 1px solid #000;
}

.resultado_busqueda_btn_elegir_opcion_wrapper{
    width:254px;
}

.btn_elegir_opcion{
    background-color:#FFF;
    line-height:41px;
}

.btn_inactivo{
    background-color:#efefef;
    line-height:45px;
    pointer-events:none;
    cursor:not-allowed!important;
}

.btn_elegir_opcion,
.btn_inactivo
{
    color:#000;
}

.etiqueta_prod_agregado{
    position:absolute;
    margin:0 auto;
    left:0;
    right:0;
    margin-top:5px;
    font-size:11px;
    color:#848484;
}

.icono_elige_tu_opcion{
    margin-right: 4px;
    width: 17px;
    height: 20px;
}

.selector_cant_desactivado{
    opacity:0.3;
}

.selector_cant_desactivado .cantidad_mas_home,
.selector_cant_desactivado .cantidad_menos_home
{
    pointer-events:none;
    cursor:not-allowed!important;
}

.busqueda_sin_resultados {
    display:none;
    padding-top: 30px;
    padding-bottom: 28px;
    min-height:250px;
    height: 100%;
    position:relative;
}

.busqueda_sin_resultados > div{
    position: absolute;
    width: 100%;
    height: 178px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.icono_busqueda_sin_resultados,
.mensaje_busqueda_sin_resultados p:first-child
{
    margin-bottom: 20px;
}

.mensaje_busqueda_sin_resultados {
    font-size: 13px;
}

.mensaje_busqueda_sin_resultados p {
    margin: 0 auto;
    padding: 0;
    width: 31%;
    letter-spacing:0.5px;
}

.mensaje_busqueda_sin_resultados p:first-child {
    font-size: 15px;
    line-height: 20px;
}

@media screen and (max-width:1354px) {

    .buscador_productos_con_enlace_menu_socia_empresaria{
        width:19%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
        width: 17.4%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida{
        width:22.2%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida {
        width: 29.85%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria {
        width: 28.5%;
    }
    
    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
        width: 25.7%;
    }   

}

@media screen and (max-width:1324px) {

    .buscador_productos_con_enlace_menu_socia_empresaria{
        width:17.47%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
        width: 15.85%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida{
        width:20.2%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida {
        width: 28.85%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria {
        width: 26%;
    }
    
    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
        width: 23.2%;
    }     

}

@media screen and (max-width:1299px){

    .buscador_productos_con_enlace_menu_socia_empresaria{
        width:16.15%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria .campo_buscador_productos{
        width:88%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
        width: 13.5%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido .campo_buscador_productos{
        width:84%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida{
        width:18.8%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida .campo_buscador_productos{
        width:89%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida{
        width: 27.58%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria {
        width: 24.85%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
        width: 22%;
    }    

}

@media screen and (max-width:1279px) {

    .buscador_productos_con_enlace_menu_socia_empresaria {
        width: 15%;
        left: 5px;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
        width: 12%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida{
        width:17.5%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida {
        width: 26.4%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria {
        width: 23.75%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
        width: 20.9%;
    }

}

/* FIN - BUSCADOR DE FILTROS PORTAL CONSULTORAS */

/* BUSCADOR DE FILTROS PORTAL CONSULTORAS MOBILE */

@media screen and (max-width:991px){

    .buscador_filtros_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: #FFF;
        padding-left: 10px;
        padding-right: 10px;
        position:relative;
        border-bottom:1px solid #d8d8d8;
        z-index:6;
    }

    .campo_buscador_filtros_mobile {
        width: 100%;
        height: 59px;
        background: #fff;
        color: #000;
        padding-left: 10px;
        padding-bottom: 2px;
        line-height: 57px;
        font-size: 18px;
        font-weight: 700;
    }

        .campo_buscador_filtros_mobile::-webkit-input-placeholder {
            color: #808080;
            font-weight:400;
        }

        .campo_buscador_filtros_mobile:-moz-placeholder {
            color: #808080;
            font-weight:400;
        }

        .campo_buscador_filtros_mobile::-moz-placeholder {
            color: #808080;
            font-weight:400;
        }

        .campo_buscador_filtros_mobile:-ms-input-placeholder {
            color: #808080;
            font-weight:400;
        }

    .enlace_busqueda_filtros,
    .opcion_limpiar_campo_busqueda_productos
    {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
    }

        .enlace_busqueda_filtros img,
        .opcion_limpiar_campo_busqueda_productos img,
        .enlace_regresar_filtros img
        {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    .enlace_busqueda_filtros{
        width: 40px;
        right: 3px;
    }

    .enlace_regresar_filtros {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 21px;
        height: 20px;
        margin-right: 5px;
    }

    .enlace_regresar_filtros img,
    .opcion_limpiar_campo_busqueda_productos img
    {
        width:100%;
        height:auto;
    }

    .opcion_limpiar_campo_busqueda_productos {
        width: 18px;
        right: 13px;
    }

    .resultado_busqueda_producto{
        padding-top: 15px!important;
        padding-bottom: 12px!important;
        border-bottom: 1px solid #b0b0b0!important;
        cursor: pointer;
        position: relative;
    }

    .resultado_busqueda_producto:first-child {
        padding-top: 0;
    }

    .resultado_busqueda_img_prod,
    .resultado_busqueda_img_prod a
    {
        height: 56px;
    }

    .resultado_busqueda_img_prod {
        width: 20%;
        max-width: 200px;
        text-align: center;
        position: relative;
        background-color: #FFF;
    }

    .resultado_busqueda_img_prod img {
        width: 100%;
        height: 56px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: contain;
    }

    .resultado_busqueda_descrip_prod{
        width: 30%;
        margin-left: 12px;
        margin-right: 6px;
    }

    .resultado_wrapper_selector_cantidad_y_btn_agregar {
        width: 41%;
    }

    .resultado_busqueda_nom_producto {
        line-height: 18px;
        margin-bottom:2px;
    }

    .resultado_busqueda_precio_prod {
        margin: 0;
    }

    .resultado_busqueda_precio_normal,
    .resultado_busqueda_precio_oferta
    {
        vertical-align: bottom;
    }

    .resultado_busqueda_precio_normal {
        text-decoration: line-through;
        margin-bottom: -1px;
    }

    .resultado_busqueda_precio_oferta {
        font-weight: 400;
    }

    .resultado_busqueda_cantidad_prod{
        margin-right:0;
        margin-bottom:6px;
    }

    .resultado_busqueda_cantidad_prod .cantidad_menos_home,
    .resultado_busqueda_cantidad_prod .cantidad_mas_home
    {
        line-height:43px;
    }

    .vistaResultadosBusquedaMobile,
    .resultado_busqueda_cantidad_prod,
    .resultado_busqueda_btn_agregar_wrapper,
    .resultado_busqueda_btn_elegir_opcion_wrapper
    {
        width:100%;
    }

    .btn_elegir_opcion{
        line-height: initial;
        padding-top: 11px;
    }

    .etiqueta_prod_agregado{
        position:relative;
    }

    .spinner{
        margin:0 auto;
    }

    .spinner img{
        margin:150px auto;
    }

    .busqueda_sin_resultados{
        min-height:277px;
        z-index:4;
    }

    .mensaje_busqueda_sin_resultados p{
        width:64%;
    }

}

@media screen and (min-width:359px){

    .btn_elegir_opcion span:last-child br {
        display: none;
    }

}

@media screen and (max-width:358px){

    .resultado_busqueda_img_prod{
        width:23%;
        margin-left:9px;
    }

    .resultado_busqueda_descrip_prod{
        width:24%;
    }

    .resultado_wrapper_selector_cantidad_y_btn_agregar{
        width: 43.2%;
    }

}

@media screen and (max-width:351px){

    .resultado_busqueda_descrip_prod{
        width:31%;
    }

    .resultado_wrapper_selector_cantidad_y_btn_agregar {
        width: 35%;
    }

    .btn_elegir_opcion {
        padding-top:6px;
    }

    .btn_elegir_opcion span:last-child{
        width: 61%;
        text-align: left;
    }

}

/* FIN - BUSCADOR DE FILTROS PORTAL CONSULTORAS MOBILE */