
/* BUSCADOR DE FILTROS PORTAL CONSULTORAS */

.displayBlock{
    display:block;
}

.displayInlineBlock{
    display:inline-block;
    vertical-align:middle;
}

.text-left{
    text-align:left;
}

.buscador_productos {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 7.5px;
    border: 1px solid #E1E1E1;
    background-color: #FFF;
    min-width: 100px;
    max-width: 430px;
    height: 40px;
    border-radius: 4px;
    z-index: 2;
}

.buscador_productos_sin_enlace_menu_socia_empresaria {
    width: 29.2%;
    left: 3px;
}

.buscador_productos_con_enlace_menu_socia_empresaria {
    width: 21%;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
    width: 18.25%;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido .buscador_productos{
    left:7px;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido .campo_buscador_productos{
    width:89%;
}

.buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
    width: 26.5%;
    left: 1px;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida {
    width:23.2%;
}

.buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida .campo_buscador_productos{
    width:91%;
}

.buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida {
    width: 31.9%;
    left: 1px;
}

.campo_busqueda_fondo_on_focus{  
    display:none;  
    position: relative;
    width: 101%;
    left: -1px;
    top: -40px;
    height: 47.8px;
    background-color: #FFF;
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index:3;
    -moz-box-shadow: 1px 3px 12px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 1px 3px 12px -3px rgba(0,0,0,0.7);
    box-shadow: 1px 3px 12px -3px rgba(0,0,0,0.7);
}

.franja_blanca{
    position: absolute;
    background-color: #FFF;
    width: 107%;
    height: 16px;
    top: 47px;
    right: 0;
}

.campo_buscador_productos {
    position: relative;
    left: 15px;
    width: 90%;
    height: 38px;
    border: none;
    padding-left: 0;
    padding-right: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:4;
}

    .campo_buscador_productos::-webkit-input-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_productos:-moz-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_productos::-moz-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_productos:-ms-input-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_productos_activo{
        border-bottom:1px solid #000;
    }

.buscador_productos_sin_enlace_menu_socia_empresaria .campo_buscador_productos{
    width:93%;
}

.buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido .campo_buscador_productos{
    width:91.5%;
}

.enlace_busqueda_productos,
.opcion_limpiar_campo_busqueda_productos
{
    height: 39px;
    position: absolute;
    top: 0;
    z-index:4;
}

    .enlace_busqueda_productos img,
    .opcion_limpiar_campo_busqueda_productos img
    {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

.enlace_busqueda_productos {
    width: 40px;
    right: 3px
}

.opcion_limpiar_campo_busqueda_productos {
    width: 17px;
    right: 13px;
}

.lista_resultados_busqueda_productos {
    display: none;
    position: absolute;
    top: 45px;
    right: -2px;
    width: 737px;
    height: 95px;
    padding-bottom: 18px;
    overflow: hidden;
    background-color: #FFF;
    border: 1px solid #E1E1E1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    -moz-box-shadow: 1px 5px 18px -5px rgba(0,0,0,0.55);
    -webkit-box-shadow: 1px 5px 18px -5px rgba(0,0,0,0.55);
    box-shadow: 1px 5px 18px -5px rgba(0,0,0,0.55);
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.animarAlturaListaResultadosBusqueda{
    height:448px;
}

.spinner{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#FFF;
    z-index:5;
}

.spinner img{
    width:37px;
    height:auto;
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.resultados_wrapper{
    display:none;
    margin-top: 17px;
    width: 98.55%;
    min-height: 65px;
    max-height: 408px;
    overflow: auto;
    position: relative;
}

    .resultados_wrapper::-webkit-scrollbar-track {
        background-color:rgb(226,226,226);
        border-radius: 4px;
    }

.resultado_busqueda_producto{
    padding: 15px 12px 15px 5px;
    border-bottom:1px solid #b0b0b0;
    cursor:pointer;
}

    .resultado_busqueda_producto:first-child{
        padding-top:0;
    }

    .resultado_busqueda_producto:last-child{
        padding-bottom:0;
        border-bottom:none;
    }

.resultado_busqueda_img_prod{
    width: 177.78px;
    height: 80px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

    .resultado_busqueda_img_prod img{
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: -11px;
        right: 0;
        bottom: 0;
        margin: auto;
    }

.resultado_busqueda_descrip_prod,
.resultado_busqueda_cantidad_prod
{
    font-family:'Lato', sans-serif;
    font-weight:400;
    color:#000;
}

.resultado_busqueda_descrip_prod{
    width:232.33px;
    margin-right:20px;
}

.resultado_busqueda_nom_producto{
    font-size:14px;
    letter-spacing:0.2px;
    margin-bottom:-3px;
    /*text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;*/
}

.resultado_busqueda_precio_normal,
.resultado_busqueda_precio_oferta
{
    vertical-align:bottom;
}

.resultado_busqueda_precio_normal{
    font-size:12px;
    text-decoration:line-through;
    margin-bottom:1px;
    margin-right:10px;
}

.resultado_busqueda_precio_oferta{
    font-size:16px;
    font-weight:600;
}

.resultado_busqueda_tipo_oferta_prod{
    margin-top:-2px;
    color:#848484;
}

.resultado_busqueda_cantidad_prod{
    margin-right:7px;
}

.resultado_busqueda_cantidad_prod,
.resultado_busqueda_btn_agregar_wrapper
{
    width:122.33px;
}

.resultado_busqueda_cantidad_prod .cantidad_menos_home,
.resultado_busqueda_cantidad_prod .cantidad_mas_home
{
    float: left;
    width: 30%;
    height: 45px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #b0b0b0;
}

.resultado_busqueda_cantidad_prod .cantidad_menos_home{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}

.resultado_busqueda_cantidad_prod .cantidad_mas_home{
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}

.resultado_busqueda_cantidad_prod .rango_cantidad_pedido{
    -webkit-appearance: none;
    width: 40%;
    height: 45px;
    line-height: 48px;
    background: transparent;
    float: left;
    font-family:'Lato', sans-serif;
    font-weight: 700;
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    border-left: none;
    border-right: none;
    color:#000;
}

.resultado_busqueda_btn_agregar_wrapper{
    position:relative;
}

.resultado_busqueda_btn_agregar_wrapper .boton_Agregalo_home {
    margin-top: 0;
    background-color: #000;
    color: #FFF;
}

.resultado_busqueda_btn_agregar_wrapper .boton_Agregalo_home,
.btn_elegir_opcion
{
    width:100%;
    height: 45px;
    line-height: 44px;
    border: 1px solid #000;
    font-size: 12px;
    letter-spacing:0.5px;
    font-weight: 700;
    border-radius: 4px;
}

.resultado_busqueda_btn_elegir_opcion_wrapper{
    width:256px;
}

.btn_elegir_opcion{
    background-color:#FFF;
    color:#000;
}

.etiqueta_prod_agregado{
    position:absolute;
    margin:0 auto;
    left:0;
    right:0;
    margin-top:7px;
    font-size:11px;
    color:#848484;
}

@media screen and (max-width:1354px) {

    .buscador_productos_con_enlace_menu_socia_empresaria{
        width:19%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
        width: 17.4%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida{
        width:22.2%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida {
        width: 29.85%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria {
        width: 28.5%;
    }
    
    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
        width: 25.7%;
    }   

}

@media screen and (max-width:1324px) {

    .buscador_productos_con_enlace_menu_socia_empresaria{
        width:17.47%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
        width: 15.85%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida{
        width:20.2%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida {
        width: 28.85%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria {
        width: 26%;
    }
    
    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
        width: 23.2%;
    }     

}

@media screen and (max-width:1299px){

    .buscador_productos_con_enlace_menu_socia_empresaria{
        width:16.15%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
        width: 13.5%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido .campo_buscador_productos{
        width:84%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida{
        width:18.8%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida{
        width: 27.58%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria {
        width: 24.85%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
        width: 22%;
    }    

}

@media screen and (max-width:1279px) {

    .buscador_productos_con_enlace_menu_socia_empresaria {
        width: 15%;
        left: 5px;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_pedido {
        width: 12%;
    }

    .buscador_productos_con_enlace_menu_socia_empresaria_vista_bienvenida{
        width:17.5%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_bienvenida {
        width: 26.4%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria {
        width: 23.75%;
    }

    .buscador_productos_sin_enlace_menu_socia_empresaria_vista_pedido {
        width: 20.9%;
    }

}

/* FIN - BUSCADOR DE FILTROS PORTAL CONSULTORAS */