
.bc_plantilla_estrategia_personalizada .titulo h2 {
    color: #b52e36;
}

.op-menu-vertical ul li a:hover {
    border-left: 5px solid #B11314;
}

    .op-menu-vertical ul li a:hover p {
        color: #b52e36;
    }

.op-menu-vertical ul li a.activo {
    border-left: 5px solid #B11314;
    color: #B11314 !important;
}

    .op-menu-vertical ul li a.activo p {
        color: #b52e36;
    }

.op-menu-vertical ul li a.activo-dorado {
    color: #B11314 !important;
}

.titulo-menu {
    color: #B11314 !important;
}

.boton-ir a {
    background: #b52e36;
}

.parche_presentacion_contenedor .bloque-titulo .seccion-titulo {
    color: #b52e36;
}

.parche_presentacion_contenedor .bloque-titulo .ir a {
    background: #b52e36;
}



.op-menu-horizontal .subnavegador li .activado {
    border-bottom: 3px solid #B52E36;
    color: #B52E36;
}


