/**/
.bc_menu_estrategia {
    background-color: #808080;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: right center !important;
}
.bc_plantilla_estrategia_personalizada .titulo {
    display: block;
    padding-top: 40px;
    text-align: center;
}
    .bc_plantilla_estrategia_personalizada .titulo h2 {
        display: inline;
        position: relative;
        top: 1px;
        font-size: 17px;
        margin-right: 10px;
        font-weight: bolder !important;
        letter-spacing: 1px;
    } 
.bc_menu_estrategia .logo {
    width: 11%;
    float: left;
    height: 71px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

        .bc_menu_estrategia .logo img {
            width: 100%;
            height: 71px;
            display: none;
        }

    .bc_menu_estrategia .texto-info {
        width: 89%;
        float: left;
        height: 71px;
        display: table;
        padding: 0 5%;
    }

        .bc_menu_estrategia .texto-info .centrar-horizontal {
            display: table-cell;
            vertical-align: middle;
        }

        .bc_menu_estrategia .texto-info p {
            margin-bottom: 3px;
            display: block;
            font-weight: bolder;
            color: white;
            letter-spacing: 1px;
            font-size: 12px;
        }

        .bc_menu_estrategia .texto-info span {
            margin-bottom: 0;
            display: block;
            color: white;
            font-size: 11px;
            letter-spacing: 1px;
        }

        .bc_menu_estrategia .op_menu-horizontal ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

.bc_menu_estrategia .op_menu-horizontal ul li {
    display: inline-block;
    width: 33.1%;
}
            
.bc_menu_estrategia .op_menu-horizontal ul li a.activo {
    background: white !important;
    color: #333 !important;
    text-decoration: none;
}

                .bc_menu_estrategia .op_menu-horizontal ul li:nth-child(2) {
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                }

                .bc_menu_estrategia .op_menu-horizontal ul li a {
                    display: block;
                    background: rgba(255, 255, 255, 0.21);
                    text-align: center;
                    color: white;
                    font-weight: bolder;
                    font-size: 10px;
                    letter-spacing: 2px;
                    height: 36px;
                    padding: 10px 0px;
                    cursor: pointer;
                    transition: .3s;
                    text-transform: uppercase;
                }

                    .bc_menu_estrategia .op_menu-horizontal ul li a:hover {
                        background: white;
                        color: #333;
                        text-decoration: none;
                    }

                    .bc_menu_estrategia .op_menu-horizontal ul li a span {
                        position: relative;
                        top: 1px;
                    }

.sin-active-menu1 {
    color: white !important;
}

.sin-active-menu2 {
    color: #333 !important;
}

.bc_menu_estrategia .op_menu-horizontal ul li a img {
    display: inline;
    margin: auto;
    width: 14px;
    height: 11px;
    margin-right: 5px !important;
    position: relative;
    top: 2px;
}

    .bc_menu_estrategia .op_menu-horizontal ul li a img.hover {
        display: none;
    }

.op-menu-vertical ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.op-menu-vertical ul li {
    margin-top: 10px;
}

.op-menu-vertical ul li a {
    word-wrap: break-word;
    color: #1b1b1b;
    padding: 15px 10px;
    display: block;
    height: auto;
    transition: .3s;
    cursor: pointer;
    background: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.op-menu-vertical ul li a:hover {
    box-shadow: -3px 2px 6px rgba(0, 0, 0, 0.21);
    border-left: 5px solid #B11314;
    text-decoration: none;
}

.op-menu-vertical ul li a.activo {
    border-left: 5px solid #B11314;
    text-decoration: none;
    color: #B11314 !important;
}

.op-menu-vertical ul li a p {
    display: block;
    text-align: left;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 9px;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.titulo-menu {
    color: #B11314 !important;
}

.op-menu-vertical ul li a img {
    display: inline;
}

.op-menu-vertical ul li a p.titulo-estatico {
    display: inline;
    position: relative;
    top: 0px;
    left: 5px;
}

.negrita-p {
    font-weight: bolder;
}

.op-menu-vertical ul li a span {
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 8px;
    color: #888888;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.op-menu-vertical {
    width: 136px;
    position: -webkit-sticky;
    position: absolute;
    left: 0;
    z-index: 100;
}

.bc_menu_estrategia-contenido {
    background: url(img/Rectangle75.png);
    height: 500px;
    background-color: #bf0223;
}
.bc_menu_estrategia-clearfix {
    clear: both;
}

.menu-fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.boton-ir a {
    background: black;
    color: white;
    display: block;
    width: 180px;
    text-align: center;
    margin: auto;
    padding: 10px 0px;
}
.btn-set-previous {
    width: 80px !important;
    height: 80px !important;
}
.previous_ofertas_ept{
    top:23px !important;
}


.previsualizales-ofertas {
    max-width: 700px !important;
}

    @media (max-width: 1100px) {
        .bc_menu_estrategia .logo {
            width: 13%;
        }

        .bc_menu_estrategia .texto-info {
            width: 87%;
        }
    }

    @media (max-width: 950px) {
        .bc_menu_estrategia .logo {
            width: 15%;
        }

        .bc_menu_estrategia .texto-info {
            width: 85%;
        }

            .bc_menu_estrategia .texto-info p {
                font-size: 10px;
            }

            .bc_menu_estrategia .texto-info span {
                font-size: 9px;
            }
    }

    @media (max-width: 850px) {
        .bc_menu_estrategia .logo {
            width: 17%;
        }

        .bc_menu_estrategia .texto-info {
            width: 83%;
        }
    }

.bc_estrategia_contenido {
    min-height: 800px;
}