/* ESTILOS MARCA PAÍS ÉSIKA */

/* HEADER */

.header__marca__pais img{
    width:auto;
    height:100%;
    margin-top:-1px;
}

.icono__actualizarDatos,
.notificaciones__cantidad,
.btn__productos__agregados--IngresarPedido,
.ui-button-text-only .ui-button-text
{
    background-color:#e81c36;
}

.menu__link--pedido{
    background-image:url(../../../images/esika/vineta_indicador.png);
}

.menu__item--campaniaActual{
    /*background-color: #a18328;*/
    background-color:#e81c36;
}

.pestana__marca__pais {
    width:20px;
    height:17px;
    background-color: #FFF;
    background-image: url('/Content/Images/Esika/pestana_esika.png');
    background-size: 20px;
    background-position: center 1px;
    top:-17px;
    left:16.2%;
}

.submenu__lista--miNegocio{
    top:54px;
}

.submenu__lista--miAsesorBelleza{
    margin-top:5px;
}

.submenu__lista--miAsesorBelleza .pestana__marca__pais{
    left:38%;
}

@media screen and (max-width:1270px){

    .header__marca__pais picture{
        height:auto;
    }

}

/*@media screen and (max-width:1249px){

    .header__marca__pais picture{
        height:27px;
    }

}*/

@media screen and (min-width:1207px) and (max-width:1212px){

    .menu__item[data-title="OFERTAS"],
    .menu__item--ofertas
    {
        margin-left: -5px;
    }

}

/*@media screen and (min-width:992px) and (max-width:1206px){

    .header__marca__pais{
        width:106px;
    }

}*/

@media screen and (min-width:992px) and (max-width:1065px){

    .menu__item[data-title="OFERTAS"] img,
    .menu__link--ofertas img
    {
        width: 134.36px;
    }

}

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .header__marca__pais{
        height:33px;
    }

    .header__marca__pais img{
        height:auto!important;
    }

}

/* FIN - HEADER */

/* HEADER MOBILE */

@media screen and (max-width: 991px) and (-ms-high-contrast: none), (max-width: 991px) and (-ms-high-contrast: active) {

    .header__marca__pais{
        background-image:url(/Content/Images/esika/logo_marca_pais_mobile.svg);
        background-repeat:no-repeat;
        background-size:73px;
    }

}

@media screen and (max-width:991px){

    .header__icono__menu img{
        margin-top:6px;
    }

    .header__marca__pais{
        width:136px;
        padding-left:17px;
        /*background-position:59% center;*/
    }

    .header__marca__pais picture {
        margin-top: 3px;
        height:27px;
    }

}

@media screen and (max-width:480px) {

    .header__marca__pais{
        background-position:67% center;
    }

}

/*@media screen and (max-width:370px) {

    .header__marca__pais{
        background-position:79% center;
    }

}*/

/*@media screen and (max-width:350px) {

    .header__marca__pais{
        background-position:89% center;
    }

}*/

/* FIN - HEADER MOBILE */

/* SECCIÓN BREADCRUMBS Y TITULO DE VISTA (VERSIÓN DESKTOP) */

.layout__view__breadcrumbs__wrapper,
.layout__view__title__wrapper
{
    background-color: #f9f9f9;
}

.layout__view__title__text,
.layout__view__title__background
{
    background-color:#000;
}

.layout__view__title__text span{
    color:#FFF;
}

.pestana__lbel{
    display:none;
}

/* FIN - SECCIÓN BREADCRUMBS Y TITULO DE VISTA (VERSIÓN DESKTOP) */

/* POPUPS GENERALES - POPUP CIERRE DE SESIÓN ANTIGUO (DESKTOP) */

.icono_exclamacion {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url(/Content/Images/Esika/icono_exclamacion_esika.png) center center no-repeat;
    margin-bottom: 18px;
    background-size: cover;
}

.btn_ok{
    background: #e81c36;
}

/* FIN - POPUPS GENERALES - POPUP CIERRE DE SESIÓN ANTIGUO (DESKTOP) */

/* POPUPS GENERALES - POPUP CIERRE DE SESIÓN (DESKTOP) */

.icono_sesion_por_finalizar{    
    background-image:url(/Content/Images/Esika/icono_sesion_por_finalizar.svg);
}

.icono_alerta_cierre_sesion{
    background-image:url(/Content/Images/Esika/icono_alerta_cierre_sesion.svg);
}

/* FIN POPUPS GENERALES - POPUP CIERRE DE SESIÓN (DESKTOP) */

/* MIS CATÁLOGOS Y REVISTAS (DESKTOP) */

.layout__content{
    margin-top:28px;
}

.catalogos__campania--actual .catalogos__por__campania__item__imagen--esika{
    min-height:346px;
    z-index:2;
    left:11px;
    order:-2;
}

    .catalogos__campania--actual .catalogos__por__campania__item__imagen--esika img{
        height:346px;
    }

.catalogos__campania--actual .catalogos__por__campania__item__imagen--cyzone{
    order:-3;
}

.catalogos__campania--actual .catalogos__por__campania__item__imagen--lbel{
    left: -33px;
    order:-1;
}

/* FIN - MIS CATÁLOGOS Y REVISTAS (DESKTOP) */

/* MIS CATÁLOGOS Y REVISTAS (MOBILE) */

@media screen and (max-width:991px){

    .indicador__catalogos__revistas.indicador__catalogos__revistas--activo{
        background-color:#e81c36;
    }

    .tabs__catalogos__revistas{
        background-color:#f2f2f2;
    }

    .catalogos__campania--actual .catalogos__por__campania__item__imagen--cyzone,
    .catalogos__campania--actual .catalogos__por__campania__item__imagen--lbel,
    .catalogos__campania--actual .catalogos__por__campania__item__imagen--cyzone img,
    .catalogos__campania--actual .catalogos__por__campania__item__imagen--lbel img
    {
        height:160px;
    }

    .catalogos__campania--actual .catalogos__por__campania__item__imagen--cyzone,
    .catalogos__campania--actual .catalogos__por__campania__item__imagen--lbel
    {
        max-width:122.53px;
    }

    .catalogos__campania--actual .catalogos__por__campania__item__imagen--esika{
        max-width:137px;
        min-height:180px;
        left:0;
    }

        .catalogos__campania--actual .catalogos__por__campania__item__imagen--esika img{
            height:180px;
        }

    .catalogos__campania--actual .catalogos__por__campania__item__imagen--lbel{
        left:-33px;
    }

}

/* FIN - MIS CATÁLOGOS Y REVISTAS (MOBILE) */

/* FIN - ESTILOS MARCA PAÍS ÉSIKA */