
/*  HD-4065 - AJUSTES UI - CAMBIO DE LOOK AND FEEL DE ÉSIKA */

.franja_negra.franja_negra--nuevoLookAndFeelEsika {
    height: 203px;
}

.titulo_principal_interiores.titulo_principal_interiores--nuevoLookAndFeelEsika {
    font-weight: 400 !important;
}
    
    .ubicacion_web span,
    .titulo_principal_interiores.titulo_principal_interiores--nuevoLookAndFeelEsika strong,
    .pedido_ingreso_datos .pedidos_cliente.pedidos_cliente--nuevoLookAndFeelEsika {
        font-weight: 700 !important;
    }

.ubicacion_web span,
.ubicacion_web a,
.ubicacion_web a:hover,
.titulo_principal_interiores.titulo_principal_interiores--nuevoLookAndFeelEsika,
.pedido_ingreso_datos_icono_mas--nuevoLookAndFeelEsika,
.pedido_ingreso_datos .pedidos_cliente.pedidos_cliente--nuevoLookAndFeelEsika {
    color: #000 !important;
}

.ubicacion_web a{
    font-weight:400;
}

/*  FIN - HD-4065 - AJUSTES UI - CAMBIO DE LOOK AND FEEL DE ÉSIKA */
