.revistadigital .revistadigital-desc span {
    color: #e81c36;
}

.revistadigital .revistadigital-baj a {
    color: #e81c36;
}

.revistadigital .arrow-right {
    border-left: 5px solid #e81c36;
}

.revistadigital .boxoffer .fondo_boton {
    background: #e81c36;
}

.titulo_set_banner_ept {
    color: #e81c36;
}

.rd_logo {
    background: rgba(233,27,55,1);
    background: -moz-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(233,27,55,1)), color-stop(31%, rgba(233,27,55,1)), color-stop(100%, rgba(157,7,29,1)));
    background: -webkit-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: linear-gradient(135deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e91b37', endColorstr='#9d071d', GradientType=1 );
}

/* boton rojo */
.rd_btn_rojo {
    background: #e81c36;
}

.rd_btn_rojo:after {
    background: rgba(233,27,55,1);
    background: -moz-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(233,27,55,1)), color-stop(31%, rgba(233,27,55,1)), color-stop(100%, rgba(157,7,29,1)));
    background: -webkit-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: linear-gradient(135deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
}
/* fin boton rojo*/

.rd_inscripcion .popup_rd_content .btn_diagonal {
    background: #e81c36;
}

    .rd_inscripcion .popup_rd_content .btn_diagonal:after {
        background: -webkit-linear-gradient(84deg, rgb(179, 132, 47), rgb(217, 180, 60));
        background: -o-linear-gradient(84deg, rgb(179, 132, 47), rgb(217, 180, 60));
        background: linear-gradient(84deg, rgb(179, 132, 47), rgb(217, 180, 60));
    }

.home_block_rd {
    background-color: #e91b37;
}

.home_rd {
    background-color: rgba(233,27,55,1);
}

    .home_rd .btn_diagonal:after {
        background: -webkit-linear-gradient(top left, #cc0e27 0, #cc0e27 31%, rgb(157,7,29) 100%);
        background: -o-linear-gradient(top left, #cc0e27 0, #cc0e27 31%, rgb(157,7,29) 100%);
        background: linear-gradient(to bottom right, #cc0e27 0, #cc0e27 31%, rgb(157,7,29) 100%);
    }

.gana-mas .txt-img-cont-tres {
    background: url('/Content/Images/Esika/consejos-y-tips-visual.png');
}

.como-funciona .caja-img .visual-funcionamiento {
    background: url('/Content/Images/Esika/visual-de-funcionamiento.png');
}

.como-funciona .caja-club-derecha hr {
    background: #e81c36;
}

.como-funciona .caja-club-derecha hr.dorado{
    background: #c39934 !important;
}

/* POPUP CONFIRMACION DE DATOS */
.boton_popup_confirmacion_datos {
    background: #e81c36 !important;
}

.popup_confirmacion_datos .contenido-table-datos .cont-datos .form-confirmacion .loader-confirmacion {
    background: url('/Content/Images/Esika/loading_circle.gif');
}

/*BOTON NO ANIMADO*/
.bg_activar_boton_no_animado {
    background: black;
}

.activar_boton_lbel_no_animado {
    background-color: #e81c36 !important;
}

.activar_boton_rojo_a_blanco a {
    background: linear-gradient(to right, #e81c36 50%, white 50%);
}

.logo_no_suscrita {
    background: url(/Content/Images/Esika/RevistaDigital/logo_esika_diagonal.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}


.club_gana_mas_pedido .logo_club {
    background: url(/Content/Images/Esika/RevistaDigital/logo_esika_diagonal.png);
}