.revistadigital-popup {
    background: url('../../../Images/Esika/RevistaDigital/POPUP.png') no-repeat;
    max-height: 621px;
    background-size: 621px;
}

/*MI REVISTA*/
.revistadigital {
    /*background: url(http://d33wubrfki0l68.cloudfront.net/img/4a19dc81ab45c532e80be57f07d17242b1fb4d77/parallax-3.jpg) no-repeat;*/
    background-position: center top;
	margin-top: 30px;
	text-align: center;
    height: auto;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.revistadigital .pedido{
    background: #f8f8f8;
    box-shadow:3px 9px 0px 8px rgb(255, 255, 255);
    -webkit-box-shadow: 3px 9px 0px 8px rgb(255, 255, 255);
    -moz-box-shadow: 3px 9px 0px 8px rgb(255, 255, 255);
}
.revistadigital .pedido.mobile{
    background: #f0f0f0;
    box-shadow: none;
}
.revistadigital .pedido p.marca:before{
    border: 0px solid;
}
.revistadigital .pedido .giftext:after {
    border: 0px solid;
}
.revistadigital .pedido .giftext{
    top: 0;
}
.revistadigital .revistadigital-content {
	max-width: 1189px;
	margin: 0 auto;
    height: auto;
	position: relative;
}
.revistadigital .revistadigital-content img {
  width: auto;
    height: 100%;
}
.revistadigital p.marca {
	font-size: 30px;
	letter-spacing: 9px;
	display: inline-block;
    margin: auto;
}
.revistadigital p.marca:before {
	content: '';
	width: 120px;
	border-bottom: solid 1px #000;
	position: absolute;
	left: 300px;
	top: 68px;
	z-index: 1;
}
.revistadigital .giftext:after {
	content: '';
	position: absolute;
	left: 180px;
	top: 38px;
	z-index: 1;
    width: 120px;
    border-bottom: solid 1px #000;
}
.revistadigital .giftext {
	display: inline-block;
	position: relative;
	top: 30px;
}
.revistadigital .giftext img {
	height: 75px;
}
.revistadigital .revistadigital-desc {
	font-size: 13px;
	margin-top: 35px;
}
.revistadigital .revistadigital-desc span {
	color: #e81c36;
	font-family: 'Lato-Bold';
}
.revistadigital .revistadigital-baj {
	font-size: 12px;
	margin-top: 25px;
}
.revistadigital .revistadigital-baj a {
	text-decoration: underline;
	color: #e81c36;
}
.revistadigital .arrow-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #e81c36;
	left: 415px;
	position: absolute;
	top: 153px;
}
.revistadigital .revistadigital-items {
	max-width: 1189px;
	height: 404px;
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
}
.revistadigital .revistadigital-items img {
	height: 340px;
	-webkit-box-shadow: 0px 15px 21px -8px rgba(150, 150, 150, 0.6);
	-moz-box-shadow: 0px 15px 21px -8px rgba(150, 150, 150, 0.6);
	box-shadow: 0px 15px 21px -8px rgba(150, 150, 150, 0.6);
}
.revistadigital .revistadigital-items .item2 {
	margin: 0 20px;
}
.revistadigital .revistadigital-items .item3 {
	margin: 0 20px 0px 0px;
}
.revistadigital .boxoffer {
	width: 145px;
    height: 90px;
    position: absolute;
    top: 332px;
    right: -42px;
    background: transparent;
    overflow: hidden;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
}

.revistadigital .boxoffer:hover{
    opacity:0.95;
    right:-35px;
}

.revistadigital .boxoffer .fondo_boton {
    width: 100%;
    height: 84px;
    background: #e81c36;
    transform: skewX(-14deg);
    position: absolute;
    left: -14px;
    background: -moz-linear-gradient(top, rgba(213,37,31,1) 0%, rgba(163,16,18,1) 100%);
    background: -webkit-linear-gradient(top, rgba(213,37,31,1) 0%, rgba(163,16,18,1) 100%);
    background: -o-linear-gradient(top, rgba(213,37,31,1) 0%, rgba(163,16,18,1) 100%);
    background: -ms-linear-gradient(top, rgba(213,37,31,1) 0%, rgba(163,16,18,1) 100%);
    background: linear-gradient(to bottom, rgba(213,37,31,1) 0%, rgba(163,16,18,1) 100%);
    box-shadow: 3px 2px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 2px 5px rgba(0,0,0,0.25);
    -o-box-shadow: 3px 2px 5px rgba(0,0,0,0.25);
    -ms-box-shadow: 3px 2px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 3px 2px 5px rgba(0,0,0,0.25);
}

.revistadigital .boxoffer .texto_boton{
    position: absolute;
    font-family: 'Lato';
    font-size: 13px;
    color: #FFF;
    top: 18px;
    left: 23px;
    text-align: left;
    width: 90px;
    line-height: 17px;
}

.revistadigital .boxoffer .texto_boton:after{
    width: 20px;
    height: 50px;
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    background: url(../../../Images/flecha-right.svg) no-repeat center center;
    background-size: 100%;
    z-index: 100;
}
/*.revistadigital .boxoffer p{
    text-align: left;
    position: absolute;
    font-size: 9px;
    top: 18px;
    left: 6px;
    line-height: 13px;
    color: white;
    font-family: 'Lato-Light';
    letter-spacing: 1px;
}
.revistadigital .boxoffer img {
	height: 100%;
	width: 100%;
	box-shadow: -3px 3px 7px 0px rgba(150, 150, 150, 0.6);
}*/
.revistadigital-landing .content_item_carrusel{
    width: auto;
}

.revistadigital-title {
    display: block;
    width: 100%;
    max-width: 1114px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:14px;
}

.revistadigital-title .logo-marca, .revistadigital-title .linea-separacion, .revistadigital-title .titulo_nuevaRevista {
    display: inline-block;
    vertical-align: middle;
}

.revistadigital-title .logo-marca {
    width: 245px;
    height: auto;
    margin-left:103px;
}

.revistadigital-title .logo-marca img{
    width: 100%;
    height: auto;
    position: relative;
    top: 31px;
}

.revistadigital-title .linea-separacion {
    width: 1px;
    background: #000;
    height: 78px;
    margin-top: 14px;
    margin-left: -30px;
    margin-right: 41px;
    transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
}

.revistadigital-title .titulo_nuevaRevista {
    width: 653px;
    text-align: left;
    padding-top:12px;
}

.revistadigital-title .mensajeConsultora_nuevaRevista {
    display:block;
}

.revistadigital-title .mensajeConsultora_nuevaRevista.texto_nuevaRevista{
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 900;
}

.revistadigital-title .mensajeConsultora_nuevaRevista.texto_encuentraOfertas{
    font-family: 'Lato Light';
    font-size: 20px;
}

.background-revistaSeccion{
    display: block;
    width: 415px;
    height: 100vh;
    top: 9px;
    position: absolute;
    background: url(../../../Images/mujer-seccion-revista-bienvenida.png) no-repeat -194px -71px;
    background-size: 150%;
}

.fondo_gris{
    position:relative;
}

/* POPUP REVISTA SUSCRIPCIÓN */

.contenedor_popup_revistaSuscripcion {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1015px;
    top: 50%;
    margin: -286px auto 0 auto;
}

.popup_revistaSuscripcion{
    display: block;
    width: 100%;
    height: 572px;
    background: #FFF;
    position: relative;
    overflow: hidden;
    padding-left: 43px;
    padding-bottom: 43px;
}

.background_popupEsika{
    display: block;
    position: absolute;
    width: 774px;
    left: -136px;
    height: 100%;
    background: #CCC;
    transform: skewX(-14deg);
    -moz-transform: skewX(-14deg);
    -o-transform: skewX(-14deg);
    -ms-transform: skewX(-14deg);
    -webkit-transform: skewX(-14deg);
    background: -moz-linear-gradient(-45deg, rgba(177,19,19,1) 0%, rgba(197,31,28,1) 20%, rgba(223,40,34,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(177,19,19,1) 0%, rgba(197,31,28,1) 20%, rgba(223,40,34,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(177,19,19,1) 0%, rgba(197,31,28,1) 20%, rgba(223,40,34,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(177,19,19,1) 0%, rgba(197,31,28,1) 20%, rgba(223,40,34,1) 100%);
    background: linear-gradient(135deg, rgba(177,19,19,1) 0%, rgba(197,31,28,1) 20%, rgba(223,40,34,1) 100%);
}

.popup_revistaSuscripcion_logoMarca, .popup_revistaSuscripcion_contenido, .popup_revistaSuscripcion_grupoBotones, .popup_revistaSuscripcion_terminos{
    display:block;
    position:relative;
    z-index:2;
    width:608px;
}

.popup_revistaSuscripcion_logoMarca {
    width: 243px;
    height: 128px;
    left: -15px;
    margin-top:14px;
    margin-bottom: 10px;
}

.popup_revistaSuscripcion_logoMarca img{
    width:100%;
    height:auto;
}

.popup_revistaSuscripcion_contenido span{
    display: block;
    font-size: 18px;
    color: #FFF;
    letter-spacing: 1.5px;
}

.popup_revistaSuscripcion_contenido span:first-child{
    font-family: 'Lato';
    margin-bottom: 14px;
    font-weight: 700;
}

.popup_revistaSuscripcion_contenido span.porcentaje_descuento {
    display: inline-block;
    font-size: 22px;
}

.popup_revistaSuscripcion_contenido span:nth-child(2){
    font-family:'Lato';
    margin-bottom:47px;
}

.popup_revistaSuscripcion_grupoBotones {
    margin-bottom: 36px;
}

.popup_revistaSuscripcion_grupoBotones button{
    display:block;
    width:312px;
    height:59px;
    margin-bottom:10px;
    line-height:59px;
    border:none;
    text-align:center;
    font-family:'Lato';
    letter-spacing:0.5px;
    font-size:15px;
}

.popup_revistaSuscripcion_grupoBotones button:first-child{
    background:#000;
    color:#FFF;
}

.popup_revistaSuscripcion_grupoBotones button:nth-child(2){
    color:#000;
    border:1px solid #000;
    background:transparent;
}

.popup_revistaSuscripcion_terminos {
    width: 427px;
    font-family: 'Lato';
    font-size: 13px;
    color: #FFF;
    letter-spacing: 1px;
}

.popup_revistaSuscripcion_terminos a {
    display: inline-block;
    text-decoration: underline;
}

.popup_revistaSuscripcion .img_modeloRevista {
    display: block;
    position: absolute;
    bottom: -6px;
    right: 0px;
}

.popup_revistaSuscripcion_noAMostrarMensaje {
    display: block;
    width: 213px;
    margin-top: 7px;
    font-family: 'Lato';
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
}

.popup_revistaSuscripcion_noAMostrarMensaje a {
    text-decoration: underline;
    transition:opacity 0.3s ease;
    -moz-transition:opacity 0.3s ease;
    -o-transition:opacity 0.3s ease;
    -ms-transition:opacity 0.3s ease;
    -webkit-transition:opacity 0.3s ease;
}

.popup_revistaSuscripcion_noAMostrarMensaje a:hover{
    opacity:0.7;
}
