
.default-color {
    color:  #e81c36;
}

.default-background {
    background-color:  #e81c36;
}

.default-background-color {
    background-color:  #e81c36;
}

.default-border-hover:hover {
    border-color: #e81c36 !important;
}

.multimarca-background-color{
    background-color:#b9007e;
}