/* ESTILOS MARCA PAÍS ÉSIKA */

.header__marca__pais img{
    width:auto;
    height:100%;
    margin-top:-1px;
}

.icono__actualizarDatos,
.notificaciones__cantidad,
.btn__productos__agregados--IngresarPedido
{
    background-color:#e81c36;
}

.menu__link--pedido{
    background-image:url(../../../images/esika/vineta_indicador.png);
}

.menu__item--campaniaActual{
    background-color: #a18328;
}

.pestana__marca__pais {
    width:20px;
    height:17px;
    background-color: #FFF;
    background-image: url('/Content/Images/Esika/pestana_esika.png');
    background-size: 20px;
    background-position: center 1px;
    top:-17px;
    left:10.3%;
}

.submenu__lista--miNegocio{
    top:54px;
}

.submenu__lista--miAsesorBelleza{
    margin-top:7px;
}

.submenu__lista--miAsesorBelleza .pestana__marca__pais{
    left:38%;
}

@media screen and (max-width:1270px){

    .header__marca__pais picture{
        height:29px;
    }

}

@media screen and (max-width:1249px){

    .header__marca__pais picture{
        height:27px;
    }

}

@media screen and (max-width:991px){

    .header__marca__pais{
        width:136px;
    }

    .header__marca__pais picture {
        margin-top: 3px;
    }

}

/* FIN - ESTILOS MARCA PAÍS ÉSIKA */