
/* HD-3307 - TU VOZ ONLINE */

.layout__view__breadcrumbs__wrapper,
.layout__header--menuContenedorOfertas {
    display: none!important;
}

.layout__main__content--tuVozOnline{
    margin-top:60px;
    background-color:#f5f5f5;
    min-height:218px;
}

    .layout__main__content--tuVozOnline .layout__content,
    .tu__voz__online__confirmacion__correo__form__wrapper{
        flex:0 0 524px;
        max-width:524px;
    }

    .enlace__volver__atras {
        width: 95px;
        height: 26px;
        margin-bottom: 20px;
    }

    .enlace__volver__atras__icono{
        margin-right:8px;
    }

.layout__main__content--tuVozOnline .layout__content{
    margin-bottom:100px;
}

.tu__voz__online__confirmacion__correo__form__wrapper {
    background-color: #FFF;
    min-height: 368px;
    padding: 40px 55px 50px 55px;
}

.tu__voz__online__confirmacion__correo__titulo{
    font-size:20px;
    color:#000;
    margin-top:20px;
    margin-bottom:56px;
    flex:0 0 100%;
    max-width:100%;
}

.form__group__fields--correoElectronico {
    margin-bottom: 30px;
}

.form_group_fields--terminosYCondiciones {
    margin-bottom: 40px;
}

.enlace__terminos__y__condiciones{
    font-size:14px;
}

.btn__sb--actualizar {
    flex: 0 0 279px;
    max-width: 279px;
}

.icono__confirmacion__correo__wrapper {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
}

    .icono__confirmacion__correo{
        width:100%;
        height:auto;
    }

.icono__confirmacion__correo__wrapper + .tu__voz__online__confirmacion__correo__titulo{
    margin-top:0;
    margin-bottom:6px;
}

.icono__confirmacion__correo__wrapper + .tu__voz__online__confirmacion__correo__titulo + p{
    margin-bottom:8px;
}

.correo__registrado__actual {
    font-size: 16px;
}

.enlace__actualizar__correo{
    margin-bottom:72px;
}

.notificacion__estado--exito--reenvioCorreo{
    margin-top:24px;
}

@media screen and (max-width:991px) {
    .layout__footer--mobile{
        display:none!important;
    }

    .layout__main__content--tuVozOnline .layout__content {
        margin: 0;
        padding: 0;
    }

    .layout__main__content--tuVozOnline .layout__content,
    .tu__voz__online__confirmacion__correo__form__wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .enlace__volver__atras {
        position: absolute;
        top: 19px;
        left: 26px;
        margin-bottom: 0;
    }

        .enlace__volver__atras__icono {
            width: 18px;
            height: 18px;
        }

            .enlace__volver__atras__icono img {
                width: 100%;
                height: auto;
            }

        .tu__voz__online__confirmacion__correo__form__wrapper {
            padding: 26px;
        }

    .tu__voz__online__confirmacion__correo__titulo {
        letter-spacing: 0.1px;
    }

    .tu__voz__online__confirmacion__correo__titulo,
    .icono__confirmacion__correo__wrapper{
        margin-top:56px;
    }

    .enlace__terminos__y__condiciones {
        font-size: 13px;
    }

    .btn__sb--actualizar {
        width: 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }

}

.mensaje_validacion_campo {
    color: #e81c36;
    font-size:13px;
    position:relative;
    top:-2px;
}

.mensaje_validacion_campo--vistasActualizacion{
    margin-top: 4px;
    font-size: 13px;
    top:0;
}

/* FIN - HD-3307 - TU VOZ ONLINE */
