use BelcorpPeru 
go
Alter PROCEDURE AprobarProductoComentarioDetalle  
(  
 @ProdComentarioId INT,  
 @ProdComentarioDetalleId BIGINT,  
 @Estado TINYINT  
)  
AS  
BEGIN  
 UPDATE ProductoComentarioDetalle SET Estado = @Estado, FechaAprobacion = GETDATE()   
 WHERE ProdComentarioDetalleId = @ProdComentarioDetalleId  
  
 DECLARE @aprobados INT, @recomendados INT, @promValorizado INT  
  
 SELECT   
  @aprobados = COUNT(ProdComentarioDetalleId),   
  @recomendados = SUM(CAST(Recomendado AS TINYINT)),   
  @promValorizado = CAST((CAST(AVG( Convert(float,Valorizado)) AS FLOAT)/5)*100 AS INT)  
 FROM ProductoComentarioDetalle   
 WHERE ProdComentarioId = @ProdComentarioId AND Estado = 2  
 GROUP BY ProdComentarioId  
  
 UPDATE ProductoComentario  
 SET CantAprobados = @aprobados,  
  CantRecomendados = @recomendados,  
  PromValorizado = @promValorizado  
 WHERE ProdComentarioId = @ProdComentarioId  
  
 SELECT 1  
END  