
/*Mobile*/
.box_producto_mobile_fix {
    padding: 0px 12px;
}

.btn_elige_tono {
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 13px;
}

.btn_elige_tono div img{
    margin-right: 5px;
}

.btn_agregalo {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 44px;
    background: #000;
    color: #fff;
    text-align: center;
    border: 1px solid #000;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}

.boton_Agregalo_home{
    border-radius: 4px;
}

.cantidad_menos_home {
    border-radius: 4px 0px 0px 4px;
}

.cantidad_mas_home {
    border-radius: 0px 4px 4px 0px;
}
.contenedor_carrusel_home .content_item_carrusel_clubganamas_off a.portada, .btn_agregar_ficha_producto {
    border-radius: 4px;
}

.caja-borde {
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.producto-agotado > div:nth-child(2), .producto-agotado .producto_contenido {
    opacity: .45;
}

    .producto-agotado > div:nth-child(2) .producto_img_mobile_bpt img, .producto-agotado > div:nth-child(2) .producto_img_home img, .producto-agotado > div:nth-child(2) img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .7;
    }

.boton_producto_agotado {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #B9B9B9;
    padding-top: 3px;
    text-align: center;
    margin-bottom: 8px;
}



