@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }
    </style>
}

<div class="titulo_mobile">
    <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar">

    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;ENTERATE MÁS
</div>

<div>
    <img src="@Url.Content("~/Content/Images/mobile/landing_mobile_8.jpg")" style="width: 100%;" />    
</div>
