<!-- INICIO SECCION ISSUE -->
<div class="content_revistas_mobile">
    <a class="previous_revistas_mobile" style="left: -30px"><img src="@Url.Content("~/Content/Images/mobile/Esika/previous_ofertas_home.png")" alt="-" onclick="RevistaMostrar(-1, this)" /></a>
    <a class="next_revistas_mobile" style="right: -30px"><img src="@Url.Content("~/Content/Images/mobile/Esika/next.png")" alt="-" onclick="RevistaMostrar(1, this)" /></a>
    <a id="lbPortadaGana" href="javascript:;" onclick="MostrarMiRevista();">
        <img src="@Url.Content("~/Content/Images/revista_no_disponible.jpg")" alt="-" id="imgPortadaGana" />
    </a>
</div>
<!-- FIN SECCION ISSUE-->