
/* PÁGINA DE RESULTADOS DESKTOP */

.layout__content__wrapper{
    max-width:1169px;
}

.busqueda__productos__titulo{
    font-size:25px;
    font-weight:900;
    letter-spacing:1.5px;
    padding-top:10px;
    margin-bottom:12px;
}

.busqueda__productos__encontrados{
    font-size:13px;
    letter-spacing:0.2px;
}

.lista__opciones_ordenamiento{
    padding-top:10px;
    position:relative;
}

.opcion__ordenamiento__label,
.opcion__ordenamiento__dropdown
{
    vertical-align:middle;
}

.opcion__ordenamiento__label{
    position:relative;
    padding-right:10px;
    top:0;
    margin-bottom:0;
    font-size:13px;
    font-weight:bold;
    letter-spacing:0.5px;
}

.opcion__ordenamiento__label:before{
    display:none;
}

.opcion__ordenamiento__label:after{
    display:inline-block;
    margin-left:3px;
    content:"por :";
}

.opcion__ordenamiento__dropdown {
    height: 35px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    position: relative;
    cursor: pointer;
}

.opcion__ordenamiento__dropdown__seleccionada{
    padding-top:5px;
    position:relative;
    z-index:5;
}

.opcion__ordenamiento__dropdown__icono {
    position: absolute;
    width: 12px;
    height: 7px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 12px;
    z-index: 6;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.opcion__ordenamiento__dropdown--desplegado .opcion__ordenamiento__dropdown__icono {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.opcion__ordenamiento__dropdown__icono img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.opcion__ordenamiento__dropdown--desplegado:before,
.opcion__ordenamiento__dropdown--desplegado:after,
.opcion__ordenamiento__dropdown__lista
{
    background-color:#FFF;
    position: absolute;
}

.opcion__ordenamiento__dropdown--desplegado:before,
.opcion__ordenamiento__dropdown__lista
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.5);
}

.opcion__ordenamiento__dropdown--desplegado:before{
    display:block;
    content:"";
    width:100%;
    height:35px;
    border-top-right-radius: 4px;
    z-index:2;
    opacity:0;
    -moz-animation: fadeIn 0.1s 0.08s 1 alternate forwards;
    -o-animation: fadeIn 0.1s 0.08s 1 alternate forwards;
    -webkit-animation: fadeIn 0.1s 0.08s 1 alternate forwards;
    animation: fadeIn 0.1s 0.08s 1 alternate forwards;
}

.opcion__ordenamiento__dropdown--desplegado:after{
    content:"";
    width:100%;
    height: 11px;
    bottom: -5px;
    z-index: 4;
}

.opcion__ordenamiento__dropdown__lista {
    display: none;
    padding-top: 3px;
    padding-bottom: 5px;
    top: 45px;
    right: 16px;
    min-width: 290px;
    height: auto;
    z-index: 3;
    opacity: 0;
    -moz-animation: fadeIn 0.1s 0.08s 1 alternate forwards;
    -o-animation: fadeIn 0.1s 0.08s 1 alternate forwards;
    -webkit-animation: fadeIn 0.1s 0.08s 1 alternate forwards;
    animation: fadeIn 0.1s 0.08s 1 alternate forwards;
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.opcion__ordenamiento__dropdown__link{
    height:38px;
    line-height:38px;
    font-size: 13px;
    letter-spacing:0.5px;
}

.opcion__ordenamiento__dropdown__link:hover,
.opcion__ordenamiento__dropdown__link--seleccionada
{
    font-weight:bold;
}

.opcion__ordenamiento__dropdown__link--seleccionada:after{
    display:inline-block;
    content:"";
    margin-left:4px;
    width:12px;
    height:11px;
    background-image:url(/Content/Images/check-icono.svg);
    background-repeat:no-repeat;
    background-position:center;
}

/* FIN - PÁGINA DE RESULTADOS DESKTOP */

/* PÁGINA DE RESULTADOS MOBILE */

@media screen and (max-width:991px){

    .layout__content{
        padding-left:0;
        padding-right:0;
    }

    .layout__content__wrapper{
        max-width:none;
    }

    .busqueda__productos__titulo{
        font-size:22px;
        font-weight:normal;
        letter-spacing:normal;
        padding-top:2px;
        margin-bottom:10px;
    }

    .lista__opciones_ordenamiento{
        margin-top:17px;
        padding-top:5px;
        background-color:#f5f5f5;
    }

    .opcion_ordenamiento{
        position:relative;
    }

    .opcion__ordenamiento__label,
    .opcion__ordenamiento__dropdown
    {
        vertical-align:initial;
    }

    .opcion__ordenamiento__label{
        padding-right:0;
        font-size: 12px;
        font-weight:normal;
        letter-spacing: 1px;
        color: #000;
        height: 20px;
        text-transform: uppercase;
        position: absolute;
        margin: auto;
        top: -3px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 4;
    }

    .opcion__ordenamiento__label:before{
        display: inline-block;
        content: "";
        width: 11px;
        height: 12.7px;
        background-image: url(/Content/Images/ordenar-icono.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 3px;
        left: -5px;
    }

    .opcion__ordenamiento__label:after{
        display:none;
    }

    .opcion__ordenamiento__dropdown{
        height:45px;
        background-color:#FFF;
        background-image:none;
        border:none;
        font-weight:400;
    }

    .opcion__ordenamiento__dropdown--desplegado:before{
        height:48px;
    }

    .opcion__ordenamiento__dropdown--desplegado:after{
        bottom: -4px;
    }

    .opcion__ordenamiento__dropdown__lista{
        min-width:250px;
        top: 49px;
        right:15px;
        padding-top:4px;
        padding-bottom:6px;
    }

    .opcion__ordenamiento__dropdown__link{
        height: 42px;
        line-height: 42px;
    }

}

/* FIN - PÁGINA DE RESULTADOS MOBILE */