
/* PÁGINA DE RESULTADOS DESKTOP */

.layout__container{
    max-width:1278px;
}

.layout__view__breadcrumbs__wrapper{
    display:none!important;
}

.layout__content--vistaResultadosBusqueda{
    margin-top:60px;
    width:100%;
    max-width:1366px;
}

.busqueda__productos__encontrados__wrapper{
    padding-left:0;
}

.busqueda__productos__titulo{
    font-size:25px;
    font-weight:900;
    letter-spacing:1.5px;
    margin-bottom:12px;
}

.busqueda__productos__encontrados{
    font-size:13px;
    letter-spacing:0.5px;
    line-height:16px;
}

.lista__opciones__ordenamiento__y__filtrar{
    padding-top:10px;
    padding-right:0;
    position:relative;
}

.opcion__ordenamiento__label,
.opcion__ordenamiento__dropdown
{
    vertical-align:middle;
}

.opcion__ordenamiento__label{
    position:relative;
    top:0;
    margin-bottom:0;
    font-size:13px;
    font-weight:bold;
    letter-spacing:0.5px;
}

.opcion__ordenamiento__label:before{
    display:none;
}

.opcion__ordenamiento__label:after{
    display:inline-block;
    margin-left:3px;
    content:"por :";
}

.opcion__ordenamiento__dropdown {
    height: 35px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    position: relative;
    cursor: pointer;
}

.opcion__ordenamiento__dropdown__seleccionada{
    padding-top:5px;
    position:relative;
    z-index:5;
}

.opcion__ordenamiento__dropdown__icono {
    position: absolute;
    width: 12px;
    height: 7px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 12px;
    z-index: 6;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.opcion__ordenamiento__dropdown--desplegado .opcion__ordenamiento__dropdown__icono {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.opcion__ordenamiento__dropdown__icono img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.opcion__ordenamiento__dropdown--desplegado:before,
.opcion__ordenamiento__dropdown--desplegado:after,
.opcion__ordenamiento__dropdown__lista
{
    background-color:#FFF;
    position: absolute;
}

.opcion__ordenamiento__dropdown--desplegado:before,
.opcion__ordenamiento__dropdown__lista
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.5);
}

.opcion__ordenamiento__dropdown--desplegado:before{
    display:block;
    content:"";
    width:100%;
    height:35px;
    border-top-right-radius: 4px;
    z-index:2;
    opacity:0;
    -moz-animation: fadeIn 0.2s 0.08s 1 alternate forwards;
    -o-animation: fadeIn 0.2s 0.08s 1 alternate forwards;
    -webkit-animation: fadeIn 0.2s 0.08s 1 alternate forwards;
    animation: fadeIn 0.2s 0.08s 1 alternate forwards;
}

.opcion__ordenamiento__dropdown--desplegado:after{
    display:block;
    content:"";
    width:100%;
    height: 11px;
    bottom: -2px;
    z-index: 4;
}

.opcion__ordenamiento__dropdown__lista {
    padding-top: 3px;
    padding-bottom: 5px;
    top: 45px;
    right: 1px;
    min-width: 290px;
    height: auto;
    z-index: 3;
    opacity: 0;
    -moz-animation: fadeIn 0.2s 0.08s 1 alternate forwards;
    -o-animation: fadeIn 0.2s 0.08s 1 alternate forwards;
    -webkit-animation: fadeIn 0.2s 0.08s 1 alternate forwards;
    animation: fadeIn 0.2s 0.08s 1 alternate forwards;
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.opcion__ordenamiento__dropdown__link{
    height:38px;
    line-height:38px;
    font-size: 13px;
    letter-spacing:0.5px;
    cursor:pointer;
}

.opcion__ordenamiento__dropdown__link:hover,
.opcion__ordenamiento__dropdown__link--seleccionada
{
    font-weight:bold;
}

.opcion__ordenamiento__dropdown__link--seleccionada:after{
    display:inline-block;
    content:"";
    margin-left:4px;
    width:12px;
    height:11px;
    background-image:url(/Content/Images/check-icono.svg);
    background-repeat:no-repeat;
    background-position:center;
}

/* FIN - PÁGINA DE RESULTADOS DESKTOP */

@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {

    .busqueda__productos__encontrados__wrapper{
        padding-left:10px;
    }
    
    .lista__opciones__ordenamiento__y__filtrar{
        padding-right:10px;
    }

    .opcion__ordenamiento__dropdown__lista{
        right:11px;
    }

}

/* PÁGINA DE RESULTADOS MOBILE */

@media screen and (max-width: 991px) and (-ms-high-contrast: none), (max-width: 991px) and (-ms-high-contrast: active) {

    .lista__opciones__ordenamiento__y__filtrar{
        padding-bottom:5px;
    }

    .opcion__ordenamiento__label{
        top:0!important;
    }

    .opcion__ordenamiento__dropdown--desplegado:after{
        bottom:-9px!important;
    }

}

@media screen and (max-width:991px){

    .layout__content{
        padding:15px 0 20px 0;
    }

    .busqueda__productos__encontrados__wrapper{
        padding-left:15px;
        padding-right:15px;
    }

    .busqueda__productos__titulo{
        font-size:22px;
        font-weight:normal;
        letter-spacing:normal;
        margin-bottom:12px;
        line-height:27px;
    }

    .lista__opciones__ordenamiento__y__filtrar{
        margin-top:17px;
        padding-top:5px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:3px;
        background-color:#f5f5f5;
    }

    .lista__opciones__ordenamiento__y__filtrar > div{
        height:48px;
    }

    .lista__opcion__wrapper--filtrar + .lista__opcion__wrapper--ordenar{
        -ms-flex: 0 0 50%;
        flex:0 0 50%;
        max-width:50%;
        padding-left:5px!important;
    }

    .lista__opcion__wrapper--filtrar{
        padding-right:5px!important;
    }

    .opcion__ordenamiento,
    .opcion__filtrar
    {
        position:relative;
    }

    .opcion__ordenamiento{
        height:100%;
    }

    .opcion__filtrar{
        height:45px;
    }

    .opcion__ordenamiento__label,
    .opcion__filtrar__link,
    .opcion__ordenamiento__dropdown
    {
        vertical-align:initial;
    }

    .opcion__ordenamiento__label,
    .opcion__filtrar__link
    {
        background-color:#FFF;
        border:1px solid #FFF;
        padding-right:0;
        font-size: 12px;
        font-weight:normal;
        letter-spacing: 1px;
        color: #000;
        height: 45px;
        line-height:45px;
        text-transform: uppercase;
        position: relative;
        margin: auto;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius:4px;
    }

    .opcion__ordenamiento__label{
        z-index: 4;
    }

    .opcion__filtrar__link{
        z-index:3;
        cursor:pointer;
    }

    .opcion__ordenamiento__label:before,
    .opcion__filtrar__link:before
    {
        display: inline-block;
        content: "";
        width: 11px;
        height: 12.7px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        left: -5px;
    }

    .opcion__ordenamiento__label:before{
        top: 3px;
        background-image: url(/Content/Images/ordenar-icono.svg);
    }

    .opcion__filtrar__link,
    .opcion__filtrar__link:hover,
    .opcion__filtrar__link:active
    {
        color:#000!important;
    }

    .opcion__filtrar__link:before{
        top:2px;
        background-image: url(/Content/Images/filtrar-icono.svg);
    }

    .opcion__ordenamiento__label:after{
        display:none;
    }

    .opcion__ordenamiento__dropdown{
        height:45px;
        background-color:transparent;
        background-image:none;
        border:none;
        font-weight:400;
        border-radius:0;
        z-index:5;
        position:absolute;
        top:0;
        right:0;
    }

    .opcion__ordenamiento__dropdown--desplegado:before{
        height:48px;
        background-color:transparent;
        width:100%;
        right:0;
        -moz-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .opcion__ordenamiento__dropdown--desplegado:after{
        width:100%;
        right:0;
        bottom: -9px;
        height:11px;
    }

    .lista__opcion__wrapper--filtrar + .lista__opcion__wrapper--ordenar .opcion__ordenamiento__dropdown--desplegado:before,
    .lista__opcion__wrapper--filtrar + .lista__opcion__wrapper--ordenar .opcion__ordenamiento__dropdown--desplegado:after
    {
        width:100%;
    }

    .lista__opcion__wrapper--filtrar + .lista__opcion__wrapper--ordenar + .opcion__ordenamiento__dropdown__lista{
        min-width:269px;
        max-width:84%;
    }

    .opcion__ordenamiento__dropdown__lista{
        max-width:96.5%;
        top: 53px;
        right:10px;
        padding-top:4px;
        padding-bottom:6px;
    }

    .opcion__ordenamiento__dropdown__link{
        height: 42px;
        line-height: 42px;
    }

}

@media screen and (max-width: 767px) and (-ms-high-contrast: none), (max-width: 767px) and (-ms-high-contrast: active) {

    .lista__opciones__ordenamiento__y__filtrar{
        padding-top:7px!important;
        padding-bottom:8px!important;
    }

    .opcion__ordenamiento__label,
    .opcion__filtrar__link
    {
        top:0!important;
    }

    .opcion__ordenamiento__dropdown{
        height:42px!important;
    }
    
}

@media screen and (min-width:406px) and (max-width:767px){

    .opcion__ordenamiento__dropdown__lista{
        max-width:95.3%;
    }

}

@media screen and (min-width:330px) and (max-width:415px){

    .opcion__ordenamiento__dropdown__lista{
        max-width:94.4%;
    }

}

@media screen and (max-width:329px){

    .opcion__ordenamiento__dropdown__lista{
        max-width:93.6%;
    }

}

/* FIN - PÁGINA DE RESULTADOS MOBILE */
