

/* ini - Flechas */
.bc-menu-vertical-prev, .bc-menu-vertical-next {
    width: 60px !important;
}

    .bc-menu-vertical-prev img, .bc-menu-vertical-next img {
        height: 20px !important;
        padding: 0 19px !important;
        margin-top: 13px !important;
    }

/* fin - Flechas */
