.wrapper_header {
    min-height: 61px;
    margin: 0 auto;
    width:100%!important;
    max-width: 1189px;
    position: relative;
}

.wrapper_header_logo,
.menu_new_esika
{
    display: inline-block;
    vertical-align: middle;
}

.wrapper_header_logo {
    width: 9.5% !important;
}

    .wrapper_header_logo + .menu_new_esika {
        width: auto !important;
    }


@media screen and (max-width:1250px) {

    .wrapper_header_logo {
        width: 10.5% !important;
    }
}

@media screen and (min-width:1145px) and (max-width:1212px) {

    .wrapper_header_logo + .menu_new_esika {
        width: 580px !important;
    }

        .wrapper_header_logo + .menu_new_esika.anchoMenu_sinEnlaceSociaEmpresaria {
            width: 467px !important;
        }
}

.menu_new_esika {
    width: 62%;
    min-height: 60px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .menu_new_esika {
        width: 58%;
    }
}

.menu_esika_b {
    height: 60px;
    float: right;
    width: auto !important;
    min-width: 216px !important;
    max-width: 31%;
}
