.wrapper_header {
    min-height: 61px;
    margin: 0 auto;
    max-width: 1189px;
    position: relative;
    box-shadow: 0 3px 5px 0 rgba(126, 126, 126, .35);
}

.wrapper_header_cincuenta_anios_belcorp {
    width: 100% !important;
    min-width: 1024px!important;
    max-width: 100%!important;
}

.wrapper_cincuenta_anios_belcorp_y_logo {
    width: 16.5% !important;
}

.wrapper_cincuenta_anios_belcorp_y_logo {
    display: inline-block;
    vertical-align: middle;
}

    .wrapper_cincuenta_anios_belcorp_y_logo + .menu_new_esika {
        width: auto !important;
    }

@media screen and (max-width:1365px) {

    .wrapper_header_cincuenta_anios_belcorp {
        max-width: none !important;
    }

    .cincuenta_anios_belcorp + .logo_esika {
        margin-left: 4px;
    }
}

.wrapper_cincuenta_anios_belcorp_y_logo {
    width: 16.5% !important;
}

.wrapper_cincuenta_anios_belcorp_y_logo,
.menu_new_esika
/*.menu_esika_b,
.logo_esika,
.nav_principal*/ 
{
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width:1250px) {

    .wrapper_cincuenta_anios_belcorp_y_logo {
        width: 17.5% !important;
    }

    /*.cincuenta_anios_belcorp + .logo_esika + .menu_new_esika + .menu_esika_b{
        width:350px!important;
    }*/

}

@media screen and (min-width:1145px) and (max-width:1212px) {

    .wrapper_cincuenta_anios_belcorp_y_logo + .menu_new_esika {
        width: 580px !important;
    }

        .wrapper_cincuenta_anios_belcorp_y_logo + .menu_new_esika.anchoMenu_sinEnlaceSociaEmpresaria {
            width: 467px !important;
        }
}

@media screen and (min-width:1090px) and (max-width:1144px) {

    .wrapper_cincuenta_anios_belcorp_y_logo + .menu_new_esika {
        width: 626.7px !important;
    }
}

@media screen and (min-width:1063px) and (max-width:1089px) {

    .wrapper_cincuenta_anios_belcorp_y_logo + .menu_new_esika {
        width: 592px !important;
    }
}

@media screen and (max-width: 1062px) {

    .wrapper_cincuenta_anios_belcorp_y_logo + .menu_new_esika {
        width: 553px !important;
    }
}


.cincuenta_anios_belcorp {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 0;
    width: 98px;
    height: 61px;
    overflow: hidden;
}

    .cincuenta_anios_belcorp img {
        width: auto;
        height: 103.28%;
        position: relative;
        top: -1px;
    }

    .cincuenta_anios_belcorp + .logo_esika {
        margin-left: 11px;
    }

.menu_new_esika {
    width: 62%;
    min-height: 60px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .menu_new_esika {
        width: 58%;
    }
}

.menu_esika_b {
    height: 60px;
    float: right;
    width: auto !important;
    min-width: 216px !important;
    max-width: 31%;
}
