
<script id="grupos-template" type="text/x-handlebars-template">
    {{#each this.componentes as |grupo|}}
    <section class="Sections_Pack" data-group-item data-grupo="{{grupo.Grupo}}" >
        <div class="Title_pack d-flex" data-group-header data-grupo="{{grupo.Grupo}}" >
            <h3 data-grupo="{{grupo.Grupo}}">{{grupo.DescripcionSingular}}</h3>
            <span data-options-label-{{grupo.Grupo}} data-grupo="{{grupo.Grupo}}">{{grupo.mensajeEligeopciones}}</span>
            <span class="listo" style="display:none;" data-ready-label-{{grupo.Grupo}} data-grupo="{{grupo.Grupo}}">¡Listo!</span>
            <span class="arrow_acordeon"><img src="/Content/Images/General/Icons/arrow_down.svg" alt="Alternate Text" /></span>
        </div>
        <div id="Select_Items" class="row" style="display:none;" data-group-body data-grupo="{{grupo.Grupo}}" >
            <div id="Pack_Items" class="col-12 d-md-flex justify-content-between" data-carrusel-container>

                {{#each grupo.Hermanos as |componente|}}
                <div class="contend-item">
                <article class="product_pack">
                    <div class="row">
                        <div class="col-md-12 col-7 flex-row align-items-center ">
                            <div class="product_img_Pack">
                                <img src="{{componente.ImagenBulk}}">
                            </div>
                            <div class="product_descripcion_Pack">
                                <h3 title="{{componente.NombreBulk}}">{{#SubstrResponsive componente.NombreBulk 35}}{{/SubstrResponsive}}</h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-5 flex-row-reverse align-items-center ">
                            <div class="product_descripcion_Pack">
                                <button class="" 
                                        data-add-component
                                        data-grupo="{{grupo.Grupo}}" 
                                        data-cuv-componente="{{componente.Cuv}}"

                                        data-eligelo-{{componente.Cuv}}
                                        data-block-eligelo-{{grupo.Grupo}}

                                        >Elígelo</button>
                                <div class="contenedor_rangos" style="display:none;" 
                                    data-selector-cantidad-{{componente.Cuv}} 
                                    data-block-selector-cantidad-{{grupo.Grupo}}
                                    >
                                    <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" 
                                        type="text" 
                                        value="1" 
                                        size="2" 
                                        maxlength="2"  
                                        disabled 
                                        data-quantity-{{componente.Cuv}} 
                                        >
                                    <div>
                                        <a class="txt_menos" 
                                            data-delete-component
                                            data-grupo="{{grupo.Grupo}}" 
                                            data-cuv-componente="{{componente.Cuv}}" >
                                            <img src="/Content/Images/menos.svg" 
                                                alt="" 
                                                data-grupo="{{grupo.Grupo}}" 
                                                data-cuv-componente="{{componente.Cuv}}"
                                                />
                                        </a>
                                        <a class="txt_mas" 
                                            data-add-component
                                            data-grupo="{{grupo.Grupo}}" 
                                            data-cuv-componente="{{componente.Cuv}}" >
                                            <img src="/Content/Images/mas.svg" 
                                                alt=""
                                                data-grupo="{{grupo.Grupo}}" 
                                                data-cuv-componente="{{componente.Cuv}}"
                                                />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{/each}}
</script>