
<script id="seleccionados-template" type="text/x-handlebars-template">
    <div class="container d-flex align-items-center justify-content-center ">
        <ul class="Select_Group">
            <li class="Select_Item active">
                <!-- Colocar la clase active cuando se ha selecionado un porducto  -->
                <div class="product-select">
                    <button class="product_select_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg"></button>
                    <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg" />
                </div>
            </li>
            <li>+</li>
            <li class="Select_Item">

            </li>
            <li>+</li>
            <li class="Select_Item">

            </li>
            <li>+</li>
            <li class="Select_Item">

            </li>
        </ul>
        <div class="Agregar_ArmaTuPack_fixed">
            <button class="Agregar_ArmaTuPack">Agregar</button>
        </div>
    </div>
</script>
