@{
    ViewBag.Title = "Lugares de Pago";
}

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Lugares de <span>Pago</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="div-2">
            <h4><span class="lugar_pago_mejora_title">Puedes realizar tus Pagos Aquí</span></h4>
        </div>
        <div class="border-wrapper">
            @if (ViewBag.CodigoISO.Equals("DO"))
            {
                <div class="lugar_pago_mejora">
                    <a href="https://www.bpd.com.do/sites/bpdpublico/SP/Paginas/Home.aspx" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_popular.png" alt="" />
                        </div>
                        <div class="lugar_name">Popular</div>
                    </a>
                </div>
            }
            else if (ViewBag.CodigoISO.Equals("MX"))
            {
                <div class="lugar_pago_mejora">
                    <a href="http://www.banamex.com/" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_banamex.png" alt="" />
                        </div>
                        <div class="lugar_name">
                            Banamex <span>(Pago en Línea)</span>
                        </div>
                    </a>
                </div>
                <div class="lugar_pago_mejora">
                    <a href="http://www.bancoazteca.com.mx/" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_azteca.png" alt="" />
                        </div>
                        <div class="lugar_name">Banco Azteca</div>
                    </a>
                </div>
                <div class="lugar_pago_mejora">
                    <a href="http://www.bancomer.com.mx/" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_bancomer.png" alt="" />
                        </div>
                        <div class="lugar_name">
                            Bancomer (Pago en Línea)
                        </div>
                    </a>
                </div>
                <div class="lugar_pago_mejora">
                    <a href="http://www.santander.com.mx/" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_santander.png" alt="" />
                        </div>
                        <div class="lugar_name">
                            Santander (Pago en Línea)
                        </div>
                    </a>
                </div>
                <div class="lugar_pago_mejora">
                    <a href="http://www.scotiabank.com.mx/ES/Paginas/default.aspx" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_scotia.png" alt="" />
                        </div>
                        <div class="lugar_name">
                            Scotiabank (Pago en Línea)
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="lugar_pago_mejora">
                    <a href="http://www.pichincha.com/web/index.php" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_banco_pichincha.gif" alt="" />
                        </div>
                        <div class="lugar_name">
                            Banco Pichincha
                        </div>
                    </a>
                </div>
                <div class="lugar_pago_mejora">
                    <a href="http://www.produbanco.com/GFPNet/" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_produbanco.gif" alt="" />
                        </div>
                        <div class="lugar_name">Produbanco</div>
                    </a>
                </div>
                <div class="lugar_pago_mejora">
                    <a href="http://www.servipagos.com/" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_servipagos.gif" alt="" />
                        </div>
                        <div class="lugar_name">
                            Servipagos
                        </div>
                    </a>
                </div>
                <div class="lugar_pago_mejora">
                    <a href="https://wumt.westernunion.com/index_consumer.asp?country=EC&amp;origination=global" target="_blank">
                        <div class="lugar_logo">
                            <img src="~/Content/Images/logo_western.gif" alt="" />
                        </div>
                        <div class="lugar_name">
                            Western Union
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<div id="DialogoRealizarPagos" style="display: none;">
    <div class="Content_modal">
        <div class="lugar_pago_mejora_">
            <div class="div-3">
                <div class="titAuto">
                    <a href="http://www.banamex.com/" target="_blank">Banamex</a> <span>(Pago en Línea)</span>
                </div>
            </div>
            <div class="div-3">
                <div class="titAuto">
                    <a href="http://www.bancoazteca.com.mx/" target="_blank">Banco Azteca</a>
                </div>
            </div>
            <div class="div-3">
                <div class="titAuto">
                    <a href="http://www.bancomer.com.mx/" target="_blank">Bancomer</a> <span>(Pago en Línea)</span>
                </div>
            </div>
            <div class="div-3">
                <div class="titAuto">
                    <a href="http://www.santander.com.mx/" target="_blank">Santander</a> <span>(Pago en Línea)</span>
                </div>
            </div>
            <div class="div-3">
                <div class="titAuto">
                    <a href="http://www.scotiabank.com.mx/ES/Paginas/default.aspx" target="_blank">Scotiabank</a> <span>(Pago en Línea)</span>
                </div>
            </div>
        </div>
    </div>
</div>
