@model Portal.Consultoras.Web.Models.LoginChatbot.LoginChatbotModel
@{
    Layout = null;
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/LoginChatbot/Normal.js")"></script>
    <script type="text/javascript">
        var cargaApiFacebook = false;
    </script>
}

<div class="logo_normal"> </div>
<div class="texto_normal">Ingresa a tu usuario de <b>SomosBelcorp</b> por única vez</div>
<hr class="clear" />
<div id="div_select_pais" class="campo_input_chat">
    <select id="ddlPais" class="DropDown select_pais_chat" tabindex="1">
        <option value="">Elige tu País</option>
        @if (Model.ListaPaises != null)
        {
            foreach (var item in Model.ListaPaises)
            {
                <option value="@item.CodigoISO" data-id="@item.PaisID">@item.Nombre</option>
            }
        }
    </select>
    <hr class="clear" />
</div>
<div class="campo_input_chat icono_usuario_chatbot">
    <input id="txtUsuario" type="text" class="inputForm input_chat" value="" onfocus="" onblur="" placeholder="Usuario o Correo Electrónico">
    <div class="ayuda_usuario_facebook_chatBot">
        <a href="javascript:void(0);" class="helper_facebook_chatBot"></a>
        <div id="tooltip_usuario" class="mensaje_ayuda_usuario_chatBot" style="display:none;"></div>
    </div>
</div>
<div class="campo_input_chat icono_pass_chatbot">
    <input type="password" id="txtPassword" class="inputForm input_chat" placeholder="Contraseña" value="">
    <div class="ayuda_usuario_facebook_chatBot">
        <a href="javascript:void(0);" class="helper_facebook_chatBot"></a>
        <div id="tooltip_password" class="mensaje_ayuda_usuario_chatBot" style="display:none;"></div>
    </div>
</div>

<input type="button" id="btnLogin" class="btnLogin" value="INGRESA A TU CUENTA">
