@model Portal.Consultoras.Web.Models.LoginChatbot.LoginFacebookChatbotModel
@{
    Layout = "~/Views/LoginChatbot/_Main.cshtml";
}
@section styles{
}
@section facebookScripts{
    <script type="text/javascript" id="facebook-jssdk" src="https://connect.facebook.net/en_US/sdk.js"></script>
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/LoginChatbot/Facebook.js")"></script>
    <script type="text/javascript">
        var appFacebookId = '@Model.AppFacebookId';
        var cargaApiFacebook = true;
    </script>
}

<button id="btnLoginFB" class="loginBtn loginBtn--facebook" onclick="LoginFB()" style="width: 100%; height: 48px;display: block;">
    Ingresa con Facebook
</button>