@model Portal.Consultoras.Web.Models.LoginChatbot.LoginNormalChatbotModel
@{
    Layout = "~/Views/LoginChatbot/_Main.cshtml";
}
@section styles{
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/LoginChatbot/Normal.js")"></script>
    <script type="text/javascript">
        var cargaApiFacebook = false;
    </script>
}

<select id="ddlPais" class="DropDown" tabindex="1">
    <option value="">Elige tu País</option>
    @if (Model.ListaPaises != null)
    {
        foreach (var item in Model.ListaPaises)
        {
            <option value="@item.CodigoISO" data-id="@item.PaisID">@item.Nombre</option>
        }
    }
</select>
<input id="txtUsuario" type="text" class="inputForm" value="" onfocus="" onblur="" placeholder="Usuario o Correo Electrónico">
<input type="password" id="txtPassword" class="inputForm" placeholder="Contraseña" value="">
<input type="button" id="btnLogin" value="INGRESA A TU CUENTA" onclick="LoginNormal()">