@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.CustomHelpers

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="titulo_mobile">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;MIS CERTIFICADOS
</div>

<div class="texto_opcion_disponible">
    Esta opción por ahora sólo está disponible desde tu computadora.
</div>



