 <!-- BEGIN container -->
<div class="container">
    <!-- BEGIN row -->
    <div class="row">
        @for (int i = 0; i < 10; i++)
        {
            <!-- BEGIN col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- BEGIN policy -->
                <div class="policy">
                    <div class="policy-icon">
                        <a href="product-detail.html" class="item-image">
                            <img src="~/Content/Images/Buscador/product-iphone.png" style="width:100%;height:100%;" />
                        </a>
                    </div>
                    <div class="policy-info">
                        <h4>Free Delivery Over $100</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                 
                </div>
                <!-- END policy -->
            </div>
            <!-- END col-4 -->
        }
    </div>
    <!-- END row -->
</div>
<!-- END container -->