<script id="matriz-comercial-listado-imagenes-template" type="text/x-handlebars-template">
    {{#each imagenes}}
    <div class="titG2 div-img-matriz-comercial">
        <div class="pdr_modal borde_redondeado aligncenter">
            <img class="img-matriz-preview" src='{{Foto}}' id="img-matriz-{{@@index}}">
        </div>
        <div class="pdr_modal_check aligncenter">
            <input type="checkbox" value="{{Foto}}" id="chkImagenProducto{{@@index}}" class="chkImagenProducto">
        </div>
    </div>

    {{/each}}
</script>
