/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
    display: block;
    max-width: none;
    max-height: none;
}
/* --------------- */

/* xZoom Styles below */
.xzoom-container {
    display: inline-block;
}

.xzoom-thumbs {
    text-align: center;
    margin-bottom: 10px;
}

.xzoom {
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    margin-bottom: 15px;
}

.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    margin-bottom: 15px;
}

/* Thumbs */
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
    border: 1px solid #cecece;
    margin-left: 5px;
    margin-bottom: 10px;
}

.xzoom-source, .xzoom-hidden {
    display: block;
    position: static;
    float: none;
    clear: both;
    z-index: 1000;
}

/* Everything out of border is hidden */
.xzoom-hidden {
    overflow: hidden;
    z-index: 1000;
}

/* Preview */
.xzoom-preview {
    border: 1px solid #888;
    background: #2f4f4f;
    box-shadow: -0px -0px 10px rgba(0,0,0,.5);
    z-index: 1000;
}

/* Lens */
.xzoom-lens {
    border: 1px solid #555;
    box-shadow: -0px -0px 10px rgba(0,0,0,.5);
    cursor: none;
}

/* Loading */
.xzoom-loading {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    opacity: .7;
    background: url('/Content/images/xloading.gif');
    width: 48px;
    height: 48px;
}

/* Additional class that applied to thumb when it is active */
.xactive {
    -webkit-box-shadow: 0 0 3px 0 rgba(74,169,210,1);
    -moz-box-shadow: 0 0 3px 0 rgba(74,169,210,1);
    box-shadow: 0 0 3px 0 rgba(74,169,210,1);
    border: 1px solid #4aaad2;
}

/* Caption */
.xzoom-caption {
    position: absolute;
    bottom: -43px;
    left: 0;
    background: #000;
    width: 100%;
    text-align: left;
}

    .xzoom-caption span {
        color: #fff;
        font-family: Arial, sans-serif;
        display: block;
        font-size: .75em;
        font-weight: bold;
        padding: 10px;
    }

/* Rotate */
img {
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

.flip {
    transform: rotate(0deg);
}

.flip90 {
    transform: rotate(-90deg);
}

.flip180 {
    transform: rotate(-180deg);
}

.flip270 {
    transform: rotate(-270deg);
}
