@model Portal.Consultoras.Web.Models.AdministrarHistorialDetaUpdModel

<div class="div-12">
    @Html.HiddenFor(model => model.IdContenidoDeta)
    @Html.HiddenFor(model => model.IdContenido)
    ¿Desactivar imagen?
</div>