@model Portal.Consultoras.Web.Models.AdministrarHistorialDetaUpdModel

<div class="div-12">


    <div class="div-3">
        <div class="titG">Activar Botón:</div>
        <div class="titG">
            @*@Html.CheckBoxFor(m => m.IdContenido)*@
            <input type="checkbox" name="tipoAccion" value="1">
        </div>
    </div>

    <div class="div-3" id="div1">
        <div class="titG">Spinner 1:</div>
        <div class="selectP2 borde_redondeado">
            <select id="ddlPalanca" name="PalancaCodigo">
                <option value="">-- Seleccionar --</option>
                <option value="1">Ver Más</option>
                <option value="2">Agregar al carrito </option>
            </select>
        </div>
    </div>

    <div class="div-3" id="div2">
        <div class="titG">Spinner 2:</div>
        <div class="selectP2 borde_redondeado">
            <select id="ddlPalanca" name="PalancaCodigo">
                <option value="">-- Seleccionar --</option>
                <option value="1">Redireccionamiento a Bonificaciones</option>
                <option value="1">Clientes</option>
                <option value="1">Pase de Pedido</option>
                <option value="1">Mi Academia</option>
                <option value="1">Tu Voz Online</option>
                <option value="1">Actualización de datos</option>
                <option value="1">Gana+</option>
                <option value="1">Chat</option>
                <option value="1">Ficha del producto</option>
                <option value="1">Embebido</option>
            </select>
        </div>
    </div>

</div>