@model Portal.Consultoras.Web.Models.AdministrarHistorialDetaListModel

<div class="div-12">
    @Html.HiddenFor(model => model.IdContenidoDeta, new { id = "IdContenidoDetaVideoElim" })
    @Html.HiddenFor(model => model.IdContenido, new { id = "IdContenidoVideoElim" })
    ¿Desactivar video?
</div>