@model Portal.Consultoras.Web.Models.AdministrarHistorialDetaUpdModel

<div class="div-12">
    @Html.HiddenFor(model => model.IdContenidoDeta)
    @Html.HiddenFor(model => model.IdContenido) 
  <div align="center">
    <img src="@Model.RutaImagen" border="0" style="max-width: 500px; max-height: 400px;" />
  </div>

</div>