<div class="revistagnd">
    <div class="nrorevista">
        <div class="nro">REVISTA C-17</div>
        <div class="vineta">
            <span><</span>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="contrevistagnd">
        <div class="imgrevista">
            <img id="imgPortadaRevista" src="~/Content/Images/revista_no_disponible.jpg" alt="">
        </div>
        <div class="inforevista">
            <p>Encuentra aquí las ofertas de la guía de negocio impresa</p>
            <a href="#" id="btnVerGuiaNegocio">VER GUÍA</a>
            <div style="display: none;">
                @using (Html.BeginForm("MiRevista", "Catalogo", new { area = "Mobile"}, FormMethod.Post, new { id = "frmGuiaNegocio", target = "_blank" }))
                {
                    <input type="hidden" name="campaniaRevista" id="campaniaRevista" value="">
                }
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>