<div class="revistagnd">
    <div class="nrorevista">
        <div class="nro">REVISTA C-17</div>
        <div class="vineta">
            <span>❯</span>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="contrevistagnd">
        <div class="imgrevista">
            <img id="imgPortadaRevista" src="" alt="">
        </div>
        <div class="inforevista">
            <div class="continforevista">
                <p>Disfruta de la revista impresa aquí</p>
                <a href="">VER GUÍA</a>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>