@using Portal.Consultoras.Common

<script id="producto-componente-template" type="text/x-handlebars-template">
    <h3 class="contenido_titulo">Contenido</h3>
    {{#iff CodigoVariante 'ContainsArray' '[@Constantes.TipoEstrategiaSet.CompuestaFija,@Constantes.TipoEstrategiaSet.CompuestaVariable]'}}
        {{#each this.Hermanos as |componente|}}
            {{#ifVerificarMarcaLast componente.DescripcionMarca EsMultimarca}}
                <hr class="componentes_separador" />
            {{/ifVerificarMarcaLast}}
            <div class="detalle_producto"
                 data-opciones-seleccionadas="0"
                 data-tono-digitable="{{componente.Digitable}}"
                 style="border-bottom: {{../Linea}}; margin-bottom: 10px"
                 data-componente-grupo="{{componente.Grupo}}">
                <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="{{componente.MarcaID}}" />
                <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="{{componente.PrecioCatalogo}}" />
                <div data-componente="{{{json this}}}"></div>
                <div class="nombre_marca">
                    xxxxx
                </div>
                <ul class="detalle_producto_detalle">
                    <li>x {{Multiplicar componente.Cantidad componente.FactorCuadre}}</li>
                    <li>{{componente.NombreComercial}}</li>
                </ul>
                {{#iff ../MostrarFichaEnriquecida '==' true }}
                    {{#iff ../Hermanos.length '>' 1}}
                        {{#iff componente.TieneDetalleSeccion '==' true}}
                            <a id="btnVerDetalle" class="btn_texto">Ver detalle <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt=""></a>
                        {{/iff}}
                    {{/iff}}
                {{/iff}}
            </div>
        {{/each}}
    {{/iff}}
    @*<hr class="componentes_separador" />*@
    @*<div class="detalle_producto">
            <ul class="detalle_producto_detalle">
                <li>x 1</li>
                <li>Rouge L'Intense Rouge 7 g e. 24 o </li>
            </ul>
            <a id="btnVerDetalle" class="button_ver_detalle">
                Ver detalle <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="">
            </a>
            <div class="tiposytonos_componentes">
                <buttom class="tono_select_opt">
                    ELIGE 1 OPCIÓN
                </buttom>
                <div class="tonos_seleccionados">
                    <ul class="tonos_seleccionados_item" data-tono="">
                        <li class="imagen_seleccionado"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201906/E/productos/PE_200095507.jpg" alt=""></li>
                        <li class="titulo_selecionado">
                            <span class="cantidad_producto_opt">x1 </span>
                            <span class="descripcion_tipo">Paradisso. Safari adventure</span>
                        </li>
                    </ul>
                    <ul class="tonos_seleccionados_item" data-tono="">
                        <li class="imagen_seleccionado"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201906/E/productos/PE_200095507.jpg" alt=""></li>
                        <li class="titulo_selecionado">
                            <span class="cantidad_producto_opt">x1 </span>
                            <span class="descripcion_tipo">Paradisso. Safari adventure</span>
                        </li>
                    </ul>

                    <a class="btn_cambiar_opciones" href="">
                        Cambiar opción
                        <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="">
                    </a>
                </div>
            </div>
        </div>*@
    @*<hr class="componentes_separador" />
        <div class="detalle_producto">
            <ul class="detalle_producto_detalle">
                <li>x 1</li>
                <li>Rouge L'Intense Rouge L'Intense Rouge L'Inte. Safran 7 g e. 24 o </li>
            </ul>
            <a id="btnVerDetalle" class="button_ver_detalle">
                Ver detalle <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="">
            </a>
        </div>*@
</script>