<!-- Modal tipos y tonos -->
<section id="popup_tonos" class="popup_lateral">
    <button id="cerrar-tipos-tonos-modal" class="button_cerrar">
        <img src="/Content/Images/mobile/Esika/close-button.svg" alt="">
    </button>

    <div class="header_fixed" id="contenedor-cabecera">
        <div class="seleccion_header" id="contendor-titulo-opciones">
            <h3 header-title>Elige 1 opción</h3>
            @*<h3>¡Listo! <span>ya tienes tu</span> </h3>*@
            <p header-selected-quantity>0 seleccionados</p>
        </div>
        <div class="contenedor_selecionados" id="contenedor-tipos-tonos-seleccionados" style="display:none">
            <div class="selecionados_carrosel" id="tipos-tonos-seleccionados">

            </div>
        </div>
    </div>

    <div id="contenedor-tipos-tonos-componente" class="seleccion_main">
    </div>

    <div class="aplicar_seleccion" id="contenedor-aplicar-seleccion">
        <button id="btn-aplicar-seleccion" class="btn_deshabilitado">Aplicar Selección</button>
    </div>
</section>