<!-- Modal tipos y tonos -->
<section id="popup_tonos" class="popup_lateral">
    <button id="cerrar-tipos-tonos-modal" class="button_cerrar">
        <img src="/Content/Images/mobile/Esika/close-button.svg" alt="">
    </button>

    <div class="header_fixed">
        <div class="seleccion_header" id="contendor-titulo-opciones">
            <h3 header-title>Elige 1 opción</h3>
            @*<h3>¡Listo! <span>ya tienes tu</span> </h3>*@
            <p header-selected-quantity>0 seleccionados</p>
        </div>
        <div class="contenedor_selecionados" id="contenedor-opciones-seleccionadas" style="display:none">
            <div class="selecionados_carrosel" id="opciones-seleccionadas">
                <article class="item_selecionado">
                    <div>
                        <button class="item_selecionado_close">
                            <img src="/Content/Images/mobile/Esika/close-button-white.svg" alt="">
                        </button>
                        <img class="item_selecionado_img" src="https://s3.amazonaws.com/catalogodigitalbelcorp/PE/201908/L/productos/bulk/PE_200082700_B.jpg" alt="">
                        <span>Safran</span>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div id="contenedor-tipos-tonos-componente" class="seleccion_main" style="height: 485px;">
    </div>

    <div class="aplicar_seleccion" id="contenedor-aplicar-seleccion">
        <button id="btn-aplicar-seleccion" class="active">APLICAR SELECCIÓN</button>
    </div>
</section>