<script id="tipos-tonos-componente-template" type="text/x-handlebars-template">
    {{#each this.Hermanos as |componente|}}
    <article class="selecion_item">
        <div class="seleccion_img">
            <img src="{{componente.ImagenBulk}}" alt="">
        </div>
        <div class="seleccion_title">{{componente.NombreBulk}}</div>

        {{#iff componente.TieneStock '==' true}}
        <button id="btn-eligelo-{{componente.Grupo}}-{{componente.Cuv}}" add-type-tone block-group btn-eligelo data-grupo="{{componente.Grupo}}" data-cuv="{{componente.Cuv}}">
            Elígelo
        </button>
        <button id="btn-elegido-{{componente.Grupo}}-{{componente.Cuv}}" data-grupo="{{componente.Grupo}}" data-cuv="{{componente.Cuv}}" class="active" style="display:none;">
            Elegido
        </button>
        <div id="selector-cantidad-{{componente.Grupo}}-{{componente.Cuv}}" block-group class="contenedor_rangos " data-cantidad-contenedor="" style="display:none">
            <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral"
                   type="text"
                   value="1"
                   onkeyup="EstrategiaAgregarModule.ValidaCantidad(event);"
                   size="2"
                   maxlength="2"
                   id="txtCantidad"
                   data-input="cantidad"
                   data-cantidad-input="-"
                   txt-cantidad-{{componente.Grupo}}-{{componente.Cuv}}>
            <div>
                <a class="txt_menos" remove-type-tone data-grupo="{{componente.Grupo}}" data-cuv="{{componente.Cuv}}">
                    <div class="dibujar_linea dibujar_menos" data-grupo="{{componente.Grupo}}" data-cuv="{{componente.Cuv}}"></div>
                </a>
                <a class="txt_mas" add-type-tone data-grupo="{{componente.Grupo}}" data-cuv="{{componente.Cuv}}" >
                    <div class="dibujar_linea dibujar_mas" data-grupo="{{componente.Grupo}}" data-cuv="{{componente.Cuv}}"></div>
                </a>
            </div>
        </div>
        {{/iff}}

        {{#iff componente.TieneStock '==' false}}
        <div class="tag_agotago">Agotado</div>
        {{/iff}}

    </article>
    {{/each}}
</script>