@model Portal.Consultoras.Web.Models.ModificacionCronogramaModel
@{
    ViewBag.Title = "Modificación de Cronograma";
}
<script>
    function LimpiarDependencias(Id) {
        var ddlRegion = $('#ddlRegion');
        var ddlZona = $('#ddlZona');
        ddlRegion.empty();
        ddlZona.empty();
        $('#chkSeleccionar').attr('checked', false);

        if (Id != "") {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Todas --"
            }));
        } else {
            ddlZona.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
            ddlRegion.append($('<option/>', {
                value: "",
                text: "-- Seleccionar --"
            }));
        }
    }

    // se refresca el arbol con el pais, region y zona seleccionadas
    function CargarArbol(pais, region, zona) {
        //debugger;
        waitingDialog({});
        $.jstree._reference($("#arbolRegionZona")).refresh(-1);
    }

    function Grabar() {
        waitingDialog({});
        var ModificacionCronogramaModel = {
            EntradasLog: [],
            EntradasConfiguracionValidacionZona: [],
            DiasDuracionCronograma: $("#txtDiasDuracionCronograma").val()
        };
        //debugger;
        // se capturan los ids de los nodos seleccionados
        var objEntradaLog, objConfiguracionValidacionZona;
        $.jstree._reference($("#arbolRegionZona")).get_checked(null, true).each(function () {
            //debugger;
            // solo para nodos de tipo hoja (leaf)
            if (this.className.toLowerCase().indexOf("jstree-leaf") == -1) {
                return true;
            }

            //alert(this.id);
            //alert(ModificacionCronogramaModel.DiasDuracionCronograma);
            //alert(ModificacionCronogramaModel.EntradasConfiguracionValidacionZona.length)

            objEntradaLog = {
                CodigosRegionZona: this.parentNode.parentNode.id + ';' + this.id,
                DiasDuracionCronogramaAnterior: this.attributes[2].value,
                DiasDuracionCronogramaActual: ModificacionCronogramaModel.DiasDuracionCronograma
            };
            ModificacionCronogramaModel.EntradasLog.push(objEntradaLog);
            objConfiguracionValidacionZona = {
                CampaniaID: "201301",
                ZonaID: this.id,
                DiasDuracionCronograma: ModificacionCronogramaModel.DiasDuracionCronograma
            };
            ModificacionCronogramaModel.EntradasConfiguracionValidacionZona.push(objConfiguracionValidacionZona);
        });
        //alert(ModificacionCronogramaModel.EntradasConfiguracionValidacionZona);

        // se envian los ids al servidor para ser grabados
        //debugger;
        if (ModificacionCronogramaModel.EntradasConfiguracionValidacionZona.length == 0) {
            alert("Debe seleccionar al menos una zona.");
            closeWaitingDialog();
            return false;
        }

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: baseUrl + 'ModificacionCronograma/GrabarZonas',
            data: JSON.stringify({ EntradasLog: ModificacionCronogramaModel.EntradasLog, EntradasConfiguracionValidacionZona: ModificacionCronogramaModel.EntradasConfiguracionValidacionZona, DiasDuracionCronograma: ModificacionCronogramaModel.DiasDuracionCronograma }),
            success: function (data) {
                //debugger;
                if (checkTimeout(data)) {
                    alert(data.message);
                    $("#txtDiasDuracionCronograma").val("1");
                    $('#chkSeleccionar').attr('checked', false);
                    CargarArbol();
                    closeWaitingDialog();
                }
            },
            error: function (data, error) {
                //debugger;
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("Se produjo un error al realizar la modificación de cronograma");
                }
            }
        });
    }

    function ExportarExcel() {
        //debugger;
        var PaisID = jQuery.trim($("#ddlPais").val());
        if (PaisID == "") {
            alert("Debe seleccionar un País.");
            return false;
        }

        //var vZona = jQuery.trim($("#ddlZona option:selected").text());
        //var vRegion = jQuery.trim($("#ddlRegion option:selected").text());

        waitingDialog({});

        setTimeout(function () {
            DownloadAttachExcel(PaisID)
        }, 0);
    }

    //function DownloadAttachExcel(vPaisID, vCampania, vRegion, vZona, vCodigos) {
    function DownloadAttachExcel(PaisID) {
        //debugger;
        if (checkTimeout()) {
            //var content = baseUrl + "ModificacionCronograma/ExportarExcel?" +
            //    "vPaisID=" + vPaisID +
            //    "&vRegionID=" + vRegion +
            //    "&vZonaID=" + vZona;
            var content = baseUrl + "ModificacionCronograma/ExportarExcel?PaisID=" + PaisID;

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }

    function IniDialogVerLog() {
        $('#DialogVerLog').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 940,
            draggable: true,
            title: "Log de Modificación de Cronograma",
            buttons:
            {
                "Cerrar": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "ModificacionCronograma/ConsultarLog",
            hidegrid: false,
            datatype: 'json',
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Código Usuario', 'Fecha', 'Región / Zona', 'Días Cronograma Anterior', 'Dias Cronograma Nuevo'],
            colModel: [
                { name: 'CodigoUsuario', index: 'CodigoUsuario', width: 30, editable: true, resizable: false },
                { name: 'Fecha', index: 'Fecha', width: 40, editable: true, resizable: false },
                { name: 'CodigosRegionZona', index: 'CodigosRegionZona', width: 100, editable: true, resizable: false },
                { name: 'DiasCronogramaAnterior', index: 'DiasCronogramaAnterior', width: 60, editable: true, resizable: false },
                { name: 'DiasCronogramaActual', index: 'DiasCronogramaActual', width: 60, editable: true, resizable: false },
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    ISOPais: 'ISOPais'
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Fecha',
            sortorder: 'desc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function MostrarDialogo() {
        //debugger;
        fnGrilla();
        showDialog("DialogVerLog");
    }

    $(function () {
        IniDialogVerLog();

        $('#ddlPais').change(function () {
            //debugger;
            var Id = $(this).val();
            if (Id != null) {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'ModificacionCronograma/ObtenerRegionesPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    //debugger;
                    if (checkTimeout(data)) {
                        LimpiarDependencias(Id);
                        if (Id != "") {
                            var ddlRegion = $('#ddlRegion');
                            var ddlZona = $('#ddlZona');
                            if (data.lstRegiones.length > 0) {
                                for (var item in data.lstRegiones) {
                                    if (data.lstRegiones.hasOwnProperty(item)) {
                                        ddlRegion.append($('<option/>', {
                                            value: data.lstRegiones[item].RegionID,
                                            text: data.lstRegiones[item].Codigo
                                        }));
                                    }
                                }
                            }
                            if (data.listaZonas.length > 0) {
                                for (var item in data.listaZonas) {
                                    if (data.listaZonas.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.listaZonas[item].ZonaID,
                                            text: data.listaZonas[item].Codigo
                                        }));
                                    }
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            }
        });

        $('#ddlRegion').change(function () {
            //debugger;
            var Id = $(this).val();
            if (Id != null) {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.ajax({
                    type: 'GET',
                    url: baseUrl + 'ModificacionCronograma/ObtenerZonasByRegion',
                    data: "PaisID=" + $("#ddlPais").val() + "&RegionID=" + (Id == "" ? -1 : Id),
                    cache: false,
                    dataType: 'Json',
                    success: function (data) {
                        //debugger;
                        if (checkTimeout(data)) {
                            var ddlZona = $('#ddlZona');
                            ddlZona.empty();
                            if (data.listaZonas.length > 0) {
                                ddlZona.append($('<option/>', {
                                    value: "",
                                    text: "-- Todas --"
                                }));
                                for (var item in data.listaZonas) {
                                    if (data.listaZonas.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.listaZonas[item].ZonaID,
                                            text: data.listaZonas[item].Codigo
                                        }));
                                    }
                                }
                            }
                            closeWaitingDialog();
                        }
                    },
                    error: function (x, xh, xhr) {
                        if (checkTimeout(x)) {
                            closeWaitingDialog();
                        }
                    }
                });
            }
        });

        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar un País, verifique");
                return false;
            }

            $("#txtDiasDuracionCronograma").val("");
            $('#chkSeleccionar').attr('checked', false);
            CargarArbol();

        });

        $("#arbolRegionZona").jstree({
            json_data: {
                //data: treeModel
                ajax: {
                    url: baseUrl + "ModificacionCronograma/CargarArbolRegionesZonas",
                    //async: true,
                    data: function (n) {
                        //debugger;
                        return { pais: $("#ddlPais").val(), region: $("#ddlRegion").val(), zona: $("#ddlZona").val() };
                    },
                    type: "GET",
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //debugger;
                    },
                    success: function (data, textStatus, jqXHR) {
                        //debugger;
                    },
                    complete: function () {
                        //debugger;
                        closeWaitingDialog();
                    }
                }
            },
            //checkbox: {
            //    real_checkboxes: true,
            //    real_checkboxes_names: function (n) {
            //        return [("check_" + (n[0].id || Math.ceil(Math.random() * 10000))), n[0].id]
            //    }
            //},
            "themes": {
                "theme": "apple",
                "dots": true,
                "icons": false
            },
            plugins: ["themes", "json_data", "ui", "checkbox"]
        });
        //.bind("loaded.jstree", function (event, data) {
        //    $('#demoTree').jstree('check_node', 'li[selected=selected]');
        //});

        $('#txtDiasDuracionCronograma').val("1");

        $('#txtDiasDuracionCronograma').keyup(function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[1-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('#txtDiasDuracionCronograma').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 49 || e.which > 57)) {
                return false;
            }
        });

        $("#chkSeleccionar").click(function () {
            //debugger;
            //alert(this.status);
            //$.jstree._reference($("#arbolRegionZona")).check_all();
            if (this.checked)
                //$.jstree._reference($("#arbolRegionZona")).get_checked(null, true)
                $.jstree._reference($("#arbolRegionZona")).check_all();
            else
                $.jstree._reference($("#arbolRegionZona")).uncheck_all();
        });
    });
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Modificación <span>Cronograma</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titF">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>

            </div>
            <div class="div-3">
                <div class="titF">Región:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.RegionID, new SelectList(Model.listaRegiones, "RegionID", "Codigo"), "-- Seleccionar --", new { id = "ddlRegion" })
                </div>
            </div>
            <div class="div-3">
                <div class="titF">Zona:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.ZonaID, new SelectList(Model.listaZonas, "ZonaID", "Codigo"), "-- Seleccionar --", new { id = "ddlZona" })
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="input_search">
                    <input type="submit" value="Buscar" id="btnBuscar" name="">
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="titH" style="width: 300px;">
                    Para actualizar el N° de días del cronograma, marque las regiones o zonas deseadas:
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="treeview_content borde_redondeado">
                    <div id="arbolRegionZona" class="demo">
                    </div>
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="titH">
                    <label id="lblSeleccionar">
                        <input type="checkbox" id="chkSeleccionar" />
                        Seleccionar todo</label>
                </div>
            </div>
            <div class="div-3">
                <div class="titF">N° dias Cronograma:</div>
                <div class="selectH2 borde_redondeado" style="width: 75px;">
                    <input type="text" id="txtDiasDuracionCronograma" maxlength="3" onpaste="return paste(this);" />
                </div>
                <div class="input_horizontal">
                    <input type="submit" value="Grabar" id="btnGrabar" name="btnGrabar" onclick="Grabar();">
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="input_horizontal">
                    <input type="button" value="Excel" id="btnExportarExcel" name="btnExportarExcel" onclick="ExportarExcel();">
                    <input type="button" value="Ver Log" id="btnVerLog" name="btnVerLog" onclick="MostrarDialogo();">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<div id="DialogVerLog" style="display: none;">
    <div class="Content_modal">
        <table id="list"></table>
        <div id="pager"></div>
    </div>
</div>
