
.contenedor_ficha_carrusel {
    display: inline-block;
    position: relative;
    width: 100%;
}

.contenedor_titulo_carrusel {
    display: inline-block;
    width: 100%;
}

.contenedor_linea_carrusel {
    display: flex;
    float: left;
    height: 18px;
    position: relative;
    width: 33%;
}

.dibujar_linea_titulo_carrusel {
    margin: auto;
    position: relative;
    width: 33px;
}

    .dibujar_linea_titulo_carrusel::before, .dibujar_linea_titulo_carrusel::after {
        border-bottom: solid 2px #979797;
    }

.linea_izquierda {
    margin-left: 90%;
}

.linea_derecha {
    margin-right: 90%;
}

.txt_titulo_carrusel {
    float: left;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-align: center;
    width: 34%;
}

.contenedor_carrusel {
    margin: 27px auto 0 auto;
    /*width: 75%;*/
    width: 813.75px;
}

.contenedor_producto_carrusel {
    background-color: #ffffff;
    border: solid 1px #e7e1e1;
    box-shadow: 0 15px 13px -8px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0 15px 13px -8px rgba(0, 0, 0, 0.31);
    -o-box-shadow: 0 15px 13px -8px rgba(0, 0, 0, 0.31);
    -ms-box-shadow: 0 15px 13px -8px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0 15px 13px -8px rgba(0, 0, 0, 0.31);
    letter-spacing: .2px;
    margin: 0 21px 20px 21px;
    padding: 30px;
    text-align: center;
}

.contenedor_imagen_carrusel {
    height: 158px;
    overflow: hidden;
    position: relative;
}

    .contenedor_imagen_carrusel img {
        height: 100%;
        width: auto;
    }

    .contenedor_imagen_carrusel:hover .btn_ver_detalle {
        opacity: 1;
    }

.btn_ver_detalle {
    background-color: #fff;
    border: solid 1px #000;
    bottom: 10px;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    left: 0;
    line-height: 38px;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 55%;
}

.contenedor_detalle_carrusel {
    position: relative;
    width: 100%;
}

.marca_detalle_carrusel {
    font-size: 11px;
    margin-top: 8px;
}

.descripcion_detalle_carrusel {
    font-weight: 700;
    height: 36px;
    line-height: 1.38;
}

.precio_detalle_carrusel {
    margin-top: 6px;
    width: 100%;
}

.precio_oferta_normal_carrusel {
    font-size: 12px;
    padding-right: 9px;
    text-decoration: line-through;
    width: 50%;
}

.precio_oferta_venta_carrusel {
    font-size: 16px;
    font-weight: 700;
    width: 50%;
}

.contenedor_elige_tu_tono_carrusel {
}


.contenedor_agregar_carrusel {
    margin-top: 30px;
    text-align: initial;
}

.contenedor_rangos_carrusel {
    border: solid 1px #cccccc;
    float: left;
    margin-right: 3%;
    width: 40%;
}

.txt_cantidad_pedido_carrusel {
    background: none;
    border: none;
    border-right: solid 1px #cccccc;
    color: #000;
    font-family: 'lato';
    font-size: 16px;
    font-weight: 700;
    height: 43px;
    text-align: center;
    position: relative;
    width: 65%;
}

.menos_mas_carrusel {
    height: 43px;
    float: right;
    width: 35%;
}

.txt_menos_carrusel {
    display: flex;
    height: 50%;
    padding-top: 0;
    width: 100%;
}

.txt_mas_carrusel {
    border-bottom: solid 1px #cccccc;
    display: flex;
    height: 50%;
    width: 100%;
}

.btn_agregalo_carrusel {
    width: 57%;
}

.dibujar_mas_carrusel, .dibujar_menos_carrusel {
    width: 8px;
}

.contenedor_flecha_carrusel {
    bottom: 0;
    display: flex;
    height: 60%;
    margin: auto;
    top: 0;
}

.flecha_izquierda_carrusel {
    left: -46px;
}

.dibujar_flecha_carrusel {
    height: 60px;
    margin: auto;
    position: relative;
    width: 38px;
}

    .dibujar_flecha_carrusel::before, .dibujar_flecha_carrusel::after {
        border-bottom: solid 3px #000;
        left: 0;
    }

    .dibujar_flecha_carrusel::before {
        top: 25%;
    }

    .dibujar_flecha_carrusel::after {
        bottom: 25%;
    }

.dibujar_flecha_izquierda_carrusel::before {
    -webkit-transform: rotate(127deg);
    -moz-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    -o-transform: rotate(127deg);
    transform: rotate(127deg);
}

.dibujar_flecha_izquierda_carrusel::after {
    -webkit-transform: rotate(53deg);
    -moz-transform: rotate(53deg);
    -ms-transform: rotate(53deg);
    -o-transform: rotate(53deg);
    transform: rotate(53deg);
}

.flecha_derecha_carrusel {
    right: -46px;
}

.dibujar_flecha_derecha_carrusel::before {
    -webkit-transform: rotate(233deg);
    -moz-transform: rotate(233deg);
    -ms-transform: rotate(233deg);
    -o-transform: rotate(233deg);
    transform: rotate(233deg);
}

.dibujar_flecha_derecha_carrusel::after {
    -webkit-transform: rotate(307deg);
    -moz-transform: rotate(307deg);
    -ms-transform: rotate(307deg);
    -o-transform: rotate(307deg);
    transform: rotate(307deg);
}

.dibujar_flecha_carrusel_tonos {
    height: 36px;
    margin: auto;
    position: relative;
    width: 22px;
}

    .dibujar_flecha_carrusel_tonos::before, .dibujar_flecha_carrusel_tonos::after {
        border-bottom: solid 1px #000;
    }

#carrusel .slick-track, #carrusel_tonos .slick-track, #carrusel_odd .slick-track {
    margin: 0 auto;
}
