/*
    [Inicio] Promociones 
*/

/* Promociones - Ficha*/
.promociones-modal{

}
.ficha-promociones > div, .descripcion-promociones > span {
    /*border: 1px solid red;
    margin: 1px;*/
    cursor: pointer;
}
.descripcion-promociones{
    background-color: white;
}
.ficha-promociones {
    width: 100%;
    margin: 1rem 0;
}

    .ficha-promociones .titulo-promociones,
    .promociones-modal .titulo-promociones.on-modal {
        width: 25%;
        
        text-align: center;
        background-image: linear-gradient(to right, #e81c36, #e71b38 25%, #cf0d5c 38%, #b9007e 47%, #7c0087 77%, #4e008e);
    }
    .on-modal .texto-promociones {
        font-size: 13px;
    }

.promociones-modal .titulo-promociones.on-modal {
    border-radius: 0;
}

.ficha-promociones .texto-promociones {
    font-size: 13px;
    color: #000;
}

.titulo-promociones .texto-promociones {
    color: #fff;
}

.descripcion-promociones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);*/
}
.ficha-promociones-box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.descripcion-promociones .contenedor-imagen {
    text-align: center;
    min-width: 6rem;
}

        .descripcion-promociones .contenedor-imagen img {
            max-width: 100% !important;
            height: 80px;
            padding: 0.7rem;
        }
/* Promociones - Detalle Modal */
.promociones-modal.popup_lateral.popup_active {
    width: 400px;
}

.contenedor-promocion-modal {
    width: 100%;
}

    .contenedor-promocion-modal .texto-promociones {
    }

.promociones-modal .contenedor_rangos, .promociones-modal .btn_agregalo {
    width: 100%
}

.promociones-modal .texto-promociones {
    font-size: 14px;
}

    .promociones-modal .texto-promociones.black {
        font-weight: 600;
        font-size: 16px;
    }

.promociones-modal .dark-color {
    color: black;
}

.promociones-modal .descripcion-promociones {
    flex-direction: column;
    align-items: unset;
    box-shadow: none;    
}

.promociones-modal .contenedor-imagen img {
    height: 120px;
    padding: 0;
    margin: 1rem;
}

.promociones-modal .img_producto img {
    height: 70px;
    margin-bottom: 0;
}


.modal-promociones--bottom {
    
    border-top: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

/* [Fin] */

/* Adaptando carrusel para modal de promociones */

.promociones-modal .caja_producto {
    margin-right: 20px;
    padding: 10px;
    margin-left: 0;
}
.contenedor_detalle{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 16px;
}

.ficha-promociones.banner_promociones_ocultar {
    display: none !important;
}
.b-0{
    bottom: 0;
}
.w-92 {
    width: 92%;
}
.h-40 {
    height: 40% !important
}
/* Carrusel Slick */

.promociones-modal .arrow.prev {
    left: -1.25rem;
}
.promociones-modal .arrow.next {
    right: -0.5rem;
}
.carrusel-promocion {
    height: auto;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.promociones-top,
.promociones-center,
.promociones-bottom{    
    flex-direction: column
}
.promociones-modal .titulo_seccion {
    margin-top: 20px;
    margin-bottom: 0;
}
.modal-top {
    position: relative;
    top: 0;
}

.modal-content-center {
    position: relative;
    min-height: 600px;
    overflow-y: auto;
    top: 0;
}

.modal-footer-bottom{
    position:fixed;
    bottom: 50px;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.promociones-modal .img_producto:hover .ver_detalle_producto{
    display: none;
}
/* End carrusel slick modal*/
@media (max-height: 666px) {
    /* 👿 */
    .promociones-modal.popup_lateral::after {
        /* Barra separadora central*/
        content: "";
        position: absolute;
        bottom: 47%;
        width: 100%;
        border-bottom: 0 solid #dee2e6;
    }
    .promociones-modal .border-top {
        border-top: 0 solid #fff !important;
    }
    
}