/* Tooltips */
.popover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    padding: 1px;
    font-size: 14px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-content {
    padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    z-index: 2;
}

.popover > .arrow {
    border-width: 11px;
}

.popover > .arrow:after {
    border-width: 10px;
    content: "";
}

.popover.top > .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
}

.popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
    z-index: 2;
}

.popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
}

.popover.bottom > .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    top: -11px;
}

.popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #ffffff;
}

.popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px;
}

.tooltip_agregar_desabilitado, .tooltip_limite_pedidos {
    top: -75px;
    width: 292px;
    right: 0;
}

.tooltip_agregar_desabilitado {
    margin-right: 0px;
}

.tooltip_limite_pedidos {
    margin-left: 0px;
}

 .tooltip_limite_pedidos > .arrow {
    left: 23% !important;
}

.popover > .arrow {
    border-top-color: rgba(0,0,0,.18) !important;
}

.popover-content {
    padding: 17px 10px;
}

.list-inline {
    margin-bottom: 0px;
}

.list-inline li{
    vertical-align: middle;
    display: inline-block;
}

.tooltip_agregado {
    width: 292px;
    max-width: 292px;
    color: #000;
    text-align: center;
    margin-right: 0;
    top: 66px;
    right: 135px;
    font-weight: bold;
}

.tooltip_agregado > .arrow {
    left: 93% !important;
}

