@using Portal.Consultoras.Common;
@using Portal.Consultoras.Web.Models.PagoEnLinea;
@model PagoEnLineaModel

@{
    ViewBag.Title = "Pago En Línea";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{

    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/Esika/pago-en-linea.css")">

    <style type="text/css">
        .footer-page {
            display: none;
            margin-bottom: 54px;
        }
    </style>

}

<!-- TÍTULO -->
<div class="cabecera_vista_pago_en_linea">
    <a href="@Request.UrlReferrer" class="enlace_regresar ajustePosicionFlecha" style="display:normal" title="Regresar"></a>
    PAGO EN LÍNEA RESULTADO
</div>
<!-- FIN TÍTULO -->

@Model.PagoVisaModel.Demooooo

@section scripts{

    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/PagoEnLinea/PagoVisa.js")"></script>

}