
@{
    ViewBag.Title = "Mis Cursos";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores">MIS <span>CURSOS</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="content_belcorp">
    <div class="pestana_lbel"></div>
</div>
<div class="content_incentivos">
    <div style="margin-bottom: 18px;">
       Por el momento el portal de Mi Academia no encuentra disponible, por favor inténtelo más tarde.
    </div>
    <hr class="clear" />
</div>
