<div class="popup_cierre_sesion" id="PopupCierreSesion" style="display:none;">
    <div class="popup_cierre_sesion_contenido">
        <div class="popup_cierre_sesion_icono icono_sesion_por_finalizar center-block">
        </div>
        <p class="text-center popup_cierre_sesion_mensaje">
            Tu sesión finalizará en : <span class="text-bold">48 segundos</span>
            <br />
            Deseas continuar?
        </p>
        <button class="center-block text-center popup_cierre_sesion_btn popup_cierre_sesion_btn_continuar btn_margen_inferior_30">
            Sí, continuar.
        </button>
        <button class="center-block text-center popup_cierre_sesion_btn popup_cierre_sesion_btn_cerrar_sesion">
            No, cerrar sesión
        </button>
    </div>
</div>