<div id="divAlertaPedidosOnline" class="alert-top alert-success alert-top-conline" style="display: none;">
    <a href="@Url.Action("MisPedidos", "ConsultoraOnline", new { area = "Mobile" })">
        <span class="alert-icon">
            <i class="icon-notificaciones-belcorp"></i>
        </span>
        <span id="spanNumeroPedidoOnline1" class="alert-number"></span>
        <div class="alert-text upper center-min">TIENES <span id="spanNumeroPedidoOnline2">0</span> NUEVOS PEDIDOS DE CONSULTORA ONLINE</div>
    </a>
    <span class="alert-close">
        <i class="icon-close-belcorp"></i>
    </span>
</div>