<div id="popupComunidad" class="modal fade" data-backdrop="static" data-keyboard="false" style="z-index: 10000 !important; ">
    <div class="modal-dialog modal-alert ">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row text-left">
                    <div class="col-xs-12">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close-belcorp"></i></button>
                        <ol class="breadcrumb-next upper">
                            <li>
                                Comunidad Somos Belcorp
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row text-left">

                    <div class="form-controls-grey">
                        <div class="col-xs-12">
                            <div class="form-group">
                                ¿Aún no eres parte de nuestra comunidad?
                                Ingresa tus datos aquí.
                            </div>
                            <div class="form-group">
                                <input id="txtNombreConCom" class="form-control" placeholder="" value="@ViewBag.NombreC" type="text" readonly="readonly" />
                            </div>

                            <div class="form-group">
                                <input id="txtApellidoConCom" class="form-control" placeholder="" value="@ViewBag.ApellidoC" type="text" readonly="readonly" />
                            </div>

                            <div class="form-group">
                                <input id="txtUsuarioComunidad" class="form-control" placeholder="Tu apodo en la Comunidad" maxlength="25" type="text" onblur="if (this.value != '') { ValidarUsuarioIngresado(this.value); }" />
                                <div id="ErrorUsuario" style="font-size: 11px; color: red; display: none;">Debe ingresar un apodo.</div>
                                <div id="ValUsuario" style="font-size: 11px; display: none;"></div>
                            </div>

                            <div class="form-group">
                                <input id="txtNuevoCorreoComunidad" class="form-control" placeholder="Correo Electronico" onblur="if (this.value != '') { ValidarCorreoIngresado(this.value); }" />
                                <div id="ErrorCorreo" style="font-size: 11px; color: red; display: none;"></div>
                                <div id="ValCorreo" style="font-size: 11px; display: none;"></div>
                            </div>

                            <div class="block-center text-center">
                                <a id="btnRegistrarUsuarioComunidad" onclick="return ValidarCorreoComunidad(2)" class="btn btn-line-action btn-round">Crea tu cuenta</a>
                            </div>
                        </div>
                    </div>

                    <div class="clear">
                    </div>

                    <div class="col-xs-12">
                        <hr style="border-top: 1px solid #CCC;" />
                    </div>
                    <div class="form-controls-grey">

                        <div class="col-xs-12">
                            <div class="form-group">
                                Si ya eres miembro de la Comunidad Somos Belcorp, ingresa tu correo aquí:
                            </div>
                            <div class="form-group">

                                <input id="txtCorreoComunidad" class="form-control" placeholder="Correo Electronico" />
                                <div id="ErrorCorreoC" style="font-size: 11px; color: red; display: none;"></div>
                                <div id="ES_CorreoC" style="height: 10px; display: none;"></div>

                            </div>

                            <div class="block-center text-center">
                                <a id="btnValidarCorreo" class="btn btn-line-action btn-round" onclick="return ValidarCorreoComunidad(1)">Ingresar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>