<div id="bloquemensajesPostulante" style="display:none;">
    <div class="bloque_mensajesPedido">
        <div class="icono_cerrar_mensaje">
            <span>
                <a href="javascript:void(0);" title="Cerrar" onclick="cerrarMensajePostulante();">
                    <img src="/Content/Images/cerrar_04.png" alt="Cerrar">
                </a>
            </span>
        </div>
        <div class="icono_estadoPedido" style="position: absolute;">
            <img src="@Url.Content("~/Content/Images/icono_exclamacion_estado_pedido_negro.png")" alt="Icono Estado Pedido" />
        </div>
        <div class="mensajes_estadoPedido" style="margin-left: 40px; margin-right: 15px;">
            TE ENCUENTRAS EN UNA SESIÓN DE PRUEBA
            <span class="mensaje_horarioIngresoPedido">
                Una vez recibas tu código de consultora, podrás acceder a todos los beneficios de Somos Belcorp.
            </span>
        </div>
    </div>
</div>