<div id="dialog_MensajePostulante_Pedido" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="CerrarDialogMesajePostulantePedido();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b id="titutloPedido">IMPORTANTE</b></div>
        <div id="mensajePedido" class="mensaje_alerta"></div>
        <a href="javascript:;" onclick="CerrarDialogMesajePostulantePedido();" class="btn_ok_mobile"><b>CONTINUAR</b></a>
    </div>
</div>
