<div class="content-spinner2" id="loading-spin">
    <div class="busy-loader">
        <div class="w-ball-wrapper ball-1">
            <div class="w-ball"></div>
        </div>
        <div class="w-ball-wrapper ball-2">
            <div class="w-ball"></div>
        </div>
        <div class="w-ball-wrapper ball-3">
            <div class="w-ball"> </div>
        </div> <div class="w-ball-wrapper ball-4">
            <div class="w-ball"> </div>
        </div>
        <div class="w-ball-wrapper ball-5">
            <div class="w-ball"> </div>
        </div>
    </div>
</div>