<div id="popupInformacion" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacion').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div id="mensajeInformacion" class="mensaje_alerta"></div>
        <a href="javascript:;" onclick="$('#popupInformacion').hide();" class="btn_ok_mobile btn-aceptar"><b>OK</b></a>
    </div>
</div>

<div id="popupInformacion2" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacion2').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div id="mensajeInformacion2" class="mensaje_alerta"></div>
        <a href="javascript:;" onclick="ModificarPedido2('2');" class="btn_ok_mobile btn-aceptar" style="width:152px;"><b>Modificar mi pedido</b></a>
    </div>
</div>

<div id="popupInformacionValidado" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionValidado').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile" style="display: none;"></div>
        <div class="icono_alerta check_icono_mobile" style="display: none;"></div>
        <div class="titulo_compartir"><b id="bTagTitulo">MENSAJE</b></div>
        <div id="mensajeInformacionvalidado" class="mensaje_alerta"></div>
        <a href="javascript:;" onclick="$('#popupInformacionValidado').hide();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

<div id="popupInformacionConfirmacion" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;"
           onclick="javascript: $('#popupInformacionConfirmacion').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile" style="display: none;"></div>
        <div class="icono_alerta check_icono_mobile" style="display: none;"></div>
        <div class="titulo_compartir"><b id="bTagTitulo">MENSAJE</b></div>
        <div id="mensajeInformacionConfirmacion" class="mensaje_alerta"></div>
        <div style="text-align: center; margin-top: 30px;">
            <a href="javascript:;"
               onclick="$('#popupInformacionConfirmacion').hide();"
               class="btn_ok_mobile btn_ok_mobile-inline"
               style="width: 100px; margin-left: 0">
                <b>Cancelar</b>
            </a>
            <a href="javascript:;"
               onclick="$('#popupInformacionConfirmacion').hide();"
               class="btn_ok_mobile btn_ok_mobile-inline aceptar-mobile"
               style="width: 100px; margin-left: 20px;">
                <b>Aceptar</b>
            </a>
        </div>
    </div>
</div>

<div id="popupInformacionSB2Malo" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionSB2Malo').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>IMPORTANTE</b></div>
        <div id="mensajeInformacionSB2_Malo" class="mensaje_alerta"></div>
        <a href="javascript:;" onclick="$('#popupInformacionSB2Malo').hide();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

<div id="popupInformacionSB2Error" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionSB2Error').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir"><b>LO SENTIMOS</b></div>
        <div id="mensajeInformacionSB2_Error" class="mensaje_alerta"></div>
        <a href="javascript:;" onclick="$('#popupInformacionSB2Error').hide();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

<div id="popupInformacionSB2Bueno" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#popupInformacionSB2Bueno').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta check_icono_mobile"></div>
        <div class="titulo_compartir">¡LO <b>LOGRASTE</b>!</div>
        <div id="mensajeInformacionSB2Bueno" class="mensaje_alerta"></div>
        <a href="javascript:;" onclick="$('#popupInformacionSB2Bueno').hide();" class="btn_ok_mobile"><b>OK</b></a>
    </div>
</div>

<div id="popupInformacionConfirmacion" class="MensajeAlertaMobile" style="display:none;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;"
           onclick="javascript: $('#popupInformacionConfirmacion').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile" style="display: none;"></div>
        <div class="icono_alerta check_icono_mobile" style="display: none;"></div>
        <div class="titulo_compartir"><b id="bTagTitulo">MENSAJE</b></div>
        <div id="mensajeInformacionConfirmacion" class="mensaje_alerta"></div>
        <div style="text-align: center; margin-top: 30px;">
            <a href="javascript:;"
               onclick="$('#popupInformacionConfirmacion').hide();"
               class="btn_ok_mobile btn_ok_mobile-inline"
               style="width: 100px; margin-left: 0">
                <b>Cancelar</b>
            </a>
            <a href="javascript:;"
               onclick="$('#popupInformacionConfirmacion').hide();"
               class="btn_ok_mobile btn_ok_mobile-inline aceptar-mobile"
               style="width: 100px; margin-left: 20px;">
                <b>Aceptar</b>
            </a>
        </div>
    </div>
</div>