<div id="popup-consultora-ya-registrada-coach-virtual" class="contenedor_fondo_popup" style="display:none;">

    <div class="popup_felicitaciones_coach_virtual tipografia_lato altoPopupConsultoraConRegistro">
        <a href="#" class="cerrar_popup_inscripcion" title="Cerrar">
            <!-- <img src="img/icono-cerrar-popup-inscripcion.svg" alt="Cerrar"> -->
        </a>
        <div class="contenido_popup">
            <div class="titulo_popup_felicitaciones_coach_virtual mb-20">
                <span class="tipografia_lato_bold">HOLA <span id="nombre_consultora_registrada_coach"></span></span>
                <div class="info_advertencia_consultora_registrada">
                    <span class="icono_advertencia_datos_registrados color_esika">
                        <img src="@Url.Content("~/Content/Images/icono_advertencia_consultora_registrada_coach.png")" alt="Consultora ya registrada a coach virtual" />
                    </span>
                    <span class="mensaje_advertencia_datos_registrados color_esika tipografia_lato_regular">
                        Ya estás suscrita a Ésika Mi Guía Digital con estos datos
                    </span>
                </div>
            </div>
            @*<div class="mensaje_popup_felicitaciones_coach_virtual mb-12">
                <span class="tipografia_lato_regular texto_datos_mensajeF">Los datos fueron:</span>
            </div>*@
            <div class="datos_consultora_popup_felicitaciones_coach_virtual mb-20">
                <div class="bloque_izq_datos">
                    <span class="icono_popup_felicitaciones_coach_virtual icono_mail_coach_virtual">
                        <img src="@Url.Content("~/Content/Images/icono-mail-popup-felicitaciones.svg")" alt="Correo electrónico">
                    </span>
                    <span class="icono_popup_felicitaciones_coach_virtual icono_smartphone_coach_virtual">
                        <img src="@Url.Content("~/Content/Images/icono-smartphone-popup-felicitaciones.svg")" alt="Correo electrónico">
                    </span>
                </div>
                <div class="bloque_der_datos">
                    <span id="correo_consultora_registrada_coach" class="datos_consultora_inscrita tipografia_lato_bold">

                    </span>
                    <span id="telefono_consultora_registrada_coach" class="datos_consultora_inscrita tipografia_lato_bold">

                    </span>
                </div>
            </div>
            <div class="btn_modificar_datos">
                <button id="modificar_mis_datos_ya_registrado" class="tipografia_lato tipografia_lato_bold">QUIERO MODIFICARLOS</button>
                <span class="tipografia_lato_bold">Todos son correctos</span>
            </div>
        </div>
    </div>

</div>
