<div id="popup-felicitaciones" class="contenedor_fondo_popup" style="display:none;">

    <div class="popup_felicitaciones_coach_virtual tipografia_lato">
        <a href="#" class="cerrar_popup_inscripcion" title="Cerrar">
        </a>
        <div class="contenido_popup contenido_popup_landing_coach_virtual">
            <div class="titulo_popup_felicitaciones_coach_virtual">
                <span class="tipografia_lato_bold"><span id="nombre_consultora"></span>, BIENVENIDA A</span>
                <span class="tipografia_lato_bold">
                    <span class="color_esika">ÉSIKA MI GUÍA DIGITAL</span>
                </span>
            </div>
            <div class="mensaje_popup_felicitaciones_coach_virtual">
                <span class="tipografia_lato_regular">Estaremos siempre en contacto para asesorarte</span>
                <span class="tipografia_lato_bold">Confírmanos tus datos</span>
            </div>
            <div class="datos_consultora_popup_felicitaciones_coach_virtual">
                <div class="bloque_izq_datos">
                    <span class="icono_popup_felicitaciones_coach_virtual icono_mail_coach_virtual">
                        <img src="@Url.Content("~/Content/Images/icono-mail-popup-felicitaciones.svg")" alt="Correo electrónico">
                    </span>
                    <span class="icono_popup_felicitaciones_coach_virtual icono_smartphone_coach_virtual">
                        <img src="@Url.Content("~/Content/Images/icono-smartphone-popup-felicitaciones.svg")" alt="Correo electrónico">
                    </span>
                </div>
                <div class="bloque_der_datos">
                    <span id="correo_consultora" class="datos_consultora_inscrita tipografia_lato_bold">

                    </span>
                    <span id="telefono_consultora" class="datos_consultora_inscrita tipografia_lato_bold">

                    </span>
                </div>
            </div>
            <div class="btn_modificar_datos">
                <button id="modificar_mis_datos" class="tipografia_lato tipografia_lato_bold">MODIFICAR MIS DATOS</button><br />
                <button id="datos_son_correctos" class="tipografia_lato tipografia_lato_bold">TODOS MIS DATOS SON CORRECTOS</button>
            </div>
        </div>
    </div>

</div>
