@model int

@Html.Hidden("SolicitudPostulanteID", Model)


<style>
    .boton_celeste { behavior: url('@Url.Content("~/Content/Css/Pie/PIE.htc)")') !important; }
</style>
<style>
    .boton_celeste {
        width: auto !important;
        background-color: #009EE4 !important;
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
        box-shadow: rgba(0,0,0,0.1) 0 0 5px;
        -moz-box-shadow: rgba(0,0,0,0.1) 0 0 5px;
        -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 5px;
        padding: 0 10px;
    }
</style>

<div class="popup_eliminarCliente popup_AprobarSol">
    <div class="btn_cerrar_agregarUnidades">
        <a href="javascript:;" onclick="closeAprobar();">
            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
            <span class="texto_btn_cerrar">CERRAR</span>
        </a>
    </div>

    <div class="contenido_popUp eliminarCliente">
        <div class="div-3" style="font-weight: bold;   font-size: 15px !important;   padding: 25px;">

            ¿Est&aacute; seguro de aprobar a esta postulante?

        </div>
        <div class="btn_grupo_eliminarCliente" style="width:90%; margin-left:5%; display:inline-block; margin-top:10px;">
            <input type="submit" class="btn_noEliminarCliente btnAprobarSol" id="btnAceptar" value="Aceptar" />
            <input type="submit" class="btn_noEliminarCliente btnAprobarSol" id="btnCancelar" value="Cancelar" />
        </div>
    </div>
</div>


<style>
    .btnAprobarSol {
        float: none !important;
        text-align: center;
        font-weight: normal !important;
        width: 25% !important;
        font-size: 13px;
        line-height: normal !important;
    }

    button:disabled {
        background-color: #B75D9F;
        cursor: default;
    }

    .popup_AprobarSol h6 {
        display: block !Important;
        margin: 0 0 30px 0 !Important;
        padding: 0 !Important;
        font-family: 'Lato' !Important;
        font-size: 20px !Important;
        color: #000 !Important;
        text-align: center !Important;
        font-weight: normal !Important;
        line-height: 1.25 !Important;
    }

    .popup_AprobarSol {
        max-width: 600px !important;
        margin: -100px auto 0 auto !important;
    }

    .elementsFont {
        width: 100%;
        font-family: 'lato';
        font-size: 11pt;
        font-weight: 300;
        color: black;
        margin-top: 10px;
    }

    .selectP2 select {
        height: 24px;
        font-family: 'Lato';
        color: black;
        font-size: 11.7px;
        cursor: pointer;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 300px;
    }

    .selectUbicacion {
        width: 300px !important;
    }

        .selectUbicacion select {
            width: 300px !important;
        }

    keygen, select, select[size="0"], select[size="1"] {
        border-radius: 0px;
        border-color: rgb(169, 169, 169);
    }

    user agent stylesheet select:not(:-internal-list-box) {
        overflow: visible !important;
    }

    user agent stylesheet select {
        -webkit-appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        color: black;
        background-color: white;
        cursor: default;
        border-width: 1px;
        border-style: solid;
        border-color: initial;
        border-image: initial;
    }

    user agent stylesheet keygen, select {
        border-radius: 5px;
    }

    user agent stylesheet input, textarea, keygen, select, button {
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em 0em 0em 0em;
        font: 13.3333px Arial;
    }

    user agent stylesheet input, textarea, keygen, select, button, meter, progress {
        -webkit-writing-mode: horizontal-tb;
    }
</style>




<script>
    $('#imgCerrar, #btnCancelar').click(function () {
        $('#divAprobarPostulante').hide();
    });

    function closeAprobar()
    {
        $('#divAprobarPostulante').hide();
    }
    $('#btnAceptar').click(function () {
        $.post('@Url.Action("AprobarPostulante", "Unete")', { id: $('#SolicitudPostulanteID').val().toString() }, function (reactivada) {
            if (reactivada) {
                $('#divAprobarPostulante').hide();
                fnGrilla();
            }
        });
    });
</script>