@model Tuple<string, string, int>
@using System.Configuration
@using Portal.Consultoras.Common
<div class="wrap_cab">
    <div class="filtros2">
        <div class="div-2">
            <h2>
                @if (Model.Item3 == 1)
                {
                    <text>Ver Documento Identidad</text>
                }
                else if (Model.Item3 == 2)
                {
                    <text>Ver Documento Domicilio</text>
                }
                else if (Model.Item3 == 3)
                {
                    <text>Ver Documento Contrato</text>
                }
                else if (Model.Item3 == 4)
                {
                    <text>Ver Documento Pagare</text>
                }
                else if (Model.Item3 == 5)
                {
                    <text>Ver Documento DNI Aval</text>
                }
                <img id="imgCerrar" src="@Url.Content("~/Content/Images/btnCerrar_AD.png")" class="float_rigth" style="cursor: pointer;" />
            </h2>
        </div>
        <div class="elements border_modal" style="padding-top: 15px !important">
            <img src='@(ConfigS3.GetUrlFileS3WithAuthentication(string.Format(
                            ConfigurationManager.AppSettings[
                                Model.Item3 == 1 ? AppSettingsKeys.DocumentosIdentidadStorage :
                                Model.Item3 == 2 ? AppSettingsKeys.DocumentosDomicilioStorage :
                                Model.Item3 == 3 ? AppSettingsKeys.DocumentosContratoStorage :
                                Model.Item3 == 4 ? AppSettingsKeys.DocumentosPagareStorage :
                                    AppSettingsKeys.DocumentosAvalStorage
                                ], Model.Item1, Model.Item2)))' height='280' width='380' />
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#imgCerrar').click(function () {
            modal.dialog('close');
        });
    });
</script>