
<style>
    .boton_celeste {
        width: 130px !important;
        background-color: #009EE4;
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
    }
</style>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="div-2">
            <h2>
                Evaluaci&oacute;n Crediticia
            </h2>
        </div>
    </div>
</div>
<div class="elements">
    <div class="div-3" style="text-align:center;">
        Primero debes georeferenciar a la postulante para poder realizar la evaluaci&oacute;n crediticia.
    </div>
</div>
<div class="elements">
    <div class="div-2">
        <div class="input_search" style="text-align: center;">
            <input type="submit" class="boton_celeste borde_redondeado" id="btnAceptar" value="Aceptar" />
        </div>
    </div>
</div>

<script>

    $('#btnAceptar').click(function (e) {
        modal.dialog('close');
        e.preventDefault();
    });
    
    setTimeout(function() {
        $('.boton_celeste').css('behavior', 'url("@Url.Content("~/Content/Css/Pie/PIE.htc)")")');
    }, 10);
</script>