@model Portal.Consultoras.Web.Models.MensajeModel

<style>
    /* MENSAJE ERROR */

    .popup_infoError{
        position: absolute;
        left: 0;
        right: 0;
        /*top: 50%;*/
        width: 359px;
        height: auto;
        background: #FFF;
        font-family: 'Lato';
        font-size: 14px;
        color: #000;
        margin: 0 auto;
        z-index: 2000;
        padding: 13px 35px 20px 35px;
        box-sizing: border-box;
    }

    .info_error, .info_error span, .grupo_botones_acciones_mensajeError{
        display:block;
    }

    .info_error span{
        margin: 19px 0px 19px 0px;
        overflow-wrap:break-word;
    }

    .grupo_botones_acciones_mensajeError {
    
        text-align:center;
    }

    .grupo_botones_acciones_mensajeError button{
        display: inline-block;
        background: #642f80;
        color: #FFF;
        border: 0px;
        width: 139px;
        height: 37px;
        font-family: 'Lato';
        text-align: center;
        letter-spacing:0.5px;
        transition:all 0.3s ease;
        -moz-transition:all 0.3s ease;
        -o-transition:all 0.3s ease;
        -ms-transition:all 0.3s ease;
        -webkit-transition:all 0.3s ease;
    }

    .grupo_botones_acciones_mensajeError button:hover{
        opacity:0.8;
    }

    .grupo_botones_acciones_mensajeError button:first-child{
        margin-right:8px;
    }

    /* FIN MENSAJE ERROR */
</style>


    <div class="popup_infoError">
        <div class="info_error">
            <span>@Model.TextoMensaje</span>
        </div>
        <div class="grupo_botones_acciones_mensajeError">
            <button id="btnAceptarMensajeTemplate" type="button">Aceptar</button>
            @*<button id="btnCancelarMensaje" type="button">Cancelar</button>*@
        </div>
    </div>

<script>

    var centrarPopupInfoError = ($(window).height() - $(".popup_infoError").outerHeight()) / 2;
    $(".popup_infoError").css({ "top": centrarPopupInfoError });

    $('#btnAceptarMensajeTemplate').click(function () {
        //modal.dialog('close');
        $('#divTemplateMensaje').hide();
        $('#divConsultarUbicacion').css({ "overflow-y": "auto" });
    })

    //# sourceURL===_ConfirmarPosicion.cshtml
</script>
