@model  Portal.Consultoras.Web.Models.MailOptInModel

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Belcorp</title>
    <style>
            * {
                margin: 0;
                padding: 0;
            }

            * {
                font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            }

            img {
                max-width: 100%;
            }

            .collapse {
                margin: 0;
                padding: 0;
            }

            body {
                -webkit-font-smoothing: antialiased;
                -webkit-text-size-adjust: none;
                width: 100% !important;
                height: 100%;
            }

            a {
                color: #959596;
                text-decoration: none;
            }

            .btn {
                text-decoration: none;
                color: #FFF;
                text-align: center;
                cursor: pointer;
                display: inline-block;
            }

            p.callout {
                padding: 15px;
                background-color: #ECF8FF;
                margin-bottom: 15px;
            }

            .callout a {
                font-weight: bold;
                color: #2BA6CB;
            }

            table.social {
            }

            .social .soc-btn {
                padding: 3px 7px;
                font-size: 12px;
                margin-bottom: 10px;
                text-decoration: none;
                color: #FFF;
                font-weight: bold;
                display: block;
                text-align: center;
            }

            a.fb {
                background-color: #3B5998 !important;
            }

            a.tw {
                background-color: #1daced !important;
            }

            a.gp {
                background-color: #DB4A39 !important;
            }

            a.ms {
                background-color: #000 !important;
            }

            .sidebar .soc-btn {
                display: block;
                width: 100%;
            }

            table.head-wrap {
                width: 100%;
                margin: 0 auto;
            }

            .header.container table td.logo {
                padding: 15px;
            }

            .header.container table td.label {
                padding: 15px;
                padding-left: 0px;
            }

            table.body-wrap {
                width: 100%;
                max-width: 600px;
                font-size: 14px;
                margin: 0 auto;
            }

            table.footer-wrap {
                width: 100%;
                clear: both !important;
                margin: 0 auto;
            }

            .footer-wrap .container td.content p {
                border-top: 1px solid rgb(215,215,215);
                padding-top: 15px;
            }

            .footer-wrap .container td.content p {
                font-size: 10px;
                font-weight: bold;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: Arial, Helvetica, sans-serif;
                line-height: 1.1;
                margin-bottom: 15px;
                color: #000;
                font-size: 14px;
            }

                h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
                    font-size: 60%;
                    color: #6f6f6f;
                    line-height: 0;
                    text-transform: none;
                }

            h1 {
                font-weight: 200;
                font-size: 44px;
            }

            h2 {
                font-weight: 200;
                font-size: 37px;
            }

            h3 {
                font-weight: 500;
                font-size: 27px;
            }

            h4 {
                font-weight: 500;
                font-size: 23px;
            }

            h5 {
                font-weight: 900;
                font-size: 17px;
            }

            h6 {
                font-weight: 900;
                font-size: 14px;
                text-transform: uppercase;
                color: #444;
            }

            .collapse {
                margin: 0 !important;
            }

            p, ul {
                margin-bottom: 10px;
                font-weight: normal;
                font-size: 14px;
                line-height: 1.6;
            }

                p.lead {
                    font-size: 17px;
                }

                p.last {
                    margin-bottom: 0px;
                }

                ul li {
                    margin-left: 5px;
                    list-style-position: inside;
                }

                ul.sidebar {
                    background: #ebebeb;
                    display: block;
                    list-style-type: none;
                }

                    ul.sidebar li {
                        display: block;
                        margin: 0;
                    }

                        ul.sidebar li a {
                            text-decoration: none;
                            color: #666;
                            padding: 10px 16px;
                            margin-right: 10px;
                            cursor: pointer;
                            border-bottom: 1px solid #777777;
                            border-top: 1px solid #FFFFFF;
                            display: block;
                            margin: 0;
                        }

                            ul.sidebar li a.last {
                                border-bottom-width: 0px;
                            }

                            ul.sidebar li a h1, ul.sidebar li a h2, ul.sidebar li a h3, ul.sidebar li a h4, ul.sidebar li a h5, ul.sidebar li a h6, ul.sidebar li a p {
                                margin-bottom: 0 !important;
                            }

            .container {
                display: block !important;
                max-width: 600px !important;
                margin: 0 auto !important; 
                clear: both !important;
            }

            .content {
                max-width: 600px;
                margin: 0 auto;
                display: block;
            }

                .content table {
                    width: 100%;
                }

            .column {
                width: 300px;
                float: left;
            }

                .column tr td {
                    padding: 15px;
                }

            .column-wrap {
                padding: 0 !important;
                margin: 0 auto;
                max-width: 600px !important;
            }

            .column table {
                width: 100%;
            }

            .social .column {
                width: 280px;
                min-width: 279px;
                float: left;
            }

            .social .column1 {
                width: 290px;
                min-width: 289px;
                float: left;
            }

            .social .column2 {
                width: 200px;
                min-width: 199px;
                float: left;
            }

            .clear {
                display: block;
                clear: both;
            }
            
            @@media only screen and (max-width: 600px) {

                a[class="btn"] {
                    display: block !important;
                    margin-bottom: 10px !important;
                    background-image: none !important;
                    margin-right: 0 !important;
                }

                div[class="column"] {
                    width: auto !important;
                    float: none !important;
                }

                table.social div[class="column"] {
                    width: auto !important;
                }
            }
    </style>
</head>
<body bgcolor="#f5f5f7">
    <table width="600" cellspacing="0" cellpadding="0" align="center" bgcolor="#f5f5f7">
        <tr>
            <td>
                <table class="head-wrap" bgcolor="#f5f5f7" width="600" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td class="header container" width="600">
                            <div class="content">
                                <table bgcolor="#f5f5f7" width="100%">
                                    <tr>
                                        <td width="600" align="center"><img style="margin:0 auto;display:block;" src="cid:1" /></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="body-wrap" width="600" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td class="container" bgcolor="#f5f5f7" width="600">
                            <div class="content">
                                <table width="600">
                                <tr>
                                    <td width="600">
                                    <div style="margin:0 !important;max-height:293px;width:600px;"><img width="600" src="cid:1.1" /></div>

                                    <table bgcolor="#000000" width="600">
                                        <tr>
                                            <td align="center" width="600" style="background:#000000;">
                                                <p style="font-family: Arial, Helvetica, sans-serif;color: #ffffff; font-size: 17px; text-align: center;margin-bottom:20px; margin-left:60px;margin-right:60px;"> &#161;EST&Aacute;S A UN PASO DE INICIAR TU NEGOCIO DE BELLEZA PROPIO!</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" width="600" style="background:#000000;">
                                                <p style="font-family: Arial, Helvetica, sans-serif; color: #ffffff; font-size: 20px; text-align: center; margin-left: 60px; margin-right: 60px;">PARA ACTIVAR TU REGISTRO DE INSCRIPCI&Oacute;N, HAZ CLICK EN EL SIGUIENTE BOT&Oacute;N.</p>
                                            </td>
                                        </tr>
                                    </table>
                                    <table bgcolor="#000000" width="600">
                                        <tr>
                                            <td align="center" valign="top" width="600" bgcolor="#000000" height="75">
                                                <a href="@Model.UrlConfirmacion" style="margin:0;padding:0;background:#000000;" class="btn"><img src="cid:2.1" style="background:#000000;" /></a>
                                            </td>
                                        </tr>
                                    </table>

                                    <div style="background-color:#FFF;width:auto; height:auto; text-align:center;align-content:center;align-items:center;">
                                            <table bgcolor="#ffffff" height="90" width="600" align="center">
                                                <tr>
                                                    <td align="center" width="600">
                                                        <p style="color:#000000;font-size: 14px;text-align: center;">&#191;No funciona el bot&oacute;n&#63;</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" width="600">
                                                        <p style="color:#000000;font-size: 14px;text-align: center;">Haz click en el siguiente enlace o pegalo en tu navegador: </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="word-break:break-all;">
                                                        <a href="@Model.UrlConfirmacion" style="color:#959596">@Model.UrlConfirmacion</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                      <br />

                                    <table class="social" width="600">
                                        <tr>
                                            <td width="300">
                                                <table align="left" class="column1" height="34">
                                                    <tr>
                                                        <td width="100%" height="34">
                                                            <p style="color:#959596;line-height: 34px;font-size:12px;height: 34px;font-family:Arial;vertical-align:top;">
                                                                Conoce nuestras marcas:    &Eacute;SIKA       L`BEL     CYZONE
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="200">
                                                <table align="left" class="column2">
                                                    <tr>
                                                        <td align="center">
                                                            <a href="#"><img src="cid:3.2" alt="" /></a>
                                                            <a href="https://www.facebook.com/SomosBelcorpOficial/?fref=ts"><img src="cid:3.1" alt="" /></a>
                                                            <a href="https://www.youtube.com/user/somosbelcorp"><img src="cid:3.3" alt="" /></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <span class="clear"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <table class="footer-wrap" width="600" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td class="container" width="600">
                    <div class="content">
                        <table>
                            <tr>
                                <td align="center">
                                    <p style="color: #959596; font-size: 12px; font-family: Arial;">
                                        <a href="http://comunidad.somosbelcorp.com/t5/Comunidad-Blog/RESUELVE-TUS-DUDAS-O-ADQUIERE-TUS-PRODUCTOS-FAVORITOS/ba-p/9082">Preguntas Frecuentes</a> |
                                        <a href="#">Ayuda</a> |
                                        <a href="http://www.belcorpresponde.com/">Cont&aacute;ctanos</a> |
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</body>
</html>
