@model Portal.Consultoras.Web.Models.NivelesRiesgoModel
@{
    Layout = "~/Views/Shared/_SACLayout.cshtml";
    ViewBag.Title = "Niveles de Riesgo";
}


<style type="text/css">
    #SelectedRowList {
        margin-top: 5px;
        border: 1px solid #999;
        background-color: #EEE;
        padding: 5px;
    }
</style>


<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<script type="text/javascript">



    jQuery(document).ready(function () {
        fnForm();
        fnGrilla();
    });


    function split(val) {
        return val.split(/^[,\s]*|\s*,\s*|[,\s]+$|^$/);//val.split(/,\s*|\s*,\s*|^$/);
    }


    function limpiarM() {
        $('#divuplArchivo').html($('#divuplArchivo').html());
    }


    function Procesar() {
        var uplArchivo = $("#uplArchivo").val();
        if (uplArchivo == "") {
            alert("Debe seleccionar un archivo Excel para realizar la carga masiva.");
            return false;
        }
        waitingDialog({});
        $("#frmProcesarMasivo").submit();
    }

    function fnForm() {
        $('#frmProcesarMasivo').ajaxForm({
            beforeSubmit: function () {
            },
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert(data);
                    limpiarM();
                    fnGrilla();
                }
            },
            error: function (request, status, error) {
                if (checkTimeout(request)) {
                    closeWaitingDialog();
                    alert("Ocurrrió un error inesperado al procesar la carga masiva de Faltantes. Consulte con su administrador del sistema para obtener mayor información");
                }
            }
        });
    }

    function DescargarModelo() {
        waitingDialog({});
        setTimeout(function () { DownloadAttachExcel(); }, 0);
    }

    function DownloadAttachExcel() {
        if (checkTimeout()) {
            var content = baseUrl + "Unete/ExportarExcelNivelRiesgo";
            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }

    var colNames = [
        'ZonaSeccion',
        'NivelRiesgo'
    ];

    function fnGrilla() {
        jQuery("#gvwSolicitudesPostulante").jqGrid({
            url: '@Url.Action("ConsultarNivelesRiesgo", "Unete")',
            hidegrid: false,
            datatype: 'json',
           
            mtype: 'POST',
            contentType: "application/json; charset=utf-8",
            colNames: colNames,
            colModel: [
                { name: 'ZonaSeccion', index: 'ZonaSeccion', width: 15, editable: true, resizable: false, align: 'center' },
                { name: 'NivelRiesgo', index: 'NivelRiesgo', width: 15, editable: true, resizable: false, align: 'center' }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'ZonaSeccion',
            sortorder: 'desc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 1300,
            shrinkToFit: true,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () {

            },
            gridComplete: function () {

            }
        });

        jQuery("#gvwSolicitudesPostulante").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#gvwSolicitudesPostulante").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ExportExcel() {
        var m = true;
        if ($("#gvwSolicitudesPostulante").getGridParam("reccount") == 0) {
            m = confirm('La grilla se encuentra vacía.\n¿ Está seguro(a) que desea continuar con la operación ?');
        }
        if (!m) {
            return;
        }

        waitingDialog({});

        setTimeout(function () {
            DownloadAttachExcel();
        }, 0);
    }
</script>

<div class="wrap_cab">

    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Carga de Niveles de Riesgo</h1>
            </div>
        </div>
    </div>

</div>
<!--/ .wrap-->
@Html.HiddenFor(m => Model.CodigoISO)
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <ul class="tabs">
                <li><a href="#tab-masiva">Carga Masiva</a></li>
            </ul>
            <div class="contenedor_tab">

                <div id="tab-masiva" class="contenido_tab">
                    @using (Html.BeginForm("NivelesRiesgoInsertar", "Unete", FormMethod.Post, new { id = "frmProcesarMasivo", enctype = "multipart/form-data" }))
                    {

                        <div class="div-3">
                            <div class="titB">Archivo:</div>
                            <div id="divuplArchivo" class="titB">
                                <input id="uplArchivo" name="uplArchivo" type="file" />
                            </div>
                        </div>
                        <div style="float:left">
                            <div class="div-3">
                                <div class="input_validar">
                                    <input type="button" value="Grabar" id="btnProcesar" onclick="Procesar();" />
                                </div>
                            </div>
                        </div>

                        @*<div class="div-4">
                                <div class="noti3">
                                    Puede descargar
                                    <a href="#" onclick="DescargarModelo()">aquí</a>
                                    el modelo de plantilla, para la carga masiva de Niveles de Riesgo.
                                </div>
                            </div>*@
                        <div style="clear: both">
                            <div style="clear: both">
                                <div style="width: 300px; padding: 30px 0">
                                    <div style="width: 150px; float: left; text-align: center">
                                    </div>
                                    <div style="width: 150px; float: left; text-align: center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="loadingScreen"></div>
            </div>
        </div>
    </div>
</div>
<div class="wrap" id="data">
    <div class="container clearfix" style="margin-left: 1200px">
        <div class="input_global">
            <img src="@Url.Content("~/Content/HojaInscripcion/images/excel-xls-icon.png")" onclick="ExportExcel();" style="cursor: pointer; width: 64px; height: 64px" />
        </div>
    </div>
    <div class="container clearfix" style="width: 1300px;">
        <div class="border-wrapper" id="tablaSolicitudPostulantes" style="overflow-x: hidden">
            <table id="gvwSolicitudesPostulante"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
