
@{

    Layout = "~/Views/Shared/_SACLayout.cshtml";
}

<div class="redborder w100 lateralPadding20">
    <div id="Filters" class="redborder" style="">

        <div class="FilterContainers redborder">
            <div class="inputContainer redborder">
                <input type="text" id="CampIni" placeholder="Campaña Inicio" name="name" value="" />
            </div>
            <div class="inputContainer redborder">
                <input type="text" id="CampFin" placeholder="Campaña Fin" name="name" value="" />
            </div>
            <div class="buttonContainer redborder">
                <input type="button" id="buttonFuenteIngreso" onclick="GetData()" value="Aceptar" />
            </div>
        </div>

    </div>
    <div class="excelDiv  redborder" style="height:30px;">

        <a href="javascript:void(0);" style="margin-left:40px; margin-top:-5px; float:right; " onclick="ExportExcel();" class="acciones_pagos redborder"><img src="@Url.Content("~/Content/Images/Esika/excel.png")" /></a>

    </div>

    <div id="ContainerGrid" class="redborder" style="height:auto">

        <div id="gridFuenteIngreso">
        </div>
    </div>

</div>
<script>
  
    var dataGrid = null;
    var urlLoad = '@Url.Content("~/Content/Images/Loading.gif")';

     $(document).ready(function () {

        setGridHeaders();
     });

     function setGridHeaders()
     {
         $('#gridFuenteIngreso').append('<div class="headers" >'+
                '<div class="headFuenteIngreso   cellFuenteIngreso">Campaña</div>'+
                '<div class="headFuenteIngreso   cellFuenteIngreso">UB</div>'+
                '<div class="headFuenteIngreso   cellFuenteIngreso">Portal GZ</div>'+
                '<div class="headFuenteIngreso   cellFuenteIngreso">Call center</div>'+
                '<div class="headFuenteIngreso   cellFuenteIngreso">App SE</div>'+

             '</div>');
     }
     function GetData()
     {
         if( $('#CampIni').val()=='' && $('#CampFin').val()=='')
         {
             alert('Por favor ingrese los filtros de Campaña Inicio y fin.');
             return false;
         }

         var obj ={CampaniaInicio: $('#CampIni').val() ,CampaniaFin: $('#CampFin').val() };

         $.ajax({
             type: 'POST',
             url: '@Url.Action("GetReporteFuenteIngresoSearch", "Unete")',
             dataType: 'json',
             contentType: 'application/json; charset=utf-8',
             data: JSON.stringify(obj),
             async: true,
             success: function (data) {

                 setDataToGrid(data);

             },
             error: function (error) {

             },
             beforeSend: function(){
                 LoadSpinner('gridFuenteIngreso');

                 $('#buttonFuenteIngreso').attr('disabled', true);

             },
             complete: function(){

                 $('#buttonFuenteIngreso').removeAttr('disabled');
             }

         });

         return false;
     }

     function setDataToGrid(data)
     {
         ResetGrid();
         setGridHeaders();
         if(data)
         {
             $(data).each(function(a,b){
                 buildDataRow(b);
             });
         }



     }
     function ResetGrid()
     {
         $('.gridDataRow').remove();
         $('#spinner').remove();
     }

     function buildDataCell(colName, className, value)
     {
         var strClass = 'cellFuenteIngreso ';

         if(className)
         {
             strClass=strClass+className;

         }
         return '<div data-colname="'+ colName +'" class="'+ strClass+'">'+value+'</div>';

     }

     function buildDataRow(row)
     {
         var rowHtml ='<div class="gridDataRow" data-id="'+ row.Campania+'">';


         rowHtml = rowHtml + buildDataCell('Campania', 'Campania', row.Campania);

         rowHtml = rowHtml + buildDataCell('UB', 'RegistroCompleto whiteCell', row.UB);
         rowHtml = rowHtml + buildDataCell('PortalGZ', 'PortalGZ whiteCell', row.PortalGZ);
         rowHtml = rowHtml + buildDataCell('CallCenter', 'CallCenter whiteCell', row.CallCenter);
         rowHtml = rowHtml + buildDataCell('AppSE', 'AppSE whiteCell', row.AppSE);

         $('#gridFuenteIngreso').append(rowHtml +'</div>');


     }

     function LoadSpinner(elementId)
     {

         $('#'+elementId).html('<div id="spinner" style="text-align: center; color:white;">Cargando, por favor espere<br><img src="' + urlLoad + '" /></div>');
     }


     function ExportExcel() {
         var content = baseUrl +
             "Unete/ExportarExcelFuenteIngreso?" +
             "CampaniaInicio=" +
               $('#CampIni').val() +
             "&CampaniaFin=" +
           $('#CampFin').val();

         var iframe_ = document.createElement("iframe");
         iframe_.style.display = "none";
         iframe_.setAttribute("src", content);

         if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
             iframe_.onreadystatechange = function () {
                 switch (this.readyState) {
                     case "loading":
                         waitingDialog({});
                         break;
                     case "complete":
                     case "interactive":
                     case "uninitialized":
                         closeWaitingDialog();
                         break;
                     default:
                         closeWaitingDialog();
                         break;
                 }
             };
         }
         else {
             // Si es Firefox o Chrome
             $(iframe_).ready(function () {

             });
         }
         document.body.appendChild(iframe_);
     }
</script>
<style>
    .redborder {
    }

    .greenBorder {
        border: solid green 1px;
    }

    .w100 {
        width: 95% !important;
    }

    .h100 {
        height: 100% !important;
    }

    .lateralPadding20 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .cellFuenteIngreso {
        width: 6%;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        overflow: hidden;
        /*border:solid 1px black;*/
    }

    .Campania {
        border-bottom: solid 2px #552080;
    }

    #gridFuenteIngreso {
        text-align: center;
    }

    .headFuenteIngreso {
        text-align: center;
    }

    .whiteCell {
        border-bottom: solid 1px #c144ab;
        text-align: center;
    }

    .purpleCell {
        color: white;
        background-color: #642f80;
    }

    .ligthPurpleCell {
        color: white;
        background-color: #bda2f1;
        border-left: 3px solid white;
    }

    .ligthPinkCell {
        color: white;
        background-color: #ffc4d4;
        border-left: 3px solid white;
    }

    .borderLeft {
        border-left: 3px solid white;
    }

    .blueCell {
        color: white;
        background-color: #2376b4;
        border-left: 3px solid white;
    }

    .FilterContainers {
        width: 60%;
        display: inline-block;
        margin-top: 50px;
    }

    #Filters {
        text-align: center;
        height: 150px;
    }

    .inputContainer {
        width: 40%;
        float: left;
    }

    .buttonContainer {
        width: 18%;
        float: left;
    }

    #CampIni, #CampFin {
        width: 100%;
        height: auto;
        padding: 9px;
        background: #fff;
        color: black;
        border: 1px solid #cfcfcf;
        position: relative;
        width: 75% !important;
        border-color: rgba(0, 0, 0, 0.66) !important;
        outline: 0;
        font-size: 100%;
    }

    #buttonFuenteIngreso {
        background: #642f80;
        color: #FFF;
        border: none;
        font-weight: normal !important;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 8px;
        cursor: pointer;
        width: 70%;
        float: right;
    }



        #buttonFuenteIngreso:disabled {
            background-color: #B75D9F !important;
            cursor: default;
        }

    .excelDiv {
        border-bottom: solid 2px black;
    }
</style>
