.Modal_Editar_Producto {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #fff;
    overflow: auto;
    padding-top: 25px;
}

.boton_volver_ficha {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
}

    .boton_volver_ficha img {
        height: 9px;
        margin-right: 8px;
        transform: rotate(180deg);
    }


.seleccion_header_Clientes .seleccion_header {
    padding: 0px !important;
    border-bottom: none !important;
    position: initial !important;
}


#PanelClienteRegistro {
    transition: all 400ms;
}


.Form-AgregarCliente {
    height: 100%;
    width: 100% !important;
    position: fixed;
    z-index: 2000 !important;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    transition: 0.5s;
}


.ImputForm-item {
    margin-bottom: 18px;
    position: relative;
}

    .ImputForm-item input {
        font-size: 13px;
        border: none;
        padding: 12px 14px 9px 0px;
        color: #000;
        line-height: normal;
        width: 100%;
    }

    .ImputForm-item label {
        cursor: pointer;
        margin: 0;
        position: absolute;
        top: 8px;
        left: 0px;
        font-size: 13px;
        pointer-events: none;
        transition: all 450ms;
    }

.Formulario-AgregarCliente {
    padding: 17px 20px;
    background: #fff;
}

.ActiveLabel ~ label {
    color: #878787 !important;
    font-size: 11px !important;
    top: -5px !important;
}

.bar-imput {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #aaa;
    transition: all 450ms;
}

.btnCliente_agregar {
    display: inline;
    width: 100%;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: bold;
    font-family: lato;
    background: #000;
    padding: 14px;
    border-radius: 4px;
    margin-top: 16px;
}

.ImputForm-item input:focus ~ label {
    color: #878787;
    font-size: 11px;
    top: -5px;
}

.ImputForm-item input:focus ~ .bar-imput {
    background: #000;
}

.bar-imputActive ~ .bar-imput {
    background: #000 !important;
}

.input-requerido {
    position: absolute;
    right: 0px;
    top: 13px;
    font-size: 16px;
    font-weight: bold;
}

#PanelClienteRegistro {
    transition: all 400ms;
}

#PanelClienteRegistro_contenedor #btnPanelMantenerCerrar {
    padding-left: 0px !important; 
}

#PanelClienteRegistro_contenedor h3 {
    cursor: pointer;
    padding-bottom: 0px !important;
    border: none;
}