USE BelcorpBolivia
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpCostaRica
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpChile
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpColombia
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpDominicana
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpEcuador
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpGuatemala
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpMexico
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpPanama
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpPeru
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpPuertoRico
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpSalvador
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
USE BelcorpVenezuela
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20 - Activación

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9803')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9803', @ID, '201705', 'Personalización showroom')
END

GO
