
/*tool tip => info sobre el icono*/
.info_copy {
    float: left;
    margin-right: 7px;
    height: 22px;
    margin-top: 3px;
    position: relative;
}

    .info_copy .tooltip_importe {
        display: none;
        width: 260px;
        height: 60px;
        padding: 13px;
        background: white;
        position: absolute;
        top: -83px;
        -webkit-box-shadow: 0 7px 23px 2px rgba(179,173,179,1);
        -moz-box-shadow: 0 7px 23px 2px rgba(179,173,179,1);
        box-shadow: 0 7px 23px 2px rgba(179,173,179,1);
    }

        .info_copy .tooltip_importe:before {
            position: absolute;
            top: 100%;
            left: 0;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            border-color: rgba(5, 7, 8, 0);
            border-top-color: white;
            border-width: 15px;
            margin-left: -15px;
            left: 5%;
            z-index: 10;
        }

    .info_copy:hover .tooltip_importe {
        display: block;
    }


    .info_copy .tooltip_infoCopy_grid {
        display: none;
        width: 271px;
        min-height: 158px;
        height: auto;
        position: absolute;
        background: #fff;
        z-index: 50;
        top: 58%;
        left: 153%;
        margin-top: -84px;
        box-shadow: 3px 4px 15px 0 rgba(0,0,0,.31);
        -moz-box-shadow: 3px 4px 15px 0 rgba(0,0,0,.31);
        -o-box-shadow: 3px 4px 15px 0 rgba(0,0,0,.31);
        -ms-box-shadow: 3px 4px 15px 0 rgba(0,0,0,.31);
        -webkit-box-shadow: 3px 4px 15px 0 rgba(0,0,0,.31);
        padding-top: 18px;
        padding-left: 22px;
        padding-right: 20px;
        padding-bottom: 15px;
        border: 1px solid #e7e1e1;
    }

        .info_copy .tooltip_infoCopy_grid:before {
            position: absolute;
        }

    .info_copy:hover .tooltip_infoCopy_grid {
        display: block;
    }


.tooltip_infoCopy_grid h6 {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-size: 14px;
    color: #000;
    font-weight: bold !important;
    text-align: left;
    margin-bottom: 6px;
}


.tooltip_infoCopy_grid p {
    font-family: 'Lato';
    font-size: 11px;
    color: #000;
    font-weight: bold;
    line-height: 18px;
    text-align: justify;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.info_copy .tooltip_flecha_grid {
    background: url('/Content/Images/tooltip-flecha.png') no-repeat 0 16px !important;
    position: absolute;
    top: -8%;
    left: -11.5%;
    z-index: 50;
    width: 32px;
    height: 169px;
}

.infoCopy_expand .tooltip_flecha_grid {
    top: 3%;
    left: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.tooltip_flecha_grid_expand {
    left: -1500%;
}


.info_copy .left_reservado {
    float: left;
    text-align: left;
}

.info_copy .right_reservado {
    float: right;
    text-align: right;
}

.info_copy .datos_Reservado {
    font-family: 'Lato';
    font-size: 13px;
    color: black;
    line-height: 18px;
}

    .info_copy .datos_Reservado span {
        display: block;
        margin: 0;
        float: none;
    }
