/* HD-4374 - Ver zoom producto en los productos sugeridos */

.producto_imagen_zoom {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    background-color: #FFF;
    border: 1px solid #d8d8d8;
    z-index: 2000;
    background-repeat: no-repeat;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 8px -5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 8px -5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 8px -5px;
}

    .sugerido .producto_imagen{
        cursor:pointer;
    }

        .mostrarImagenZoom {
            opacity: 1;
            width: 350px;
            height: 350px;
        }

@media screen and (max-width:991px){

    .popup_imagen_ampliada_productos_sugeridos_fondo {
        display:none;
        position: fixed;
        z-index: 20001;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        overflow:auto;
    }

        .popup_imagen_ampliada_productos_sugeridos {
            width: 93.5%;
            max-width: 400px;
            height: 415px;
            position: absolute;
            background-color: #FFF;
            top: 54px;
            left: 0;
            right: 0;
            margin: 0 auto 20px auto;
            justify-content: center;
            align-content: flex-start;
            border-radius: 4px;
        }

            .popup_imagen_ampliada_productos_sugeridos,
            .popup_imagen_ampliada_productos_sugeridos_header,
            .popup_imagen_ampliada_productos_sugeridos_content {
                flex-direction: row;
                flex-wrap: wrap;
            }

            .popup_imagen_ampliada_productos_sugeridos_header,
            .popup_imagen_ampliada_productos_sugeridos_content{
                flex:0 0 100%;
                max-width:100%;
            }

            .popup_imagen_ampliada_productos_sugeridos_header{
                justify-content:flex-end;
                padding:10px 2px 0 10px;
            }

                .enlace_cerrarPopupImagenAmpliadaSugeridos{
                    width: 45px;
                    height: 45px;
                    padding: 10px;
                }

            .popup_imagen_ampliada_productos_sugeridos_content {
                justify-content: center;
                height: calc(100% - 65px);
            }

                .imagen_producto_sugerido_ampliada_wrapper{
                    width:90%;
                    margin-bottom:20px;
                }

                    .imagen_producto_sugerido_ampliada_wrapper img {
                        width: 100%;
                        height: auto;
                    }

}

/* FIN - HD-4374 - Ver zoom producto en los productos sugeridos */