
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";    
}
<div class="content_room_product_sheet">
    <div class="content_imagen_best">
        <div class="content_fondo_bestSeller"><img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/nrKHedNhhLWGYgL/lbel_de.png" /></div>
    </div>
        <hr class="clear" />
    <div class="wrapper_resumen_mobile" style="margin-top:10px;">
        <h1>Pack x2 Nitro Xtreme</h1>
        <div class="price_product">
            <s class="price_offer">S/. 144.00</s>
            <span class="price">Precio para ti <b>S/. 54.00</b></span>
            <span class="comment">Gana S/. 90.00</span>
        </div>
        
    </div>
</div>
