
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";    
}

@section styles{
    <style>
        .select_bestSeller{
            width:-moz-calc(100% -118px);
            width:calc(100% - 118px);
            width:-webkit-calc(100% - 118px);            
        }
        footer{
            display:none;
        }
    </style>
    <link href="@Url.Content("~/Content/Css/Site/slick.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/Site/jquery.rateyo.css")" rel="stylesheet" />
   
}
<div class="content_room_product_sheet">
    <div class="content_imagen_best">
        <div class="content_fondo_bestSeller"><img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/nrKHedNhhLWGYgL/lbel_de.png" /></div>
    </div>
        <hr class="clear" />
    <div class="wrapper_resumen_mobile" style="margin-top:10px;">
        <div class="marca_best">ESIKA</div>
        <h1>Pack x2 Nitro Xtreme</h1>
        <div class="marca_best">4g/. 14oz.</div>
        <div class="content_puntuacion_detalle">
            <div class="rateyo-readonly-widg"></div>
            <div class="comentarios_detalle_best">(346 recomendaciones)</div>
        </div>
        <div class="price_product">
            <s class="price_offer">S/. 144.00</s>
            <span class="price">Precio para ti <b>S/. 54.00</b></span>
            <span class="comment">Gana S/. 90.00</span>
        </div>
        <div class="comentarios_best_seller_ficha">
            “¡ME ENCANTA! Este labial me dura todo el día, lo puedo usar en el día como en la noche.               Me gustó mucho la textura liviana y efecto hidratante sobre los labios” <br>              - Sandra A.
        </div>        
    </div>
</div>
<!--CARROUSEL-->
<div class="content_carrusel_bestSeller">
    <div class="titulo_carrusel_best">LOS PRODUCTOS <b>MÁS VENDIDOS</b></div>
    <div class="variable-width">
        <div class="slider_item">
            <a href="#" class="slider_item_content">
                <div data-img="">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/nrKHedNhhLWGYgL/lbel_de.png" class="imagen_carrusel_best">
                </div>
                <div class="marca_carrusel_best">ESIKA</div>
                <span class="title">2 Cardigan + Prints</span>
                <span class="precio_tachado_carrusel_set">S/. 228.00</span>
                <span class="price"><b>S/. 69.90 </b></span>
                <div class="rateyo-readonly-carrusel" style="margin-top:6px;"></div>
                <div><div class="comentarios_detalle_best">(346)</div></div>
            </a>
        </div>
        <div class="slider_item">
            <a href="#" class="slider_item_content">
                <div data-img="">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/nrKHedNhhLWGYgL/lbel_de.png" class="imagen_carrusel_best">
                </div>
                <div class="marca_carrusel_best">ESIKA</div>
                <span class="title">2 Cardigan + Prints</span>
                <span class="precio_tachado_carrusel_set">S/. 228.00</span>
                <span class="price"><b>S/. 69.90 </b></span>
                <div class="rateyo-readonly-carrusel" style="margin-top:6px;"></div>
                <div><div class="comentarios_detalle_best">(346)</div></div>
            </a>
        </div>
        <div class="slider_item">
            <a href="#" class="slider_item_content">
                <div data-img="">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/nrKHedNhhLWGYgL/lbel_de.png" class="imagen_carrusel_best">
                </div>
                <div class="marca_carrusel_best">ESIKA</div>
                <span class="title">2 Cardigan + Prints</span>
                <span class="precio_tachado_carrusel_set">S/. 228.00</span>
                <span class="price"><b>S/. 69.90 </b></span>
                <div class="rateyo-readonly-carrusel" style="margin-top:6px;"></div>
                <div><div class="comentarios_detalle_best">(346)</div></div>
            </a>
        </div>
    </div>
    
    <div class="content_orden_carrusel" data-posicion-set="">
        <div class="orden_listado_numero"><span data-posicion-current="">2</span> / 15</div>
        <div class="linea_separadora_mobile" style="margin-top:-7px;"></div>
        <div class="orden_flecha"><img src="/Content/Images/Esika/flecha_orden.png" alt="flecha"></div>
        <div class="orden_flecha" style="right:0;"><img src="/Content/Images/Esika/flecha_orden_right.png" alt="flecha"></div>
    </div>
</div>
<!--COMENTARIOS-->
<div class="section_comentarios">
    <div class="wrapper_resumen_mobile">
        <div class="titulo_principal_comentarios">COMENTARIOS</div>
        <div style="text-align:center"><div class="rateyo-readonly-comentarios"></div></div>  
        <div class="subtexto_comentario">95% de personas lo recomiendan <br/>(295 de 364)</div> 
        <div class="content_filtros_bestSeller">
            <div class="texto_filtros_bestSeller">ORDENAR POR</div>
            <select class="select_bestSeller">
                <option>NUEVOS</option>
                <option>NUEVOS</option>
                <option>NUEVOS</option>
            </select>            
        </div>    
        <hr class="clear" />
        <div class="contentAgregarComentarios">
            <!--AGREGA COMENTARIOS-->
            <div class="texto_agregarComentarios">AGREGA TU COMENTARIO</div>
            <!--FIN-->
        </div>
       
    </div>
</div>
<!--REDES SOCIALES-->
<div class="share_social_nertwoks">    
    <div class="title">Comparte este set con tus clientes</div>
    <div class="content_redes_ficha">
        <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="WA">
            <img src="/Content/Images/Mobile/Esika/catalogo_ws.png" alt="">
        </a>
        <a class="btn_compartir_ofertas" href="javascript: void(0);" data-compartir="FB">
            <img src="/Content/Images/Mobile/Esika/facebook.png">
        </a>
    </div>
</div>
<!--AGREGAR-->
<div class="content_btn_agregar">    
    <div class="content_320">
        <div class="content_cantidad_ficha_producto">
            <a class="cantidad_menos_home" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
            <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
            <a class="cantidad_mas_home" href="javascript: void(0);"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
        </div>
        <a class="btn_agregar_ficha_producto" data-btn-agregar-sr="" href="javascript: void(0);">AGRÉGALO</a>
        <hr class="clear">
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.variable-width').on('init', function (event, slick) {
                setTimeout(function () {
                    slick.setPosition();
                    slick.slickGoTo(1);
                }, 500);
            });

            $('.variable-width').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 2,
                centerPadding: '0px',
                centerMode: true,
                variableWidth: true,
                slidesToScroll: 1,
                centerMode: true,
                arrows: false,
                dots: false,
            });
        $(".termino_condiciones_intriga").click(function () {
            $(this).toggleClass('check_intriga');
            if (typeof intrigaAceptoTerminos !== 'undefined') {
                intrigaAceptoTerminos = !intrigaAceptoTerminos;
            }
        });
    });
            $(function () {
                var rating = 1.6;
                $(".rateyo-readonly-widg").rateYo({
                    rating: 2,
                    numStars: 5,
                    precision: 2,
                    minValue: 1,
                    maxValue: 5,
                    fullStar: true,
                    readOnly: true,
                    starWidth: "17px"
                });
                $(".rateyo-readonly-carrusel").rateYo({
                    rating: 2,
                    numStars: 5,
                    precision: 2,
                    minValue: 1,
                    maxValue: 5,
                    fullStar: true,
                    readOnly: true,
                    ratedFill: "#cca11e",
                    starWidth: "17px"
                });
                $(".rateyo-readonly-comentarios").rateYo({
                    rating: 4.5,
                    precision: 2,
                    minValue: 1,
                    maxValue: 5,
                    starWidth: "33px",
                    readOnly: true
                });
            });
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.rateyo.js")"></script>
    
}
