@model Portal.Consultoras.Web.Models.MatrizCampaniaModel
@{
    ViewBag.Title = "Actualización – Matriz Campaña";
}

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Actualización de <span>Matriz Campaña</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <section class="container clearfix">
        <div class="ofertas_detalle">
            Ingrese el año de la campaña y el código de venta del producto que se actualizara la descripción:
        </div>
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Año campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(x => x.Nombre, new SelectList(Model.DropDownListCampania, "CampaniaID", "Codigo"), new { id = "ddlCampania" })
                </div>
                <div class="titC">Cod. Venta:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtCodVenta" type="text" maxlength="6" /><img alt="Buscar Cod. Venta" src="" style="display: none" />
                </div>
                <div class="input_search">
                    <input id="btnBuscar" type="button" value="Buscar" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI alignright">
                    <h3>Original:</h3>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Descripción:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDescripcion" type="text" maxlength="250" readonly="readonly" />
                </div>
                <div class="titC">Precio:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtPrecio" type="text" maxlength="8" readonly="readonly" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Precio * Factor Rep.:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtFactorRepeticion" type="text" maxlength="3" readonly="readonly" /><img alt="Buscar Cod. Venta" src="" id="" style="display: none" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI alignright">
                    <h3>Nuevo:</h3>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Descripción:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDescripcionNueva" type="text" maxlength="250" /><img alt="Buscar Cod. Venta" src="" id="" style="display: none" />
                </div>
                <div class="titC">Precio:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtPrecioNuevo" type="text" maxlength="10" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Precio * Factor Rep.:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtFactorRepeticionNuevo" type="text" maxlength="3" /><img alt="Buscar Cod. Venta" src="" id="" style="display: none" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI"></div>
                <div class="input_search">
                    <input id="btnGrabar" type="submit" value="Grabar" />
                </div>
            </div>
        </div>
    </section>
</div>

<div id="loadingScreen"></div>

@section scripts{
    <script src="~/Scripts/PortalConsultoras/MatrizCampania/ActualizarMatrizCampaniaModule.min.js"></script>
}
