@using Portal.Consultoras.Common
@{
    ViewBag.Title = "Descarga de Solicitud";
}
<script type="text/javascript">

    jQuery(function () {

        $("#txtPais").val('@Util.SinAcentosCaracteres(ViewBag.NombrePais)');
        $("#txtFecha").val('@DateTime.Now.ToString("dd/MM/yyyy")');

        $("#btnDescargar").click(function () {
            RealizarDescarga();
        });
    });

    function RealizarDescarga() {
        var vMessage = "";

        $("#DivDescargas").hide();

        if (vMessage != "") {
            alert(vMessage);
        }
        else {

            var waiting = {
                message: 'Espere unos minutos, por favor...',
                title: 'Ejecutando Proceso'
            };
            waitingDialog(waiting);

            $.ajax({
                type: 'POST',
                url: window.baseUrl + 'SolicitudCredito/RealizarDescarga',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: true,
                cache: false,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            alert(data.mensaje);
                            if (data.IsFox) {
                                $("#hdnfileSolCredito").val(data.rutaSolCredito);
                                $("#hdnfileSolActualizacion").val(data.rutaSolActualizacion);
                                $("#DivDescargas").show();
                            }
                        }
                        else {
                            alert(data.mensaje);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("Ocurrio un error del Sistema.");
                    }
                    console.error(data);
                }
            });
        }
    }

    function DescargarSolCredito() {
        waitingDialog({});
        setTimeout(function () { DownloadSolCredito(); }, 0);
    }

    function DownloadSolCredito() {
        var iframe = document.createElement("iframe");
        iframe.style.display = "none";
        var requestedFile = encodeURIComponent($("#hdnfileSolCredito").val());
        iframe.setAttribute("src", window.baseUrl + 'WebPages/Download.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe);
    }

    function DescargarSolActualizacion() {
        waitingDialog({});
        setTimeout(function () { DownloadSolActualizacion(); }, 0);
    }

    function DownloadSolActualizacion() {
        var iframe = document.createElement("iframe");
        iframe.style.display = "none";
        var requestedFile = encodeURIComponent($("#hdnfileSolActualizacion").val());
        iframe.setAttribute("src", window.baseUrl + 'WebPages/Download.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe);
    }
</script>

<div class="wrap_cab">

    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Carga de Solicitudes</h1>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix" style="min-height: 250px;">
        <div class="border-wrapper_reg">

            <div class="div-3">
                <div class="titF">País :</div>
                <div class="selectP2 disabled borde_redondeado">
                    <input type="text" id="txtPais" disabled="disabled" />
                </div>
            </div>

            <div class="div-3">
                <div class="titF">Fecha :</div>
                <div class="calendar disabled borde_redondeado">
                    <input type="text" id="txtFecha" disabled="disabled" />
                </div>
            </div>

            <div class="div-3">
                <div class="titF"></div>
                <div class="input_add_alert_left">
                    <input type="button" name="" id="btnDescargar" value="Descargar" />
                </div>
            </div>
            <div id="DivDescargas" class="div-4" style="display: none">
                <div class="noti3">
                    @if(Util.SinAcentosCaracteres(ViewBag.NombrePais) != "Mexico"){
                        <span>Puede descargar los archivos generados haciendo click en los siguientes enlaces:</span><br />
                    }else{
                        <span>Puede descargar el archivo generado haciendo click en el siguiente enlace:</span><br />
                    }
                    Solicitudes de Crédito: <a id="ASolCredito" href="#" onclick="DescargarSolCredito()">SOLCREDI.TXT</a><br />
                    @if (Util.SinAcentosCaracteres(ViewBag.NombrePais) != "Mexico")
                    {
                        <span>Solicitudes de Actualización: <a id="ASolActualizacion" href="#" onclick="DescargarSolActualizacion()">SOLACTUA.TXT</a></span>
                    }
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnfileSolCredito" name="hdnfileSolCredito" />
    <input type="hidden" id="hdnfileSolActualizacion" name="hdnfileSolActualizacion" />
</div>
<div id="loadingScreen"></div>
