@model Portal.Consultoras.Web.Models.SolicitudCreditoModel
@{
    ViewBag.Title = "SolicitudCredito";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#ddlPais").change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'SolicitudCredito/ObtenterDropDownPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        var ddlZona = $("#ddlZonas");

                        if (Id != "") {
                            if (data.lstZona.length > 0) {
                                for (var item in data.lstZona) {
                                    if (data.lstZona.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.lstZona[item].ZonaID,
                                            text: data.lstZona[item].Codigo
                                        }));
                                    }
                                }
                            }
                            var currentdate = new Date();
                            $("#txtFechaSolicitud").datepicker({
                                showOn: "button",
                                buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
                                buttonImageOnly: true,
                                dateFormat: 'dd/mm/yy',
                                minDate: new Date("01/01/" + currentdate.getFullYear()),
                                maxDate: new Date("12/31/" + currentdate.getFullYear())
                            });

                            $("#txtFechaSolicitud").blur(function () {
                                var dateText = $(this).val();
                                if (isValidDate(dateText))
                                    $(this).val(dateText);
                                else
                                    $(this).val("");
                            });
                        }
                        closeWaitingDialog();
                    }
                });
                jQuery("#list").jqGrid("clearGridData");
            } else Limpiar();
        });
    });

    function isValidDate(date) {
        var matches = /^(\d{2})[-\/](\d{2})[-\/](\d{4})$/.exec(date);
        if (matches == null) return false;
        var d = matches[1];
        var m = matches[2] - 1;
        var y = matches[3];
        var composedDate = new Date(y, m, d);
        return composedDate.getDate() == d &&
            composedDate.getMonth() == m &&
            composedDate.getFullYear() == y;
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "SolicitudCredito/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                paisID: function () { return $("#ddlPais").val(); },
                vFecha: function () { return $("#txtFechaSolicitud").val(); },
                vZonaID: function () {
                    var z = $("#ddlZonas").val();
                    return (z == "" ? "-1" : $("#ddlZonas :selected").text());
                },
                vSeccionID: function () {
                    var r = $("#txtSeccion").val();
                    return (r == "" ? "" : r);
                },
                vDocumento: function () { return $("#txtDocumento").val(); },
                vEstadoPedido: function () { return jQuery.trim($("#ddlEstadoSolicitud").val()); },
                vTipoSolicitud : 'INS'
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['SolicitudID', 'Codigo ISO', 'Zona', 'ID Interno', 'Cod. Consultora que Refiere', 'Nombre', 'Doc. Identidad','Cod. Consultora', 'Fecha', 'Estado','Tipo', 'Detalle'],
            colModel: [
                {
                    name: 'SolicitudCreditoID', index: 'SolicitudCreditoID', width: 0, editable: false, align: 'center',
                    hidden: true                                                                                                                                                                          
                },
                {
                    name: 'CodigoISO', index: 'CodigoISO', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                { name: 'CodigoZona', index: 'CodigoZona', width: 10, editable: true, resizable: false },
                { name: 'SolicitudCreditoID', index: 'SolicitudCreditoID', width: 10, editable: true, resizable: false },
                { name: 'CodigoConsultoraRecomienda', index: 'CodigoConsultoraRecomienda', width: 15, editable: true, resizable: false },
                { name: 'Nombres', index: 'Nombres', width: 25, editable: true, resizable: true },
                { name: 'NumeroDocumento', index: 'NumeroDocumento', width: 15, editable: true, resizable: false },
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 15, editable: true, resizable: false },
                { name: 'FechaSolicitud', index: 'FechaSolicitud', width: 10, editable: true, resizable: false },
                { name: 'Estado', index: 'Estado', width: 10, editable: true, resizable: false },
                { name: 'TipoSolicitud', index: 'TipoSolicitud', width: 15, editable: true, resizable: false },
                { name: 'vDetalle', index: 'vDetalle', width: 5, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                totalregistros: "totalregistros",
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CodigoZona',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function (data) {
            },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var href = "#";
            var Det = "&nbsp;<a href=\"" + href + "\" onclick=\"SendData('" + rowObject[0] + "','" + rowObject[1] + "','" + rowObject[2] + "');\">" + "<img src='@Url.Content("~/Content/Images/Detail.png")' alt='Detalle Registro' title='Detalle Registro' border='0' /></a>";
            return Det;
        }
    }

    function Buscar() {
        var ddlPais = $("#ddlPais");
        if (ddlPais.val() == "") {
            alert("Debe seleccionar un País.");
            return false;
        }
        fnGrilla();
    }

    function Limpiar() {
        var ddlRegion = $("#ddlZonas");
        ddlRegion.empty();
        ddlRegion.append($('<option/>', {
            value: "",
            text: "-- Todos --"
        }));
        $("#ddlEstadoSolicitud")[0].selectedIndex = 0;
        $("#txtFechaSolicitud").datepicker("destroy");
        $("#txtFechaSolicitud").val("");
        $("#txtSeccion").val("");
        $("#txtDocumento").val("");
        jQuery("#list").jqGrid("clearGridData");
    }

    function SendData(solicitudID, paisISO, codigozona) {
        waitingDialog({});
        var form1 = document.createElement("form");
        var data = document.createElement("input");
        form1.setAttribute("id", "form1");
        form1.action = baseUrl + "SolicitudCredito/DetalleCredito" + paisISO;
        form1.setAttribute("method", "POST");
        data.setAttribute("type", "hidden");
        data.setAttribute("name", "data");

        var json = {
            SolicitudID: solicitudID,
            CodigoZona: codigozona
        };
        data.value = JSON.stringify(json);
        form1.appendChild(data);
        document.body.appendChild(form1);
        form1.submit();
    }

    function Imprimir() {
        var vPaisID = jQuery.trim($("#ddlPais").val());
        if (vPaisID == "") {
            alert("Para ejecutar esta acción, debe seleccionar un País.");
            return false;
        }

        waitingDialog({});
        var vPaisddl = $('#ddlPais option:selected').val();
        var vFechaSolicitud = $('#txtFechaSolicitud').val();
        var vZonaddl = $('#ddlZonas option:selected').val();
        var vSeccion = $('#txtSeccion').val();
        var vDocumento = $('#txtDocumento').val();
        var vEstadoddl = $('#ddlEstadoSolicitud option:selected').val();
        var vZonaVal = vZonaddl == "" ? "" : $('#ddlZonas option:selected').text();
        var vPaisVal = $('#ddlPais option:selected').text();
        var vTipoSolicitud = 'INS';

        var vpage = jQuery("#list").getGridParam('page');
        var vsortname = jQuery("#list").getGridParam('sortname');
        var vsortorder = jQuery("#list").getGridParam('sortorder');
        var vrowNum = jQuery("#list").getGridParam('rowNum');

        setTimeout(function () {
            DownloadAttachPDF(vPaisddl, vFechaSolicitud, vZonaddl, vSeccion, vDocumento,
                vEstadoddl, vpage, vsortname, vsortorder, vrowNum, vZonaVal, vPaisVal, vTipoSolicitud);
        }, 0);
    }

    function DownloadAttachPDF(vPaisddl, vFechaSolicitud, vZonaddl, vSeccion, vDocumento,
                vEstadoddl, vpage, vsortname, vsortorder, vrowNum, vZonaVal, vPaisVal, vTipoSolicitud) {
        if (checkTimeout()) {
            var content = baseUrl + "SolicitudCredito/ExportarPDFSolicitud?" +
                "vPaisddl=" + vPaisddl +
                "&vFechaSolicitud=" + vFechaSolicitud +
                "&vZonaddl=" + vZonaddl +
                "&vSeccion=" + vSeccion +
                "&vDocumento=" + vDocumento +
                "&vEstadoddl=" + vEstadoddl +
                "&vpage=" + vpage +
                "&vsortname=" + vsortname +
                "&vsortorder=" + vsortorder +
                "&vrowNum=" + vrowNum +
                "&vZonaVal=" + vZonaVal +
                "&vPaisVal=" + vPaisVal +
                "&vTipoSolicitud=" + vTipoSolicitud;

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }

    function ExportExcel() {
        var m = true;
        if ($("#list").getGridParam("reccount") == 0) {
            m = confirm('La grilla se encuentra vacía.\n¿ Está seguro(a) que desea continuar con la operación ?');
        }
        if (!m) {
            return;
        }
        vPaisID = $("#ddlPais").val();
        if (vPaisID == "") {
            alert("Debe seleccionar un País.");
            return false;
        }
        vFecha = $("#txtFechaSolicitud").val();
        vZonaID = $("#ddlZonas").val();
        vZonaID = (vZonaID == "" ? "-1" : $("#ddlZonas :selected").text());
        vSeccionID = $("#txtSeccion").val()
        vDocumento = $("#txtDocumento").val();
        vEstadoPedido = $("#ddlEstadoSolicitud").val();

        waitingDialog({});
        setTimeout(function () {
            DownloadAttachExcel(vPaisID, vFecha, vZonaID, vSeccionID, vDocumento, vEstadoPedido)
        }, 0);
    }

    function DownloadAttachExcel(vPaisID, vFecha, vZonaID, vSeccionID, vDocumento, vEstadoPedido,vTipoSolicitud) {
        if (checkTimeout()) {
            var content = baseUrl + "SolicitudCredito/ExportarExcel?" +
                "vPaisID=" + vPaisID +
                "&vFecha=" + vFecha +
                "&vZonaID=" + vZonaID +
                "&vSeccionID=" + vSeccionID +
                "&vDocumento=" + vDocumento +
                "&vEstadoPedido=" + vEstadoPedido +
                "&vTipoSolicitud=" + 'INS';

            var iframe_ = document.createElement("iframe");
            iframe_.style.display = "none";
            iframe_.setAttribute("src", content);

            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
                iframe_.onreadystatechange = function () {
                    switch (this.readyState) {
                        case "loading":
                            waitingDialog({});
                            break;
                        case "complete":
                        case "interactive":
                        case "uninitialized":
                            closeWaitingDialog();
                            break;
                        default:
                            closeWaitingDialog();
                            break;
                    }
                };
            }
            else {
                // Si es Firefox o Chrome
                $(iframe_).ready(function () {
                    closeWaitingDialog();
                });
            }
            document.body.appendChild(iframe_);
        }
    }
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Información de <span>Solicitudes de Credito</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">Pais:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.ListaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titG">Fecha:</div>
                <div class="calendar_filtros borde_redondeado">
                    <input id="txtFechaSolicitud" type="text" />
                </div>

            </div>
            <div class="div-3">
                <div class="titG">Zona:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CodigoZona, new SelectList(Model.ListaZonas, "ZonaID", "Codigo"), "-- Todos --", new { id = "ddlZonas" })
                </div>
                <div class="titG">Sección:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtSeccion" type="text" maxlength="2" />
                </div>

            </div>
            <div class="div-3">
                <div class="titG">Doc. Identidad:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtDocumento" type="text" maxlength="20" />
                </div>
                <div class="titG">Estado:</div>
                <div class="selectA borde_redondeado">
                    <select id="ddlEstadoSolicitud">
                        <option value="0">-- Todos --</option>
                        <option value="1">Enviado</option>
                        <option value="2">Pendiente</option>
                    </select>
                </div>
            </div>
            <div class="div-3">
                <div class="titG"></div>
                <div class="input_search">
                    <input id="btnBuscar" value="Buscar" type="button" onclick="Buscar();">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_horizontal">
                    <input id="btnImprimir" type="button" value="Imprimir" onclick="Imprimir();" />
                    <input id="btnExcel" type="button" value="Excel" onclick="return ExportExcel();" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>