/* creamos el botón */
.button {
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    cursor: pointer;
    display: inline-block;
    *display: inline;
    font: 20px/100% Arial, Helvetica, sans-serif;
    outline: none;
    padding: .5em 2em .55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    vertical-align: baseline;
    zoom: 1;
}
  
    .button:hover {
        text-decoration: none;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

.bigrounded {
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
}

.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}

.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}

/* APLICAMOS DEGRADADO COLOR AZUL */

.blue {
    background: #0095cd;
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    border: solid 1px #0076a3;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

    .blue:hover {
        background: #007ead;
        background: -moz-linear-gradient(top, #0095cc, #00678e);
        background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
        color: #fff;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
    }

    .blue:active {
        background: -moz-linear-gradient(top, #0078a5, #00adee);
        background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
        color: #fff;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
    }
