
/*  RECOMENDACIONES PRODUCTOS */

.producto_por_agregar_wrapper,
.productos_recomendados_wrapper,
.producto_recomendado
{
    background-color:#FFF;
    color:#000;
}

.productos_recomendados_wrapper{
    font-family:'Lato', sans-serif;
    margin-bottom:61px;
    flex-wrap:wrap;
}

.productos_recomendados_wrapper.d-none{
    display:none!important;
}

.productos_recomendados_titulo{
    font-size:15px;
    letter-spacing:0.27px;
    margin-bottom:18px;
    color:#000;
}

.productos_recomendados_titulo,
.producto_recomendado_nombre,
.producto_por_agregar_rango_cantidad input,
.producto_recomendado_rango_cantidad input,
.btn_producto_por_agregar,
.btn_producto_recomendado_agregalo,
.cerrar_seccion_productos_recomendados
{
    font-weight:bold!important;
}

.producto_por_agregar_wrapper,
.producto_por_agregar_info_wrapper,
.producto_por_agregar_acciones_wrapper,
.producto_por_agregar_rango_cantidad,
.productos_recomendados_wrapper,
.productos_recomendados_carrusel,
.productos_recomendados_carrusel.slick-slider,
.productos_recomendados_carrusel .slick-track,
.producto_recomendado,
.producto_recomendado.slick-slide,
.producto_recomendado_rango_cantidad,
.producto_recomendado_info_wrapper,
.producto_recomendado_acciones_wrapper,
.ocultar_productos_recomendados_wrapper
{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.producto_por_agregar_rango_cantidad,
.producto_por_agregar_acciones_wrapper,
.producto_recomendado,
.producto_recomendado_rango_cantidad,
.producto_recomendado_info_wrapper,
.producto_recomendado_acciones_wrapper
{
    justify-content:space-between;
}

.productos_recomendados_carrusel{
    justify-content:flex-start;
    margin-bottom:20px;
}

.productos_recomendados_carrusel.slick-slider{
    margin-top:0;
}

.productos_recomendados_controles_carrusel{
    width:12px;
    height:23px;
}

.productos_recomendados_controles_carrusel.slick-arrow{
    position:absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
}

.productos_recomendados_controles_carrusel.js-slick-prev-h{
    left:-27px;
}

.productos_recomendados_controles_carrusel.js-slick-next-h{
    right:-22px;
}

.producto_recomendado {
    flex: 0 0 385px;
    min-height: 127.9px;
    margin-right:14px;
    padding:14px 22px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    -moz-box-shadow: 0 2px 4px 0 #d8d8d8;
    -webkit-box-shadow: 0 2px 4px 0 #d8d8d8;
    box-shadow: 0 2px 4px 0 #d8d8d8;
    float:none;
}

/*.producto_recomendado:last-child{
    margin-right:0;
}*/

.producto_recomendado_acciones_wrapper
{
    flex: 0 0 30%;
    flex-wrap:wrap;
}

.producto_por_agregar_imagen,
.producto_recomendado_imagen
{
    flex:0 0 45%;
    min-width:101px;
    min-height:92px;
}

.productos_recomendados_controles_carrusel img,
.producto_por_agregar_imagen img,
.producto_recomendado_imagen img
{
    width:100%;
    height:auto;
}

.producto_por_agregar_info,
.producto_recomendado_info
{
    padding-left:16px;
    padding-right:16px;
    flex:0 0 55%;
}

.producto_por_agregar_nombre,
.producto_por_agregar_precio_normal,
.producto_por_agregar_precio_oferta,
.producto_recomendado_marca,
.producto_recomendado_nombre
{
    letter-spacing:0.2px;
}

.producto_recomendado_marca,
.producto_recomendado_tipo_oferta_personalizacion
{
    color:#8a8a8a;
}

.producto_recomendado_marca,
.producto_recomendado_precio_normal
{
    font-size:11px;
}

.producto_por_agregar_nombre,
.producto_por_agregar_precio_oferta
{
    font-size:17px;
}

.producto_por_agregar_nombre{
    font-weight:900;
    min-height:33px;
}

.producto_recomendado_nombre {
    font-size: 13px;
    min-height:38px;
}

.producto_por_agregar_precio_normal{
    font-size:13px;
}

.producto_por_agregar_precio_normal,
.producto_recomendado_precio_normal
{
    text-decoration:line-through;
}

.producto_recomendado_precio_oferta,
.cerrar_seccion_productos_recomendados
{
    font-size:14px;
}

.producto_recomendado_tipo_oferta_personalizacion{
    font-size:10px;
}

.producto_recomendado_rango_cantidad,
.producto_recomendado_btn_wrapper
{
    flex:0 0 100%;
}

.producto_por_agregar_rango_cantidad,
.producto_recomendado_rango_cantidad
{
    border:1px solid #000;
    background-color:#FFF;
    border-radius:4px;
    height:45px;
    position:relative;
}

.producto_por_agregar_rango_cantidad .menos,
.producto_por_agregar_rango_cantidad input,
.producto_por_agregar_rango_cantidad .mas
{
    flex:0 0 33%;
}

.producto_por_agregar_rango_cantidad .menos,
.producto_por_agregar_rango_cantidad input,
.producto_por_agregar_rango_cantidad .mas,
.producto_recomendado_rango_cantidad .menos,
.producto_recomendado_rango_cantidad input,
.producto_recomendado_rango_cantidad .mas
{
    position: relative;
    height: 100%;
}

.producto_recomendado_rango_cantidad .menos,
.producto_recomendado_rango_cantidad input,
.producto_recomendado_rango_cantidad .mas
{
    width:38px;
}

.producto_por_agregar_rango_cantidad .menos,
.producto_recomendado_rango_cantidad .menos
{
    border-right: 1px solid #000;
    bottom: 0;
}

.producto_por_agregar_rango_cantidad .menos img,
.producto_por_agregar_rango_cantidad .mas img,
.producto_recomendado_rango_cantidad .mas img,
.producto_recomendado_rango_cantidad .menos img
{
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:8px;
    height:8px;
}

.producto_por_agregar_rango_cantidad input,
.producto_recomendado_rango_cantidad input
{
    border-left: none;
    border-right: 1px solid #000;
    background-color:#FFF;
    border-top: none;
    border-bottom: none;
    color:#000;
}

.btn_producto_por_agregar,
.btn_producto_recomendado_agregalo
{
    width:115.2px;
    font-size:12px!important;
    letter-spacing:0.7px;
    margin-top:7px;
}

.ocultar_productos_recomendados_wrapper{
    justify-content:flex-end;
}

.cerrar_seccion_productos_recomendados,
.cerrar_seccion_productos_recomendados:hover
{
    flex: 0 0 180px;
    letter-spacing:0.25px;
    text-decoration:underline;
    color:#808080;
}

@media screen and (max-width:991px){

    .producto_por_agregar_wrapper,
    .productos_recomendados_wrapper
    {
        margin-left:-15px;
        margin-right:-15px;
        margin-bottom:27px;
        padding-top:23px;
        padding-bottom:13px;
    }

    .producto_por_agregar_wrapper{
        padding-left:28px;
        padding-right:28px;
    }

    .producto_por_agregar{
        max-width:358px;
        margin:0 auto;
    }

    .productos_recomendados_wrapper{
        background-color:#f5f5f5;
        padding-left:15px;
    }

    .productos_recomendados_titulo{
        margin-top:0;
        margin-left:2px;
    }

    .productos_recomendados_carrusel .slick-list{
        width:100%;
    }

    .ocultar_productos_recomendados_wrapper{
        display:none;
    }

    .producto_recomendado{
        padding:14px 18px;
        flex-wrap:wrap;
        flex: 0 0 234px;
    }

    .producto_por_agregar_rango_cantidad,
    .producto_recomendado_rango_cantidad,
    .producto_recomendado_btn_wrapper
    {
        flex:0;
    }

    .producto_recomendado_rango_cantidad,
    .producto_recomendado_btn_wrapper,
    .btn_producto_recomendado_agregalo
    {
        width:101px;
    }

    .producto_por_agregar_btn_wrapper,
    .producto_por_agregar_rango_cantidad
    {
        flex:0 0 50%;
    }

    .producto_por_agregar_rango_cantidad{
        flex:0 0 44%;
    }

    .producto_por_agregar_btn_wrapper{
        flex:0 0 53%;
    }

    .producto_recomendado_rango_cantidad{
        margin-right:5px;
    }

    .producto_por_agregar_acciones_wrapper,
    .producto_recomendado_acciones_wrapper
    {
        flex-wrap:nowrap;
        align-items:flex-end;
        flex:0 0 100%;
    }

    .producto_por_agregar_acciones_wrapper{
        margin-top:15px;
    }

    .producto_recomendado_acciones_wrapper{
        margin-top:10px;
    }

    .producto_por_agregar,
    .btn_producto_por_agregar
    {
        width:100%;
    }

}

/* FIN - RECOMENDACIONES PRODUCTOS */
