
/* Menu */
.bc_mobil_para-mi {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: right center !important;
    background-color: #000;
    max-height: 104px;
    overflow: hidden;
}

.bc_mobile-logo {
    float: left;
    background-size: 100% 100% !important;
    height: 70px;
    max-width: 50%;
    overflow: hidden;
}

    .bc_mobile-logo img {
        height: 100%;
        width: 100%;
    }

.bc_mobile-texto {
    display: table;
    float: left;
    width: 50%;
}

    .bc_mobile-texto .mobile-txt {
        display: table-cell;
        vertical-align: middle;
        height: 70px;
        padding: 0 2%;
        overflow-y: hidden;
    }

        .bc_mobile-texto .mobile-txt p {
            display: block;
            color: white;
            font-weight: bolder;
            letter-spacing: 2px;
            font-size: 11px;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        .bc_mobile-texto .mobile-txt span {
            letter-spacing: 1px;
            color: white;
            font-size: 11px;
            display: none;
        }

.bc_para_ti-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .bc_para_ti-menu ul li {
        display: inline-block;
        cursor: pointer;
        margin-top: 0;
    }

        .bc_para_ti-menu ul li a {
            display: block;
            cursor: pointer;
            text-align: center;
            background: rgba(255, 255, 255, .5);
            font-size: 13px;
            color: white;
            text-decoration: none;
            letter-spacing: 2px;
            font-weight: bolder;
            padding: 10px;
            transition: .3s;
            height: 34px;
        }

            .bc_para_ti-menu ul li a.activo {
                background: white !important;
                color: #333 !important;
            }

            .bc_para_ti-menu ul li a img {
                display: inline;
                margin: auto;
                width: 18px;
                height: auto;
                margin-right: 5px !important;
                position: relative;
                top: -1.5px;
            }

                .bc_para_ti-menu ul li a img.click-menu {
                    display: none;
                }

.bc_para_ti-menu-opciones ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, .14);
    z-index: 100;
}

    .bc_para_ti-menu-opciones ul li {
        float: left;
    }


        .bc_para_ti-menu-opciones ul li a {
            padding: 5px;
            display: block;
            cursor: pointer;
        }

        .bc_para_ti-menu-opciones ul li a {
            padding: 15px 9px 11px 9px;
            letter-spacing: 1px;
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
            transition: .3s;
        }

        @media (max-width:359px){
            .bc_para_ti-menu-opciones ul li a{
                top:0;
            }
        }

            .bc_para_ti-menu-opciones ul li a p {
                display: inline;
                position: relative;
            }


            .bc_para_ti-menu-opciones ul li a.activo p::after {
                content: '';
                display: block;
                width: 75%;
                margin: auto;
                margin-top: 12px;
            }

            .bc_para_ti-menu-opciones ul li a.activo-dorado p {
                color: #c39934 !important;
            }

                .bc_para_ti-menu-opciones ul li a.activo-dorado p::after {
                    content: '';
                    display: block;
                    width: 75%;
                    margin: auto;
                    border: 1px solid #c39934;
                    margin-top: 12px;
                }



            .bc_para_ti-menu-opciones ul li a.activo-dorado span::after {
                content: '';
                display: block;
                width: 75%;
                margin: auto;
                border: 1px solid #c39934;
                margin-top: 9px;
            }

    .bc_para_ti-menu-opciones ul > div {
        width: 80%;
        margin: 0 auto;
        padding: 0px 0 !important;
    }

.bc_para_ti-menu-opciones li a.activo {
    font-weight: bolder;
}

    .bc_para_ti-menu-opciones li a.activo p.activo {
        font-weight: bold;
    }

.bc-menu-vertical-prev, .bc-menu-vertical-next {
    width: 5% !important;
}

    .bc-menu-vertical-prev img, .bc-menu-vertical-next img {
        height: 40px;
    }

.bc-menu-vertical-next {
    text-align: right !important;
}

.bc-menu-vertical-prev, .bc-menu-vertical-next {
    width: auto !important;
}

    .bc-menu-vertical-prev img, .bc-menu-vertical-next img {
        height: 20px !important;
        padding: 0 19px !important;
        margin-top: 13px !important;
    }

.slick-slider-fixed-mobile {
    height: 40px !important;
    box-shadow: 0 2px 6px 0 rgba(126, 126, 126, .4) !important;
    -webkit-box-shadow: 0 2px 6px 0 rgba(126, 126, 126, .4) !important;
    -moz-box-shadow: 0 2px 6px 0 rgba(126, 126, 126, .4) !important;
    background: white;
}

/* FIN Menu */

section {
    font-family: 'Lato', sans-serif !important;
    font-size: 13px;
}

/*.content_carrusel_landing-fix {
    margin-top: 0;
}*/

.titulo h2 {
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    padding: 3% 10%;
    margin-bottom: 0;
    font-family: 'Lato';
}

    .titulo h2.seccion-titulo-dorado {
        color: #000 !important;
    }

/*.bc_plantilla-producto-promocion {
    height: auto;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: right center !important;
    padding: 30px;
}

    .bc_plantilla-producto-promocion .promo-hora {
        display: block;
        margin-bottom: 10px;
    }

        .bc_plantilla-producto-promocion .promo-hora p {
            display: block;
            text-align: center;
            letter-spacing: 2px;
            font-weight: bolder;
            font-size: 20px;
            color: white;
        }

        .bc_plantilla-producto-promocion .promo-hora span {
            letter-spacing: 1px;
            font-weight: bolder;
            color: black;
            font-size: 17px;
            display: block;
            text-align: center;
            margin-top: 10px;
        }

    .bc_plantilla-producto-promocion .promo-info {
        width: 50%;
        float: left;
    }

    .bc_plantilla-producto-promocion .promo-img {
        width: 50%;
        float: left;
    }

        .bc_plantilla-producto-promocion .promo-img img {
            width: 100%;
        }

    .bc_plantilla-producto-promocion .promo-img-mobile {
        display: none;
    }


    .bc_plantilla-producto-promocion .nombre-prod {
        font-size: 15px;
        color: white;
        letter-spacing: 2px;
    }

    .bc_plantilla-producto-promocion .agregalo-ya {
        display: block;
        width: 150px;
        padding: 15px 10px;
        border: 1px solid white;
        color: white;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        transition: .3s;
        font-size: 10px;
    }

    .bc_plantilla-producto-promocion .ver-mas-detalle {
        display: block;
        width: 155px;
        border-bottom: 1px solid white;
        padding: 10px;
        color: white;
        font-size: 10px;
        text-align: left;
        margin-top: 15px;
        text-align: center;
        text-decoration: none;
    }*/

.bc_clear {
    clear: both;
}

img.icono-submenu-tabs {
    margin: auto;
    margin-top: -2px;
}

.bc_para_ti-menu-opciones ul li .activado {
    border-bottom: solid 2px #c39934;
}


img.icono-logo-submenu-tabs {
    height: 21px;
    width: auto;
}

img.c {
    height: 21px;
    width: auto;
}

.opcion_home_vistaOfertas {
    display: inline;
}

.activo .opcion_home_vistaOfertas::after {
    content: '';
    display: block;
    width: 72%;
    margin: auto;
    margin-top: 9px;
    margin-left: 12px;
}

@media (max-width:680px) {
    .bc_para_ti-menu ul li a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .bc_para_ti-menu {
        height: 31px;
    }
}

@media (max-width:580px) {
    .bc_mobile-texto .mobile-txt p {
        letter-spacing: 1px;
    }

    /*.bc_plantilla-producto-promocion .promo-img {
        display: none;
    }

    .bc_plantilla-producto-promocion .promo-img-mobile {
        display: block;
        width: 100%;
    }

        .bc_plantilla-producto-promocion .promo-img-mobile img {
            width: 100%;
            margin-bottom: 15px;
        }

    .bc_plantilla-producto-promocion .promo-info {
        display: block;
        width: 100%;
    }

    .bc_plantilla-producto-promocion .nombre-prod {
        text-align: center;
    }

    .bc_plantilla-producto-promocion .agregalo-ya {
        margin: auto;
        margin-top: 20px;
    }

    .bc_plantilla-producto-promocion .ver-mas-detalle {
        margin: auto;
        margin-top: 10px;
    }*/
}

@media (max-width:480px) {
    .bc_mobile-texto .mobile-txt p {
        text-align: left;
        font-size: 9px;
    }

    .bc_mobile-texto .mobile-txt {
        padding: 0 10%;
    }
}

@media (max-width:359px) {
    .slick-list {
        padding: 8px 0 !important;
    }
}

.seccion-content-contenedor {
    font-family: 'Lato' !important;
    display: none;
    overflow: hidden;
}

.seccion-loading-contenedor {
    font-family: 'Lato' !important;
    text-align: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 10%;
}

.seccion-no-productos {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;
    display: none;
}

img.icono-logo-submenu-tabs {
    height: 18px;
    width: auto;
}

.bc_para_ti-menu-opciones ul li a.activado-dorado {
    border-bottom: 2px solid #c39934;
    color: #c39934;
}
.bc_para_ti-menu-opciones ul li a.default-dorado img {
    height: 13px !important
}

/*.activado-dorado img{
    height: 13px !important
}*/
.ocultar {
    display: none;
}