section {
    font-family: 'Lato', sans-serif !important;
    font-size: 13px;
}

.titulo h2 {
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    padding: 3% 10%;
    margin-bottom: 0;
    font-family: 'Lato';
}

    .titulo h2.seccion-titulo-dorado {
        color: #000 !important;
    }

.bc_clear {
    clear: both;
}

img.icono-submenu-tabs {
    margin: auto;
    margin-top: -2px;
}

img.c {
    height: 21px;
    width: auto;
}

.opcion_home_vistaOfertas {
    display: inline;
}

.activo .opcion_home_vistaOfertas::after {
    content: '';
    display: block;
    width: 72%;
    margin: auto;
    margin-top: 9px;
    margin-left: 12px;
}

@media (max-width:680px) {
    .bc_para_ti-menu ul li a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .bc_para_ti-menu {
        height: 31px;
    }
}

@media (max-width:580px) {
    .bc_mobile-texto .mobile-txt p {
        letter-spacing: 1px;
    }

}

@media (max-width:480px) {
    .bc_mobile-texto .mobile-txt p {
        text-align: left;
        font-size: 9px;
    }

    .bc_mobile-texto .mobile-txt {
        padding: 0 10%;
    }
}

@media (max-width:359px) {
    .slick-list {
        padding: 8px 0 !important;
    }
}

.seccion-content-contenedor {
    font-family: 'Lato' !important;
    display: none;
    overflow: hidden;
}

.seccion-loading-contenedor {
    font-family: 'Lato' !important;
    text-align: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 10%;
}

.seccion-no-productos {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;
    display: none;
}

img.icono-logo-submenu-tabs {
    height: 18px;
    width: auto;
}

.ocultar {
    display: none;
}