
/* Menu */
.bc_mobil_para-mi {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: right center !important;
    background-color: #000;
    max-height: 104px;
    overflow: hidden;
}

.bc_mobile-logo {
    float: left;
    background-size: 100% 100% !important;
    height: 70px;
    max-width: 50%;
    overflow: hidden;
}

    .bc_mobile-logo img {
        height: 100%;
        width: 100%;
    }

.bc_mobile-texto {
    display: table;
    float: left;
    width: 50%;
}

    .bc_mobile-texto .mobile-txt {
        display: table-cell;
        vertical-align: middle;
        height: 70px;
        padding: 0 2%;
        overflow-y: hidden;
    }

        .bc_mobile-texto .mobile-txt p {
            display: block;
            color: white;
            font-weight: bolder;
            letter-spacing: 2px;
            font-size: 11px;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        .bc_mobile-texto .mobile-txt span {
            letter-spacing: 1px;
            color: white;
            font-size: 11px;
            display: none;
        }

.bc_para_ti-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .bc_para_ti-menu ul li {
        display: inline-block;
        cursor: pointer;
        margin-top: 0;
    }

        .bc_para_ti-menu ul li a {
            display: block;
            cursor: pointer;
            text-align: center;
            background: rgba(255, 255, 255, .5);
            font-size: 13px;
            color: white;
            text-decoration: none;
            letter-spacing: 2px;
            font-weight: bolder;
            padding: 10px;
            transition: .3s;
            height: 34px;
        }

            .bc_para_ti-menu ul li a.activo {
                background: white !important;
                color: #333 !important;
            }

            .bc_para_ti-menu ul li a img {
                display: inline;
                margin: auto;
                width: 18px;
                height: auto;
                margin-right: 5px !important;
                position: relative;
                top: -1.5px;
            }

                .bc_para_ti-menu ul li a img.click-menu {
                    display: none;
                }

.bc_para_ti-menu-opciones ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, .14);
    z-index: 100;
    width: 100%;
    height: 45px;
    background: #fff;
    overflow: hidden;
}

    .bc_para_ti-menu-opciones ul li {
        float: left;
        height: 45px;
    }

        .bc_para_ti-menu-opciones ul li a {
            padding: 5px;
            display: block;
            cursor: pointer;
        }

        .bc_para_ti-menu-opciones ul li a {
            padding: 15px 9px 11px 9px;
            letter-spacing: 1px;
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
            transition: .3s;
        }

            .bc_para_ti-menu-opciones ul li a.activo p::after {
                content: '';
                display: block;
                width: 75%;
                margin: auto;
                margin-top: 12px;
            }

            .bc_para_ti-menu-opciones ul li a.activo-dorado p {
                color: #c39934 !important;
            }

                .bc_para_ti-menu-opciones ul li a.activo-dorado p::after {
                    content: '';
                    display: block;
                    width: 75%;
                    margin: auto;
                    border: 1px solid #c39934;
                    margin-top: 12px;
                }



            .bc_para_ti-menu-opciones ul li a.activo-dorado span::after {
                content: '';
                display: block;
                width: 75%;
                margin: auto;
                border: 1px solid #c39934;
                margin-top: 9px;
            }

            .bc_para_ti-menu-opciones ul li a p {
                display: inline;
                position: relative;
            }

        .bc_para_ti-menu-opciones ul li .activado {
            border-bottom: solid 2px #c39934;
        }

        .bc_para_ti-menu-opciones ul li a.activado-dorado {
            border-bottom: 2px solid #c39934;
            color: #c39934;
        }

        .bc_para_ti-menu-opciones ul li a.default-dorado img {
            height: 13px !important
        }

    .bc_para_ti-menu-opciones ul > div {
        width: 80%;
        margin: 0 auto;
        padding: 0px 0 !important;
    }


.bc_para_ti-menu-opciones li a.activo {
    font-weight: bolder;
}

    .bc_para_ti-menu-opciones li a.activo p.activo {
        font-weight: bold;
    }

@media (max-width:359px) {
    .bc_para_ti-menu-opciones ul li a {
        top: 0;
    }
}

.bc-menu-vertical-next {
    text-align: right !important;
}

.slick-slider-fixed-mobile {
    /*height: 40px !important;*/
    height: auto;
    box-shadow: 0 2px 6px 0 rgba(126, 126, 126, .4) !important;
    -webkit-box-shadow: 0 2px 6px 0 rgba(126, 126, 126, .4) !important;
    -moz-box-shadow: 0 2px 6px 0 rgba(126, 126, 126, .4) !important;
    background: white;
    overflow: hidden;
}

/* FIN Menu */
