@model Portal.Consultoras.Web.Models.DescargarPedidoModel
@{
    ViewBag.Title = "Cronograma";
}

<style>
   


    .disabled {
        background: none repeat scroll 0 0 burlyWood;
        cursor: default !important;
    }
</style>





<script type="text/javascript">
    var rutaImagenArchivoClientes = '@Url.Content("~/Content/Images/update.png")';
    var rutaImagenCalendar = '@Url.Content("~/Content/Images/calendar.png")';

    jQuery(function () {
        IniFecha();
        fnGrilla();

        $("#btnDescargar").click(function () {

            $(this).addClass('disabled');
            RealizarDescarga();
        });

        $("#btnDesmarcarUltimoPedido").click(function () {
            DeshacerUltimaDescargaPedidos();
        });

        $("#cboTipoCronograma").change(function () {
            $("#DivMensajeLideres").hide();
            $("#DivDescargas").hide();
        });

        $("#ddlPais").attr("disabled", true);
    });

    function IniFecha() {
        $("#txtFechaFacturacion").datepicker({
            showOn: "button",
            buttonImage: rutaImagenCalendar,
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');
    }

    function RealizarDescarga() {
        var vMessage = "";
        $("#DivDescargas").hide();
        $("#Aheader").text("");
        $("#Ddetail").text("");

        if ($("#ddlPais").val() == "") {
            vMessage += "Debe seleccionar un País";
        }

        if (jQuery.trim($("#cboTipoCronograma").val()) == "0") {
            vMessage += "Debe selecionar el tipo de cronograma. \n";
        }

        if (jQuery.trim($("#txtFechaFacturacion").val()) == "") {
            vMessage += "Debe ingresar la Fecha de Facturación.\n";
        }

        if (vMessage != "") {
            alert(vMessage);
            return false;
        }
        else {
            var waiting = {
                message: 'Espere unos minutos, por favor...',
                title: 'Ejecutando Proceso'
            }
            waitingDialog(waiting);

            var JsonData = {
                PaisID: $("#ddlPais").val(),
                FechaFacturacion: $("#txtFechaFacturacion").val(),
                TipoCronogramaID: $("#cboTipoCronograma").val(),
                FlagPedidos: $("#chkMarcarPedidos").is("checked")
            };

            if ($.inArray($("#cboTipoCronograma").val(), ['4', '5', '6']) === -1) {
                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'DescargaPedidos/RealizarDescarga',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(JsonData),
                    async: true,
                    success: function (data) {
                        if (!checkTimeout(data)) return;

                        closeWaitingDialog();
                        alert(data.message);
                        if (!data.success) return;

                        $("#list").GridUnload();
                        fnGrilla();
                        if (data.cabecera && data.IsFox) {
                            $("#Aheader").text("OCWPEDCA.TXT");
                            $("#Ddetail").text("OCWPEDDE.TXT");
                            $("#Ddetail1").text("ACTDATOS.TXT");
                            $("#hdnfileHeader").val(data.rutac);
                            $("#hdnfileDetail").val(data.rutad);
                            $("#hdnfileDetailAct").val(data.rutae);
                            $("#DivDescargas").show();
                        }
                    }, complete: function () {
                        $('#btnDescargar').removeClass('disabled');
                    
                        // Handle the complete event
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("Error del Sistema.");
                        }
                    }
                });
            }
            else if (jQuery.trim($("#cboTipoCronograma").val()) == "5") {
                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'DescargaPedidos/RealizarDescarga',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(JsonData),
                    async: true,
                    success: function (data) {
                        if (!checkTimeout(data)) return;

                        closeWaitingDialog();
                        alert(data.message);
                        if (!data.success) return;

                        $("#list").GridUnload();
                        fnGrilla();                        
                        if (data.cabecera && data.IsFox && data.cantidad > 0) {
                            $("#spCantidad").html(data.cantidad);
                            $("#liderHeader").html(data.nombre);
                            $("#hdnfileHeader").val(data.rutac);
                            $("#DivMensajeLideres").show();
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("Error del sistema. Por favor, volver a ejecutar el proceso de generación de líderes.");
                        }
                    }
                });
            }
            else if (jQuery.trim($("#cboTipoCronograma").val()) == "6") {
                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'DescargaPedidos/RealizarDescargaDDParcial',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(JsonData),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            if (data.success == true) {
                                alert(data.mensaje);
                                if (data.cabecera) {
                                    if (data.IsFox) {
                                        $("#Aheader").text("OCWPEDCA.TXT");
                                        $("#Ddetail").text("OCWPEDDE.TXT");                                            
                                        $("#hdnfileHeader").val(data.rutac);
                                        $("#hdnfileDetail").val(data.rutad);
                                        $("#DivDescargas").show();
                                    }
                                }
                            }
                            else alert(data.mensaje);
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("Error del Sistema.");
                        }
                    }
                });
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'DescargaPedidos/RealizarDescargaFIC',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(JsonData),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            if (data.success == true) {
                                alert(data.mensaje);

                                if (data.cabecera) {
                                    if (data.IsFox) {
                                        if ($("#ddlPais").val() == 9) {
                                            $("#Aheader").text("OCWPEDFICCA.TXT");
                                            $("#Ddetail").text("OCWPEDFICDE.TXT");

                                        } else {
                                            $("#Aheader").text("OCWPEDCA.TXT");
                                            $("#Ddetail").text("OCWPEDDE.TXT");
                                        }
                                        $("#hdnfileHeader").val(data.rutac);
                                        $("#hdnfileDetail").val(data.rutad);

                                        $("#DivDescargas").show();
                                    }
                                }
                            }
                            else alert(data.mensaje);
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("Error del Sistema.");
                        }
                    }
                });
            }
        }
    }

    function DescargarCabecera() {
        waitingDialog({});
        setTimeout(function () { DownloadAttachExcelHead() }, 0);
    }

    function DownloadAttachExcelHead() {
        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        var requestedFile = encodeURIComponent($("#hdnfileHeader").val());
        iframe_.setAttribute("src", baseUrl + 'WebPages/Download.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }

    function DescargarDetalle() {
        waitingDialog({});
        setTimeout(function () { DownloadAttachExcelDet() }, 0);
    }

    function DescargarDetalleAct() {
        waitingDialog({});
        setTimeout(function () { DownloadAttachExcelDetAct() }, 0);
    }

    function DownloadAttachExcelDetAct() {
        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        var requestedFile = encodeURIComponent($("#hdnfileDetailAct").val());
        iframe_.setAttribute("src", baseUrl + 'WebPages/Download.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }

    function DownloadAttachExcelDet() {
        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        var requestedFile = encodeURIComponent($("#hdnfileDetail").val());
        iframe_.setAttribute("src", baseUrl + 'WebPages/Download.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "DescargaPedidos/ObtenerUltimaDescargaPedido",
            hidegrid: false,
            datatype: 'json',
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Fecha/Hora Inicio', 'Fecha/Hora Fin', 'Estado', 'Mensaje', 'Número de pedidos', 'Tipo de proceso', 'Fecha Facturación', 'Desmarcado', 'Archivo Clientes', 'NroLote'],
            colModel: [
                { name: 'FechaHoraInicio', index: 'FechaHoraInicio', width: 22, editable: false, resizable: false, align: "center" },
                { name: 'FechaHoraFin', index: 'FechaHoraFin', width: 22, editable: false, resizable: false, align: "center" },
                { name: 'Estado', index: 'Estado', width: 15, editable: false, resizable: true, align: "center" },
                { name: 'Mensaje', index: 'Mensaje', width: 30, editable: false, resizable: true },
                { name: 'NumeroPedidos', index: 'NumeroPedidos', width: 20, editable: true, resizable: false },
                { name: 'TipoProceso', index: 'TipoProceso', width: 15, editable: true, resizable: false, align: "center" },
                { name: 'FechaFacturacion', index: 'FechaFacturacion', width: 22, editable: false, resizable: false, hidden: false, align: "center" },
                { name: 'Desmarcado', index: 'Desmarcado', width: 22, editable: false, resizable: false, hidden: false, align: "center" },
                { name: 'ArchivoClientes', index: 'ArchivoClientes', width: 22, editable: false, resizable: false, hidden: false, align: "center", formatter: ShowActionsArchivoClientes },
                { name: 'NroLote', index: 'NroLote', hidden: true,},
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "NroLote"
            },
            loadtext: 'Cargando datos...',
            emptyrecords: 'No hay resultados',
            height: 'auto',
            width: 930,
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () {
            },
            gridComplete: function () {
                obtenerUltimaDescargaExitosa();
            },
            cache: false,
            cmTemplate: { sortable: false },
            onCellSelect: function (rowId, iCol, content, event) {
                if (iCol == 8) ArchivoClientes(rowId);
            }
        });
    }

    function obtenerUltimaDescargaExitosa() {
        waitingDialog({});
        $.ajax({
            type: 'POST',
            url: baseUrl + 'DescargaPedidos/ObtenerUltimaDescargaExitosa',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            cache: false,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        $("#FechaPedidoWeb").text(data.descarga.FechaProceso);
                        $("#FechaPedidoDD").text(data.descarga.FechaEnvio);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert("Error del Sistema.");
                }
            }
        });
    }

    function DeshacerUltimaDescargaPedidos() {
        var waiting = {
            message: 'Espere unos minutos, por favor...',
            title: 'Ejecutando Proceso'
        };

        waitingDialog(waiting);

        $.ajax({
            type: 'POST',
            url: baseUrl + 'DescargaPedidos/DeshacerUltimaDescargaPedidos',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            cache: false,
            success: function (data) {
                if (checkTimeout(data)) {

                    if (data.success == true) {
                        $("#list").GridUnload();
                        fnGrilla();
                        closeWaitingDialog();
                    }
                    else {
                        alert(data.mensaje);
                        closeWaitingDialog();
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("Error del Sistema.");
                }
            }
        });
    }

    function ShowActionsArchivoClientes(cellvalue, options, rowObject) {
        var Des = "<img src='" + rutaImagenArchivoClientes + "' alt='Generar Archivo Clientes' title='Generar Archivo Clientes' border='0' style='cursor:pointer' />";
        return Des;
    }

    function ArchivoClientes(rowId) {
        var waiting = {
            message: 'Espere unos minutos, por favor...',
            title: 'Ejecutando Proceso'
        }
        waitingDialog(waiting);

        $.ajax({
            type: 'POST',
            url: baseUrl + 'DescargaPedidos/DescargarArchivoCliente',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: "{nroLote: " + rowId + "}",
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert(data.mensaje);
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("Error del Sistema.");
                }
            }
        });
    }
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Carga de Pedidos</h1>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">
            <div class ="DescargaParams">
                <div class="celda">
                    <span>País:</span>
                    <div class="selectP2 borde_redondeado">
                        @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), new { id = "ddlPais" })
                    </div>                                    
                </div>
                <div class="celda">
                    <span >Fecha Facturación:</span>
                    <div class="calendar borde_redondeado">
                        <input type="text" id="txtFechaFacturacion" />
                    </div>
                </div>
                <div class="celda">
                    <span >Tipo de Proceso:</span>
                    <div class="selectP2 borde_redondeado">
                        <select id="cboTipoCronograma">
                            <option value="0">-- Seleccionar --</option>
                            <option value="1">Regular</option>
                            <option value="2">Demanda Anticipada</option>
                            <option value="3">Demanda Anticipada PRD</option>
                            @if (Model.PedidoFICActivo) { <option value="4">FIC</option> }
                            <option value="5">Generar Líderes</option>
                            @if (ViewBag.NombrePais == "México" || ViewBag.NombrePais == "Costa Rica" || ViewBag.NombrePais == "Guatemala" || ViewBag.NombrePais == "El Salvador" || ViewBag.NombrePais == "Panamá")
                            {
                                <option value="6">Digitacion Distribuida Parcial</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="celda">
                     <span ></span>
                     <div class="input_add_alert_left">
                        <input type="button" name="" id="btnDescargar" value="Descargar"  />
                    </div>
                </div>               
            </div>

            <div class ="UltimaDescarga">
                <span>Último proceso exitoso de descarga:</span>
                <table id="UltimaDescargaInfo">
                        <tr>
                            <th></th>
                            <th>Fecha/Hora</th>
                        </tr>
                   
                        <tr>
                            <td>Pedidos Web</td>
                            <td><span id="FechaPedidoWeb"></span></td>
                        </tr>
                        <tr>
                            <td>Pedidos DD</td>
                            <td><span id="FechaPedidoDD"></span></td>
                        </tr>                    
                </table>
                <div class="textoDescarga">
                    <img src='@Url.Content("~/Content/Images/faq.png")' alt="" />
                    <span>Si ocurrió un problema con la última descarga de pedidos y deseas desmarcarlos, haz click 
                        <a id="btnDesmarcarUltimoPedido" href="#">aquí</a>
                    </span>
                </div>
            </div>

            <div id="DivDescargas" class="div-4" style="display:none">
                <div class="noti3">
                    Puede descargar los archivos generados haciendo click en los siguientes enlaces:<br />
                    Cabecera: <a id="Aheader" href="#" onclick="DescargarCabecera()"></a><br />
                    Detalle: <a id="Ddetail" href="#" onclick="DescargarDetalle()"></a><br />
                    
                    Actualización de Datos: <a id="Ddetail1" href="#" onclick="DescargarDetalleAct()"></a>
                </div>
            </div>
            <div id="DivMensajeLideres" class="div-4" style="display: none">
                <div id="DivMensajeNoti" class="noti3">
                    Archivo generado correctamente, se crearon <span id="spCantidad"></span> registros de Líderes.
                    Puede descargar el archivo generado haciendo clic en el siguiente enlace:<br />
                    Archivo de Líderes: <a id="liderHeader" href="#" onclick="DescargarCabecera()" ></a>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnfileHeader" name="hdnfileHeader" />
    <input type="hidden" id="hdnfileDetail" name="hdnfileDetail" />
    <input type="hidden" id="hdnfileDetailAct" name="hdnfileDetailAct" />


</div>
<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
