@model Portal.Consultoras.Web.Models.ConfiguracionCrossSellingModel
@{
    ViewBag.Title = "ConfiguracionCrossSelling";
}
<script type="text/ecmascript">
    $(document).unbind('keydown').bind('keydown', function (event) {
        var doPrevent = false;
        if (event.keyCode === 8) {
            var d = event.srcElement || event.target;
            if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'PASSWORD'))
                 || d.tagName.toUpperCase() === 'TEXTAREA') {
                doPrevent = d.readOnly || d.disabled;
            }
            else {
                doPrevent = true;
            }
        }
        if (doPrevent) {
            event.preventDefault();
        }
    });

    jQuery(document).ready(function () {
        IniDialog();
        fnGrilla();
        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $("#hdPaisID").val(Id);
                $.getJSON(baseUrl + 'BaseAdm/ObtenerCampaniasPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        LimpiarDependencias(Id);

                        var ddlCampania = $('#ddlCampania');
                        ddlCampania.empty();
                        if (data.lista.length > 0) {
                            ddlCampania.append($('<option/>', {
                                value: "",
                                text: "-- Seleccionar --"
                            }));
                            if (Id != "") {
                                for (var item in data.lista) {
                                    ddlCampania.append($('<option/>', {
                                        value: data.lista[item].CampaniaID,
                                        text: data.lista[item].Codigo
                                    }));
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            } else LimpiarDependencias(Id);
        });

        $("#btnBuscar").click(function () {
            fnGrilla();
        });
    });

    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        ddlCampania.empty();
        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
        $("#list").jqGrid("clearGridData", true).trigger("reloadGrid");
    }

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "CrossSelling/ConsultarConfiguracionCrossSelling",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return ($("#ddlPais").val() == "" ? "11" : $("#ddlPais").val()); },
                CampaniaID: function () { return ($("#ddlCampania").val() == "" ? "0" : $("#ddlCampania").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['País', 'Campaña', '¿Habilitar Días Validación?', ''],
            colModel: [
                { name: 'Pais', index: 'Pais', width: 60, editable: true, resizable: false },
                { name: 'CampaniaID', index: 'CampaniaID', width: 70, editable: true, resizable: false },
                { name: 'HabilitarDiasValidacion', index: 'HabilitarDiasValidacion', width: 80, editable: false, resizable: false, sortable: false, align: 'center', formatter: ShowCheck },
                { name: 'Options', index: 'Options', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions, formatoptions: { disabled: true } }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {

            var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + options.rowId + "','" + rowObject[3] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Configuración CrossSelling' title='Editar Configuración CrossSelling' border='0' /></a>";
            return Edit;
        };

        function ShowCheck(cellvalue, options, rowObject) {
            var Checked = "&nbsp; <input type='checkbox' class='check' checked='checked' disabled='true' />";
            var UnChecked = "&nbsp; <input type='checkbox' class='check' disabled='true' />";
            return (rowObject[3] == "1" ? Checked : UnChecked);
        };

        }

        $.jgrid.extend({
            Editar: function (ID, Check) {
                if (ID) {
                    LimpiarDatos();

                    $('#txtPais').val(jQuery("#list").jqGrid('getCell', ID, 'Pais'));
                    $('#txtCampania').val(jQuery("#list").jqGrid('getCell', ID, 'CampaniaID'));
                    if (Check == "1")
                        $("#chkHabilitar").attr("checked", true);
                    else
                        $("#chkHabilitar").removeAttr("checked");

                    showDialog("DialogRegistroConfigCrossSelling");
                } else {
                    alert("Debe una Campaña, verifique");
                }
                return false;
            }
        });

        function LimpiarDatos() {
            $("#txtPais").val("");
            $("#txtCampania").val("");
            $("#chkHabilitar").removeAttr("checked");
        }

        function IniDialog() {
            $('#DialogRegistroConfigCrossSelling').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 480,
                draggable: true,
                title: "Registro Configuración CrossSelling",
                buttons:
                {
                    "Guardar": function () {
                        var msjex = "";
                        if ($("#txtPais").val() == "")
                            msjex += " - Debe seleccionar un País .\n";
                        if ($("#txtCampania").val() == "")
                            msjex += " - Debe seleccionar un Campania .\n";
                        if (msjex != "") {
                            alert(msjex);
                            HideDialog("DialogRegistroConfigCrossSelling");
                            return false;
                        } else
                            AdministrarCrossSelling();
                    },
                    "Cancelar": function () {
                        $(this).dialog('close');
                    }
                }
            });
        }

        function AdministrarCrossSelling() {

            var Item = {
                PaisID: $("#hdPaisID").val(),
                CampaniaID: $("#txtCampania").val(),
                HabilitarDiasValidacion: ($("#chkHabilitar").attr("checked") ? 1 : 0)
            };
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'CrossSelling/AdministrarConfiguracionCrossSelling',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(Item),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        if (data.success == true) {
                            alert(data.message);
                            HideDialog("DialogRegistroConfigCrossSelling");
                            LimpiarDatos();
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else {
                            alert(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        alert(data.message);
                        HideDialog("DialogRegistroConfigCrossSelling");
                    }
                }
            });

        }


</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Configuración <span>Cross Selling</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.lstPais, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.lstCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
                <div class="input_search">
                    <input type="button" value="Buscar" id="btnBuscar">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

<div id="DialogRegistroConfigCrossSelling" style="display: none;">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titJ">País:</div>
            <div class="selectP2 borde_redondeado">
                <input type="hidden" id="hdPaisID" />
                <input type="text" id="txtPais" readonly="true" />
            </div>
        </div>
        <div class="div-3">
            <div class="titJ">Campaña:</div>
            <div class="selectP2 borde_redondeado">
                <input type="text" id="txtCampania" readonly="true" />
            </div>
        </div>
        <div class="div-3">
            <div class="titJ">¿Habilitar días Validación?</div>
            <div class="selectCheck borde_redondeado">
                <input type="checkbox" class="check" id="chkHabilitar">
            </div>
        </div>
    </div>
</div>

