@using Portal.Consultoras.Common;

@{
    ViewBag.Title = "Mis Cursos";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="titulo_mobile">
    <a href="@Request.UrlReferrer" class="enlace_regresar ajustePosicionFlecha" style="display:normal" title="Regresar"></a>
    MIS CURSOS
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div class="info_academia">
        <p>
            Por el momento el portal de Mi Academia no encuentra disponible, por favor inténtelo más tarde.
        </p>
    </div>
</div>
