USE BelcorpPeru
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpMexico
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpColombia
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpVenezuela
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpSalvador
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpPuertoRico
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpPanama
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpGuatemala
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpEcuador
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpDominicana
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpCostaRica
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpChile
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

USE BelcorpBolivia
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogica WHERE TablaLogicaID = 135)
BEGIN
	
	INSERT INTO TablaLogica(
		TablaLogicaID
		,Descripcion)
	VALUES(
		135
		,'PALANCA'
	)
END
GO

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos TLD
	WHERE TablaLogicaID = 135
	AND TablaLogicaDatosID = 13501
	)
BEGIN
	INSERT INTO TABLALOGICADATOS (
	TablaLogicaDatosID
	,TablaLogicaID
	,Codigo
	,Descripcion
	)
	VALUES (
	13501
	,135
	,'1'
	,'Activar Log carga ofertas de palancas'
	)
END
GO

