<div>
    <img src="@Url.Content(ViewBag.ImagenUrlOfertaFIC)"/>
</div>
<div>
    <br />
    <input type="submit" name="" id="btnAgregarOferfaFIC" value="Aceptar" />
    <input type="submit" name="" id="btnCancelarOferfaFIC" value="Cancelar" />
</div>


