@model Portal.Consultoras.Web.Models.AdministrarConfiguracionPortalModel
@{
    ViewBag.Title = "AdministrarBelcorpResponde";
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#btnGuardar").click(function () { GuardarDatos(); });
    });

    function GuardarDatos() {

        var item = {
            EstadoSimplificacionCUV: $('#chkEstadoSimplificacionCUV').prop('checked'),
            EsquemaDAConsultora: $('#chkEsquemaDAConsultora').prop('checked'),
            TipoProcesoCarga: $('#chkTipoProcesoCarga').prop('checked')
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'AdministrarConfiguracionPortal/ActualizarConfiguracionPortal',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (data.success == true) {
                    alert(data.message);
                }
                else {
                    alert(data.message);
                }
            },
            error: function (data, error) {
                alert(data.message);
            }
        });

        return false;
    }

</script>
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Administrar Activaciones por País</h1>
            </div>

            <div class="div-3">
                <div class="titG" style="width: 26%;">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.lstPais, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
            </div>

            <div class="div-3">
                <div class="titG line_height" style="width: 26%;">Activar Simplificacion CUVs:</div>
                <div class="titAuto" style="width: 250px; text-align: left; padding: 9px 0px 0px 0px">
                    @Html.CheckBoxFor(model => model.EstadoSimplificacionCUV, new { id = "chkEstadoSimplificacionCUV" })
                </div>
            </div>

            <div class="div-3">
                <div class="titG line_height" style="width: 26%;">Nuevo Esquema DA:</div>
                <div class="titAuto" style="width: 250px; text-align: left; padding: 9px 0px 0px 0px">
                    @Html.CheckBoxFor(model => model.EsquemaDAConsultora, new { id = "chkEsquemaDAConsultora" })
                </div>
            </div>

            <div class="div-3">
                <div class="titG line_height" style="width: 26%;">Tipo Proceso Carga Pedido:</div>
                <div class="titAuto" style="width: 250px; text-align: left; padding: 9px 0px 0px 0px">
                    @Html.CheckBoxFor(model => model.TipoProcesoCarga, new { id = "chkTipoProcesoCarga" })
                </div>
            </div>



            <div class="div-3">
                <div class="titG" style="width: 26%;"></div>
                <div class="input_search">
                    <input type="button" value="Guardar" id="btnGuardar">
                </div>
            </div>
        </div>
    </div>
</div>

