<div id="contenedor_popup_ficha_enriquecida"></div>

<script id="popup-ficha-enriquecida-responsive" type="text/x-handlebars-template">
    <section id="modal_popup_ficha_enriquecida" class="popup_full">
        <div class="contenedor_detalle">
            <button class="button_cerrar button_volver" onclick="javascript:fichaEnriquecidaPresenter.hidePopupFichaEnriquecida()">
                <img src="/Content/Images/mobile/Esika/right-arrow.svg" alt=""> Volver
            </button>
            <div class="row ficha_producto">
                <div class="col-12 col-lg-7 descripcion_enriquecida">
                    <div>
                        {{#IsNullOrEmpty DescripcionMarca '!='}}
                        <div class="nombre_marca">{{DescripcionMarca}}</div>
                        {{/IsNullOrEmpty}}

                        {{#IsNullOrEmpty NombreComercial '!='}}
                        <div class="descripcion">{{NombreComercial}}</div>
                        {{/IsNullOrEmpty}}

                        {{#IsNullOrEmpty Cabecera.ContenidoNeto '!='}}
                        <div class="descripcion_item">{{Cabecera.ContenidoNeto}}</div>
                        {{/IsNullOrEmpty}}

                        {{#IsNullOrEmpty Cabecera.Dimensiones '!='}}
                        <div class="descripcion_item">{{Cabecera.Dimensiones}}</div>
                        {{/IsNullOrEmpty}}

                        {{#IsNullOrEmpty Cabecera.TallaMedidas '!='}}
                        <div class="descripcion_item">{{Cabecera.TallaMedidas}}</div>
                        {{/IsNullOrEmpty}}

                        {{#iff PrecioCatalogo '>' 0}}
                        <div class="descripcion_item" style="font-weight:bold">
                            Precio para ti: <span style="font-weight:bold">{{SimboloMoneda}} {{DecimalToStringFormat PrecioCatalogo}}</span>
                        </div>
                        {{/iff}}
                        {{#IsNullOrEmpty UnidadMedidaContenido '!='}}
                        {{#iff PrecioContenido '>' 0}}
                        <div class="descripcion_item item_pum">{{UnidadMedidaContenido}} a {{SimboloMoneda}} {{PrecioContenidoStr}}</div>
                        {{/iff}}
                        {{/IsNullOrEmpty}}
                    </div>
                </div>
                <div class="col-12 col-lg-5">

                    {{#iff this.FotosCarrusel.length '>' 0 }}
                    <div class="contenedor_imagen">
                        <div>
                            <img src={{ImgUrl ImagenBulk}}>
                        </div>
                        <p>* Foto Referencial</p>
                    </div>
                    {{else}}
                    <div class="row no-gutters">
                        <div class="col-3 d-none d-sm-none d-md-none d-lg-block">
                            <div class="contenedor_imagen_thumbnail slider-nav-detail">

                                <div class="contenedor_carrusel">
                                    <img src="{{ImgUrl ImagenBulk}}" class="img-fluid" />
                                </div>

                                {{#each this.FotosCarrusel as |foto|}}
                                <div class="contenedor_carrusel">
                                    <img src="{{ImgUrl foto}}" class="img-fluid" />
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 ">
                            <div class="contenedor_imagen slider-for-detail">

                                <div class="contenedor_carrusel">
                                    <img src={{ImgUrl ImagenBulk}}>
                                </div>

                                {{#each this.FotosCarrusel as |foto|}}
                                <div class="contenedor_carrusel">
                                    <img src="{{ImgUrl foto}}" />
                                </div>
                                {{/each}}
                            </div>
                            <p>* Foto Referencial</p>
                        </div>
                    </div>
                    {{/iff}}
                </div>
                    </div>

                    <div id="popup_tabs_ficha_enriquecida_contenedor" class="popup_tabs_ficha">

                    </div>
                </div>
    </section>
</script>