﻿@using Portal.Consultoras.Common

<script id="tabs-ficha-enriquecida-template" type="text/x-handlebars-template">

    <div class="tabs">
        {{#each this.Secciones as |seccion|}}
        <input type="radio" name="tabs" id="tab{{@@index}}" {{#if @@first}} checked="checked" {{/if}}>
        <label for="tab{{@@index}}">{{seccion.Titulo}}</label>
        {{#iff seccion.Tipo '==' '@Constantes.TipoSeccion.Texto' }}
        <div class="tab">
            {{#each seccion.Detalles as |detalle|}}
            <h4>{{LowerCase detalle.Titulo}}</h4>
            <p>{{detalle.Descripcion}}</p>
            {{/each}}
        </div>
        {{else}}
        <div class="tab">
            <div id="carrusel-video" class="items_video">
                {{#each seccion.Detalles as |detalle|}}
                <div>
                    <div class="video_item">
                        <div id="ytFichax"
                             data-youtube-key="{{detalle.Key}}"
                             data-youtube="{
                          height:'165',
                          width:'300',
                          enablejsapi:1,
                          fs:0,
                          showinfo:0,
                          modestbranding:1,
                          loop:1,
                          videoId: '{{detalle.Key}}',
                          playerVars:{autoplay:0,rel:0}}"
                             data-extra="{'descripcionResumen':'{{detalle.Titulo}}'}">
                        </div>
                        <h3>{{detalle.Titulo}}</h3>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/iff}}
        {{/each}}
    </div>
</script>