
/* MC - HD-4348 - POPUP ACTUALIZACIÓN CONTRASEÑA (CUANDO LA CONSULTORA TIENE UNA CLAVE ALEATORIA QUE SE LE GENERÓ CUANDO SE REGISTRÓ POR ÚNETE A BELCORP) */

/* HELPERS CSS */

.w-100{
    width:100%;
}

/* FIN - HELPERS CSS */

.popup__somos__belcorp--actualizacionContrasenia {
    box-sizing:border-box;
    opacity: 0;
    font-family:'Lato', sans-serif;
    position:relative;
    letter-spacing:0.3px;
}

    .mostrarPopup {
        opacity:1;
    }

    .paso__1__actualizacionContrasenia{
        padding-top:85px;
    }

    .saludo__consultora{
        font-size:16px;
        margin-bottom:8px;
    }

    .popup__somos__belcorp__titulo--actualizacionContrasenia,
    .popup__somos__belcorp__titulo--envioCodigoConfirmacion,
    .popup__somos__belcorp__titulo--ingresoCodigoConfirmacion{
        font-size:20px;
        color:#000;
    }

    .popup__somos__belcorp__titulo--actualizacionContrasenia{
        margin-bottom:52px!important;
    }

    .form__actualizarContrasenia__wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form__group__fields--actualizacionContrasenia{
        margin-bottom:40px;
        position:relative;
    }

    .enlace__verPassword{
        width: 45px;
        height: 45px;
        position: absolute;
        top: -5px;
        right: -12px;
        background-image: url(/Content/Images/ocultar-password.svg);
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: center;
        cursor: pointer;
    }

        .enlace__verPassword--mostrar{
            background-image: url(/Content/Images/mostrar-password.svg);
        }

    .paso__2__actualizacionContrasenia{
        padding-top:64px;
    }

    .popup__somos__belcorp__icono--correo{
        width:60px;
        height:auto;
        margin-bottom:16px;
    }

    .popup__somos__belcorp__titulo--envioCodigoConfirmacion{
        margin-bottom:12px!important;
    }

    .btn__sb--actualizarContrasenia,
    .text__field__sb--correoAlCualSeEnvioCodigo,
    .text__field__sb--ingresoCodigo{
        font-family:'Lato', sans-serif;
    }

    .form__group__fields--correoAlCualSeEnvio > div{
        position:relative;
    }

        .enlace__editarCorreoElectronico{
            width: 45px;
            height:45px;
            padding: 12px;
            height: auto!important;
            position: absolute;
            top: -4px;
            right: -14px;
            box-sizing: border-box;
        }

            .enlace__editarCorreoElectronico img{
                width:100%;
                height:auto;
            }

    .text__field__sb--correoAlCualSeEnvioCodigo{
        width:auto;
        min-width:286px;
        margin-bottom:88px;
    }

    .popup__somos__belcorp__mensaje--envioCodigoConfirmacion{
        color:#000;
    }

    .popup__somos__belcorp__titulo--ingresoCodigoConfirmacion{
        margin-bottom:23px!important;
    }

    .form__group__fields--ingresoCodigo{
        width:auto;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:space-evenly;
        max-width:352px;
        margin-bottom:3px;
    }

        .text__field__sb--ingresoCodigo{
            width:44px;
            font-size:24px;
        }

    .enlace__sb--reenviarCorreo{
        font-size:13px;
        height:45px;
        line-height:45px;
        cursor:pointer;
    }

    .paso__3__actualizacionContrasenia{
        padding-top:100px;
    }

    .popup__somos__belcorp__icono--actualizacionExitosa{
        width: 88px;
        height: auto;
        padding-left: 23px;
        margin-bottom: 24px;
    }

    .enlace__sb--irAMiPerfil{
        position: relative;
        top: -1px;
    }

@media screen and (min-width:992px) {

    .popup__somos__belcorp--actualizacionContrasenia {
        top:0;
        max-width: 556px;
        min-height: 535px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -moz-transform: translate(0, -70px);
        -ms-transform: translate(0, -70px);
        -o-transform: translate(0, -70px);
        -webkit-transform: translate(0, -70px);
        transform: translate(0, -70px);
        padding-bottom: 49px;
    }

        .mostrarPopup{
            -moz-transform: translate(0, 32px);
            -ms-transform: translate(0, 32px);
            -o-transform: translate(0, 32px);
            -webkit-transform: translate(0, 32px);
            transform: translate(0, 32px);
        }

        .popup__somos__belcorp__contenido--actualizacionContrasenia{
            max-width:390px;
        }

            .paso__1__actualizacionContrasenia{
                padding-top:96px;
            }

            .btn__sb--actualizarContrasenia {
                min-width: 250px;
            }

            .paso__2__actualizacionContrasenia {
                padding-top: 40px;
            }

        .spinner__wrapper--actualizacionContrasenia {
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
        }

        .text__field__sb--correoAlCualSeEnvioCodigo{
            margin-bottom:51px;
        }

        .enlace__sb--reenviarCorreo{
            margin-bottom:32px;
        }

        .popup__somos__belcorp__mensaje--envioCodigoConfirmacion{
            margin-bottom:48px;
        }

}

@media screen and (max-width:991px){

    .popup__somos__belcorp--actualizacionContrasenia {
        width: 100%;
        height: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        margin-bottom: 0;
        border-radius: 0;
        overflow: auto;
        padding: 0 24px 20px;
    }

        .btn__sb--actualizarContrasenia{
            width:92%;
            max-width:100%;
            letter-spacing:0.5px;
        }

        .spinner__wrapper--actualizacionContrasenia {
            position: fixed;
        }

}

@media screen and (max-height:500px) and (orientation:portrait) {

    .btn__sb--actualizarContrasenia {
        width:100%;
        position:relative;
        z-index: 2;
        margin-top: 60px;
    }

}

/* FIN - MC - HD-4348 - POPUP ACTUALIZACIÓN CONTRASEÑA (CUANDO LA CONSULTORA TIENE UNA CLAVE ALEATORIA QUE SE LE GENERÓ CUANDO SE REGISTRÓ POR ÚNETE A BELCORP) */
