@using Portal.Consultoras.Web.Models

@{
    ViewBag.Title = "Mis clientes";
    Layout = null;
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

<div class="row">
    <div class="col-3 offset-1">
        Mis Clientes
    </div>
</div>

<div class="row">
    <div class="col-2">
        <input id="txtNombreCliente" type="text" class="text" placeholder="Buscar" value="" />
    </div>

    <div class="col-10">
        <input id="btnBuscarClientes"
               type="button"
               class="btn btn-primary"
               title="Agregar Cliente"
               value="Agregar Cliente"
               onclick="tusClientesModule.editarCliente(null)" />
    </div>
</div>

<div id="divClientes">

</div>

<script id="hbsClientes" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-1">
            Nombres
        </div>
        <div class="col-1">
            Apellidos
        </div>
        <div class="col-1">
            Teléfono  Fijo
        </div>
        <div class="col-1">
            Celular
        </div>
        <div class="col-1">
            Correo
        </div>
        <div class="col-1">
            Editar
        </div><div class="col-1">
            Eliminar
        </div>
    </div>
    {{# each this.miData as |cliente|}}
    <div class="row">
        <div class="col-1">
            {{NombreCliente}}
        </div>
        <div class="col-1">
            {{ApellidoCliente}}
        </div>
        <div class="col-1">
            {{Telefono}}
        </div>
        <div class="col-1">
            {{Celular}}
        </div>
        <div class="col-1">
            {{eMail}}
        </div>
        <div class="col-1">
            <input type="button"
                   class="btn btn-primary"
                   title="Agregar Cliente"
                   value="Editar"
                   onclick="tusClientesModule.editarCliente({{JSON2string cliente}})" />
        </div>
        <div class="col-1">
            <input type="button"
                   class="btn btn-primary"
                   title="Agregar Cliente"
                   value="Eliminar"
                   onclick="tusClientesModule.mostarConfirmarEliminarCliente({{ClienteID}})" />
        </div>
    </div>
    {{/each}}
</script>



<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">
        <input type="button"
               class="btn btn-primary"
               title="Agregar Cliente"
               value="Agregar Cliente"
               onclick="tusClientesModule.editarCliente(null)" />
    </div>
</div>

<div id="divPopupEditarCliente" style="display:none">
    <input type="button" onclick="tusClientesModule.ocultarEditarCliente();" value="cerrar" />
    @Html.Partial("_Mantener", new ClienteModel())
</div>

<div id="divConfirmarEliminarCliente" style="display:none">
    <input type="button" onclick="tusClientesModule.ocultarConfirmarEliminarCliente();" value="cerrar" />
    <h1><b>IMPORTANTE</b></h1>
    <span>¿Estás seguro que quieres eliminar a tu cliente?</span>
    <div>
        <button type="button" id="btnConfirmarEliminarCliente" onclick="tusClientesModule.eliminarCliente();">
            SI, DESEO ELIMINARLO
        </button>
        <button type="button" id="btnCancelarEliminarCliente" onclick="tusClientesModule.ocultarConfirmarEliminarCliente();">
            NO ELIMINAR
        </button>
    </div>
</div>


@section scripts{

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/TusClientesIndex")

    <script type="text/javascript">
        var tusClientesProvider = TusClientesProvider();
        var tusClientesModule = TusClientesModule({
            tusClientesProvider,
            checkTimeout
        });
        //var panelMantenerModule = PanelMantenerModule({
        //    tusClientesProvider,
        //    setNombreClienteCallback: tusClientesModule.setNombreCliente(),
        //    mostrarTusClientesCallback: tusClientesModule.buscarClientes,
        //    panelRegistroHideCallback: tusClientesModule.ocultarEditarCliente()
        //});
        $(document).ready(function () {
            tusClientesModule.init();
            //panelMantenerModule.init();
        });
    </script>
}