@{
    ViewBag.Title = "Mis clientes";
    Layout = null;
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

<div class="row">
    <div class="col-3 offset-1">
        Mis Clientes
    </div>
</div>

<div class="row">
    <div class="col-2">
        <input id="txtNombreCliente" type="text" class="text" placeholder="Buscar" value="" />
    </div>

    <div class="col-10">
        <input id="btnBuscarClientes" type="button" class="btn btn-primary" title="Agregar Cliente" value="Agregar Cliente" />
    </div>
</div>

<div id="divClientes">

</div>

<script id="hbsClientes" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-1">
            Nombres
        </div>
        <div class="col-1">
            Apellidos
        </div>
        <div class="col-1">
            Teléfono  Fijo
        </div>
        <div class="col-1">
            Celular
        </div>
        <div class="col-1">
            Correo
        </div>
        <div class="col-1">
            Editar
        </div><div class="col-1">
            Eliminar
        </div>
    </div>
    {{# each miData}}
    <div class="row">
        <div class="col-1">
            {{NombreCliente}}
        </div>
        <div class="col-1">
            {{ApellidoCliente}}
        </div>
        <div class="col-1">
            {{Telefono}}
        </div>
        <div class="col-1">
            {{Celular}}
        </div>
        <div class="col-1">
            {{eMail}}
        </div>
        <div class="col-1">
            <input type="button"
                   class="btn btn-primary"
                   title="Agregar Cliente"
                   value="Editar" />
        </div>
        <div class="col-1">
            <input type="button"
                   class="btn btn-primary"
                   title="Agregar Cliente"
                   value="Eliminar"
                   onclick="eliminarCliente({{PaisID}}, {{ClienteID}}, '{{CodigoCliente}}', '{{NombreCliente}}')" />
        </div>
    </div>
    {{/each}}
</script>



<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">
        <input type="button" class="btn btn-primary" title="Agregar Cliente" value="Agregar Cliente" />
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/TusClientes/TusClientesProvider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/TusClientes/TusClientesModule.js")"></script>
    <script type="text/javascript">
        var tusClientesProvider = TusClientesProvider();
        var tusCliente = TusClientesModule({
            tusClientesProvider,
            checkTimeout
        });
        tusCliente.init();
    </script>
}