@using Portal.Consultoras.Web.Models

@{
    ViewBag.Title = "Mis clientes";
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

<div class="titulo_bloque">
    <div class="container">
        <div class="row">
            <div>
                <h3>Mis <strong>Clientes</strong></h3>
            </div>
        </div>
    </div>
</div>

<div id="fitros_fixed">
    <div class="container">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-md-6 col-xs-12">
                <input id="txtNombreCliente" class="buscar_cliente" type="text" placeholder="Buscar" value="" />
            </div>

            <div class="col-md-6 col-xs-12 d-flex flex-row-reverse content_boton_agregar d-none">
                <button id="btnBuscarClientes" class="boton_agregar float-md-right" onclick="tusClientesModule.editarCliente(null)"> <img src="/Content/Images/nuevo_tuclientes.svg" alt="Alternate Text" />AGREGAR CLIENTE</button>
                <button id="btnExportarClientes" class="botton_export_xls"><img src="/Content/Images/icon_xls.svg" /></button>
            </div>
        </div>
    </div>
</div>

<div class="container container_clientes">
    <div class="col-12">
        <div id="divClientes" style="margin-bottom:15px;">

        </div>
    </div>

    <script id="hbsClientes" type="text/x-handlebars-template">
        <div class="row tabla_cabecera">
            <div class="col-2">
                Nombres
            </div>
            <div class="col-2">
                Apellidos
            </div>
            <div class="col-2">
                Teléfono  Fijo
            </div>
            <div class="col-2">
                Celular
            </div>
            <div class="col-2">
                Correo
            </div>
            <div class="col-1">
                Editar
            </div>
            <div class="col-1">
                Eliminar
            </div>
        </div>
        {{# each this.miData as |cliente|}}
        <div class="row  tabla_item">
            <div class="col-md-2 col-8">
                {{NombreCliente}}
            </div>
            <div class="col-md-2 col-8">
                {{ApellidoCliente}}
            </div>
            <div class="col-md-2 col-8">
                {{Telefono}}
            </div>
            <div class="col-md-2 col-8">
                {{Celular}}
            </div>
            <div class="col-md-2 col-8">
                {{eMail}}
            </div>
            <div class="col-md-1 col-2 editar">
                <input type="button"
                       class="btn_editar"
                       title="Editar Cliente"
                       value=""
                       onclick="tusClientesModule.editarCliente({{JSON2string cliente}})" />
            </div>
            <div class="col-md-1 col-2">
                <input type="button"
                       class="btn_eliminar"
                       title="Eliminar Cliente"
                       value=""
                       onclick="tusClientesModule.mostarConfirmarEliminarCliente({{ClienteID}})" />
            </div>
        </div>
        <div id="divConfirmarEliminarCliente-{{ClienteID}}" style="display:none" class="popover_pedido bottom">
            <div class="arrow"></div>
            <div class="row">
                <div class="col-lg-8 col-12 d-flex align-items-center">
                    <p style="margin-bottom:10px">¿Quieres eliminar a {{Nombre}}?</p>
                </div>
                <div class="col-lg-4 col-12 flex-row-reverse d-flex align-items-center">
                    <div class="boton-primaria">
                        <button class="default-background" onclick="tusClientesModule.eliminarCliente({{ClienteID}});">
                            SÍ, ELIMINAR
                        </button>
                    </div>
                    <div class="boton-secundario" style="margin-right:15px;">
                        <button onclick="tusClientesModule.ocultarConfirmarEliminarCliente({{ClienteID}});">
                            No Gracias
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <div id="divPopupEditarCliente" style="" class="Form-AgregarCliente">
        @*@Html.Partial("_Mantener", new ClienteModel())*@
        @Html.Partial("PanelMantener", new ClienteModel() { FlagValidate = 1 })
    </div>


    <div id="content_boton_agregar_ancla"></div>
    <div class="row d-md-none">
        <div id="content_boton_agregar" class="col-12 content_boton_agregar">
            <button id="btnBuscarClientes" class="boton_agregar float-md-right" onclick="tusClientesModule.editarCliente(null)"> <img src="/Content/Images/nuevo_tuclientes.svg" alt="Alternate Text" />AGREGAR CLIENTE</button>
        </div>
    </div>
</div>

<div id="modal-fondo-form" style="opacity: 0.7; display:none;" class="modal-fondo"></div>

@section css{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Responsive/TusClientes")
}

@section scripts{

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/TusClientesIndex")

    <script type="text/javascript">
        var tusClientesProvider = TusClientesProvider();
        var tusClientesModule = TusClientesModule({
            tusClientesProvider: tusClientesProvider,
            checkTimeout: checkTimeout
        });

        $(document).ready(function () {
            tusClientesModule.init();
        });
    </script>
}