@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}


<link href="@Url.Content("~/Content/Css/Site/MisCatalogosYRevistas/MisCatalogosYRevistas.css")" rel="stylesheet" />

<main class="w-100 row flex-column justify-content-center ml-0 mr-0 layout__main__content">

    <section class="row flex-row justify-content-center ml-0 mr-0 layout__view__title__wrapper">
        <div class="col-12 pl-0 pr-0 layout__view__title">
            <div class="layout__view__title__background mostrarEnDesktop"></div>
            <h1 class="col-12 pl-0 pr-0 row flex-row flex-nowrap justify-content-center justify-content-lg-start justify-content-xl-start align-items-center layout__view__title__text text-uppercase text-center-mobile">
                <span>Mis <span class="text-bold">Catálogos</span></span>
            </h1>
        </div>
    </section>

    <section class="row flex-row justify-content-center ml-0 mr-0 mx-auto layout__content">
        <div class="w-100">
            <div class="col-12 col-sm-8 col-md-8 col-lg-7 col-xl-7 pl-0 pr-0 text-left info__catalogos__revistas mostrarEnDesktop">
                Revisa y comparte los catálogos con tus clientes.
            </div>
            <div class="col-12 pl-0 pr-0 text-center mx-auto info__catalogos__revistas mostrarEnMobile">
                Revisa y comparte los nuevos <span class="text-bold">Catálogos Digitales</span> con tus clientes.
            </div>
            <button type="button" class="col-8 col-lg-4 col-xl-4 pl-0 pr-0 row flex-row ml-0 mr-0 mx-auto justify-content-center text-uppercase btn__compartir btn__compartir--slider">
                Compartir
            </button>
        </div>
        <div class="row flex-row justify-content-center ml-0 mr-0 mx-auto info__pasos__compartir__catalogo__campaniaActual__wrapper">
            <div class="col-12 col-lg-7 col-xl-7 pl-lg-0 pr-xl-0 info__pasos__compartir__catalogo__campaniaActual">
                <p class="col-12 pl-0 pr-0 text-left text-lg-center text-xl-center info__pasos__compartir__catalogo__campaniaActual__subtitulo info__pasos--parteSuperior">
                    <span class="d-block col-12 pl-0 pr-0">
                        A continuación te contamos cómo funciona :
                    </span>
                </p>
                <ul class="col-12 pl-0 pr-0 text-left lista__pasos__compartir__catalogo__campaniaActual">
                    <li class="row flex-row flex-nowrap flex-lg-wrap flex-xl-wrap justify-content-start align-items-start ml-0 mr-0 paso__compartir__catalogo__campaniaActual">
                        <span class="icono__paso__compartir__catalogo__campaniaActual">
                            <img src="@Url.Content("~/Content/Images/icono_paso_compartir_catalogo.svg")" alt="" />
                        </span>
                        <span class="icono__paso__compartir__catalogo__campaniaActual__descrip">
                            Comparte los 3 catálogos con un solo click
                        </span>
                    </li>
                    <li class="row flex-row flex-nowrap flex-lg-wrap flex-xl-wrap justify-content-start align-items-start ml-0 mr-0 paso__compartir__catalogo__campaniaActual">
                        <span class="icono__paso__compartir__catalogo__campaniaActual">
                            <img src="@Url.Content("~/Content/Images/icono_paso_compartir_catalogo.svg")" alt="" />
                        </span>
                        <span class="icono__paso__compartir__catalogo__campaniaActual__descrip">
                            Tu cliente podrá seleccionar los productos directament en el catálogo, agregarlos a su bolsa de compras y enviártelos.
                        </span>
                    </li>
                    <li class="row flex-row flex-nowrap flex-lg-wrap flex-xl-wrap justify-content-start align-items-start ml-0 mr-0 paso__compartir__catalogo__campaniaActual">
                        <span class="icono__paso__compartir__catalogo__campaniaActual">
                            <img src="@Url.Content("~/Content/Images/icono_paso_compartir_catalogo.svg")" alt="" />
                        </span>
                        <span class="icono__paso__compartir__catalogo__campaniaActual__descrip">
                            Te llegará una notificación cada vez que tengas un nuevo pedido y podrás aceptarlo o rechazarlo. Si lo aceptas, se agregará automáticamente a tu pase de pedido.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="w-100">
                <p class="col-12 col-sm-8 col-md-8 col-lg-7 col-xl-7 pl-0 pr-0 text-center mx-auto info__pasos__compartir__catalogo__campaniaActual__subtitulo info__pasos--parteInferior">
                    <span class="d-block col-12 pl-0 pr-0 text-bold mb-14">
                        ¡Olvídate de las capturas de pantalla y las libretas, nosotros llevamos los apuntes por ti!
                    </span>
                    <span class="d-block col-12 pl-0 pr-0">
                        Empieza a compartir los catálogos digitales por los medios que más uses
                    </span>
                </p>
                <button type="button" class="col-8 col-lg-7 col-xl-7 pl-0 pr-0 row flex-row ml-0 mr-0 mx-auto justify-content-center text-uppercase btn__compartir">
                    Compartir
                </button>
            </div>
        </div>
    </section>
</main>