@{
    ViewBag.Title = "ActualizarContrasenia";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>CAMBIO DE CONTRASEÑA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<div class="content_belcorp">
    <div class="contenedor_actualizarContraseniaForm">
        <div class="imagen_consultora">
            <img src="@Url.Content("~/Content/Images/Esika/user.jpg")" alt="Imagen Consultora" />
        </div>
        <div class="campos_actualizacionContrasenia">
            <div class="saludoConsultora">Hola <span>Valeria</span></div>
            <span class="cambiarContraseniaTexto">Cambia tu contraseña aquí:</span>
        </div>
    </div>
</div>
