<div class="popup_actualizarMisDatos" id="popupMisDatos" style="display: none;">
    <div class="btn_cerrar_actualizarMisDatos">
        <a href="javascript:void();" id="cerrarPopupMisDatos" title="Cerrar">
            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
            <span class="texto_btn_cerrar">CERRAR</span>
        </a>
    </div>
    <div class="contenido_popUp">
        <h1 class="titulo_actualizarMisDatos titulo_misDatos">MIS&nbsp;<b>DATOS</b></h1>
        <input type="hidden" id="hdn_CorreoMD" value="" />
        <input type="hidden" id="hdn_CodigoUsuarioMD" value="" />
        <input type="hidden" id="hdn_NombreCompletoMD" value="" />
        <input type="hidden" id="hdn_NombreArchivoContratoMD" value="" />
        <input type="hidden" id="hdn_CaracterMinimo" value="@Model.limiteMinimoTelef" />

        <form class="formulario_actualizar_datos">
            <div class="datos_consultora">
                <div class="datos_consultora_img" style="display:none;">
                    <a class="subir_foto"></a>
                    <div class="foto_perfil_home">
                        <img src="/Content/Images/Esika/user.jpg" alt="">
                    </div>
                </div>
                <div class="datos_consultora_textos">
                    <div class="datos_cod_usuario">
                        <span>Tu Código de usuario:</span>
                        <span id="codigoUsurioMD"></span>
                    </div>
                    <div class="datos_nombre_usuario">
                        <span>Tu Nombre completo:</span>
                        <span id="nombresUsuarioMD"></span>
                    </div>
                    <div class="datos_nombre_usuario">
                        <span>Tu Gerente de zona es:</span>
                        <span id="nombreGerenteZonal"></span>
                    </div>
                    <div class="enlace_cambiarContraseniachkAceptoContratoMD">
                        <a href="javascript:;" class="cambiar_contrasenia misDatosContraseniaEnlace">CAMBIAR CONTRASEÑA</a>
                    </div>
                </div>
            </div>
            <div class="grupo_input_actualizarMisDatos campos_actualizarDatos">
                <div>
                    <label>@Model.TextoSobrenombre</label>
                    @if (Model.PaisID == 4)
                    {
                        <input type="text" disabled="disabled" readonly name="txtSobrenombre" id="txtSobrenombreMD" />
                    }
                    else
                    {
                        <input type="text" name="txtSobrenombre" id="txtSobrenombreMD" />
                    }
                </div>
                <div>
                    <label>
                        @if (Model.PaisID != 4)
                        {<span class="asterisco_actualizar_datos">(*)&nbsp;</span>}@Model.TextoCorreoElectronico
                    </label>
                    @if (Model.PaisID == 4)
                    {
                        <input type="text" disabled="disabled" readonly name="txtEMailMD" id="txtEMailMD" onkeydown="return limitarMaximo(event,this.value,100,'txtEMailMD')" />
                    }
                    else
                    {
                        <input type="text" name="txtEMailMD" id="txtEMailMD" onkeydown="return limitarMaximo(event,this.value,100,'txtEMailMD')" />
                    }
                </div>
            </div>
            <div class="grupo_input_actualizarMisDatos campos_actualizarDatos">
                <div>
                    <label>
                        @if (Model.PaisID != 4)
                        {<span class="asterisco_actualizar_datos">(*)&nbsp;</span>}@Model.TextoTelefono
                    </label>
                    @if (Model.PaisID == 4)
                    {
                        <input type="text" disabled="disabled" readonly name="txtTelefonoMD" id="txtTelefonoMD" onkeydown="return limitarMaximo(event,this.value,@Model.limiteMaximoTelef,'txtTelefonoMD')" />
                    }
                    else
                    {
                        <input type="text" name="txtTelefonoMD" id="txtTelefonoMD" onkeydown="return limitarMaximo(event,this.value,@Model.limiteMaximoTelef,'txtTelefonoMD')" />
                    }

                </div>
                <div>
                    <label>
                        @if (Model.PaisID != 4)
                        {<span class="asterisco_actualizar_datos">(*)&nbsp;</span>}@Model.TextoCelular
                    </label>
                    @if (Model.PaisID == 4)
            {
                        <input type="text" disabled="disabled" readonly name="txtCelularMD" id="txtCelularMD" onkeydown="return limitarMaximo(event,this.value,@Model.limiteMaximoTelef,'txtCelularMD')" />
                    }
                    else
                    {
                        <input type="text" name="txtCelularMD" id="txtCelularMD" onkeydown="return limitarMaximo(event,this.value,@Model.limiteMaximoTelef,'txtCelularMD')" />
                    }

                </div>
            </div>
            <div class="grupo_input_actualizarMisDatos campos_actualizarDatos">
                <div>
                    <label>Otro teléfono:</label>
                    @if (Model.PaisID == 4)
            {
                        <input type="text" disabled="disabled" readonly name="txtTelefonoTrabajoMD" id="txtTelefonoTrabajoMD" onkeydown="return limitarMaximo(event,this.value,@Model.limiteMaximoTelef,'txtTelefonoTrabajoMD')" />
                    }
                    else
                    {
                        <input type="text" name="txtTelefonoTrabajoMD" id="txtTelefonoTrabajoMD" onkeydown="return limitarMaximo(event,this.value,@Model.limiteMaximoTelef,'txtTelefonoTrabajoMD')" />
                    }
                </div>
            </div>
            <div class="grupo_input_actualizarMisDatos campos_actualizarDatos">
                <div class="checkbox_condiciones">
                    <input type="checkbox" name="condiciones" id="chkAceptoContratoMD" />
                    <label for="chkAceptoContratoMD" class="texto_terminosCondiciones">
                        @if (Model.PaisID == 4)
                        {
                            <span class="asterisco_actualizar_datos">(*)&nbsp;</span><span>Declaro que he leído los <span><a href="javascript:;" id="hrefTerminosMD">términos y condiciones</a></span> sobre Protección de  Datos Personales y recepción de la factura a través de medios electrónicos, y que me encuentro de acuerdo con los mismos.</span>
                        }
                        else
                        {
                            <span class="asterisco_actualizar_datos">(*)&nbsp;</span><span>Declaro que he leído los <span><a href="javascript:;" id="hrefTerminosMD">términos y condiciones</a></span> sobre Protección de  Datos Personales y que me encuentro de acuerdo con los mismos.</span>
                        }
                    </label>
                </div>
            </div>
            <div class="grupo_input_actualizarMisDatos campos_actualizarDatos">
                @if (Model.PaisID == 4)
                {
                    <div class="datos_obligatorios">
                        Modifica tus datos comunicándote al 5948060 en Bogotá y 018000937452 a nivel nacional.
                    </div>
                    <div class="contenedor_boton_actualizar">
                        <button type="button" name="btn_actualizarMisDatos" class="btn_actualizarMisDatos" id="btnActualizarMD">
                            ACEPTAR
                        </button>
                    </div>
                }
                else
                {
                    <div class="datos_obligatorios">
                        <span class="asterisco_actualizar_datos">(*)&nbsp;</span>Datos obligatorios
                    </div>
                    <div class="contenedor_boton_actualizar">
                        <button type="button" name="btn_actualizarMisDatos" class="btn_actualizarMisDatos" id="btnActualizarMD">
                            ACTUALIZAR
                        </button>
                    </div>
                }

            </div>
            <div class="grupo_input_actualizarMisDatos campos_cambiarContrasenia">
                <div>
                    <label>Tu contraseña</label>
                    <input type="password" name="txtContraseniaAnterior" id="txtContraseniaAnterior" />
                </div>
            </div>
            <div class="grupo_input_actualizarMisDatos campos_cambiarContrasenia">
                <div>
                    <label>Nueva contraseña</label>
                    <input type="password" name="txtNuevaContrasenia01" id="txtNuevaContrasenia01" />
                </div>
                <div>
                    <label>Repite la nueva contraseña</label>
                    <input type="password" name="txtNuevaContrasenia02" id="txtNuevaContrasenia02" />
                </div>
            </div>
            <div class="grupo_input_actualizarMisDatos campos_cambiarContrasenia">
                <div class="contenedor_boton_cancelar misDatos">
                    <button type="button" name="btn_cancelar" class="btn_cancelar" id="btnCancelarMD">
                        CANCELAR
                    </button>
                </div>
                <div class="contenedor_boton_actualizar misDatos">
                    <button type="button" name="btn_actualizarMisDatos" class="btn_actualizarMisDatos" id="btnCambiarContrasenaMD">
                        GUARDAR
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>