@{
    ViewBag.Title = "ActualizarContrasenia";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style type="text/css">

    body{
        background:#FFF;
    }

    header{
        box-shadow:none;
        position:relative;
    }

    .menu_new_esika, .menu_esika_b{
        display:none;
    }

    .ubicacion_web, .boton_ayuda{
        display:none;
    }

    #contentmain{
        margin-top:15px!important;
    }

    footer{
        display:none;
    }

</style>

<div class="">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores tituloCambioContrasenia">CAMBIO DE <span>CONTRASEÑA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div class="contenedor_actualizarContraseniaForm">
        <div class="campos_actualizacionContrasenia" style="display:block;">
            <div class="saludoConsultora">¡Hola <span>Sofía!</span></div>
            <span class="cambiarContraseniaTexto">Cambia tu contraseña aquí:</span>
            <form class="formulario_actualizarContrasenia" >
                <input type="password" name="nuevaContrasenia" class="campoContrasenia borde_inferior_campo" placeholder="Nueva contraseña" />
                <input type="password" name="confirmarContrasenia" class="campoContrasenia borde_inferior_campo"  placeholder="Confirmar contraseña" />
                <input type="submit" name="btnCambiarContrasenia" class="btnCambiarContrasenia mt-34" value="CAMBIAR CONTRASEÑA" />
            </form>
        </div>
        <div class="contenedor_vista_felicidades" style="display:none;">
            <div class="icono_check_felicitaciones"></div>
            <div class="mensaje_felicitaciones">
                <span>¡FELICIDADES!</span>
                <span>Tu contraseña fue actualizada</span>
                <a href="https://www.somosbelcorp.com" title="Ir a Somos Belcorp" target="_self">
                    IR A SOMOS BELCORP
                </a>
            </div>
        </div>
    </div>
</div>
