@*@model Portal.Consultoras.Web.Models.ActualizarDatosModel*@
@{
    ViewBag.Title = "Bienvenidos";
}

<div id="divSac">
    <div class="wrap_cab">

        <div class="filtros2">
            <div class="elements">
                <div style="padding: 3px 0px 0px 0px;">
                    <img src='@Url.Content("~/Content/Images/sac.png")' />
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="container clearfix">
        </div>
    </div>
</div>