@using Portal.Consultoras.Common

<div class="content_mas_vendidos fondo_gris" style="display: none;">
    <div class="content_belcorp">
        <div style="text-align:center;">            
            <div class="titulo_mas_vendido">
                <b>LOS MÁS VENDIDOS</b>
            </div>
            <div class="linea_titulo_absoluto" style="margin-top:-25px;"></div>
            <hr class="clear" />
            <div class="titulo_estrellas" style="margin-bottom:28px;"></div>
        </div>
        <div id="divCarrouselMasVendidos" class="content_carrusel_mas_vendidos" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.MasVendidosDesktopHomeCarrusel">
        </div>
    </div>
</div>

@Html.Partial("template-mas-vendidos")