@model Portal.Consultoras.Web.Models.ParametrizarCUVModel
@{
    ViewBag.Title = "Reporte Sueños de Navidad";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        fnGrilla();

        $('#ddlPais').change(function () {
            $("#hdTipoConsulta").attr("value", "0");
            $("#list").jqGrid("clearGridData", true).trigger("reloadGrid");
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.ajax({
                    type: 'GET',
                    url: baseUrl + 'BaseAdm/ObtenerCampaniasZonasPorPais',
                    data: "PaisID=" + (Id == "" ? 0 : Id),
                    cache: false,
                    dataType: 'Json',
                    success: function (data) {
                        if (checkTimeout(data)) {
                            LimpiarDependencias(Id);
                            var ddlCampania = $('#ddlCampania');

                            ddlCampania.empty();
                            if (data.lista.length > 0) {
                                ddlCampania.append($('<option/>', {
                                    value: "",
                                    text: "-- Seleccionar --"
                                }));
                                if (Id != "") {
                                    for (var item in data.lista) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lista[item].CampaniaID,
                                            text: data.lista[item].Codigo
                                        }));
                                    }
                                }
                            }
                            closeWaitingDialog();
                        }
                    },
                    error: function (x, xh, xhr) {
                        if (checkTimeout(x)) {
                            closeWaitingDialog();
                        }
                    }
                });
            } else LimpiarDependencias(Id);
        });

        $("#btnBuscar").click(function () {

            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }

            if ($("#ddlCampania").val() == "") {
                alert("Debe seleccionar la Campaña, verifique.");
                return false;
            }

            $("#hdTipoConsulta").attr("value", "1");

            fnGrilla();
        });

        $("#btnExcel").click(function () {
            ExportExcel();
        });

    });

    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');
        ddlCampania.empty();

        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    }
    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        if (rowObject[7].length > 100) {
            if (rowObject[6] != rowObject[7]) {
                var Edit = rowObject[6] + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + rowObject[7] + "','" + rowObject[6] + "');\" > ...Ver mas" + "</a>";
            }
            else {
                var Edit = rowObject[7];
            }
        } else {
            var Edit = rowObject[7];
        }
        return Edit;
    };
    function VerMas(object, CodigoCompleto, CodigoIncompleto) {
        var td = object.parentElement;
        td.innerHTML = CodigoCompleto + "&nbsp;<a href='javascript:;' onclick=\"VerMenos(this,'" + CodigoCompleto + "','" + CodigoIncompleto + "');\" > ...Ver menos" + "</a>";
        return false;
    }
    function VerMenos(object, CodigoCompleto, CodigoIncompleto) {
        var td = object.parentElement;
        td.innerHTML = CodigoIncompleto + "&nbsp;<a href='javascript:;' onclick=\"VerMas(this,'" + CodigoCompleto + "','" + CodigoIncompleto + "');\" > ...Ver mas" + "</a>";
        return false;
    }
    function fnGrilla() {
        $("#list").jqGrid("GridUnload");
        jQuery("#list").jqGrid({
            url: baseUrl + "Bienvenida/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                CampaniaID: function () { return jQuery.trim($("#ddlCampania").val()); },
                PaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                Consulta: function () { return jQuery.trim($("#hdTipoConsulta").val()); },
                CodigoConsultora: function () { return jQuery.trim($("#txtCodigoConsultora").val()); },
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Campaña', 'Región', 'Zona', 'Sección', 'Código de Consultora', 'Nombres y Apellidos', 'Descripción del Sueño', '', 'Canal'],
            colModel: [
                { name: 'CampaniaID', index: 'CampaniaID', width: 20, editable: true, resizable: false, hidden: false, align: "center" },
                { name: 'Region', index: 'Region', width: 20, editable: true, resizable: false, hidden: false, align: "center" },
                { name: 'Zona', index: 'Zona', width: 20, editable: true, hidden: false, align: "center" },
                { name: 'Seccion', index: 'Seccion', width: 20, editable: true, resizable: false, align: "center" },
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 40, editable: true, resizable: false, align: "center" },
                { name: 'NombreCompleto', index: 'NombreCompleto', width: 110, editable: true, resizable: false },
                { name: 'Descripcion', index: 'Descripcion', width: 120, editable: true, resizable: false, formatter: ShowActions },
                { name: 'DescripcionCompleta', index: 'DescripcionCompleta', width: 120, editable: true, resizable: false, hidden: true },
                { name: 'Canal', index: 'Canal', width: 30, editable: true, resizable: false }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Mensaje',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function DownloadAttachExcel(vCampaniaID, vCodigoConsultora) {
        var content = baseUrl + "Bienvenida/ExportarExcelSueniosNavidad?" +
            "campaniaID=" + vCampaniaID +
            "&codigoConsultora=" + vCodigoConsultora;

        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        iframe_.setAttribute("src", content);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }
    function ExportExcel() {
        var m = true;
        if ($("#list").getGridParam("reccount") == 0) {
            alert('La grilla se encuentra vacía.');
            return false;
        }

        var vCampaniaID = $("#ddlCampania").val();
        var vCodigoConsultora = $("#txtCodigoConsultora").val();
        var vmessage = "";

        if (vCampaniaID == "")
            vmessage += "Debe seleccionar la Campaña \n";

        if (vmessage != "") {
            alert(vmessage);
            return false;
        }
        else {
            waitingDialog({});

            setTimeout(function () {
                DownloadAttachExcel(vCampaniaID, vCodigoConsultora)
            }, 0);
        }
    }

</script>
<input type="hidden" id="hdTipoConsulta" value="0" />
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Reporte Sueños de Navidad</span></h1>
            </div>
            <div class="div-3">
                <div class="titA">País:</div>
                <div class="selectA borde_redondeado" style="width:150px">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais", style="width:150px" })
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado"  style="width:150px">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania", style="width:150px" })
                </div>                
                <div class="titF" style="width:130px">Código Consultora:</div>
                <div class="selectA borde_redondeado"  style="width:150px">
                    <input type="text" id="txtCodigoConsultora"  style="width:150px" />
                </div>
                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_horizontal">
                    <input type="button" name="btnExcel" id="btnExcel" value="Excel" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>
