@model Portal.Consultoras.Web.Models.ParametrizarCUVModel
@{
    ViewBag.Title = "Reporte validaciòn de datos";
}
<script type="text/javascript">
     jQuery(function () {

         $("#txtFechaInicio, #txtFechaFin").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        }).mask('99/99/9999');

    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        fnGrilla();

        $("#btnBuscar").click(function () {

            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }


            if ($("#txtFechaInicio").val() == "") {
                alert("Debe ingresar una fecha de inicio");
                return false;
            }

            if ($("#txtFechaFin").val() == "") {
                alert("Debe ingresar una fecha fin");
                return false;
            }

            var fechaInicial = parseInt(Date.parse($("#txtFechaInicio").val()));
            var fechaFinal = parseInt(Date.parse($("#txtFechaFin").val()));

            if (fechaInicial > fechaFinal) {
                alert("La fecha de inicio no puede ser mayor a la fecha fin");
                return false;
            }

            $("#hdTipoConsulta").attr("value", "1");
            fnGrilla();
        });

        $("#btnExcel").click(function () {
            ExportExcel();
        });

    });
     
 
    function fnGrilla() {
        
        $("#list").jqGrid("GridUnload");
        jQuery("#list").jqGrid({
            url: baseUrl + "Bienvenida/ConsultarValidacionDatos",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                FechaInicio: function () { return jQuery.trim($("#txtFechaInicio").val()); },
                FechaFin: function () { return jQuery.trim($("#txtFechaFin").val()); },
                TipoEnvio: function () { return jQuery.trim($("#ddlTipoEnvio").val()); },
                CodigoConsultora: function () { return jQuery.trim($("#txtCodigoConsultora").val()); },
                Consulta: function () { return jQuery.trim($("#hdTipoConsulta").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Tipo de envío', 'Dato antiguo', 'Dato nuevo', 'Estado', 'Código de consultora', 'Fecha de creación', 'Fecha de modificación','Ip dispositivo','Dispositivo'],
            colModel: [
                { name: 'TipoEnvio', index: 'TipoEnvio', width: 40, editable: true, resizable: false, hidden: false, align: "center" },
                { name: 'DatoAntiguo', index: 'DatoAntiguo', width: 40, editable: true, resizable: false, hidden: false, align: "center" },
                { name: 'DatoNuevo', index: 'DatoNuevo', width: 40, editable: true, hidden: false, align: "center" },
                { name: 'Estado', index: 'Estado', width: 40, editable: true, resizable: false, align: "center" },
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 60, editable: true, resizable: false, align: "center" },
                { name: 'FechaCreacion', index: 'FechaCreacion', width: 60, editable: true, resizable: false},
                { name: 'FechaModificacion', index: 'FechaModificacion', width: 60, editable: true, resizable: false },
                { name: 'IpDispositivo', index: 'IpDispositivo', width: 60, editable: true, resizable: false },
                { name: 'DescripcionDispositivo', index: 'DescripcionDispositivo', width: 60, editable: true, resizable: false }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'CodigoUsuario',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }
    function DownloadAttachExcel(data) {
        var content = baseUrl + "Bienvenida/ExportarExcelValidacionDatos?" +
            "PaisID=" + data.PaisID +
            "&FechaInicio=" + data.FechaInicio +
            "&FechaFin=" + data.FechaFin +
            "&TipoEnvio=" + data.TipoEnvio +
            "&CodigoConsultora=" + data.CodigoConsultora ;

        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        iframe_.setAttribute("src", content);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }
    function ExportExcel() {
        var m = true;
        if ($("#list").getGridParam("reccount") == 0) {
            alert('La grilla se encuentra vacía.');
            return false;
        }

        if ($("#ddlPais").val() == "") {
            alert("Debe seleccionar el País, verifique.");
            return false;
        }

        if ($("#txtFechaInicio").val() == "") {
            alert("Debe ingresar una fecha de inicio");
            return false;
        }

        if ($("#txtFechaFin").val() == "") {
            alert("Debe ingresar una fecha fin");
            return false;
        }

        var fechaInicial = parseInt(Date.parse($("#txtFechaInicio").val()));
        var fechaFinal = parseInt(Date.parse($("#txtFechaFin").val()));

        if (fechaInicial > fechaFinal) {
            alert("La fecha de inicio no puede ser mayor a la fecha fin");
            return false;
        }

        data={
            PaisID:jQuery.trim($("#ddlPais").val()),
            FechaInicio:jQuery.trim($("#txtFechaInicio").val()),
            FechaFin:jQuery.trim($("#txtFechaFin").val()),
            TipoEnvio:jQuery.trim($("#ddlTipoEnvio").val()),
            CodigoConsultora:jQuery.trim($("#txtCodigoConsultora").val()),
            Consulta: jQuery.trim($("#hdTipoConsulta").val())
        }


        waitingDialog({});

        setTimeout(function () {
            DownloadAttachExcel(data)
        }, 0);
    }

</script>
<input type="hidden" id="hdTipoConsulta" value="0" />
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Reporte de Actualización de Datos</span></h1>
            </div>
            <div class="div-3">
                <div class="titA">País:</div>
                <div class="selectA borde_redondeado" style="width:150px">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais", style = "width:150px" })
                </div>

                <div class="titJ" style="width:120px;">Fecha Inicio:</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFechaInicio">
                </div>

                <div class="titJ" style="width:120px;">Fecha Fin:</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFechaFin">
                </div>
            </div>
            <div class="div-3">
                <div class="titJ" style="width:50px;">Envío:</div>
                <div class="selectA borde_redondeado" style="width:150px">
                    <select id="ddlTipoEnvio" name="TipoEnvio" style="width:150px">
                        <option value="">Seleccione</option>
                        <option value="Email">Email</option>
                        <option value="SMS">Celular</option>
                        <option value="FIJO">Fijo</option>
                    </select>
                </div>


                <div class="titF" style="width:130px">Código Consultora:</div>
                <div class="selectA borde_redondeado" style="width:150px">
                    <input type="text" id="txtCodigoConsultora" style="width:150px" />
                </div>
                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_horizontal">
                    <input type="button" name="btnExcel" id="btnExcel" value="Excel" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>
