<script id="estrategia-template2" type="text/x-handlebars-template">
    <!-- INCION SECCION DE LANZAMIENTOS Y OFERTAS -->
    
    @*<div id="bc_content_oferta">
        <div id="bc_promo">
            <div class="bc_promo_contenido">
                <img src="/Content/Images/modelo.png" alt="" class="modelo">
                <p class="ven-conoce">YULIANA, CONOCE KADIA, LA VERSIÓN FEMENINA DE TU FAVORITO KALOS</p>
                <a href="" class="btn-descubre">DESCUBRIR MÁS DE KADIA</a>
                <a href="" class="ver-mas">VER MÁS LANZAMIENTOS <img src="/Content/Images/Esika/arrow_right.png" alt=""></a>
            </div>
        </div>
        <div id="bc_productos">
            <div class="bc_productos_contenido">
                <div class="grid-item">
                    <div data-item="6685" data-item-cuv="99985" data-tipoestrategiaimagenmostrar="2" class="revistadigital-landing">
                        <input type="hidden" class="PosicionEstrategia" value="1">
                        <div data-item-tag="body" class="content_item_carrusel bc_content_item_carrusel" data-estrategia="{&quot;MarcaID&quot;:2,&quot;ConsultoraID&quot;:null,&quot;EstrategiaID&quot;:6685,&quot;PaisID&quot;:0,&quot;CampaniaID&quot;:201711,&quot;CampaniaIDFin&quot;:0,&quot;NumeroPedido&quot;:0,&quot;TipoEstrategiaID&quot;:3013,&quot;Orden&quot;:0,&quot;ID&quot;:6685,&quot;Precio&quot;:0,&quot;Precio2&quot;:35.4,&quot;PrecioUnitario&quot;:0,&quot;PrecioString&quot;:&quot;35.40&quot;,&quot;PrecioTachado&quot;:&quot;0.00&quot;,&quot;CUV1&quot;:null,&quot;CUV2&quot;:&quot;99985&quot;,&quot;DescripcionCUV2&quot;:&quot;Pack 1|Cuarteto Sombras 5g|Máscara Mega Full Size 8g&quot;,&quot;DescripcionResumen&quot;:&quot;&quot;,&quot;DescripcionDetalle&quot;:&quot;Cuarteto Sombras 5g&quot;,&quot;DescripcionCortada&quot;:&quot;Pack 1&quot;,&quot;Activo&quot;:0,&quot;LimiteVenta&quot;:1,&quot;CodigoProducto&quot;:&quot;200084345&quot;,&quot;ImagenURL&quot;:&quot;https://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_20161111984_01_ckdbnekgka.png&quot;,&quot;FotoProducto01&quot;:&quot;https://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200084345_2016115649_01_svhvpbcxhv.png&quot;,&quot;FotoProducto02&quot;:null,&quot;FotoProducto03&quot;:null,&quot;EtiquetaID&quot;:3003,&quot;EtiquetaID2&quot;:3,&quot;EtiquetaDescripcion&quot;:&quot;Ganancia&quot;,&quot;EtiquetaDescripcion2&quot;:&quot;Precio Para Ti&quot;,&quot;TextoLibre&quot;:&quot;Recuerda que solo puedes adquirir un Pack “Oferta Nuevas Esika” cada campaña.&quot;,&quot;Cantidad&quot;:0,&quot;Zona&quot;:null,&quot;UsuarioCreacion&quot;:null,&quot;UsuarioModificacion&quot;:null,&quot;FlagDescripcion&quot;:0,&quot;FlagCEP&quot;:0,&quot;FlagCEP2&quot;:0,&quot;FlagTextoLibre&quot;:0,&quot;FlagCantidad&quot;:0,&quot;ColorFondo&quot;:&quot;#FFF&quot;,&quot;FlagEstrella&quot;:0,&quot;Simbolo&quot;:&quot;S/.&quot;,&quot;TallaColor&quot;:null,&quot;TipoTallaColor&quot;:&quot;&quot;,&quot;IndicadorMontoMinimo&quot;:1,&quot;TipoOferta&quot;:0,&quot;Mensaje&quot;:null,&quot;DescripcionMarca&quot;:&quot;Ésika&quot;,&quot;DescripcionCategoria&quot;:&quot;NO DISPONIBLE&quot;,&quot;DescripcionEstrategia&quot;:&quot;Oferta Nuevas Esika&quot;,&quot;Descripcion&quot;:null,&quot;FlagNueva&quot;:1,&quot;TipoEstrategiaImagenMostrar&quot;:2,&quot;TieneStockProl&quot;:true,&quot;FlagMostrarImg&quot;:1,&quot;IsAgregado&quot;:false,&quot;TieneVariedad&quot;:0,&quot;PuedeCambiarCantidad&quot;:0,&quot;PuedeAgregar&quot;:1,&quot;IsMobile&quot;:0,&quot;UrlCompartir&quot;:&quot;http://localhost:35848//Pdto.aspx?id=PE_[valor]&quot;,&quot;CodigoEstrategia&quot;:&quot;&quot;,&quot;EstrategiaProductos&quot;:null,&quot;Hermanos&quot;:null,&quot;ListaDescripcionDetalle&quot;:null,&quot;Origen&quot;:0,&quot;OrigenUrl&quot;:null,&quot;Codigo&quot;:null,&quot;PuedeVerDetalle&quot;:false,&quot;PuedeVerDetalleMob&quot;:false,&quot;ClaseBloqueada&quot;:&quot;&quot;,&quot;UrlDetalle&quot;:&quot;/6685&quot;,&quot;EstrategiaDetalle&quot;:{&quot;ImgFondoDesktop&quot;:null,&quot;ImgPrevDesktop&quot;:null,&quot;ImgFichaDesktop&quot;:null,&quot;UrlVideoDesktop&quot;:null,&quot;ImgFichaFondoDesktop&quot;:null,&quot;ImgFondoMobile&quot;:null,&quot;ImgFichaMobile&quot;:null,&quot;UrlVideoMobile&quot;:null,&quot;ImgFichaFondoMobile&quot;:null},&quot;TipoEstrategia&quot;:{&quot;TipoEstrategiaID&quot;:3013,&quot;DescripcionEstrategia&quot;:&quot;Oferta Nuevas Esika&quot;,&quot;ImagenEstrategia&quot;:null,&quot;Orden&quot;:0,&quot;FlagActivo&quot;:false,&quot;UsuarioRegistro&quot;:null,&quot;FechaRegistro&quot;:&quot;/Date(-62135578800000)/&quot;,&quot;UsuarioModificacion&quot;:null,&quot;FechaModificacion&quot;:&quot;/Date(-62135578800000)/&quot;,&quot;flagNueva&quot;:1,&quot;flagRecoProduc&quot;:0,&quot;flagRecoPerfil&quot;:0,&quot;CodigoPrograma&quot;:null,&quot;FlagMostrarImg&quot;:1,&quot;Codigo&quot;:null},&quot;DescripcionCompleta&quot;:&quot;Pack 1&quot;,&quot;DescripcionCUVSplit&quot;:&quot;Pack 1&quot;,&quot;ArrayContenidoSet&quot;:[&quot;Cuarteto Sombras 5g&quot;,&quot;Máscara Mega Full Size 8g&quot;],&quot;Posicion&quot;:1,&quot;MostrarTextoLibre&quot;:true}" style="cursor:pointer;">
                            <div data-item-tag="contenido" onclick="javascript:CargarEstrategiasEspeciales('', event);">
                                <div class="producto_img_home" data-item-tag="foto">
                                    <img src="https://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200084345_2016115649_01_svhvpbcxhv.png" class="imagen_producto">
                                    <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                                </div>
                                <div class="etiqueta_producto" data-item-tag="etiqueta">
                                    <img src="https://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_20161111984_01_ckdbnekgka.png" alt="Etiqueta Producto">
                                </div>
                                <div class="producto_nombre_descripcion" data-item-tag="descripcion">
                                    <h6>Ésika</h6>
                                    <p class="nombre_producto">
                                        <b>Pack 1</b>
                                    </p>
                                </div>
                                <div class="producto_nombre_descripcion" data-item-tag="precio">
                                    <div class="producto_precio">
                                        <span class="producto_precio_oferta"><b>S/. 35.40</b></span>
                                    </div>
                                </div>
                            </div>
                            <div class="producto_nombre_descripcion" data-item-tag="agregar">
                                <div class="liquidacion_rango_home">
                                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input="cantidad" style="width: 62px!important;border-right:1px solid #CCCCCC !important;opacity:0.5;" disabled="">
                                </div>
                                <a href="javascript:;" class="boton_Agregalo_home js-no-popup " data-bloqueada="" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '6685' , TipoEstrategiaID: '3013' , Posicion: '1' , FlagNueva: '1' }, this, true, 1); ">
                                    AGRÉGALO
                                </a>
                                <div class="clear"></div>
                                <div style="padding-top:9px; height: 15px;">
                                    <div class="agregado product-add" style="text-align:right;display:none;">
                                        AGREGADO
                                        <div class="icono"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>*@

    <div id="bc_content_oferta">
        <div id="bc_promo">
            {{#each this.ListaLan as |item|}}
            <div class="bc_promo_contenido" data-item="{{EstrategiaID}}" data-item-tag="body"
                 data-item-cuv="{{CUV2}}" 
                 data-estrategia="{{JSON2string item}}" 
                 data-tipoestrategiaimagenmostrar="{{#if_eq FlagMostrarImg '1'}}{{TipoEstrategiaImagenMostrar}}{{/if_eq}}">
                <div data-item-tag="contenido">
                    <div data-item-tag="foto" class="producto_img_home" style="cursor:pointer; min-height:320px; margin: 0 !important; height:initial !important" onclick="javascript:CargarEstrategiasEspeciales('', event);">
                        {{#iff EstrategiaDetalle.ImgHomeDesktop '!=' ''}}
                        <img src="{{EstrategiaDetalle.ImgHomeDesktop}}" alt="" class="modelo">
                        {{/iff}}
                        <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="ven-conoce">@ViewBag.NombreConsultora, CONOCE {{DescripcionResumen}}</p>
                    <a href="javascript: RDRedireccionarDetalle({{CUV2}}, {{CampaniaID}})" class="btn-descubre">DESCUBRIR MÁS</a>
                    <a href="@Url.Action("Index", "RevistaDigital")" class="ver-mas rd_ver_mas">VER MÁS LANZAMIENTOS 
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        <div id="bc_productos">
            <div class="bc_productos_contenido">
            <!--slider de 3 o 4 productos son sus flechas-->
            <div class="clearfix"></div>
            <div style="position: relative;">
                <a href="@Url.Action("Index", "RevistaDigital")" class="ver-mas-ofertas rd_ver_mas">VER MÁS OFERTAS </a>
            </div>
                
            </div>
        </div>
    </div>
    <!-- FIN SECCION DE LANZAMIENTOS Y OFERTAS -->
</script>