@using Portal.Consultoras.Common

<script id="mas-vendidos-template" type="text/x-handlebars-template">
    {{#each this.Lista as |item|}}
    <div data-item="{{EstrategiaID}}" data-tipoestrategiaimagenmostrar="{{#if_eq FlagMostrarImg '1'}}{{TipoEstrategiaImagenMostrar}}{{/if_eq}}"
         {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[5,3,2]' }} data-estrategia="{{JSON2string item}}" {{/iff}}>
        <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
        <div class="content_item_home">
            <div {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[5,3,2]' }} onclick="javascript:masVendidosModule.estrategiaVerDetalle({{EstrategiaID}});" {{/iff}}>
                <div {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[5,3,2]' }} style="cursor:pointer;" {{/iff}}>
                    <div class="producto_img_mobile">
                        <img src="{{ImgUrl FotoProducto01}}" />
                    </div>
                </div>
                <div class="producto_nombre_descripcion">
                    <div {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[5,3,2]' }} style="cursor:pointer;" {{/iff}}>
                        {{#iff DescripcionMarca '!=' ''}}
                        <h6>{{DescripcionMarca}}</h6>
                        {{/iff}}

                        {{#iff DescripcionCortada '!=' ''}}
                        <p class="nombre_producto" style="cursor:pointer;">
                            <b class="text_descrition_prd">{{DescripcionCortada}}</b>
                        </p>
                        {{/iff}}

                        <div class="producto_precio">
                            <div style="height:15px">
                                <div id="precio-tachado-{{EstrategiaID}}"><s class="price_offer">{{SimboloMoneda}} {{PrecioTachado}}</s></div>
                            </div>                                
                                <span class="producto_precio_oferta"><b>{{SimboloMoneda}} {{PrecioString}}</b></span>
                            </div>
                        <div class="content_puntuacion">
                            <div class="rateyo-readonly-widg" id="star-{{EstrategiaID}}"></div>
                            <div class="cantidad_puntuacion" id="recommedation-{{EstrategiaID}}">(326)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="producto_nombre_descripcion">
                {{#iff PuedeAgregar '!=' '0'}}
                <div class="liquidacion_rango_home">
                    {{#iff PuedeCambiarCantidad '==' '0'}}
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" data-input='cantidad' class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" disabled="disabled" style="border: 1px solid #b0b0b0;width:100%!important" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                    {{else}}
                    <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" data-input='cantidad' class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                    <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    {{/iff}}
                </div>
                <div class="clear"></div>
                <a class="boton_Agregalo_home" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '{{EstrategiaID}}' , TipoEstrategiaID: '{{TipoEstrategiaID}}' , Posicion: {{Posicion}} , FlagNueva: '{{FlagNueva}}' }, this); ">
                    AGR&Eacute;GALO
                </a>
                {{/iff}}
                <div class="clear"></div>
                <div style="padding-top:4px; height: 22px;">
                    <div class="agregado product-add" style="text-align:right;display:{{#if IsAgregado }}block;{{else}}none;{{/if}}">
                        AGREGADO
                        <div class="icono"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>