<script id="producto-landing-template" type="text/x-handlebars-template">

    {{#each this.lista as |item|}}

    {{#iff EsBanner}}
    <!--Brayan aqui el Banner-->
    <div data-tipoestrategiaimagenmostrar="3" class="revistadigital-landing slick-slide slick-current slick-active" tabindex="-1" role="option" style="" data-slick-index="0" aria-hidden="false">
        <div class="content_item_carrusel sdsd content_item_carrusel_clubganamas" style="cursor:pointer; ">
            <img src="/Content/Images/etiqueta-club-ganamas-blanco-independiente.svg" alt="content" class="clubganamas_logo" />
            <p>¿QUIERES MUCHO MÁS OFERTAS?</p>
            <a>SUSCRÍBETE</a>
        </div>
    </div>
    {{else}}
    <div data-item="{{EstrategiaID}}" data-item-cuv="{{CUV2}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}" class="{{ClaseEstrategia}}">
        <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
        <div data-item-tag="body" class="content_item_carrusel asdf" {{#iff TieneVerDetalle }} style="cursor:pointer;" {{/iff}}>
            <div style="display:none;"><div data-estrategia="{{JSON2string item}}"></div></div>
            <div data-item-tag="contenido" {{#iff TieneVerDetalle }} onclick="javascript: VerDetalleEstrategia(event);" {{/iff}}>
                <div class="producto_img_home" data-item-tag="foto">
                    <img class="imagen_producto" style="max-width: 100% !important;" data-src="{{FotoProducto01}}" data-img-lazy="1" data-lazy-seccion-revista-digital="" />
                    {{#iff TieneVerDetalle}}
                    <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    {{/iff}}
                </div>
                {{#iff EsOfertaIndependiente '==' '1'}}
                {{#iff MostrarImgOfertaIndependiente '==' '1'}}
                <div class="etiqueta_producto" data-item-tag="etiqueta">
                    <img src="{{ImagenOfertaIndependiente}}" alt="Etiqueta Producto" />
                </div>
                {{/iff}}
                {{else}}
                {{#iff ImagenURL '!=' ''}}
                <div class="etiqueta_producto" data-item-tag="etiqueta">
                    <img alt="Etiqueta Producto" data-src="{{ImagenURL}}" data-img-lazy="1" data-lazy-seccion-revista-digital="" />
                </div>
                {{/iff}}
                {{/iff}}
                <div class="producto_nombre_descripcion" data-item-tag="descripcion">
                    {{#iff DescripcionMarca '!=' ''}}
                    <h6>{{DescripcionMarca}}</h6>
                    {{/iff}}
                    {{#iff DescripcionResumen '!=' ''}}
                    <p class="nombre_producto"><b>{{DescripcionResumen}}</b></p>
                    {{/iff}}
                    {{#iff DescripcionCortada '!=' ''}}
                    <p class="nombre_producto"><b>{{DescripcionCortada}}</b></p>
                    {{/iff}}
                </div>
                <div class="producto_nombre_descripcion" data-item-tag="precio">
                    <div>
                        {{#iff FlagNueva '==' '1'}}
                        <span class="producto_precio_oferta"><b>{{Simbolo}} {{PrecioVenta}}</b></span>
                        {{else}}
                        {{#iff Precio '>' 0}}
                        <span class="producto_precio_normal">{{Simbolo}} {{PrecioTachado}}</span>
                        {{/iff}}
                        <span class="producto_precio_oferta"><b>{{Simbolo}} {{PrecioVenta}}</b></span>
                        {{/iff}}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="producto_nombre_descripcion" data-item-tag="agregar">
                <div>
                    {{#iff TipoAccionAgregar '==' '1'}}
                    <div class="texto_elige_tono"></div>
                    <div class="clear"></div>
                    <div class="liquidacion_rango_home">
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input='cantidad' style="width: 62px!important;border-right:1px solid #CCCCCC !important;opacity:0.5;" disabled />
                    </div>
                    <a href="javascript:;" class="boton_Agregalo_home js-no-popup {{ClaseBloqueada}}" data-bloqueada="{{ClaseBloqueada}}"
                       onclick="javascript:EstrategiaAgregar(event, true, 1); ">
                        AGR&Eacute;GALO
                    </a>
                    {{/iff}}
                    {{#iff TipoAccionAgregar '==' '2'}}
                    <div class="texto_elige_tono"></div>
                    <div class="clear"></div>
                    <div class="liquidacion_rango_home js-no-popup">
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup {{ClaseBloqueada}}" data-input='cantidad' {{#iff ClaseBloqueada '!=' ''}} disbled="disable" {{/iff}} />
                        <div class="liquidacion_rango_right_pedido js-no-popup">
                            <a href="javascript:;" class="mas js-no-popup" data-bloqueada="{{ClaseBloqueada}}"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt="" /></a>
                            <a href="javascript:;" class="menos js-no-popup" data-bloqueada="{{ClaseBloqueada}}"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt="" /></a>
                        </div>
                    </div>
                    <a href="javascript:;" class="boton_Agregalo_home js-no-popup {{ClaseBloqueada}}" data-bloqueada="{{ClaseBloqueada}}"
                       onclick="javascript:EstrategiaAgregar(event); ">
                        AGR&Eacute;GALO
                    </a>
                    {{/iff}}
                    {{#iff TipoAccionAgregar '==' '3'}}
                    <div onclick="javascript: VerDetalleEstrategia(event);">
                        <div class="texto_elige_tono">¡AHORA ELIGE TU TONO!</div>
                        <div class="clear"></div>
                        <a href="javascript:;" class="btn_elige_tono js-no-popup">
                            <div>ELIGE TU OPCIÓN</div>
                        </a>
                    </div>
                    {{/iff}}
                </div>
                <div class="clear"></div>
                <div style="margin: 9px 0;height: 15px;">
                    <div class="agregado product-add" style="text-align:right;display:{{#if IsAgregado }}block;{{else}}none;{{/if}}">
                        AGREGADO
                        <div class="icono"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/iff}}
    {{/each}}


</script>