<script id="mas-vendidos-template" type="text/x-handlebars-template">
{{#each this.Lista as |item|}}
    <div data-item="{{EstrategiaID}}" data-tipoestrategiaimagenmostrar="{{#if_eq FlagMostrarImg '1'}}{{TipoEstrategiaImagenMostrar}}{{/if_eq}}"
         class="{{#iff (Trim ../CodigoEstrategia) '==' '101'}}{{../ClassEstrategia}}{{/iff}}">
        <div class="content_item_carrusel" {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[5,3,2]' }} data-estrategia="{{JSON2string item}}" style="cursor:pointer;" {{/iff}}>
            <div onclick="javascript:masVendidosModule.estrategiaVerDetalle({{EstrategiaID}});">
                <div class="producto_img_home">
                    <img src="{{ImgUrl FotoProducto01}}" class="imagen_producto">
                    {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[5,3,2]' }}
                    <a href="javascript:;" class="ver_detalle_carrusel" tabindex="0">VER DETALLE</a>
                    {{/iff}}
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>{{DescripcionMarca}}</h6>
                    {{#iff DescripcionResumen '!=' ''}}
                    <p class="nombre_producto">
                        <b>{{DescripcionResumen}}</b>
                    </p>
                    {{/iff}}
                    {{#iff DescripcionCortada '!=' ''}}
                    <p class="nombre_producto">
                        <b>{{DescripcionCortada}}</b>
                    </p>
                    {{/iff}}

                    <div class="producto_precio">
                        <div style="height:15px">
                            <div id="precio-tachado-{{EstrategiaID}}"><s class="price_offer">{{SimboloMoneda}} {{PrecioTachado}}</s></div>
                        </div>                        
                        <span class="producto_precio_oferta"><b>{{SimboloMoneda}} {{PrecioString}}</b></span>
                    </div>
                </div>
                <div class="content_puntuacion">
                    <div class="rateyo-readonly-widg" id="star-{{EstrategiaID}}"></div>
                    <div class="cantidad_puntuacion" id="recommedation-{{EstrategiaID}}">(326)</div>
                </div>
            </div>
            <div class="producto_nombre_descripcion">
                {{#iff PuedeCambiarCantidad '==' '0'}}
                <div class="liquidacion_rango_home">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input='cantidad' style="width: 62px!important;border-right:1px solid #CCCCCC !important;opacity:0.5;" disabled />
                </div>
                <a href="javascript:;" class="boton_Agregalo_home js-no-popup" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '{{EstrategiaID}}' , TipoEstrategiaID: '{{TipoEstrategiaID}}' , Posicion: '{{Posicion}}' , FlagNueva: '{{FlagNueva}}' }, this, true, 1); ">
                    AGR&Eacute;GALO
                </a>
                {{else}}
                <div class="liquidacion_rango_home js-no-popup">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup" data-input="cantidad" tabindex="0">
                    <div class="liquidacion_rango_right_pedido js-no-popup">
                        <a href="javascript:;" class="mas js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt=""></a>
                        <a href="javascript:;" class="menos js-no-popup" tabindex="0"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt=""></a>
                    </div>
                </div>
                <a href="javascript:;" class="boton_Agregalo_home js-no-popup" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '{{EstrategiaID}}' , TipoEstrategiaID: '{{TipoEstrategiaID}}' , Posicion: {{Posicion}} , FlagNueva: '{{FlagNueva}}' }, this); ">
                    AGR&Eacute;GALO
                </a>
                {{/iff}}

                <div class="clear"></div>
                <div style="padding-top:9px; height: 27px;">
                    <div class="agregado product-add" style="text-align:right;display:{{#if IsAgregado }}block;{{else}}none;{{/if}}">
                        AGREGADO
                        <div class="icono"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
{{/each}}
</script>