<script id="estrategia-template2" type="text/x-handlebars-template">
    <!-- INCION SECCION DE LANZAMIENTOS Y OFERTAS -->
    
    <div id="bc_content_oferta">
        <div id="bc_promo">
            {{#each this.ListaLan as |item|}}
            <div class="bc_promo_contenido" data-item="{{EstrategiaID}}" data-item-tag="body"
                 data-item-cuv="{{CUV2}}"
                 data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}">
                <div data-item-tag="contenido">
                    <div style="display:none;"><div data-estrategia="{{JSON2string item}}"></div></div>
                    <div data-item-tag="foto" class="producto_img_home" style="cursor:pointer; min-height:320px; margin: 0 !important; height:initial !important" onclick="javascript:CargarEstrategiasEspeciales('', event);">
                        {{#iff EstrategiaDetalle.ImgHomeDesktop '!=' ''}}
                        <img src="{{EstrategiaDetalle.ImgHomeDesktop}}" alt="" class="modelo">
                        {{/iff}}
                        <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="ven-conoce">@ViewBag.NombreConsultora, CONOCE {{DescripcionResumen}}</p>
                    <a href="javascript:;" onclick="RDRedireccionarDetalle(event)" class="btn-descubre">DESCUBRIR MÁS</a>
                    <a href="@Url.Action("Index", "RevistaDigital")" class="ver-mas rd_ver_mas">VER MÁS LANZAMIENTOS 
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        <div id="bc_productos">
            <div class="bc_productos_contenido">
            <!--slider de 3 o 4 productos son sus flechas-->
            {{#each this.Lista as |item|}}
            <div class="grid-item">
                <div data-item="{{EstrategiaID}}" data-item-cuv="{{CUV2}}" data-tipoestrategiaimagenmostrar="{{#if_eq FlagMostrarImg '1'}}{{TipoEstrategiaImagenMostrar}}{{/if_eq}}"
                        class="{{#iff (Trim ../CodigoEstrategia) '==' '101'}}{{../ClassEstrategia}}{{/iff}}">
                    <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
                    <div data-item-tag="body" class="content_item_carrusel bc_content_item_carrusel" {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[5,3,2]' }} style="cursor:pointer;" {{/iff}}>
                        <div style="display:none;"><div data-estrategia="{{JSON2string item}}"></div></div>
                        <div data-item-tag="contenido" {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[5,3,2]' }} onclick="javascript:CargarEstrategiasEspeciales('', event);" {{/iff}}>
                            <div class="producto_img_home_bpt" data-item-tag="foto">
                                <img src="{{FotoProducto01}}" class="imagen_producto" />
                                {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[5,3,2]' }}
                                <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                                {{/iff}}
                            </div>
                            {{#iff ImagenURL '!=' ''}}
                            <div class="etiqueta_producto" data-item-tag="etiqueta">
                                <img src="{{ImagenURL}}" alt="Etiqueta Producto" />
                            </div>
                            {{/iff}}
                            <div class="producto_nombre_descripcion_bpt" data-item-tag="descripcion">
                                <h6>{{DescripcionMarca}}</h6>
                                {{#iff DescripcionResumen '!=' ''}}
                                <p class="nombre_producto">
                                    <b>{{DescripcionResumen}}</b>
                                </p>
                                {{/iff}}
                                {{#iff DescripcionCortada '!=' ''}}
                                <p class="nombre_producto">
                                    <b>{{DescripcionCortada}}</b>
                                </p>
                                {{/iff}}
                            </div>
                            <div class="producto_nombre_descripcion_bpt" data-item-tag="precio">
                                <div class="producto_precio_bpt">
                                    {{#iff TipoEstrategiaImagenMostrar 'ContainsArray' '[3,5]'}}
                                    {{#if_eq EtiquetaID '1'}}
                                    {{#iff Precio '>' 0}}
                                    <span class="producto_precio_normal">{{Simbolo}} {{PrecioTachado}}</span>
                                    {{/iff}}
                                    {{/if_eq}}
                                    {{/iff}}
                                    <span class="producto_precio_oferta"><b>{{Simbolo}} {{PrecioString}}</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="producto_nombre_descripcion" data-item-tag="agregar">
                            {{#iff TieneVariedad '==' '0'}}
                            {{#iff PuedeCambiarCantidad '==' '0'}}
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" data-input='cantidad' style="width: 62px!important;border-right:1px solid #CCCCCC !important;opacity:0.5;" disabled />
                            </div>
                            <a href="javascript:;" class="boton_Agregalo_home js-no-popup {{ClaseBloqueada}}" data-bloqueada="{{ClaseBloqueada}}" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '{{EstrategiaID}}' , TipoEstrategiaID: '{{TipoEstrategiaID}}' , Posicion: '{{Posicion}}' , FlagNueva: '{{FlagNueva}}' }, this, true, 1); ">
                                AGR&Eacute;GALO
                            </a>
                            {{else}}
                            <div class="liquidacion_rango_home js-no-popup">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup {{ClaseBloqueada}}" data-input='cantidad' {{#iff ClaseBloqueada '!=' ''}} disbled="disable" {{/iff}} />
                                <div class="liquidacion_rango_right_pedido js-no-popup">
                                    <a href="javascript:;" class="mas js-no-popup" data-bloqueada="{{ClaseBloqueada}}"><img class="js-no-popup" src="/Content/Images/Esika/mas.png" alt="" /></a>
                                    <a href="javascript:;" class="menos js-no-popup" data-bloqueada="{{ClaseBloqueada}}"><img class="js-no-popup" src="/Content/Images/Esika/menos.png" alt="" /></a>
                                </div>
                            </div>
                            <a href="javascript:;" class="boton_Agregalo_home js-no-popup {{ClaseBloqueada}}" data-bloqueada="{{ClaseBloqueada}}" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '{{EstrategiaID}}' , TipoEstrategiaID: '{{TipoEstrategiaID}}' , Posicion: {{Posicion}} , FlagNueva: '{{FlagNueva}}' }, this); ">
                                AGR&Eacute;GALO
                            </a>
                            {{/iff}}
                            {{else}}
                            <div onclick="javascript:CargarEstrategiasEspeciales('', event);">
                                <div class="texto_elige_tono">
                                    ¡AHORA ELIGE TU TONO!
                                </div>
                                <div class="clear"></div>
                                <a href="javascript:;" class="btn_elige_tono js-no-popup">
                                    <div>ELIGE TU OPCIÓN</div>
                                </a>
                            </div>
                            {{/iff}}
                            <div class="clear"></div>
                            <div style="padding-top:9px; height: 15px;">
                                <div class="agregado product-add" style="text-align:right;display:{{#if IsAgregado }}block;{{else}}none;{{/if}}">
                                    AGREGADO
                                    <div class="icono"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="clearfix"></div>
            <div style="position: relative;">
                <a href="@Url.Action("Index", "RevistaDigital")" class="ver-mas-ofertas rd_ver_mas">VER MÁS OFERTAS </a>
            </div>
                
            </div>
        </div>
    </div>
    <!-- FIN SECCION DE LANZAMIENTOS Y OFERTAS -->
</script>