
<div class="content_belcorp fondo_gris" style="text-align: center; box-shadow: none; margin-top: 0px; background:transparent !important;" id="divContenedorListaEstrategia">
    <div class="contenedorCupon">
        <div class="contenedorCuponConocelo contenedor_cupon" style="display: none;">
            Tienes un dscto exclusivo para ti, <br />
            <a id="linkConocerDescuento" class="link_cupon_home">conócelo aquí</a>
        </div>
        <div class="contenedorCuponInfo contenedor_cupon" style="display: none;" data-cupon-info-opt="">
            Agrega alguna oferta web para hacer válido tu cupón de descuento de 00 % || S/. 00.00
        </div>
    </div>
    <hr class="clear" />
    <div>
        @*<div>
            @if (ViewBag.Source == 1)
            {
                <div class="titulo_ofertas_home">
                    OFERTAS <b>PARA TI @ViewBag.NombreConsultora</b>
                    <div class="texto_exclusivo">
                        EXCLUSIVAS S&Oacute;LO POR WEB
                    </div>
                </div>
            }
            else if(ViewBag.Source == 2)
            {
                <div class="titulo_ofertas_home">
                    OFERTAS <b class="color_marca">@ViewBag.NombrePalanca</b>
                    <div class="texto_exclusivo_bpt">
                        @ViewBag.NombreConsultora, DESCUBRE OFERTAS EXCLUSIVAS PARA TI <br/>DE TUS PRODUCTOS FAVORITOS
                    </div>
                </div>
            }
            <div class="linea_titulo_absoluto"></div>
        </div>*@
        <hr class="clear"/>
        <div class="content_carrusel_ofertas content_carrusel_agregado" id="divListadoEstrategia" data-OrigenPedidoWeb="@ViewBag.Origen"
             style="overflow-x: initial; max-height: 400px;"></div>
        <hr class="clear"/>
    </div>
</div>
