GO
USE BelcorpPeru
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpMexico
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpColombia
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpSalvador
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpPuertoRico
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpPanama
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpGuatemala
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpEcuador
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpDominicana
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpCostaRica
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpChile
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
USE BelcorpBolivia
GO
IF(EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2111402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081401'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '1081402'

IF( EXISTS(SELECT 1 FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'))
	DELETE FROM OrigenPedidoWeb WHERE CodOrigenPedidoWeb = '2081402'

GO
