<div id="divVistaPrevia" class="Content_modal_ZE" style="display: none; background-color: #fff; width: 200px; height: 330px; overflow: hidden; text-align: center">
    <div class="Content_modal_ZE" style="margin: 5px; overflow: hidden;">
        <div style="position: absolute; width: 100%;">
            <img id="imgTipoOferta" style="float: right; margin-top: 10px;" src="">
        </div>
        <img id="imgZonaEstrategia" style="width: 128px; height: 161px; margin: 5px;" src="" alt="Imagen Producto">
    </div>
    <div class="zona_estrategia_1"></div>
    <div>&nbsp;</div>
    <div class="zona_estrategia_2"></div>
    <div class="zona_estrategia_3"></div>
    <div class="zona_estrategia_4"></div>
</div>
