<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Catálogos Belcorp</span></h1>
            </div>
            <div>
                <div class="contentCatalogo">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var imgNoDisponible = '@Url.Content("~/Content/Images/catalogo_no_disponible.jpg")';
    var imgIssuu = '@Portal.Consultoras.Common.Constantes.CatalogoUrlParameters.UrlPart01' + '{img}' + '@Portal.Consultoras.Common.Constantes.CatalogoUrlParameters.UrlPart02Alternativo'
    var urlDetalleCatalogos = '@Url.Action("GetDetalleCatalogos", "CatalogosBelcorp", new { area = "" })';

    $(document).ready(function () {

        ObtenerCatalogos();

        function ObtenerCatalogos() {
            waitingDialog();

            jQuery.ajax({
                type: "GET",
                url: urlDetalleCatalogos,
                dataType: "json",
                success: function (result) {
                    if (checkTimeout(result)) {

                        CargarCatalogos(result.campaniaAnterior, result.catalogosAnteriores);
                        CargarCatalogos(result.campaniaActual, result.catalogosActuales);
                        CargarCatalogos(result.campaniaSiguiente, result.catalogosSiguientes);

                        closeWaitingDialog();
                    }
                },
                error: function (data, x, xh, xhr) {
                    if (checkTimeout(data)) {

                    }
                }
            });
        }

        function CargarCatalogos(campania, catalogosXCampania) {
            var divCatalogos = '', divCampania = '';

            divCampania = $('<div>', { 'class': 'box-row' }).append($('<div>', { 'class': 'boxCampania' }).text('Campaña - ' + campania.substring(4, 6)));
            $.each(catalogosXCampania, function (i, catalogo) {
                var codigoISSUU = catalogo.DocumentID == '' ? imgNoDisponible : imgIssuu.replace("{img}", catalogo.DocumentID);
                divCatalogos = divCampania.append(
                    $('<div>', { 'class': 'box' })
                        .append($('<a>', { 'class': 'revista', 'target': catalogo.DocumentID == '' ? '_self' : '_blank', 'href': catalogo.DocumentID == '' ? '#' : catalogo.SkinURL })
                            .append($('<img>', { 'src': codigoISSUU }))));
            });

            $('.contentCatalogo').append(divCatalogos);
        }

    });

</script>
