<body style='font-family: Arial; margin:0; padding:0;'>
    <table cellpadding='0' cellspacing='0' border='0' width='100%' class='general' style='font-family:Arial; margin: 0px;'>
        <tbody>
            <tr>
                <td height='20'></td>
            </tr>
            <tr>
                <td align='center'>
                    <table cellpadding='0' cellspacing='0' border='0' width='600' bgcolor='#ffffff' id='table-container'>
                        <tbody>
                            <tr>
                                <td>
                                    <table cellpadding='0' cellspacing='0' border='0' width='100%'>
                                        <tbody>
                                            <tr>
                                                <td colspan='3' height='15'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width='15'>&nbsp;</td>
                                                <td class='p-bottom' style='text-align: right;'>
                                                    <span class='welcome-text' style='color: #4b2e83; font-size: 19px; font-weight: bold;'>¡Bienvenida #PRIMER_NOMBRE#!</span>
                                                </td>
                                                <td width='15'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan='3' height='15'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan='3'>
                                                    <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/h-1.jpg' class='img-responsive'>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table cellpadding='0' cellspacing='0' border='0' width='100%'>
                                        <tbody>
                                            <tr>
                                                <td class='datos' style='font-size: 16px;' align='center'>
                                                    <p style='color:#000000;'>Gestiona tu negocio con éxito ingresando a<br>la web <a style='color: #000000; font-weight: bold; text-decoration: underline;' class='link' href='http://www.somosbelcorp.com' target='_blank'>www.somosbelcorp.com</a> con estos datos:</p>
                                                    <p>Código de Usuario: <a href='#' style='color: #000000; font-weight: bold; text-decoration: none;'>#CODIGO_USUARIO#</a></p>
                                                    <p>Contraseña: <a href='#' style='color: #000000; font-weight: bold; text-decoration: none;'>#PASSWORD#</a></p>
                                                    <p align='center'><a href='http://www.somosbelcorp.com'><img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/boton.png' border='0' class='img-responsive'></a></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='20'>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table cellpadding='0' cellspacing='0' border='0' width='100%'>
                                        <tbody>
                                            <tr>
                                                <td valign='top'>
                                                    <div class='col-293' style='width: 293px; float: left;'>
                                                        <p class='sub' style='font-weight: bold;font-size: 16px; color: #4b2e83; margin-top:0;'>En somos belcorp encontrarás <br> las secciones:</p>
                                                        
                                                        <table class='secciones' cellpadding='0' cellspacing='0' width='100%'>
                                                            <tbody>
                                                                <tr>
                                                                    <td width='10' valign='top'>
                                                                        <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/icono.png' border='0' style='display:block;'>
                                                                    </td>
                                                                    <td width='220' style='padding-right: 20px; padding-top: 3px; color:#000000;'>
                                                                        <p style='font-size: 13px; margin: 0px;'>MI NEGOCIO</p>
                                                                        <h3 style='font-size: 14px; font-weight: 100; margin-top:0;'>Donde podrás ingresar los pedidos, revisar tu estado de cuenta y compartir catálogos digitales con tus clientes.</h3>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width='10' style='vertical-align: top;'>
                                                                        <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/ico-4.png' border='0' style='display:block;'>
                                                                    </td>
                                                                    <td width='220' style='padding-right: 8px; color:#000000;'>
                                                                        <p style='font-size: 13px;margin: 0px;'>MI ACADEMIA</p>
                                                                        <h3 style='font-size: 14px; font-weight: 100; margin-top:0;'>Ingresando <a style='color: #000000; font-weight: bold; text-decoration: none;' class='link' href='http://miscursos.somosbelcorp.com/my/' target='_blank'>aquí</a> encontrarás tutoriales exclusivos para Consultoras de <br> belleza y negocio.</h3>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width='10' style='vertical-align: top;'>
                                                                        <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/ico-3.png' border='0' style='display:block;'>
                                                                    </td>
                                                                    <td width='220' style='padding-right: 20px; padding-top: 1px; color:#000000;'>
                                                                        <p style='font-size: 13px; margin: 0px;'>MI ASESOR DE BELLEZA</p>
                                                                        <h3 style='font-size: 14px; font-weight: 100; margin-top:0;'>Conocerás las herramientas de venta que te ayudarán a asesorar a tus clientes.</h3>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class='col-280' style='width: 280px; float: left;'>
                                                        <table class='derecha' style='border: solid 2px #7761A1; border-top: 0;' cellpadding='0' cellspacing='0' width='100%'>
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan='3'><img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/line.png' style='width:100%'></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width='30' height='70' rowspan='2'>&nbsp;</td>
                                                                    <td height='10'>&nbsp;</td>
                                                                    <td width='30' height='70' rowspan='2'>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class='sub' style='font-size: 16px; color: #4b2e83;'>Comunícate con nosotros:</p>
                                                                        <h3 style='font-size: 14px; font-weight: 100; color:#000000;'>Contacta a la Gerente de Zona <strong>#NOMBRE_CONTACTO#<br><a href='mailto:#CORREO_CONSULTORA#' style='color: #000000; text-decoration: none;' target='_blank'>#EMAIL_CONTACTO#</a></strong></h3>
                                                                        <h3 style='font-size: 14px; font-weight: 100; color:#000000;'>Ingresa a la <strong><a href='http://comunidad.somosbelcorp.com/' title='Comunidad' style='color:#000000;text-decoration:none;'>Comunidad</a></strong> para <br>conversar con otras Consultoras y aprender de ellas.</h3>
                                                                        <h3 style='font-size: 14px; font-weight: 100; color:#000000;'>Llámanos a <br> <strong> BELCORP Responde </strong> <br> <a href='#' target='_blank' style='color: #000000;text-decoration: none;'>#TELEFONO1#</a></h3>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='10'>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/footer.jpg' alt='' class='img-responsive'>
                                    <table cellspacing='0' cellpadding='0' width='100%' bgcolor='#000000' style='position: relative; top: -3px;'>
                                        <tbody>
                                            <tr>
                                                <td width='30' rowspan='3'>&nbsp;</td>
                                                <td height='20'>&nbsp;</td>
                                                <td width='30' rowspan='3'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class='foot-left' style='float: left;	width: 75%;'>
                                                        <a href=''>
                                                            <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/belcorp.png' alt=''>
                                                        </a>&nbsp; &nbsp;
                                                        <a href='http://www.lbel.com/pe/'>
                                                            <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/lbel.png' alt=''>
                                                        </a>&nbsp; &nbsp;
                                                        
                                                        <div style="display:#DISPLAY1#">
                                                            <a href='http://www.esika.biz/'>
                                                                <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/esika.png' alt=''>
                                                            </a>&nbsp; &nbsp;
                                                        </div>

                                                        <a href='http://www.cyzone.com/'>
                                                            <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/cyzone.png' alt=''>
                                                        </a>
                                                    </div>
                                                    <div class='foot-right' style='float: left; vertical-align: top;	width: 25%;'>
                                                        <p class='siguenos' style='font-size: 13px; color: #ffffff;'>
                                                            SÍGUENOS EN &nbsp; &nbsp;
                                                            <a href='https://www.facebook.com/SomosBelcorpOficial/?fref=ts'>
                                                                <img style='vertical-align: middle;' src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/fc.jpg' alt=''>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='20'>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table cellspacing='0' cellpadding='0' width='100%' style='position: relative; top: -3px;'>
                                        <tbody>
                                            <tr>
                                                <td valign='top' class='menu' style='text-align: left; padding-top:8px; padding-bottom:8px; padding-left: 8px; padding-right: 8px;'>
                                                    <a href='http://comunidad.somosbelcorp.com/t5/COMUNIDAD-BLOG/RESUELVE-TUS-DUDAS-O-ADQUIERE-TUS-PRODUCTOS-FAVORITOS/ba-p/9082' target='_blank' title='Preguntas frecuentes' style='font-size: 10px; border:0!important; text-decoration:none!important; color:#888889; border-color:#F5F5F7!important;'>
                                                        PREGUNTAS FRECUENTES
                                                    </a>
                                                    <span style='font-size: 10px; border:0; text-decoration: none; color:#888889'>&nbsp;|&nbsp;</span>
                                                    <a href='http://comunidad.somosbelcorp.com/' target='_blank' title='Ayuda' style='font-size: 10px; border:0!important; text-decoration:none!important; color:#888889; border-color:#F5F5F7!important;'>
                                                        AYUDA
                                                    </a>
                                                    <span style='font-size: 10px; border:0; text-decoration: none; color:#888889'>&nbsp;|&nbsp;</span>
                                                    <a href='http://www.belcorpresponde.com/ ' target='_blank' title='Contáctenos' style='font-size: 10px; border:0!important; text-decoration:none!important; color:#888889; border-color:#F5F5F7!important;'>
                                                        CONTÁCTANOS
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='15'></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height='20'></td>
            </tr>
        </tbody>
    </table>
</body>