<body style='font-family: Arial; margin: 0; padding: 0;'>

    <style>
        .nomostrar {
            display: none;
        }
    </style>
    <table cellpadding='0' cellspacing='0' border='0' width='100%' class='general' style='font-family: Arial; margin: 0px;'>
        <tbody>
            <tr>
                <td height='20'></td>
            </tr>
            <tr>
                <td align='center'>
                    <table cellpadding='0' cellspacing='0' border='0' width='600' bgcolor='#ffffff' id='table-container'>
                        <tbody>
                            <tr>
                                <td>
                                    <table cellpadding='0' cellspacing='0' border='0' width='100%'>
                                        <tbody>
                                            <tr>
                                                <td colspan='3' height='15'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width='15'>&nbsp;</td>
                                                <td class='p-bottom' style='text-align: right;'>
                                                    <span class='welcome-text' style='color: #4b2e83; font-size: 19px; font-weight: bold;'>¡Bienvenida #PRIMER_NOMBRE#!</span>
                                                </td>
                                                <td width='15'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan='3' height='15'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan='3'>
                                                    <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/mailpostulantelbel2.jpg' class='img-responsive'>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table cellpadding='0' cellspacing='0' border='0' width='100%'>
                                        <tbody>
                                            <tr>
                                                <td class='datos' style='font-size: 16px; line-height:150%;' align='center'>
                                                    <p style='color: #000000;'>
                                                        Hola #PRIMER_NOMBRE#&nbsp; ya puedes ingresar a <br /><a style='color: #000000; font-weight: bold; text-decoration: underline;' class='link' href='http://www.somosbelcorp.com' target='_blank'>www.somosbelcorp.com</a> para aprender cómo<br /> pasar tu pedido web con un permiso de navegación temporal.*
                                                        <br>
                                                    </p>
                                                   
                                                    <!--                                                    
                                                    <p>Código: <a href='#' style='color: #000000; font-weight: bold; text-decoration: none;'>#CODIGO_USUARIO#</a></p>
                                                    <p>Contraseña: <a href='#' style='color: #000000; font-weight: bold; text-decoration: none;'>#PASSWORD#</a></p>-->
                                                    <p align='center'>
                                                        <a href='http://www.somosbelcorp.com'>
                                                            <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/boton1.png' border='0' class='img-responsive'></a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table border='0' cellpadding='0' cellspacing='0' width='100%' style='background-color: #FFFFFF;'>
                                        <tr>
                                            <td align='left' valign='top' class='bodyContent' style='font-family: Arial, Helvetica, sans-serif; font-size: 16px;  padding-bottom: 0; color: #000; padding-top: 0; padding-bottom: 20px; text-align: center;'>
                                                <span style='font-size: 16px;'>Tu documento de Identidad <br />es el usuario y contraseña.</span></td>
                                        </tr>
                                    </table>

                                    <table cellpadding='0' cellspacing='0' border='0' width='100%'>
                                        <tbody>
                                            <tr>
                                                <td style='font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:150%; padding-right:20px; padding-bottom:0; padding-left:20px; color:#000; padding-top:0; padding-bottom:20px; text-align:left;'>
                                                    <span>Recuerda cada campaña ingresar a Somosbelcorp.com donde podrás pasar tu pedido, aprovechar ofertas personalizadas, revisar tu estado de cuenta y compartir catálogos. 
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='50'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style='text-align: center;'>L'BEL UN NEGOCIO &Uacute;NICO COMO T&Uacute;</td>
                                            </tr>
                                            <tr>
                                                <td height='10'>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/footer.jpg' alt='' class='img-responsive'>
                                    <br>
                                    <table border='0' cellpadding='0' cellspacing='0' width='100%' id='Table1'>
                                        <tr>
                                            <td valign='top' class='subBody' style='background-color: #FFFFFF; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 100%; padding-top: 35px;padding-left:20px; padding-right: 30px; padding-bottom: 35px; text-align: left;'>* El permiso de navegación es creado temporalmente y no te permite enviar tu pedido. Tan pronto termines el proceso de inscripción y sea aprobada por la Gerente de Zona, te enviaremos un correo con el usuario permanente.
                                            </td>
                                        </tr>
                                    </table>
                                    <table cellspacing='0' cellpadding='0' width='100%' bgcolor='#000000' style='position: relative; top: -3px;'>
                                        <tbody>
                                            <tr>
                                                <td width='30' rowspan='3'>&nbsp;</td>
                                                <td height='20'>&nbsp;</td>
                                                <td width='30' rowspan='3'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class='foot-left' style='float: left; width: 75%;'>
                                                        <div style='float: left;'>
                                                            <a href=''>
                                                                <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/belcorp.png' alt=''>
                                                            </a>
                                                        </div>
                                                        <div style='float: left; margin-left: 20px;'>
                                                            <a href='http://www.lbel.com/pe/'>
                                                                <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/lbel.png' alt=''>
                                                            </a>
                                                        </div>
                                                        <div style='float: left; margin-left: 20px;' class="#DISPLAY1#">
                                                            <a href='http://www.esika.biz/'>
                                                                <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/esika.png' alt=''>
                                                            </a>
                                                        </div>

                                                        <div style='float: left; margin-left: 20px;'>
                                                            <a href='http://www.cyzone.com/'>
                                                                <img src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/cyzone.png' alt=''>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class='foot-right' style='float: left; vertical-align: top; width: 25%;'>
                                                        <p class='siguenos' style='font-size: 13px; color: #ffffff;'>
                                                            SÍGUENOS EN &nbsp; &nbsp;
                                                            <a href='https://www.facebook.com/SomosBelcorpOficial/?fref=ts'>
                                                                <img style='vertical-align: middle;' src='https://s3.amazonaws.com/PortalFFVVInterna/Mailing+Nuevas/Mail+Bienvenida/pa/fc.jpg' alt=''>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='20'>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table cellspacing='0' cellpadding='0' width='100%' style='position: relative; top: -3px;'>
                                        <tbody>
                                            <tr>
                                                <td valign='top' class='menu' style='text-align: left; padding-top: 8px; padding-bottom: 8px; padding-left: 8px; padding-right: 8px;'>
                                                    
                                                    <a href='http://www.belcorpresponde.com/ ' target='_blank' title='Contáctenos' style='font-size: 10px; border: 0!important; text-decoration: none!important; color: #888889; border-color: #F5F5F7!important;'>CONTÁCTANOS
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='15'></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height='20'></td>
            </tr>
        </tbody>
    </table>
</body>
