<html>
<body style="margin:0px; padding:0px; background:#fff;">
    <table width="100%" cellspacing="0" align="center" style="background:#FFF;">
        <thead>
            <tr>
                <th style="width:28%; height:50px; border-bottom:1px solid #000;"></th>
                <th style="width:44%; height:50px; border-bottom:1px solid #000; padding:12px 0px; text-align:center;"><img src="#Logo#" alt="Logo esika" /></th>
                <th style="width:28%; height:50px; border-bottom:1px solid #000;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" style="height:30px;"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <table align="center" style="width:100%; text-align:center;">
                        <tbody>
                            <tr>
                                <td style="font-family:'Calibri'; font-size:17px; text-align:center; font-weight:500; color:#000; padding:0 0 26px 0;">Hola <span>#Nombre#</span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center; font-family:'calibri'; color:#000; font-weight:500; font-size:14px; padding-bottom:30px;">Tu PIN de verificación para ingresar a Somos Belcorp es: #Pin#</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center; font-family:'calibri'; color:#000; font-size:12px; font-weight:400;padding-top:45px; padding-bottom:27px;"></td>
            </tr>
            <tr>
                <td colspan="3" style="background:#000; height:62px;">
                    <table align="center" style="text-align:center; padding:0 13px; width:100%; max-width:524px; ">
                        <tbody>
                            <tr>
                                <td style="width:13%; text-align:left;">
                                    <img src="https://d1y60eoca8fkyl.cloudfront.net/Correo/logo-belcorp.png" alt="Logo belcorp" />
                                </td>
                                <td style="width:9%; text-align:left; padding-top:3px;">
                                    <a target='_blank' href='http://www.esika.com/'><img src="https://d1y60eoca8fkyl.cloudfront.net/Correo/logo-esika.png" alt="Logo esika" /></a>
                                </td>
                                <td style="width:9%; text-align:left; padding-bottom:3px;">
                                    <a target='_blank' href='http://www.lbel.com/pe/'><img src="https://d1y60eoca8fkyl.cloudfront.net/Correo/logo-lbel.png" alt="Logo l'bel" /></a>
                                </td>
                                <td style="width:14%; text-align:left;border-right:1px solid #fff; padding-top:5px;">
                                    <a target='_blank' href='http://www.cyzone.com/'><img src="https://d1y60eoca8fkyl.cloudfront.net/Correo/logo-cyzone.png" alt="Logo cyzone" /></a>
                                </td>
                                <td style="width:18%; font-family:'calibri'; font-weight:400; font-size:13px; color:#fff; text-align:right; vertical-align:middle;">
                                    <span style="text-align: left; display inline-block; vertical-align middle; width 69%;">SÍGUENOS EN</span>
                                    <span style="position: relative; top 2px; left 10px; display inline-block; vertical-align top;"><a target='_blank' href='https://es-la.facebook.com/SomosBelcorpOficial'><img src="https://d1y60eoca8fkyl.cloudfront.net/Correo/logo-facebook.png" alt="Logo facebook" /></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table align="center" style="text-align:center;">
                        <tbody>
                            <tr>
                                <td style="height:6px;"></td>
                            </tr>
                            <tr>
                                <td style="font-family:'Calibri'; font-size:12px; color:#000; border-right:1px solid #000; padding:0 12px;"><a target='_blank' href='http://comunidad.somosbelcorp.com/'>¿Tienes dudas?</td></a>
                                <td style="font-family:'Calibri'; font-size:12px; color:#000; padding:0 12px;"><a target='_blank' href='http://www.belcorpresponde.com/'>Contáctanos</td></a>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>