@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb-next upper">
            <li><a href="@Url.Action("Index", "Paypal", new {area = "Mobile"})"><i class="icon-angle-left"></i> Volver </a></li>
            <li>|</li>
            <li>Pagos en línea</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="block-white text-center text-danger">
            <div>
                <i class="icon-exclamation-circle icon-ulg"></i>
            </div>
            <p class="upper">Error <span>de Transacción</span></p>
        </div>
        <div class="block-center form-pagos">
            <div>
                Su transacci&oacute;n no se pudo completar, por favor int&eacute;ntelo nuevamente.<br />
                Disculpe las molestias causadas.
            </div>
        </div>
    </div>
</div>

