@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb-next upper">
            <li><a href="@Url.Action("Index", "Bienvenida", new {area = "Mobile"})"><i class="icon-angle-left"></i> Inicio </a></li>
            <li>|</li>
            <li>Pagos en línea</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="block-white text-center text-success">
            <div>
                <i class="icon-icon-check icon-ulg"></i>
            </div>
            <p class="upper">Transacción Segura y <span>Exitosa</span></p>
        </div>
        <div class="block-center form-pagos">
            <div>
                La transacción ha concluido con éxito.<br/>
                Verifique en su estado de cuenta de MyL'bel.com, después de 24 horas (1 día útil).<br/>
                ¡Gracias!
            </div>
        </div>
    </div>
</div>

