@using System.Web.Optimization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}

<link href="@Url.Content("~/Content/Css/Site/BusquedaProductos/busqueda-productos.css")" rel="stylesheet" />

<section class="row flex-row ml-0 mr-0 layout__content">
    <section class="row flex-row flex-lg-nowrap flex-xl-nowrap justify-content-lg-between justify-content-xl-between align-self-start ml-0 mr-0 w-100 mx-auto layout__content__wrapper">
        <section class="col-12 col-lg-6 col-xl-6">
            <h1 class="col-12 pl-0 pr-0 busqueda__productos__titulo">
                Resultados de la búsqueda
            </h1>
            <p class="col-12 pl-0 pr-0 busqueda__productos__encontrados">
                <span class="busqueda__num__productos__encontrados">4</span>  resultados para: <span class="busqueda__nom__filtro text-bold">Kalos</span>
            </p>
        </section>
        @if (ViewBag.MostrarOpcionesOrdenamiento)
        {
            <section class="col-12 col-lg-6 col-xl-6 lista__opciones_ordenamiento">
                <div class="row flex-row justify-content-end ml-0 mr-0">
                    <div class="col-6 col-lg-9 col-xl-9 pl-0 pr-0 opcion_ordenamiento text-lg-right text-xl-right">
                        <label class="col-12 col-lg-3 col-xl-3 pl-0 d-inline-block text-center text-lg-right text-xl-right opcion__ordenamiento__label">Ordenar</label>
                        <!-- AL AGREGAR EL EVENTO CLICK POR JS PARA MOSTRAR EL LISTADO DE OPCIONES AGREGAR ESTA CLASE opcion__ordenamiento__dropdown--desplegado -->
                        <div class="col-12 col-lg-67 col-xl-6 pl-0 pr-0 d-inline-block opcion__ordenamiento__dropdown text-left">
                            <span class="col-11 opcion__ordenamiento__dropdown__seleccionada mostrarEnDesktop">Recomendación</span>
                            <span class="col pl-0 pr-0 opcion__ordenamiento__dropdown__icono mostrarEnDesktop">
                                <img src="@Url.Content("~/Content/Images/ordenar-flecha-icono.svg")" alt="" />
                            </span>
                        </div>
                        <!-- FIN - AL AGREGAR EL EVENTO CLICK POR JS PARA MOSTRAR EL LISTADO DE OPCIONES AGREGAR ESTA CLASE opcion__ordenamiento__dropdown--desplegado -->
                    </div>
                    <ul class="col-9 col-md-10 col-lg-6 col-xl-6 pl-0 pr-0 opcion__ordenamiento__dropdown__lista">
                        <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block">
                        <!-- CUANDO UNA OPCIÓN ESTÁ SELECCIONADA AGREGAR LA CLASE opcion__ordenamiento__dropdown__link--seleccionada -->
                        <a class="col-12 d-block opcion__ordenamiento__dropdown__link opcion__ordenamiento__dropdown__link--seleccionada" title="Recomendación">
                                Recomendación
                            </a>
                        <!-- FIN - CUANDO UNA OPCIÓN ESTÁ SELECCIONADA AGREGAR LA CLASE opcion__ordenamiento__dropdown__link--seleccionada -->
                        </li>
                        <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block">
                        <a class="col-12 d-block opcion__ordenamiento__dropdown__link" title="Ganancia">
                                Ganancia
                            </a>
                        </li>
                        <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block">
                        <a class="col-12 d-block opcion__ordenamiento__dropdown__link" title="Precio de menor a mayor">
                                Precio de menor a mayor
                            </a>
                        </li>
                        <li class="col-12 pl-0 pr-0 opcion__ordenamiento__dropdown__item d-block">
                        <a class="col-12 d-block opcion__ordenamiento__dropdown__link" title="Precio de mayor a menor">
                                Precio de mayor a menor
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        }

    </section>
</section>
@section scripts{
    <script src="@Url.Content("~/Scripts/PortalConsultoras/Buscador/BusquedaProductoModule.js")"></script>
}