<div class="contenedor_fondo_popup contenedor_fondo_popup_oscuro" id="Cupon2" style="display: none;" data-popup-main>
    <div class="content_cupon cupon2" data-popup-body>
        <a class="cerrar_fichaProducto" href="javascript:;" onclick="javascript: $('#Cupon2').hide();">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="" alternate="" text="">
        </a>
        <div class="icono_cupon2"></div>
        <div class="titulo_cupon2">GRACIAS POR TU CONFIRMACIÓN </div>
        <div class="texto_cupon2">Te hemos enviado un correo a:</div>
        <div class="correo_confirmacion">ashimabukuro@belcorp.biz</div>
        <div class="valida_datos_cupon2">Entra a tu cuenta, valida tus datos y ¡Gana tu cupón de dscto! </div>
        <div style="text-align:center">
            <a id="btnEnviarNuevamente" class="btn_cupon2">ENVIAR NUEVAMENTE </a>
            <a id="btnModificarDatos" class="btn_cupon2">MODIFICAR MIS DATOS</a>
        </div>
    </div>
</div>