<div class="PopMobile1" id="Cupon2">
    <div class="content_cupon cupon2mobile">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#Cupon2Mobile').hide();">
            <img src="/Content/Images/cerrar_04.png" alt="-">
        </a>
        <hr class="clear" />
        <div class="icono_cupon2"></div>
        <div class="titulo_cupon2">GRACIAS POR TU CONFIRMACIÓN </div>
        <div class="texto_cupon2">Para ganar tu cupón de dscto te enviamos un correo a:</div>
        <div class="correo_confirmacion">ashimabukuro@belcorp.biz</div>
        <div style="text-align:center">
            Entra y valida tus datos
            <a id="btnEnviarNuevamente" class="btn_cupon2">ENVIAR NUEVAMENTE </a>
            <a id="btnModificarDatos" class="btn_cupon2">MODIFICAR MIS DATOS</a>
        </div>
    </div>
</div>