<div class="PopMobile1" id="Cupon3">
    <div class="content_cupon cupon3mobile">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#Cupon3').hide();">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="-">
        </a>
        <hr class="clear" />
        <div class="icono_cupon3"></div>
        <div class="titulo_cupon2 titulo_cupon3">¡GANASTE TU CUPÓN DE DSCTO DE S/. 40.00!</div>
        <div class="texto_cupon2" style="color: white !important; margin-bottom: 30px !important;">Debes agregar alguna oferta en web* <br />en la campaña C00</div>
        <div style="text-align:center">
            <div class="info_recuerda_cupon">
                <img src="@Url.Content("~/Content/Images/PL20/calendario.png")" />
                <div id="detalleCuponCampania">Sólo válido en la campaña C00</div>
            </div>
            <div class="info_recuerda_cupon">
                <img src="@Url.Content("~/Content/Images/PL20/maquillaje.png")" />
                <div>*Agrega mínimo 1 oferta web. No aplica para liquidación web.</div>
            </div>
            <div class="info_recuerda_cupon">
                <img src="@Url.Content("~/Content/Images/PL20/agenda.png")" />
                <div>El cupón se aplicará en tu facturación </div>
            </div>
        </div>
    </div>
</div>