<div class="PopMobile1" id="Cupon3">
    <div class="content_cupon cupon3mobile">
        <a class="cerrar_popMobile" href="javascript:;" onclick="CuponPopupCerrar();">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="-">
        </a>
        <hr class="clear" />
        <div class="icono_cupon3"></div>
        <div class="titulo_cupon2 titulo_cupon3">¡ACTIVASTE TU CUPÓN DE 20% DE DSCTO!</div>
        <div class="texto_recuerda_cupon">Recuerda que:</div>    
        <div style="text-align:center">
            <div class="info_recuerda_cupon" data-cupon-ganaste-condicion2>
                <div class="info_recuerda_cupon_icono"></div>
                <div class="cupon-monto-limite">Agrega alguna oferta exclusiva web <br />(no incluye ofertas de liquidación web)</div>  
            </div>
            <div class="info_recuerda_cupon">
                <div class="info_recuerda_cupon_icono icono3_ganaste"></div>
                <div id="detalleCuponCampania">Sólo válido en la campaña C00</div>
            </div>            

        </div>
    </div>
</div>