<div class="PopMobile1" id="Cupon3">
    <div class="content_cupon cupon3mobile">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#Cupon3').hide();">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="-">
        </a>
        <hr class="clear" />
        <div class="icono_cupon3"></div>
        <div class="titulo_cupon2 titulo_cupon3">¡ACTIVASTE TU CUPÓN DE 20% DE DSCTO!</div>
        @*<div class="texto_cupon2" style="color: white !important; margin-bottom: 30px !important;margin-top: 14px;">Debes agregar alguna oferta en web* <br />en la campaña C00</div>*@
        <div class="texto_recuerda_cupon">Recuerda que:</div>
        <div style="text-align:center">
            <div class="info_recuerda_cupon">
                <img src="@Url.Content("~/Content/Images/PL20/calendario.png")" />
                <div id="detalleCuponCampania">Sólo válido en la campaña C00</div>
            </div>
            <div class="info_recuerda_cupon">
                <img src="@Url.Content("~/Content/Images/PL20/maquillaje.png")" />
                <div>Debes agregar una oferta exclusiva web <br/>(no aplica para liquidación web)</div>
            </div>
            <div class="info_recuerda_cupon">
                <img src="@Url.Content("~/Content/Images/PL20/agenda.png")" />
                <div class="cupon-monto-limite">Tu dscto lo verás reflejado en tu<br/>facturación (dscto hasta S/00.00)</div>
            </div>
        </div>
    </div>
</div>