<div class="PopMobile1" id="Cupon1">
    <div class="content_cupon">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#Cupon1').hide();">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="-">
        </a>
        <div class="titulo_gana"><span>COMPRA</span> ALGUNA OFERTA EXCLUSIVA DE LA WEB Y <span>GANA</span></div>
        <div class="monto_gana"><span class="tipo_moneda">S/.</span> 40.00</div>
        <div class="tipo_porcentaje">%<span style="font-size:16px; display:block; margin-top:-13px;">DSCTO</span></div>
        <hr class="clear" />
        <div class="subtitulo_gana" style="font-size: 14px; margin-top: 2px;">EN TODO TU PEDIDO</div>
        <div class="texto_cupon_datos">SÓLO ACTUALIZA TUS DATOS <br /><b> ¡Y ACTIVA EL CUPÓN!</b></div>
        <div class="correo_showroon seccion-correo">
            <input type="hidden" id="hdEmailOriginal" value="@Model.EMail">
            <input type="text" id="txtEmailIngresado" placeholder="Ingresa tu correo" value="@Model.EMail" maxlength="50" onpaste="return false;" ondrop="return false;">
            <div class="mensaje_alerta_cupon1">Tu correo no es válido</div>
            <div class="icono_alerta_cupon"></div>
        </div>
        <div class="correo_showroon icono_celular seccion-celular">
            <input type="text" id="txtCelular" placeholder="Ingresa tu celular " value="@Model.Celular" maxlength="20" onpaste="return false;" ondrop="return false;" min="0">
            <div class="mensaje_alerta_cupon1">Tu celular no es válido</div>
            <div class="icono_alerta_cupon"></div>
        </div>
        <div class="contenedor_termino_condiciones_cupon seccion-terminos-condiciones">
            <div id="chckTerminosCondiciones" class="termino_condiciones_cupon check_intriga borde_seleccion_alerta" style="display:inline-block;">Estoy de acuerdo con los&nbsp;</div>

            <div class="mensaje_alerta_cupon1" style="border-top:0;bottom: -15px;">Marcar este campo</div>
        </div>
        <div class="texto_legal_mobile_c cupon-monto-limite">Descuento de hasta S/00.00</div>
        <a id="btnConfirmarDatos" class="btn_cupon_mobile1" href="#">CONFIRMA TUS DATOS</a>
    </div>
</div>