<div class="PopMobile1" id="Cupon1">
    <div class="content_cupon">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#Cupon1Mobile').hide();">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="-">
        </a>
        <div class="titulo_gana">GANA</div>
        <div class="subtitulo_gana">UN CUPÓN DE DSCTO DE </div>
        <div class="monto_gana"><span class="tipo_moneda">S/.</span> 40.00</div>
        <div class="subtitulo_gana" style="font-size:16px; margin-top: -8px;">EN TODO TU PEDIDO</div>
        <div class="texto_cupon_datos">SÓLO ACTUALIZA TUS DATOS <br /> Y COMPRA ALGUNA OFERTA WEB*</div>
        <div class="correo_showroon">
            <input type="hidden" id="hdEmailOriginal" value="@Model.EMail">
            <input type="text" id="txtEmailIngresado" placeholder="Ingresa tu correo" value="@Model.EMail">
        </div>
        <div class="correo_showroon icono_celular">
            <input type="text" id="txtCelular" placeholder="Ingresa tu celular " value="@Model.Celular">
        </div>
        <div id="chckTerminosCondiciones" class="termino_condiciones_cupon">Estoy de acuerdo con los <a href="" target="_blank" style="text-decoration:underline; display: inline-block;">términos y condiciones.</a></div>
        <div class="texto_legal_mobile_c">*Válido por la compra mínima de 1 oferta. No aplica para productos en liquidación.</div>
        <a id="btnConfirmarDatos" class="btn_cupon_mobile1" href="#">CONFIRMA TUS DATOS</a>
    </div>
</div>