<div class="contenedor_fondo_popup" id="Cupon3" style="display: none;" data-popup-main>
    <div class="content_cupon cupon3" data-popup-body>
        <a class="cerrar_fichaProducto" href="javascript:;" onclick="CuponPopupCerrar();">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="" alternate="" text="">
        </a>
        <div class="icono_cupon3"></div>
        <div class="titulo_cupon2" style="color:white; font-size:17px; margin-top:9px; height: 60px;">¡ACTIVASTE TU CUPÓN DE 0% DE DSCTO!</div>   
        <div class="texto_cupon3">Recuerda que:</div>    
        <div style="text-align:center">
            <div class="info_recuerda_cupon info_recuerda_cupon_ganaste" data-cupon-ganaste-condicion2>
                <div class="icono_recuerda_cupon"></div>
                <span class="cupon-monto-limite">Agrega alguna oferta exclusiva web<br />(no incluye ofertas de liquidación web)</span> 
            </div>
            <div class="info_recuerda_cupon_line">    
            </div>     
            <div class="info_recuerda_cupon info_recuerda_cupon_ganaste">
                <div class="icono_recuerda_cupon recuerda_icono3"></div>
                <span id="detalleCuponCampania">Sólo válido en<br />la campaña C00</span>   
            </div>                   

        </div>
    </div>
</div>