
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mi Revista</title>
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>

    <style type="text/css">
        html, body, div, iframe {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        iframe {
            display: block;
            width: 100%;
            border: none;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {
            $.getJSON('/MisCatalogosRevistas/GetUrlRevistaIssuu', { campania: '@ViewBag.campania' }, function (response) {
                if (response.success) {
                    $('#ifr-revista').attr('src', response.urlRevista)
                }
            })
        })

    </script>
</head>

<body>
    <iframe id="ifr-revista"></iframe>
</body>

</html>
