@{
    ViewBag.Title = "OfertasWeb";
}

<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 70) {
                $('.productos_fixed').addClass("fixed");
            } else {
                $('.productos_fixed').removeClass("fixed");
            }
        });

        $('.ValidaNumeralOferta').live('keyup', function (evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        });

        $('.ValidaNumeralOferta').live('keypress', function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        IniDialog();
        $("#btnVerPedido").click(function () {
            dataLayer.push({
                'event': 'pageview',
                'virtualUrl': '/Oferta-Web/Ver-Pedido'
            });
            location.href = '@Url.Action("Index", "Pedido")';
        });

        $('.ValidaNumeralOferta').keypress(function (e) {
            if (e.which == 13) {
                var object = $(this).parent().find(".btnAdd");
                var estado = $(this).parent().find(".btnAdd")[0].disabled;
                if (!estado)
                    AgregarOfertaProducto(object, 0);
            }
        })
    });

    function IniDialog() {
        $('#DialogMensajeProducto').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            draggable: true
        });

    }

    function HorarioRestringido(mostrarAlerta) {
        
        mostrarAlerta = typeof mostrarAlerta !== 'undefined' ? mostrarAlerta : true;
        var horarioRestringido = false;
        $.ajaxSetup({
            cache: false
        });
        jQuery.ajax({
            type: 'GET',
            url: baseUrl + 'Pedido/EnHorarioRestringido',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (data) {
                
                if (checkTimeout(data)) {
                    // esta en horario restringido
                    if (data.success == true) {
                        if (mostrarAlerta == true)
                            AbrirMensaje(data.message);
                        horarioRestringido = true;
                    }
                }
            },
            error: function (data, error) {
                
                if (checkTimeout(data)) {
                    AbrirMensaje(data.message);
                }
            }
        });
        return horarioRestringido;
    }

</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="productos_fixed">
                <div class="productos_fixed_main">
                    <div class="div-2">
                        <h1>Ofertas <span></span></h1>
                        <div class="title">
                            <div>Estos productos solo pueden ser pedidos por web, suman a tu monto minimo</div>
                            <div>Otorgan puntaje. Precio neto consultoras. Los productos son vigentes durante la campaña @ViewBag.CampaniaID</div>
                            <div style="color:red;">Se atenderá hasta agotar stock.</div>
                        </div>
                    </div>
                    <div class="carrito">
                        <div class="carrito_compras">
                            <div><span id="spCantidadItems">0</span> productos agregados</div>
                        </div>
                        <div class="input_ver_pedido">
                            <input type="button" id="btnVerPedido" value="Ver mi pedido" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="">
            @Html.Partial("_ListadoOfertas")
        </div>
    </div>
</div>

<div id="loadingScreen"></div>
<div id="DialogMensajeProducto" style="display: none;">
    <div>
        <div id="divReservaSatisfactoria" class="modal_1">
            <div class="modal_1_title color_title">Estimada Consultora, debe ir a la opción de Ver Mi Pedido para verificar las Ofertas Web agregadas.</div>
        </div>
        <div class="div-3">
            <div class="input_modal">
                <input type="button" value="Cerrar" onclick="$('#DialogMensajeProducto').dialog('close');" />
            </div>
        </div>
    </div>
</div>
