
/* POPUP AGREGAR CLIENTE */
.contenedor_popup_agregarCliente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent url('/Content/Images/bg_popups.png') repeat left top;
    z-index: 1000;
}

.btn_cerrarPopupCliente {
    display: block;
    width: 100%;
    max-width: 24px;
    height: auto;
    position: absolute;
    top: 12px;
    right: 0;
}

    .btn_cerrarPopupCliente img {
        width: 50%;
        border: 0;
    }

.popup_agregarCliente {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-top: -273px;
    margin-left: -223px;
    background: #fff;
    width: 100%;
    max-width: 446px;
    height: 520px;
    padding-top: 60px;
    box-sizing: border-box;
}

    .popup_agregarCliente h6 {
        display: block;
        margin: 0 0 30px 0;
        padding: 0;
        font-family: 'Lato';
        font-size: 20px;
        font-weight: 300;
        color: #000;
        text-align: center;
    }

    .popup_agregarCliente form {
        display: block;
        width: 100%;
        max-width: 283.5px;
        margin: 0 auto;
        position: relative;
    }

    .popup_agregarCliente .noti.mensaje_producto_noExiste {
        display: none;
        height: 66px;
        padding: 0 19px 0 19px;
        max-width: 700px;
        top: 30.1%;
        right: -100%;
        box-shadow: -6px 6px 17px -2px #999;
        -moz-box-shadow: -6px 6px 17px -2px #999;
        -o-box-shadow: -6px 6px 17px -2px #999;
        -ms-box-shadow: -6px 6px 17px -2px #999;
        -webkit-box-shadow: -6px 6px 17px -2px #999;
    }

        .popup_agregarCliente .noti.mensaje_producto_noExiste:after {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            border-right-color: #fff;
            border-width: 12px;
            margin-top: -12px;
            left: 0;
            margin-left: -23px;
        }

        .popup_agregarCliente .noti.mensaje_producto_noExiste .noti_message.red_texto_size {
            margin-top: -17px;
        }

    .popup_agregarCliente .icono_advertencia_notificacion {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

    .popup_agregarCliente .descripcion_mensaje {
        display: inline-block;
        vertical-align: middle;
        line-height: 18px;
        font-family: 'Lato';
        font-weight: 400;
    }

    .popup_agregarCliente input[type='text'], .popup_agregarCliente input[type='email'] {
        display: block;
        width: 100%;
        max-width: 283.5px;
        height: 44px;
        font-family: 'Lato';
        font-size: 13px;
        line-height: 44px;
        letter-spacing: 1.2px;
        color: #6a6a6a;
        padding-left: 15px;
        border: 1px solid #979797;
    }

    .popup_agregarCliente input[type='text'] {
        margin-bottom: 15px;
    }

    .popup_agregarCliente input[type='email'] {
        margin-bottom: 17px;
    }

    .popup_agregarCliente .btnCliente_cancelar {
        display: block;
        border: 0;
        float: left;
        width: 74.5px;
        height: 45px;
        background: #fff;
        color: #000;
        line-height: 45px;
        text-align: center;
        text-decoration: underline;
        margin-right: 14px;
        font-family: 'Lato';
        font-size: 13px;
    }

    .popup_agregarCliente .btnCliente_agregar {
        display: block;
        border: 0;
        float: right;
        width: 189px;
        height: 45px;
        background: #e81c36;
        color: #fff;
        line-height: 45px;
        text-align: center;
        font-family: 'Lato';
        font-size: 13px;
    }
/* POPUP PRODUCTOS AGOTADOS */
.contenedor_popup_productosAgotados {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent url('/Content/Images/bg_popups.png') repeat left top;
    z-index: 1000;
}

.btn_cerrar_productosAgotados {
    display: block;
    width: 100%;
    max-width: 28px;
    height: auto;
    position: absolute;
    top: 22px;
    right: 6px;
}

    .btn_cerrar_productosAgotados img {
        width: 50%;
        border: 0;
    }

.popup_productosAgotados {
    display: block;
    position: relative;
    top: 50%;
    right: 0;
    bottom: 0;
    margin: -294.5px auto 0 auto;
    background: #fff;
    width: 100%;
    max-width: 800px;
    height: auto;
    padding-top: 56px;
    box-sizing: border-box;
}

    .popup_productosAgotados .contenedor_lista_productosAgotados {
        margin: 0 auto;
        width: 710px;
        margin-bottom: 58px;
    }

        .popup_productosAgotados .contenedor_lista_productosAgotados h6 {
            display: block;
            margin: 0;
            padding: 0;
            font-family: 'Lato';
            font-size: 20px;
            font-weight: 300;
            color: #000;
            text-align: left;
        }

            .popup_productosAgotados .contenedor_lista_productosAgotados h6 b {
                font-weight: 900;
            }

.tabla_productos_agotados {
    font-family: 'Lato';
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    max-height: 438px;
    padding-left: 10px;
    padding-right: 7px;
}

    .tabla_productos_agotados .categoria_productoAgotado,
    .tabla_productos_agotados .codigo_productoAgotado,
    .tabla_productos_agotados .producto_productoAgotado,
    .tabla_productos_agotados .catalogo_productoAgotado,
    .tabla_productos_agotados .pagina_productoAgotado {
        text-align: left;
        font-weight: 400;
    }

    .tabla_productos_agotados .pagina_productoAgotado {
        text-align: right;
        font-weight: 400;
    }

    .tabla_productos_agotados .categoria_productoAgotado {
        width: 20%;
    }

    .tabla_productos_agotados .codigo_productoAgotado {
        width: 15%;
    }

    .tabla_productos_agotados .catalogo_productoAgotado {
        width: 22%;
    }

    .tabla_productos_agotados .pagina_productoAgotado {
        width: 13%;
    }
/* POPUP ESCOGER TONO */
.contenedor_popup_escogerTono {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent url('/Content/Images/bg_popups.png') repeat left top;
    z-index: 1000;
}

.btn_cerrar_escogerTono {
    display: block;
    width: 100%;
    max-width: 28px;
    height: auto;
    position: absolute;
    top: 22px;
    right: 6px;
}

    .btn_cerrar_escogerTono img {
        width: 50%;
        border: 0;
    }

.popup_escogerTono {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-top: -265.5px;
    margin-left: -237.5px;
    background: #fff;
    width: 100%;
    max-width: 475px;
    height: auto;
    padding-top: 40px;
    box-sizing: border-box;
}

    .popup_escogerTono .contenedor_producto_escogerTono {
        margin: 0 auto;
        width: 455px;
        margin-bottom: 40px;
    }

        .popup_escogerTono .contenedor_producto_escogerTono h5 {
            display: block;
            margin-bottom: 17px;
            padding: 0;
            font-family: 'Lato';
            font-size: 20px;
            font-weight: 300;
            color: #000;
            text-align: center;
        }

.contenedor_producto .producto_carousel {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 240px !important;
    height: auto !important;
    background: #fff;
    border: none !important;
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
    -o-box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
    -ms-box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
}

    .contenedor_producto .producto_carousel .producto_talla_color {
        margin-bottom: 16px;
    }

        .contenedor_producto .producto_carousel .producto_talla_color select {
            display: block;
            margin: 0;
            padding: 0 14px 0 14px;
            width: 208px;
            height: 45px;
            border: 1px solid #b0b0b0;
            font-family: 'Lato';
            font-size: 15px;
            letter-spacing: .2px;
            color: #26201d;
        }
/* POPUP PRODUCTOS SUGERIDOS */
.flecha_izquierda_carousel_productosSugeridos, .flecha_derecha_carousel_productosSugeridos {
    display: inline-block;
    vertical-align: middle;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    position: relative;
}

.flecha_izquierda_carousel_productosSugeridos {
    left: 0;
}

.flecha_derecha_carousel_productosSugeridos {
    right: 0;
}

    .flecha_izquierda_carousel_productosSugeridos:hover, .flecha_derecha_carousel_productosSugeridos:hover {
        opacity: .5;
    }

.flecha_izquierda_carousel_productosSugeridos:hover {
    left: 10px;
}

.flecha_derecha_carousel_productosSugeridos:hover {
    right: 10px;
}

.btn_cerrar_productosSugeridos {
    display: block;
    width: 100%;
    max-width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    left: 4.5%;
    bottom: 0;
    margin-top: -20px;
    background: url('/Content/Images/Esika/icono_exclamacion.png') no-repeat center center;
}

    .btn_cerrar_productosSugeridos a img {
        width: 44%;
        position: absolute;
        top: 28%;
        left: 29%;
        cursor: default !important;
    }

.popup_productosSugeridos {
    display: block;
    position: absolute;
    top: 8.5%;
    left: 13.1%;
    right: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    max-width: 692px;
    height: auto;
    padding-top: 0;
    box-sizing: border-box;
    z-index: 5;
    box-shadow: 1px 7px 39px -10px #000;
}

    .popup_productosSugeridos .contenedor_productosSugeridos {
        margin: 0 auto;
        width: 100%;
        max-width: 626px;
        margin-bottom: 20px;
    }

    .popup_productosSugeridos .slick-slider {
        width: 90% !important;
        margin: 0 auto !important;
        float: none !important;
    }

    .popup_productosSugeridos .previous_ofertas-popup.js-slick-prev-h {
        left: -5% !important;
        display: block !important;
    }

    .popup_productosSugeridos .previous_ofertas-popup.next.js-slick-next-h {
        display: block !important;
        right: -5% !important;
    }

.mensaje_noExisteProducto {
    display: block;
    height: 79px;
    background: #f7f7f7;
    padding-left: 32px;
    margin-bottom: 14px;
    position: relative;
}

    .mensaje_noExisteProducto:after, .mensaje_noExisteProducto:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .mensaje_noExisteProducto:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #f7f7f7;
        border-width: 17px;
        position: absolute;
        top: -40%;
        left: 5%;
        z-index: 5;
    }

    .mensaje_noExisteProducto h1 {
        font-family: 'Lato';
        font-size: 20px;
        color: #000;
        font-weight: normal !important;
        position: absolute;
        top: 50%;
        left: 13%;
        margin-top: -11px;
    }

.popup_productosSugeridos .contenedor_productosSugeridos div:first-child {
    float: left;
}

.popup_productosSugeridos .contenedor_productosSugeridos div:nth-child(2) {
    float: right;
}

.popup_productosSugeridos .contenedor_productosSugeridos div:first-child h5 {
    display: block;
    margin-bottom: 17px;
    padding: 0;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    color: #000;
    font-weight: bold !important;
    text-align: left;
}

.contenedor_productosSugeridos div:nth-child(2) h5 {
    font-family: 'Lato';
    font-size: 14px;
    color: #a1a1a1;
    display: inline-block;
    margin: 0 10px 0 0;
    text-align: right;
}

.contenedor_productosSugeridos div:nth-child(2) .btn_cerrar_opcionNoGracias {
    display: inline-block;
    color: #CCC;
}

    .contenedor_productosSugeridos div:nth-child(2) .btn_cerrar_opcionNoGracias img {
        width: 59%;
        vertical-align: middle;
        margin-bottom: 4.5px;
        opacity: .8;
    }

.carousel_productos_sugeridos {
    display: inline-block;
    width: 100%;
    max-width: 542px;
    margin: 0 15px 0 15px;
    vertical-align: middle;
}

    .carousel_productos_sugeridos .producto_carousel {
        display: inline-block;
        overflow: hidden;
        position: relative;
        padding: 0;
        width: 50% !important;
        max-width: 265px;
        height: auto !important;
        background: #fff;
        border: 0 !important;
        box-shadow: none !important;
        margin-bottom: 0 !important;
    }

        .carousel_productos_sugeridos .producto_carousel .producto_img {
            position: relative;
            display: block;
            margin: 0 auto;
            background: #fff;
            width: 43%;
            height: 200px;
            margin-right: 0;
            text-align: center;
            float: left;
        }

            .carousel_productos_sugeridos .producto_carousel .producto_img img {
                position: absolute;
                top: 50%;
                margin-top: -100px;
                left: 50%;
                margin-left: -83px;
            }

        .carousel_productos_sugeridos .producto_carousel .producto_nombre_descripcion {
            width: 56%;
            height: 200px;
            font-family: 'Lato';
            letter-spacing: .2px;
            text-align: left;
            float: right;
            position: relative;
            padding-top: 18px;
            padding-left: 0;
            padding-right: 28px;
            z-index: 5;
        }

            .carousel_productos_sugeridos .producto_carousel .producto_nombre_descripcion .nombre_producto {
                margin-bottom: 10px;
            }

        .carousel_productos_sugeridos .producto_carousel .producto_precio {
            text-align: left;
            padding-left: 0;
        }

            .carousel_productos_sugeridos .producto_carousel .producto_precio .producto_precio_normal {
                display: none;
                margin: 0;
                padding: 0;
                text-align: left;
                text-decoration: line-through;
                font-size: 12px;
                width: 100%;
                padding-right: 0;
            }

            .carousel_productos_sugeridos .producto_carousel .producto_precio .producto_precio_oferta {
                display: block;
                margin: 0;
                padding: 0;
                text-align: left;
                font-size: 16px;
                width: 100%;
                padding-left: 0;
                color: #000;
            }

        .carousel_productos_sugeridos .producto_carousel .contenedor_cantidad_producto {
            margin: 0 auto;
            width: 78.8%;
        }

    .carousel_productos_sugeridos .productos_carousel .boton_elegirTono {
        display: none;
        margin: 0 auto;
        width: 100%;
        max-width: 207px;
        height: 45px;
        line-height: 45px;
        background: #fff;
        color: #000;
        text-align: center;
        border: 2px solid #000;
        font-size: 12.5px;
        font-weight: bold;
    }
/* POPUP INVITACIÓN FLEXIPAGO */
.contenedor_popup_agregarUnidades, .contenedor_popup_ofertaFinal, .contenedor_popup_detalleCarousel, .contenedor_popup_misDatos, .contenedor_fondo_popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent url('/Content/Images/bg_popups.png') repeat left top;
    z-index: 1000;
    overflow: auto;
}

.contenedor_popup_error {
    z-index: 2000;
}

.fondo_tutorial {
    background: transparent url('/Content/Images/bg_popup_tutorial.png') repeat left top;
}

.btn_cerrar_invitacionFlexipago {
    display: block;
    width: 100%;
    max-width: 29px;
    height: auto;
    position: absolute;
    top: 5px;
    right: -43px;
}

    .btn_cerrar_invitacionFlexipago img {
        width: 100%;
        height: auto;
        border: 0;
    }

.popup_invitacionFlexiPago {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -203px auto 0 -309px;
    background: #fff;
    width: 100%;
    max-width: 618px;
    height: 406px;
    padding-top: 70px;
    padding-bottom: 70px;
    box-sizing: border-box;
    font-family: 'Lato';
    z-index: 3;
}

.contenido_popUp {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 458px;
    height: auto;
}

.titulo_invitacionFlexipago {
    width: 100%;
    margin: 0 0 19px 0;
    padding: 0;
    font-family: 'Lato';
    font-size: 28px;
    color: #000;
    font-weight: 300 !important;
    text-align: center;
}

    .titulo_invitacionFlexipago b {
        font-weight: bold;
    }

.mensaje_popUp_invitacionFlexipago {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    text-align: center;
    margin-bottom: 8px;
}

.area_logoFlexiPago {
    display: block;
    width: 131px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

    .area_logoFlexiPago img {
        margin: 0;
        width: 100%;
    }

.btn_grupo_invitacionFlexiPago {
    display: block;
    text-align: center;
    font-size: 14px;
}

.btn_conoceMas, .btn_inscribeteAhora {
    display: inline-block;
    width: 176px;
    height: 50px;
    line-height: 50px;
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.btn_conoceMas {
    border: 1px solid #000;
    color: #000;
    margin-right: 13px;
    background: #fff;
}

.btn_inscribeteAhora {
    border: none;
    background: #e81c36;
    color: #fff;
}

.btn_noInscripcion {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
    color: #000;
    font-family: 'Lato';
}
/* POPUP DEMANDA ANTICIPADA */
.contenedor_popup_demandaAnticipada {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent url('/Content/Images/bg_popups.png') repeat left top;
    z-index: 1000;
}

.popup_demandaAnticipada {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -253.5px auto 0 -311.5px;
    background: #fff;
    width: 100%;
    max-width: 623px;
    height: auto;
    padding-top: 42px;
    padding-left: 13px;
    padding-bottom: 40px;
    box-sizing: border-box;
    font-family: 'Lato';
    z-index: 4;
}

    .popup_demandaAnticipada .contenido_popUp {
        max-width: 566px;
    }

.titulo_demandaAnticipada {
    width: 100%;
    margin: 0 auto 19px auto;
    padding: 0;
    font-family: 'Lato';
    font-size: 21px;
    color: #000;
    font-weight: 300 !important;
    margin-bottom: 31px;
    text-align: center;
}

    .titulo_demandaAnticipada b {
        font-weight: bold;
    }

.mensaje_productoRegalo {
    display: block;
    font-size: 21px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor_condicionesDemanda {
    display: block;
    height: auto;
    padding-left: 11px;
}

.foto_referencial, .descripcion_condiciones {
    display: inline-block;
    vertical-align: middle;
}

.foto_referencial {
    position: relative;
    margin-right: 35px;
    width: 31.8%;
    height: 225px;
    border: none;
    background: url('/Content/Images/Esika/demanda_anticipada_regalo_img.png') center center no-repeat;
}

.ver_belcorpNoticias {
    display: block;
    position: absolute;
    bottom: -5%;
    left: 3%;
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.descripcion_condiciones {
    width: 58%;
}

    .descripcion_condiciones h6 {
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        color: #000;
        margin: 0 0 16px 0;
        padding: 0;
    }

    .descripcion_condiciones div {
        display: block;
        width: 97%;
        margin-bottom: 10px;
        margin-top: 12px;
    }

.icono_check {
    background: url('/Content/Images/icono_check.svg') center center no-repeat;
    width: 12px;
    height: 8px;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 7px;
}

.texto_descripcionCondiciones {
    width: 91.3%;
}

.descripcion_condiciones div span {
    display: inline-block;
    color: #000;
}

.btn_participaAhora {
    border: 0;
    margin-top: 12px;
    width: 100%;
    height: 45px;
    background: #e81c36;
    color: #fff;
    font-size: 13px;
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
    line-height: 45px;
}

.contenedor_notasDemanda {
    display: block;
    padding: 0 5px;
}

    .contenedor_notasDemanda div {
        display: inline-block;
        vertical-align: top;
    }

.descripcion_notaDemanda {
    width: 100%;
    padding-left: 10px;
}

.icono_notaDemanda, .texto_notaDemanda {
    display: inline-block;
    vertical-align: top;
}

.icono_notaDemanda {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url('/Content/Images/RevistaDigital/icono_advertencia_notificacion.svg') center center no-repeat;
}

.texto_notaDemanda {
    width: 91%;
}

.btn_noGracias {
    width: 97%;
    padding: 0 11px;
    margin-bottom: 25px;
    margin-top: -8px;
    text-align: right;
}

    .btn_noGracias a {
        display: inline-block;
        width: 17%;
        text-align: right;
    }

        .btn_noGracias a span {
            font-size: 13px;
            color: #969696;
        }
/* POPUP AGREGAR UNIDADES */
.contenedor_popup_agregarUnidades {
    display: none;
}

.btn_cerrar_agregarUnidades {
    display: block;
    width: 100%;
    max-width: 29px;
    height: auto;
    position: absolute;
    top: 5px;
    right: -43px;
}

    .btn_cerrar_agregarUnidades img {
        width: 100%;
        height: auto;
        border: 0;
    }

.popup_agregarUnidades {
    display: block;
    position: relative;
    top: 50%;
    margin: -153px auto 0 auto;
    background: #fff;
    width: 100%;
    max-width: 481px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    font-family: 'Lato';
}

.icono_aprobacion {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url('/Content/Images/Esika/icono_check_esika.png') center center no-repeat;
    margin-bottom: 18px;
    background-size: cover;
}

.icono_exclamacion {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url('/Content/Images/Esika/icono_exclamacion_esika.png') center center no-repeat;
    margin-bottom: 18px;
    background-size: cover;
}

.titulo_agregarUnidades {
    width: 100%;
    margin: 0 0 19px 0;
    padding: 0;
    font-family: 'Lato';
    font-size: 28px;
    color: #000;
    font-weight: 300;
    text-align: center;
}

    .titulo_agregarUnidades b {
        font-weight: bold;
    }

.mensaje_agregarUnidades {
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    text-align: center;
    margin-bottom: 25px;
}

.btn_ok {
    display: block;
    width: 139px;
    height: 45px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    line-height: 45px;
    background: #e81c36;
    color: #fff;
    margin: 0 auto;
    border: 0;
}
/* POPUP OFERTA FINAL */
.contenedor_popup_ofertaFinal {
    display: none;
}

.btn_cerrar_ofertaFinal {
    display: block;
    width: 100%;
    max-width: 29px;
    height: auto;
    position: absolute;
    top: 5px;
    right: -43px;
}

    .btn_cerrar_ofertaFinal img {
        width: 100%;
        height: auto;
        border: 0;
    }

.texto_btn_cerrar {
    font-size: 9px;
    color: #fff;
    letter-spacing: .5px;
    position: relative;
    left: -6px;
}

.popup_ofertaFinal {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    background: #fff;
    width: 850px;
    height: 608px;
    padding-top: 40px;
    box-sizing: border-box;
    font-family: 'Lato';
    margin-top: 35px;
    vertical-align: top;
}

    .popup_ofertaFinal.pt-26 {
        padding-top: 26px;
    }

.icono_mensaje_alerta.tamanioIcono {
    width: 55px;
    height: 55px;
}

.center_text {
    text-align: center;
}

.popup_ofertaFinal .icono_advertencia {
    display: block;
    width: 60px;
    height: 60px;
    background: url('/Content/Images/Esika/icono_exclamacion_esika.svg') center center no-repeat;
    margin: 0 auto 18px auto;
    background-size: cover;
}

.popup_ofertaFinal .contenido_popUp {
    max-width: 100%;
}

.titulo_ofertaFinal {
    width: 100%;
    margin-top: 10px;
    padding: 0;
    font-family: 'Lato';
    font-size: 22px;
    color: #000000;
    font-weight: bold !important;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

    .titulo_ofertaFinal.mb-13 {
        margin-bottom: 13px;
    }

.descripcion_ofertaFinal {
    display: block;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .5px;
    text-align: center;
    margin-bottom: 18px;
}

.descripcion_cant_sets_productos_ofertaFinal {
    display: block;
    text-align: left;
    padding-left: 88px;
    box-sizing: border-box;
    margin-bottom: -5px;
}

.texto_complemento_oferta {
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    text-align: center;
}

.contenedor_bloques_agregaProductos {
    display: block;
    height: auto;
    position: relative;
    z-index: 2;
}

.bloque_descripciones {
    width: 42%;
    padding-left: 41px;
    height: 329px;
}

.descripcion_principal {
    display: block;
    font-size: 17px;
    color: #000;
    margin-bottom: 18px;
}

.enlace_catalogos {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 140px;
}

    .enlace_catalogos a {
        text-decoration: underline;
    }

.btn_noGracias_agregarProductos {
    display: block;
    border: none;
    background: transparent;
    width: 152px;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    color: #000;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    margin-top: -13px;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.icono_terminar_pedido {
    background: url('https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/eFrB5kIPNXTjyJd/icono-reserva.png') no-repeat;
    background-size: 25px;
    padding-left: 40px;
    background-position: 10px 14px;
}

.bloque_carousel {
    width: 53%;
}

    .bloque_carousel .content_item_carrusel_ofertaFinal {
        padding-bottom: 20px;
        margin-left: 17px;
        margin-right: 17px;
        float: left;
        vertical-align: middle;
        overflow: hidden;
    }

    .bloque_carousel .producto_img_home {
        margin-top: 7px;
    }

    .bloque_carousel .producto_precio {
        margin-bottom: 3px;
    }

    .bloque_carousel .btn_controles_carousel {
        float: left;
        height: 329px;
    }

.btn_controles_carousel.btn_control_atras {
    margin-right: 10px;
}

    .btn_controles_carousel.btn_control_atras a, .btn_controles_carousel.btn_control_siguiente a {
        position: relative;
        top: 50%;
        margin-top: -35px;
    }

.btn_controles_carousel.btn_control_siguiente {
    margin-left: 10px;
}
/* POPUP ACEPTACIÓN DE CONTRATO */
.btn_cerrar_aceptacionContrato {
    display: block;
    width: 100%;
    max-width: 29px;
    height: auto;
    position: absolute;
    top: 5px;
    right: -43px;
}

    .btn_cerrar_aceptacionContrato img {
        width: 100%;
        height: auto;
        border: 0;
    }

.popup_aceptacionContrato {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -203px auto 0 -309px;
    background: #fff;
    width: 100%;
    max-width: 618px;
    height: 406px;
    padding-top: 40px;
    padding-bottom: 26px;
    box-sizing: border-box;
    font-family: 'Lato';
    z-index: 2;
}

.titulo_aceptacionContrato {
    width: 100%;
    margin: 0 0 18px 0;
    padding: 0;
    font-family: 'Lato';
    font-size: 28px;
    color: #000;
    font-weight: 300 !important;
    text-align: center;
}

    .titulo_aceptacionContrato b {
        font-weight: bold;
    }

.mensaje_popUp_aceptacionContrato {
    display: block;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 1.63;
}

.enlace_detalleContrato {
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 27px;
    text-decoration: underline;
}

.btn_aceptarContrato {
    display: block;
    margin: 0 auto 16px auto;
    width: 139px;
    height: 45px;
    line-height: 45px;
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
    border: none;
    background: #e81c36;
    color: #fff;
}
/* POPUP DETALLE CARRUSEL OFERTAS PARA TI - LANZAMIENTO */
#popupDetalleCarousel_lanzamiento {
    display: none;
}

.popup_detalleCarousel {
    display: block;
    position: relative;
    top: 50%;
    margin: -20% auto 0 auto;
    background: #fff;
    width: 100%;
    height: auto;
    padding-top: 28px;
    padding-bottom: 28px;
    box-sizing: border-box;
    font-family: 'Lato';
}

.lanzamiento {
    max-width: 378px;
}

.btn_cerrar_detalleCarousel {
    display: block;
    width: 100%;
    max-width: 29px;
    height: auto;
    position: absolute;
    top: 5px;
    right: -43px;
}

    .btn_cerrar_detalleCarousel img {
        width: 100%;
        height: auto;
        border: 0;
    }

.popup_detalleCarousel .content_item_carrusel {
    box-shadow: none;
    border: none;
    margin: 0 auto;
    height: auto;
    float: none;
}

    .popup_detalleCarousel .content_item_carrusel .etiqueta_producto {
        top: -1%;
        right: -3.2%;
    }

.mensaje_advertencia_detalleCarousel {
    width: 83%;
    margin: 14px auto 0 auto;
}

    .mensaje_advertencia_detalleCarousel .icono_advertencia_notificacion {
        margin-bottom: 21px;
    }
/* POPUP DETALLE CARRUSEL OFERTAS PARA TI - PACK NUEVAS */
#popupDetalleCarousel_packNuevas {
    display: none;
}

.packNuevas {
    max-width: 633px;
}

    .packNuevas .contenido_popUp {
        max-width: 600px;
    }

.bloque_producto_packNuevas, .descripcion_set_packNuevas {
    display: inline-block;
    vertical-align: middle;
}

.bloque_producto_packNuevas {
    width: 41%;
}

.descripcion_set_packNuevas {
    width: 52%;
    padding-left: 7%;
}

.bloque_producto_packNuevas .producto_precio {
    margin-bottom: 9px;
}

.monto_ganancia_producto {
    display: inline-block;
    background: #000;
    width: 136px;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 18px;
}

.descripcion_set_packNuevas h6 {
    font-size: 14px;
    font-weight: 700 !important;
    letter-spacing: .2px;
    color: #000;
    margin-bottom: 15px;
}

.descripcion_lista {
    display: block;
    margin-bottom: 22px;
}

    .descripcion_lista span {
        display: block;
        height: 33px;
        border-top: 1px solid #CCC;
        line-height: 32px;
        font-size: 12px;
        color: #000;
    }

        .descripcion_lista span:last-child {
            border-bottom: 1px solid #CCC;
        }

.descripcion_set_packNuevas .mensaje_advertencia_detalleCarousel {
    width: 98%;
}
/* POPUP ACTUALIZAR MIS DATOS */
.popup_actualizarMisDatos {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -271px auto 0 auto;
    background: #fff;
    width: 100%;
    max-width: 721px;
    height: auto;
    min-height: 499px;
    padding-top: 36px;
    padding-bottom: 13px;
    box-sizing: border-box;
    font-family: 'Lato';
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    z-index: 5;
}

.incremento_altura {
    margin: -301px auto 0 -360.5px;
    min-height: 570px;
}

.incremento_altura_misDatos {
    margin: -265.5px auto 0 -360.5px;
    min-height: 516px;
}

.popup_actualizarMisDatos .contenido_popUp {
    max-width: 600px;
}

.btn_cerrar_actualizarMisDatos {
    display: block;
    width: 100%;
    max-width: 29px;
    height: auto;
    position: absolute;
    top: 5px;
    right: -43px;
}

    .btn_cerrar_actualizarMisDatos img {
        width: 100%;
        height: auto;
        border: 0;
    }

.titulo_actualizarMisDatos {
    width: 78%;
    margin: 0 auto 40px auto;
    padding: 0;
    font-family: 'Lato';
    font-size: 26px;
    color: #000;
    font-weight: 300 !important;
    text-align: center;
}

    .titulo_actualizarMisDatos b {
        font-weight: bold;
    }

.formulario_actualizar_datos {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.grupo_input_actualizarMisDatos, .grupo_input_actualizarMisDatos div label {
    display: block;
    cursor: text;
}

.grupo_input_actualizarMisDatos {
    margin-bottom: 15px;
}

.grupo_input_password {
    display: none;
}

.grupo_input_actualizarMisDatos:nth-child(3) {
    margin-bottom: 10px;
}

.grupo_input_actualizarMisDatos:nth-child(4) {
    margin-bottom: 7px;
}

.grupo_input_actualizarMisDatos div label {
    margin-bottom: 5px !important;
    font-size: 13px;
}

.grupo_input_actualizarMisDatos div input[type='text'], .grupo_input_actualizarMisDatos div input[type='email'], .grupo_input_actualizarMisDatos div input[type='password'] {
    display: block;
    border: 1px solid #CCC;
    background: #fff;
    width: 272px;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding-left: 15px;
    color: #666;
    font-family: 'Lato';
}

.grupo_input_actualizarMisDatos div, .grupo_input_actualizarMisDatos a {
    display: inline-block;
    vertical-align: bottom;
}

.cambiar_contrasenia {
    width: 272px;
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
}

.grupo_input_actualizarMisDatos div:first-child {
    margin-right: 50px;
}

.datos_obligatorios {
    width: 272px;
    vertical-align: middle !important;
}

.checkbox_condiciones {
    margin-right: 9px !important;
    vertical-align: top !important;
}

    .checkbox_condiciones input[type='checkbox'] {
        display: none !important;
    }

.texto_terminosCondiciones {
    font-size: 12px !important;
    padding-left: 25px;
    position: relative;
}

    .texto_terminosCondiciones span a {
        color: #000;
        text-decoration: underline;
    }

    .texto_terminosCondiciones:before {
        content: '';
        position: absolute;
        left: 0;
        width: 16px;
        height: 16px;
        margin-top: 3px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        background: #fff;
        border: 2px solid #bababa;
        cursor: pointer;
        z-index: 10;
    }

.checkbox_condiciones input[type='checkbox']:checked + .texto_terminosCondiciones:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #e81c36;
    text-align: center;
}

.asterisco_actualizar_datos {
    color: #e81c36;
}

.contenedor_boton_actualizar, .contenedor_boton_cancelar {
    vertical-align: middle !important;
    height: 45px;
}

.btn_actualizarMisDatos, .btn_cancelar {
    display: block;
    margin: 0 auto 16px auto;
    width: 272px;
    height: 45px;
    line-height: 45px;
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
}

.btn_actualizarMisDatos {
    border: none;
    background: #e81c36;
    color: #fff;
}

.btn_cancelar {
    border: 1px solid #000;
    background: #fff;
    color: #000;
}

/* POPUP MIS DATOS */
#popupMisDatos {
    display: block;
    margin: -298.5px auto 0 auto;
}

.titulo_misDatos {
    margin: 7px auto 13px auto;
}

.misDatos {
    margin-top: 40px;
    margin-bottom: 20px;
}

.datos_consultora {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.datos_consultora_img, .datos_consultora_textos {
    display: inline-block;
    vertical-align: middle;
}

.datos_consultora_img {
    width: 21%;
    height: 117px;
    margin-left: 9px;
}

.datos_consultora_textos {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.datos_cod_usuario, .datos_nombre_usuario {
    font-size: 14px;
}

    .datos_cod_usuario span:first-child, .datos_nombre_usuario span:first-child {
        min-width: 140px;
        margin-right: 50px;
        display: inline-block;
        vertical-align: top;
        font-weight: 700;
        color: #333;
    }

    .datos_cod_usuario span:last-child, .datos_nombre_usuario span:last-child {
        width: 56%;
        color: #666;
        display: inline-block;
        vertical-align: top;
    }

.datos_consultora .cambiar_contrasenia {
    text-align: left;
}

.enlace_cambiarContrasenia {
    margin-top: 12px;
}

.campos_actualizarDatos {
    display: block;
}

.campos_cambiarContrasenia {
    display: none;
}
/* POPUP TUTORIAL HOME */
.fondo_oscuro {
    background: rgba(0,0,0,.8);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
}

.opcionTutorial {
    position: relative;
    height: 27px;
    z-index: 1000;
    background: #fff;
    border-radius: 100%;
}

#popup_tutorial {
    overflow: auto;
}

.popup_tutorial_home {
    display: block;
    position: relative;
    margin: 8px auto 8px auto;
    width: 100%;
    max-width: 900px;
    height: 642px;
    font-family: 'Lato';
    z-index: 7;
}

.popup_tutorial_pedido {
    display: block;
    position: relative;
    margin: 8px auto 8px auto;
    width: 100%;
    max-width: 614px;
    height: 639px;
    font-family: 'Lato';
    z-index: 5;
}
/* FIN POPUP TUTORIAL HOME */

/* POPUP VIDEO INTRODUCTORIO */
.popup_video_introductorio {
    display: block;
    position: relative;
    top: 50%;
    margin: 5% auto auto auto;
    width: 95%;
    max-width: 1040px;
    height: auto;
    box-sizing: border-box;
    font-family: 'Lato';
    z-index: 8;
}

.contenedor_video_introductorio {
    display: block;
    width: 100%;
    height: auto;
}

    .contenedor_video_introductorio iframe {
        display: block;
        width: 100%;
        height: 547px;
    }
/* ACTUALIZACIÓN PÁGINA MIS PAGOS */
.titulo_misPagos {
    width: 16.85% !important;
}
/* MIS PEDIDOS */
.contenedor_vistaMisPedidos {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 90px;
    margin-bottom: 30px;
}

.titulo_vistaMisPedidos {
    width: 100%;
    max-width: 427px;
    height: 51px;
    color: #fff;
    font-family: 'Lato';
    font-size: 18px;
    text-transform: uppercase;
    background: #000;
    line-height: 51px;
    vertical-align: middle;
    padding-left: 9%;
    box-sizing: border-box;
    font-weight: normal !important;
}
/*Carrousel*/
.pedidos_producto_item {
    width: 100%;
    float: left;
    height: 197px;
    position: relative;
    z-index: 20;
    border-right: 1px solid black;
}

    .pedidos_producto_item:hover {
        background: #faf9fb;
    }

.pedidos_imagen_item {
    width: 120px;
    height: 120px;
    overflow: hidden;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
}

.pedidos_datos {
    margin-top: 10px;
    float: left;
    height: 145px;
    overflow: hidden;
    width: 135px;
    margin-left: 30px;
}

.pedidos_datos_titulo {
    font-family: 'lato';
    font-weight: 700;
    font-size: 9.3pt;
    letter-spacing: .5px;
    text-align: center;
    color: black;
}

.pedidos_datos_info {
    width: 135px;
    height: 26px;
    overflow: hidden;
    font-family: 'lato';
    font-weight: 400;
    color: black;
    font-size: 8pt;
    text-align: center;
    line-height: 13px;
}

.pedidos_para_ti {
    font-family: 'lato';
    font-weight: 400;
    font-size: 9pt;
    margin-top: 10px;
    text-align: center;
}

.liquidacion_precio_tachado {
    font-family: 'lato';
    font-size: 10pt;
    margin-top: 5px;
    color: #999999;
    margin-left: 85px;
    letter-spacing: -1px;
    margin-right: 10px;
    font-weight: 700;
    margin-bottom: 5px;
    float: left;
    color: #999999;
    text-decoration: line-through;
}

.liquidacion_precio {
    font-family: 'lato';
    font-size: 10pt;
    color: #999999;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    float: left;
}

    .liquidacion_precio span {
        margin-left: 5px;
        font-size: 13pt;
        color: black;
    }

.unid {
    margin-top: 18px;
    float: left;
}

.boton-pedido {
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid black;
    width: 228px;
    margin-left: 58px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-right: 2px;
    text-align: center;
    letter-spacing: 1.5px;
    color: black;
    font-family: 'lato';
    font-weight: 700;
    font-size: 8pt;
    background: url('/Content/Images/Esika/boton_pedido.png') no-repeat;
    background-position: 74px 8px;
}

    .boton-pedido::after {
        content: '';
        width: 0;
        height: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-style: solid;
        border-width: 0 0 0 0;
        border-color: black transparent transparent transparent;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        -webkit-transition: .8s;
        transition: .8s;
        z-index: -1;
    }

    .boton-pedido:hover {
        background-position: 74px 8px !important;
        background: url('/Content/Images/Esika/boton_pedido_hover.png') no-repeat;
        background: black url('/Content/Images/Esika/boton_pedido_hover.png') no-repeat\9;
        color: white;
    }

        .boton-pedido:hover::after {
            border-width: 330px 330px 0 0;
        }

    .boton-pedido:active {
        background: black;
    }
/*fin del carrousel*/
.oferta_para_ti {
    position: absolute;
    left: 0;
    z-index: 20;
    width: 96px;
    height: 22px;
    background: url('/Content/Images/Esika/oferta.png') no-repeat;
}

.reco_star {
    position: absolute;
    left: 105px;
    background: url('/Content/Images/Esika/star_reco.png') no-repeat;
    background-size: 23px 23px;
    width: 32px;
    height: 32px;
}

.oferta_web {
    position: absolute;
    left: 0;
    z-index: 21;
    width: 98px;
    height: 22px;
    background: url('/Content/Images/Esika/oferta_web.png') no-repeat;
}

.pedidos_subtitulo {
    font-family: 'lato';
    font-weight: 300;
    font-size: 16pt;
    margin-top: 30px;
    margin-bottom: 18px;
    letter-spacing: 1.5px;
}

    .pedidos_subtitulo span {
        font-weight: 700;
    }

    .pedidos_subtitulo a {
        float: right;
        font-size: 8pt;
        font-weight: 400;
        letter-spacing: .8px;
        text-transform: uppercase;
        margin-top: 10px;
    }

        .pedidos_subtitulo a::first-letter {
            color: #e81c36;
        }

.pedidos_tabla_titulo {
    margin-top: 38px;
    float: right;
    width: 700px;
    font-family: 'lato';
    font-weight: 300;
    font-size: 11pt;
    color: black;
}

.pedido_codigo {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 52px;
    min-height: 20px;
}

.pedido_unidades {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 94px;
    min-height: 20px;
}

.pedido_precio_unitario {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 111px;
    min-height: 20px;
}

.pedido_precio_total {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 134px;
    min-height: 20px;
}

.pedido_cliente {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 240px;
    min-height: 20px;
}

    .pedido_cliente select {
        font-family: 'lato';
        text-align: left;
        min-height: 20px;
        width: 90%;
        color: black;
        font-weight: 300;
        font-size: 11pt;
    }

        .pedido_cliente select opcion {
            font-family: 'lato';
            text-align: left;
            color: black;
            font-weight: 300;
            font-size: 11pt;
        }

.pedido_eliminar {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 68px;
}

.pedido_datos_tabla {
    overflow: hidden;
    width: 100%;
    font-family: 'lato';
    font-size: 10pt;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .pedido_datos_tabla:hover {
        background: #faf9fb;
    }

.pedido_nombre {
    font-weight: 700;
    width: 160px;
    margin-right: 10px;
    float: left;
}

.pedido_nombre_producto {
    width: 140px;
    max-height: 40px;
    overflow: hidden;
}

.pedido_descripcion {
    padding-right: 20px;
    width: 240px;
    float: left;
    min-height: 50px;
}

.pedido_aviso {
    font-family: 'lato';
    font-weight: 400;
    background: #a18328;
    color: white;
    margin-top: 6px;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10pt;
}

.pedido_aviso_oferta {
    font-family: 'lato';
    font-weight: 400;
    background: #e81c36;
    color: white;
    margin-top: 6px;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10pt;
}

.pedido_aviso_web {
    font-family: 'lato';
    font-weight: 400;
    background: black;
    color: white;
    margin-top: 6px;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10pt;
}

.linea_superior {
    height: 1px;
    width: 100%;
    background: #ccc;
}

.eliminar_todo {
    float: left;
    margin-top: 15px;
    font-family: 'lato';
    font-size: 7.5pt;
}

    .eliminar_todo a {
        margin-left: 5px;
        float: right;
        color: #e81c36;
        font-weight: 900;
        font-size: 6.9pt;
        text-decoration: underline;
    }

.pedido_paginas {
    float: right;
    text-align: right;
    margin-top: 13px;
    font-family: 'lato';
    font-size: 10pt;
}

    .pedido_paginas a {
        padding-right: 5px;
        padding-left: 5px;
        float: left;
        margin-left: 5px;
    }

        .pedido_paginas a img {
            margin-top: 3px;
        }

.borde_pagina {
    margin-top: 3px;
    width: 1px;
    height: 13px;
    background: black;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.pedido_monto_total {
    float: left;
    font-weight: 300;
    font-family: 'lato';
    font-size: 12pt;
    color: black;
    margin-top: 40px;
}

.pedido_monto_precio {
    width: 160px;
    text-align: center;
    float: left;
    font-weight: 700;
    margin-top: 38px;
    font-size: 14pt;
    font-family: 'lato';
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}

.pedido_boton_guardar {
    width: 175px;
    margin-top: 32px;
    text-align: center;
    padding: 8px;
    background: #e81c36;
    float: left;
    font-family: 'lato';
    letter-spacing: 1.5px;
    color: white;
    font-size: 8pt;
    height: 35px;
    border: 0;
    text-transform: uppercase;
}

.pedido_boton_ayuda {
    width: 125px;
    text-align: center;
    height: 113px;
    margin-left: 10px;
    padding-left: 14px;
    padding-right: 8px;
    padding-top: 10px;
    line-height: 13px;
    float: left;
    font-family: 'lato';
    font-size: 8.5pt;
    background: url('/Content/Images/Esika/ayuda_pedido.png') no-repeat;
}

.pop_pedido {
    top: 53px;
    right: 72px;
    overflow: hidden;
    position: absolute;
    z-index: 901;
    width: 310px;
    height: 268px;
    padding-top: 38px;
    padding-left: 35px;
    padding-right: 35px;
    background: url('/Content/Images/Esika/pop_liquidacion.png') no-repeat;
}
/*POP UP LIQUIDACION*/
.pop_liquidacion_home {
    top: 43px;
    right: 72px;
    overflow: hidden;
    position: absolute;
    z-index: 901;
    width: 310px;
    height: 268px;
    padding-top: 38px;
    padding-left: 35px;
    padding-right: 35px;
    background: url('/Content/Images/Esika/pop_liquidacion.png') no-repeat;
}

.pop_liquidacion {
    top: -19px;
    right: 72px;
    overflow: hidden;
    position: absolute;
    z-index: 901;
    width: 310px;
    height: 268px;
    padding-top: 38px;
    padding-left: 35px;
    padding-right: 35px;
    background: url('/Content/Images/Esika/pop_liquidacion.png') no-repeat;
}

.check_liquidacion {
    margin-top: 4px;
    margin-bottom: 10px;
    float: left;
    width: 31px;
    height: 29px;
    margin-left: 10px;
}

.titulo_liquidacion {
    width: 180px;
    float: left;
    font-family: 'Lato';
    letter-spacing: 1px;
    font-size: 10pt;
    margin-left: 10px;
    font-weight: 700;
}

.imagen_pop_l {
    text-align: center;
    width: 73px;
    height: 93px;
    margin-top: 20px;
    float: left;
    overflow: hidden;
}

    .imagen_pop_l img {
        width: 100%;
    }

.info_pop_liquidacion {
    float: left;
    text-align: center;
    margin-top: 16px;
    margin-left: 10px;
    margin-bottom: 11px;
}

.info_pop_liquidacion_sinimagen * {
    width: 100% !important;
}

.info_pop_liquidacion h1 {
    width: 157px;
    height: 31px;
    overflow: hidden;
    font-family: 'lato';
    font-size: 9pt;
    text-align: center;
    color: black;
    margin-bottom: 11px;
}

.info_pop_liquidacion h2 {
    width: 157px;
    font-family: 'lato';
    font-weight: 700 !important;
    font-size: 9pt;
    text-align: center;
    color: black;
}

.info_pop_liquidacion p {
    width: 157px;
    font-family: 'OldStandard-Italic';
    font-weight: 700;
    font-size: 12pt;
    color: #e81c36;
    text-align: center;
    margin-bottom: 13px;
}

.boton_pop_up {
    width: 110px;
    text-align: center;
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    font-family: 'lato';
    font-weight: 700 !important;
    letter-spacing: 1px;
    border: 1px solid black;
}
/*POP UP PEDIDO*/
.pop_pedido_mensaje {
    width: 300px;
    font-family: 'lato';
    font-size: 10pt;
    color: black;
    margin-top: 20px;
    text-align: center;
}

    .pop_pedido_mensaje span {
        font-family: 'OldStandard-Italic';
        font-size: 12pt;
        font-weight: bold;
        letter-spacing: -1px;
    }
/*BOTON FLOTANTE LIQUIDACION PEDIDO*/
.envolvente_pop_up {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: -58px;
    position: fixed;
    z-index: 1000;
}
/*POP UP GENERALES*/
.terminos_content_contrato .div-3 {
    text-align: center;
}

.boton_right_ayuda {
    float: right;
}

.boton_left_ayuda {
    width: 65%;
    float: left;
}

.imgIndicadorCUV {
    float: right;
    margin-right: 15px;
    margin-left: -15px;
}
/*POP UP CARGANDO*/
#loadingScreen {
    padding: 20px 30px;
}

.loadingScreen-titulo {
    font-weight: 700;
    font-family: lato;
    font-size: 10pt;
    color: #0C0B0C;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.loadingScreen-mensaje {
    background: url('/Content/Images/Loading.gif') no-repeat 0 0;
    padding-left: 25px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-family: 'lato';
    font-size: 10pt;
    color: black;
    margin-top: 20px;
}

.texto-centrado {
    text-align: center;
}

.btnBotonRojo {
    text-transform: uppercase;
    margin-top: 10px;
    height: 35px;
    letter-spacing: 1.5px;
    padding: 0;
    background: #e81c36;
    color: white;
    font-family: 'lato';
    font-size: 10.5px;
    border: 0;
    font-weight: 700;
    width: 240px;
}

.btnBotonNegro {
    text-transform: uppercase;
    margin-top: 10px;
    height: 35px;
    letter-spacing: 1.5px;
    padding: 0;
    font-family: 'lato';
    font-size: 10.5px;
    font-weight: 700;
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 240px;
}

    .btnBotonNegro:hover {
        background-color: black;
        color: white;
    }

.pop_pedido_mensaje_prol {
    width: 100%;
    font-family: 'lato';
    font-size: 10pt;
    color: black;
    margin-top: 20px;
    text-align: center;
}

.mensaje_producto_complemento {
    border: solid 1px #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    font-family: 'lato';
}

.boton_cerrar_s {
    overflow: hidden;
    float: left;
}

    .boton_cerrar_s a:hover {
        text-decoration: underline;
    }

.calendario_svg {
    background: url('/Content/Images/Esika/calendario.png') no-repeat;
    background-position: 0 4px;
}

.ocultar_perfil {
    display: none;
}

.mostrar_perfil {
    display: block;
}

.new_menu a:hover {
    text-decoration: underline;
}

.logo_esika a {
    height: 50px;
    background: url('/Content/Images/Esika/logo_esika.png') no-repeat;
    background-size: cover;
}

    .logo_esika a.negro {
        background: url('/Content/Images/Esika/logo_esika_negro.png') no-repeat;
        background-size: cover;
    }

.cliente_detalle {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 14px;
    float: right;
    margin-right: 350px;
    font-family: Lato;
}

.boton-home a {
    color: black;
    padding-top: 32px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.mensaje_adicional_producto {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

.tabla_pedidos tr.fila_mensajeProductoAgotado td {
    padding-top: 0;
    padding-bottom: 0 !important;
    border: 0;
}

.mensaje_productoAgotado {
    display: block;
    position: relative;
    width: 100%;
    background: #fee5e7;
    height: 55px;
    z-index: 3;
    margin-top: -10px;
    font-weight: normal;
}

    .mensaje_productoAgotado span {
        text-decoration: underline;
    }

    .mensaje_productoAgotado:after, .mensaje_productoAgotado:before {
        bottom: 100%;
        left: 17%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .mensaje_productoAgotado:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fee5e7;
        border-width: 12px;
    }

    .mensaje_productoAgotado:before {
        border-color: rgba(0, 0, 0, 0);
        border-bottom: 0 solid transparent;
        border-width: 36px;
        margin-left: -36px;
    }

    .mensaje_productoAgotado p {
        font-family: 'Lato';
        font-size: 12px;
        padding-left: 21.5px;
        padding-top: 7px;
        text-align: left;
        color: #d20000;
        height: auto;
        line-height: 20px;
    }
