@using Portal.Consultoras.Web.CustomHelpers
@{
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
}

@section styles
{
    <style>
        footer {
            display: none;
        }
    </style>
}

<div class="titulo_mobile">
    <a href="@Url.Action("Index", "Bienvenida", new { area = "Mobile" })" class="enlace_regresar catalogosP" title="Regresar" style="z-index: 10;"></a>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;HOME</span>
</div>

<div class="" style="border-bottom:0">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
</div>

<div class="wrapper_resumen_mobile" id="divDetalleContenido" style="padding-bottom:74px;">
    <div class="titulo_producto_no_encontrado tipografia_lato tipografia_lato_bold text-center">¡UPSS!</div>
    <div class="mensaje_producto_no_encontrado tipografia_lato tipografia_lato_regular text-center">El producto que estás buscando no se encuentra en esta campaña!</div>
    <button id="btnAceptarNoHayProducto" class="btn_aceptar_no_hay_producto tipografia_lato tipografia_lato_bold">VER OFERTAS</button>
</div>


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/FichaProducto/Index.js")"></script>
}