
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #f5f5f7 !important;
        }
    </style>
}
<div class="titulo_mobile">
    <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;LOS FAVORITOS DE TUS CLIENTES
</div>
<div class="fondo_f2f2f2">
    <div class="pestana_esika"></div><!--PESTANA ESIKA-->
    <div class="pestana_lbel"></div><!--PESTANA LBEL-->
</div>
<br/>
<br />
<div class="wrapper_resumen_mobile">
    <div id="liquidacionMobile" class="contenedor_productos_liquidacion">

        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="1">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7763">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="38819">
                <input type="hidden" class="clasePrecioUnidad" value="5.9">
                <input type="hidden" class="Stock" value="63">
                <input type="hidden" class="DescripcionProd" value="Cyzone Anillo Quiérete. En plástico rojo. Talla 8.">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="1">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_210070789_20151153676_01_xizfwicmqu.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Anillo Quiérete. En plástico rojo. Talla 8.</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">63</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">5.90</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="2">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7771">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="41058">
                <input type="hidden" class="clasePrecioUnidad" value="16.89">
                <input type="hidden" class="Stock" value="94">
                <input type="hidden" class="DescripcionProd" value="Cyzone Broche Fashion Sky.">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="2">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_210074943_20151157432_01_bvvzkkzlxm.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Broche Fashion Sky.</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">94</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">16.89</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="3">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7675">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="02044">
                <input type="hidden" class="clasePrecioUnidad" value="4.9">
                <input type="hidden" class="Stock" value="1780">
                <input type="hidden" class="DescripcionProd" value="Cyzone Fortilash Máscara Tratante para pestañas 8 ml. Tono F...">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="3">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Fortilash Máscara Tratante para pestañas 8 ml. Tono F...</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">1780</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">4.90</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="4">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7676">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="02250">
                <input type="hidden" class="clasePrecioUnidad" value="8.9">
                <input type="hidden" class="Stock" value="92">
                <input type="hidden" class="DescripcionProd" value="Cyzone Express Your Face Limpiadora Espumosa 120 ml.">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="4">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064494_201569985_01_ezobjlgjqd.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Express Your Face Limpiadora Espumosa 120 ml.</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">92</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">8.90</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="5">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7777">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="41549">
                <input type="hidden" class="clasePrecioUnidad" value="78.9">
                <input type="hidden" class="Stock" value="21">
                <input type="hidden" class="DescripcionProd" value="Cyzone Edredón Bed Prints. 100% poliéster y relleno de napa ...">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="5">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_210075983_201571444_01_dxokolmgza.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Edredón Bed Prints. 100% poliéster y relleno de napa ...</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">21</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">78.90</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="6">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7750">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="35090">
                <input type="hidden" class="clasePrecioUnidad" value="20.9">
                <input type="hidden" class="Stock" value="63">
                <input type="hidden" class="DescripcionProd" value="Cyzone Parches Love Patchs. Contiene 2 juegos de parches. En...">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="6">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_210079172_201629651_01_jzkztbuewo.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Parches Love Patchs. Contiene 2 juegos de parches. En...</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">63</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">20.90</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="7">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7776">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="41530">
                <input type="hidden" class="clasePrecioUnidad" value="10.9">
                <input type="hidden" class="Stock" value="57">
                <input type="hidden" class="DescripcionProd" value="Cyzone Protectores Protect Nail. En polipropileno. Medidas a...">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="7">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_210075971_20151156529_01_eaeeixyfdx.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Protectores Protect Nail. En polipropileno. Medidas a...</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">57</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">10.90</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="8">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7778">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="41553">
                <input type="hidden" class="clasePrecioUnidad" value="4.9">
                <input type="hidden" class="Stock" value="499">
                <input type="hidden" class="DescripcionProd" value="Cyzone Organizador Glam Wall. Son 6 organizadores para arete...">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="8">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_210075988_20151059618_01_iygvwcgboo.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Organizador Glam Wall. Son 6 organizadores para arete...</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">499</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">4.90</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="9">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7767">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="40098">
                <input type="hidden" class="clasePrecioUnidad" value="4.9">
                <input type="hidden" class="Stock" value="496">
                <input type="hidden" class="DescripcionProd" value="Cyzone Trípode Top Pic. 3 brazos articulados para amarrarlo ...">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="9">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_210072667_20151059413_01_tnrsbjmkbw.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Trípode Top Pic. 3 brazos articulados para amarrarlo ...</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">496</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">4.90</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
        <div class="content_item_home">
            <div class="liquidacion_item" data-idposicion="10">
                <input type="hidden" class="TipoOfertaSisID" value="1702">
                <input type="hidden" class="OfertaProductoID" value="7768">
                <input type="hidden" class="claseConfiguracionOfertaID" value="3">
                <input type="hidden" class="claseMarcaID" value="3">
                <input type="hidden" class="valorCUV" value="40179">
                <input type="hidden" class="clasePrecioUnidad" value="19.89">
                <input type="hidden" class="Stock" value="299">
                <input type="hidden" class="DescripcionProd" value="Cyzone Organizador Special. En non woven y bolsillos lateral...">
                <input type="hidden" class="DescripcionMarca" value="Cyzone">
                <input type="hidden" class="DescripcionCategoria" value="NO DISPONIBLE">
                <input type="hidden" class="DescripcionEstrategia" value="NO DISPONIBLE">
                <input type="hidden" class="posicionEstrategia" value="10">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_210072869_20151034682_01_sjqyvlhwsh.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>Cyzone</h6>
                    <p class="nombre_producto">Cyzone Organizador Special. En non woven y bolsillos lateral...</p>
                    <div class="producto_precio">
                        <span class="producto_stock">Stock: <span class="claseStock">299</span></span>
                        <span class="producto_precio_oferta"><b>S/.<span id="precio_oferta">19.89</span></b></span>
                    </div>
                    <hr class="clear">
                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home btnAgregarOfertaProducto"> AGREGALO</a>
                </div>
            </div>
        </div>
    </div>

</div>
