@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}
<div class="titulo_mobile">
    <a href="@Request.UrlReferrer" class="enlace_regresar catalogosP" title="Regresar"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;FAVORITOS DE TUS CLIENTES
</div>
<div class="fondo_f2f2f2" style="background:white; border-bottom:0">
    <div class="pestana_esika"></div><!--PESTANA ESIKA-->
    <div class="pestana_lbel mobileLiquidaciones"></div><!--PESTANA LBEL-->
</div>
<div class="wrapper_resumen_mobile" style="padding-bottom:96px;">
    <div class="content_imagen_ficha"><img src="https://s3.amazonaws.com/consultorasPRD/SomosBelcorp/Matriz/PE/PE_200080472_201612367_01_pwifsvbxar.png" alt="PRODUCTO" /></div>
    <div class="titulo_ficha_producto">Perfect Match volumen</div>
    <div class="peso_ficha_producto">4g / 14 oz</div>
    <div class="descripcion_ficha_producto">Labial FPS 20 + delineador para máximo volumen</div>
    <div class="precio_ficha_producto"><span class="precio_tachado_ficha">S/.55.00</span>S/.35.00</div>
    <div>
        <div class="content_tonos_producto">
            <div class="content_tono_detalle borde_seleccion_tono">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/PYi4dINUiOsYQ7e/labial_color.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>
            <div class="content_tono_detalle">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/PYi4dINUiOsYQ7e/labial_color.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>
            <div class="content_tono_detalle">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/dvVanSpBwcSATGk/textura_labial_fucsia.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>
            <div class="content_tono_detalle">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/PYi4dINUiOsYQ7e/labial_color.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>
            <div class="content_tono_detalle">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/PYi4dINUiOsYQ7e/labial_color.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>
            <div class="content_tono_detalle">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/PYi4dINUiOsYQ7e/labial_color.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>
            <div class="content_tono_detalle">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/PYi4dINUiOsYQ7e/labial_color.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>
            <div class="content_tono_detalle">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/dvVanSpBwcSATGk/textura_labial_fucsia.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>
            <div class="content_tono_detalle">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/PYi4dINUiOsYQ7e/labial_color.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>
            <div class="content_tono_detalle">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/PYi4dINUiOsYQ7e/labial_color.png" alt="PRODUCTO" />
                <div class="content_mascara_maquillaje">
                    <img src="https://s3.amazonaws.com/uploads.hipchat.com/583104/4578891/HfQTTPvWfVXwt3R/textura_labial.png" alt="PRODUCTO" />
                </div>
            </div>

            <hr class="clear" />
        </div>
        <select class="tono_labial_select">
            <option>Coral Cautivante</option>
            <option>Coral Cautivante</option>
            <option>Coral Cautivante</option>
            <option>Coral Cautivante</option>
        </select>
    </div>
    
    <div class="content_redes_ficha">
        <a class="btn_compartir_ofertas" href="#"><img src="@Url.Content("~/Content/Images/Mobile/Esika/iconowscolor.png")" alt=""></a>
        <a class="btn_compartir_ofertas" href="#"><img src="@Url.Content("~/Content/Images/Mobile/Esika/catalogo_facebook_color.png")" alt=""></a>
    </div>
    <hr class="clear" />
    <div class="row">
        <div class="content_btn_agregar">
            <div class="content_320">
                <div class="content_cantidad_ficha_producto">
                    <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);">
                    <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                </div>
                <a class="btn_agregar_ficha_producto" href="#">AGRÉGALO</a>
                <hr class="clear" />
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".content_tono_detalle").on("click", function () {
                if ($(this).hasClass("borde_seleccion_tono")) {
                    $(this).removeClass("borde_seleccion_tono");
                } else {
        
                    $(this).addClass("borde_seleccion_tono");
                }
            });
        });
    </script>
  
}