@using Portal.Consultoras.Web.CustomHelpers
@using Portal.Consultoras.Web.Models

@model PedidoDetalleModel

@{
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
    var mobileConfiguracion = Html.MobileAppConfiguracion();
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }
    </style>
}
@{
    if (!mobileConfiguracion.EsAppMobile)
    {
        <div class="titulo_mobile">
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;PRODUCTOS AGOTADOS
        </div>
    }
}
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>
<br />

<div class="col-xs-12">
    @if (Model.ListaProductoFaltante.Count == 0)
    {
        <div class="alert-top-icon text-success">
            <i class="icon-exclamation-circle"></i>
            <div>Hasta el momento no existen productos agotados.</div>
        </div>
    }
    else
    {
        <div class="table-responsive-invalid">
            <div id="divProductosAgotados">
                <table class="table table-no-border">
                    <thead class="upper">
                        <tr>
                            <th>Código</th>
                            <th>Producto</th>
                        </tr>
                    </thead>
                    <tbody class="font-size-14">
                        @foreach (var item in Model.ListaProductoFaltante)
                        {
                            <tr>
                                <td class="padding-tb-11 bold">@item.CUV</td>
                                <td class="padding-tb-11">@item.Descripcion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        if (Model.ListaProductoFaltante.Count == 10)
        {
            <div class="row">
                <a href="javascript:;" class="btn_editar_pedido btnMostrar"><i class="icon-angle-down"></i> &nbsp;&nbsp;Ver más</a>
            </div>
        }
    }
</div>


@section scripts
{
    <script type="text/javascript">
        var valorInicial = 0;
        $(document).ready(function () {

            $('#divProductosAgotados table tbody tr:first td').attr("style", "border-top:0");

            $(".btnMostrar").on("click", function (e) {
                e.preventDefault();

                valorInicial = valorInicial + 10;

                ShowLoading();

                jQuery.ajax({
                    type: 'POST',
                    url: '@Url.Action("MostrarMas", "ProductosAgotados", new { area = "Mobile" })',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ Cantidad: valorInicial }),
                    async: true,
                    success: function (json) {
                        if (checkTimeout(json)) {
                            CloseLoading();
                            if (json.success == true) {
                                if (json.total <= (valorInicial + 10)) {
                                    $('.btnMostrar').hide();
                                }
                                $.each(json.lista, function (index, item) {
                                    $('#divProductosAgotados table tbody').append('<tr><td class="padding-tb-11 bold">' + item.CUV + '</td><td class="padding-tb-11">' + item.Descripcion + '</td></tr>');
                                });

                                dataLayer.push({
                                    'event': 'virtualEvent',
                                    'category': 'Productos agotados',
                                    'action': 'Ver más',
                                    'label': '(not available)'
                                });
                            }
                        }
                    }
                });
            });
        });
    </script>
}