<div class="content_mas_vendidos">
    <div class="content_belcorp">
        <div style="text-align:center;">
            <div class="titulo_mas_vendido">
                LOS MÁS VENDIDOS
            </div>
            <div class="linea_titulo_absoluto" style="margin-top:-55px;"></div>
        </div>
        <div id="divCarrouselMasVendidos" class="content_carrusel_mas_vendidos">
        </div>
    </div>
</div>

@Html.Partial("template_mas_vendidosDP")
