@using Portal.Consultoras.Common

<div class="content_carrusel_bestSeller">
    <div class="content_belcorp">
        <div style="text-align:center;">
            <div class="titulo_carrusel_best">
                <b>LOS MÁS VENDIDOS</b>
            </div>            
        </div>
        <div id="divCarrouselMasVendidos" class="content_carrusel_mas_vendidos" data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.MasVendidosDesktopProductPageCarrusel">
        </div>
    </div>
</div>

@Html.Partial("template_mas_vendidosDP")
