<div class="content_mas_vendidos" style="background:#eeeeee">
    <div class="content_belcorp">
        <div style="text-align:center;">
            <div class="titulo_carrusel_best">
                LOS PRODUCTOS <b>MÁS VENDIDOS</b>
            </div>            
        </div>
        <div id="divCarrouselMasVendidos" class="content_carrusel_mas_vendidos">
        </div>
    </div>
</div>

@Html.Partial("template_mas_vendidosDP")
