
/* BUSCADOR DE FILTROS PORTAL CONSULTORAS MOBILE */

.buscador_filtros_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-shadow: 0 4px 4px 0 rgba(126, 126, 126, 0.5);
    -webkit-box-shadow: 0 4px 4px 0 rgba(126, 126, 126, 0.5);
    box-shadow: 0 4px 4px 0 rgba(126, 126, 126, 0.5);
    position: fixed;
}

.campo_buscador_filtros_mobile {
    width: 100%;
    height: 48px;
    background: #fff;
    color: #000;
    padding-left: 10px;
    padding-bottom: 2px;
    line-height: 45px;
    font-size: 14px;
    font-weight: 400;
}

    .campo_buscador_filtros_mobile::-webkit-input-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_filtros_mobile:-moz-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_filtros_mobile::-moz-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_filtros_mobile:-ms-input-placeholder {
        color: #000;
        font-weight: 600;
    }

.enlace_busqueda_filtros,
.opcion_limpiar_campo_busqueda_productos {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
}

    .enlace_busqueda_filtros img,
    .opcion_limpiar_campo_busqueda_productos img,
    .enlace_regresar_filtros img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

.enlace_busqueda_filtros,
.enlace_regresar_filtros {
    width: 40px;
}

.enlace_regresar_filtros {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.enlace_busqueda_filtros {
    right: 3px;
}

.opcion_limpiar_campo_busqueda_productos {
    width: 17px;
    right: 13px;
}

/* LISTA DE RESULTADOS DE BÚSQUEDA MOBILE */

.displayBlock {
    display: block;
}

.displayInlineBlock {
    display: inline-block;
    vertical-align: middle;
}

.text-uppercase {
    text-transform: uppercase;
}

.vistaResultadosBusquedaMobile {
    /*display: none;*/
    margin-top: 48px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.lista_resultados_busqueda_productos_mobile {
    overflow: auto;
    height: calc(100vh - 66px);
}

.resultado_busqueda_mobile_wrapper {
    padding-top: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #b0b0b0;
    cursor: pointer;
    position: relative;
}

    .resultado_busqueda_mobile_wrapper:first-child {
        padding-top: 0;
    }

    .resultado_busqueda_mobile_wrapper:last-child {
        border-bottom: none;
    }

.spinner {
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 5;
}

    .spinner img {
        width: 46px;
        height: auto;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

.resultado_busqueda_mobile {
    width: 100%;
    height: auto;
    color: #000;
}

.resultado_busqueda_mobile_img_prod,
.resultado_busqueda_mobile_img_prod a {
    height: 85px;
}

.resultado_busqueda_mobile_img_prod {
    width: 23%;
    max-width: 200px;
    text-align: center;
    position: relative;
    background-color: #FFF;
}

    .resultado_busqueda_mobile_img_prod img {
        width: 100%;
        height: 85px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: contain;
    }

.resultado_busqueda_mobile_descrip_prod {
    width: 38%;
    margin-left: 12px;
    margin-right: 6px;
}

.resultado_busqueda_nom_producto {
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    margin-bottom: -1px;
}

.resultado_busqueda_precio_prod {
    margin: 0;
}

.resultado_busqueda_precio_normal,
.resultado_busqueda_precio_oferta {
    vertical-align: bottom;
}

.resultado_busqueda_precio_normal {
    font-size: 12px;
    text-decoration: line-through;
    margin-bottom: 1px;
    margin-right: 10px;
}

.resultado_busqueda_precio_oferta {
    font-size: 15px;
    font-weight: 600;
}

.resultado_busqueda_tipo_oferta_prod {
    font-size: 12px;
    color: #848484;
}

.resultado_busqueda_mobile_cantidad_prod {
    width: 31%;
}

    .resultado_busqueda_mobile_cantidad_prod .cantidad_menos_home,
    .resultado_busqueda_mobile_cantidad_prod .cantidad_mas_home {
        float: left;
        width: 30%;
        height: 45px;
        text-align: center;
        line-height: 48px;
        border: 1px solid #b0b0b0;
        position: relative;
    }

    .resultado_busqueda_mobile_cantidad_prod .cantidad_menos_home {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .resultado_busqueda_mobile_cantidad_prod .cantidad_mas_home {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

        .resultado_busqueda_mobile_cantidad_prod .cantidad_menos_home img,
        .resultado_busqueda_mobile_cantidad_prod .cantidad_mas_home img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    .resultado_busqueda_mobile_cantidad_prod .rango_cantidad_pedido {
        -webkit-appearance: none;
        width: 40%;
        height: 45px;
        line-height: 48px;
        background: transparent;
        float: left;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        border-top: 1px solid #b0b0b0;
        border-bottom: 1px solid #b0b0b0;
        border-left: none;
        border-right: none;
        color: #000;
    }

.resultado_busqueda_mobile_btn_agregar_wrapper,
.resultado_busqueda_mobile_btn_elegir_opcion_wrapper {
    width: 100%;
}

.resultado_busqueda_mobile_btn_agregar_wrapper {
    margin-top: 7px;
}
    .resultado_busqueda_mobile_btn_agregar_wrapper .boton_Elige_home {
        margin-top: 0;
        background-color: #000;
        color: #FFF;
    }
    .resultado_busqueda_mobile_btn_agregar_wrapper .boton_Agregalo_home {
        margin-top: 0;
        background-color: #000;
        color: #FFF;
    }

    .resultado_busqueda_mobile_btn_agregar_wrapper .boton_Elige_home
     {
        width: 100%;
        height: 45px;
        line-height: 20px;
        border: 1px solid #000;
        font-size: 12px;
        letter-spacing: 0.5px;
        font-weight: 700;
        border-radius: 4px;
    }

    .resultado_busqueda_mobile_btn_agregar_wrapper .boton_Agregalo_home
    {
        width: 100%;
        height: 45px;
        line-height: 44px;
        border: 1px solid #000;
        font-size: 12px;
        letter-spacing: 0.5px;
        font-weight: 700;
        border-radius: 4px;
    }


.btn_elegir_opcion {
    background-color: #FFF;
    color: #000;
}

.etiqueta_prod_agregado {
    margin-top: 7px;
    font-size: 11px;
    color: #848484;
}

/* FIN - LISTA DE RESULTADOS DE BÚSQUEDA MOBILE */

/* FIN - BUSCADOR DE FILTROS PORTAL CONSULTORAS MOBILE */


