
/* BUSCADOR DE FILTROS PORTAL CONSULTORAS MOBILE */

.buscador_filtros_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:48px;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-shadow: 0 4px 4px 0 rgba(126, 126, 126, 0.5);
    -webkit-box-shadow: 0 4px 4px 0 rgba(126, 126, 126, 0.5);
    box-shadow: 0 4px 4px 0 rgba(126, 126, 126, 0.5);
    position:relative;
}

.campo_buscador_filtros_mobile {
    width: 100%;
    height: 48px;
    background: #fff;
    color: #000;
    padding-left: 10px;
    padding-bottom:2px;
    line-height: 45px;
    font-size: 14px;
    font-weight: 400;
}

    .campo_buscador_filtros_mobile::-webkit-input-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_filtros_mobile:-moz-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_filtros_mobile::-moz-placeholder {
        color: #000;
        font-weight: 600;
    }

    .campo_buscador_filtros_mobile:-ms-input-placeholder {
        color: #000;
        font-weight: 600;
    }

.enlace_busqueda_filtros,
.opcion_limpiar_campo_busqueda_productos
{
    display:block;
    height: 100%;
    position: absolute;
    top: 0;
}

    .enlace_busqueda_filtros img,
    .opcion_limpiar_campo_busqueda_productos img,
    .enlace_regresar_filtros img
    {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

.enlace_busqueda_filtros,
.enlace_regresar_filtros
{
    width: 40px;
}

.enlace_regresar_filtros{
    display:inline-block;
    vertical-align:middle;
    position:relative;
}

.enlace_busqueda_filtros{
    right:3px;
}

.opcion_limpiar_campo_busqueda_productos {
    width: 17px;
    right:13px;
}

/* FIN - BUSCADOR DE FILTROS PORTAL CONSULTORAS MOBILE */