
.titulo h2 {
    color: #b52e36;
}

.bc_para_ti-menu-opciones li a.activo {
    color: #B52E36;
}

.bc_para_ti-menu-opciones ul li a.activo p::after {
    border: 1px solid #B52E36;
}

.bc_para_ti-menu-opciones ul li a.activo p.activo {
    border-bottom: 1px solid #e81c36;
    color: #e81c36;
}

.activo .opcion_home_vistaOfertas::after {
    border: 1px solid #B52E36;
}

.contenedorMenu {
	height: 45px;
	width: 138px;
	padding-top: 13px;
	position: relative;
	text-align: center;
}
	.contenedorMenu.active {
		border-bottom: 4px solid #e81c36;
		height: 45px;
		position: relative;
		text-align: center;
		width: 138px;
	}


.op-menu-horizontal .subnavegador li .activado {
    border-bottom: 2px solid #B52E36;
    color:   #B52E36;
}


