/********************** Componente MENU_MOBILE ************************/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.menu {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    left: -100%;
    height: 100%;
    position: fixed;
    width: 90%;
    -webkit-box-shadow: 5px 17px 40px -9px rgba(0,0,0,1);
    -moz-box-shadow: 5px 17px 40px -9px rgba(0,0,0,1);
    box-shadow: 5px 17px 40px -9px rgba(0,0,0,1);
    border-top: none;
    color: #722789;
    overflow: auto;
}

    .menu ul {
        list-style: none;
        padding: 0;
        width: 98%;
        margin: 0 2%;
    }

    .menu li {
        position: relative;
        float: left;
        border-bottom: 1px solid #bdc7cd;
        padding: 5px !important;
        width: 95%;
        margin: 0 3% !important;
    }

        .menu li span {
            position: relative;
            float: left;
        }

    .menu a {
    }

.icon-close {
    cursor: pointer;
    right: 10px;
    top: 10px;
    display: none;
    position: absolute;
    z-index: 1000000 !important;
}


#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 16px;
    position: relative;
    font-size: 13px;
    margin-left: 3px !important;
}

    #cssmenu > ul > li > a {
        display: block;
        width: 100%;
    }

        #cssmenu > ul > li > a > span {
            display: block;
            width: 75%;
            padding: 0;
            margin-top: 15px;
        }

    #cssmenu > ul > li > ul > li:last-child {
        margin-bottom: 20px !important;
    }

    #cssmenu > ul > li > a:hover {
        text-decoration: none;
    }

    #cssmenu > ul > li > a div.circulo {
        -ms-border-radius: 8px;
        border: 1px solid #35bdb2;
        -webkit-border-radius: 8px;
        border-radius: 10px;
        width: auto;
        padding: 2px 6px 2px 6px;
        position: absolute;
        right: 0;
        top: 13px;
    }

    #cssmenu > ul > li.has-sub > a {
        background: url('../../Images/mobile/img-icon/mobile_icon_mas.png') 100% top no-repeat;
    }

    #cssmenu > ul > li.active > a {
        background: url('../../Images/mobile/img-icon/mobile_icon_menos.png') 100% top no-repeat;
    }

    #cssmenu > ul > li > a > figure,
    #cssmenu > ul > li > ul > li > a > figure {
        display: block;
        width: 45px;
        float: left;
    }

    #cssmenu ul ul {
        display: none;
    }

        #cssmenu ul ul a {
            padding: 15px 10px 5px 20px;
            display: block;
            color: #768EA3;
            font-weight: normal;
        }

    #cssmenu ul li.sub_tab {
        border-bottom: none;
        width: 100%;
    }

    #cssmenu ul li.menu_micomunidad li.sub_tab,
    #cssmenu ul li.menu_micomunidad li.sub_tab a {
        padding: 0;
        margin: 0;
    }

    #cssmenu ul ul a .fa {
        color: #C4D1DC;
    }

    #cssmenu ul li .icon {
        top: 0 !important;
        position: relative;
        margin-left: -10px;
        width: 45px !important;
        height: 44px !important;
    }

    #cssmenu button .icon {
        top: 0 !important;
    }

.bg_white {
    background-color: white;
    width: 90%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    display: none;
}

div#ic_menu::before {
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    -webkit-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    z-index: 0;
}

#ic_menu {
    width: auto;
    top: 0;
    left: 0;
    z-index: 100;
    cursor: pointer;
    margin-top: 20px;
}

#logo-mobile {
    width: 98px;
    height: 37px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 5%;
    padding-top: 18px;
    z-index: 100;
}

div#caja-back-header {
    display: block;
    width: 100%;
    background-color: #f4f3f2;
    height: 75px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

.nombre {
    width: 50%;
    padding: 12px 1%;
    position: relative;
    float: left;
    background-color: #D1E0EC;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.clear {
    content: '';
    display: block;
    clear: both;
}

.sesion {
    position: relative;
    height: 100px;
    padding: 50px 0 20px 0;
}

.menu a.cerrarsesion, .menu a.iniciarsesion {
    display: block;
    font-size: 14px;
    width: 100%;
}

    .menu a.cerrarsesion span, .menu a.iniciarsesion span {
        display: block;
        margin-top: 18px;
        text-transform: none;
        color: #768ea3;
    }

    .menu a.cerrarsesion figure, .menu a.iniciarsesion figure {
        float: left;
        margin: -15px 0 0 0;
        padding: 0;
    }

    .menu a.cerrarsesion:hover, .menu a.iniciarsesion:hover {
        text-decoration: none !important;
    }


@media (max-width:332px) {
    #cssmenu > ul > li > a > span {
        font-size: 11px;
        margin-left: -10px;
    }

    .fa-2x {
        font-size: 1em !important;
    }

    .menu li span {
        font-size: 12px;
    }
}

/*CAMBIOS MENU*/
.foto_menu {
    width: 89px;
    margin: auto;
    position:relative;
}

.menu[style='left: 0;'] {
    width: 90%;
}

.saludo_menu {
    text-align: center;
    font-family: 'Lato';
    color: black;
    font-size: 17px;
    margin-top: 7px;
    padding-bottom: 30px;
    padding-left: 22px;
    padding-right: 22px;
    letter-spacing: .3px;
    border-bottom: 1px solid #e5e5e5;
}

.menu_mobile_belcorp {
    display: block;
    font-family: 'Lato';
    color: black;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    border-bottom: 1px solid #e5e5e5;
    color: black;
}

.btn_cerrar_sesion {
    display: block;
    font-family: 'Lato';
    color: black;
    font-size: 13px;
    text-decoration: underline;
    margin-top: 60px;
    padding-left: 22px;
    cursor: pointer;
    margin-bottom: 20px;
}

.indicador_bel {
    background: url('../../../Images/mobile/Esika/indicador_pedido.png') no-repeat;
    background-position: 10px 17px;
}

.indicador_submenu {
    background: url('../../../Images/mobile/Esika/menu_mobile.png') no-repeat;
    background-position: 95% 19px;
}

.submenu_1 {
    padding-top: 25px;
    padding-bottom: 10px;
    background: #f1f1f1;
}

.menu_subHeader {
    display: block;
    margin-bottom: 15px;
    padding-left: 43px;
    font-family: 'Lato';
    color: black;
    font-size: 14px;
}

.content_close {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 37px;
}
