
.rd_logo {
    background: rgba(233,27,55,1);
    background: -moz-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(233,27,55,1)), color-stop(31%, rgba(233,27,55,1)), color-stop(100%, rgba(157,7,29,1)));
    background: -webkit-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    background: linear-gradient(135deg, rgba(233,27,55,1) 0, rgba(233,27,55,1) 31%, rgba(157,7,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e91b37', endColorstr='#9d071d', GradientType=1 );
}

/* SECCIÓN REVISTA DIGITAL VISTA BIENVENIDA - PEDIDO - CATALOGO */
.revistadigital .boxoffer .fondo_boton, .contenedor_botonVerMasOfertas .boxoffer .fondo_boton {
    background: #e81c36;
}

/* FIN BIENVENIDA - PEDIDO - CATALOGO */

.btn_red a {
    color: #e81c36;
    border: 1px solid #e81c36;
}

.btn_inscribirse {
    background: #e81c36;
}

/* NUEVO LANDING SUSCRIPCION MOBILE */
.como-funciona span.recuerda {
    color: #e81c36;
}

.bloques-gana-mas .contenedor-mobile-fix > .bloque-img .cnt-tres {
    background: url('/Content/Images/Esika/consejos-y-tips-visual.png');
}

.bloques-gana-mas .contenedor-mobile-fix .visual-funcionamiento {
    background: url('/Content/Images/Esika/visual-de-funcionamiento.png');
}

.bloques-gana-mas .contenedor-mobile-fix .caja-club-derecha hr {
    background: #e81c36;
}

/* FIN NUEVO LANDING SUSCRIPCION MOBILE */


/* POP UP ACTUALIZA DATOS*/
.boton_popup_confirmacion_datos {
    background: #e81c36 !important;
}

.popup_confirmacion_datos .contenido-popup-nuevo-2017 .estructura_confirmar_datos .centrar-vertical-contenido .form-confirmacion .loader-confirmacion {
    background: url(/Content/Images/Esika/loading_circle.gif);
}
/* FIN POP UP ACTUALIZA DATOS */
.logo_no_suscrita {
    background: url(/Content/Images/Esika/RevistaDigital/logo_esika_diagonal.png) !important;
    background-repeat: no-repeat !important;
    width: 100% !important;
    height: 90px !important;
    background-size: 147px !important;
    background-position: center !important;
    position: relative !important;
}

