<div id="contenedor-crear-cupon" style="display: none;">
    <input type="hidden" id="hdPais" value="" />
    <input type="hidden" id="hdEtiquetaID" value="" />
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">Pais:</div>
            <div class="selectA borde_redondeado">
                <span id="spanPais"></span>
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Etiqueta:</div>
            <div class="selectA borde_redondeado">
                <input id="txtEtiqueta" type="text" value="" maxlength="100" />
            </div>
        </div>
    </div>
</div>