<div id="popup-mantenimiento-Cupon" style="display: none;">
    <input type="hidden" id="hdCuponId" value="" />
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">Tipo:</div>
            <div class="selectA borde_redondeado">
                <select id="ddlTipoCupon">
                    <option value="">-- Seleccionar --</option>
                    <option value="1">Monto</option>
                    <option value="2">Porcentaje</option>
                </select>
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Descripción:</div>
            <div class="selectA borde_redondeado">
                <input id="txtDescripcion" type="text" value="" maxlength="100" />
            </div>
        </div>
        <div class="div-3" id="contenedor-check-activo" style="display: none;">
            <div class="titB">Activo:</div>
            <div class="selectA borde_redondeado">
                <input type="checkbox" id="chckActivo" name="chckActivo" value="">
            </div>
        </div>
    </div>
</div>