<div id="popup-mantenimiento-cupon-consultora" style="display: none;">
    <input type="hidden" id="hdCuponConsultoraId" value="" />
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB" style="width: 25%;">Consultora:</div>
            <div class="selectA borde_redondeado">
                <input id="txtConsultora" type="text" value="" maxlength="100" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB" style="width: 25%;">Valor Asociado:</div>
            <div class="selectA borde_redondeado">
                <input id="txtValorAsociado" type="text" value="" maxlength="100" />
            </div>
        </div>
        <div class="div-3" id="contenedor-estado-cupon-consultora" style="display: none;">
            <div class="titB" style="width: 25%;">Estado:</div>
            <div class="selectA borde_redondeado">
                <input type="text" id="txtEstadoCuponConsultora" name="txtEstadoCuponConsultora" value="" readonly="readonly">
            </div>
        </div>
    </div>
</div>