 /* Reescritos - compatibilidad */
 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none;
 }
.nav-tabs {
  border: none;
}
    .nav-tabs > li > a{
        margin-right: 0;
    }
    .nav-tabs .nav-link {
        border: 0;
        /* border-bottom: 2px solid transparent; */
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 700;
        color: #000;
        padding: 16px;
    }
.fade:not(.show){
    opacity: initial;
}
.fade:not(.in){
    opacity: 0;
}

.nav-tabs .nav-item {
    border-bottom: 2px solid transparent;
}

.nav-tabs .nav-link:hover {
  border-bottom: 0 solid transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.active {
  color: #000;
  border-color: #fff transparent #b9007e transparent;
}
.nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.active:hover {
  border-bottom: 2px solid #b9007e;
}

p {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.arrow {
  width: 8px;
  height: 8px;
  display: flex;
  position: relative;
  bottom: 8px;
  right: -8px;
  margin: 0 1rem;
}

.arrow span {
  top: 0.5rem;
  position: absolute;
  width: 8px;
  height: 0.1rem;
  background-color: black;
  display: inline;
  transition: all 0.2s ease;
}

.arrow span:first-of-type {
  left: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.arrow span:last-of-type {
  right: 0;
  left: 0;
  top: 13px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.arrow.active span:first-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow.active span:last-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.vc-tabs {
  margin: 0 0 24px 0;
}
.vc-box {
  background-color: #ffffff;
}
.vc-box--header span {
  font-weight: 700;
  display: inline-block;
  line-height: 16px;
}
.vc-box--content p {
  font-size: 14px;
  color: #454549;
}
.vc-box--content span {
  font-weight: 700;
}
.vc-box--action p, .vc-box--action .vc-box--title {
  font-size: 14px;
}
.vc-box--action .vc-box--btn {
  font-size: 14px;
  color: black;
  font-weight: 700;
  line-height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  left: -15px;
  width: 80px;
  padding-right: 15px;
}
.vc-box--action .vc-box--btn:before {
  content: "";
  position: absolute;
  padding: 1px;
  right: 0;
  top: 33%;
  border-radius: .1rem;
  width: 10px;
  height: 10px;
  border: 0.3rem solid;
  border-right: 1px;
  border-bottom: 1px;
  border-color: black transparent transparent black;
  transform: rotate(135deg);
}
.vc-box--title {
  font-size: 16px;
  font-weight: 700;
}
.vc-box--img {
  width: 45px;
  height: 45px;
  background: lightgray;
  margin: 0 auto;
}
.vc-box .no-padd {
  padding: 0 !important;
}
.vc-box--button {
  margin: 10px 0 0 0;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.vc-box--shadow {
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(144, 144, 148, 0.12), 0 1px 2px 0 rgba(144, 144, 148, 0.14), 0 2px 1px -2px rgba(144, 144, 148, 0.2);
  margin: 8px 0;
  padding: 16px;
}
.vc-box--radius {
  margin: 8px 0;
  padding: 16px;
  border-radius: 4px;
  border: solid 1px #000000;
  position: relative;
}
.vc-box--radius .vc-box--btn {
  letter-spacing: 1px;
  left: 0;
  min-width: 170px;
  max-width: 180px;
  padding: 0;
  padding-right: 10px;
}
.vc-box--radius .vc-box--btn:before {
  right: 4px;
  top: 1px;
}
.vc-tabs-bottom{
    margin-bottom: 24px;
}


/* Desplegable Acepta pedido */
.pending hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border-top-color: #d1d1d4;
}
.pending hr.mt-8{
  margin-top: 8px;
}
.pending-top {
    padding-top: 8px;
    border-bottom: 1px solid #d1d1d4;
}
    .pending-top--title{
        min-height:66px;
    }
.pending-subtitle {
  /* border-top: 1px solid #d1d1d4; */
  border-bottom: 1px solid #d1d1d4;
}
.pending-bgGray {
  background-color: #f5f5f7;
}

.attend-title {
  font-size: 20px;
  font-weight: 700;
}
.attend-subtitle {
  margin-bottom: 8px;
}
.attend-close, .attend-delete {
  display: flex;
  justify-content: flex-end;
}
.attend-img_30 {
  height: 30px;
  width: 30px;
}
.attend-img_32 {
  height: 32px;
  width: 32px;
}

.action-btn {
  padding: 8.5px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.action-btn_refuse, .action-btn_border {
  border: 1px solid black;
  color: black;
}
.action-btn_refuse:hover, .action-btn_border:hover {
  color: black;
  text-decoration: none;
}
.action-btn_refuse.no-border, .action-btn_border.no-border {
  text-decoration: underline;
  text-align: left;
}
.action-btn_refuse.active, .action-btn_border.active {
  background: black;
  color: white;
}
.action-btn_continue {
  border: 1px solid #d1d1d4;
  background: #d1d1d4;
  color: #909094;
}
.action-btn_continue:hover {
  color: #909094;
  text-decoration: none;
}
.action-btn_continue.active {
  border: 1px solid #b9007e;
  background: #b9007e;
  color: #fff;
}
.action-continue {
  bottom: 70px;
}

.ipt-tel {
  position: relative;
}
.ipt-tel:after, .ipt-tel:before {
  content: "";
  border: solid #909094;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 16px;
  top: 17px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  pointer-events: none;
  z-index: 0;
}
.ipt-tel [type="tel"] {
  padding-right: 10px;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  display: inline-block;
  /* Agregado en raw css */
  border: 1px solid black;
  border-radius:4px;
  width: 100%;
  margin:0;

}

/* Modal Reescrito */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  display: flex;
  justify-content: center;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  border-bottom: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  width: 100%;
}

.modal-footer {
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}

.tooltip-primary {
  background-color: #ebebeb;
  box-shadow: 0 2px 3px 1px #ebebeb;
  border-radius: 4px;
  position: relative;
}
.tooltip-secondary {
  background-color: #fff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}
.tooltip-arrow_top:after, .tooltip-arrow_top:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.tooltip-arrow_top:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ebebeb;
  border-width: 8px;
  margin-left: -8px;
}
.tooltip-arrow_bottom:after, .tooltip-arrow_bottom:before {
  top: 100%;
  left: 78%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
.tooltip-arrow_bottom:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: rgba(215, 215, 215, 0.8);
  border-width: 9px;
  margin-left: -9px;
}
.tooltip-info {
  padding-top: 8px;
  padding-left: 30px;
  position: relative;
}
.tooltip-info:before {
  content: "";
  background: url("https://i.ibb.co/4jKbTqS/error-outline-3x.png") no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  max-width: 100%;
  width: 24px;
  height: 24px;
  left: 0;
  bottom: 5px;
}

.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-32 {
  margin-top: 32px;
}

.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}

.mtb-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.pall-16 {
  padding: 16px;
}

.pr-0 {
  padding-right: 0;
}
.text-12 {
  font-size: 12px;
}
.text-14 {
  font-size: 14px;
}
.text-18 {
  font-size: 18px;
}
.text-700 {
  font-weight: 700;
}
.text-purple {
  color: #b9007e;
}
.text-gray {
  color: #454549;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}

.title-small {
  font-size: 18px;
  margin: 0;
}

.no-border {
  border: 0 solid transparent !important;
}

.bt-1 {
  border-top: 1px solid #d1d1d4;
}

.ptb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ptb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Paso 2 */
.b-top{
  border-top: 1px solid #d1d1d4;
}

/* Para agregar a los utilitarios */
.brokenBox {
  width: 110%;
}

.containBox {
  overflow: hidden;
}
/* ---------------------------- */

/* Imagenes de producto de catálogo */

.products-img,
.conGanaMas-img,
.conCatalogo-img {
  width: 88px;
}

/* ---------------------------- */

/* Estilos para Slick */
.products .slick-slide,
.conGanaMas .slick-slide,
.conCatalogo .slick-slide {
  position: relative;
}
/* Imagen de Slick */
.products .slick-slide:after,
.conGanaMas .slick-slide:after,
.conCatalogo .slick-slide:after {
  background: url("https://i.ibb.co/PFWnJQ8/add-3x.png") no-repeat center center;
  background-size: cover;
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 20%;
  right: -15px;
}
.products .slick-slide:last-child:after,
.conGanaMas .slick-slide:last-child:after,
.conCatalogo .slick-slide:last-child:after {
  display: none;
}

/* Modificaciones - hacks */
/* Ampliar la zona de acción */
.cursor{
  cursor: pointer;
}
.nav-tabs .nav-item{
  width:50%;
}
.nav-tabs .nav-link{
  text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #000;
}
.nav>li>a:hover{
  background-color: transparent;
}

.vc-box--content.contact-info img{
  display: inline-block;
  margin-top: -5px;
}
.vc-box--content.contact-info p{
  display: inline-block;  
  margin-top: 8px;
  text-decoration: underline;
}
/* ---------------------------- */

/* Estilos reescritos */

.btn{
  text-transform: unset;
}
/* Titulo mobile : Texto Pendientes, 
   New Header : Breadcrumb
   Footer : El footer */
#new-header, footer.footer-page {
    display: none;
}
#contentmobile{
    margin-top: 0 !important;
}
.vh-100{
  height: 100vh;
}

.overflow-y.auto{
  overflow-y: auto;
}

.btn_chat_messenger {
    display: none !important;
}

.btn--estadoAceptado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    color: #898989 !important;
    border: 1px solid #898989;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

    .btn--estadoAceptado:before {
        display: block;
        width: 17px;
        height: 17px;
        margin-right: 5px;
        content: "";
        background-image: url('/Content/Images/icono_check_gris.svg');
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: left center;
    }