@{
    ViewBag.Title = "Pago en Línea";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/pago-en-linea.css")">
}

<!-- Titulo -->
<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<!-- Fin - titulo-->

<div class="content_belcorp">
    <div class="pestana_lbel"></div>

    <!-- VISTA PROCESO DE PAGO EN LÍNEA -->

    <div class="proceso_de_pago_en_linea">

        <!-- VISTA PAGO EXITOSO -->

        <div class="pago_exitoso">
            <h3 class="titulo_pago_exitoso">
                <span class="icono_pago_exitoso"></span>
                <span>Pago exitoso</span>
            </h3>
            <div class="col_izq">
                <p class="mensaje_felicitacion_por_pago_exitoso">
                    Muy bien Valeria <span class="imagen_felicitacion"><img src="@Url.Content("~/Content/Images/celebracion-img.png")" alt="Felicitaciones" /></span>
                </p>
                <p class="info_constancia_pago_exitoso">
                    Te enviamos una constancia de pago a tu correo o puedes revisarla <a href="" class="enlace_ir_a_notificaciones" title="Ir A Notificaciones">aquí</a>.
                </p>
                <p class="info_horarios_efectivos_pagos">
                    Los pagos realizados después de las 10:00 p.m. serán efectivos al día siguiente.
                </p>
            </div>
            <div class="col_der">
                <div class="resumen_pago_exitoso">
                    <h3 class="titulo_resumen_pago_exitoso">
                        Resumen del pago
                    </h3>
                    <div class="resumen_pago">
                        <div class="num_operacion">
                            <span>N° de operación:</span>
                            <span>0000000123</span>
                        </div>
                        <div class="monto_pagado">
                            <span>Monto:</span>
                            <span>500.00</span>
                        </div>
                        <div class="monto_gastos_administrativos">
                            <span>Gastos administrativos:</span>
                            <span>10.00</span>
                        </div>
                        <div class="total_monto_pagado">
                            <span>Total pagado:</span>
                            <span>510.00</span>
                        </div>
                        <div class="monto_saldo_pendiente">
                            <div>Saldo pendiente:</div>
                            <div>
                                <span>S/</span>
                                <span>500.00</span>
                            </div>
                        </div>
                        <div class="fecha_vencimiento_saldo_pendiente">
                            <span>Vencimiento:</span>
                            <span>31/06</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FIN - VISTA PAGO EXITOSO -->

    </div>

    <!-- FIN - VISTA PROCESO DE PAGO EN LÍNEA -->

 </div>

@section scripts{
    <script src="@Url.Content("~/Scripts/PortalConsultoras/PagoEnLinea/Index.js")"></script>
}