@{
    ViewBag.Title = "Pago en Línea";
}
<!-- Titulo -->
<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>PAGO EN LÍNEA</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<!-- Fin titulo-->
<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div class="EstadoCuenta">
    </div>
</div>