@model Portal.Consultoras.Web.Models.UpdatePassSACModel
@{
    ViewBag.Title = "Index";
}
<script>
    jQuery(document).ready(function () {

        $("#btnAceptar").click(function () {
            ResetPass();
        });
        $("#btnRegresar").click(function () {
            location.href = '@Url.Action("Index", "UpdatePassSAC")';
        });
    });

    function ResetPass() {
        var PaisID = $('#ddlPais').val();
        var CodigoConsultora = $('#txtConsultora').val();
        var Clave = $('#txtPass').val();
        var Clave2 = $('#txtPass2').val();

        if (PaisID == "0") {
            alert('Debe Seleccionar Pais.');
            return false;
        }
        if (CodigoConsultora == "") {
            alert('Debe ingresar el código de consultora.');
            return false;
        }
        if (Clave == "") {
            alert('Debe ingresar la contraseña.');
            return false;
        }
        if (Clave2 == "") {
            alert('Debe confirmar la contraseña.');
            return false;
        }
        if (Clave != Clave2) {
            alert('Las contraseñas ingresadas no coinciden.');
            return false;
        }
        if (Clave.length < 4) {
            alert('La contraseña debe tener como mínimo 4 digitos.');
            return false;
        }
        var item = {
            PaisID: PaisID,
            CodigoConsultora: CodigoConsultora,
            Clave: Clave
        };
        waitingDialog({});

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'UpdatePassSAC/ResetPassConsultora',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        alert(data.message);
                        Limpiar();
                        location.href = '@Url.Action("Index", "UpdatePassSAC")';
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert(data.message);
                }
            }
        });

        return false;
    }

    function Limpiar() {
        $('#ddlPais').val("");
        $('#txtConsultora').val("");
        $('#txtPass').val("");
        $('#txtPass2').val("");
    }
</script>
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Mantenimiento de <span>Contraseñas</span></h1>
            </div>
            <div class="div-3">
                <div class="titF">País:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais", disabled = "disabled" })
                </div>
                <div class="titJ">Consultora:</div>
                <div class="selectA borde_redondeado">
                    @Html.TextBoxFor(model => model.CodigoConsultora, new { id = "txtConsultora", maxlength = "30", disabled = "disabled" })
                </div>
            </div>
            <div class="div-3">
                <div class="titF">Nueva Contraseña:</div>
                <div class="selectP2 borde_redondeado">
                    <input id="txtPass" type="password" />
                </div>
                <div class="titJ">Confirmar Nueva Contraseña:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtPass2" type="password" />
                </div>
            </div>
            <div class="div-3">
                <div class="titF"></div>
                <div class="addlist_tab">
                    <input id="btnAceptar" type="button" value="Aceptar" />
                </div>
                <div class="addlist_tab">
                    <input id="btnRegresar" type="button" value="Cancelar" />
                </div>
            </div>

        </div>
    </div>
</div>
<div id="loadingScreen"></div>
