@model Portal.Consultoras.Web.Models.UpdatePassSACModel
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">

    jQuery(document).ready(function () {
        $("#txtBusqueda").keypress(
        function (evt) {
            var charCode = (evt.which) ? evt.which : window.event.keyCode;
            if (charCode <= 13) {
                return false;
            }
            else {
                var keyChar = String.fromCharCode(charCode);
                var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ _.\/-]/;
                return re.test(keyChar);
            }
        });

        $("#btnBuscar").click(function () {
            fnGrilla();
            $("#txtBusqueda").focus();
        });
        $("#txtBusqueda").keypress(function (e) {
            if (e.which == 13) {
                fnGrilla();
                $("#txtBusqueda").focus();
            }
        });
    });

    function SendData(paisID, CodigoConsultora) {
        var form1 = document.createElement("form");
        var data = document.createElement("input");
        form1.setAttribute("id", "form1");
        form1.action = baseUrl + "UpdatePassSAC/CambiarPass";
        form1.setAttribute("method", "POST");
        data.setAttribute("type", "hidden");
        data.setAttribute("name", "data");
        var d = {
            paisID: paisID,
            CodigoConsultora: CodigoConsultora
        }
        data.value = JSON.stringify(d);
        form1.appendChild(data);
        document.body.appendChild(form1);
        form1.submit();
    }

    function fnGrilla() {
        if ($("#ddlPais").val() == "") {
            alert("Debe seleccionar Pais");
            return false;
        }
        if ($("#txtBusqueda").val().length == 0) {
            alert("Debe ingresar código o nombre de consultora.");
            return false;
        }
        if ($("#txtBusqueda").val().length < 4) {
            alert("El código o nombre de consultora debe tener 4 digitos como minimo.");
            return false;
        }
        jQuery("#list").jqGrid({
            url: baseUrl + "UpdatePassSAC/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vPaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                vCodigoConsultora: function () { return jQuery.trim($("#txtBusqueda").val()); },
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['PaisID', 'Código', 'Nombre', 'Opción'],
            colModel: [
                {
                    name: 'PaisID', index: 'PaisID', width: 0, editable: false, align: 'center',
                    hidden: true
                },
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 20, editable: true, resizable: false },
                { name: 'Nombre', index: 'Nombre', width: 70, editable: true, resizable: false },
                { name: 'Activo', index: 'Activo', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            width: '930',
            height: 'auto',
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Edit = "&nbsp;<a href=# >"
                + "<img src='@Url.Content("~/Content/Images/Detail.png")' alt='Cambiar Contraseña' title='Cambiar Contraseña' onclick=\"SendData('" + rowObject[0] + "','" + rowObject[1] + "');\" border='0' /></a>";
                return Edit;
            }
        }

</script>
<div class="wrap_cab">

    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1><span>Mantenimiento de Contraseñas</span></h1>
            </div>
            <div class="div-3">
                <div class="titC">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titC">Consultora:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" name="" id="txtBusqueda" maxlength="80" />
                </div>
                <div class="input_search">
                    <input type="submit" name="" id="btnBuscar" value="Buscar" />
                </div>
                <input type="hidden" id="hdNombreAnt" />
            </div>
        </div>
    </div>
</div>

<div class="wrap">

    <section class="container clearfix">
        <div class="border-wrapper">

            <table id="list"></table>
            <div id="pager"></div>

        </div>
    </section>

</div>
<div id="loadingScreen"></div>
