@using Portal.Consultoras.Common
@{
    Layout = "~/Views/Shared/_SACLayout.cshtml";
    ViewBag.Title = "Proceso de Descarga";
}
<script type="text/javascript">

    jQuery(function () {

        $("#txtPais").val('@Util.SinAcentosCaracteres(ViewBag.NombrePais)');
        $("#txtFecha").val(sumarFecha(1));

        var currentdate = new Date();
        $("#txtFecha").datepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/Images/calendar.png")',
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy',
            minDate: new Date("01/01/" + currentdate.getFullYear()),
            maxDate: new Date("12/31/" + currentdate.getFullYear()),
            disabled: true
        });

        $("#txtFecha").blur(function () {
            var dateText = $(this).val();
            if (isValidDate(dateText))
                $(this).val(dateText);
            else
                $(this).val("");
        });

        $("#txtFecha").attr('disabled', 'disabled');

        $("#btnDescargar").click(function () {
            RealizarDescarga();
        });

        $("#aDocumento").click(function () {
	    waitingDialog({});
            setTimeout(function () { DownloadAttachExcelDet() }, 0);
        });

        $("#chkModificar").click(function () {
            if ($('#chkModificar').is(':checked'))
            {
                $("#txtFecha").removeAttr('disabled');
                $("#txtFecha").datepicker('enable');
            }
            else
            {
                $("#txtFecha").datepicker('disable');
                $("#txtFecha").attr('disabled', 'disabled');               
            }
        });
    });

    function sumarFecha(numDia) {
        var hoy = new Date();
        var dias = parseInt(numDia);
        var calculado = new Date();
        calculado.setDate(
            hoy.getDate() + dias
        );
        return calculado.getDate() + '/' + (calculado.getMonth() + 1) + '/' + calculado.getFullYear();
    }

    function isValidDate(date) {
        var matches = /^(\d{2})[-\/](\d{2})[-\/](\d{4})$/.exec(date);
        if (matches == null) return false;
        var d = matches[1];
        var m = matches[2] - 1;
        var y = matches[3];
        var composedDate = new Date(y, m, d);
        return composedDate.getDate() == d &&
            composedDate.getMonth() == m &&
            composedDate.getFullYear() == y;
    }
    
    function RealizarDescarga() {
        var fechaEjecucion = $("#txtFecha").val();
        
        if (fechaEjecucion == "") {
            alert("Ingrese una Fecha de Ejecucion");
        }
        else {
            $("#aDocumento").text("");
            $("#hdnDocumento").val("");
            $("#DivDescargas").hide();

            var waiting = {
                message: 'Espere unos minutos, por favor...',
                title: 'Ejecutando Proceso'
            };
            waitingDialog(waiting);

            var parametros = { fechaEjecucion: fechaEjecucion };
            
            $.ajax({
                type: 'POST',
                url: window.baseUrl + 'Paypal/RealizarDescarga',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(parametros),
                async: true,
                cache: false,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            alert(data.mensaje);
                            if(data.rutaPaypal != null || data.rutaPaypal != ""){
                                $("#aDocumento").text(data.linkPaypal);
			                    $("#hdnDocumento").val(data.rutaPaypal);
			                    $("#DivDescargas").show();                         
                        }
                        }
                        else {
                            alert(data.mensaje);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        $("#aDocumento").text("");
                        $("#hdnDocumento").val("");
                        $("#DivDescargas").hide();
                        closeWaitingDialog();
                        alert("Ocurrio un error del Sistema.");
                    }
                    console.error(data);
                }
            });
        }
    }

	function DownloadAttachExcelDet() {
        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        var requestedFile = encodeURIComponent($("#hdnDocumento").val());
        iframe_.setAttribute("src", baseUrl + 'WebPages/Download.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }
</script>

<div class="wrap_cab">

    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Proceso de Descarga</h1>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix" style="min-height: 250px;">
        <div class="border-wrapper_reg">

            <div class="div-3">
                <div class="titF">País :</div>
                <div class="selectP2 disabled borde_redondeado">
                    <input type="text" id="txtPais" disabled="disabled" />
                </div>
            </div>

            <div class="div-3">
                <div class="titF">Fecha de Ejecución :</div>
                <div class="calendar borde_redondeado">
                    <input type="text" id="txtFecha" />                    
                </div>
                <div style="float: left; width: 16px; height: auto; text-align: left;">
                    <input type="checkbox" value="1" id="chkModificar"/>
                </div>
                <div style="float: left; width: 80px; height: auto; padding: 9px 9px 9px 4px; color: #702789; font-size: 14px; text-align: left;">Modificar</div>
            </div>

            <div class="div-3">
                <div class="titF"></div>
                <div class="input_add_alert_left">
                    <input type="button" name="" id="btnDescargar" value="Descargar" />
                </div>
				<div id="DivDescargas" class="div-4" style="display:none">
					<div class="noti3">
						Puede descargar los archivos generados haciendo click en los siguientes enlaces:<br />
						Descargar: <a id="aDocumento" href="#"></a><br />
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnDocumento" name="hdnDocumento" />
<div id="loadingScreen"></div>

