@{
    Layout = "~/Views/Shared/_SACLayout.cshtml";
    ViewBag.Title = "Reporte de Abonos";
}
<script type="text/javascript">
    jQuery(document).ready(function () {

        $("#btnBuscar").click(function () {
            if (checkTimeout()) {

                var txtCodConsultora = $.trim($("#txtConsultora").val());
                var txtCodigoTransaccion = $.trim($("#txtCodigoTransaccion").val());
                var ddlAnho = $("#ddlAnio").val();
                var ddlDia = $("#ddlDia").val();
                var ddlMes = $("#ddlMes").val();

                if (txtCodConsultora == "" && txtCodigoTransaccion == "" && ddlAnho == "0" && ddlMes == "0" && ddlDia == "0") {
                    alert("Debe seleccionar por lo menos un filtro de búsqueda, verifique");
                    return false;
                } else
                    fnGrilla();
            }
        });
        $("#txtConsultora").keypress(
            function (evt) {
                var charCode = (evt.which) ? evt.which : window.event.keyCode;
                if (charCode <= 13) {
                    return false;
                }
                else {
                    var keyChar = String.fromCharCode(charCode);
                    var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ _.\/-]/;
                    return re.test(keyChar);
                }
            });
        $("#txtCodigoTransaccion").keypress(
            function (evt) {
                var charCode = (evt.which) ? evt.which : window.event.keyCode;
                if (charCode <= 13) {
                    return false;
                }
                else {
                    var keyChar = String.fromCharCode(charCode);
                    var re = /[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ _.\/-]/;
                    return re.test(keyChar);
                }
            });

        $.getJSON(baseUrl + 'Paypal/ObtenerAnios', { paisID: 0 }, function (data) {
            if (checkTimeout(data)) {
                var ddlAnio = $('#ddlAnio');
                ddlAnio.empty();
                if (data.lista.length > 0) {
                    ddlAnio.append($('<option/>', {
                        value: 0,
                        text: '----'
                    }));
                    for (var item in data.lista) {
                        ddlAnio.append($('<option/>', {
                            value: data.lista[item],
                            text: data.lista[item]
                        }));
                    }
                }
            }
        });
    });
    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "Paypal/ConsultarAbonos",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                chrCodigoConsultora: function () { return jQuery.trim($("#txtConsultora").val()); },
                intDia: function () { return jQuery.trim($("#ddlDia").val()); },
                intMes: function () { return jQuery.trim($("#ddlMes").val()); },
                intAnho: function () { return jQuery.trim($("#ddlAnio").val()); },
                chrCodigoTransaccion: function () { return jQuery.trim($("#txtCodigoTransaccion").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['Cód. Consultora', 'Nombre Consultora', 'Fecha Abono', 'Monto Abono', 'Cód. Autorización', 'Cód. Transacción'],
            colModel: [
                { name: 'CodigoConsultora', index: 'CodigoConsultora', width: 100, editable: true, resizable: false },
                { name: 'NombreConsultora', index: 'NombreConsultora', width: 200, editable: true, resizable: false },
                { name: 'FechaAbono', index: 'FechaAbono', width: 110, editable: true, resizable: false },
                { name: 'MontoAbono', index: 'MontoAbono', width: 80, editable: true, resizable: false },
                { name: 'CodigoAutorizacionBancaria', index: 'CodigoAutorizacionBancaria', width: 80, editable: true, resizable: false },
                { name: 'CodigoTransaccion', index: 'CodigoTransaccion', width: 80, editable: true, resizable: false }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            width: '930',
            height: 'auto',
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Reporte  <span>de Abonos</span></h1>
            </div>
            <div class="div-3">
                <div class="titI">Cód. Consultora:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtConsultora" maxlength="25">
                </div>
                <div class="titAuto">Fecha de Pago:</div>
                <div class="selectH2 borde_redondeado">
                    <select id="ddlDia">
                        <option value="0">--</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                </div>
                <div class="selectH2 borde_redondeado">
                    <select id="ddlMes">
                        <option value="0">--</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>
                <div class="selectH2 borde_redondeado">
                    <select id="ddlAnio">
                    </select>
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Cód. Transacción:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtCodigoTransaccion" maxlength="30">
                </div>
                <div class="input_search">
                    <input id="btnBuscar" type="button" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>

