@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Mensaje de Pago";
}
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Transacción Segura y <span>Exitosa!</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg aligncenter">
            <div class="wrap_modal">
                <div class="image_modal">
                    <img src="~/Content/Images/paypal_exito.png" alt="" />
                </div>
            </div>
            <div class="texto_modal2">
                <div>La transacción ha concluido con éxito.</div>
                <div>Verifique en su estado de cuenta de MyL'bel.com, después de 24 horas (1 día útil).</div>
                <div>Gracias!</div>
            </div>
        </div>
    </div>
</div>
