@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Mensaje de Pago";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#btnRegresar").click(function () {
            location.href = '@Url.Action("Index", "PayPal")';
        });
    });
</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Error <span>de Transacción</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg aligncenter">
            <div class="wrap_modal">
                <div class="image_modal">
                    <img src="~/Content/Images/paypal_error.png" alt="" />
                </div>
            </div>
            <div class="texto_modal2">
                <div>Su transacci&oacute;n no se pudo completar, por favor int&eacute;ntelo nuevamente.</div>
                <div>Disculpe las molestias causadas.</div>
            </div>
            <div class="boton_modal">
                <div class="input_search">
                    <input type="button" id="btnRegresar" value="Regresar">
                </div>
            </div>
        </div>
    </div>
</div>
