@{
    ViewBag.Title = "Escala de Descuentos";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores">ESCALA DE <span>DESCUENTOS</span></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div class="pestana_lbel" style="margin-left:119px;"></div>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-1">
                <div class="box">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container clearfix container_escalaDescuento">
        <div>
            <img src="@ViewBag.Ruta" />
        </div>
    </div>
</div>
