@using Portal.Consultoras.Web.Models;
@using Portal.Consultoras.Web.Controllers;

@model HojaInscripcionMensajeFinalModel

<div class="field12 text_align_center mensaje_final">
    <h2>La solicitud de <span>@Model.NombrePostulante</span>  est&aacute; siendo procesada</h2>
</div>
<div class="field12" style="font-size: 13px;">
    <div class="subtitulo">
        Indicaciones
    </div>
    <div class="indicaciones">
        Muy pronto se pondr&aacute;n en contacto contigo <span>@Model.PrimerNombrePostulante</span>.<br />
        Recuerda tener a la mano los documentos que te soliciten en el contacto.
        <br><br>
        Gracias.
    </div>
</div>
<div class="field12 text_align_center">
    <button id="btnFinalizar" type="submit" class="button_purple clear">Aceptar</button>
    @Html.ActionLink("inicio", "Index", new { E = Model.Token }, new { @id = "linkInicio", @style = "display:none;" })
</div>

<script>
    $('#contenedor_pais').hide();
    $('#wrap_tabs').hide();
    $('#btnFinalizar').click(function () {
        document.location = $('#linkInicio').attr('href');
    });
</script>