@using Portal.Consultoras.Web.Models;
@using Portal.Consultoras.Web.Controllers;

@model HojaInscripcionMensajeFinalModel

<div class="field12 text_align_center mensaje_final">
    <h2>
        Lamentablemente la solicitud de <br /> 
        <span>@Model.NombrePostulante</span> <br /> 
        <span class="alerta">no ha sido aprobada</span>
    </h2>
</div>
<div class="field12" style="font-size: 13px;">
    <div class="subtitulo">
        Indicaciones
    </div>
    <div class="indicaciones">
        Su historial crediticio presenta una deuda.<br>
        Recomienda que regularice su situaci&oacute;n para que vuelva a postular nuevamente
        <br><br>
        Gracias.
    </div>
</div>
<div class="field12 text_align_center">
    <button id="btnFinalizar" type="submit" class="button_purple clear">Aceptar</button>
    @Html.ActionLink("inicio", "Index", new { E = Model.Token }, new { @id = "linkInicio", @style = "display:none;" })
</div>

<script>
    $('#contenedor_pais').hide();
    $('#wrap_tabs').hide();
    $('#btnFinalizar').click(function () {
        document.location = $('#linkInicio').attr('href');
    });
</script>