@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>.: Registro de Postulante :.</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Bundle/Css/Desktop/HojaInscripcion")
</head>
<body>
    <div id="wrap_formulario">
        <h1 style="margin-top:60px;">REGISTRO DE POSTULANTE</h1>
        <div id="Formulario" class="field12">
            <h3 style="text-align: center;">
                Lo sentimos, el pa&iacute;s que solicitas no se encuentra habilitado.
            </h3>
        </div>
        <div class="clear"></div>
    </div>
</body>
</html>
