
@model Portal.Consultoras.Web.Models.CertificadoComercial.CertificadoComercialModel

<div id="div-report">
    <table>
        <tr>
            <td colspan="2">No. @Model.CertificadoComercialId</td>
        </tr>
        <tr>
            <td>Quito, 31 de Agosto de 2017</td>
            <td></td>
        </tr>
        <tr>
            <td>
                GRUPO TRANSBEL S.A. <br />
                RUC 1791412540001
            </td>
        </tr>
        <tr>
            <td>Se permite Certificar que:</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                La señora <b>JOHANNA SISSIBEL GOMEZ RIVADENEIRA</b> identificada con celula <br />
                de ciudadania numero <b>1308566734</b> es compradora de esta Compañia desde el <br />
                dia <b>27 de Abril de 2017</b> y a la fecha cuenta con un promedio de compra de <br />
                muchos productos igual a $ 500 durante las ultimas 3 campañas.
            </td>
        </tr>
        <tr>
            <td colspan="2">
                La presente referencia se expide a solicitud de la interesada en Quito, al 31 de <br />
                Agosto de dos mil diecisiete (2017).
            </td>
        </tr>
        <tr>
            <td colspan="2">
                En caso de requerir confirmacion del presente documento se pueden comunicar <br />
                a las lineas 023935900
            </td>
        </tr>
        <tr>
            <td colspan="2"><p>&nbsp;</p></td>
        </tr>
        <tr>
            <td><b>Atentamente</b></td>
            <td></td>
        </tr>
        <tr>
            <td>
                Veronica Velasco H. <br />
                Jefe de Servicio al Cliente <br />
                <b>Grupo Transbel S.A.</b>
            </td>
        </tr>
    </table>
</div>

