
@model List<Portal.Consultoras.Web.Models.CertificadoComercial.CertificadoComercialModel>

<div id="div-report">
    <table>
        <tr>
            <td colspan="2" style="text-align:right; background-color: yellow;">No. 89909011</td>
        </tr>
        <tr>
            <td>Quito, 27 de Setiembre de 2017</td>
            <td></td>
        </tr>
        <tr>
            <td>A QUIEN PUEDA INTERESAR</td>
            <td></td>
        </tr>
        <tr>
            <td><b>Asunto:</b>Certidicado de no adeudo</td>
            <td></td>
        </tr>
        <tr>
            <td>La suscrita se permite CERTIFICAR que:</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
            La señora Maria Mercedes Perez Gonzales Identificado con la celula de <br />
            ciudadania No. 0405060708 es consultora Belcorp (compradora) y a la fecha <br />
            no mantiene deuda con la Compañia GRUPO TRANSBEL S.A.
            </td>
        </tr>
        <tr>
            <td colspan="2">
            La presente se expide al 27 del Mes de Setiembre de dos mil diecisiete <br />
            (2017).</td>
        </tr>
        <tr>
            <td colspan="2"><p>&nbsp;</p></td>
        </tr>
        <tr>
            <td><b>Atentamente</b></td>
            <td></td>
        </tr>
        <tr>
            <td style="background-color: aqua;">
                Xavier Garces Tomish <br />
                JEFE DE COBRANZAS <br />
                <b>Grupo Transbel S.A.</b>
            </td>
        </tr>
    </table>
</div>

