USE BelcorpPeru
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpMexico
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpColombia
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpSalvador
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpPuertoRico
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpPanama
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpGuatemala
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpEcuador
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpDominicana
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpCostaRica
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpChile
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

USE BelcorpBolivia
GO

DELETE FROM contenidoAPPDETA WHERE IdContenido IN (SELECT IDCONTENIDO FROM dbo.COntenidoApp WHERE Codigo='QUESTIONPROURL')
DELETE FROM dbo.COntenidoApp  WHERE Codigo='QUESTIONPROURL'

GO

