@model Portal.Consultoras.Web.Models.UrlModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        #content {
            margin-left: -15px;
            margin-right: -15px;
        }

        #frameWrap {
            background: #f0f0f0;
            position: relative;
            margin-left: 0;
            margin-right: 0;
        }

        #frameLoading {
            width: 100%;
            height: 100%;
            z-index: 1000;
            background: #ccc;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            padding-left: 50%;
            padding-top: 10%;
        }

        #framePage {
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 480px;
        }
    </style>
}

<div id="frameWrap" class="row">
    <div id="frameLoading">
        <img alt="Cargando..." src="@Url.Content("~/Content/images/Loading.gif")"/>
    </div>
    <iframe id="framePage" src="@Model.Nombre"></iframe>
</div>

@section scripts{
    <script type="text/javascript">

        if (window.location != window.parent.location) {
            $('#framePage').attr("src", "");
            messageInfo("<h3>Disculpe, ocurrió un error al cargar la página.</h3>");
        }

        $(document).ready(function () {
            $('#frameLoading').hide();

            $('#framePage').ready(function (event) {
                $('#frameLoading').show();
            });
            $('#framePage').load(function () {
                $('#frameLoading').hide();
                $('#framePage').contents().find('#wrap_header_menu_background,#logo,#footer').hide();

                var dim = windowDimensions();
                var myIframe = $('#framePage');
                myIframe.height((dim[1]) + "px");
            });
        });

        function windowDimensions() { // prototype/jQuery compatible
            var myWidth = 0, myHeight = 0;
            if (typeof (window.innerWidth) == 'number') {
                //Non-IE or IE 9+ non-quirks
                myWidth = window.innerWidth;
                myHeight = window.innerHeight;
            } else if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) {
                //IE 6+ in 'standards compliant mode'
                myWidth = document.documentElement.clientWidth;
                myHeight = document.documentElement.clientHeight;
            } else if (document.body && (document.body.clientWidth || document.body.clientHeight)) {
                //IE 5- (lol) compatible
                myWidth = document.body.clientWidth;
                myHeight = document.body.clientHeight;
            }
            if (myWidth < 1) myWidth = screen.width; // emergency fallback to prevent division by zero
            if (myHeight < 1) myHeight = screen.height;
            return [myWidth, myHeight];
        }
    </script>
}

