
/*REVISTA DIGITAL DETALLE DESKTOP */
.revista_ficha {
    background-position: left top !important;
    padding-top: 40px;
    height: 323px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

    .revista_ficha .revista_ficha .rd_volver {
        font-size: 13px;
        letter-spacing: .5px;
        position: absolute;
        top: -20px;
        transition: all .2s ease-in-out;
        padding-left: 0;
    }

    .revista_ficha .rd_volver .previous_volver {
        width: 8px;
        height: 12px;
        position: absolute;
        left: -15px;
        top: 3px;
    }

    .revista_ficha .rd_volver:hover {
        font-weight: 800;
        transition: all .2s ease-in-out;
    }

        .revista_ficha .rd_volver:hover .previous_volver {
            animation: bounceLeft 1.2s infinite;
        }


    .revista_ficha .content_revista_ficha_descripcion {
        min-height: 314px;
        background-color: white;
        margin-left: 40%;
        position: relative;
        padding: 60px 45px;
    }

        .revista_ficha .content_revista_ficha_descripcion .tag_nuevo {
            background-color: black;
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 5px 8px 12px;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 4px;
            text-align: center;
        }

            .revista_ficha .content_revista_ficha_descripcion .tag_nuevo:after {
                content: '';
                position: absolute;
                right: -15px;
                top: 0;
                width: 0;
                height: 0;
                border-left: 0 solid transparent;
                border-right: 15px solid transparent;
                border-top: 35px solid #000;
                clear: both;
                z-index: 1;
            }

        .revista_ficha .content_revista_ficha_descripcion .descripcion_text .tit_revista_producto {
            font-weight: 700;
            font-size: 25px;
            letter-spacing: 1px;
        }

        .revista_ficha .content_revista_ficha_descripcion .descripcion_text .revista_separador {
            font-size: 13px;
            font-weight: 500;
            letter-spacing: .5px;
            border-bottom: 1px solid black;
            padding-bottom: 5px;
            margin: 10px 0 20px;
            line-height: 15px;
        }

        .revista_ficha .content_revista_ficha_descripcion .revista_list {
            font-size: 13px;
            line-height: 23px;
        }

.pack_personalizado_ficha {
    background: #f6f6f6;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 60px;
}

    .pack_personalizado_ficha .tit_pack {
        font-size: 18px;
        font-weight: 800;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }

    .pack_personalizado_ficha .revista_producto_video {
        height: 402px;
        float: right;
        display: inline-block;
        overflow: hidden;
    }

.lanzamiento-view-detalle {
    width: 38%;
    display: inline-block;
    text-align: center;
}

    .lanzamiento-view-detalle .revistadigital-landing {
        width: 100%;
    }

    .lanzamiento-view-detalle .content_item_carrusel {
        height: auto;
        width: 100%;
    }

    .lanzamiento-view-detalle .nombre_producto {
        max-width: 100%;
    }

.ol_detalle {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
    width: 100% !important;
}

    .ol_detalle > li {
        margin: 0;
        padding: 0 0 0 2em;
        text-indent: -2em;
        list-style-type: none;
        counter-increment: item;
        display: inline-block;
        width: 100% !important;
    }

        .ol_detalle > li:before {
            display: inline-block;
            width: 1.5em;
            padding-right: .5em;
            font-weight: bold;
            text-align: right;
            content: counter(item) '.';
        }

@media (max-width: 1189px) {
    .revista_ficha {
        background-position: -375px 0 !important;
    }
}

@media (max-width: 900px) {
    .revista_ficha {
        background-position: -420px 0 !important;
    }

        .revista_ficha .content_revista_ficha_descripcion {
            margin-left: 310px;
        }
}

.detalle-prod .detalle-img {
    float: left;
    width: 35%;
    height: auto;
    margin-bottom: 46px;
    margin-right: 5%;
}

    .detalle-prod .detalle-img .img-portada {
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center bottom !important;
        width: 100%;
        height: 330px;
    }

    .detalle-prod .detalle-img .detalle-compartir {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        display: block;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
    }

        .detalle-prod .detalle-img .detalle-compartir img {
            position: relative;
            top: 5px;
            margin-left: 5px;
        }

            .detalle-prod .detalle-img .detalle-compartir img.fb {
                width: 20px;
            }

            .detalle-prod .detalle-img .detalle-compartir img.emailico {
                width: 27px;
                height: 20px;
                top: 5.39px;
            }

.detalle-prod .detalle-info {
    float: left;
    background: white;
    width: 60%;
    padding: 36px;
}

    .detalle-prod .detalle-info .label-nuevo {
        width: 137px;
        position: absolute;
        margin-top: -36px;
        margin-left: -36px;
        height: 37px;
    }

    .detalle-prod .detalle-info .detalle-bloque-uno {
        margin-bottom: 29px;
    }

        .detalle-prod .detalle-info .detalle-bloque-uno .bloque1 {
            float: left;
            width: 50%;
        }

            .detalle-prod .detalle-info .detalle-bloque-uno .bloque1 p {
                display: block;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.83;
                letter-spacing: 0.8px;
                text-align: left;
                color: #000000;
                margin-bottom: 0px;
            }

            .detalle-prod .detalle-info .detalle-bloque-uno .bloque1 h1 {
                display: block;
                font-size: 21px;
                font-weight: bold !important;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.05;
                letter-spacing: 0.9px;
                text-align: left;
                color: #000000;
                margin-bottom: 0px !important;
                font-family: 'Lato' !important;
            }

            .detalle-prod .detalle-info .detalle-bloque-uno .bloque1 span {
                display: block;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.83;
                letter-spacing: 0.8px;
                text-align: left;
                color: #000000;
                margin-top: 2px;
            }

        .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 {
            float: left;
            width: 50%;
        }

            .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 span.precio-tachado {
                display: block;
                font-size: 13px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: #000000;
                text-decoration: line-through;
            }

            .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 span.precio-para-ti {
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: #000000;
                display: block;
            }

                .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 span.precio-para-ti b {
                    font-size: 20px;
                    font-weight: bold;
                    position: relative;
                    margin-left: 5px;
                    top: 2px;
                }

            .detalle-prod .detalle-info .detalle-bloque-uno .bloque2 span.gana-rojo {
                display: block;
                font-size: 13px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: #e81c36;
                margin-top: 10px;
            }

    .detalle-prod .detalle-info .detalle-bloque-dos {
        margin-bottom: 20px;
    }

        .detalle-prod .detalle-info .detalle-bloque-dos p {
            display: block;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.83;
            letter-spacing: 0.5px;
            text-align: left;
            color: #000000;
            margin-bottom: 11px;
        }

        .detalle-prod .detalle-info .detalle-bloque-dos ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .detalle-prod .detalle-info .detalle-bloque-dos ul li {
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin-bottom: 5px;
            }

                .detalle-prod .detalle-info .detalle-bloque-dos ul li span.vineta {
                    float: left;
                    width: 1%;
                }
                .detalle-prod .detalle-info .detalle-bloque-dos ul li span.txt-des {
                    float: left;
                    width: 99%;
                    padding-left: 5px;
                    margin-bottom: 7px;
                }

    .detalle-prod .detalle-info .detalle-bloque-tres {
        margin-bottom: 20px;
    }

        .detalle-prod .detalle-info .detalle-bloque-tres .nombre_producto_opt {
            display: block;
            word-wrap: break-word;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

    .detalle-prod .detalle-info .detalle-bloque-cuatro {
    }

.set_encuentras_producto {
    height: auto;
    overflow: hidden;
    padding: 30px 0px 62px 0px;
    background: #f6f6f6;
    margin-top: 40px;
    width: 100%;
}

    .set_encuentras_producto p.titulo_set {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.9px;
        text-align: center;
        color: #000000;
        margin-bottom: 42px;
    }

    .set_encuentras_producto .set_encuentras_producto_carrusel {
        margin: auto;
        text-align: center;
    }

.set_encuentras_producto_video {
    height: auto;
    overflow: hidden;
    padding: 55px 0px 63px 0px;
    background: white;
    width: 100%;
}

    .set_encuentras_producto_video iframe {
        height: 455px;
        margin: auto;
    }

@media (max-width:599px) {
    .set_encuentras_producto .set_encuentras_producto_carrusel {
        width: 85%;
        margin: auto;
    }
}

.input_agregar_cantidad {
    float: left;
    width: 30%;
}

    .input_agregar_cantidad input {
        width: 50%;
        float: left;
        text-align: center;
        height: 45px;
        border-right: 1px solid #cccccc !important;
    }

    .input_agregar_cantidad a.menos {
        width: 25%;
        /* float: left; */
        /* width: 60%; */
        float: left;
        text-align: center;
        height: 45px;
        padding-top: 0;
        /* border-right: 1px solid #cccccc; */
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        padding-top: 12px;
        border-left: 1px solid #cccccc;
    }

    .input_agregar_cantidad a.mas {
        width: 25%;
        /* float: left; */
        /* width: 60%; */
        float: left;
        text-align: center;
        height: 45px;
        margin-top: 0;
        /* border-left: 1px solid #cccccc; */
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        padding-top: 15px;
        border-right: 1px solid #cccccc;
    }

.boton_agregar_cantidad {
    float: left;
    width: 70%;
}
