.lonuevo_carrusel{
	max-width: 794px;
	margin:auto;
	display: block;
	height: 395px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	margin-top:50px;
	margin-bottom:50px;
}
.lonuevo_carrusel img.logo-club{
position:absolute;
}
.lonuevo_carrusel img.logo-club-negro {
height:35px;
}
.lonuevo_carrusel .lonuevo_carrusel_portada {
height: 395px;
float: left;
width: 453px;
display: table;
}
.lonuevo_carrusel .lonuevo_carrusel_portada  .cont {
display: table-cell;
height: 374px;
vertical-align: bottom;
}
.lonuevo_carrusel .lonuevo_carrusel_portada .cont .foto_prod {
width: 350px;
height: 350px;
background-repeat: no-repeat !important;
background-position: center center !important;
float: right;
left: 90px;
top: 49px;
position: relative;
}
.lonuevo_carrusel .lonuevo_carrusel_portada img{
width: 150px;
float: right;
margin-top: 135px;
}
.lonuevo_carrusel .lonuevo_carrusel_info{
height: 395px;
float:left;
width:341px;
display: table;
}
.lonuevo_carrusel .lonuevo_carrusel_info .cont{
display: table-cell;
height: 374px;
vertical-align: middle;
padding: 0 19%;
}
.lonuevo_carrusel .lonuevo_carrusel_info .cont p {
font-size: 15px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1.2px;
text-align: left;
color: #ffffff;
margin-bottom: 10px;
display: block;
width: 100%;
}
.lonuevo_carrusel .lonuevo_carrusel_info .cont span {
font-size: 40px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.15;
letter-spacing: normal;
text-align: left;
color: #ffffff;
display:block;
width: 100%;
margin-bottom: 20px;
}
.lonuevo_carrusel .lonuevo_carrusel_info .cont a {
background-color: #be9947;
display: block;
width: 100%;
padding:13.5px 0px;
text-align: center;
font-size: 13px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1px;
text-align: center;
color: #ffffff;
}
.lonuevo_carrusel .lonuevo_carrusel_info .cont a.negro{
background:black !important;
}
.lonuevo_carrusel .lonuevo_carrusel_info .cont span.noti {
font-size: 15px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1.2px;
text-align: left;
color: #ffffff;
display: block;
width: 100%;
}
.lonuevo_carrusel .lonuevo_carrusel_info .cont span.noti b{
font-weight:900;
}		