@using Portal.Consultoras.Web.Models

@{
    Layout = "~/Views/Shared/_MainLayoutResponsive.cshtml";
}


@section css{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Responsive/ArmaTuPack")
}


<div class="banner_armaTuPack">
    <h1>¡Arma tu pack y llévatelo a S/100! </h1>
    <p>ELIGE: 2 Fragancias + 1 Maquillaje + 1 Tratamiento Corporal</p>
</div>

<div class="Select_ArmaTuPack">
    <div class="container d-flex align-items-center justify-content-center ">
        <ul class="Select_Group">
            <li class="Select_Item active"> <!-- Colocar la clase active cuando se ha selecionado un porducto  -->
                <div class="product-select">
                   <button class="product_select_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg"></button>
                   <img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/PE/201904/E/productos/PE_200089488.jpg" />
                </div>
            </li>
            <li>+</li>
            <li class="Select_Item">

            </li>
            <li>+</li>
            <li class="Select_Item">

            </li>
            <li>+</li>
            <li class="Select_Item">

            </li>
        </ul>
        <button class="Agregar_ArmaTuPack">Agregar</button>
    </div>
</div>

<div class="container" style="margin-bottom:60px">
    <section class="Sections_Pack">
        <div class="Title_pack d-flex">
            <h3>FRAGANCIA</h3>
            <span>Elige 2 opciones</span>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <article class="product_pack">
                    <div class="row">
                        <div class="product_img_Pack">
                            <img src="#" alt="" />
                        </div>
                        <div class="product_descripcion_Pack">
                            <h3>Ruby 80msla  80msla </h3>
                            <button>Elígelo</button>
                        </div>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="product_img_Pack">
                        <img src="#" alt="" />
                    </div>
                    <div class="product_descripcion_Pack">
                        <h3>Ruby 80msla  80msla </h3>
                        <button>Elígelo</button>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="product_img_Pack">
                        <img src="#" alt="" />
                    </div>
                    <div class="product_descripcion_Pack">
                        <h3>Ruby 80msla  80msla </h3>
                        <button>Elígelo</button>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="product_img_Pack">
                        <img src="#" alt="" />
                    </div>
                    <div class="product_descripcion_Pack">
                        <h3>Ruby 80msla  80msla </h3>
                        <button>Elígelo</button>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="product_img_Pack">
                        <img src="#" alt="" />
                    </div>
                    <div class="product_descripcion_Pack">
                        <h3>Ruby 80msla  80msla </h3>
                        <button>Elígelo</button>
                    </div>
                </article>
            </div>

        </div>
    </section>

    <section class="Sections_Pack">
        <div class="Title_pack d-flex">
            <h3>Maquillaje</h3>
            <span>Elige 2 opciones</span>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <article class="product_pack">
                    <div class="product_img_Pack">
                        <img src="#" alt="" />
                    </div>
                    <div class="product_descripcion_Pack">
                        <h3>Ruby 80msla  80msla </h3>
                        <button>Elígelo</button>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="product_img_Pack">
                        <img src="#" alt="" />
                    </div>
                    <div class="product_descripcion_Pack">
                        <h3>Ruby 80msla  80msla </h3>
                        <button>Elígelo</button>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="product_img_Pack">
                        <img src="#" alt="" />
                    </div>
                    <div class="product_descripcion_Pack">
                        <h3>Ruby 80msla  80msla </h3>
                        <button>Elígelo</button>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="product_img_Pack">
                        <img src="#" alt="" />
                    </div>
                    <div class="product_descripcion_Pack">
                        <h3>Ruby 80msla  80msla </h3>
                        <button>Elígelo</button>
                    </div>
                </article>

                <article class="product_pack">
                    <div class="product_img_Pack">
                        <img src="#" alt="" />
                    </div>
                    <div class="product_descripcion_Pack">
                        <h3>Ruby 80msla  80msla </h3>
                        <button>Elígelo</button>
                    </div>
                </article>
            </div>

        </div>
    </section>
</div>

    @section scripts{

        @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mixto/ArmaTuPack")

        <script type="text/javascript">

            $(document).ready(function () {

            });
        </script>
    }
