
/* FICHA DE PRODUCTO RESPONSIVE (DESKTOP) */

.layout__content__fichaProductos{
    width:100%;
    max-width:940px;
    padding-top:9px;
}

.fichas__productos__wrapper{
    display:grid;
    grid-gap:20px;
    width:100%;
    margin:0 auto;
    padding:30px 0;
    max-width:100%;
    grid-template-columns:repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow:row dense;
}

.ficha__producto {
    height: auto;
    padding: 30px 20px 25px 20px;
    background-color: #FFF;
    border: 1px solid #ebebeb;
    border-radius:4px;
    cursor: pointer;
    position: relative;
}

.ficha__producto--agotado .ficha__producto__imagen {
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity:0.5;
}

.ficha__producto--ancha{
    grid-column: span 2;
}

.ficha__producto__imagen{
    height:168px;
    overflow:hidden;
    margin-bottom:8px;
}

.ficha__producto__imagen img{
    width:auto;
    height:100%;
}

.btn__ver__detalle{
    position:absolute;
    border: 1px solid #000;
    border-radius:3px;
    color: #000;
    background-color: #FFF;
    height: 40px;
    font-size:11px;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ficha__producto__imagen:hover .btn__ver__detalle{
    opacity:1;
}

.ficha__producto--delgada .btn__ver__detalle{
    max-width:114.39px;
}

.ficha__producto--ancha .btn__ver__detalle{
    max-width:177.64px;
}

.ficha__producto__descrip {
    margin-top: 8px;
    line-height: 13px;
    letter-spacing: 0.2px;
}

.ficha__producto--agotado .ficha__producto__descrip div,
.ficha__producto--agotado .ficha__producto__precio div
{
    color:#808080;
}

.ficha__producto__descrip__marca__pais{
    font-size:11px;
    margin-bottom:2px;
}

.ficha__producto__descrip__nom{
    font-size:13px;
    min-height:57px;
    margin-bottom:2px;
    line-height:18px;
}

.ficha__producto__precio{
    margin-bottom:16px;
}

.ficha__producto__precio__normal,
.ficha__producto__precio__oferta
{
    letter-spacing:0.2px;
    min-height:19px;
}

.ficha__producto__precio__normal{
    text-decoration:line-through;
    margin-right:10px;
    font-size:13px;
}

.ficha__producto__precio__oferta{
    font-size:15px;
    line-height:21px;
}

.ficha__producto__rango__cantidad{
    border:1px solid #CCC;
    background-color:#FFF;
    border-radius:4px;
    height:45px;
    position:relative;
    overflow: hidden;
}

.ficha__producto__rango__cantidad,
.ficha__producto--ancha .ficha__producto__rango__cantidad{
    margin-right:10px!important;
}

.ficha__producto__rango__cantidad .mas,
.ficha__producto__rango__cantidad .menos
{
    position: absolute;
    right: 0;
    height: 22.5px;
}

.ficha__producto__rango__cantidad .menos{
    border-top: 1px solid #CCC;
    bottom: 0;
}

.ficha__producto__rango__cantidad .mas img,
.ficha__producto__rango__cantidad .menos img
{
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:8px;
    height:8px;
}

.ficha__producto__rango__cantidad input{
    border-left: none;
    border-right: 1px solid #CCC;
    background-color:#FFF;
    border-top: none;
    border-bottom: none;
}

.ficha__producto__agregar__producto{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.ficha__producto--ancha .ficha__producto__agregar__producto .col-md,
.ficha__producto--ancha .ficha__producto__agregar__producto .col-lg,
.ficha__producto--ancha .ficha__producto__agregar__producto .col-xl
{
    -ms-flex: 0 0 17.855%;
    flex: 0 0 17.855%;
    max-width: 17.855%;
}

.ficha__producto--ancha .ficha__producto__agregar__producto .col-md-7,
.ficha__producto--ancha .ficha__producto__agregar__producto .col-lg-7,
.ficha__producto--ancha .ficha__producto__agregar__producto .col-xl-7
{
    -ms-flex: 0 0 81.333333%;
    flex: 0 0 81.333333%;
    max-width: 81.333333%;
}

.boton__agregalo--fichaProducto,
.btn__elegir__opcion--fichaProducto span
{
    font-size:13px!important;
    letter-spacing:0.7px;
}

.selector__cant__desactivado--fichaProducto{
    opacity:1;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color:rgba(216, 216, 216, 0.5);
}

.selector__cant__desactivado--fichaProducto input{
    border-right: 1px solid rgba(128, 128, 128, 0.5)!important;
    color:rgba(128, 128, 128, 0.5);
    background-color:transparent;
}

.selector__cant__desactivado--fichaProducto .mas,
.selector__cant__desactivado--fichaProducto .menos
{
    pointer-events:none;
    cursor:not-allowed!important;
}

.selector__cant__desactivado--fichaProducto img{
    opacity:0.5;
}

.btn__elegir__opcion--fichaProducto{
    width:100%;
    background-color:#FFF;
    height: 45px;
    line-height:41px;
    color:#000!important;
    font-size:13px;
}

.btn__elegir__opcion--fichaProducto span{
    vertical-align:middle;
}

.btn__elegir__opcion--fichaProducto span:before,
.btn__elegir__opcion--fichaProducto span:after
{
    display: inline-block;
    vertical-align: middle;
}

.btn__elegir__opcion--fichaProducto span:before{
    content: "";
    margin-right: 2px;
    position: relative;
    top: 4px;
    width: 25px;
    height: 30px;
    background-image: url(/Content/Images/icono-elige-tu-opcion.svg);
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size:24px;
}

.btn__elegir__opcion--fichaProducto span:after{
    content: "Elige tu opción";
    margin-bottom:1px;
}

.btn__inactivo--fichaProducto{
    border-color:rgba(128, 128, 128, 0.5);
    background-color:rgba(216, 216, 216, 0.5);
    line-height:45px;
    pointer-events:none;
    cursor:not-allowed!important;
    color:rgba(128, 128, 128, 0.5)!important;
}

.ficha__producto__etiqueta{
    margin-bottom:-14px;
    top:3px;
}

.ficha__producto__etiqueta span{
    font-size:9px;
    color:#808080;
}

.ficha__producto__etiqueta span:before{
    display:inline-block;
    width: 7.3px;
    height: 8.8px;
    content:"";
    position: relative;
    top: 1px;
    margin-right:5px;
    background-image:url(/Content/Images/check-agregado-icono.svg);
    background-repeat:no-repeat;
    background-position:center;
}

@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {

    .fichas__productos__wrapper{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:center;
    }

    .ficha__producto{
        width: calc(25% - 20px);
        min-width: 220px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom:20px;
    }

    .ficha__producto--ancha{
        width:calc(50% - 20px)!important;
        min-width:460px;
    }

    .ficha__producto__rango__cantidad input{
        position:relative;
        left:-11px;
    }

}

/* FIN - FICHA DE PRODUCTO RESPONSIVE (DESKTOP) */

/* FICHA DE PRODUCTO RESPONSIVE (MOBILE) */

@media screen and (max-width: 991px) and (-ms-high-contrast: none), (max-width: 991px) and (-ms-high-contrast: active) {

    .ficha__producto--delgada{
        width: calc(28% - 20px)!important;
    }

    .ficha__producto--ancha{
        width:calc(56% - 20px)!important;
    }

    .ficha__producto__rango__cantidad input{
        position:relative;
        left:-13px;
    }

}

@media screen and (max-width:991px) {

    .layout__content__fichaProductos{
        padding-top:0;
        min-width:0;
        width:100%;
        max-width:none;
    }

    .fichas__productos__wrapper{
        grid-gap:15px 10px;
        padding:15px 10px;
        max-width:none;
    }

    .ficha__producto{
        min-width:0;
        padding:14px 7px 24px 7px;
    }

    .ficha__producto__descrip{
        margin-top:10px;
        margin-bottom:5px;
    }

    .ficha__producto__descrip__nom{
        min-height:32px;
    }

    .ficha__producto__precio{
        margin-bottom:12px;
    }

    .ficha__producto__descrip__nom,
    .ficha__producto__precio__normal
    {
        line-height:16px;
    }

    .ficha__producto__precio__normal{
        font-size:13px;
    }

    .btn__elegir__opcion--fichaProducto{
        padding-left:13px;
        padding-right:13px;
    }

}

@media screen and (max-width: 767px) and (-ms-high-contrast: none), (max-width: 767px) and (-ms-high-contrast: active) {

    .fichas__productos__wrapper{
        padding-left:0!important;
        padding-right:0!important;
    }

    .ficha__producto{
        margin-left:5px;
        margin-right:5px;
        margin-bottom:10px;
    }

    .ficha__producto--delgada{
        width:calc(33% - 10px)!important;
    }

}

@media screen and (max-width:767px) {
    
    .ficha__producto{
        -moz-box-shadow: 2px 4px 3px -3px #d8d8d8;
        -webkit-box-shadow: 2px 4px 3px -3px #d8d8d8;
        box-shadow: 2px 4px 3px -3px #d8d8d8;
    }

    .ficha__producto__imagen{
        height:115px;
    }

    .ficha__producto--ancha .ficha__producto__agregar__producto .col-12:first-child,
    .ficha__producto--ancha .ficha__producto__agregar__producto .col-12:nth-child(2)
    {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .ficha__producto__precio{
        min-height:39px;
    }

    .ficha__producto--delgada .ficha__producto__precio__normal,
    .ficha__producto--delgada .ficha__producto__precio__oferta
    {
        display:block;
        width:100%;
    }

    .ficha__producto__precio__normal,
    .ficha__producto__precio__oferta
    {
        min-height:0;
    }

    .ficha__producto__precio__normal{
        margin-bottom:5px;
    }

    .ficha__producto--ancha .ficha__producto__precio__normal{
        margin-bottom:0;
    }

    .ficha__producto__precio__oferta{
        line-height:18px;
    }

    .ficha__producto--delgada .ficha__producto__precio__oferta--liquidacion
    {
        min-height:41px;
    }

    .ficha__producto--ancha .btn__elegir__opcion--fichaProducto .col-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width:100%;
    }

    .ficha__producto__rango__cantidad {
        margin-right: 0 !important;
        height:40px;
        margin-bottom:10px;
    }

    .ficha__producto--ancha .ficha__producto__rango__cantidad{
        margin-bottom:0;
        height:45px;
    }

    .ficha__producto__rango__cantidad .mas,
    .ficha__producto__rango__cantidad .menos
    {
        position:relative;
        height:100%;
        border:none;
    }

    .ficha__producto__rango__cantidad input{
        border-top:none;
        border-bottom:none;
        border-left:1px solid #CCC;
        border-right:1px solid #CCC;
    }

    .boton__agregalo--fichaProducto,
    .btn__elegir__opcion--fichaProducto span
    {
        font-size:12px!important;
        letter-spacing:normal;
    }

    .btn__elegir__opcion--fichaProducto{
        font-size:12px;
    }

    .ficha__producto--delgada .btn__elegir__opcion--fichaProducto,
    .ficha__producto--delgada.ficha__producto--agotado .btn__inactivo--fichaProducto
    {
        margin-top:50px;
    }

    .ficha__producto--delgada .btn__elegir__opcion--fichaProducto{
        line-height:normal;
    }

    .btn__elegir__opcion--fichaProducto span:before{
        width: 13px;
        margin-right:3px;
        background-position: 0 center;
        background-size: 21px;
        top:4px;
    }

    .btn__elegir__opcion--fichaProducto span:after{
        font-size: 12px;
        letter-spacing: normal;
        line-height:40px;
    }

}

@media screen and (min-width:700px) and (max-width:767px) {

    .ficha__producto--ancha .ficha__producto__rango__cantidad,
    .ficha__producto--ancha .boton__agregalo--fichaProducto,
    .ficha__producto--ancha .btn__elegir__opcion--fichaProducto
    {
        margin-top:50px;
    }

    .ficha__producto--ancha .ficha__producto__precio__normal,
    .ficha__producto--ancha .ficha__producto__precio__oferta
    {
        display:block;
        width:100%;
    }

    .ficha__producto--ancha .ficha__producto__precio{
        min-height:41px;
    }

}

@media screen and (max-width: 480px) and (-ms-high-contrast: none), (max-width: 480px) and (-ms-high-contrast: active) {

    .ficha__producto--delgada{
        width:calc(50% - 15px)!important;
    }

    .ficha__producto--ancha{
        width:calc(100% - 20px)!important;
    }

    .ficha__producto__rango__cantidad input{
        left:0;
    }

}

@media screen and (max-width:480px){

    .fichas__productos__wrapper{
        grid-template-columns:repeat(auto-fill, minmax(148px, 1fr));
    }

    .ficha__producto--delgada .ficha__producto__precio__normal,
    .ficha__producto--delgada .ficha__producto__precio__oferta
    {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width:100%;
    }

    .ficha__producto__imagen img {
        object-fit:contain;
    }

    .ficha__producto__descrip__nom{
        min-height:57px;
    }

}

@media screen and (min-width:351px) and (max-width:391px){

    .btn__elegir__opcion--fichaProducto{
        padding-left:0;
        padding-right:0;
    }

}

@media screen and (max-width: 350px) and (-ms-high-contrast: none), (max-width: 350px) and (-ms-high-contrast: active) {

    .ficha__producto{
        padding-left:6px;
        padding-right:6px;
    }
    
    .btn__elegir__opcion--fichaProducto{
        padding-left:0;
        padding-right:0;
    }

    .btn__elegir__opcion--fichaProducto span::after{
        letter-spacing:normal;
    }

}

@media screen and (max-width:350px){

    .fichas__productos__wrapper {
        grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    }

    .btn__elegir__opcion--fichaProducto{
        padding-left:4px;
        padding-right:4px;
    }

    .btn__elegir__opcion--fichaProducto span{
        line-height:16px;
    }

    .btn__elegir__opcion--fichaProducto span:before{
        position: absolute;
        top: 9px;
        left: -1px;
        background-size: 20.7px;
    }

    .btn__elegir__opcion--fichaProducto span:after{
        width: 95%;
        text-align: left;
        margin-left: 16px;
    }

}

/* FIN - FICHA DE PRODUCTO RESPONSIVE (MOBILE) */
