@{
    ViewBag.Title = "Tracking";
}

<h1><span>Seguimiento de tus Pedidos</span></h1>

<div class="wrap">
    <section class="container clearfix">
        <div class="">
            <iframe src="@ViewBag.URLWebTracking" width="900" height="700">

            </iframe>
        </div>
    </section>
</div>
