
<div data-barra-width="">
    <div id="divBarra" class="contenedor_barra_ganancia">
        <div id="divBarraMensajeLogrado" style="display:none;">
            <div class="meta_descuento">
                <div class="mensaje_barra" style="display: inline;"></div>
                <div class="agrega_barra"></div>
            </div>
            <div class="descuento_pedido">
            </div>
        </div>
        <div id="divBarraPosicion" class="barra_ganancia">
            <span id="divBarraEspacioLimite" class="BarraLimite">
                <span id="divBarraEspacioLogrado" class="barra_ganancia_espacio_logrado"></span>
            </span>
        </div>
        
    </div>
    <div class="clear"></div>
</div>
<!-- BARRA GANANCIA SB MOBILE -->
@*<div class="contenedor_barra_ganancia">
    <div class="meta_descuento">
        <div class="meta_cantidad_porcentaje_descuento">
            ¡YA LLEGAS AL <span>45</span>% DSCTO!
        </div>
        <div>
            Sólo agrega <span>S/. 33</span>
        </div>
    </div>
    <div class="descuento_pedido">
        <div>
            <span>45</span>% DSCTO
        </div>
        <div>S/. 65</div>
    </div>
    <div class="barra_ganancia">
        <div class="barra_ganancia_espacio_logrado"></div>
    </div>
</div>*@
<!-- FIN BARRA GANANCIA SB MOBILE -->