
<div data-barra-width="" class="contenedor_barra_mobile">
    <div id="divBarra" class="contenedor_barra_ganancia">
        <div id="divBarraMensajeLogrado" style="display:none;">
            <div class="meta_descuento">
                <div class="mensaje_barra" style="display: inline;"></div>
                <div class="agrega_barra"></div>
            </div>
            <div class="descuento_pedido">
            </div>
        </div>
        <div class="mensaje_meta">
            Llega a <span class="text-bold">S/ 310</span> para llevarte tu regalo.
        </div>
        <div id="divBarraPosicion" class="barra_ganancia">
            <span id="divBarraEspacioLimite" class="BarraLimite">
                <span id="divBarraEspacioLogrado" class="barra_ganancia_espacio_logrado"></span>
            </span>
        </div>
        <div class="tipo_montos_y_regalo_tippingPoint">
            <div class="w-100">
                <div class="monto_minimo text-center">
                    <div>M. Mínimo </div>
                    <div>S/ 210</div>
                </div>
                <a class="icono_regalo regalo_tippingPoint text-center" title="Elige tu regalo" href="javascript:;" onclick="javascript: cargarPopupEleccionRegalo();">
                    <img src="@Url.Content("~/Content/Images/icono_regalo.png")" alt="Elige tu regalo" />
                    <div class="monto_regaloTippingPoint default-color">S/ 370</div>
                    <div class="contenedor_circulos microEfecto_regaloPendienteEleccion">
                        <div class="circulo-1 iniciarTransicion"></div>
                        <div class="circulo-2 iniciarTransicion"></div>
                        <div class="circulo-3 iniciarTransicion"></div>
                    </div>
                </a>
                <div class="monto_maximo text-center" style="display:none;">
                    <div>M. Máximo </div>
                    <div>S/ 500</div>
                </div>
            </div>
        </div>
    </div>
</div>