@{
    ViewBag.Title = "LugaresPago";
}

<div class="wrap_cab">
     <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Lugares<span> de Pago</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">
            <div class="module_lugares_pago">
                <div class="module_lugares_link">
                    <a href="http://www.viabcp.com/" target="_blank">http://www.viabcp.com/</a>
                </div>
                <div class="module_lugares_img">
                    <img src="~/Content/Images/bcp.png" alt="" />
                </div>
                <div class="module_lugares_btn">
                    <a href="#">Ver Instructivo para pagar</a>
                </div>
            </div>
            <div class="module_lugares_pago">
                <div class="module_lugares_link">
                    <a href="http://www.interbank.com.pe/" target="_blank">http://www.interbank.com.pe/</a>
                </div>
                <div class="module_lugares_img">
                    <img src="~/Content/Images/interbank.png" alt="" />
                </div>
                <div class="module_lugares_btn">
                    <a href="#">Ver Instructivo para pagar</a>
                </div>
            </div>
            <div class="module_lugares_pago">
                <div class="module_lugares_link">
                    <a href="http://www.bbvabancocontinental.com/" target="_blank">http://www.bbvabancocontinental.com/</a>
                </div>
                <div class="module_lugares_img">
                    <img src="~/Content/Images/bbva.png" alt="" />
                </div>
                <div class="module_lugares_btn">
                    <a href="#">Ver Instructivo para pagar</a>
                </div>
            </div>
            <div class="module_lugares_pago">
                <div class="module_lugares_link">
                    <a href="http://www.scotiabank.com.pe/" target="_blank">http://www.scotiabank.com.pe/</a>
                </div>
                <div class="module_lugares_img">
                    <img src="~/Content/Images/scotiabank.png" alt="" />
                </div>
                <div class="module_lugares_btn">
                    <a href="#">Ver Instructivo para pagar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
