
@{
    ViewBag.Title = "Crecimiento";
    var Logros = ViewBag.Crecimiento;
}




<div class="container">

    <h2 class="title">Compromiso</h2>

    <div class="row">
        <div class="box-camb col-sm-12 col-md-6">
            <p class="text-bold">Tiempo juntos</p>

            <div class="cambio-crec row">
                <div class="col-3 col-sm-3">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="inactivo">1 año</a>
                    <a href="" class="como-log inactivo">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="inactivo">1 año</a>
                    <a href="" class="como-log inactivo">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="inactivo">1 año</a>
                    <a href="" class="como-log inactivo">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="inactivo">1 año</a>
                    <a href="" class="como-log inactivo">¿Cómo lograrlo?</a>
                </div>
            </div>
        </div>


        <div class="box-camb col-sm-12 col-md-6">
            <p class="text-bold">Programa de nuevas</p>
            <div class="cambio-crec row">
                <div class="col-3 col-sm-3 ">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="">1 año</a>

                    <span type="button" class="como-log" data-toggle="modal" data-target="#ModalPorcentaje">
                        <em>¿Cómo lograrlo?</em>
                    </span>

                    <!-- <a href="" class="como-log" type="button" data-toggle="modal" data-target="#ModalPorcentaje">¿Cómo lograrlo?</a> -->
                </div>
                <div class="col-3 col-sm-3 ">
                    <div class="circle-porcent cinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="">1 año</a>
                    <a href="" class="como-log ">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3 ">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="">1 año</a>
                    <a href="" class="como-log ">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3 ">
                    <div class="circle-porcent cinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="">1 año</a>
                    <a href="" class="como-log ">¿Cómo lograrlo?</a>
                </div>
            </div>
        </div>


    </div>


    <div class="row">
        <div class="box-camb col-sm-12 col-md-6">
            <p class="text-bold">Tiempo juntos</p>

            <div class="cambio-crec row">
                <div class="col-3 col-sm-3">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="inactivo">1 año</a>
                    <a href="" class="como-log inactivo">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="inactivo">1 año</a>
                    <a href="" class="como-log inactivo">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="inactivo">1 año</a>
                    <a href="" class="como-log inactivo">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="inactivo">1 año</a>
                    <a href="" class="como-log inactivo">¿Cómo lograrlo?</a>
                </div>
            </div>
        </div>


        <div class="box-camb col-sm-12 col-md-6">
            <p class="text-bold">Programa de nuevas</p>
            <div class="cambio-crec row">
                <div class="col-3 col-sm-3 ">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="">1 año</a>
                    <a href="" class="como-log" type="button" data-toggle="modal" data-target="#ModalPorcentaje">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3 ">
                    <div class="circle-porcent cinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="">1 año</a>
                    <a href="" class="como-log ">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3 ">
                    <div class="circle-porcent veinticinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="">1 año</a>
                    <a href="" class="como-log ">¿Cómo lograrlo?</a>
                </div>
                <div class="col-3 col-sm-3 ">
                    <div class="circle-porcent cinco">
                        <span>25%</span>
                    </div>
                    <a href="" class="">1 año</a>
                    <a href="" class="como-log ">¿Cómo lograrlo?</a>
                </div>
            </div>
        </div>


    </div>



</div>

<!-- Modal -->
<div class="modal fade" id="ModalPorcentaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body ">

                <div class="indicador-nivel">
                    <div class="circle-porcent veinticinco doble">
                        <span>28%</span>
                    </div>
                    <div class="left-mod">
                        <h2>Cambio de escala</h2>
                        <p>Monto mínimo Cambio de escalaCambio de escalaCambio de escalaCambio de escala</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


