
@{
    ViewBag.Title = "Index";

}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="~/Content/CaminoBrillante/css/estilos.css" rel="stylesheet" />
<link href="~/Content/CaminoBrillante/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />


<br />

<script type="text/javascript">
    //if (!isMobile()) {
    debugger;
    //$("#OfertaDelDia").hide();
    document.getElementById("OfertaDelDia").style.display = 'none';
    $(".wrapper_header wrapper_header_se").hide();
    //}
</script>


<div class="container">
    <h2 class="title">AVANCE NIVEL</h2>
    <div id="box-niveles">
        <div id="ProgressBar">
            <div class="Progress medal-3"></div>
            <span class="point pt1 activo">
                <em>Consultora</em>
            </span>
            <span class="point pt2 activo">
                <em>Coral</em>
            </span>
            <span class="point pt3 activo">
                <em>Ámbar</em>
            </span>
            <span class="point pt4">
                <em>Perla</em>
            </span>
            <span class="point pt5">
                <em>Topacio</em>
            </span>
            <span class="point pt6">
                <em>Brillante</em>
            </span>
        </div>
    </div>
    <div class="cont-benf">
        <h2 class="title">MIS BENEFICIOS DE NIVEL</h2>
        <p class="text">Todos beneficios que tienes actualmente en tu nivel.</p>
        <ul class="box-beneficios">
            <li>
                <img src="~/Content/CaminoBrillante/imgs/group-14.svg">
                <div class="txt-benf"><p class="text-bold">Revista mi negocio L’Bel</p></div>

            </li>
            <li>
                <img src="~/Content/CaminoBrillante/imgs/group-24.svg">
                <div class="txt-benf"><p class="text-bold">Servicio callcenter</p></div>
            </li>
            <li>
                <img src="~/Content/CaminoBrillante/imgs/group-17.svg">
                <div class="txt-benf"><p class="text-bold">Regalo por pedido y constancia</p></div>
            </li>
            <li>
                <img src="~/Content/CaminoBrillante/imgs/group-68-copy.svg">
                <div class="txt-benf"><p class="text-bold">1 catálogo gratis de Ésika, L’Bel, Cyzone</p></div>
            </li>
            <li>
                <img src="~/Content/CaminoBrillante/imgs/group-43.svg">
                <div class="txt-benf"><p class="text-bold">Acompañamiento presencial y virtual</p></div>
            </li>
            <li>
                <img src="~/Content/CaminoBrillante/imgs/group-23.svg">
                <div class="txt-benf"><p class="text-bold">Descuentos especiales <span>Las mejores ofertas según tu nivel</span></p></div>
            </li>
        </ul>
    </div>

    <button type="button" class="btn-principal">
        @*data-target="#exampleModal"*@
        @*data-toggle="modal"*@
        Ofertas especiales
    </button>

    <div class="cont-logros">
        <h2 class="title">MIS LOGROS</h2>
        <p class="text">Mira los logros que has obtenido por ventas y pasar pedidos <br>de forma constante, tu esfuerzo tiene recompensas.</p>
        <div class="boxcenter">
            <div class="owl-carousel owl-crec">
                <div class="item">
                    <div class="shad box-crecimiento">
                        <p class="text-bold">Crecimiento</p>
                        <span class="text-down">Tu progreso tiene recompensas</span>
                        <ul class="list-crec">
                            <li>
                                <img src="~/Content/CaminoBrillante/imgs/recurso-17-3-x@2x.png">
                                <p>Ganancia</p>
                            </li>
                            <li>
                                <img src="~/Content/CaminoBrillante/imgs/recurso-18-3-x@2x.png">
                                <p>Ganancia</p>
                            </li>
                            <li>
                                <img src="~/Content/CaminoBrillante/imgs/recurso-19-3-x@2x.png">
                                <p>Ganancia</p>
                            </li>
                        </ul>
                        <a href="" class="btn-link">Ver todos</a>
                    </div>
                </div>
                <div class="item">
                    <div class="shad box-compromiso">
                        <p class="text-bold">Crompromiso</p>
                        <span class="text-down">Pasar pedidos tiene recompesas</span>
                        <ul class="list-crec">
                            <li>
                                <img src="~/Content/CaminoBrillante/imgs/icono-2.png">
                                <p>Del 1 al 6</p>
                            </li>
                            <li>
                                <img src="~/Content/CaminoBrillante/imgs/icono-2.png">
                                <p>Del 6 al 12</p>
                            </li>
                            <li>
                                <img src="~/Content/CaminoBrillante/imgs/icono-2.png">
                                <p>Del 12 al 18</p>
                            </li>
                        </ul>
                        <a href="" class="btn-link">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cont-ganancias">
        <div class="left-ganancias">
            <h2 class="title">MIS GANANCIAS</h2>
            <p class="text">Mira las ganancias que haz obtenido durante una campaña o lo que va del año</p>
            <ul class="list-ganacias">
                <li class="shad">
                    <p class="text-bold">Monto de  mi pedido C03-C08</p>
                    <span>S./ 250</span>
                </li>
                <li class="shad">
                    <p class="text-bold">Monto de  mi pedido C03-C08</p>
                    <span>S./ 250</span>
                </li>
                <li class="shad">
                    <p class="text-bold">Monto de  mi pedido C03-C08</p>
                    <span>S./ 250</span>
                </li>
                <li class="shad">
                    <p class="text-bold">Monto de  mi pedido C03-C08</p>
                    <span>S./ 250</span>
                </li>
            </ul>
            <div class="owl-carousel owl-mont" id="mov-mont">
                <div class="item">
                    <div class="shad">
                        <p class="text-bold">Monto de  mi pedido C03-C08</p>
                        <span>S./ 250</span>
                    </div>
                </div>
                <div class="item">
                    <div class="shad">
                        <p class="text-bold">Monto de  mi pedido C03-C08</p>
                        <span>S./ 250</span>
                    </div>
                </div>
                <div class="item">
                    <div class="shad">
                        <p class="text-bold">Monto de  mi pedido C03-C08</p>
                        <span>S./ 250</span>
                    </div>
                </div>
                <div class="item">
                    <div class="shad">
                        <p class="text-bold">Monto de  mi pedido C03-C08</p>
                        <span>S./ 250</span>
                    </div>
                </div>
          
            </div>
        </div>
        <div class="shad right-ganancias">
            <p class="text-bold">Monto de mi  pedido C13-C18</p>
            <span class="text-down">Avance por campaña</span>
            <div id="chart-montos">
                <img src="~/Content/CaminoBrillante/imgs/barchar.png">
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="~/Content/CaminoBrillante/assets/owlcarousel/owl.carousel.js"></script>

<script>
    (function ($) {
        $(document).ready(function () {
            var owl = $('.owl-crec');
            owl.owlCarousel({
                stagePadding: 50,
                margin: 25,
                nav: true,
                loop: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 2
                    }
                }
            })
            var mont = $('.owl-mont');
            mont.owlCarousel({
                stagePadding: 50,
                margin: 10,
                nav: true,
                loop: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1500: {
                        items: 1
                    }
                }
            })
        });


    })(jQuery);
</script>
