@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div id="OfertasDelDiaOfertas"
     class="bc_plantilla_estrategia_personalizada"
     data-OrigenPedidoWeb=""
     data-seccion-productos="" 
     >
</div>