@using Portal.Consultoras.Web.Models
@{
    var revistaDigital = ViewBag.revistaDigital ?? new RevistaDigitalShortModel();

    var seccionTituloClass = "seccion-titulo";

    if (ViewBag.EsSuscrita)
    {
        seccionTituloClass += " seccion-titulo-dorado";
    }
}

<div class="bc_slider previsualizales-ofertas parche_presentacion_contenedor" data-plantilla="carrusel-previsuales">
    <div class="bloque-titulo">
        <div class="@seccionTituloClass">
            <span>@Model.Titulo</span>
        </div>
        <div class="parche_clear"></div>
    </div>
    <div class="content_slider_ept" data-seccion-productos="" style="max-width: 794px !important;     position: relative;
    top: -50px;"></div>
</div>

<script id="lanzamiento-carrusel-individual-template" type="text/x-handlebars-template">
    {{#each this.listaLan as |lan|}}
    <div class="lonuevo_carrusel"
         style="background: url(https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/ilf4s4o6bKMIp0t/banner%20de%20lanzamiento%20%231%20en%20desktop.jpg); background-color: #24303c !important;"
         data-item="{{lan.EstrategiaID}}"
         data-item-cuv="{{CUV2}}">
        <div style="display:none;"><div data-estrategia="{{JSON2string lan}}"></div></div>
        <img class="logo-club" src="~/Content/Images/RevistaDigital/etiqueta-club-ganamas-dorado-independiente.svg" />
        <div class="lonuevo_carrusel_portada">
            <div class="cont">
                <div class="foto_prod" style="background: url(https://s3.amazonaws.com/uploads.hipchat.com/583104/5343216/0MpYozOzq338MEB/producto-350px.png);">
                </div>
            </div>
        </div>
        <div class="lonuevo_carrusel_info">
            <div class="cont">
                <p>{{lan.DescripcionCortada}}</p>
                <span>{{lan.DescripcionResumen}}</span>
                @if (revistaDigital.EsActiva)
                {
                    <a href="javascript:void(0)" class="negro" data-item-accion='verdetalle'>VER PRODUCTO</a>
                }
                else
                {
                    if (revistaDigital.EsSuscrita)
                    {
                        <span class="noti">Podrás comprar este y <b>NUEVOS PRODUCTOS ¡DESDE LA C03!</b></span>
                    }
                    else
                    {
                        <a href="">¿LO QUIERES?</a>
                    }
                }

            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    {{/each}}
</script>