@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div id="OfertasDelDiaOfertas"
     class="bc_plantilla_estrategia_personalizada bc_ofertasDelDiaOfertas"
     data-OrigenPedidoWeb="@Portal.Consultoras.Common.Constantes.OrigenPedidoWeb.DesktopContenedorOfertaDelDíaCarrusel"
     data-seccion-productos=""
     data-plantilla="Odd" 
     >
</div>