
<script id="lanzamiento-carrusel-template" type="text/x-handlebars-template">
    {{#each this.listaLan as |lan|}}
        <div class="content_item_ept" data-item="{{lan.EstrategiaID}}" data-item-cuv="{{CUV2}}" data-ImgPrevia="{{lan.TipoEstrategiaDetalle.ImgPrevDesktop}}" style="min-height: 440px;">
            <div data-item-tag="body" class="lan_content_body">
                <div style="display:none;"><div data-estrategia="{{JSON2string lan}}"></div></div>
                <div class="detalle_set_banner" data-item-tag="contenido">
                    {{#if ../Mobile}}
                        {{#iff lan.TipoEstrategiaDetalle.ImgFichaMobile '!=' ''}}
                        <div>
                            <div class="etiqueta_nuevo_ept">
                                <img src="{{lan.TipoEstrategiaDetalle.ImgFichaMobile}}" alt="" style="max-height:50px;"/>
                            </div>
                        </div>
                        {{/iff}}
                    {{else}}
                        {{#iff lan.TipoEstrategiaDetalle.ImgFichaDesktop '!=' ''}}
                        <div>
                            <div class="etiqueta_nuevo_ept">
                                <img src="{{lan.TipoEstrategiaDetalle.ImgFichaDesktop}}" alt="" style="max-height:50px;"/>
                            </div>
                        </div>
                        {{/iff}}
                    {{/if}}
                    
                    {{#if ../Mobile}} 
                    <div class="content_set_imagen_banner" data-item-tag="foto"
                        onclick="javascript: VerDetalleEstrategia(event);">
                        <img src="{{ImgUrl lan.FotoProducto01}}" alt="" data-img-lazy="1"/>
                    </div>
                    {{else}}
                    <div class="content_set_imagen_banner producto_img_home" data-item-tag="foto" style="cursor:pointer"
                        onclick="javascript: VerDetalleEstrategia(event);">
                        <img src="{{ImgUrl lan.FotoProducto01}}" alt="" data-img-lazy="1"/>
                        <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle">VER DETALLE</a>
                    </div>
                    {{/if}}
                    
                    <div data-item-tag="descripcion">           
                        {{#iff lan.DescripcionResumen '!=' ''}}
                            <div class="titulo_set_banner_ept">{{lan.DescripcionResumen}}</div>
                        {{/iff}}
                        <div class="detalle_set_banner_ept">
                            {{lan.DescripcionCortada}}
                        </div>
                    </div>
                    <div class="producto_nombre_descripcion" data-item-tag="precio">
                        <div class="producto_precio" style="margin-bottom: 3px;">
                            {{#iff lan.Precio '>' 0}}
                                <span class="precio-oferta-normal">{{SimboloMoneda}} {{lan.PrecioTachado}}</span>
                            {{/iff}}
                            <span class="precio-oferta-venta"><b>{{SimboloMoneda}} {{lan.PrecioVenta}}</b></span>
                        </div>
                    </div>
                    <div class="producto_nombre_descripcion" data-item-tag="agregar">



                        {{#iff TipoAccionAgregar '==' '3'}}
                            <div onclick="javascript: VerDetalleEstrategia(event);">
                                <div class="texto_elige_tono">¡AHORA ELIGE TU TONO!</div>
                                <div class="clear"></div>
                                <a href="javascript:;" class="btn_elige_tono js-no-popup">
                                    <div>ELIGE TU OPCIÓN</div>
                                </a>
                            </div>
                        {{/iff}}
                        {{#iff TipoAccionAgregar '!=' '3'}}
                            {{#if ../Mobile}}
                            <div class="liquidacion_rango_home">
                                <a class="cantidad_menos_home" tabindex="0" data-bloqueada="{{lan.ClaseBloqueada}}"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                                <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral {{lan.ClaseBloqueada}}" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" tabindex="0" {{#iff lan.ClaseBloqueada '!=' ''}} disabled="disabled" {{/iff}}>
                                <a class="cantidad_mas_home" tabindex="0" data-bloqueada="{{lan.ClaseBloqueada}}"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                            </div>
                            <div class="clear"></div>
                            {{else}}
                            <div class="liquidacion_rango_home" data-cantidad-contenedor="">
                                <input type="text" value="1" min="1" max="99" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral {{lan.ClaseBloqueada}}" {{#iff lan.ClaseBloqueada '!=' ''}} disabled="disabled" {{/iff}} oninput="FuncionesGenerales.MaxLengthCheck(this, 2)" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad" data-cantidad-input="-">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas" data-cantidad-agregar="+" href="javascript:;" data-bloqueada="{{lan.ClaseBloqueada}}"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos" data-cantidad-agregar="-" href="javascript:;" data-bloqueada="{{lan.ClaseBloqueada}}"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            {{/if}}
                            <a class="boton_Agregalo_home {{lan.ClaseBloqueada}}" data-bloqueada="{{lan.ClaseBloqueada}}" href="javascript:;" data-campaniaid="{{lan.CampaniaID}}"
                               onclick="javascript:EstrategiaAgregar(event); ">
                                AGRÉGALO
                            </a>
                        {{/iff}}

                        <div class="clear"></div>
                        <div style="margin-top:9px; height: 15px;">
                            <div class="agregado product-add" style="text-align:right;display:{{#if lan.IsAgregado }}block;{{else}}none;{{/if}}">
                                AGREGADO
                                <div class="icono"></div>
                            </div>
                        </div>
                    </div>

                    {{#if ../Mobile}}
                        {{#if lan.TienePaginaProductoMob}}
                        <div class="btn_negro" style="text-align: center;">
                            <a data-item-accion="verdetalle" href="javascript:;">
                                VER MÁS
                                <img class="rd_arrowright" src="/Content/Images/RevistaDigital/rd_arrowright.png">
                            </a>
                        </div>
                        {{/if}}
                    {{else}}
                        {{#if lan.TienePaginaProducto}}
                            <a class="btn_mas_info_set rd_ver_mas btn-ofertas-margen-fix" data-item-accion="verdetalle" href="javascript:;">
                                ver más de este producto
                            </a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            {{#if ../Mobile}}
            {{else}}
            {{#iff lan.TipoEstrategiaDetalle.ImgFondoDesktop '!=' ''}}
                <div class="imagen_fondo" data-item-tag="fotofondo">
                    <img src="{{lan.TipoEstrategiaDetalle.ImgFondoDesktop}}" alt="" style="position: relative; left: 1px;" />
                </div>
            {{/iff}}
            {{/if}}
        </div>
    {{/each}}
</script>
        
