@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

@{

}

<div class="container">
    <div class="atp_main">
        <div class="atp_main_content">
            <h2 class="atp_title text-upper">Arma tu pack</h2>
            <div class="atp_content">
                <p>Elige <span>4 productos</span> y llévatelos a <span>S/100.</span></p>
                <span>Sigue el texto aquí.</span>
            </div>
        </div>
        <button class="atp_button atp_button_center text-upper">Comienza</button>
    </div>
</div>