
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<style>
    
</style>

<div class="parche_presentacion_contenedor" onclick="javascript: window.location.href = '@Model.UrlLandig'" 
     data-plantilla="Banner" style="background: url(@Model.ImagenFondo);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <div class="bloque-menu">
        <div class="titulo">
            <span>LO NUEVO</span>
        </div>
        <div class="cantidad">
            <span>Mostrando 3 de 161</span>
        </div>
        <div class="ir">
            <a href="#">VER MÁS OFERTAS</a>
        </div>
        <div class="parche_clear"></div>   
    </div>
    <div class="bloque-contenido">
    </div>
</div>