
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div class="bc_plantilla_estrategia_personalizada" style="background: url(@Model.ImagenFondo);
    padding: 0 10%;
    margin: auto;">
    <div class="titulo">
        <h2>@Model.Titulo</h2> @Model.SubTitulo
    </div>
    <div class="contenido" data-seccion-productos="" ></div>
    <div class="boton-ir">
        <a href="javascript: window.location.href = '@Model.UrlLandig'">VER MÁS OFERTAS</a>
    </div>
</div>