
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div class="bc_venta_exclusiva">
    <div class="bc_contenedor_showroom">
        <p class="bc_showroom">
            <span class="txt1" style="color:white; border-bottom:1px solid white; border-top:1px solid white;">
                VENTA EXCLUSIVA WEB
            </span>
            <span class="txt2" style="color:white; font-weight:normal;">
                HASTA <b>65% DE DSCTO</b> EN SETS EXCLUSIVOS ONLINE
            </span>
        </p>
    </div>
    <div style="height: 350px; overflow: hidden; width: 1020px; margin: 55px auto auto;">
        <div id="divOfertaProductos" data-content-item="201712" style="text-align: center;"></div>
    </div>
    <div class="bc_contenedor_showroom" style="padding-top: 0;margin-top: -25px;">
        <a href="" class="btn-comprar">!COMPRA YA!</a>
    </div>
</div>