@using Portal.Consultoras.Web.Models
@{
    var revistaDigital = ViewBag.revistaDigital ?? new RevistaDigitalShortModel();

    var seccionTituloClass = "seccion-titulo";

    if (ViewBag.EsSuscrita)
    {
        seccionTituloClass += " seccion-titulo-dorado";
    }
}

<div class="bc_slider previsualizales-ofertas parche_presentacion_contenedor" data-plantilla="carrusel-previsuales">
    <div class="bloque-titulo">
        <div class="@seccionTituloClass">
            <span>@Model.Titulo</span>
        </div>
        <div class="parche_clear"></div>
    </div>
    <div class="content_slider_ept" data-seccion-productos=""
         style="max-width: 794px !important; position: relative; top: -50px;">
    </div>
</div>

<script id="lanzamiento-carrusel-individual-template" type="text/x-handlebars-template">
    {{#each this.listaLan as |lan|}}
    {{#if lan.TipoEstrategiaDetalle.FlagIndividual}}
    <div class="lonuevo_carrusel" style="background: url({{lan.TipoEstrategiaDetalle.ImgFondoDesktop}}); background-color: #24303c !important;" data-estrategia="{{JSON2string lan}}">
        <img class="logo-club" src="/Content/Images/RevistaDigital/etiqueta-club-ganamas-dorado-independiente.svg" />
        <div class="lonuevo_carrusel_portada">
            <div class="cont">
                <div class="foto_prod" style="background: url({{lan.FotoProductoMedium}});">
                </div>
            </div>
        </div>
        <div class="lonuevo_carrusel_info">
            <div class="cont">
                <p>{{lan.DescripcionResumen}}</p>
                <span>{{lan.TipoEstrategiaDetalle.Slogan}}</span>
                @if (revistaDigital.EsActiva)
                {
                    <a href="" class="negro">VER PRODUCTO</a>
                }
                else
                {
                    if (revistaDigital.EsSuscrita)
                    {
                        <span class="noti">Podrás comprar este y <b>NUEVOS PRODUCTOS ¡DESDE LA C03!</b></span>
                    }
                    else
                    {
                        <a href="">¿LO QUIERES?</a>
                    }
                }

            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    {{/if}}
    {{/each}}
</script>