
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div class="bc_plantilla-banner" onclick="javascript: window.location.href = '@Model.UrlLandig'" 
     data-plantilla="Banner">
    <img src="@Model.ImagenFondo" alt="">
</div>