<div class="bc_venta_exclusiva" style="background:none; background-color:white;height: 480px;">
    <div class="catalogoPersonalizadoBloque">
        <div class="content_belcorp">
            <div class="content_slider_ept" id="divCarruselLan"
                 data-content-item="201712"
                 data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalDesktopLandingCarrusel">
            </div>
        </div>
    </div>
</div>
