<script id="pack-nuevas-template" type="text/x-handlebars-template">
    <div class="popup_detalleCarousel packNuevas" data-popup-body="">
        <div class="btn_cerrar_detalleCarousel">
            <a href="javascript:;" data-popup-close="" title="Cerrar">
                <img src="@Url.Content("~/Content/Images/btn_cerrar_popup.svg")" alt="Cerrar" />
                <span class="texto_btn_cerrar">CERRAR</span>
            </a>
        </div>
        <div class="contenido_popUp" data-item="packNueva" data-clone-item="{{EstrategiaID}}" data-clone-content="{{ContentItem}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}} ">
            <div style="display:none;"><div data-estrategia="{{JSON2string this}}"></div></div>
            <input type="hidden" class="OrigenPedidoWeb" value="{{OrigenPedidoWeb}}" />
            <div class="bloque_producto_packNuevas">
                <div class="content_item_carrusel">
                    {{#iff ImagenURL '!=' ''}}
                    <div class="etiqueta_producto" data-item-tag="etiqueta">
                        <img src="{{ImagenURL}}" alt="Etiqueta Producto" />
                    </div>
                    {{/iff}}
                    <div class="producto_img_home">
                        <img src="{{ImgUrl FotoProducto01}}">
                    </div>
                    <div class="etiqueta_producto"></div>
                    <div class="producto_nombre_descripcion">
                        {{#iff DescripcionMarca '!=' ''}}
                        <h6>{{DescripcionMarca}}</h6>
                        {{/iff}}
                        {{#iff DescripcionCortada '!=' ''}}
                        <p class="nombre_producto"><b>{{DescripcionCortada}}</b></p>
                        {{/iff}}
                        <div class="producto_precio">
                            <span class="producto_precio_oferta"><b>{{SimboloMoneda}} {{PrecioVenta}}</b></span>
                        </div>
                        {{#iff Precio '>' 0}}
                        <div class="monto_ganancia_producto">
                            <span>GANANCIA :</span><span>&nbsp;{{SimboloMoneda}} {{PrecioTachado}}</span>
                        </div>
                        {{/iff}}
                        <a class="boton_Agregalo_home {{ClaseBloqueada}}" data-bloqueada="{{ClaseBloqueada}}"
                           onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event, true, 1); ">
                            AGRÉGALO
                        </a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="descripcion_set_packNuevas">
                <h6>Contenido del Set:</h6>
                <div class="descripcion_lista">
                    {{#each ArrayContenidoSet as |item|}}
                    <span>{{item}}</span>
                    {{/each}}
                </div>
                {{#iff TextoLibre '!=' ''}}
                <div class="mensaje_advertencia_detalleCarousel">
                    <span class="icono_advertencia_notificacion"></span>
                    <span>{{TextoLibre}}</span>
                </div>
                {{/iff}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</script>