@*<script id="verdetalle-template" type="text/x-handlebars-template">
    <div class="content_ficha_producto_nueva" data-popup-body="">
        <a class="cerrar_fichaProducto" href="javascript:;" data-popup-close="popupDetalleCarousel_lanzamiento" title="Cerrar">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="Cerrar">
        </a>
        <div data-item="" data-OrigenPedidoWeb="{{OrigenPedidoWeb}}" data-clone-item="{{EstrategiaID}}" data-clone-content="{{ContentItem}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}" data-cuv="">
            <div style="display:none;"><div data-estrategia="{{JSON2string this}}"></div></div>
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="{{CUV2}}" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsFBRutaImagen" value="{{ImgUrl FotoProducto01}}" />
                <input type="hidden" class="rsWARutaImagen" value="{{ImgUrl FotoProducto01}}" />
                <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="MarcaNombre" value="{{DescripcionMarca}}" />
                <input type="hidden" class="Nombre" value="{{DescripcionCompleta}}" />
                <input type="hidden" class="ProductoDescripcion" value="{{DescripcionComercial}}" />
                <input type="hidden" class="Volumen" value="{{Volumen}}" />
                <input type="hidden" class="Palanca" value="{{Palanca}}" />
            </div>
            <div class="content_left_ficha content_left_ficha_fix">
                {{#iff ImagenURL '!=' ''}}
                <div class="etiqueta_producto etiqueta_producto_fix">
                    <div class="cont_etiqueta_producto"><img src="{{ImagenURL}}" alt="Etiqueta Producto" /></div>
                </div>
                {{/iff}}
                <div class="content_ficha_producto content_ficha_producto_fix">
                    <div class="cont_etiqueta_producto">
                        <img id="fav_imagen_prod" src="{{ImgUrl FotoProducto01}}">
                    </div>
                </div>
                {{#iff CodigoEstrategia '!=' '011'}}
                <div class="compartir_redes_ficha compartir_redes_ficha_fix">
                    <div class="texto_compartelo texto_compartelo_fix">
                        Compártelo con tus clientes
                    </div>
                    <a class="btn_compartir_facebook_ficha btn_compartir_facebook_ficha_fix" href="javascript: void(0);" data-compartir="FB">
                        <img src="@Url.Content("~/Content/Images/Mobile/Esika/facebook.png")" />
                    </a>
                    <hr class="clear">
                </div>
                {{/iff}}
            </div>
            <div class="content_right_ficha content_right_ficha_fix">
                <div class="etiqueta_descripcion_fix">
                    <div {{#iff CodigoVariante 'ContainsArray' '[2002,2003]'}} class="content_left_ficha" {{/iff}}>
                        {{#iff DescripcionMarca '!=' ''}}
                        <div class="marca_producto">{{DescripcionMarca}}</div>
                        {{/iff}}
                        <div id="fav_nombre_prod" class="titulo_ficha_producto" data-prod-descripcion=""
                             {{#iff CodigoVariante '==' ''}} style="font-size:22px; line-height:30px;" {{/iff}}>
                            {{DescripcionCompleta}}
                        </div>
                    </div>
                    <div {{#iff CodigoVariante 'ContainsArray' '[2002,2003]'}} class="content_right_ficha" style="text-align:right;" {{/iff}}>
                        <div class="precio_ficha_producto">
                            {{#iff Precio '>' 0}}
                            <div style="margin-top:-5px;">
                                <span class="texto_precio_ficha">Valorizado a:</span> <span class="producto_precio_normal">{{SimboloMoneda}} {{PrecioTachado}}</span>
                                <div style="clear:both;"></div>
                            </div>
                            {{/iff}}
                            <div style="margin-top:-5px;">
                                <span class="texto_precio_ficha">Precio para ti:</span>
                                <div class="precios_para_ti">
                                    <p style="font-size:13px;">
                                        {{#iff  PrecioNiveles '!=' ''}}1x{{/iff}} {{SimboloMoneda}} {{PrecioVenta}}
                                    </p>
                                    {{#iff PrecioNiveles '!=' ''}}
                                    {{#each lstPrecioNiveles as |item|}}
                                    <p style="font-size:13px;">{{item}}</p>
                                    {{/each}}
                                    {{/iff}}
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            {{#iff Ganancia '>' 0}}
                            <div style="color: #e81c36; letter-spacing: .5px; text-transform: uppercase;font-weight: 700;font-size: 16px;line-height: 17.6px;">
                                Gana: {{SimboloMoneda}} {{GananciaString}}
                            </div>
                            {{/iff}}
                        </div>
                    </div>
                    <hr class="clear">
                    <div data-estrategia="{{CodigoVariante}}">
                        {{#iff CodigoVariante '!=' ''}}
                        {{#iff CodigoVariante '==' '2001'}}
                        <div class="content_tonos" data-tono="" data-tono-select="{{CUVSelect}}" data-tono-digitable="1">
                            <div class="tono_select_opt">
                                <div class="content_tono_elegido texto_sin_tono" data-tono-change="1">
                                    <div class="tono_seleccionado" style="display:none;"><img src="~/Content/Images/showroom/no_disponible.png" alt=""></div>
                                    <div class="texto_tono_seleccionado">ELIGE TU TONO</div>
                                    <hr class="clear">
                                </div>
                                <div class="content_tonos_select" style="display:none;" data-tono-select-area="1">
                                    {{#each this.Detalle as |Tono|}}
                                    <div class="content_tono_elegido" data-tono-change="2" data-tono-cuv="{{Tono.CUV}}" data-tono-nombre="{{Tono.NombreBulk}}" data-tono-descripcion="{{Tono.NombreComercial}}">
                                        <div class="tono_seleccionado"><img src="{{Tono.ImagenBulk}}" alt=""></div>
                                        <div class="texto_tono_seleccionado">{{Tono.NombreBulk}}</div>
                                        <hr class="clear" />
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="content_tonos_maquillaje" data-tono-div="">
                                {{#each this.Detalle as |item1|}}
                                <div style="display: none;">
                                    <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="{{item1.MarcaID}}" />
                                    <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="{{item1.PrecioCatalogo}}" />
                                </div>
                                <div id="fav_tono_{{item1.CUV}}" class="content_tono_detalle {{#iff item1.CUVSelect '!=' ''}}borde_seleccion_tono{{/iff}}" data-tono-cuv="{{item1.CUV}}" data-tono-change="2" data-tono-nombre="{{item1.NombreBulk}}" data-tono-descripcion="{{item1.NombreComercial}}">
                                    <img src="{{item1.ImagenBulk}}" alt="">
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        {{/iff}}
                        {{#iff CodigoVariante 'ContainsArray' '[2002,2003]'}}
                        <div class="titulo_contenido">CONTENIDO</div>

                        {{#each this.Detalle as |item1|}}

                        <div class="content_producto_tono" data-tono="" data-tono-select="{{item1.CUVSelect}}" data-tono-digitable="{{item1.Digitable}}" style="border-bottom: {{../Linea}};">
                            <div style="display: none;">
                                <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="{{item1.MarcaID}}" />
                                <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="{{item1.PrecioCatalogo}}" />
                            </div>
                            <div class="content_left_ficha" data-tono-visible="" style="width:{{#iff item1.Digitable '==' '1'}}50%,{{else}}100%{{/iff}}; margin-right:0">
                                <div class="sub_nombre_producto">
                                    <span class="cantidad_producto_opt">x{{item1.Cantidad}} </span>
                                    <span data-tono-select-nombrecomercial="">{{item1.NombreComercial}}</span>
                                </div>
                            </div>
                            {{#iff item1.Digitable '==' '1'}}
                            <div class="content_right_ficha" style="width:50%;">
                                <div class="tono_select_opt">
                                    <div class="content_tono_elegido texto_sin_tono" data-tono-change="1">
                                        <div class="tono_seleccionado" style="display:none;"><img src="~/Content/Images/showroom/no_disponible.png" alt=""></div>
                                        <div class="texto_tono_seleccionado">ELIGE TU TONO</div>
                                        <hr class="clear">
                                    </div>
                                    <div class="content_tonos_select" style="width:102%;" data-tono-select-area="1">
                                        {{#each item1.Hermanos as |tono|}}
                                        <div class="content_tono_elegido" data-tono-change="2" data-tono-cuv="{{tono.CUV}}" data-tono-nombre="{{tono.NombreBulk}}" data-tono-descripcion="{{tono.NombreComercial}}">
                                            <div class="tono_seleccionado"><img src="{{tono.ImagenBulk}}" alt="PRODUCTO"></div>
                                            <div class="texto_tono_seleccionado">{{tono.NombreBulk}}</div>
                                            <hr class="clear">
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{/iff}}
                            <hr class="clear" />
                        </div>
                        {{/each}}
                        {{/iff}}

                        {{/iff}}
                    </div>
                </div>
                <hr class="clear" />
                {{#iff TipoAccionAgregar '>' 0}}
                <div class="liquidacion_rango_home liquidacion_rango_home_fix" data-cantidad-contenedor="">
                    <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral {{ClaseBloqueada}}" data-input="cantidad" data-cantidad-input="-" {{#iff ClaseBloqueada '!=' ''}} disbled="disable" {{/iff}}>
                    <div class="liquidacion_rango_right_pedido">
                        <a class="mas" data-cantidad-agregar="+" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" data-bloqueada="{{ClaseBloqueada}}">
                        <img data-bloqueada="{{ClaseBloqueada}}" src="/Content/Images/Esika/mas.png"  /></a>
                        <a class="menos" data-cantidad-agregar="-" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" data-bloqueada="{{ClaseBloqueada}}">
                        <img data-bloqueada="{{ClaseBloqueada}}" src="/Content/Images/Esika/menos.png" /></a>
                    </div>
                </div>
                <a class="boton_Agregalo_home boton_Agregalo_home_fix ficha_btn_agregar {{ClaseBloqueada}}" data-bloqueada="{{ClaseBloqueada}}" id="tbnAgregarProducto"
                   onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event, true);" style="cursor: pointer;">
                    AGRÉGALO
                </a>
                {{/iff}}
                {{#iff TextoLibre '!=' ''}}
                <div class="mensaje_advertencia_detalleCarousel" style="margin-top:10px; margin-left:0px;">
                    <span class="icono_advertencia_notificacion"></span>
                    <span>{{TextoLibre}}</span>
                </div>
                {{/iff}}
            </div>
            <hr class="clear" />
        </div>
    </div>
</script>*@