.atp_container{
    
    background: linear-gradient(to bottom, #C8A02D, #8D7329);
    color: black;
    height: auto;
    padding: 20px 0; 
  }
.atp_main {
    width: 320px;
    margin: 0 auto;
}

.atp_title {
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 900;
    margin: 10px 0 0 0;
    padding: 0 10px;
    text-align:left;
    color:inherit;
}

.atp_content {
    line-height: 1em;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0;
}

    .atp_content p {
        line-height: 16px;
        margin: 0;
        text-align:left;
        padding: 0 10px;
    }

.atp_action{
    width: 100%;
    height: 50px;
}

.atp_button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    left:10px;
}


.atp_button_center {
    text-align: center;
    padding: 14px;
    min-width: 100px;
    width: 30%;
    border-radius: 4px;
    font-size: 11px;
}

.text-upper {
    text-transform: uppercase;
}

@media (min-width: 600px) {
    .atp_main {        
        height: auto;
        padding: 20px 0;        
    }
    
    .atp_action {
        text-align: center;
    }

    .atp_button_center {
        width: auto;
        min-width: 50%;
        max-width: 95%;
    }

    .atp_title {
        letter-spacing: 2.7px;
        font-size: 30px;
        text-align: center;
        font-weight: 800 !important;
    }

    .atp_content p{
        font-size: 17px;
        text-align: center;
    }
}

/* Fix container min-height 500 */

[data-seccion="ATP"] .seccion-content-contenedor {
    min-height: auto;
}