.lonuevo_carrusel {
    width: 100%;
    margin: auto;
    display: block;
    height: 355px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

    .lonuevo_carrusel img.logo-club {
        position: absolute;
    }

    .lonuevo_carrusel img.logo-club-negro {
        height: 35px;
    }

    .lonuevo_carrusel .lonuevo_carrusel_portada {
        height: 355px;
        float: left;
        width: 60%;
        display: table;
        z-index: 1;
    }

        .lonuevo_carrusel .lonuevo_carrusel_portada .cont {
            display: table-cell;
            height: 374px;
            vertical-align: bottom;
        }

            .lonuevo_carrusel .lonuevo_carrusel_portada .cont .foto_prod {
                width: 300px;
                height: 300px;
                background-repeat: no-repeat !important;
                background-position: center center !important;
                float: right;
                top: 30px;
                position: relative;
                background-size: contain !important;
                margin-right: 5px;
            }

        .lonuevo_carrusel .lonuevo_carrusel_portada img {
            width: 150px;
            float: right;
            margin-top: 135px;
        }

    .lonuevo_carrusel .lonuevo_carrusel_info {
        z-index: 2;
        height: 355px;
        float: left;
        width: 40%;
        display: table;
        position: relative;
    }

        .lonuevo_carrusel .lonuevo_carrusel_info .cont {
            display: table-cell;
            height: 374px;
            vertical-align: middle;
            padding: 0 30px 0 10px;
        }

            .lonuevo_carrusel .lonuevo_carrusel_info .cont p {
                width: 100%;
                font-family: Lato;
                font-size: 15px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1px;
                text-align: left;
                color: #ffffff;
                margin-bottom: 0px;
                text-transform: uppercase;
                word-break: break-word;
                overflow: hidden;
                display: block;
                max-height: 36px;
            }

            .lonuevo_carrusel .lonuevo_carrusel_info .cont span {
                width: 100%;
                font-family: Lato;
                font-size: 30px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.5px;
                text-align: left;
                color: #ffffff;
                display: block;
                margin-bottom: 20px;
                word-wrap: break-word;
                overflow: hidden;
                max-height: 108px;
                display: block;
            }



            .lonuevo_carrusel .lonuevo_carrusel_info .cont a {
                background-color: #be9947;
                display: block;
                width: 100%;
                padding: 13.5px 0px;
                text-align: center;
                font-size: 13px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1px;
                text-align: center;
                color: #ffffff;
                width: 200px;
            }

                .lonuevo_carrusel .lonuevo_carrusel_info .cont a.negro {
                    background: black !important;
                }

            .lonuevo_carrusel .lonuevo_carrusel_info .cont span.noti {
                font-size: 15px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.2px;
                text-align: left;
                color: #ffffff;
                display: block;
                width: 100%;
            }

                .lonuevo_carrusel .lonuevo_carrusel_info .cont span.noti b {
                    font-weight: 900;
                    text-transform: uppercase;
                }

.arrow-prev {
    display: block;
    left: 0;
    margin-left: -65px;
    top: 40%;
    height: auto;
    width: 25px;
}

.arrow-next {
    display: block;
    right: 0;
    margin-right: -65px;
    top: 40%;
    height: auto;
    width: 25px;
}
