
.bc_menu_estrategia {
    background-color: #000;
    background-position: center !important;
}

    .bc_menu_estrategia .texto-info p {
        margin-bottom: 3px;
        font-weight: bolder;
        color: white;
        letter-spacing: 1.1px;
        font-size: 13px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 0px;
    }

        .bc_menu_estrategia .texto-info p img {
            width: 107px;
            position: relative;
            top: 6px;
            margin-left: 5px;
        }

    .bc_menu_estrategia .texto-info span {
        margin-bottom: 0;
        color: white;
        font-size: 11px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    /*.bc_menu_estrategia .op_menu-horizontal ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .bc_menu_estrategia .op_menu-horizontal ul li {
            display: inline-block;
            width: 33.3%;
        }

            .bc_menu_estrategia .op_menu-horizontal ul li a {
                display: block;
                background: rgba(255, 255, 255, .44);
                text-align: center;
                color: white;
                font-weight: bolder;
                font-size: 10px;
                letter-spacing: 2px;
                height: 36px;
                padding: 10px 0;
                cursor: pointer;
                transition: .3s;
                text-transform: uppercase;
            }

                .bc_menu_estrategia .op_menu-horizontal ul li a.activo {
                    background: white !important;
                    color: #333 !important;
                    text-decoration: none;
                }


                .bc_menu_estrategia .op_menu-horizontal ul li a:hover {
                    background: white;
                    color: #333;
                    text-decoration: none;
                }

                .bc_menu_estrategia .op_menu-horizontal ul li a span {
                    position: relative;
                    top: 1px;
                }

                .bc_menu_estrategia .op_menu-horizontal ul li a img {
                    display: inline;
                    margin: auto;
                    width: 14px;
                    height: 11px;
                    margin-right: 5px !important;
                    position: relative;
                    top: 2px;
                }

                    .bc_menu_estrategia .op_menu-horizontal ul li a img.hover {
                        display: none;
                    }*/

.bc_plantilla-banner {
    width: 100%;
    display: inline-block;
}

    .bc_plantilla-banner img {
        width: 100%;
    }
.bc_plantilla_estrategia_personalizada .titulo {
    display: block;
    padding: 4% 2.5% 2% 2.5%;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 15px !important;
    margin: auto;
    max-width: 971px;
    margin-bottom: 20px;
}

    .bc_plantilla_estrategia_personalizada .titulo h2 {
        display: inline;
        position: relative;
        top: 1px;
        font-size: 20px;
        margin-right: 10px;
        font-weight: bolder !important;
        letter-spacing: 1px;
        float: left;
        font-family: 'Lato';
    }

.bc_ofertasDelDiaOfertas {
    background-repeat: no-repeat;
    background-position: center center !important;
    min-height: 500px;
    vertical-align: middle;
}

.logo {
    width: auto;
    height: 96px;
    float: left;
    display: inline-block;
}

.imagen_logo {
    width: auto;
    height: 100%;
}

.texto-info {
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    width: 100%;
}

.contenedor_cabecera_2018 {
    width: 100%;
    height: 70px;
    display: table;
}

img[src="https://d1y60eoca8fkyl.cloudfront.net/RevistaDigital/CR/logo-ganamas-blanco.png"] {
    display: none;
}

    .contenedor_cabecera_2018 .sb_contenedor_cabecera_2018 {
        width: 100%;
        height: 70%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    .contenedor_cabecera_2018 .sb_contenedor_cabecera_2018 img {
        top: 4px;
        margin-left: 1px;
        height: 25px;
        position: relative;
    }


img[src="https://d1y60eoca8fkyl.cloudfront.net/RevistaDigital/PE/logo-ganamas-rojo.png"] {
    display: none;
}

.centrar-horizontal {
    width: 100%;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}

.contenedor_top {
    height: 70px;
    display: table;
    width: 100%;
}

/*.sin-active-menu1 {
    color: white !important;
}*/

/*.sin-active-menu2 {
    color: #333 !important;
}*/

/*.op-menu-vertical {
    width: 145px;
    position: -webkit-sticky;
    position: absolute;
    left: 0;
    z-index: 100;
}

    .op-menu-vertical ul {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 100%;
    }

        .op-menu-vertical ul li {
            margin-top: 4.8px;
        }

            .op-menu-vertical ul li a {
                color: #1b1b1b;
                display: block;
                transition: .3s;
                cursor: pointer;
                background: white;
                width: 100%;
                height: 100%;
                box-shadow: 3px 3px 6px rgba(0, 0, 0, .13);
                font-family: 'Lato';
            }

                .op-menu-vertical ul li a:hover {
                    box-shadow: -3px 2px 6px rgba(0, 0, 0, .21);
                    text-decoration: none;
                }

                .op-menu-vertical ul li a.activo {
                    text-decoration: none;
                }

                .op-menu-vertical ul li a.default-dorado:hover {
                    box-shadow: -3px 2px 6px rgba(0, 0, 0, .21);
                    border-left: 5px solid #c39934 !important;
                    text-decoration: none;
                }

                    .op-menu-vertical ul li a.default-dorado:hover p {
                        color: #c39934 !important;
                    }

                .op-menu-vertical ul li a.activo-dorado {
                    border-left: 5px solid #c39934 !important;
                    text-decoration: none;
                }

                    .op-menu-vertical ul li a.activo-dorado p {
                        color: #c39934 !important;
                    }


                    .op-menu-vertical ul li a.activo-dorado:hover {
                        box-shadow: -3px 2px 6px rgba(0, 0, 0, .21);
                        border-left: 5px solid #c39934 !important;
                        text-decoration: none;
                    }

                        .op-menu-vertical ul li a.activo-dorado:hover p {
                            color: #c39934 !important;
                        }

                .op-menu-vertical ul li a p {
                    display: block;
                    text-align: left;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1.15;
                    letter-spacing: .4px;
                    color: #000000;
                    font-family: 'Lato';
                    margin: 0;
                }

                    .op-menu-vertical ul li a p.titulo-estatico {
                        display: inline;
                        position: relative;
                        top: 0;
                        left: 5px;
                    }

                .op-menu-vertical ul li a img {
                    display: inline;
                }

                .op-menu-vertical ul li a span {
                    display: block;
                    text-align: left;
                    font-weight: normal;
                    font-size: 8px;
                    color: #000000;
                    letter-spacing: .1px;
                    text-transform: uppercase;
                    font-family: 'Lato';
                }*/

.op-menu-horizontal {
    text-align: center;
}

    .op-menu-horizontal .subnavegador {
        width: auto;
    }

        .op-menu-horizontal .subnavegador li {
            display: inline-block;
            padding: 0px 20px;
        }

            .op-menu-horizontal .subnavegador li a {
                text-transform: uppercase;
                font-size: 11px;
                font-weight: bold;
                letter-spacing: 0.5px;
                color: #000;
                padding: 20px 0px 13px 0px;
                line-height: normal;
            }

                .op-menu-horizontal .subnavegador li a img {
                    width: 16px;
                    margin-bottom: -2px;
                    padding-right: 3.5px;
                }

            .op-menu-horizontal .subnavegador li a.activado{
                border-bottom: 3px solid #c39934;
            }

            .op-menu-horizontal .subnavegador li .gana_mas_horizontal {
                color: #c39934;
            }

/*.negrita-p {
    font-weight: bolder;
}*/
.contenedorMenu {
    height: 66px;
    width: 138px;
    position: relative;
}

.contenedorInformacion {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contenedorImagen {
    float: left;
    margin-right: 10px;
}

.contenedorDescripcion {
    position: relative;
    width: 90px;
}

.contenedorTitulo {
    position: relative;
    width: 90px;
}

/*.bc_menu_estrategia-contenido {
    background: url('img/Rectangle75.png');
    height: 500px;
    background-color: #bf0223;
}*/

/*.bc_menu_estrategia-clearfix {
    clear: both;
}*/

.menu-fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
}

/*.boton-ir a {
    color: white;
    display: block;
    width: 210px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    float: right;
    margin-top: -5px;
    letter-spacing: 1px;
    font-family: 'Lato';
}*/

.btn-set-previous {
    width: 80px !important;
    height: 80px !important;
}

.previous_ofertas_ept {
    top: 23px !important;
}

.div-carousel-rd-prev-fix-carousel {
    left: -9.2% !important;
}

.div-carousel-rd-next-fix-carousel {
    right: -9.5% !important;
}

.previsualizales-ofertas .titulo {
    width: 901px;
    text-align: left;
    margin: auto;
    padding: 0 2%;
}


.titulo h2 {
    font-weight: bolder !important;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Lato';
    color: #b52e36;
}

.seccion-content-contenedor {
    font-family: 'Lato' !important;
    display: none;
    min-height: 500px;
    overflow: hidden;
}

.seccion-loading-contenedor {
    font-family: 'Lato' !important;
    text-align: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 18%;
}

.seccion-no-productos {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;
    display: none;
}

.popup_banner_especial {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    background: transparent url('/Content/Images/bg_popups.png') repeat left top;
    z-index: 1000;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.parche_presentacion_contenedor {
    max-width: 980px;
    margin: auto;
}

    .parche_presentacion_contenedor .bloque-titulo {
        width: 100%;
        padding: 24px 0;
    }

        .parche_presentacion_contenedor .bloque-titulo .seccion-titulo-dorado {
            color: black !important;
        }

        .parche_presentacion_contenedor .bloque-titulo .seccion-titulo {
            float: left;
            width: 50%;
            margin: 0;
            font-size: 20px;
            font-weight: bolder !important;
            letter-spacing: 1px;
            font-family: 'Lato';
            text-transform: uppercase;
            padding-left: 60px;
        }

            .parche_presentacion_contenedor .bloque-titulo .seccion-titulo span {
                position: relative;
                top: 6px;
            }

        .parche_presentacion_contenedor .bloque-titulo .cantidad {
            float: left;
            width: 25%;
            font-family: 'Lato';
            font-size: 13px;
            text-align: right;
            border: 1px solid transparent;
        }

            .parche_presentacion_contenedor .bloque-titulo .cantidad > span {
                position: relative;
                top: 11px;
            }

        .parche_presentacion_contenedor .bloque-titulo .ir {
            float: left;
            width: 25%;
        }

            .parche_presentacion_contenedor .bloque-titulo .ir a {
                color: white;
                display: block;
                width: 210px;
                text-align: center;
                padding: 10px 0;
                font-size: 14px;
                float: right;
                letter-spacing: 1px;
                font-family: 'Lato';
                height: 40px;
            }

                .parche_presentacion_contenedor .bloque-titulo .ir a.dorado {
                    background: #c39934 !important;
                }

    .parche_presentacion_contenedor .parche_clear {
        clear: both;
    }

/**/

.zona_dorada_contenedor_desktop {
    width: 100%;
    height: 280px;
    background-color: #c39934;
}

.contenido_zona_dorada_contenedor_desktop {
    top: -255px;
    margin: auto;
    max-width: 1000px;
    padding: 0 8px;
    position:relative;
}

    .contenido_zona_dorada_contenedor_desktop .block-cont {
        display: table;
        height: 40px;
    }

        .contenido_zona_dorada_contenedor_desktop .block-cont .block-cell {
            display: table-cell;
            height: 40px;
            vertical-align: middle;
        }

    .contenido_zona_dorada_contenedor_desktop .cont-uno {
        width: 90px;
        position: absolute;
    }

    .contenido_zona_dorada_contenedor_desktop .logo-dorado-contenedor {
        width: 100%;
        height: 40px;
        background: url(/Content/Images/RevistaDigital/logo-club-ganamas-blanco.png);
        background-size: cover;
    }

    .contenido_zona_dorada_contenedor_desktop .cont-dos {
        width: 80%;
        margin-left: -39px;
        float: left;
    }

        .contenido_zona_dorada_contenedor_desktop .cont-dos p {
            font-size: 13px;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: left;
            color: #ffffff;
            margin-bottom: 0;
            display: block;
            padding-left: 40px;
            display: inline-block;
            position: absolute;
            padding: 13px 0px;
            margin-left: 50px;
        }

            .contenido_zona_dorada_contenedor_desktop .cont-dos p b {
                font-weight: 900;
            }

    .contenido_zona_dorada_contenedor_desktop .cont-tres {
        width: 20%;
        float: left;
    }

        .contenido_zona_dorada_contenedor_desktop .cont-tres a {
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1px;
            text-align: center;
            color: #c39934;
            background: white;
            text-decoration: none;
            padding: 11.5px;
            width: 200px;
            float: right;
        }

    .contenido_zona_dorada_contenedor_desktop .fix-zona-dorada {
        background-color: #c39934;
        text-align: center !important;
        max-width: 1000px !important;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

/*.bc_plantilla_estrategia_personalizada {
    padding-left: 138px;
}*/
.contenido_zona_dorada_contenedor_desktop .xblock-cont-uno {
    float: left;
    width: 80%;
}

    .contenido_zona_dorada_contenedor_desktop .xblock-cont-uno img {
        float: left;
    }

    .contenido_zona_dorada_contenedor_desktop .xblock-cont-uno p {
        float: left;
        font-size: 13px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 0;
        display: block;
        padding-left: 40px;
        position: absolute;
        padding: 13px 0px;
        margin-left: 150px;
    }

        .contenido_zona_dorada_contenedor_desktop .xblock-cont-uno p b {
            font-weight: 900;
        }
.contenido_zona_dorada_contenedor_desktop .off_boton_uno{
    width:40% !important;
}
.contenido_zona_dorada_contenedor_desktop .off_boton_dos {
    width: 60% !important;
}
.contenido_zona_dorada_contenedor_desktop .xblock-cont-dos {
    float: left;
    width: 20%;
}

    .contenido_zona_dorada_contenedor_desktop .xblock-cont-dos a {
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #c39934;
        background: white;
        text-decoration: none;
        padding: 11.5px;
        width: 100%;
    }

    .contenido_zona_dorada_contenedor_desktop .xblock-cont-dos p {
        font-size: 13px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 0;
        display: block;
        /* display: inline-block; */
        padding: 13px 0px;
        text-align: right;
        margin-right: 5px;
    }

        .contenido_zona_dorada_contenedor_desktop .xblock-cont-dos p b {
            font-weight: 900;
        }

.fixed_contenedor_head {
    position: fixed;
    top: 61px;
}

.fixed_head {
    position: fixed;
    top: 61px;
    width: 100%;
    margin: auto;
    z-index: 9;
    right: 0;
    padding-left: 142px;
    max-width: initial;
}

.fixed_head_cabecera {
    width: 983px;
}

.fixed_productos {
    top: 28px !important;
}

#divOfertaProductosPerdio{
    text-align: center;
}

@media (max-width: 1100px) {
    .bc_menu_estrategia .logo {
        width: 13%;
    }
}

@media (max-width: 950px) {
    .op-menu-horizontal .subnavegador li {
        padding: 0px 15px;
    }

    .bc_menu_estrategia .logo {
        width: 15%;
    }

    .bc_menu_estrategia .texto-info p {
        font-size: 10px;
    }

    .bc_menu_estrategia .texto-info span {
        font-size: 9px;
    }
}

@media (max-width: 850px) {
    .op-menu-horizontal .subnavegador li {
        padding: 0px 10px;
    }

    .bc_menu_estrategia .logo {
        width: 17%;
    }
}