.slick-slider { margin-top: 15px !important; }

.parche_presentacion_contenedor_834 {
    max-width: 834px;
    display: block;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.parche_presentacion_contenedor_834 .bloque-titulo {
    width: 100%;
    padding: 24px 0px;
}

.contenido_834 {
    max-width: 834px;
    display: block;
    margin: auto;
    text-align: center;
}

.contenido_834 .revistadigital-landing {
    padding: 0 10px 25px 10px;
    margin-left: -2px;
    min-width: 33.33%;
    max-height: 412px;
    overflow: hidden;
}

.contenido_834 .producto-unitario { width: 33.33%; }

.contenido_834 .producto-pack { width: 66.66%; }

.contenido_834 .revistadigital-landing .content_item_carrusel {
    box-shadow: none !important;
    border: 1px solid #d8d8d8;
    height: 372px;
    overflow: hidden;
}

.contenido_834 .revistadigital-landing .content_item_carrusel a.boton_Agregalo_home {
    font-size: 12px !important;
    letter-spacing: .5px;
}

.contenido_834 .revistadigital-landing .content_item_carrusel img.imagen_producto {
    padding: 10px;
    margin-top: 5px;
}

.contenido_834 .revistadigital-landing .content_item_carrusel .producto_precio_normal { top: -0.8px; }

.contenido_834 .revistadigital-landing .content_item_carrusel .liquidacion_rango_home, .contenido_834 .revistadigital-landing .content_item_carrusel a.boton_Agregalo_home { margin-top: 0 !important; }

.parche_presentacion_contenedor_834 .bloque-titulo .seccion-titulo { padding-left: 0; }

.parche_presentacion_contenedor_834 .bloque-titulo .cantidad { padding-right: 30px; }