<script id="breadcrumbs-template" type="text/x-handlebars-template">
    <li><a href="{{BreadCrumbs.Inicio.Url}}">{{BreadCrumbs.Inicio.Texto}}</a></li>
    <li><a href="{{BreadCrumbs.Ofertas.Url}}">{{BreadCrumbs.Ofertas.Texto}}</a></li>
    <li><a href="{{BreadCrumbs.Palanca.Url}}">{{BreadCrumbs.Palanca.Texto}}</a></li>
    <li><a href="{{BreadCrumbs.Producto.Url}}">{{#SubstrResponsive DescripcionCompleta 20 10}}{{/SubstrResponsive}}</a></li>
</script>