<script id="breadcrumbs-template" type="text/x-handlebars-template">
    <li><a href="">Inicio</a></li>
    <li><a href="">Gana +</a></li>
    <li><a href="">Lo nuevo ¡Nuevo!</a></li>
    <li><a href="">EAU DE PARFUM...</a></li>
</script>