<script id="breadcrumbs-template" type="text/x-handlebars-template">
    {{#IsNullOrEmpty BreadCrumbs.Inicio.Texto '!='}}
    <li><a href="{{BreadCrumbs.Inicio.Url}}">{{BreadCrumbs.Inicio.Texto}}</a></li>
    {{/IsNullOrEmpty}}

    {{#IsNullOrEmpty BreadCrumbs.Ofertas.Texto '!='}}
    <li><a href="{{BreadCrumbs.Ofertas.Url}}">{{BreadCrumbs.Ofertas.Texto}}</a></li>
    {{/IsNullOrEmpty}}

    {{#IsNullOrEmpty BreadCrumbs.Palanca.Texto '!='}}
    <li><a href="{{BreadCrumbs.Palanca.Url}}">{{BreadCrumbs.Palanca.Texto}}</a></li>
    {{/IsNullOrEmpty}}

    {{#if DescripcionCompleta }}
    <li><a href="{{BreadCrumbs.Producto.Url}}">{{#SubstrResponsive DescripcionCompleta 20 10}}{{/SubstrResponsive}}</a></li>
    {{/if}}
</script>
