<script id="compartir-estrategia-template" type="text/x-handlebars-template">
    <p>Comparte el producto con tus clientes</p>
    <ul class="share_items">
        <li>
            <a href="#"><img src="/Content/Images/showroom/redes_whatsapp.png"></a>
        </li>
        <li>
            <a href="#"><img src="/Content/Images/showroom/redes_facebook.png" /></a>
        </li>
    </ul>
</script>