<script id="compartir-estrategia-template" type="text/x-handlebars-template">
    <!--compartir-->
    {{#if TieneCompartir}}
    <div data-item="">
        <div data-compartir-campos="" style="display:none;">
            <input type="hidden" class="CUV" value="{{CUV2}}" />
            <input type="hidden" class="rsFBMensaje" value="" />
            <input type="hidden" class="rsWAMensaje" value="" />
            <input type="hidden" class="rsFBRutaImagen" value="{{ImgUrl FotoProducto01}}" />
            <input type="hidden" class="rsWARutaImagen" value="{{ImgUrl FotoProducto01}}" />
            <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
            <input type="hidden" class="MarcaNombre" value="{{DescripcionMarca}}" />
            <input type="hidden" class="Nombre" value="{{DescripcionCompleta}}" />
            <input type="hidden" class="ProductoDescripcion" value="" />
            <input type="hidden" class="Volumen" value="" />
            <input type="hidden" class="Palanca" value="{{TipoPersonalizacion}}" />
        </div>
    </div>
    <p>Comparte el producto con tus clientes</p>
    <ul class="share_items">
        <li>
            <a href="javascript:;" data-compartir="WA" >
                <img src="/Content/Images/showroom/redes_whatsapp.png">
            </a>
        </li>
        <li>
            <a href="javascript:;" data-compartir="FB" >
                <img src="/Content/Images/showroom/redes_facebook.png" />
            </a>
        </li>
    </ul>
    {{/if}}
    <!--fin compartir-->
</script>