<script id="estrategia-template" type="text/x-handlebars-template">
    <div class="col-md-8">
        <div class="nombre_marca">
            Ésika
        </div>
        <div class="descripcion">EAU DE PARFUM VALENTÍA</div>
        <div class="descripcion_item">200.0 Ml</div>
        <div class="descripcion_item">200.0 Ml</div>
    </div>
    <div class="col-md-4 text-md-right">
        <div class="precio_venta_oferta">
            Precio para ti <span>S/. 16.90</span>
        </div>
        <div class="precio_valorizado">
            Para tu cliente: <span>S/. 26.90</span>
        </div>
        <div class="ganancia">
            Gana hasta: <span>S/. 10.00</span>
        </div>
    </div>
</script>