@using Portal.Consultoras.Common

<script id="imagen-estrategia-template" type="text/x-handlebars-template">
    <div class="col-12 reloj_mobile" style="display:none">
        <div id="EtiquetaOdd" class="contenedor_etiqueta_odd">
            <div class="clock_odd"></div>
        </div>
    </div>
    {{#iff this.FotosCarrusel.length '==' 0 }}
        <div class="contenedor_imagen">
            <div class="contenedor_carrusel">
                {{#iff TipoPersonalizacion '==' 'CAT'}}
                    <img src="{{FotoProducto01}}" data-imagen-producto="{{FotoProducto01}}" />
                {{/iff}}
                {{#iff TipoPersonalizacion '!=' 'CAT'}}
                    {{#if isMobile}}
                        <img src="{{ImgMedium FotoProducto01}}" data-imagen-producto="{{ImgMedium FotoProducto01}}" />
                    {{else}}
                        <img src="{{ImgUrl FotoProducto01}}" data-imagen-producto="{{ImgUrl FotoProducto01}}" />
                    {{/if}}
                {{/iff}}
            </div>
            {{#iff CodigoVariante 'ContainsArray' '[@Constantes.TipoEstrategiaSet.IndividualConTonos,@Constantes.TipoEstrategiaSet.CompuestaVariable]'}}
                <p>* Foto Referencial</p>
            {{/iff}}
        </div>
    {{else}}
        <div id="contenedor-galeria" class="row no-gutters"></div>
    {{/iff}}
</script>
