@using Portal.Consultoras.Common

<script id="imagen-estrategia-template" type="text/x-handlebars-template">
    <div class="contenedor_imagen">
        <div>
            <img src="{{ImgUrl FotoProducto01}}" />
        </div>
        {{#iff CodigoVariante 'ContainsArray' '[@Constantes.TipoEstrategiaSet.IndividualConTonos,@Constantes.TipoEstrategiaSet.CompuestaVariable]'}}
        <p>* Foto Referencial</p>
        {{/iff}}
    </div>
  
    <!--compartir-->
    {{#if TieneCompartir}}
    <div class="redes_sociales">
        Comparte este producto con tus clientes
        <a class="btn_compartir_facebook" href="javascript:;" data-compartir="FB">
            <img class="contenedor_img" src="/Content/Images/Esika/facebook.png">
        </a>
    </div>
    {{/if}}
    <!--fin compartir-->
</script>