<script id="imagen-estrategia-template" type="text/x-handlebars-template">
    <div class="contenedor_imagen">
        <div>
            <img src="https://cdn1-prd.somosbelcorp.com/Matriz/PE/PE_201907_34059.png" />
        </div>
        <p>* Foto Referencial</p>
    </div>
    <div class="redes_sociales">
        Comparte este producto con tus clientes
        <a href="#">
            <img src="/Content/Images/Esika/facebook.png" />
        </a>
    </div>
</script>