@using Portal.Consultoras.Common

<script id="imagen-estrategia-template" type="text/x-handlebars-template">
    <div class="col-12 reloj_mobile" style="display:none">
        <div id="EtiquetaOdd" class="contenedor_etiqueta_odd">
            <div class="clock_odd"></div>
        </div>
    </div>
    {{#iff this.FotosCarrusel.length '==' 0 }}
    <div class="contenedor_imagen">
        <div>
            {{#iff TipoPersonalizacion '==' 'CAT'}}
                <img src="{{FotoProducto01}}" />
            {{/iff}}
            {{#iff TipoPersonalizacion '!=' 'CAT'}}
                {{#if isMobile}}
                <img src="{{ImgMedium FotoProducto01}}" />
                {{else}}
                <img src="{{ImgUrl FotoProducto01}}" />
                {{/if}}
            {{/iff}}
        </div>
        {{#iff CodigoVariante 'ContainsArray' '[@Constantes.TipoEstrategiaSet.IndividualConTonos,@Constantes.TipoEstrategiaSet.CompuestaVariable]'}}
        <p>* Foto Referencial</p>
        {{/iff}}
    </div>
    {{else}}
    <div class="row no-gutters">
        <div class="col-3 d-none d-sm-none d-md-none d-lg-block">
            <div class="contenedor_imagen_thumbnail slider-nav">
                <div class="contenedor_carrusel">
                    {{#iff TipoPersonalizacion '==' 'CAT'}}
                        <img src="{{FotoProducto01}}" />
                    {{/iff}}
                    {{#iff TipoPersonalizacion '!=' 'CAT'}}
                        {{#if isMobile}}
                        <img src="{{ImgMedium FotoProducto01}}" />
                        {{else}}
                        <img src="{{ImgUrl FotoProducto01}}" />
                        {{/if}}
                    {{/iff}}
                </div>

                {{#each this.FotosCarrusel as |foto|}}
                <div class="contenedor_carrusel">
                    <img src="{{foto}}" class="img-fluid" />
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-lg-9 col-md-12 ">
            <div class="contenedor_imagen slider-for">
                <div class="contenedor_carrusel">
                    {{#iff TipoPersonalizacion '==' 'CAT'}}
                        <img src="{{FotoProducto01}}" />
                    {{/iff}}
                    {{#iff TipoPersonalizacion '!=' 'CAT'}}
                        {{#if isMobile}}
                        <img src="{{ImgMedium FotoProducto01}}" />
                        {{else}}
                        <img src="{{ImgUrl FotoProducto01}}" />
                        {{/if}}
                    {{/iff}}
                </div>

                {{#each this.FotosCarrusel as |foto|}}
                <div class="contenedor_carrusel">
                    <img src="{{foto}}" />
                </div>
                {{/each}}
                {{#iff CodigoVariante 'ContainsArray' '[@Constantes.TipoEstrategiaSet.IndividualConTonos,@Constantes.TipoEstrategiaSet.CompuestaVariable]'}}
                <p>* Foto Referencial</p>
                {{/iff}}
            </div>
        </div>
    </div>
    {{/iff}}


    @*<!--compartir-->
        {{#if TieneCompartir}}
        <div data-item="">
            <div data-compartir-campos="" style="display:none;">
                <input type="hidden" class="CUV" value="{{CUV2}}" />
                <input type="hidden" class="rsFBMensaje" value="" />
                <input type="hidden" class="rsWAMensaje" value="" />
                <input type="hidden" class="rsFBRutaImagen" value="{{ImgUrl FotoProducto01}}" />
                <input type="hidden" class="rsWARutaImagen" value="{{ImgUrl FotoProducto01}}" />
                <input type="hidden" class="MarcaID" value="{{MarcaID}}" />
                <input type="hidden" class="MarcaNombre" value="{{DescripcionMarca}}" />
                <input type="hidden" class="Nombre" value="{{DescripcionCompleta}}" />
                <input type="hidden" class="ProductoDescripcion" value="" />
                <input type="hidden" class="Volumen" value="" />
                <input type="hidden" class="Palanca" value="{{TipoPersonalizacion}}" />
            </div>
        </div>
        <div class="redes_sociales">
            Comparte este producto con tus clientes
            <a class="btn_compartir_facebook" href="javascript:;" data-compartir="FB">
                <img class="contenedor_img" src="/Content/Images/Esika/facebook.png">
            </a>
        </div>
        {{/if}}
        <!--fin compartir-->*@
</script>