
<script id="producto-recomendado-template" type="text/x-handlebars-template">
    <div class="productos_recomendados_wrapper divProductosRecomendados">
        <h3 class="productos_recomendados_titulo d-block">Ofertas relacionadas :</h3>
        <div class="productos_recomendados_carrusel_wrapper w-100">
            <ul id="carouselProductosRecomendados" class="productos_recomendados_carrusel">
                {{#each this as |item|}}
                <li class="producto_recomendado" data-item="ProductoRecomendadoBuscador">
                    <input type="hidden" class="hdRecomendadoJSON" value="{{JSON2string item}}" />
                    <div class="producto_recomendado_info_wrapper">
                        <div class="producto_recomendado_imagen">
                            <img src="{{Imagen}}" onerror="this.onerror=null;this.src='@Url.Content("~/Content/Images/imagen_prod_no_disponible.jpg")'" />
                        </div>
                        <div class="producto_recomendado_info">
                            <div class="producto_recomendado_marca text-uppercase">
                                {{#if_eq MarcaId '1'}}
                                L'Bel
                                {{else if_eq MarcaId '2'}}
                                Ésika
                                {{else if_eq MarcaId '3'}}
                                Cyzone
                                {{else}}
                                Ésika
                                {{/if_eq}}
                            </div>
                            <div class="producto_recomendado_nombre">
                                {{Descripcion}}
                            </div>
                            <div class="producto_recomendado_precio_normal">
                                {{ValorizadoString}}
                            </div>
                            <div class="producto_recomendado_precio_oferta">
                                {{PrecioString}}
                            </div>
                            <div class="producto_recomendado_tipo_oferta_personalizacion text-uppercase">
                                {{DescripcionEstrategia}}
                            </div>
                        </div>
                    </div>
                    <div class="producto_recomendado_acciones_wrapper">
                        {{#if_eq CodigoEstrategia '2003'}}
                        <!-- BLOQUE DE CÓDIGO A MOSTRAR CUANDO EL PRODUCTO TENGA OPCIÓN PARA ELEGIR TONOS -->
                        <div class="producto_recomendado_btn_wrapper producto_recomendado_btn_wrapper_full_width" >
                            <a class="btn_producto_recomendado_elige_tu_opcion text-bold text-center text-uppercase">
                                <span class="d-inline-block">
                                    <img src="@Url.Content("/Content/Images/icono-elige-tu-opcion.svg")" alt="Elige tu opción" />
                                </span>
                                <span class="d-inline-block text-left">
                                    Elige tu opción
                                </span>
                            </a>
                        </div>
                        <!-- FIN - BLOQUE DE CÓDIGO A MOSTRAR CUANDO EL PRODUCTO TENGA OPCIÓN PARA ELEGIR TONOS -->
                        {{else}}
                        <!-- BLOQUE DE CÓDIGO A MOSTRAR CUANDO EL PRODUCTO NO TENGA OPCIÓN PARA ELEGIR TONOS -->
                        <div class="producto_recomendado_rango_cantidad js-no-popup" data-cantidad-contenedor="">
                            <a class="menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event);">
                                <img class="d-block js-no-popup" src="/Content/Images/menos.svg" alt="">
                            </a>
                            <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                            <a class="mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event);">
                                <img class="d-block js-no-popup" src="/Content/Images/mas.svg" alt="">
                            </a>
                        </div>
                        <div class="producto_recomendado_btn_wrapper">
                            <a class="boton_Agregalo_home btn_producto_recomendado_agregalo d-block text-center text-uppercase">
                                Agrégalo
                            </a>
                        </div>
                        <!-- FIN - BLOQUE DE CÓDIGO A MOSTRAR CUANDO EL PRODUCTO NO TENGA OPCIÓN PARA ELEGIR TONOS -->
                        {{/if_eq}}
                    </div>
                    <div class="etiqueta_buscador_producto">
                        {{#if_eq Agregado 'Agregado'}}
                        <div class="agregado product-add">
                            AGREGADO
                            <div class="icono"></div>
                        </div>
                        {{/if_eq}}
                    </div>
                </li>
                {{/each}}
            </ul>
            <div class="ocultar_productos_recomendados_wrapper">
                <a title="No ver ofertas por ahora" class="cerrar_seccion_productos_recomendados d-block">
                    No ver ofertas por ahora
                </a>
            </div>
        </div>
    </div>
</script>