@using Portal.Consultoras.Web.Models;
@model DescargablesModel

<div class="contenedor_seccion_personaliza">
    <div class="seccion_personaliza_descarga_e_imprime">
        <div class="titulo_seccion_personaliza">Descarga e imprime</div>
        <div class="texto_personaliza_tus_regalos">Personaliza tus regalos.</div>
        <div>
            <div class="col_izq_seccion_personaliza">
                <div class="img_tarjeta_navidenia"></div>
                <div class="info_tarjeta_navidenia">
                    <a class="enlace_descargables">
                        <span class="icono_descarga_tarjetas" onclick="Descargables('@Model.tarjeta_navidenia');"></span>
                    </a>
                    <span>
                        Tarjetas Navideñas <span class="marca_esika_o_lbel"></span>
                    </span>
                </div>
            </div>
            <div class="col_der_seccion_personaliza">
                <div class="img_papel_regalo_navidenio"></div>
                <div class="info_papel_regalo_navidenio">
                    <a class="enlace_descargables">
                        <span class="icono_descarga_tarjetas" onclick="Descargables('@Model.papel_regalo_dorado');"></span>
                    </a>
                    <span>
                        Papel de regalo <span class="marca_esika_o_lbel"></span> dorado
                    </span>
                </div>
                <div class="info_papel_regalo_navidenio">
                    <a class="enlace_descargables">
                        <span class="icono_descarga_tarjetas" onclick="Descargables('@Model.papel_regalo_rojo');"></span>
                    </a>
                    <span>
                        Papel de regalo <span class="marca_esika_o_lbel"></span> rojo
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>