
.content_descripcion_set {
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
}

.texto_cupon_black {
    color: #000;
    font-family: 'Lato';
    line-height: 16px;
    padding-left: 10px;
    font-size: 12.5px;
    float: right;
    width: calc(100% - 110px);
    width: -moz-calc(100% -110px);
    width: -webkit-calc(100% - 110px);
    text-align: left;
}

.content_texto_gana {
    margin: 0 auto;
    float: left;
    width: -moz-calc(100% -765px);
    width: calc(100% - 765px);
    width: -webkit-calc(100% - 765px);
}
