<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal_selecionar_tipo">modal</button>

<section id="elegir-opciones-modal" class="modal fade modal_selecionar_tipo contenedor_seleccion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="" role="document">
        <div class="header_fixed">
            <div class="seleccion_header" id="titulo-opciones-seleccionadas"></div>
            <div class="contenedor_selecionados">
                <div class="selecionados_carrosel" id="opciones-seleccionadas">
                </div>
            </div>
        </div>
        <div class="seleccion_main" id="lista-opciones">
        </div>
        <div class="aplicar_seleccion">
            @*quitar la clase disabled cuando se elija las opciones*@
            <button class="disabled">APLICAR SELECCIÓN</button>
        </div>
    </div>
</section>

@Html.Partial("ListaOpcionesTemplate")
@Html.Partial("OpcionesSeleccionadasTemplate")
@Html.Partial("TituloOpcionesSeleccionadasTemplate")