﻿@using Portal.Consultoras.Common

<div data-ficha-contenido="componenteDetalle-template"></div>
<script id="componenteDetalle-template" type="text/x-handlebars-template">
    <div class="modal modal_producto_detalle fade" id="modal_producto_detalle" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn_volver" data-dismiss="modal" aria-label="Close"><img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="" />   Volver</button>
                    <div class="row imagen_producto ">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <img src={{ImgUrl ImagenBulk}} />
                        </div>
                    </div>
                    <hr class="clear">
                    <div id="contenedor_foto_referencial" class="texto_referencial">
                        <span data-texto_referencial="">* Foto Referencial</span>
                    </div>
                </div>
                <hr class="clear">
                <div class="marca_producto">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>{{DescripcionMarca}}</h2>
                    </div>
                </div>
                <div class="descripcion_producto">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{NombreComercial}}
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 descripcion_item">
                        <p style="margin-bottom: 3px">{{Cabecera.ContenidoNeto}}</p>
                        <p style="margin-bottom: 3px">{{Cabecera.Dimensiones}}</p>
                        <p style="margin-bottom: 3px">{{Cabecera.TallaMedidas}}</p>
                    </div>
                    {{#iff PrecioCatalogo '>' 0}}
                    <div class="col-md-12 col-sm-12 col-xs-12 descripcion_item precio">
                        Para tu cliente <b>{{SimboloMoneda}} {{DecimalToStringFormat PrecioCatalogo}}</b>
                    </div>
                    {{/iff}}
                    <div class="tabs">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <ul id="mnuDetalleComponente" class="tabs ficha_tabs">
                                {{#each this.Secciones as |seccion|}}
                                {{#iff seccion.Tipo '==' '@Constantes.TipoSeccion.Texto' }}
                                <li id="div_ficha_tab1">
                                    <a class="tab-link">{{seccion.Titulo}}</a>
                                    <ul class="tabs_container">
                                        {{#each seccion.Detalles as |detalle index|}}

                                        <h4>{{detalle.Titulo}}</h4>
                                        <p>{{detalle.Descripcion}}</p>

                                        {{/each}}
                                    </ul>
                                </li>
                                {{else}}
                                <li id="div_ficha_tab1">
                                    <a class="active">{{seccion.Titulo}}</a>
                                    <ul class="tabs_container" style="display:block;">
                                        <div>
                                            <div id="carouselVideo">
                                                {{#each seccion.Detalles as |detalle index|}}
                                                <div style="">
                                                    <div class="video_item">
                                                        <div id="ytFichax"
                                                             data-youtube-key="{{detalle.Key}}"
                                                             data-youtube="{
                                                                 height:'173',
                                                                 width:'300',
                                                                 enablejsapi:1,
                                                                 fs:0,
                                                                 showinfo:0,
                                                                 modestbranding:1,
                                                                 loop:1,
                                                                 videoId: '{{detalle.Key}}',
                                                                 playerVars:{autoplay:0,rel:0}}"
                                                             data-extra="{'descripcionResumen':'{{detalle.Titulo}}'}">
                                                        </div>
                                                        <h3 class="video_title">{{detalle.Titulo}}</h3>
                                                    </div>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                {{/iff}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

