﻿@using Portal.Consultoras.Common

<div data-ficha-contenido="componenteDetalle-template"></div>
<script id="componenteDetalle-template" type="text/x-handlebars-template">
    <div class="modal modal_producto_detalle fade" id="modal_producto_detalle" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn_volver" data-dismiss="modal" aria-label="Close"><img src="/Content/Images/mobile/Esika/right-arrow.svg" alt="" />   Volver</button>
                    <div class="row imagen_producto ">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <img src={{ImgUrl ImagenBulk}} />
                        </div>
                    </div>
                    <hr class="clear">
                    <div id="contenedor_foto_referencial" class="texto_referencial">
                        <span data-texto_referencial="">* Foto Referencial</span>
                    </div>
                </div>
                <hr class="clear">
                <div class="marca_producto">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>{{DescripcionMarca}}</h2>
                    </div>
                </div>
                <div class="descripcion_producto">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{Descripcion}}
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 descripcion_item">
                        <p>{{Cabecera.ContenidoNeto}}</p>
                        <p>{{Cabecera.Dimensiones}}</p>
                        <p>{{Cabecera.TallaMedidas}}</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 descripcion_item precio">
                        Para tu cliente <b>{{SimboloMoneda}} {{PrecioCatalogo}}</b>
                    </div>

                    <div class="tabs">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <ul id="mnuDetalleComponente" class="tabs ficha_tabs">
                                {{#each this.Secciones as |seccion|}}

                                {{#iff seccion.EsVideos '==' false }}
                                <li id="div_ficha_tab1">
                                    <a class="tab-link">{{seccion.Titulo}}</a>
                                    <ul class="tabs_container">
                                        {{#each seccion.Detalles as |detalle index|}}

                                        <h4>{{detalle.Titulo}}</h4>
                                        <p>{{detalle.Descripcion}}</p>

                                        {{/each}}
                                    </ul>
                                </li>
                                {{/iff}}
                                {{/each}}

                                {{#each this.Secciones as |seccion|}}
                                 {{#iff seccion.EsVideos '==' true }} 
                                <li id="div_ficha_tab1">
                                    <a class="tab-link">{{seccion.Titulo}}</a>
                                    <ul class="tabs_container">
                                        <div style="width:98% !important; height:500px !important;">
                                            <div id="carouselVideo">
                                                {{#each seccion.Detalles as |detalle index|}}
                                                <div style="width:350px;height:350px;">
                                                    <p>{{detalle.Titulo}}</p>
                                                    <iframe class="video_item" width="350" height="350" src="{{detalle.Key}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                {{/iff}} 
                                {{/each}} 


                                @*<li id="div_ficha_tab4">
            <a class="tab-link">Videos</a>
            <ul class="tabs_container">
                <div style="width:98% !important; height:500px !important;">
                    <div id="carouselVideo">

                        <div style="width:350px;height:350px;">
                            <p>sdfsdfsdf</p>
                            <iframe class="video_item" width="350" height="350" src="https://www.youtube.com/watch?v=9ypqLHFpnbQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div style="width:350px;height:350px;">
                            <p>sdfsdxxxxfsdf</p>
                            <iframe class="video_item" width="350" height="350" src="https://www.youtube.com/watch?v=9ypqLHFpnbQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </ul>
        </li>*@

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
