﻿@using Portal.Consultoras.Common

<div id="ContenidoProducto" data-ficha-contenido="componenteDetalleIndividual-template"></div>
<script id="componenteDetalleIndividual-template" type="text/x-handlebars-template">
    <div id="ContenidoProducto" class="container">
        <div class="row tabs">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="tabs ficha_tabs">
                    <li id="div_ficha_tab1">
                        <a class="tab-link">Modo de uso</a>
                        <ul class="tabs_container">
                            <h4>Conoce el producto</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?</p>
                            <h4>Cómo y cuándo usarlos</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?</p>
                        </ul>
                    </li>
                    <li id="div_ficha_tab2">
                        <a class="tab-link">Descubre más</a>
                        <ul>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?
                        </ul>
                    </li>
                    <li id="div_ficha_tab3">
                        <a class="tab-link">Tips de venta</a>
                        <ul>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim porro dolorum dolor blanditiis omnis sunt aut totam iste, aliquam provident excepturi laborum quo optio! Omnis, ab? Fuga odio eum iure?
                        </ul>
                    </li>
                    <li id="div_ficha_tab4">
                        <a class="tab-link">Videos</a>
                        <ul>
                            <iframe class="video_item" width="560" height="315" src="https://www.youtube.com/embed/_UwWYtLWEZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h3 class="video_title">Sleeping With Sirens - If You Can't Hang</h3>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</script>

