<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal_selecionar_tipo">modal</button>

<section class="modal fade modal_selecionar_tipo contenedor_seleccion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="" role="document">
        <div class="header_fixed">
            <div class="seleccion_header">
                <h3>Elige una opción</h3>
                @*titulo cuando se elegio las opciones*@
                @*<h3>¡Listo! <span>ya tienes tu</span> opción</h3>*@
                <p>0 seleccionados</p>
                <button data-dismiss="modal" aria-label="Close" class="button_cerrar"><img src="/Content/Images/mobile/Esika/close-button.svg" alt=""></button>
            </div>
            <div class="contenedor_selecionados">
                <div class="selecionados_carrosel">
                    <div class="item_selecionado">
                        <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                        <img class="item_selecionado_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt="">
                        <span>Black</span>
                    </div>
                    <div class="item_selecionado">
                        <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                        <img class="item_selecionado_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt="">
                        <span>Black</span>
                    </div>
                    <div class="item_selecionado">
                        <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                        <img class="item_selecionado_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt="">
                        <span>Black</span>
                    </div>
                    <div class="item_selecionado">
                        <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                        <img class="item_selecionado_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt="">
                        <span>Orange</span>
                    </div>
                    <div class="item_selecionado">
                        <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                        <img class="item_selecionado_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt="">
                        <span>Orange</span>
                    </div>
                    <div class="item_selecionado">
                        <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                        <img class="item_selecionado_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt="">
                        <span>Orange</span>
                    </div>
                    <div class="item_selecionado">
                        <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                        <img class="item_selecionado_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt="">
                        <span>fin</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="seleccion_main">
            <ul class="selecion_item list-inline">
                <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                <li class="seleccion_title">Berry</li>
                <li class="seleccion_btn"><button>Elígelo</button></li>
            </ul>
            <ul class="selecion_item list-inline">
                <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                <li class="seleccion_title">Berry</li>
                <li class="seleccion_btn"><button>Elígelo</button></li>
            </ul>
            <ul class="selecion_item list-inline">
                <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                <li class="seleccion_title">Berry</li>
                <li class="seleccion_btn"><button class="active">Elígelo</button></li>
            </ul>
            <ul class="selecion_item list-inline">
                <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                <li class="seleccion_title">Berry</li>
                <li class="seleccion_btn"><button>Elígelo</button></li>
            </ul>
            <ul class="selecion_item list-inline">
                <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                <li class="seleccion_title">Berry</li>
                <li class="seleccion_btn"><button>Elígelo</button></li>
            </ul>
            <ul class="selecion_item list-inline">
                <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                <li class="seleccion_title">Berry</li>
                <li class="seleccion_btn seleccion_cantidad">
                    <div class="content_cantidad_ficha_producto" data-cantidad-contenedor="">
                        <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                            <img id="imgFichaProduMenos" src="/Content/Images/Mobile/Esika/menos.png" alt="">
                        </a>
                        <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                        <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                            <img id="imgFichaProduMas" src="/Content/Images/Mobile/Esika/mas.png" alt="">
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="selecion_item list-inline">
                <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                <li class="seleccion_title">Berry</li>
                <li class="seleccion_btn"><button>Elígelo</button></li>
            </ul>
            <ul class="selecion_item list-inline">
                <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                <li class="seleccion_title">Berry</li>
                <li class="seleccion_btn"><button>Elígelo</button></li>
            </ul>
        </div>
        <div class="aplicar_seleccion">
            @*quitar la clase disabled cuando se elija las opciones*@
            <button class="disabled">APLICAR SELECCIÓN</button>
        </div>
    </div>
</section>

<script id="elegir-opciones-template" type="text/x-handlebars-template">
    <div class="seleccion_main">
        {{#each this.Hermanos as |componente|}}
        <ul class="selecion_item list-inline">
            <li class="seleccion_img"><img src="{{componente.ImagenBulk}}" alt=""></li>
            <li class="seleccion_title">{{componente.NombreBulk}}</li>
            <li class="seleccion_btn"><button>Elígelo</button></li>
            <li class="seleccion_btn seleccion_cantidad" style="display:none;">
                <div class="content_cantidad_ficha_producto" data-cantidad-contenedor="">
                    <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                        <img id="imgFichaProduMenos" src="/Content/Images/Mobile/Esika/menos.png" alt="">
                    </a>
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                    <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                        <img id="imgFichaProduMas" src="/Content/Images/Mobile/Esika/mas.png" alt="">
                    </a>
                </div>
            </li>
        </ul>
        {{/each}}
    </div>
</script>

<script id="opciones-seleccionadas-template" type="text/x-handlebars-template">
    <div class="contenedor_selecionados">
        <div class="selecionados_carrosel">
            {{#each this.Hermanos as |componente|}}
            <div class="item_selecionado">
                <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                <img class="item_selecionado_img" src="{{componente.ImagenBulk}}" alt="">
                <span>Black</span>
            </div>
            {{/each}}
        </div>
    </div>
</script>

