<script id="lista-opciones-template" type="text/x-handlebars-template">
    {{#each this.Hermanos as |componente|}}
    <ul class="selecion_item list-inline">
        <li class="seleccion_img"><img src="{{componente.ImagenBulk}}" alt=""></li>
        <li class="seleccion_title">{{componente.NombreBulk}}</li>
        <li class="seleccion_btn" id="li-eligelo-{{componente.Cuv}}">
            <button id="btn-eligelo-{{componente.Cuv}}" 
                    {{#iff componente.cantidadSeleccionada '>' '0'}}
                    class="active"
                    {{/iff }}
                    onclick="javascript: ListaOpcionesModule.SeleccionarOpcion(event,'{{componente.Cuv}}')">
                Elígelo
            </button>
        </li>
        <li class="seleccion_btn seleccion_cantidad" id="li-cantidad-opciones-{{componente.Cuv}}" style="display:none">
            <div class="content_cantidad_ficha_producto" data-cantidad-contenedor="">
                <a class="cantidad_menos_home" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                    <img id="imgFichaProduMenos" src="/Content/Images/Mobile/Esika/menos.png" alt="">
                </a>
                <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" data-input="cantidad">
                <a class="cantidad_mas_home" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                    <img id="imgFichaProduMas" src="/Content/Images/Mobile/Esika/mas.png" alt="">
                </a>
            </div>
        </li>
    </ul>
    {{/each}}
</script>