
<script id="opciones-seleccionadas-template" type="text/x-handlebars-template">
    <div class="contenedor_selecionados">
        <div class="selecionados_carrosel">
            {{#each this.Hermanos as |componente|}}
            <div class="item_selecionado">
                <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                <img class="item_selecionado_img" src="{{componente.ImagenBulk}}" alt="">
                <span>Black</span>
            </div>
            {{/each}}
        </div>
    </div>
</script>