
<script id="opciones-seleccionadas-template" type="text/x-handlebars-template">
    {{#each this.Hermanos as |componente|}}
    <div class="item_selecionado">
        <button class="item_selecionado_close" onclick="javascript: ListaOpcionesModule.EliminarOpcion('{{componente.Cuv}}')">
            <img src="/Content/Images/mobile/Esika/close-button-white.svg" alt="">
        </button>
        <img class="item_selecionado_img" src="{{componente.ImagenBulk}}" alt="">
        <span>
            {{#IsNullOrEmpty componente.NombreBulk '!='}}
            {{#Substr 7  componente.NombreBulk}}{{/Substr}}
            {{/IsNullOrEmpty}}
        </span>
    </div>
    {{/each}}
</script>