<script id="paleta-opciones-template" type="text/x-handlebars-template">
    {{#iff this.FactorCuadre '==' '1'}}
    <div data-tono-div="">
        {{#each this.Hermanos as |variedad|}}
        <div style="display: none;">
            <input type="hidden" name="nameMarcaID" id="Estrategia_hd_MarcaID" value="{{variedad.IdMarca}}" />
            <input type="hidden" name="namePrecioCatalogo" id="Estrategia_hd_PrecioCatalogo" value="{{variedad.PrecioCatalogo}}" />
        </div>
        <div class="content_tono_detalle"
             data-tono-cuv="{{variedad.Cuv}}"
             data-tono-change="2"
             data-tono-nombre="{{variedad.NombreBulk}}">
            <img src="{{variedad.ImagenBulk}}" alt="">
        </div>
        {{/each}}
    </div>
    <hr class="clear">
    {{/iff}}
</script>
