<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal_selecionar_tipo">modal</button>

<section class="modal fade modal_selecionar_tipo contenedor_seleccion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
            <div class="header_fixed">
                <div class="seleccion_header">
                    <h3>Elige una opción</h3>
                    <p>0 seleccionados</p>
                    <button data-dismiss="modal" aria-label="Close" class="button_cerrar"><img src="/Content/Images/mobile/Esika/close-button.svg" alt=""></button>
                </div>
                <div class="contenedor_selecionados">
                    <div class="item_selecionado">
                        <button class="item_selecionado_close"><img src="/Content/Images/mobile/Esika/close-button-white.svg" alt=""></button>
                        <img class="item_selecionado_img" src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt="">
                        <span>Black</span>
                    </div>
                </div>
            </div>
            <div class="seleccion_main list_style_none">
                <ul class="selecion_item list-inline">
                    <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                    <li class="seleccion_title">Berry</li>
                    <li class="seleccion_btn"><button>Elígelo</button></li>
                </ul>
                <ul class="selecion_item list-inline">
                    <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                    <li class="seleccion_title">Berry</li>
                    <li class="seleccion_btn"><button>Elígelo</button></li>
                </ul>
                <ul class="selecion_item list-inline">
                    <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                    <li class="seleccion_title">Berry</li>
                    <li class="seleccion_btn"><button class="active">Elígelo</button></li>
                </ul>
                <ul class="selecion_item list-inline">
                    <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                    <li class="seleccion_title">Berry</li>
                    <li class="seleccion_btn"><button>Elígelo</button></li>
                </ul>
                <ul class="selecion_item list-inline">
                    <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                    <li class="seleccion_title">Berry</li>
                    <li class="seleccion_btn"><button>Elígelo</button></li>
                </ul>
                <ul class="selecion_item list-inline">
                    <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                    <li class="seleccion_title">Berry</li>
                    <li class="seleccion_btn"><button>Elígelo</button></li>
                </ul>
                <ul class="selecion_item list-inline">
                    <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                    <li class="seleccion_title">Berry</li>
                    <li class="seleccion_btn"><button>Elígelo</button></li>
                </ul>
                <ul class="selecion_item list-inline">
                    <li class="seleccion_img"><img src="https://s3-sa-east-1.amazonaws.com/appcatalogo/CL/201811/E/productos/bulk/CL_200091667_B.jpg" alt=""></li>
                    <li class="seleccion_title">Berry</li>
                    <li class="seleccion_btn"><button>Elígelo</button></li>
                </ul>
            </div>
            <div class="aplicar_seleccion">
                <button class="disabled">APLICAR SELECCIÓN</button>
            </div>
    </div>
</section>

