<script id="titulo-opciones-seleccionadas-template" type="text/x-handlebars-template">
    {{#iff this.FactorCuadre '==' '1'}}}
    <h3>Elige 1 opción</h3>
    {{else}}
    <h3>Elige {{this.FactorCuadre}} opciones</h3>
    {{/iff}}
    @*titulo cuando se elegio las opciones*@
    @*<h3>¡Listo! <span>ya tienes tu</span> opción</h3>*@
    <p>0 seleccionados</p>
    <button data-dismiss="modal" aria-label="Close" class="button_cerrar"><img src="/Content/Images/mobile/Esika/close-button.svg" alt=""></button>
</script>