<div id="popupEscalaDescuento"
     class="popup_treinta_y_cinco_descuento w-100 text-center"
     style="display:none;"
     onclick="javascript: CerrarPopup('#popupEscalaDescuento');">
    <div class="popup_treinta_y_cinco_descuento_contenido w-100">
        <div class="icono_celebracion icono_celebracion_popup_descuento">
            <img src="@Url.Content("~/Content/Images/icono_party_popper.png")" alt="Felicidades" />
        </div>
        <h2 class="titulo_popup_treinta_y_cinco_descuento">
            <span>
                ¡Felicidades! Llegaste al
            </span>
            <span class="porcentaje"></span>
        </h2>
    </div>
</div>