<div id="popupTreintaCincoPorCientoDescuento" class="popup_treinta_y_cinco_descuento w-100 text-center">
    <div class="popup_treinta_y_cinco_descuento_header w-100">
        <a class="icono_cerrar_popup_treinta_y_cinco_descuento" title="Cerrar" href="javascript:;" onclick="javascript: CerrarPopup('#popupTreintaCincoPorCientoDescuento');">
            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup_color_negro.svg")" alt="Cerrar" />
        </a>
    </div>
    <div class="popup_treinta_y_cinco_descuento_contenido w-100">
        <div class="icono_celebracion icono_celebracion_popup_descuento">
            <img src="@Url.Content("~/Content/Images/icono_party_popper.png")" alt="Felicidades" />
        </div>
        <h2 class="titulo_popup_treinta_y_cinco_descuento">
            <span>
                ¡Felicidades! Llegaste al
            </span>
            <span>
                30% de dscto!
            </span>
        </h2>
    </div>
</div>