@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.CustomHelpers

@{
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb-next upper">
            @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
                if (mobileConfiguracion.MostrarBotonAtras)
                {
                    <li><a href="@Request.UrlReferrer"><i class="icon-angle-left"></i> VOLVER </a></li>
                }
            }
            <li>|</li>
            <li>MI PEDIDO</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="block-white text-center">
            <div class="simple-alert text-success">
                <span class="alert-icon"><i class="icon-info"></i></span>
                <div>Estimada Consultora en estos momentos no se encuentra activa la @ViewBag.MensajeCampaniaZona para su país.</div>
            </div>
        </div>
    </div>
</div>