@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models

@model PedidoMobileModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="wrapper_resumen_mobile sin_padding">
    <!-- BANNERS INGRESO DE PEDIDO -->
    <div class="banner_ingresoPedido">
        <div class="content_320 ingresoPedido">
            <h1>INGRESA TU PEDIDO C11</h1>
            <form>
                <input type="text" name="codigoProducto" value="" placeholder="Ingresa el código del producto" />
            </form>
        </div>
    </div>
    <!-- FIN BANNERS INGRESO DE PEDIDO -->

    <div class="franja_inferior_banner_pedido"></div>
    <div class="contenedor_producto">
        <div class="content_320">

            <!-- SECCIÓN CONTENIDO INGRESO DE PEDIDO -->

            <div class="nombreProducto">Máscara Full Size Negro</div>
            <div class="precioProducto">
                <span class="precioNormal">S/. 45</span>
                <span class="precioOferta">S/. 18.90</span>
            </div>
            <div class="contenedor_cantidadProductos">
                <span class="textoCantidad">CANTIDAD:</span>
                <div>
                    <span class="signo_menos">
                        <img src="/Content/Images/Mobile/Esika/menos.png">
                    </span>
                    <div class="campo_cantidadProductos">
                        <form>
                            <input type="text" name="cantidad" value="1" />
                        </form>
                    </div>
                    <span class="signo_mas">
                        <img src="/Content/Images/Mobile/Esika/mas.png">
                    </span>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="contenedor_seleccionCliente">
                <form>
                    <select>
                        <option value="0">CLIENTE (OPCIONAL)</option>
                    </select>
                </form>
                <a href="#" class="btn_agregarCliente">
                    AGREGAR CLIENTE <span>+</span>
                </a>
            </div>

            <!-- FIN CONTENIDO INGRESO DE PEDIDO -->

            <!-- SECCIÓN CONTENIDO RESUMEN DE PEDIDO -->

            <div class="contenedor_resumenPedido">
                <div class="textos_resumen">
                    <span>HE AGREGADO :</span>
                    <span>MONTO TOTAL :</span>
                    <span>MI GANANCIA :</span>
                </div>
                <div class="montos_resumen">
                    <span><b>12</b>&nbsp;&nbsp;PRODUCTOS</span>
                    <span>S/.&nbsp;&nbsp;<b>580.000.00</b></span>
                    <span>S/.&nbsp;&nbsp;<b>58.000.00</b></span>
                </div>
            </div>
            <button type="button" class="btn_verMiPedido">
                VER MI PEDIDO
            </button>

            <!-- FIN CONTENIDO RESUMEN DE PEDIDO -->

        </div>
    </div>
    <!--INICIO CARRUSEL-->
    <div class="fondo_gris">
        <div class="titulo_ofertas_home">
            OFERTAS <b>PARA TI VALERIA</b>
            <div class="texto_exclusivo">
                EXCLUSIVO SÓLO POR WEB
            </div>
        </div>
        <div class="contenedor_carrusel_home">
            <a class="previous_ofertas_mobile" style="margin-left:-13%" href="#">
                <img src="@Url.Content("~/Content/Images/mobile/Esika/previous_ofertas_home.png")" alt="-" />
            </a>
            <a class="previous_ofertas_mobile" style="margin-right:-13%; text-align:right; right:0" href="#">
                <img src="@Url.Content("~/Content/Images/mobile/Esika/next.png")" alt="-" />
            </a>
            <!--CONTENEDOR ITEM CARRUSEL-->
            <div class="content_item_home">
                <div class="producto_img_mobile">
                    <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200084555_20167431_01_khycjncexj.png">
                </div>
                <div class="producto_nombre_descripcion">
                    <h6>LBel</h6>
                    <p class="nombre_producto">
                        LBel COLLAGENESSE OJ LABIAL 15 ML
                    </p>
                    <div class="producto_precio">
                        <span class="producto_precio_oferta"><b>S/. 57.90</b></span>
                    </div>

                    <div class="liquidacion_rango_home">
                        <a class="cantidad_menos_home"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                        <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="rango_cantidad_pedido ValidaNumeral">
                        <a class="cantidad_mas_home"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                    <a class="boton_Agregalo_home" onclick="javascript:CargarProductoDestacado({ EstrategiaID: '6535' , TipoEstrategiaID: '3011' , Posicion: 0 , FlagNueva: '0' }, this); ">
                        AGRÉGALO
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--FIN CARRUSEL-->
</div>

