@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models

@model PedidoDetalleMobileModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}
<div class="titulo_mobile">MI PEDIDOS RESERVADO</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

   
    <div id="ResumenPedidoReservado"> 
        <div class="wrapper_resumen_mobile">
            <!--RESUMEN PEDIDO RESERVADO-->
            <div class="left_reservado">
                <div class="agregados_reservado">Productos agregados</div>
                <div class="monto_reservado_mobile">MONTO TOTAL</div>
                <div class="ganancia_reservado">GANANCIA</div>
            </div>
            <div class="right_reservado">
                <div class="agregados_reservado">23</div>
                <div class="monto_reservado_mobile">S/. 313.000.00</div>
                <div class="ganancia_reservado">S/.   90.000.00</div>
            </div>
            <hr class="clear" />
            <div id="PedidoReservado" class="panel-collapse collapse">

                <div class="linea_gris" style="margin-top:10px;"></div>
                <span class="detalle_reservado">DETALLE</span>
                <div class="linea_gris"></div>
                <!--LISTADO PEDIDO RESERVADO-->
                <!--ITEM 1-->
                <div class="detalle_pedido_reservado">
                    <div class="left_reservado" style="width:235px;">
                        <div class="datos_Reservado">
                            <span> 00411 </span>
                            <span>CY BERRYLICIOUS  SHAMPOO ROJO 375 ML</span>
                        </div>
                        <div class="texto_reservado">Cliente: María Elena Álvarez</div>
                    </div>
                    <div class="right_reservado">
                        <div class="texto_reservado">CANT</div>
                        <div class="datos_Reservado"><b>1</b></div>
                    </div>
                    <hr class="clear" /><br />                    
                    <div class="left_reservado">
                        <div class="texto_reservado">
                            <span>Precio Unitario</span>                            
                        </div>
                        <div class="importe_reservado">SUBTOTAL</div>
                    </div>
                    <div class="right_reservado">
                        <div class="texto_reservado">
                            <span>S/. 14.90</span>                            
                        </div>
                        <div class="importe_reservado">S/. 14.90</div>
                    </div>                    
                </div>
                <!--ITEM 2-->
                <div class="detalle_pedido_reservado">
                    <div class="left_reservado" style="width:235px;">
                        <div class="datos_Reservado">
                            <span> 00411 </span>
                            <span>CY BERRYLICIOUS  SHAMPOO ROJO 375 ML</span>
                        </div>
                        <div class="texto_reservado">Cliente: María Elena Álvarez</div>
                    </div>
                    <div class="right_reservado">
                        <div class="texto_reservado">CANT</div>
                        <div class="datos_Reservado"><b>1</b></div>
                    </div>
                    <hr class="clear" /><br />
                    <div class="left_reservado">
                        <div class="texto_reservado">
                            <span>Precio Unitario</span>
                        </div>
                        <div class="importe_reservado">SUBTOTAL</div>
                    </div>
                    <div class="right_reservado">
                        <div class="texto_reservado">
                            <span>S/. 14.90</span>
                        </div>
                        <div class="importe_reservado">S/. 14.90</div>
                    </div>
                </div>
               
                <div class="left_reservado">
                    <div class="importe_final">                        
                        <div class="info_validado">
                            <img src="@Url.Content("~/Content/Images/Esika/info-copy.png")" />
                            <!--TOOLTIP-->
                            <div class="tooltip_validado_importe">
                                <div class="left_reservado">
                                    <div class="datos_Reservado">
                                        <span>Total sin Dscto. </span>
                                        <span>Dscto por niveles</span>
                                    </div>                                   
                                </div>
                                <div class="right_reservado">
                                    <div class="datos_Reservado">
                                        <span> S/. 304.000.00 </span>
                                        <span>S/.     9.000.00L</span>
                                    </div>
                                </div>
                            </div>
                            <!--FIN-->
                        </div> 
                        <b>MONTO TOTAL</b>
                    </div>
                    <div class="ganancia_Pedidovalidado" style="margin-top:7px">GANANCIA</div>
                </div>
                <div class="right_reservado">                    
                    <div class="importe_final" style="font-size:15px"><b>S/.  313.000.00</b></div>
                    <div class="ganancia_Pedidovalidado" style="font-size:15px">S/.  90.000.00</div>
                </div>
                <hr class="clear" />
                <!--FIN LISTADO-->


            </div>

            <a class="btn_ver_pedido_reservado" data-toggle="collapse" data-parent="#accordion" href="#PedidoReservado">VER MI PEDIDO</a>
            <!--TOOLTIP-->
            <div class="tooltip_validado">
                <div class="icono_tooltip_validado"></div>
                <div class="info_tooltip">Puedes editar tu pedido hasta las <b>22:00 horas</b>, luego se enviará a Belcorp</div>
            </div>
        </div>
        <a class="btn_editar_pedido" href="#">EDITAR MI PEDIDO</a> 
    </div>
    

