@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models

@model PedidoDetalleMobileModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}
<div class="titulo_mobile">MI PEDIDOS RESERVADO</div>
<div class="pestana_esika"></div>
<div class="pestana_lbel"></div>

    <div id="PedidoReservado" class="panel-collapse collapse">
        <div class="wrapper_resumen_mobile">
            <div class="linea_gris" style="margin-top:10px;"></div>
            <span class="detalle_reservado">DETALLE</span>
            <div class="linea_gris"></div>
            <!--LISTADO PEDIDO RESERVADO-->
            <!--ITEM 1-->
            <div class="detalle_pedido_reservado">
                <!--BLOQUE 1-->
                <div class="left_reservado" style="width:235px;">
                    <div class="datos_Reservado">
                       <span> 00411 </span>
                       <span>CY BERRYLICIOUS  SHAMPOO ROJO 375 ML</span>                      
                    </div>                    
                    <div class="texto_reservado">Cliente: María Elena Álvarez</div>
                </div>
                <div class="right_reservado">
                    <div class="texto_reservado">CANT</div>
                    <div class="datos_Reservado"><b>1</b></div>
                </div>
                <hr class="clear" /><br /> 
                <!--FIN BLOQUE 1-->
                <!--BLOQUE 2-->
                <div class="left_reservado">                    
                    <div class="texto_reservado">
                       <span>Precio Unitario</span>
                       <span>Sub-Total</span>
                       <span>Descuento</span>
                    </div>  
                    <div class="importe_reservado">IMPORTE A PAGAR</div> 
                </div>   
                <div class="right_reservado">
                    <div class="texto_reservado">
                       <span>S/. 14.90</span>
                       <span>S/. 14.90</span>
                       <span>S/. 5.22</span> 
                    </div>
                    <div class="importe_reservado">S/. 9.68</div>
                </div> 
                <!--FIN BLOQUE 2-->                
            </div>
            <!--ITEM 2-->
            <div class="detalle_pedido_reservado">
                <!--BLOQUE 1-->
                <div class="left_reservado" style="width:235px;">
                    <div class="datos_Reservado">
                        <span> 00411 </span>
                        <span>CY BERRYLICIOUS  SHAMPOO</span>                       
                    </div>
                    <div class="texto_reservado">Cliente: María Elena Álvarez</div>
                </div>
                <div class="right_reservado">
                    <div class="texto_reservado">CANT</div>
                    <div class="datos_Reservado"><b>1</b></div>
                </div>
                <hr class="clear" /><br />
                <!--FIN BLOQUE 1-->
                <!--BLOQUE 2-->
                <div class="left_reservado">
                    <div class="texto_reservado">
                        <span>Precio Unitario</span>
                        <span>Sub-Total</span>
                        <span>Descuento</span>
                    </div>
                    <div class="importe_reservado">IMPORTE A PAGAR</div>
                </div>
                <div class="right_reservado">
                    <div class="texto_reservado">
                        <span>S/. 14.90</span>
                        <span>S/. 14.90</span>
                        <span>S/. 5.22</span>
                    </div>
                    <div class="importe_reservado">S/. 9.68</div>
                </div>
                <!--FIN BLOQUE 2-->
            </div>
            <div class="linea_roja" style="margin-bottom:25px;"></div>
            <!--DETALLE PEDIDO RESERVADO TOTAL-->
            <div class="left_reservado">
                <div class="texto_reservado">
                    <span> Subtotal</span>
                    <span>Flete</span>
                </div>
                <div class="importe_reservado">MONTO TOTAL</div>
            </div>
            <div class="right_reservado">
                <div class="texto_reservado" style="font-size:15px">
                    <span> S/. 304.000.00</span>
                    <span>S/.      9.000.00</span>
                </div>
                <div class="importe_reservado" style="font-size:15px">S/.  313.000.00</div>
            </div>
            <hr class="clear" />
            <!--FIN LISTADO-->
        </div>
        <a class="btn_editar_pedido" href="#" style="margin-top:96px">VER PEDIDO INGRESADO</a>
    </div>
    <div id="ResumenPedidoReservado"> <!--OCULTAR ESTE ID CUANDO SE DESPLIEGUE LA INFORMACIÓN DEL BOTÓN-->
        <div class="wrapper_resumen_mobile">
            <!--RESUMEN PEDIDO RESERVADO-->
            <div class="left_reservado">
                <div class="agregados_reservado">Productos agregados</div>
                <div class="monto_reservado_mobile">MONTO TOTAL</div>
                <div class="ganancia_reservado">GANANCIA</div>
            </div>
            <div class="right_reservado">
                <div class="agregados_reservado">23</div>
                <div class="monto_reservado_mobile">S/. 313.000.00</div>
                <div class="ganancia_reservado">S/.   90.000.00</div>
            </div>
            <hr class="clear" />

            <a class="btn_ver_pedido_reservado" data-toggle="collapse" data-parent="#accordion" href="#PedidoReservado">VER MI PEDIDO</a>
            <!--TOOLTIP-->
            <div class="tooltip_validado">
                <div class="icono_tooltip_validado"></div>
                <div class="info_tooltip">Puedes editar tu pedido hasta las <b>22:00 horas</b>, luego se enviará a Belcorp</div>
            </div>
        </div>
        <a class="btn_editar_pedido" href="#">EDITAR MI PEDIDO</a> 
    </div>
    

