/* ESTILOS GENERALES */

*{
    box-sizing:border-box;
    font-family:'Lato';
    font-size:14px;
    font-weight:400;
    color:#000;
}

html, body{
    margin:0;
}

header,nav, section, aside, picture, fieldset, caption, figure, h1, h2, h3, h4, h5, h6, p{
    margin:0;
    padding:0;
}

ul{
    list-style-type:none;
    padding:0;
}

a, a:hover,a:active{
    color:#000!important;
    text-decoration:none;
}

body > img{
    display:none;
}

/* FIN - ESTILOS GENERALES */

/* ESTILOS MODIFICADORES JQUERY UI */

.ui-widget-overlay{
    z-index:2000!important;
}

.ui-dialog.ui-widget-content {
    width: auto !important;
    background: #FFFFFF !important;
    color: #555 !important;
    border-radius:0;
    z-index:2001!important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0 0 0 10px;
}

#loadingScreen {
    padding: 20px 30px;
}

.loadingScreen-titulo {
    font-weight: 700;
    font-family: lato;
    font-size: 10pt;
    color: #0C0B0C;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.loadingScreen-mensaje {
    background: url(/Content/Images/Loading.gif) no-repeat 0 0;
    padding-left: 25px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-family: 'lato';
    font-size: 10pt;
    color: black;
    margin-top: 20px;
}

/* FIN - ESTILOS MODIFICADORES JQUERY UI */

/* HELPERS CSS */

.ml-0{
    margin-left:0;
}

.mr-0{
    margin-right:0;
}

.mb-30{
    margin-bottom:30px;
}

.pl-0{
    padding-left:0;
}

.pr-0{
    padding-right:0;
}

.d-none{
    display:none;
}

.d-block{
    display:block;
}

.text-center{
    text-align:center;
}

.text-uppercase{
    text-transform:uppercase;
}

.d-inline-block{
    display:inline-block;
}

.d-flex{
    display:flex;
}

.text-bold{
    font-weight:700;
}

.text-underline{
    text-decoration:underline!important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(124,124,124,.47);
    border-radius: 20px;
}

/* FIN - HELPERS CSS*/

/* POPUP VALIDACIÓN AL AGREGAR PRODUCTO CON CANTIDAD CERO*/

.ui-widget-header{
    background:#FFF;
    border:0;
}

#alertDialogMensajes .ui-dialog.ui-widget-content {
    padding-left:13px;
    padding-right:13px;    
}

.ui-dialog .ui-dialog-title {
    font-family: 'lato';
    float: left;
    font-weight: normal !important;
    margin: 20px 16px .2em 0;
    color: black !important;
}

.ui-dialog .ui-dialog-content{
    padding-bottom: 40px;
    position: relative;
    border: 0;
    padding-left: 50px;
    padding-right: 50px;
    background: none;
    overflow: auto;
    zoom: 1;
}

.terminos_title_2{
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 20px !important;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 10pt !Important;
    font-family: 'lato';
    color: black;
    letter-spacing: .5px;
}

.linea_superior{
    height: 1px;
    width: 100%;
    background: #ccc;
}

.pop_pedido_mensaje {
    width: 300px;
    font-family: 'lato';
    font-size: 10pt;
    color: black;
    margin-top: 20px;
    text-align: center;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-bottom: 40px;
    background-color:#FFF;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    text-align: center;
    float:none;
}

.ui-dialog .ui-dialog-buttonpane button {
    cursor: pointer;
    border: 0;
    display: block;
    margin: 0 auto;
}

.ui-button-text-only .ui-button-text {
    height: 35px;
    width: 200px;
    padding-top: 10px;
    border: 0;
    text-transform: uppercase;
    font-family: 'lato';
    letter-spacing: 1.5px;
    color: white;
    font-size: 10px;
    font-weight: 700;
}

/* FIN - POPUP VALIDACIÓN AL AGREGAR PRODUCTO CON CANTIDAD CERO */

.mostrarEnMobile{
    display:none;
}

.row.mostrarEnMobile{
    display:none;
}

.mostrarEnDesktop{
    display:block;
}

.row.mostrarEnDesktop{
    display:flex;
}

/* SECCIÓN CONTENIDO */

.layout__content{
    margin-top:60px;
    padding:20px 15px;
    min-height:calc(100vh - 207px);
    position:relative;
    z-index:2;
}

.layout__container{
    max-width:none;
}

/* FIN - SECCIÓN CONTENIDO */

/* CSS FIXES PARA INTERNET EXPLORER DESDE LA VERSIÓN 10 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){

    [data-codigo='contenedorofertas'].new_menu a img{
        max-width:none;
    }

}

/* FIN - CSS FIXES PARA INTERNET EXPLORER DESDE LA VERSIÓN 10 */

@media screen and (max-width:991px) {

    .mostrarEnMobile{
        display:block;
    }

    .row.mostrarEnMobile{
        display:flex;
    }

    .mostrarEnDesktop{
        display:none;
    }

    .row.mostrarEnDesktop{
        display:none;
    }

}