
/* MENÚ PRINCIPAL DESKTOP */

.menu__link--pedido,
.menu__link--conSubmenu
{
    background-repeat:no-repeat;
}

.header__link__inicio:hover{
    cursor:pointer;
}

.header__menu--lateralIzquierdo{
    position:relative;
}

.header__icono__menu img{
    height:auto;
}

.consultora__datos{
    background-color:#e5e5e5;
    border-radius:100%;
    position:relative;    
}

.consultora__imagen,
.icono__actualizarDatos
{
    border-radius:100%;
}

.consultora__imagen{
    overflow:hidden;
}

.submenu__link img,
.consultora__imagen img
{
    height:auto;
}

/*.header__menu--lateralIzquierdo .menu__lista{
    max-width:612px;
}*/

.menu__lista{
    height:60px;
}

.header__menu--lateralIzquierdo .menu__item {
    min-width: 112px;
    text-align: center;
}

.menu__item[data-title="SOCIA EMPRESARIA"],
.menu__item--sociaEmpresaria
{
    padding-left:25px;
}

.header__menu--lateralIzquierdo .menu__item,
.submenu__item--AsesorBelleza
{
    letter-spacing:0.7px;
}

.menu__item{
    position:relative;
    height: 100%;
    line-height: 60px;
}

.menu__item[data-title="MI NEGOCIO"]:hover > .submenu__lista,
.menu__item--miNegocio:hover > .submenu__lista,
.submenu__item--AsesorBelleza:hover > .submenu__lista
{
    display:flex;
}

.menu__item[data-title="OFERTAS"],
.menu__item--ofertas
{
    width:144px;
    padding-left:7px;
    overflow:hidden;
}

.menu__item[data-title="OFERTAS"] img,
.menu__link--ofertas img
{
    width: 192.36px;
}

.menu__link,
.submenu__item--AsesorBelleza > .submenu__link
{
    font-size:10.5px;
    text-transform:uppercase;
    font-weight:700;
    cursor:pointer;
}

.menu__link{
    position:relative;
}

.menu__link--pedido{
    letter-spacing:0.3px;
    background-position:10px center;
    border-top:none;
}

.menu__link--conSubmenu,
.submenu__item--AsesorBelleza > .submenu__link
{
    background-image:url(/Content/images/down_arrow.png);
    background-position:97% center;
}

.menu__link--sinAfiliacionAppCatalogo{
    background-image:none;
}

.submenu__lista{
    display:none;
    position: absolute;
    background-color:#FFF;
    padding-top: 26px;
    padding-bottom: 16px;
    letter-spacing:normal;
    box-shadow: 0 4px 16px -5px rgba(120,120,120,1);
    -moz-box-shadow: 0 4px 16px -5px rgba(120,120,120,1);
    -ms-box-shadow: 0 4px 16px -5px rgba(120,120,120,1);
    -o-box-shadow: 0 4px 16px -5px rgba(120,120,120,1);
    -webkit-box-shadow: 0 4px 16px -5px rgba(120,120,120,1);
}

.submenu__lista--miNegocio{
    width: 937px;
    left:-45px;
    height: 239px;
    z-index:4;
    align-content:space-evenly;
    text-align:left;
}

.submenu__lista--miNegocio,
.submenu__lista--miAsesorBelleza
{
    border-top: 1px solid #000;
}

.pestana__marca__pais{
    z-index: 1000;
    position: absolute;
    right: 0;
    background-repeat:no-repeat;
}

.submenu__item--AsesorBelleza{
    width:183px;
}

.submenu__item--AsesorBelleza > .submenu__link{
    background-repeat:no-repeat;
}

.menu__link:hover,
.submenu__link:hover
{
    text-decoration:underline!important;
}

.submenu__lista--miAsesorBelleza .submenu__link{
    padding-left:0;
    background-image:none;
    font-weight:400;
    text-transform:initial;
    font-size:14px;
}

.submenu__item{
    min-height:32px;
    line-height:32px;
}

.submenu__link{
    padding-left:27px;
    cursor:pointer;
    position:relative;
}

.submenu__item--Catalogos,
.submenu__item--Incentivos
{
    width:180px;
}

.submenu__item--Catalogos .submenu__link,
.submenu__item--Incentivos .submenu__link
{
    padding-left:0;
}

.submenu__lista--miAsesorBelleza
{
    width:615px;
    height:188px;
    left:105px;
    padding-top:38px;
    padding-left: 57px;
    padding-right: 20px;
    z-index:2;
}

.sub__menu__asesorBelleza{
    margin-right:39px;
}

.sub__menu__asesorBelleza h4{
    font-size:13px;
    text-transform:uppercase;
    font-weight:700;
    margin-bottom:10px;
}

.submenu__item__title{
    position:absolute;
    left:0;
    bottom:0;
    height:30px;
    background-color:#000;
    color:#FFF;
    font-size:11px;
    font-weight:900;
    text-transform:uppercase;
    text-align:center;
}

@media screen and (min-width:1272px) and (max-width:1286px){

    .menu__item[data-title="SOCIA EMPRESARIA"] ~ .menu__item, 
    .menu__item--sociaEmpresaria ~ .menu__item
    {
        min-width:107px;
    }

}

@media screen and (max-width:1270px) {

    .menu__item[data-title="SOCIA EMPRESARIA"],
    .menu__item--sociaEmpresaria
    {
        padding-left: 20px;
    }

}

@media screen and (max-width:1271px){

    .menu__item[data-title="SOCIA EMPRESARIA"] ~ .menu__item,
    .menu__item--sociaEmpresaria ~ .menu__item
    {
        min-width:98px;
    }

}

@media screen and (max-width:1249px){

    .menu__item[data-title="OFERTAS"],
    .menu__item--ofertas
    {
        width:125px;
    }

    .menu__item[data-title="OFERTAS"] img,
    .menu__link--ofertas img
    {
        width: 166.36px;
    }

}

@media screen and (min-width:992px) and (max-width:1199px){

    .menu__link,
    .submenu__item--AsesorBelleza > .submenu__link
    {
        font-size:10px;
    }

    .menu__item[data-title="OFERTAS"] img
    .menu__link--ofertas img
    {
        width:158.36px;
    }

    .menu__item[data-title="SOCIA EMPRESARIA"] ~ .menu__item,
    .menu__item--sociaEmpresaria ~ .menu__item
    {
        min-width: 89px;
    }

}

/* FIN - MENÚ PRINCIPAL DESKTOP */

/* MENÚ PRINCIPAL MOBILE */

@media screen and (max-width:991px){

    /*.header__icono__menu,
    .header__menu
    {
        display:none;
    }*/

    .header__menu--lateralIzquierdo{
        width:90%;
        min-width:0;
        height: 100%;
        overflow:auto;
        position: fixed;
        padding-top:14px;
        padding-bottom:14px;
        padding-left:0;
        padding-right:0;
        top:0;
        left:-100%;
        z-index:8;
        background-color:#FFF;
        -webkit-box-shadow: 5px 17px 40px -9px rgba(0,0,0,1);
        -moz-box-shadow: 5px 17px 40px -9px rgba(0,0,0,1);
        box-shadow: 5px 17px 40px -9px rgba(0,0,0,1);
    }

    .header__icono__menu{
        width:22px;
        height:27px;
    }

    .icono__cerrar{
        height:31px;
        padding-right:10px;
    }

    .consultora__saludo--menu{
        font-size:17px;
    }

    .consultora__datos--menu{
        width:77px;
        height:77px;
        margin-bottom:18px;
    }

    .icono__actualizarDatos{
        width:26px;
        height:26px;
        border-radius:100%;
        position:absolute;
        right:0;
        top:0;
    }

    .header__menu--lateralIzquierdo .menu__lista{
        max-width:none;
    }
    
    .menu__lista,
    .menu__item
    {
        height:auto;
    }

    .header__menu--lateralIzquierdo .menu__item{
        text-align:left;
    }

    .menu__item[data-title="OFERTAS"],
    .menu__item--ofertas
    {
        width:auto;
        padding-left:0;
    }

    .menu__item[data-title="OFERTAS"],
    .menu__item[data-title="OFERTAS"] img
    {
        width:auto;
    }

    /*.menu__link,
    .submenu__link
    {
        height:100%;
    }*/

    .menu__link:hover{
        text-decoration:none!important;
    }

    .header__menu--lateralIzquierdo .menu__link{
        font-size:14px;
        padding-left:28px;
        line-height:42px;
        border-bottom:1px solid #e5e5e5;
        font-weight:400;
        text-transform:initial;
    }

    .menu__item[data-title="OFERTAS"] .menu__link,
    .menu__link--ofertas
    {
        padding-top:10px;
        padding-bottom:12px;
    }

    .menu__link--pedido{
        border-top:1px solid #e5e5e5;
    }

    .menu__link--cerrar-sesion{
        margin-top: 50px;
        height: auto;
        border-bottom: none!important;
    }

    .menu__link--conSubmenu,
    .menu__link--ofertas img
    {
        width:auto;
    }

    .menu__item:nth-child(3) > .submenu__lista,
    .menu__item:nth-child(5) > .submenu__lista
    {
        background-color:#f1f1f1;
        padding-top:18px;
        padding-bottom:18px;
    }

    .submenu__lista--miNegocio{
        width:auto;
        height:auto;
        top:0!important;
        border-top:none;
        left:0;
    }

    .submenu__lista{
        display:none;
        position:relative;
        box-shadow:none;
    }

    .menu__link--conSubmenuMobile{
        display:none;
        background-position:96% center;
    }

    .submenu__item{
        min-height:35px;
    }

    .submenu__link{
        padding-left:43px;
        line-height:35px;
        position:relative;
    }

}
