@model Portal.Consultoras.Web.Models.BelcorpNoticiasModel
@{
    ViewBag.Title = "Belcorp Noticias";
}

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Belcorp Noticias</h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div>
            @if (Model.listaBelcorpNoticias != null && Model.listaBelcorpNoticias.Any())
            {
                foreach (var belcorpNoticia in Model.listaBelcorpNoticias)
                {
                <div class="modulo_noticia">
                    @Html.Hidden("BelcorpNoticiaID",belcorpNoticia.BelcorpNoticiaID)
                    <div class="modulo_noticia_img">
                        <a href='@Url.Content("~/Content/FileConsultoras/" + belcorpNoticia.UrlPDF)'>
                            <img src='@Url.Content("~/Content/BelcorpNoticias/" + Model.ISO + "/" + belcorpNoticia.ArchivoPortada)' alt="Logo Belcorp Noticia" />
                        </a>
                    </div>
                    <div class="modulo_noticia_des">
                        @belcorpNoticia.Titulo
                    </div>
                </div>
                }
            }
        </div>
    </div>
</div>
