@using Portal.Consultoras.Web.Areas.Mobile.Models
@{
    ViewBag.Title = "Cambios y Devoluciones";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="titulo_mobile">
    @{
        var mobileConfiguracion = Session["MobileAppConfiguracion"] == null ? new MobileAppConfiguracionModel() : (MobileAppConfiguracionModel)Session["MobileAppConfiguracion"];
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        }
    }
    CAMBIOS Y DEVOLUCIONES
</div>

<div class="pestana_esika"></div><!--PESTANA ESIKA-->
<div class="pestana_lbel"></div><!--PESTANA LBEL-->

<div class="wrapper_resumen_mobile">
    <div>
        <span class="mensaje_vista_cdr tipografia_lato_bold">
            Queremos verte siempre satisfecha con nuestros productos y servicio.
        </span>
        <span class="mensaje_vista_cdr tipografia_lato_regular">
            Si tuviste inconvenientes con algún producto y estás dentro del <a href="#" class="plazo_permitido" title="Detalle de plazo permitido">plazo permitido</a> puedes registrar una solicitud de cambios y devoluciones.
        </span>
        <a href="#" title="Registrar Solicitud" class="btn_registrar_solicitud_cdr tipografia_lato_bold">
            REGISTRAR SOLICITUD
        </a>
        <span class="mensaje_vista_cdr tipografia_lato_regular">Actualmente tienes 4 solicitudes registradas :</span>
    </div>
    <div class="grilla_registros_solicitud_cdr">
        <div class="registro_solicitud_cdr">
            <div class="datos_solicitud_cdr">
                <div class="fecha_solicitud tipografia_lato_light">
                    04/08/2017
                </div>
                <div class="num_campania tipografia_lato_bold">
                    CAMPAÑA 2017-09
                </div>
                <div class="num_solicitud tipografia_lato_regular">
                    SOLICITUD N° - <span>33</span>
                </div>
                @*<div class="resumen_resolucion tipografia_lato_light">
                    <span class="productos_aprobados">2 productos aprobados,</span>
                    <span class="productos_rechazados">1 rechazado</span>
                </div>*@
            </div>
            <!-- ESTADO SOLICITUD PENDIENTE -->
            <div class="estado_registro_solicitud_cdr estado_pendiente">
                PENDIENTE
            </div>
            <!-- FIN ESTADO SOLICITUD PENDIENTE -->
            <div class="icono_busqueda">
                <a href="#" title="Ver solicitud" class="enlace_ver_solicitud_cdr">
                    <img src="~/Content/Images/icono_lupa.png" alt="Ver solicitud" />
                </a>
            </div>
        </div>
        <div class="registro_solicitud_cdr">
            <div class="datos_solicitud_cdr">
                <div class="fecha_solicitud tipografia_lato_light">
                    04/08/2017
                </div>
                <div class="num_campania tipografia_lato_bold">
                    CAMPAÑA 2017-10
                </div>
                <div class="num_solicitud tipografia_lato_regular">
                    SOLICITUD N° - <span>30</span>
                </div>
                <div class="resumen_resolucion tipografia_lato_light">
                    <span class="productos_aprobados">2 productos aprobados,</span>
                    <span class="productos_rechazados">1 rechazado</span>
                </div>
            </div>
            <!-- ESTADO SOLICITUD PENDIENTE -->
            <div class="estado_registro_solicitud_cdr estado_observado">
                OBSERVADO
            </div>
            <!-- FIN ESTADO SOLICITUD PENDIENTE -->
            <div class="icono_busqueda">
                <a href="#" title="Ver solicitud" class="enlace_ver_solicitud_cdr">
                    <img src="~/Content/Images/icono_lupa.png" alt="Ver solicitud" />
                </a>
            </div>
        </div>
        <div class="registro_solicitud_cdr">
            <div class="datos_solicitud_cdr">
                <div class="fecha_solicitud tipografia_lato_light">
                    04/08/2017
                </div>
                <div class="num_campania tipografia_lato_bold">
                    CAMPAÑA 2017-09
                </div>
                <div class="num_solicitud tipografia_lato_regular">
                    SOLICITUD N° - <span>33</span>
                </div>
                <div class="resumen_resolucion tipografia_lato_light">
                    <span class="productos_rechazados">Todos los productos rechazados.</span>
                </div>
            </div>
            <!-- ESTADO SOLICITUD PENDIENTE -->
            <div class="estado_registro_solicitud_cdr estado_rechazado">
                RECHAZADO
            </div>
            <!-- FIN ESTADO SOLICITUD PENDIENTE -->
            <div class="icono_busqueda">
                <a href="#" title="Ver solicitud" class="enlace_ver_solicitud_cdr">
                    <img src="~/Content/Images/icono_lupa.png" alt="Ver solicitud" />
                </a>
            </div>
        </div>
        <div class="registro_solicitud_cdr">
            <div class="datos_solicitud_cdr">
                <div class="fecha_solicitud tipografia_lato_light">
                    04/08/2017
                </div>
                <div class="num_campania tipografia_lato_bold">
                    CAMPAÑA 2017-09
                </div>
                <div class="num_solicitud tipografia_lato_regular">
                    SOLICITUD N° - <span>33</span>
                </div>
                <div class="resumen_resolucion tipografia_lato_light">
                    <span class="productos_rechazados">Todos los productos aprobados.</span>
                </div>
            </div>
            <!-- ESTADO SOLICITUD PENDIENTE -->
            <div class="estado_registro_solicitud_cdr estado_aprobado">
                APROBADO
            </div>
            <!-- FIN ESTADO SOLICITUD PENDIENTE -->
            <div class="icono_busqueda">
                <a href="#" title="Ver solicitud" class="enlace_ver_solicitud_cdr">
                    <img src="~/Content/Images/icono_lupa.png" alt="Ver solicitud" />
                </a>
            </div>
        </div>
    </div>
</div>

