GO
USE BelcorpPeru
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpMexico
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpColombia
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpSalvador
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpPuertoRico
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpPanama
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpGuatemala
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpEcuador
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpDominicana
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpCostaRica
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpChile
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
USE BelcorpBolivia
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [chatbot].[UpdateResultados]
	 @ResultadosID INT
	,@FechaFin DATETIME = NULL
AS
BEGIN

UPDATE [chatbot].[Resultados]
		SET FechaFin				= @FechaFin
		WHERE ResultadosID 			= @ResultadosID
END

GO
