@{
    ViewBag.Title = "Incentivo";
}

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Incentivos</h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div>
            <div class="modulo_incentivo">
                <div class="modulo_incentivo_img">
                    <a href="#">
                        <img src="~/Content/Images/incentivos.png" alt="" />
                    </a>
                </div>
                <div class="modulo_incentivo_des">
                    Programa de Bonificación de Constancia                 
                </div>
            </div>
            <div class="modulo_incentivo">
                <div class="modulo_incentivo_img">
                    <a href="#">
                        <img src="~/Content/Images/incentivos.png" alt="" />
                    </a>
                </div>
                <div class="modulo_incentivo_des">
                    Programa de Bonificación de Constancia
                </div>
            </div>
            <div class="modulo_incentivo">
                <div class="modulo_incentivo_img">
                    <a href="#">
                        <img src="~/Content/Images/incentivos.png" alt="" />
                    </a>
                </div>
                <div class="modulo_incentivo_des">
                    Programa de Bonificación de Constancia
                </div>
            </div>
            <div class="modulo_incentivo">
                <div class="modulo_incentivo_img">
                    <a href="#">
                        <img src="~/Content/Images/incentivos.png" alt="" />
                    </a>
                </div>
                <div class="modulo_incentivo_des">
                    Programa de Bonificación de Constancia
                </div>
            </div>
            <div class="modulo_incentivo">
                <div class="modulo_incentivo_img">
                    <a href="#">
                        <img src="~/Content/Images/incentivos.png" alt="" />
                    </a>
                </div>
                <div class="modulo_incentivo_des">
                    Programa de Bonificación de Constancia
                </div>
            </div>
            <div class="modulo_incentivo">
                <div class="modulo_incentivo_img">
                    <a href="#">
                        <img src="~/Content/Images/incentivos.png" alt="" />
                    </a>
                </div>
                <div class="modulo_incentivo_des">
                    Programa de Bonificación de Constancia
                </div>
            </div>
            <div class="modulo_incentivo">
                <div class="modulo_incentivo_img">
                    <a href="#">
                        <img src="~/Content/Images/incentivos.png" alt="" />
                    </a>
                </div>
                <div class="modulo_incentivo_des">
                    Programa de Bonificación de Constancia
                </div>
            </div>
            <div class="modulo_incentivo">
                <div class="modulo_incentivo_img">
                    <a href="#">
                        <img src="~/Content/Images/incentivos.png" alt="" />
                    </a>
                </div>
                <div class="modulo_incentivo_des">
                    Programa de Bonificación de Constancia
                </div>
            </div>
        </div>
    </div>
</div>
