@using Portal.Consultoras.Web.CustomHelpers
@{
    ViewBag.Title = "Terminos y Condiciones";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="titulo_mobile">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        } }
    &nbsp;&nbsp;&nbsp;&nbsp;CONDICIONES DE USO WEB
</div>
<div class="fondo_f2f2f2" style="background:white;">
    <div class="pestana_esika"></div>
    <div class="pestana_lbel"></div>
</div>
<div class="content_termino_condiciones">
    <span class="subtitulo_terminos">1. INFORMACIÓN GENERAL</span>

    Las condiciones siguientes regulan la información y el uso permitido de la Web con URL http://www.somosbelcorp.com/, que la empresa CETCO S.A., administradora y propietaria de la Web Somos Belcorp, en adelante “LA EMPRESA”, pone a disposición de las Consultoras, en adelante los “Usuario” o el “Usuario”.<br />

    El sitio Web ha sido creado y diseñado por LA EMPRESA para brindar un espacio de
    comunicación con los Usuarios, realizar pedidos de los productos de las marcas Esika, L’bel y
    Cyzone que son comercializados por LA EMPRESA, dar información sobre los productos, promociones y beneficios que LA EMPRESA le ofrece a los Usuarios, así como gestionar la relación comercial que LA EMPRESA tiene con ellos.<br />

    <span class="subtitulo_terminos">2. CONDICIONES GENERALES</span>

    Estas condiciones generales tienen por objeto regular el acceso y la utilización del sitio Web
    que LA EMPRESA pone gratuitamente a disposición de los Usuarios, salvo en lo relativo al coste de la conexión a través de la red de telecomunicaciones suministrada por el proveedor de acceso contratado por los Usuarios.<br />

    El acceso al sitio Web y la navegación por el mismo implica la aceptación, sin reservas, de
    todas las condiciones incluidas en este documento.<br />

    La utilización de determinados servicios ofrecidos en este sitio Web se regirá, además, por las condiciones particulares previstas en cada caso, las cuales se entenderán aceptadas por el solo uso de éstos.<br />
</div>