@using Portal.Consultoras.Common

    <script id="banner-promocion-template" type="text/x-handlebars-template">
        <div class="titulo-promociones">
            <span class="texto-promociones"> Promoción </span>
        </div>
        <div class="descripcion-promociones">
            <span class="texto-promociones">¡Ll&eacute;vate un(a) {{DescripcionCompleta}} en oferta! <br>Ent&eacute;rate aqu&iacute;.</span>
            <div class="contenedor-imagen">
                {{#iff TipoPersonalizacion '==' 'CAT'}}
                <img src="{{FotoProducto01}}" alt="Texto" class="img-responsive" />
                {{/iff}}
                {{#iff TipoPersonalizacion '!=' 'CAT'}}
                {{#if isMobile}}
                <img src="{{ImgMedium FotoProducto01}}" alt="Texto" class="img-responsive" />
                {{else}}
                <img src="{{ImgUrl FotoProducto01}}" alt="Texto" class="img-responsive" />
                {{/if}}
                {{/iff}}
            </div>
        </div>
    </script>