<!-- Modal tipos y tonos -->
    <section id="modal-promociones" class="promociones-modal popup_lateral">
        <div class="titulo-promociones on-modal">
            <span class="texto-promociones"> Promocion </span>
        </div>
    
        <button id="cerrar-promociones-modal" class="button_cerrar">
            <img src="/Content/Images/mobile/Esika/close-button.svg" alt="">
        </button>        
        <!-- <ModalPromoción ticket="tesla-179"> -->
        
        <!--<ModalPromocionCopiadoDeUpSelling>-->
        <section class="seccion_ficha" id="divFichaCarrusel_UpSelling" style="display:block;">
            <div class="contenedor_detalle container">
                <h2 class="titulo_seccion">Compra una de estas Ofertas</h2>
                <div class="carousel_ficha carrusel_seccion" id="carrusel-condiciones"></div>
            </div>
        </section>
        <!--</ModalPromocionCopiadoDeUpSelling>-->

        <div id="producto-promocion"  class="modal-promociones--bottom fixed-bottom">
        </div>
    </section>