    <!-- Modal tipos y tonos -->
<section id="modal-promociones" class="promociones-modal popup_lateral">
    <div class="modal-top promociones-top">
        <div class="titulo-promociones on-modal">
            <span class="texto-promociones"> Promoción </span>
        </div>
        <button id="cerrar-promociones-modal" class="button_cerrar">
            <img src="/Content/Images/mobile/Esika/close-button.svg" alt="">
        </button>
        <h2 class="mx-3 titulo_seccion">Compra una de estas Ofertas</h2>
    </div>

    <!--<ModalPromocionCopiadoDeUpSelling>-->
    <section class="carrusel-promocion seccion_ficha d-flex align-items-center flex-column" id="divFichaCarrusel_UpSelling">
        <div class="contenedor_detalle container mb-3">
            <div class="carousel_ficha carrusel_seccion" id="carrusel-condiciones"></div>
        </div>

        <!--</ModalPromocionCopiadoDeUpSelling>-->

        <div id="producto-promocion" class="modal-promociones--bottom">
        </div>

        @*
            <div class="titulo-promociones on-modal">
                <span class="texto-promociones"> Promoción </span>
            </div>

            <button id="cerrar-promociones-modal" class="button_cerrar">
                <img src="/Content/Images/mobile/Esika/close-button.svg" alt="">
            </button>
            <!-- <ModalPromoción ticket="tesla-179"> -->

            <!--<ModalPromocionCopiadoDeUpSelling>-->
            <section class="carrusel-promocion seccion_ficha d-flex align-items-center" id="seccion-carrusel-condiciones">
                <div class="contenedor_detalle container mb-3">
                    <h2 class="titulo_seccion">Compra una de estas Ofertas</h2>
                    <div class="carousel_ficha carrusel_seccion" id="carrusel-condiciones" >

                    </div>
                </div>
            </section>
            <!--</ModalPromocionCopiadoDeUpSelling>-->

            <div id="producto-promocion"  class="modal-promociones--bottom">

            </div>
        *@


    </section>
