<!-- Modal tipos y tonos -->
    <section id="modal-promociones" class="promociones-modal popup_lateral">
        <button id="cerrar-promociones-modal" class="button_cerrar">
            <img src="/Content/Images/mobile/Esika/close-button.svg" alt="">
        </button>

        <div class="header_fixed" id="contenedor-cabecera">
            <div class="seleccion_header" id="contendor-titulo-opciones">
                <h3 header-title>Elige 1 opción</h3>
                @*<h3>¡Listo! <span>ya tienes tu</span> </h3>*@
                <p header-selected-quantity>0 seleccionados</p>
            </div>
            <div class="contenedor_selecionados" id="contenedor-tipos-tonos-seleccionados" style="display:none">
                <div class="selecionados_carrosel" id="tipos-tonos-seleccionados">

                </div>
            </div>
        </div>
        <!-- <ModalPromoción ticket="tesla-179"> -->
        
        <!--<ModalPromocionCopiadoDeUpSelling>-->
        <section class="seccion_ficha" id="divFichaCarrusel_UpSelling" style="display:block;">
            <div class="contenedor_detalle container">
                <h2 class="titulo_seccion"></h2>
                <div class="carousel_ficha carrusel_seccion"></div>
            </div>
        </section>
        <!--</ModalPromocionCopiadoDeUpSelling>-->
        
        <!-- <ProductoEnPromocion>-->
        <div class="row no-gutters mx-3 mb-4">
            <div class="contenedor-promocion-modal">
                <div class="titulo-promociones">
                    <span class="texto-promociones black dark-color">Y llevate esta promoción</span>
                </div>
                <div class="descripcion-promociones">
                    <div class="contenedor-imagen">
                        <img src="https://belc-bigdata-mdm-images-qas.s3.amazonaws.com/images/FotoProductoWebRedes/Esika_Talco_Perfumado_Expression_Cuidado_Personal_FotoProducto.jpg" alt="Texto" class="img-responsive" />
                    </div>
                    <span class="texto-promociones">Ésika</span>
                    <span class="texto-promociones black">Reloj Chronograph</span>
                    <span class="texto-promociones"><span>Precio para ti:</span> S/. 100000.00</span>
                </div>
            </div>
        </div>
        <!-- </ProductoEnPromocion>-->


        <div class="row no-gutters">
            <div class="col-3">
                <div id="idcontenedor_rangos" data-cantidad-contenedor="" class="contenedor_rangos ">
                    <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" onkeyup="" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" data-cantidad-input="-" value="1">
                    <div>
                        <a class="txt_menos" data-cantidad-agregar="-" onclick="">
                            <div class="dibujar_linea dibujar_menos"></div>
                        </a>
                        <a class="txt_mas" data-cantidad-agregar="+" onclick="">
                            <div class="dibujar_linea dibujar_mas"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <a id="btnAgregalo" onclick="" class="btn_agregalo btn_primario">
                    <div class="icono_agregar"></div> Agregar
                </a>
            </div>
        </div>
        <!-- </ModalPromoción> -->


    </section>