@using Portal.Consultoras.Common

    <script id="producto-promocion-template" type="text/x-handlebars-template">
        <div data-item="{{EstrategiaID}}" data-item-cuv="{{CUV2}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}">
            <div style="display:none;">
                <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
                <div data-estrategia="{{JSON2string this}}"></div>
                <div data-imagen-producto="{{ImgUrl FotoProducto01}}"></div>
            </div>

            <!-- <ProductoEnPromocion>-->
            <div class="row no-gutters mx-3 mb-4">
                <div class="w-100 titulo-promociones">
                    <span class="texto-promociones black dark-color">¡Y llevate esta promoción!</span>
                </div>
                <div class="w-100 descripcion-promociones">
                    <div class="contenedor-imagen">
                        <img src="/Content/Images/placeholder/img_placeholder_vertical.jpg" data-lazy="{{ImgUrl FotoProducto01}}" alt="Texto" class="img-responsive" />
                    </div>
                    <span class="texto-promociones">{{DescripcionMarca}}</span>
                    <span class="texto-promociones black">{{DescripcionCortada}}</span>
                    <span class="texto-promociones"><span>Precio para tu cliente :</span> {{SimboloMoneda}} {{PrecioVenta}}</span>
                </div>
            </div>
            <!-- </ProductoEnPromocion>-->
            <div class="row no-gutters px-3">
                {{#if TieneStock}}
                {{#iff TipoAccionAgregar '==' '@Constantes.TipoAccionAgregar.AgregaloNormal'}}
                <div class="col-3 pr-2">
                    <div id="idcontenedor_rangos" data-cantidad-contenedor="" class="contenedor_rangos ">
                        <input class="txt_cantidad_pedido ValidaNumeral ValidaPasteNumeral" type="text" onkeyup="" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" data-cantidad-input="-" value="1">
                        <div>
                            <a class="txt_menos" data-cantidad-agregar="-" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                <div class="dibujar_linea dibujar_menos"></div>
                            </a>
                            <a class="txt_mas" data-cantidad-agregar="+" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                <div class="dibujar_linea dibujar_mas"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-9 pl-2">
                    <a id="btnAgregalo" 
                       onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event); " 
                       class="btn_agregalo btn_primario">
                        <div class="icono_agregar"></div> Agregar
                    </a>
                </div>
                {{/iff}}
                {{#iff TipoAccionAgregar '==' '@Constantes.TipoAccionAgregar.EligeOpcion'}}
                <button class="btn_agregalo_producto btn_defecto" onclick="javascript:FichaVerDetalle.OnClickFichaDetalle(event.target);">
                    <img src="/Content/Images/mobile/Esika/click-ico-White.svg"> Elige tu opción
                </button>
                {{/iff}}
                {{else}}
                <div class="tag_agotago">Agotado</div>
                {{/if}}

                <div class="caja_producto_agregado">
                    {{#if IsAgregado }}
                    <div>
                        AGREGADO <div class="icono"></div>
                    </div>
                    {{else}}
                    <div class="contenedor_agregado" style="display:none">
                        AGREGADO <div class="icono"></div>
                    </div>
                    {{/if}}
                </div>
            </div>
            <!-- </ModalPromoción> -->
        </div>

        @*<article class="caja_producto caja_vertical"  data-item="{{EstrategiaID}}" data-item-cuv="{{CUV2}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}">
            <div style="display:none;">
                <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
                <div data-estrategia="{{JSON2string item}}"></div>
                <div data-imagen-producto="{{ImgUrl FotoProducto01}}"></div>
            </div>
            <div class="row" onclick="javascript:FichaVerDetalle.OnClickFichaDetalle(event.target);">
                <div class="col-6 col-lg-12 img_producto">
                    <img alt="Etiqueta Producto" src="/Content/Images/placeholder/img_placeholder_vertical.jpg" data-lazy="{{ImgUrl FotoProducto01}}"/>
                    <a class="ver_detalle_producto" href="#">Ver Detalle</a>
                </div>
                <div class="col-6 col-lg-12 descripcion_producto">
                    <div class="nombre_marca">{{DescripcionMarca}} </div>
                    <h3 class="titulo_producto">{{DescripcionCortada}}</h3>
                    <div class="precio_oferta">
                        Para ti
                        <span>{{SimboloMoneda}} {{PrecioVenta}}</span>
                    </div>
                    <div class="precio_normal">
                        Para tu cliente
                        <span>{{SimboloMoneda}} {{PrecioTachado}}</span>
                    </div>
                </div>
            </div>
            <div class="seccion_agregar">
                {{#if TieneStock}}
                {{#iff TipoAccionAgregar '==' '@Constantes.TipoAccionAgregar.AgregaloNormal'}}
                <div class="contenedor_rangos_producto" data-cantidad-contenedor="">
                    <input type="text" value="1" size="2" maxlength="2" data-input="cantidad" class="caja_rangos  ValidaNumeral ValidaPasteNumeral" tabindex="0">
                    <div class="botones_rangos">
                        <a href="javascript:;" class="mas_rangos" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" data-bloqueada="" tabindex="0">
                            <img src="/Content/Images/Esika/mas.png" alt="">
                        </a>
                        <a href="javascript:;" class="menos_rangos" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" data-bloqueada="" tabindex="0">
                            <img src="/Content/Images/Esika/menos.png" alt="">
                        </a>
                    </div>
                </div>
                <a id="btnAgregalo" class="btn_agregalo_producto btn_defecto"
                   href="javascript:;"
                   onclick="javascript:EstrategiaAgregarModule.EstrategiaAgregar(event); ">
                    Agrégalo
                </a>
                {{/iff}}
                {{#iff TipoAccionAgregar '==' '@Constantes.TipoAccionAgregar.EligeOpcion'}}
                <button class="btn_agregalo_producto btn_defecto" onclick="javascript:FichaVerDetalle.OnClickFichaDetalle(event.target);">
                    <img src="/Content/Images/mobile/Esika/click-ico-White.svg"> Elige tu opción
                </button>
                {{/iff}}
                {{else}}
                <div class="tag_agotago">Agotado</div>
                {{/if}}
            </div>
            <div class="caja_producto_agregado">
                {{#if IsAgregado }}
                <div>
                    AGREGADO <div class="icono"></div>
                </div>
                {{else}}
                <div class="contenedor_agregado" style="display:none">
                    AGREGADO <div class="icono"></div>
                </div>
                {{/if}}
            </div>
        </article>*@

    </script>