@model Portal.Consultoras.Web.Models.CaminoBrillante.AdministrarMontoExigenciaModel
@{
    ViewBag.Title = "AdministrarMontoExigencia";
}
<script>
    jQuery(document).ready(function () {
        fnGrilla();

        $("#txtMontoExigencia").keypress(function (event) {
            if ((event.charCode == 44 || event.charCode == 46)  && $("#txtMontoExigencia").val().length == 0) {
                $("#txtMontoExigencia").val("0")
                return true
            }
            if (event.charCode >= 48 && event.charCode <= 57 || (event.charCode == 44 || event.charCode == 46)) {
                return true;
            }
            else {
                alert('Ingrese solo números')
                return false;
            }             
        });

        $("#btnBuscar").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }
            fnGrilla();
        });

        $('#btnGuardar').click(function () {
            fnRegistrar();
        });

        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.ajax({
                    type: 'GET',
                    url: baseUrl + 'BaseAdm/ObtenerCampaniasZonasRegionesPorPais',
                    data: "PaisID=" + (Id == "" ? 0 : Id),
                    cache: false,
                    dataType: 'Json',
                    success: function (data) {
                        if (checkTimeout(data)) {
                            var ddlCampania = $('#ddlCampania');
                            var ddlRegion = $('#ddlRegion')
                            var ddlZona = $('#ddlZona');

                            ddlCampania.empty();
                            if (data.lstCampania.length > 0) {
                                ddlCampania.append($('<option/>', {
                                    value: "",
                                    text: "-- Seleccion --"
                                }));
                                if (Id != "") {
                                    for (var item in data.lstCampania) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lstCampania[item].CampaniaID,
                                            text: data.lstCampania[item].Codigo
                                        }));
                                    }
                                }
                            }
                            ddlZona.empty();
                            ddlZona.append($('<option/>', {
                                value: "",
                                text: "Todos"
                            }));
                            if (data.lstZona.length > 0) {
                                for (var item in data.lstZona) {
                                    if (data.lstZona.hasOwnProperty(item)) {
                                        ddlZona.append($('<option/>', {
                                            value: data.lstZona[item].Codigo,
                                            text: data.lstZona[item].Codigo
                                        }));
                                    }
                                }
                            }
                            ddlRegion.empty();
                            ddlRegion.append($('<option/>', {
                                value: "",
                                text: "Todos"
                            }));
                            if (data.lstRegion) {
                                for (var item in data.lstRegion) {
                                    if (data.lstRegion.hasOwnProperty(item)) {
                                        ddlRegion.append($('<option/>', {
                                            value: data.lstRegion[item].RegionID,
                                            text: data.lstRegion[item].Codigo
                                        }));
                                    }
                                }
                            }
                            closeWaitingDialog();
                        }
                    },
                    error: function (x) {
                        if (checkTimeout(x)) {
                            closeWaitingDialog();
                        }
                    }
                });
            } else LimpiarDependencias(Id);
        }); 

        $('#ddlRegion').change(function () {
            waitingDialog({});

            var _paisID = parseInt($("#ddlPais").val());
            var _regionID = parseInt($("#ddlRegion").val());
            
            $.ajaxSetup({ cache: false });
            $.ajax({
                type: 'GET',
                url: baseUrl + 'BaseAdm/GetZonasByRegion',
                data: "PaisID=" + (_paisID == "" ? 0 : _paisID) + "&RegionID=" + _regionID,
                cache: false,
                dataType: 'Json',
                success: function (data) {
                    if (checkTimeout(data)) {
                        
                        var ddlZona = $('#ddlZona');
                        ddlZona.empty();
                        ddlZona.append($('<option/>', {
                            value: "",
                            text: "Todos"
                        }));
                        if (data.listaZonas.length > 0) {
                            for (var item in data.listaZonas) {
                                if (data.listaZonas.hasOwnProperty(item)) {
                                    ddlZona.append($('<option/>', {
                                        value: data.listaZonas[item].Codigo,
                                        text: data.listaZonas[item].Codigo
                                    }));
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                },
                error: function (x) {
                    if (checkTimeout(x)) {
                        closeWaitingDialog();
                    }
                }
            });
        });
    });

    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "CaminoBrillanteAdministrar/ConsultarMontoExigencia",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                CodigoCampania: function () { return jQuery.trim($("#ddlCampania").val()); },
                CodigoRegion: function () { return jQuery.trim($("#ddlRegion").val()); },
                CodigoZona: function () { return jQuery.trim($("#ddlZona").val()); },
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['MontoID', 'Texto', 'Campaña', 'Región', 'Zona', 'Monto Exigido', 'Opcion'],
            colModel: [
                { name: 'MontoID', index: 'MontoID', width: 0, editable: false, align: 'left', hidden: true },
                { name: 'AlcansoIncentivo', index: 'AlcansoIncentivo', width: 0, editable: false, align: 'left', hidden: true },
                { name: 'CodigoCampania', index: 'CodigoCampania', width: 100, editable: false, align: 'left'},
                { name: 'CodigoRegion', index: 'CodigoRegion', width: 90, editable: true, resizable: false },
                { name: 'CodigoZona', index: 'CodigoZona', width: 80, editable: true, resizable: false },
                { name: 'Monto', index: 'Monto', width: 80, editable: true, resizable: false },
                { name: 'Activo', index: 'Activo', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            width: '930',
            height: 'auto',
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ShowActions(cellvalue, options, rowObject) {
        var Edit = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('div" + rowObject[0] + "','" + rowObject[0] + "','" + rowObject[1] + "','" + rowObject[2] + "','" + rowObject[3] + "','" + rowObject[4] + "','" + rowObject[5] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Factor' title='Editar Factor' border='0' /></a>";
        var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "','" + rowObject[2] + "','" + rowObject[3] + "','" + rowObject[4] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Cliente' title='Eliminar Cliente' border='0' /></a>";
        return Edit + Del;
    }

    $.jgrid.extend({
        Editar: function (Id, MontoID, TextoIncentivo, CodCampania, CodRegion, CodZona, Monto) {
            if (Id) {                
                $("#hdMontoID").val(MontoID);
                $("#ddlCampania").val(CodCampania);
                $("#ddlRegion").val(CodRegion);
                $("#ddlZona").val(CodZona);
                $("#txtMontoExigencia").val(Monto);
                switch (TextoIncentivo) {
                    case "1":
                        $("#rbtAlcansoIncentivo").attr('checked', true);
                        break;
                    case "2":
                        $("#rbtFaltaPoco").attr('checked', true);
                        break;
                    default:
                        $("#rbtAltaPocansoIncentivo").attr('checked', false);
                        $("#rbtFalco").attr('checked', false);
                }
            } else {
                alert("No selecciono el Factor");
            }
        },
        Eliminar: function (montoID, CodCampania, CodRegion, CodZona) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;
            
            var model = {
                MontoID: parseInt(montoID),
                CodigoCampania: CodCampania,
                CodigoRegion: CodRegion,
                CodigoZona: CodZona
            };

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'CaminoBrillanteAdministrar/EliminarMontoExigencia',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ model }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        limpiar();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });

    function fnRegistrar() {
        var _PaisID = $('#ddlPais').val();
        if (_PaisID === "") {
            alert("Debe seleccionar el País, verifique.");
            return false;
        }            
        
        var _CodigoCampania = $('#ddlCampania').val();
        var _CodigoRegion = $("#ddlRegion option:selected").html();
        var _CodigoZona = $('#ddlZona').val();
        var _MontoExigencia = $('#txtMontoExigencia').val();
        if (_MontoExigencia === '' || _MontoExigencia == '0') {
            alert("Debe ingresar un monto de exigencia, verifique.");
            return false;
        }           

        if (!$("input[name=rbtTexto]").is(":checked")) {
            alert("Debe Seleccionar el texto que se mostrara en esta campaña, verifique.");
            return false;
        }

        var _TextoTieneIncentivo = "";
        $("input[name=rbtTexto]").each(function (index) {
            if ($(this).is(':checked')) {
                _TextoTieneIncentivo = $(this).attr("data-tiporbt");
            }
        });

        var model = {
            MontoID: parseInt($("#hdMontoID").val()),
            CodigoCampania: _CodigoCampania,
            CodigoRegion: _CodigoRegion,
            CodigoZona: _CodigoZona,
            Monto: _MontoExigencia,
            AlcansoIncentivo: _TextoTieneIncentivo
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'CaminoBrillanteAdministrar/GuardarMontoExigencia',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(model),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    if (data.success == true) {
                        var item = data.items;
                        alert(data.message);
                        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        limpiar();
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    alert(data.message);
                }
            }
        });
    }

    function limpiar() {
        $("#ddlCampania").val("");
        $("#ddlRegion").val("");
        $("#ddlZona").val("");
        $("#txtMontoExigencia").val("");
    }
</script>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Monto de Exigencia para Incentivos</h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titG">Campaña:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlCampania" name="CampaniaID">
                        <option value="">-- Seleccionar --</option>
                    </select>
                </div>
            </div>
            <div class="div-3">
                <div id="lblSeleccionaRegion" class="titG">Región:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlRegion" name="RegionID">
                        <option value="">-- Seleccionar --</option>
                    </select>
                </div>
                <div id="lblSeleccionaZona" class="titG">Zona:</div>
                <div class="selectP2 borde_redondeado">
                    <select id="ddlZona" name="ZonaID">
                        <option value="">-- Seleccionar --</option>
                    </select>
                </div>
            </div>
            <div class="div-3">
                <div class="input_search" style="float:right; margin-right:227px">
                    <input type="submit" name="" id="btnBuscar" value="Buscar" />
                </div>
            </div>
            <div class="div-3">
                <div id="lblSelecciona" class="titG" style="width:420px;"><b>Ingresa el monto de exigencia para la campaña seleccionada:</b></div>
                <div class="selectP2 borde_redondeado" style="float:right; margin-right:227px">
                    <input id="txtMontoExigencia" text" maxlength="10" />
                </div>
            </div>
            <div class="div-3">
                <div class="titG" style="width:420px;"><b>Selecciona el texto que se debe mostrar en esta campaña:</b></div>
            </div>
            <div class="div-3">
                <div class="titG" style="float: none;width: auto;padding: 0;"><input id="rbtAlcansoIncentivo" type="radio" name="rbtTexto" data-tiporbt="1" />¡Felicidades! Accediste al #% de descuento y alcanzaste el incentivo</div>
                <div class="titG" style="float: none;width: auto;padding: 0;"><input id="rbtFaltaPoco" type="radio" name="rbtTexto" data-tiporbt="2" />¡Felicidades! Accediste al #% de descuento y falta poco para que alcances el incentivo</div>
            </div>
            <div class="div-3">
                <div class="titAuto" style="float: right; margin-right: 219px;">
                    <div class="input_search">
                        <input type="button" name="btnGuardar" id="btnGuardar" value="Guardar"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <input type="hidden" id="hdMontoID" value="0"/>
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>