@model Portal.Consultoras.Web.Models.CaminoBrillante.AdministrarMontoExigenciaModel
@{
    ViewBag.Title = "AdministrarMontoExigencia";
}
<script>
    jQuery(document).ready(function () {
        // Establece los efectos para cada uno de los Tabs
        $(".contenido_tab").hide(); //Ocultar capas
        $("ul.tabs li:first").addClass("activa").show(); //Activar primera pestaña
        $(".contenido_tab:first").show(); //Mostrar contenido primera pestaña

        // Sucesos al hacer click en una pestaña
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("activa"); //Borrar todas las clases "activa"
            $(this).addClass("activa"); //Añadir clase "activa" a la pestaña seleccionada
            $(".contenido_tab").hide(); //Ocultar todo el contenido de la pestaña
            var activatab = $(this).find("a").attr("href"); //Leer el valor de href para identificar la pestaña activa
            $(activatab).fadeIn(); //Visibilidad con efecto fade del contenido activo

            if (activatab == "#tab-estadoCuenta")//evento por pestaña seleccionada
            {
                GridEstadoCuentaDetalle();
            }
            if (activatab == "#tab-estadoConsultora")//evento por pestaña seleccionada
            {
                EstadoConsultoraForm();
            }
            if (activatab == "#tab-seguimientoPedido") {
                Seguimiento();
            }

            if (activatab == "#tab-paqueteDocumentario") {
                validarExiteInformacion();
            }

            if (activatab == "#tab-pedidoFacturado") {
                fnGrillaPedidoFacturado();
            }
            return false;
        });

        //$("#btnBuscar").click(function () {
        //    if ($("#ddlPais").val() == "") {
        //        alert("Debe seleccionar un País, verifique");
        //        return false;
        //    } else if ($("#txtCodigos").val() == "" && $("#txtDocumento").val() == "") {
        //        var msg = "";
        //        if ($("#SeleccionaId").val() == "1") msg = "Código de consultora, verifique";
        //        else if ($("#SeleccionaId").val() == "2") msg = "Código de documento inválidos, verifique";

        //        alert(msg);
        //        return false;
        //    } else {
        //        // Establece los efectos para cada uno de los Tabs
        //        $("ul.tabs li").removeClass("activa"); //Borrar todas las clases "activa"
        //        $(".contenido_tab").hide(); //Ocultar capas
        //        $("ul.tabs li:first").addClass("activa").show(); //Activar primera pestaña
        //        $(".contenido_tab:first").show(); //Mostrar contenido primera pestaña

        //        $("#gvwEstadoCuentaDetalle").jqGrid("clearGridData", true);
        //        $("#listPedidoFacturado").jqGrid("clearGridData", true);
        //        $("#fecha-vencimiento").html('');
        //        $("#monto-pagar").html('');
        //        DatoConsultora();
        //    }

        //    var CodigoConsultora = $("#txtCodigos").val() == "" ? $("#txtDCCodigoConsultoraVisible").text() : $("#txtCodigos").val();
        //    $.ajax({
        //        dataType: "json",
        //        url: baseUrl + "ConsultaDatoConsultora/GetCampaniasRVDigitalWeb",
        //        data: "CodigoConsultora=" + CodigoConsultora,
        //        success: function (resultado) {
        //            $("#ddlCampaniaPaquete").empty();
        //            $("#ddlCampaniaPaquete").append('<option value= "">-- Seleccionar --</option>');

        //            for (var i in resultado) {
        //                var campania = resultado[i];
        //                if (typeof (campania.CampaniaID) != 'undefined')
        //                $("#ddlCampaniaPaquete").append('<option value=' + campania.CampaniaID + '>' + campania.Codigo + '</option>');
        //            }
        //        }
        //    });

        //});

        $("#SeleccionaId").change(function () {
            if ($(this).val() == "1") {
                $("#lblSelecciona").text("Cod. Consultora:");
                $("#divCodConsultora").show();
                $("#txtDocumento").val("");
                $("#divDNI").hide();
            }
            else {
                $("#lblSelecciona").text("Doc. de Identidad:");
                $("#divDNI").show();
                $("#txtCodigos").val("");
                $("#divCodConsultora").hide();
            }
        });

        //inicializar valores
        ControlesPaqueteDocumentario();

        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != "") {
                waitingDialog({});
                $.getJSON(baseUrl + 'CaminoBrillanteAdministrar/ObtenerCampaniasYConfiguracionPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        LimpiarDependencias(Id);

                        var ddlCampania = $('#ddlCampania');
                        var ddlConfiguracionOferta = $("#ddlConfiguracionOferta");

                        if (data.habilitarNemotecnico) {
                            $("#matriz-busqueda-nemotecnico").show();
                        } else {
                            $("#matriz-busqueda-nemotecnico").hide();
                        }

                        ofertaLiquidacionObj.actualizarParNemotecnico(data.habilitarNemotecnico);

                        ddlCampania.empty();
                        ddlConfiguracionOferta.empty();
                        if (data.lista.length > 0) {
                            ddlCampania.append($('<option/>', {
                                value: "",
                                text: "-- Seleccionar --"
                            }));
                            if (Id != "") {
                                for (var item in data.lista) {
                                    ddlCampania.append($('<option/>', {
                                        value: data.lista[item].CampaniaID,
                                        text: data.lista[item].Codigo
                                    }));
                                }
                            }
                        }
                        if (data.lstConfig.length > 0) {
                            ddlConfiguracionOferta.append($('<option/>', {
                                value: "0",
                                text: "-- Todos --"
                            }));
                            if (Id != "") {
                                for (var item in data.lstConfig) {
                                    ddlConfiguracionOferta.append($('<option/>', {
                                        value: data.lstConfig[item].CodigoOferta,
                                        text: data.lstConfig[item].Descripcion
                                    }));
                                }
                            }
                        }
                        closeWaitingDialog();
                    }
                });
            } else LimpiarDependencias(Id);
        });
    });

</script>

<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>Monto de Exigencia para Incentivos</h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titG">Campaña:</div>
                <div class="selectP2 borde_redondeado">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampania, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
            </div>
            <div class="div-3">
                <div id="lblSelecciona" class="titG">Región:</div>
                <div id="divCodConsultora" class="selectP2 borde_redondeado">
                    <input type="text" id="txtCodigos" placeholder="Código consultora" />
                </div>
                @*<div id="divDNI" class="selectP2 borde_redondeado" hidden>
                <input type="text" id="txtDocumento" placeholder="DNI" />
                </div>*@
                        @*<div class="input_search">
                    <input type="submit" name="" id="btnBuscar" value="Buscar" />
                </div>*@
                <div id="lblSelecciona" class="titG">Zona:</div>
                <div id="divCodConsultora" class="selectP2 borde_redondeado">
                    <input type="text" id="txtCodigos" placeholder="Código consultora" />
                </div>
            </div>

        </div>
    </div>
</div>

<div class="wrap">
    <div class="container-dato-consultora clearfix">
        <div class="border-wrapper">
            <ul class="tabs">
                <li><a href="#tab-datoConsultora">Datos de Consultora</a></li>
                <li><a href="#tab-estadoConsultora">Estado de Consultora</a></li>
                <li><a href="#tab-estadoCuenta">Estado de Cuenta</a></li>
                <li><a href="#tab-pedidoFacturado">Pedido Facturado</a></li>
                <li><a href="#tab-seguimientoPedido">Seguimiento Pedido</a></li>
                <li><a href="#tab-paqueteDocumentario">Paquete Documentario</a></li>
            </ul>
            <div class="contenedor_tab">
                <div class="contenedor_datos">
                    <div class="div-3">
                        <input type="hidden" id="txtDCConsultoraID" />
                        <input type="hidden" id="txtDCCodigoConsultora" />
                        <div class="titK">Codigo Consultora:</div>
                        <div class="div-text-mediano" id="txtDCCodigoConsultoraVisible"></div>
                        <div class="titK">Nombre de Consultora:</div>
                        <div class="div-text-grande" id="txtDCNombreConsultora"></div>
                    </div>
                    <div class="div-3">
                        <div class="titK">Region:</div>
                        <div class="div-text-pequeno" id="txtDCRegion"></div>
                        <div class="titK">Zona:</div>
                        <div class="div-text-pequeno" id="txtDCZona"></div>
                        <div class="titK">Seccion:</div>
                        <div class="div-text-pequeno" id="txtDCSeccion"></div>
                    </div>
                </div>

                <div id="tab-datoConsultora" class="contenido_tab">
                    @*@Html.Partial("_DatoConsultora")*@
                </div>
                <div id="tab-estadoConsultora" class="contenido_tab">
                    @*@Html.Partial("_EstadoConsultora")*@
                </div>
                <div id="tab-estadoCuenta" class="contenido_tab">
                    @*@Html.Partial("_EstadoCuenta")*@
                </div>
                <div id="tab-pedidoFacturado" class="contenido_tab">
                    @*@Html.Partial("_PedidoFacturado")*@
                </div>
                <div id="tab-seguimientoPedido" class="contenido_tab">
                    @*@Html.Partial("_SeguimientoPedido")*@
                </div>
                <div id="tab-paqueteDocumentario" class="contenido_tab">
                    @*@Html.Partial("_PaqueteDocumentario")*@
                </div>
            </div>
        </div>
    </div>
</div>