
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div class="bc_plantilla-banner" onclick="javascript: window.location.href = '@Model.UrlLandig'" 
     style="background:url(@Model.ImagenFondo)">
    @*<img src="" alt="">*@
</div>