@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div class="contenedor_seccion_personaliza">
    <div class="seccion_personaliza_descarga_e_imprime">
        <div class="titulo_seccion_personaliza">Descarga e imprime</div>
        <div class="texto_personaliza_tus_regalos">Personaliza tus regalos.</div>
        <div class="contenedor_imagenes_seccion_personaliza">
            <div class="img_tarjeta_navidenia"></div>
            <div class="img_papel_regalo_navidenio"></div>
        </div>
        <div class="texto_disponibles_desktop">
            Por ahora, disponibles desde tu computadora.
        </div>
    </div>
</div>
