@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

@{
    var headerClass = "";
    var classOpt = "";
    if (ViewBag.EsSuscrita)
    {
        headerClass += " seccion-titulo-dorado";
    }
    if (Model.Codigo.ToLower().Equals("opt") || Model.Codigo.ToLower().Equals("mg"))
    {
        classOpt = "carrusel-simple-opt";
    }
}

<style>
    #carrusel-simple-opt .box_producto_mobile_fix {
        height: 405px !important;
    }

    #carrusel-simple-opt .product-add {
        margin-top: 10px;
    }
</style>
<div class="bc_plantilla_estrategia_personalizada" style="padding: 0 10%;" data-plantilla="simple-centrado">
    @if (@Model.Titulo != "")
    {
        <div class="titulo" style="text-align: center;">
            <h2 class="@headerClass">@Model.Titulo</h2>
        </div>
    }
    <div class="contenido" data-seccion-productos="" id="@classOpt"></div>
</div>