@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

@{
    var esShowRoom = Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetEsShowRoom();
    var mostrarShowRoomProductos = Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetMostrarShowRoomProductos();
    var mostrarShowRoomProductosExpiro = Portal.Consultoras.Web.SessionManager.SessionManager.Instance.GetMostrarShowRoomProductosExpiro();

    var mostrarPopupIntriga = !mostrarShowRoomProductos && !mostrarShowRoomProductosExpiro;

    var backgroundVenta = mostrarPopupIntriga ? "" : "background: url(" + @Model.ImagenFondo + ") center center no-repeat;";
    var urlToAction = mostrarPopupIntriga ? "/Mobile/ShowRoom/Intriga" : "/Mobile/ShowRoom";
}

@if (esShowRoom)
{
    <div class="bc_plantilla_estrategia_personalizada"
         data-OrigenPedidoWeb=""
         data-seccion-productos=""
         data-plantilla="ShowRoom">

        <script id="template-showroom" type="text/x-handlebars-template">
            <div class="" data-popup-main="">
                <div class="contenedor_banners_showroom" data-popup-body style="text-align:center; position:relative;">
                    <input type="hidden" id="hdEventoIDShowRoom" value="{{EventoId}}" />
                    <input type="hidden" id="spnShowRoomEvento" value="{{EventoNombre}}" />
                    <input type="hidden" id="spnShowRoomEventoDescripcion" value="{{EventoTema}}" />
                    <div class="contenedorMensajeIntrigaA">
                        <div class="faltan_dias_header" style="margin-top:43px; margin-left: 62px;z-index: 2;"><b>{{MensajeDiasFaltantes}}</b></div>
                    </div>
                    <div class="contenedorMensajeIntrigaB">
                    </div>
                    <a href="@urlToAction">
                        <img class="imagen_dias_intriga_inicio" style="width:100vw; height:176px; object-fit:cover; object-position:52.45%;" src="@Model.ImagenFondo" />
                    </a>
                </div>
            </div>
        </script>
        
    </div>
}

