
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div class="bc_plantilla-banner" onclick="javascript: window.location.href = '@Model.UrlLandig'" 
     style="background:url(@Model.ImagenFondo); background-position:center center; background-size:cover; width:100%: height:400px;">
    @*<img src="" alt="">*@
</div>