@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

@*<div class="bc_slider previsualizales-ofertas">
    <div class="content_slider_ept" data-OrigenPedidoWeb="" data-seccion-productos=""></div>
</div>*@
<style>
    .previsualizales-ofertas .titulo {
        display: block;
        /* padding-top: 40px; */
        text-align: center;
        position: absolute;
        left: 18%;
        /* padding: 0 18%; */
    }

        .previsualizales-ofertas .titulo h2 {
            display: inline;
            position: relative;
            top: 1px;
            font-size: 17px;
            margin-right: 10px;
            font-weight: bolder !important;
            letter-spacing: 1px;
            float: left;
            text-transform: uppercase;
        }
</style>
<div style="background:#F6F6F6">
    @if (@Model.Titulo != "")
    {
        <div class="titulo">
            <h2>@Model.Titulo</h2>
        </div>
    }
    <div class="content_carrusel_landing">
        <div id="divCarruselLan" class="divCarruselLan" 
             data-content-item="@Model.CampaniaID" 
             data-OrigenPedidoWeb="@Constantes.OrigenPedidoWeb.RevistaDigitalMobileLandingCarrusel"
             data-seccion-productos="">

        </div>
    </div>
</div>