
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div class="contenedor_banner_showroom_vistaOfertas_seccion_inferior">
    <div class="bc_plantilla-banner" onclick="javascript: window.location.href = '@Model.UrlLandig'" style="background:url(@Model.ImagenFondo)">
        @*<img src="" alt="">*@
    </div>
</div>