@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

@{
    var headerClass = "";

    if (ViewBag.EsSuscrita)
    {
        headerClass += " seccion-titulo-dorado";
    }
}

<style>
    .previsualizales-ofertas .titulo {
        display: block;
        text-align: center;
        position: absolute;
        left: 18%;
    }

        .previsualizales-ofertas .titulo h2 {
            display: inline;
            position: relative;
            top: 1px;
            font-size: 17px;
            margin-right: 10px;
            font-weight: bolder !important;
            letter-spacing: 1px;
            float: left;
            text-transform: uppercase;
        }

    .slick-list {
        width: 85% !important;
        margin: auto;
    }

    /*.content_item_ept {  0
        padding-bottom: 15px;
    }*/
</style>
<div style="background:#F6F6F6" data-plantilla="carrusel-previsuales">
    @if (@Model.Titulo != "")
    {
        <div class="titulo" style="padding-top:0;">
            <h2 class="@headerClass">@Model.Titulo</h2>
        </div>
    }
    <div class="content_carrusel_landing">
        <div id="divCarruselLan" class="divCarruselLan"
             data-content-item="@Model.CampaniaID"
             data-seccion-productos="">

        </div>
    </div>
</div>