
@model Portal.Consultoras.Web.Models.ConfiguracionSeccionHomeModel

<div class="contenedor_banner_showroom_vista Ofertas_seccion_inferior" data-plantilla="banner">
    <div class="bc_plantilla-banner" 
         onclick="javascript: menuModule.sectionClick('@Model.UrlLandig', '@Model.Titulo');" 
         style="background:url(@Model.ImagenFondo)"></div>
</div>