<script id="producto-landing-template" type="text/x-handlebars-template">
    {{#each this.lista as |item|}}
    {{#iff EsBanner}}
    <div data-item-cuv="{{CUV2}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}" class="{{ClaseEstrategia}}">
        <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
        <div class="content_item_home_bpt box_producto_mobile_fix content_item_carrusel_clubganamas" style="cursor:pointer; ">
            <img src="/Content/Images/etiqueta-club-ganamas-blanco-independiente.svg" alt="content" class="clubganamas_logo" />
            <p>¿QUIERES MUCHO MÁS OFERTAS?</p>
            <a href="@Url.Action("Informacion", "RevistaDigital")">SUSCRÍBETE</a>
        </div>
    </div>
    <!--Brayan aqui el Banner-->
    {{else}}
    <div data-item="{{EstrategiaID}}" data-item-cuv="{{CUV2}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}" class="{{ClaseEstrategia}}">
        <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
        <div class="content_item_home_bpt box_producto_mobile_fix">
            <div style="display:none;"><div data-estrategia="{{JSON2string item}}"></div></div>
            <div {{#iff TieneVerDetalle }} onclick="javascript:VerDetalleEstrategia(event);" {{/iff}}>
                <div {{#iff TieneVerDetalle }} style="cursor:pointer;" {{/iff}}>
                    <div class="producto_img_mobile_bpt">
                        <img data-src="{{FotoProductoSmall}}" data-img-lazy="1" data-lazy-seccion-revista-digital="" />
                    </div>
                    {{#iff EsOfertaIndependiente '==' '1'}}
                    {{#iff MostrarImgOfertaIndependiente '==' '1'}}
                    <div class="etiqueta_producto" data-item-tag="etiqueta">
                        <img src="{{ImagenOfertaIndependiente}}" alt="Etiqueta Producto" />
                    </div>
                    {{/iff}}
                    {{else}}
                    {{#iff ImagenURL '!=' ''}}
                    <div class="etiqueta_producto" data-item-tag="etiqueta">
                        <img data-src="{{ImagenURL}}" alt="Etiqueta Producto" data-img-lazy="1" data-lazy-seccion-revista-digital="" />
                    </div>
                    {{/iff}}
                    {{/iff}}
                </div>
                <div class="producto_nombre_descripcion_bpt">
                    <div {{#iff TieneVerDetalle }} style="cursor:pointer;" {{/iff}}>
                        {{#iff DescripcionMarca '!=' ''}}
                        <h6>{{DescripcionMarca}}</h6>
                        {{/iff}}

                        {{#iff DescripcionResumen '!=' ''}}
                        <p class="nombre_producto_bpt" style="cursor:pointer;">
                            <b class="text_descrition_prd_bpt">{{DescripcionResumen}}</b>
                        </p>
                        {{/iff}}
                        {{#iff DescripcionCortada '!=' ''}}
                        <p class="nombre_producto_bpt" style="cursor:pointer;">
                            <b class="text_descrition_prd_bpt">{{DescripcionCortada}}</b>
                        </p>
                        {{/iff}}

                        <div class="producto_precio_bpt">
                            {{#iff Precio '>' 0}}
                            <span class="producto_precio_normal_bpt" style="text-decoration: line-through; font-size: 12px;">{{Simbolo}} {{PrecioTachado}}</span>
                            {{/iff}}
                            <span class="producto_precio_oferta_bpt"><b>{{Simbolo}} {{PrecioVenta}}</b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="producto_nombre_descripcion">
                {{#iff TipoAccionAgregar '==' '1'}}
                <div class="liquidacion_rango_home">
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" data-input='cantidad' class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral" disabled="disabled" style="border: 1px solid #b0b0b0;width:100%!important" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" {{#iff ClaseBloqueada '!=' ''}} disbled="disable" {{/iff}}>
                </div>
                <div class="clear"></div>
                <a class="boton_Agregalo_home {{ClaseBloqueada}}" data-bloqueada="{{ClaseBloqueada}}" onclick="javascript:EstrategiaAgregar(event); ">
                    AGR&Eacute;GALO
                </a>
                {{/iff}}
                {{#iff TipoAccionAgregar '==' '2'}}
                <div class="liquidacion_rango_home">
                    <a class="cantidad_menos_home" data-bloqueada="{{ClaseBloqueada}}"><img src="/Content/Images/Mobile/Esika/menos.png" alt=""></a>
                    <input type="tel" value="1" size="2" maxlength="2" id="txtCantidad" data-input='cantidad' class="rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral {{ClaseBloqueada}}" onkeypress="return FuncionesGenerales.ValidarSoloNumeros(event);" {{#iff ClaseBloqueada '!=' ''}} disbled="disable" {{/iff}}>
                    <a class="cantidad_mas_home" data-bloqueada="{{ClaseBloqueada}}"><img src="/Content/Images/Mobile/Esika/mas.png" alt=""></a>
                </div>
                <div class="clear"></div>
                <a class="boton_Agregalo_home {{ClaseBloqueada}}" data-bloqueada="{{ClaseBloqueada}}" onclick="javascript:EstrategiaAgregar(event); ">
                    AGR&Eacute;GALO
                </a>
                {{/iff}}
                {{#iff TipoAccionAgregar '==' '3'}}
                <div class="texto_elige_tono">
                    ¡AHORA ELIGE TU TONO!
                </div>
                <div class="clear"></div>
                <a class="btn_elige_tono" onclick="javascript:VerDetalleEstrategia(event);" href="javascript:;">
                    ELIGE TU OPCIÓN
                </a>
                {{/iff}}
                <div class="clear"></div>
                <div style="margin-top:9px; height: 25px;">
                    <div class="agregado product-add" style="text-align:right;display:{{#if IsAgregado }}block;{{else}}none;{{/if}}">
                        AGREGADO
                        <div class="icono"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/iff}}
    {{/each}}
</script>