@using Portal.Consultoras.Common
<script id="producto-landing-template" type="text/x-handlebars-template">
    {{#each this.lista as |item|}}
    {{#if EsBanner}}
    <div data-item-cuv="{{CUV2}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}" class="{{ClaseEstrategia}}">
        <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
        <div class="content_item_home_bpt box_producto_mobile_fix content_item_carrusel_clubganamas" style="cursor:pointer; ">
            <img src="/Content/Images/etiqueta-club-ganamas-blanco-independiente.svg" alt="" class="clubganamas_logo" />
            <p class="primero" style="font-size:15px">DISFRUTA DE MÁS Y MEJORES OFERTAS</p>
            <p class="segundo" style="font-size:19px">ÚNETE AL CLUB GANA+</p>
            <a href="@Url.Action("Informacion", "RevistaDigital")">SUSCRÍBETE GRATIS</a>
        </div>
    </div>
    {{else}}
        {{#if EsLanzamiento}}
        <div data-item-cuv="{{CUV2}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}" class="{{ClaseEstrategia}}">
            <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
            <div class="content_item_home_bpt box_producto_mobile_fix content_item_carrusel_clubganamas content_item_carrusel_clubganamas_off" style="cursor:pointer; ">
                 {{#iff TipoEstrategiaDetalle.ImgFichaMobile '!=' ''}}
                    <img src="{{TipoEstrategiaDetalle.ImgFichaMobile}}" alt="" class="clubganamas_logo" />
                {{/iff}}
                {{#iff TipoEstrategiaDetalle.ImgHomeMobile '!=' ''}}
                <img src="{{TipoEstrategiaDetalle.ImgHomeMobile}}" class="portada">
                {{/iff}}
                <div class="centrar-tercero">
                    <div class="centrar-tercero-centro">
                        <p class="tercero">
                            Conoce {{DescripcionResumen}}
                        </p>
                    </div>
                </div>
                <a href="javascript:RedireccionarContenedorComprar(@Constantes.OrigenPedidoWeb.RevistaDigitalMobileHomeLanzamiento, '@Constantes.ConfiguracionPais.Lanzamiento')" class="portada portada_off">VER LANZAMIENTOS</a>
            </div>
        </div>
        {{else}}
        <div data-item="{{EstrategiaID}}" data-item-cuv="{{CUV2}}" data-tipoestrategiaimagenmostrar="{{TipoEstrategiaImagenMostrar}}" class="{{ClaseEstrategia}} revistadigital-landing content_item_home_palanca">
            <input type="hidden" class="PosicionEstrategia" value="{{Posicion}}" />
            <div class="content_item_home_bpt box_producto_mobile_fix">
                <div style="display:none;"><div data-estrategia="{{JSON2string item}}"></div></div>
                <div  data-item-tag="verdetalle" {{#iff TieneVerDetalle }} onclick="javascript:VerDetalleEstrategia(event);" {{else}} onclick="javascript:VerPopupExpGanaMas();" {{/iff}}>
                    <div {{#iff TieneVerDetalle }} style="cursor:pointer;" {{/iff}}>
                        <div class="producto_img_mobile_bpt">
                            <img data-src="{{FotoProductoSmall}}" data-img-lazy="1" data-lazy-seccion-revista-digital="" />
                        </div>
                        {{#iff EsOfertaIndependiente '==' '1'}}
                        {{#iff MostrarImgOfertaIndependiente '==' '1'}}
                        <div class="etiqueta_producto" data-item-tag="etiqueta">
                            <img src="{{ImagenOfertaIndependiente}}" alt="Etiqueta Producto" />
                        </div>
                        {{/iff}}
                        {{else}}
                        {{#iff ImagenURL '!=' ''}}
                        <div class="etiqueta_producto" data-item-tag="etiqueta">
                            <img data-src="{{ImagenURL}}" alt="Etiqueta Producto" data-img-lazy="1" data-lazy-seccion-revista-digital="" />
                        </div>
                        {{/iff}}
                        {{/iff}}
                    </div>
                    <div class="producto_nombre_descripcion">
                        <div {{#iff TieneVerDetalle }} style="cursor:pointer;" {{/iff}}>
                            {{#IsNullOrEmpty DescripcionMarca '!='}}
                                <h6 {{#if this.ExperienciaGanaMas includeZero=true}}{{#unless TieneVerDetalle }} style="color:gray;" {{/unless}}{{/if}}>{{DescripcionMarca}}</h6>
                            {{else}}
                                <h6>&ensp;&nbsp;</h6>
                            {{/IsNullOrEmpty}}
                            {{#iff DescripcionCortada '!=' ''}}
                            <p class="nombre_producto" style="cursor: pointer; height: 36px;">
                                <b {{#if this.ExperienciaGanaMas includeZero=true}} {{#unless TieneVerDetalle }} style="color:gray;" {{/unless}} {{/if}}>{{DescripcionCortada}}</b>
                            </p>
                            {{/iff}}

                            <div class="producto_precio" {{#if this.ExperienciaGanaMas includeZero=true}}{{#unless TieneVerDetalle }} style="color:gray;" {{/unless}}{{/if}}>
                                {{#iff Precio '>' 0}}
                                <span class="producto_precio_normal">{{Simbolo}} {{PrecioTachado}}</span>
                                {{/iff}}
                                <span class="producto_precio_oferta"><b>{{Simbolo}} {{PrecioVenta}}</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    {{#if this.ExperienciaGanaMas includeZero=true}}
                    {{else}}

                        {{#iff TipoAccionAgregar '==' '3'}}
                        <div class="texto_elige_tono"> ELIGE TU OPCIÓN </div>
                        {{else}}
                        <div class="texto_elige_tono">&ensp;&nbsp;</div>
                        {{/iff}}
                    {{/if}}
                </div>
            
                @*<div style="display: block; padding: 0px 0px 10px;">
                        <div class="agregado product-add" style="text-align:right;display:{{#if IsAgregado }}block;{{else}}none;{{/if}}">
                            AGREGADO
                            <div class="icono"></div>
                        </div>
                    </div>*@
             </div>
        </div>
        {{/if}}

    {{/if}}
    {{/each}}
</script>