.contenedor_MasGanadoras_carrusel {
    background-color: #f5f5f5;
    padding: 20px 0px 20px 20px;
    background-image: url('/Content/Images/mobile/banner_ganadoras_mobile.jpg');
}


.titulo_MasGanadoras {
    font-size: 18px;
    color: #bda068;
    text-transform: uppercase;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.5px;
    margin: 0px;
}

.boton_MasGanadoras {
    background-color: #bda068;
    font-weight: bold;
    color: #fff;
    line-height: normal;
    letter-spacing: 0.5px;
    padding: 12px 16px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 20px;
}

.item_producto_contenedor {
    padding: 15px 8px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    width: -moz-fit-content;
    width: fit-content;
    height: 286px;
    float: left;
}

.producto_img{

}

.marca_item {
    font-size: 11px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.producto_img img {
    height: 115px;
    padding: 0px 7px;
}

.carousel-mas-ganadoras{
    margin-top: 18px;
}

.nombre_producto_item {
    font-weight: bold;
    width: 129px;
    height: 37px;
    margin-bottom: 4px;
}

.precio_normal_item {
    font-size: 13px;
    text-decoration: line-through;
    margin-bottom: 2px;
    display: block;
}

.precio_oferta_item {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.elige_tono_item {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-top: 9px;
}

.elige_tono_item img{
    padding-right: 3px;
}


.banner_ofertas_masGanadoras {
    background-color: #bda068;
    border-radius: 4px;
    padding: 20px;
    width: 145px;
    text-align: center;
    height: 286px;
    display: flex !important;
    align-items: center;
}

.contenido_ofertas p {
    color: #fff;
    font-size: 16px;
    padding: 0px 5px;
}

.contenido_ofertas a {
    border: 1px solid #fff;
    width: 100%;
    color: #fff;
    padding: 13px 0px;
    font-weight: bold;
    display: block;
    border-radius: 4px;
    line-height: normal;
}

