.contenedor_MasGanadoras_carrusel {
    background-color: #f5f5f5;
    padding: 30px 0px 30px 20px;
    /*background-image: url('/Content/Images/mobile/banner_ganadoras_mobile.jpg');*/
}
    .contenedor_MasGanadoras_carrusel .row {
        padding-bottom: 20px;
    }

.titulo_MasGanadoras {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.5px;
    margin: 0px;
}

.title_MasGanadoras{
    margin-bottom: 20px;
}

.title_MasGanadoras::after{
    content:"";
    display: block;
    clear: both;
}
.title_MasGanadoras li {
    display: inline-block;
    vertical-align: middle;
}

    .title_MasGanadoras li:first-child {
        width:60%;
    }

    .title_MasGanadoras li:last-child {
        width: 39%;
    }

.boton_MasGanadoras {
    background-color: #c39934;
    font-weight: bold;
    color: #fff;
    line-height: normal;
    letter-spacing: 0.5px;
    padding: 12px 16px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 20px;
}

.carousel-mas-ganadoras {
    margin-top: 18px;
}

div[nosuscrita] .titulo_MasGanadoras {
    color: #e81c36;
}
div[nosuscrita] .boton_MasGanadoras {
    background-color: #e81c36;
}