USE BelcorpPeru_BPT
GO

PRINT('ROLLBACK')

IF EXISTS(
SELECT 1
FROM EventoFestivo
WHERE Nombre = 'GIF_MENU_OFERTAS_BPT'
)
BEGIN
	PRINT('	Cambio de estado a ''1'' evento festivo : GIF_MENU_OFERTAS_BPT')
	UPDATE EventoFestivo
	SET ESTADO = 1
	WHERE Nombre = 'GIF_MENU_OFERTAS_BPT'
END

IF EXISTS(
SELECT 1
FROM EventoFestivo
WHERE Nombre = 'GIF_MENU_OFERTAS_BPT_GANA_MAS'
)
BEGIN
	PRINT('Eliminando Evento Festivo : GIF_MENU_OFERTAS_BPT_GANA_MAS')
	DELETE
	FROM EventoFestivo
	WHERE Nombre = 'GIF_MENU_OFERTAS_BPT_GANA_MAS'
END

IF EXISTS(
SELECT 1
FROM EventoFestivo
WHERE Nombre = 'GIF_MENU_OFERTAS_BPT_CLUB_GANA_MAS'
)
BEGIN
	PRINT('ELiminando Evento Festivo : GIF_MENU_OFERTAS_BPT_CLUB_GANA_MAS')
	DELETE
	FROM EventoFestivo
	WHERE Nombre = 'GIF_MENU_OFERTAS_BPT_CLUB_GANA_MAS'
END