html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

ul {
    list-style: none;
}

p {
    color: black;
    font-size: 14px;
    margin-bottom: 0;
}

strong {
    color: black;
}

.clear {
    clear: both;
}

.container {
    display: block;
    margin: 0 auto;
    width: 92%;
    max-width: 1000px;
}

.title, .subtitle {
    display: block;
    font-size: 24px;
    color: black;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 18px;
}

.cont-benf {
    margin-top: 30px;
}

.text {
    display: block;
    font-size: 15px;
    color: #000000;
    line-height: 20px;
}

.box-beneficios {
    display: block;
    margin-top: 20px;
}

    .box-beneficios:after, .box-beneficios:after, .list-crec:after, .cont-logros:after, .boxcenter:after, .cont-ganancias:after, .list-ganacias:after, .indicador-nivel:after {
        content: "";
        display: block;
        clear: both;
    }

    .box-beneficios li {
        width: 32%;
        display: block;
        float: left;
        margin: 20px 1%;
        margin-left: 0;
    }

        .box-beneficios li img {
            display: block;
            float: left;
            max-width: 35px;
            width: 14%;
        }

        .box-beneficios li .txt-benf {
            display: block;
            float: left;
            margin-left: 4%;
            margin-top: 6px;
            width: 82%;
        }

.text-bold {
    color: black;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    line-height: 17px;
}

.text-down {
    font-size: 13px;
    color: #000000;
    display: block;
}

.box-beneficios li span {
    color: #272727;
    display: block;
    font-size: 13px;
    font-weight: normal;
}

.btn-principal {
    position: relative;
    display: block;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px 20px;
    /*max-width: 150px;*/
    max-width: 180px;
    text-align: center;
    margin: 25px auto;
    text-decoration: none;
    overflow: inherit;
    background: #e81c36;
    background: -moz-linear-gradient(left, #e81c36 0%, #613c87 100%);
    background: -webkit-linear-gradient(left, #e81c36 0%,#613c87 100%);
    background: linear-gradient(to right, #e81c36 0%,#613c87 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81c36', endColorstr='#613c87',GradientType=1 );
}

    .btn-principal:hover {
        text-decoration: none;
        color: white;
    }

.modal-content .btn-principal {
    padding-left: 45px;
}

.shad {
    background: white;
    border: 1px solid #efefef;
    padding: 20px 30px;
    border-radius: 12px;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 8px 18px 2px rgba(0,0,0,0.1);
}

.list-crec {
    display: block;
    margin-top: 10px;
}

    .list-crec li {
        float: left;
        display: block;
        width: 30%;
        margin: 10px 1.5%;
    }

        .list-crec li img {
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
        }

        .list-crec li p {
            font-size: 12px;
            font-weight: bold;
            text-align: center;
        }

.btn-link {
    display: block;
    color: black;
    text-decoration: underline;
    text-align: center;
    font-size: 13px;
    margin: 10px auto;
    border: 0;
}

    .btn-link:hover {
        color: black;
    }

.box-crecimiento, .box-compromiso {
    display: block;
    float: left;
}

.boxcenter {
    margin: 40px auto;
    max-width: 850px;
    width: 100%;
}

.sc-width {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.cont-ganancias {
    display: block;
    margin: 30px 0;
}

.left-ganancias, .right-ganancias {
    display: block;
    float: left;
}

.left-ganancias {
    width: 42%;
}

.right-ganancias {
    width: 50%;
    margin: 0;
    margin-left: 8%;
}

.list-ganacias {
    display: block;
    margin-top: 25px;
}

    .list-ganacias li {
        display: block;
        float: left;
        margin-bottom: 15px;
        padding: 20px 15px;
        width: 46%;
        margin-right: 4%;
    }

#demos .owl-carousel .item h4 {
    color: #FFF;
    font-weight: 400;
    margin-top: 0rem;
}

#demos .owl-carousel {
    margin: 2rem 0;
}

div .owl-carousel .owl-stage-outer {
    padding-bottom: 30px;
    overflow: inherit;
}

.owl-carousel .owl-item img {
    display: block;
    max-width: 60px !important;
}

.owl-nav {
    display: none;
}

#ProgressBar [type=button] {
    -webkit-appearance: inherit;
    cursor: pointer;
}

#mov-mont, .owl-dots {
    display: none;
}




/*	BARRA DE NIVELES EN LA PARTE DE ARRIBA*/

#box-niveles {
    display: block;
    max-width: 700px;
    width: 94%;
    margin: 50px auto;
    margin-bottom: 100px;
}

#ProgressBar {
    width: 94%;
    height: 9px;
    border-radius: 7px;
    background: #dedede;
    position: relative;
}

.Progress {
    width: 15%;
    position: relative;
    background: rgb(232, 27, 56);
    height: 100%;
    border-radius: 15px;
    border-color: #4A90E2;
    animation-name: progressUno;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

.medal-1 {
    width: 15%;
    animation-name: progressUno;
}

.medal-2 {
    width: 33%;
    animation-name: progressDos;
}

.medal-3 {
    width: 54%;
    animation-name: progressTres;
}

.medal-4 {
    width: 74%;
    animation-name: progressCuatro;
}

.medal-5 {
    width: 92%;
    animation-name: progressCinco;
}

.medal-6 {
    width: 100%;
    animation-name: progressSeis;
}

@keyframes progressUno {
    0% {
        width: 0%;
    }

    100% {
        width: 15%;
    }
}

@keyframes progressDos {
    0% {
        width: 0%;
    }

    100% {
        width: 33%;
    }
}

@keyframes progressTres {
    0% {
        width: 0%;
    }

    100% {
        width: 54%;
    }
}

@keyframes progressCuatro {
    0% {
        width: 0%;
    }

    100% {
        width: 74%;
    }
}

@keyframes progressCinco {
    0% {
        width: 0%;
    }

    100% {
        width: 92%;
    }
}

@keyframes progressSeis {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}



.Progress:after {
    position: absolute;
    top: -3px;
    right: 0;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: #ad001b;
    border-radius: 16px;
    z-index: 5;
}

#ProgressBar span {
    display: block;
    position: absolute;
    top: -20px;
    background: #b3b3b3;
    z-index: 8;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

    #ProgressBar span:not(.activo):hover {
        top: -24px;
        cursor: pointer;
    }

.brillante:before {
    content: "";
    display: block;
    background: url(../imgs/brillo.svg) no-repeat center center;
    background-size: cover;
    width: 65px;
    height: 65px;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 5;
}

#ProgressBar .brillante em {
    color: black;
}

#ProgressBar .pt1 {
    display: block;
    left: -1%;
    background: #a2a2a2 url(../imgs/image-1@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt2 {
    display: block;
    left: 19%;
    background: #a2a2a2 url(../imgs/recurso-36-3-x@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt3 {
    display: block;
    left: 38%;
    background: #a2a2a2 url(../imgs/recurso-35-3-x@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt4 {
    display: block;
    left: 58%;
    background: #a2a2a2 url(../imgs/recurso-34-3-x@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt5 {
    display: block;
    left: 78%;
    background: #a2a2a2 url(../imgs/recurso-33-3-x@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt6 {
    display: block;
    left: 97%;
    background: #a2a2a2 url(../imgs/recurso-32-3-x@2x.png) no-repeat center center;
    background-size: cover;
}


#ProgressBar .pt1.activo {
    background: #e6c79e url(../imgs/image-1@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt2.activo {
    background: #dfa558 url(../imgs/recurso-31-3-x-copy-5@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt3.activo {
    background: #d28f35 url(../imgs/recurso-30-3-x-copy-4@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt4.activo {
    background: #b87825 url(../imgs/recurso-29-3-x-copy-3@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt5.activo {
    background: #a17233 url(../imgs/recurso-28-3-x-copy-2@2x.png) no-repeat center center;
    background-size: cover;
}

#ProgressBar .pt6.activo {
    background: #b8905c url(../imgs/recurso-27-3-x@2x.png) no-repeat center center;
    background-size: cover;
}


#ProgressBar span em {
    display: block;
    font-size: 13px;
    text-align: center;
    margin-top: 65px;
    font-style: normal;
    color: gray;
}

#chart-montos {
    margin-top: 20px;
    display: block;
}

    #chart-montos img {
        display: block;
        max-width: 376px !important;
        width: 100%;
    }





/*---------------MODAL BOOSTRAP 3-----------------*/

.modal-footer:after, .modal-footer:before {
    display: table;
    content: " ";
}

.modal-footer:after {
    clear: both;
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

    .modal.fade .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate(0,-25%);
        -ms-transform: translate(0,-25%);
        -o-transform: translate(0,-25%);
        transform: translate(0,-25%)
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0)
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5)
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

    .modal-backdrop.fade {
        filter: alpha(opacity=0);
        opacity: 0
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: .5
    }

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

    .modal-header .close {
        margin-top: -2px
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.text-center {
    text-align: center !important;
}

/*---------------MODAL NIVELES-----------------*/

.pad-center {
    padding: 20px 110px;
    padding-bottom: 40px;
}

.indicador-nivel {
    max-width: 255px;
    display: block;
    margin: 50px auto;
}

    .indicador-nivel img {
        display: block;
        float: left;
        max-width: 60px !important;
    }

    .indicador-nivel .left-mod {
        display: block;
        float: left;
        margin-left: 15px;
        margin-top: 12px;
    }

        .indicador-nivel .left-mod h2 {
            color: black;
            font-size: 20px;
            display: block;
            margin: 0;
        }

        .indicador-nivel .left-mod p {
            color: black;
            font-size: 15px;
            display: block;
            margin: 0;
        }

.two-colums {
    margin: 50px auto;
}

    .two-colums li {
        width: 44%;
        margin: 15px 3%;
    }

.modal .close {
    display: block;
    max-width: 35px;
    top: 10px;
    right: 20px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    font-size: 32px;
    color: black;
    opacity: 1;
}

.btn-principal span {
    background: #ffbe00;
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    border: 2px solid white;
    text-align: center;
    font-size: 13px;
    left: -13px;
    top: -15px;
    border-radius: 28px;
    line-height: 25px;
    font-family: arial;
    font-weight: bold;
}

.modal-lg {
    max-width: 800px;
}

.modal-open .modal {
    padding-right: 0px !important;
}

.icon-niv {
    display: inline-block;
    background: url(../imgs/icon-s.svg) no-repeat center center;
    background-size: cover;
    width: 19px;
    height: 22px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.desactive {
    background: #b9b9b9;
    color: #888888;
    font-weight: bold;
}

    .desactive:hover {
        cursor: no-drop;
        color: #888888;
    }

.cont-logros .owl-dots, .left-ganancias .owl-dots {
    display: none !important;
}
/*-----------------PRODUCTOS-----------------------*/






























/* MEDIASQUERY CAMINO BRILLANTE */
@media screen and (max-width: 930px) {
}

@media screen and (max-width: 860px) {
    .box-beneficios li {
        width: 46%;
        margin: 20px 2%;
    }

    .modal-dialog {
        margin: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    .list-ganacias li {
        width: 98%;
        margin: 0 1%;
        margin-bottom: 15px;
    }

    .pad-center {
        padding: 20px 60px;
    }
}

@media screen and (max-width: 620px) {
    #ProgressBar span {
        width: 35px;
        height: 35px;
        top: -16px;
    }

    #ProgressBar {
        height: 4px;
    }

    .Progress:after {
        top: -3px;
        width: 10px;
        height: 10px;
    }

    #ProgressBar span em {
        margin-top: 48px;
        font-size: 12px;
    }

    #box-niveles {
        margin: 55px auto;
        margin-bottom: 80px;
    }

    .shad {
        padding: 20px 20px;
    }

    .pad-center {
        padding: 20px 30px;
    }

    .indicador-nivel img, .indicador-nivel .left-mod {
        margin: 10px auto;
        float: none;
    }

        .indicador-nivel .left-mod h2, .indicador-nivel .left-mod p {
            text-align: center;
        }

    .indicador-nivel img {
        max-width: 90px !important;
    }

    .modal-open .modal {
        padding-right: 0 !important;
    }

    .brillante:before {
        width: 41px;
        height: 41px;
        top: -3px;
        left: -3px;
    }

    .indicador-nivel, .two-colums {
        margin: 30px auto;
    }

    #ProgressBar span:not(.activo):hover {
        top: -19px;
    }

    .list-crec li p {
        font-size: 11px;
    }

    .cont-logros .owl-item ul li img {
        max-width: 45px !important;
    }

    .cont-logros .owl-carousel .owl-stage-outer {
        padding-bottom: 15px;
    }

    .left-ganancias .owl-carousel .owl-stage-outer {
        margin-bottom: 8px;
    }


    .medal-1 {
        width: 17%;
    }

    .medal-2 {
        width: 35%;
    }

    .medal-3 {
        width: 56%;
    }

    .medal-4 {
        width: 76%;
    }

    .medal-5 {
        width: 94%;
    }

    .medal-6 {
        width: 100%;
    }



    @keyframes progressUno {
        0% {
            width: 0%;
        }

        100% {
            width: 17%;
        }
    }

    @keyframes progressDos {
        0% {
            width: 0%;
        }

        100% {
            width: 35%;
        }
    }

    @keyframes progressTres {
        0% {
            width: 0%;
        }

        100% {
            width: 56%;
        }
    }

    @keyframes progressCuatro {
        0% {
            width: 0%;
        }

        100% {
            width: 76%;
        }
    }

    @keyframes progressCinco {
        0% {
            width: 0%;
        }

        100% {
            width: 94%;
        }
    }

    @keyframes progressSeis {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }
}


@media screen and (max-width: 600px) {
    .left-ganancias, .right-ganancias {
        width: 100%;
        margin: 0;
        float: none;
    }

    #mov-mont {
        display: block;
        margin-top: 20px;
    }

    .list-ganacias {
        display: none;
    }

    div .owl-carousel .owl-stage-outer {
        overflow: hidden;
    }
}

@media screen and (max-width: 530px) {
    .box-beneficios li {
        width: 96%;
        margin: 10px 2%;
    }

    .box-beneficios li {
        margin: 10px 0;
    }
}



/*.-------------------MODAL VERSION 4---------------------*/

