html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

ul {
    list-style: none;
}

p {
    color: black;
    font-size: 14px;
    margin-bottom: 0;
}

strong {
    color: black;
}



.cont-productos {
    max-width: 1300px;
    width: 100%;
}



.ficha__producto .etiqueta-box {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 10px;
    border-radius: 10px;
    z-index: 10;
}

.ficha__producto .etiqueta {
    display: block;
    float: right;
    padding: 5px;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    padding: 0;
    margin-left: 3px;
    background: white;
    padding-top: 2px;
    width: auto;
    height: auto;
}

.ficha__producto .etiqueta-box img {
    display: block;
    float: left;
    margin-top: 2px;
}

.boton__agregalo--fichaProducto i {
    position: absolute;
    left: 23px;
    top: 0;
}

.boton__agregalo--fichaProducto img {
    max-width: 25px;
}

.producto_desactivado {
    opacity: 0.9;
}

    .producto_desactivado:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        background: rgba(255, 255, 255, 0.6);
        cursor: not-allowed;
    }

.producto_desactivado .boton__agregalo--fichaProducto {
        background: #848484;
        color: black !important;
        border: transparent;
}

.tabs-top {
    width: 100%;
    display: none;
    margin-bottom: 15px;
    margin-top: 15px;
}

    .tabs-top ul:after {
        content: "";
        display: block;
        clear: both;
    }

    .tabs-top li {
        display: block;
        width: 46%;
        margin: 0 2%;
        float: left;
    }

        .tabs-top li a {
            display: block;
            font-size: 15px;
            text-align: center;
            border-bottom: 3px solid silver;
            padding-bottom: 4px;
            font-weight: bold;
            color: gray !important;
        }

            .tabs-top li a.activo {
                border-bottom: 3px solid #ca3280;
                color: black !important;
            }


input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 20px;
    height: 20px;
    position: relative;
}

    input[type=checkbox]:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        content: " ";
        background-color: #ffffff;
        border: 1px solid silver;
        color: #fff;
        display: inline-block;
        visibility: visible;
        padding: 1px 5px;
        border-radius: 3px;
        z-index: 5;
    }

    input[type=checkbox]:checked:after {
        content: "?";
        font-size: 13px;
        font-weight: bold;
        background-color: gray;
        border: 0;
        z-index: 10;
    }


.boton_Agregalo_home {
    width: auto !important;
}

/*ETIQUETA----------------*/


.etiq-coral {
    border: 1px solid #e25757;
}

    .etiq-coral span {
        color: #e25757;
    }


.etiq-ambar {
    border: 1px solid #e8bc54;
}

    .etiq-ambar span {
        color: #e8bc54;
    }


.etiq-perla {
    border: 1px solid #dba28a;
}

    .etiq-perla span {
        color: #dba28a;
    }


.etiq-topacio {
    border: 1px solid #347bb0;
}

    .etiq-topacio span {
        color: #347bb0;
    }


.etiq-brillante {
    border: 1px solid #b29462;
}

    .etiq-brillante span {
        color: #b29462;
    }

.boton_Agregalo_home, .btn_elegir_opcion, .btn_inactivo {
    text-transform: inherit;
    font-size: 14px !important;
}


@media (max-width:999px) {
    .lista__opciones__ordenamiento__y__filtrar {
        display: none;
    }

    .tabs-top {
        display: block;
    }
}

@media (max-width:600px) {
    .ficha__producto .etiqueta-box img {
        display: block;
        float: left;
    }
}



/*Estilos param barra submenu*/


.op-menu-horizonta-fixed {
    width: 100%;
    background-color: #fff;
    z-index: 5;
    box-shadow: 1px 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.op-menu-horizontal {
    text-align: center;
    height: 52px;
}

    .op-menu-horizontal .subnavegador {
        width: auto;
    }

        .op-menu-horizontal .subnavegador li {
            display: inline-block;
            padding: 0px 20px;
            vertical-align: middle;
            line-height: 54px;
        }

            .op-menu-horizontal .subnavegador li a {
                text-decoration: none;

            }

                .op-menu-horizontal .subnavegador li a img {
                    vertical-align: middle;
                    margin-top: -3px;
                }

                .op-menu-horizontal .subnavegador li a.activado-grande img {
                    height: 20.20px;
                }

            .op-menu-horizontal .subnavegador li .gana_mas_horizontal {
                color: #c39934;
            }

.gana_mas_horizontal.default-dorado img {
    height: 13px !important;
}

.op-menu-horizontal .subnavegador li .activado-dorado {
    border-bottom: 3px solid #c39934;
    color: #c39934 !important;
    height: 50px;
    display: block;
}

.vistaofertas .SubHeader {
    display: none;
}

.vistaofertas .new_menu {
    height: auto;
}

.vistaofertas .op-menu-horizontal {
    max-width: 990px;
    display: block;
    margin: auto;
    width: 100%;
    text-align: left;
}

    .vistaofertas .op-menu-horizontal li a {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: .5px;
        color: #000;
        height: 52px;
        text-decoration: none;
    }

.hidebox {
    display: none;
}

.op-menu-horizonta-fixed {
    display: none;
}

.subbox {
    display: block !important;
    position: fixed;
    top: 60px;
}

    .subbox .op-menu-horizontal {
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
        text-align: left;
    }

.padtop .content_belcorp {
    margin-top: 60px;
}
div .cartbtn {
    text-indent: 20px !important;
    position: relative !important;
}
    div .cartbtn i {
        left: -12px;
    }


.menu__link, .submenu__link {
    text-decoration: none !important;
}
#seccion-menu-mobile {
    display:none !important;
}
.layout__view__breadcrumbs__wrapper {
    margin-top: 140px;
}
.fichas__productos__wrapper {
    padding-top:0;
}
.layout__content {
    margin-top: 0px;
}
.layout__header {
    -webkit-box-shadow: 0 4px 4px 0 rgba(126,126,126,.1);
    -moz-box-shadow: 0 4px 4px 0 rgba(126,126,126,.5);
    box-shadow: 0 4px 4px 0 rgba(126,126,126,.1);
}
#divresultadosDemostradores {
    display: block;
    margin-right: auto;
    text-align: left;
    margin-bottom: 6px;
}

@media (max-width: 950px) {
    .op-menu-horizontal .subnavegador li {
        padding: 0px 15px;
    }
}

@media (max-width: 850px) {
    .op-menu-horizontal .subnavegador li {
        padding: 0px 10px;
    }
}

@media (max-width: 620px) {
    .layout__content {
        margin-top: 100px;
    }
    div .op-menu-horizontal {
        height:50px;
    }
    div .op-menu-horizontal .subnavegador li {
        width: 50%;
        display: block;
        float: left;
        text-align: center;
        line-height: 50px;
    }
}


.etiq-producto {
    position: absolute;
    top: 5px;
    right: 5px;
    max-width: 100px;
    z-index: 2;
}

.ficha__producto__precio > div {
    display: block;
    text-decoration: none;
}
.ficha__producto__precio > div span {
    font-size: 11px;
    display:block;
    text-align: left;
}
div .ficha__producto__precio__normal {
    text-decoration: none;
}
.ficha__producto__precio > div > div {
    line-height: 17px !important;
}
.layout-somos-belcorp .content_responsive {
    margin-top: 140px;
}
.layout__view__breadcrumbs__wrapper.mostrarEnDesktop {
    display:none!important;
}
.busqueda__productos__encontrados__wrapper {
    display: none;
}
.ficha__producto__precio div div b {
    display:block;
}
@media screen and (max-width: 620px) {
    .ficha__producto__precio {
        min-height: inherit;
    }
        .ficha__producto__precio > div > div {
            padding-right: 0 !important;
            font-size: 11px;
        }
}

div div .ficha__producto__descrip__marca__pais {
    height: 14px;
}
ul li .menu__link--pedido {
    font-weight:bold;
}
