html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

ul {
    list-style: none;
}

p {
    color: black;
    font-size: 14px;
    margin-bottom: 0;
}

strong {
    color: black;
}



.cont-productos {
    max-width: 1300px;
    width: 100%;
}

/*.ficha__producto{
    height: auto;
    padding: 30px 20px 25px 20px;
    background-color: #FFF;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.ficha__producto__imagen {
    height: 168px;
    overflow: hidden;
    margin-bottom: 8px;
}
.ficha__producto__imagen img {
    width: auto;
    height: 100%;
}
.ficha__producto__descrip {
    margin-top: 8px;
    line-height: 13px;
    letter-spacing: 0.2px;
}
.ficha__producto__precio {
    margin-bottom: 16px;
}
.ficha__producto__agregar__producto {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.ficha__producto__rango__cantidad {
    border: 1px solid #CCC;
    background-color: #FFF;
    border-radius: 4px;
    height: 45px;
    position: relative;
    overflow: hidden;
}
.ficha__producto__rango__cantidad, .ficha__producto--ancha .ficha__producto__rango__cantidad {
    margin-right: 10px!important;
}
.boton_Agregalo_home{
    margin-top: 0;
    background-color: #000;
    color: #fff!important;
    cursor: pointer!important;
}
.boton_Agregalo_home, .btn_elegir_opcion, .btn_inactivo {
    height: 45px;
    line-height: 44px;
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: 700;
    border-radius: 4px;
    text-transform: uppercase;
}
.boton_Agregalo_home, .btn_elegir_opcion {
    border: 1px solid #000;
}
.boton__agregalo--fichaProducto, .btn__elegir__opcion--fichaProducto span {
    font-size: 13px!important;
    letter-spacing: 0.7px;
}
.ficha__producto__rango__cantidad .mas, .ficha__producto__rango__cantidad .menos {
    position: absolute;
    right: 0;
    height: 22.5px;
}
.ficha__producto__rango__cantidad .menos {
    border-top: 1px solid #CCC;
    bottom: 0;
}
.ficha__producto__rango__cantidad .mas img, .ficha__producto__rango__cantidad .menos img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 8px;
    height: 8px;
}
.ficha__producto__precio__normal, .ficha__producto__precio__oferta {
    letter-spacing: 0.2px;
    min-height: 19px;
}
.ficha__producto__precio__normal {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 13px;
}
.ficha__producto__descrip__nom{
    font-size: 13px;
    min-height: 40px;
    margin-bottom: 2px;
    line-height: 18px; 
}
*/

/*.row.mostrarEnDesktop{
    display: none!important;
}*/

.ficha__producto .etiqueta-box {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    /* width: 105px; */
    padding: 2px 10px;
    border-radius: 10px;
    z-index: 10;
}

.ficha__producto .etiqueta {
    display: block;
    float: right;
    padding: 5px;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    padding: 0;
    margin-left: 3px;
    background: white;
    /* line-height: 24px; */
    padding-top: 2px;
    width: auto;
    height: auto;
}

.ficha__producto .etiqueta-box img {
    display: block;
    float: left;
    /* padding-top: 3px; */
    margin-top: 2px;
}
/*.boton__agregalo--fichaProducto{
   text-indent: 25px; 
}*/
.boton__agregalo--fichaProducto i {
    position: absolute;
    left: 23px;
    top: 0;
}

.boton__agregalo--fichaProducto img {
    max-width: 25px;
}

.producto_desactivado {
    opacity: 0.5;
}

    .producto_desactivado:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        background: rgba(255, 255, 255, 0.1);
    }

    .producto_desactivado .boton__agregalo--fichaProducto {
        background: #848484;
        color: black !important;
        border: transparent;
    }







.tabs-top {
    width: 100%;
    display: none;
    margin-bottom: 15px;
    margin-top: 15px;
}

    .tabs-top ul:after {
        content: "";
        display: block;
        clear: both;
    }

    .tabs-top li {
        display: block;
        width: 46%;
        margin: 0 2%;
        float: left;
    }

        .tabs-top li a {
            display: block;
            font-size: 15px;
            text-align: center;
            border-bottom: 3px solid silver;
            padding-bottom: 4px;
            font-weight: bold;
            color: gray !important;
        }

            .tabs-top li a.activo {
                border-bottom: 3px solid #ca3280;
                color: black !important;
            }


input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 20px;
    height: 20px;
    position: relative;
}

    input[type=checkbox]:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        content: " ";
        background-color: #ffffff;
        border: 1px solid silver;
        color: #fff;
        display: inline-block;
        visibility: visible;
        padding: 1px 5px;
        border-radius: 3px;
        z-index: 5;
    }

    input[type=checkbox]:checked:after {
        content: "?";
        font-size: 13px;
        font-weight: bold;
        background-color: gray;
        border: 0;
        z-index: 10;
    }


.boton_Agregalo_home {
    width: auto !important;
}

/*ETIQUETA----------------*/


.etiq-coral {
    border: 1px solid #e25757;
}

    .etiq-coral span {
        color: #e25757;
    }


.etiq-ambar {
    border: 1px solid #e8bc54;
}

    .etiq-ambar span {
        color: #e8bc54;
    }


.etiq-perla {
    border: 1px solid #dba28a;
}

    .etiq-perla span {
        color: #dba28a;
    }


.etiq-topacio {
    border: 1px solid #347bb0;
}

    .etiq-topacio span {
        color: #347bb0;
    }


.etiq-brillante {
    border: 1px solid #b29462;
}

    .etiq-brillante span {
        color: #b29462;
    }

.boton_Agregalo_home, .btn_elegir_opcion, .btn_inactivo {
    text-transform: inherit;
    font-size: 14px !important;
}


@media (max-width:999px) {
    .lista__opciones__ordenamiento__y__filtrar {
        display: none;
    }

    .tabs-top {
        display: block;
    }
}

@media (max-width:600px) {
    .ficha__producto .etiqueta-box img {
        display: block;
        float: left;
    }
}



/*Estilos param barra submenu*/


.op-menu-horizonta-fixed {
    width: 100%;
    background-color: #fff;
    z-index: 5;
    box-shadow: 1px 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.op-menu-horizontal {
    text-align: center;
    height: 52px;
}

    .op-menu-horizontal .subnavegador {
        width: auto;
    }

        .op-menu-horizontal .subnavegador li {
            display: inline-block;
            padding: 0px 20px;
            vertical-align: middle;
            line-height: 54px;
        }

            .op-menu-horizontal .subnavegador li a {
                text-decoration: none;
                /*text-transform: uppercase;
                font-size: 11px;
                font-weight: bold;
                letter-spacing: 0.5px;
                color: #000;
                height: 52px;*/
            }

                .op-menu-horizontal .subnavegador li a img {
                    vertical-align: middle;
                    margin-top: -3px;
                }

                .op-menu-horizontal .subnavegador li a.activado-grande img {
                    height: 20.20px;
                }

            .op-menu-horizontal .subnavegador li .gana_mas_horizontal {
                color: #c39934;
            }

.gana_mas_horizontal.default-dorado img {
    height: 13px !important;
}

.op-menu-horizontal .subnavegador li .activado-dorado {
    border-bottom: 3px solid #c39934;
    color: #c39934;
    height: 50px;
    display:block;
}


@media (max-width: 950px) {
    .op-menu-horizontal .subnavegador li {
        padding: 0px 15px;
    }
}

@media (max-width: 850px) {
    .op-menu-horizontal .subnavegador li {
        padding: 0px 10px;
    }
}



.vistaofertas .SubHeader {
    display: none;
}

.vistaofertas .new_menu {
    height: auto;
}

.vistaofertas .op-menu-horizontal {
    max-width: 990px;
    display: block;
    margin: auto;
    width: 100%;
    text-align: left;
}

    .vistaofertas .op-menu-horizontal li a {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: .5px;
        color: #000;
        height: 52px;
        text-decoration: none;
    }

.hidebox {
    display: none;
}

.op-menu-horizonta-fixed {
    display: none;
}

.subbox {
    display: block !important;
    position: fixed;
}

    .subbox .op-menu-horizontal {
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
        text-align: left;
    }

.padtop .content_belcorp {
    margin-top: 60px;
}
