
.bc_plantilla_estrategia_personalizada .titulo h2 {
    color: #043552;
}

.op-menu-vertical ul li a:hover {
    border-left: 5px solid #642f80;
}

    .op-menu-vertical ul li a:hover p {
        color: #642f80;
    }

.op-menu-vertical ul li a.activo {
    border-left: 5px solid #642f80;
    color: #642f80 !important;
}

    .op-menu-vertical ul li a.activo p {
        color: #642f80;
    }

.op-menu-vertical ul li a.activo-dorado {
    color: #c39934 !important;
}

.titulo-menu {
    color: #642f80 !important;
}

.boton-ir a {
    background: #043552;
}

.parche_presentacion_contenedor .bloque-titulo .seccion-titulo {
    color: #043552;
}

.parche_presentacion_contenedor .bloque-titulo .ir a {
    background: #043552;
}

.op-menu-horizontal .subnavegador li .activado {
    border-bottom: 3px solid #67388c;
    color: #67388c;
}