*:focus {
    outline: none;
}

::-moz-selection,
::-moz-selection,
::-moz-selection,
::-moz-selection {
    padding: 1px 3px;
    background-color: #623989;
    color: #fff;
}

::selection,
::selection,
::selection,
::selection {
    padding: 1px 3px;
    background-color: #623989;
    color: #fff;
}

.loadingScreen-titulo {
    color: #000 !important;
}

.div-2 {
    padding-bottom: 20px !important;
}

    .div-2 h1 span {
        color: #000 !important;
        font-size: 30px !important;
    }

.ui-dialog .ui-dialog-title {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: normal !important;
    font-family: Arial !important;
}

.titG {
    color: #000 !important;
    font-weight: bold !important;
    text-align: right !important;
}

    .titG.multiline {
        padding-top: 0 !important;
    }

.selectA input[type='text'] {
    width: 100% !important;
    font-family: Arial !important;
    color: #000 !important;
}

.selectA select {
    width: 100% !important;
    font-family: Arial !important;
    color: #000 !important;
}

input[type='button'], .qq-upload-button {
    background: #652b82;
    color: #fff;
    border: 0;
    width: 141px;
    height: 45px;
    font-size: 13px;
    margin-right: 10px;
    font-weight: bold;
    white-space: normal;
    float: left;
}

.qq-upload-button {
    border-radius: 0px;
    text-align: center;
    padding: 12px 20px 0px 20px
}

.required {
    color: #e81c36;
    font-weight: normal;
}

.EstrategiaTabla {
    border-bottom: solid 1px #000
}

.EstrategiaTablaHeader {
    border-top: solid 2px #000;
    border-bottom: solid 1px #000
}

    .EstrategiaTablaHeader div {
        display: inline-block;
        width: 150px;
        padding: 10px !important;
        text-align: center;
    }

.EstrategiaTablaDetail {
    padding-top: 10px !important;
}

.EstrategiaTabHeader {
    border-bottom: solid 1px #D0D0D0 !important;
}

    .EstrategiaTabHeader div {
        display: inline-block;
        width: 150px;
        text-align: center;
        margin: 0;
        padding: 0;
        color: #000
    }

    .EstrategiaTabHeader .active {
        border-bottom: solid 3px #652b82 !important;
    }

.EstrategiaTabDetail .div-3 {
    width: 720px;
    padding-top: 10px;
}

.EstrategiaTabFooter .div-3 div {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    text-align: center !important;
}

.EstrategiaTabFooter .div-3 .active {
    font-weight: bold !important;
    color: #000 !important;
    border-bottom: solid 1px #000 !important;
}

.EstrategiaRequerido, .EstrategiaBotones {
    display: inline-block;
    width: 49%
}

.EstrategiaBotones {
    text-align: right;
}

.EstrategiaBotonSecundario {
    background: #fff !important;
    color: #000 !important;
    text-decoration: underline;
}

#divVistaPrevia {
    text-align: center;
}

    #divVistaPrevia img {
        width: 128px;
        height: 161px;
        margin: 5px;
    }

.img-matriz-preview {
    width: 35px;
    height: 35px;
    border: 0
}

.ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
    background-color: #fff;
    background-image: none;
    height: 51.6px;
    color: #666565;
    font-weight: 300;
    border: 0;
    border-top: solid 2px #000;
    border-bottom: solid 1px #000
}

.ui-jqgrid .ui-jqgrid-labels :hover {
    background: #f0f0f0 !important;
}

.ui-jqgrid .ui-jqgrid-btable .ui-state-hover {
    background: #f0f0f0 !important;
}

.ui-jqgrid .ui-state-hover td {
    border: solid 1px #f0f0f0 !important;
}

.ui-jqgrid .ui-widget-content {
    border: solid 1px #fff;
    background: #fff;
    height: 85.8px;
}

    .ui-jqgrid .ui-widget-content td {
        border-bottom: solid 1px #ccc !important;
    }

.ui-jqgrid .ui-jqgrid-pager tr {
    background: #fff !important;
}

.Content_modal {
    overflow: hidden;
}

.div-3 .pdr_modal {
    margin: 0
}

.titImage {
    padding-left: 0px;
    padding-top: 0px !important;
}