/* ESTILOS MARCA PAÍS LBEL */

/* HEADER */

/* HEADER MARCA PAÍS NAVIDEÑO */

.layout__header--navidenio .layout__container:before{
    display: block;
    content: "";
    position: absolute;
    width: 84px;
    height: 60px;
    top: 0;
    left: 0;
    background: url(/Content/Images/Lbel/copos-nieve.png);
    background-repeat: no-repeat;
    background-position: -93px -31px;
    background-size: 170px;
}

.layout__header--navidenio .header__marca__pais img{
    height:21px;
}

@media screen and (max-width:991px){

    .layout__header--navidenio .layout__container{
        justify-content:flex-start!important;
    }

    .layout__header--navidenio .layout__container:before{
        display:none;
    }

    .layout__header--navidenio .header__marca__pais{
        width:105px;
        text-align:left!important;
        padding-left:4px;
    }

    .layout__header--navidenio .header__marca__pais:after{
        display: block;
        content: "";
        width: 84px;
        height: 60px;
        position: absolute;
        top: -21px;
        right: -53px;
        z-index:-1;
        background-image: url(/Content/Images/Lbel/copos-nieve.png);
        background-repeat: no-repeat;
        background-position: 19px -77px;
        background-size: 164px;
    }

    .layout__header--navidenio .header__marca__pais picture{
        margin-top:-2px;
    }

    .layout__header--navidenio .header__marca__pais img{
        height:17px;
    }

    /*.layout__header--navidenio .header__marca__pais img {
        right: 1px;
        height: 30px;
        margin-top: -4px;
        padding-left: 17px;
    }*/

    .layout__header--navidenio .header__menu--lateralDerecho{
        flex-grow:1!important;
    }

    .layout__header--navidenio .menu__lista{
        justify-content:flex-end!important;
    }

    .layout__header--navidenio .menu__item--lateralDerechoIcono:first-child,
    .layout__header--navidenio .menu__item--lateralDerechoIcono:nth-child(2)
    {
        margin-right:13px!important;
    }

}

/* FIN - HEADER MARCA PAÍS NAVIDEÑO */

.header__marca__pais img {
    width: auto;
    height: 19px;
    margin-top: -2px;
    position: relative;
    right: -4px;
}

.icono__actualizarDatos,
.notificaciones__cantidad,
.btn__productos__agregados--IngresarPedido,
.menu__item--campaniaActual,
.ui-button-text-only .ui-button-text 
{
    background-color:#613C87;
}

.menu__link--pedido{
    background-image:url(/Content/images/lbel/vineta_indicador.png);
}

.pestana__marca__pais{
    width: 29px;
    height: 20px;
    background-color: #FFF;
    background-image:url(/Content/Images/Lbel/pestana_lbel.png);
    top: -3px;
    left: 9.4%;
    background-size: cover;
}

.submenu__lista--miNegocio{
    top:51px;
}

.submenu__lista--miAsesorBelleza{
    margin-top:-1px;
}

.submenu__lista--miAsesorBelleza .pestana__marca__pais{
    left:38%;
}

@media screen and (max-width:1270px){

    .header__marca__pais picture {
        height: auto;
    }

}

/* FIN - HEADER */

/* HEADER MOBILE */

@media screen and (max-width: 991px) and (-ms-high-contrast: none), (max-width: 991px) and (-ms-high-contrast: active) {

    .header__marca__pais{
        background-image:url(/Content/Images/Lbel/logo_marca_pais.svg);
        background-repeat:no-repeat;
        height:33px;
    }

}

@media screen and (max-width:991px){
    
    .header__marca__pais{
        width:148px;
        background-position:59% center;
    }

    .header__marca__pais picture {
        margin-top: 9px;
    }

    .header__marca__pais img{
        height:55%;
    }

}

@media screen and (max-width:480px) {

    .header__marca__pais{
        background-position:67% center;
    }

}

@media screen and (max-width:370px) {

    .header__marca__pais{
        background-position:80% center;
    }

}

@media screen and (max-width:350px) {

    .header__marca__pais{
        background-position:89% center;
    }

}

/* FIN - HEADER MOBILE */

/* FIN - ESTILOS MARCA PAÍS LBEL */