/* ESTILOS MARCA PAÍS LBEL */

/* HEADER */

.header__marca__pais img {
    width: auto;
    height: 19px;
    margin-top: -2px;
    position: relative;
    right: -4px;
}

.icono__actualizarDatos,
.notificaciones__cantidad,
.btn__productos__agregados--IngresarPedido,
.menu__item--campaniaActual,
.ui-button-text-only .ui-button-text 
{
    background-color:#613C87;
}

.menu__link--pedido{
    background-image:url(/Content/images/lbel/vineta_indicador.png);
}

.pestana__marca__pais{
    width: 29px;
    height: 20px;
    background-color: #FFF;
    background-image:url(/Content/Images/Lbel/pestana_lbel.png);
    top: -3px;
    left: 9.4%;
    background-size: cover;
}

.submenu__lista--miNegocio{
    top:51px;
}

.submenu__lista--miAsesorBelleza{
    margin-top:-1px;
}

.submenu__lista--miAsesorBelleza .pestana__marca__pais{
    left:38%;
}

@media screen and (max-width:1270px){

    .header__marca__pais picture {
        height: auto;
    }

}

/* FIN - HEADER */

/* HEADER MOBILE */

@media screen and (max-width: 991px) and (-ms-high-contrast: none), (max-width: 991px) and (-ms-high-contrast: active) {

    .header__marca__pais{
        background-image:url(/Content/Images/Lbel/logo_marca_pais.svg);
        background-repeat:no-repeat;
        height:33px;
    }

}

@media screen and (max-width:991px){
    
    .header__marca__pais{
        width:148px;
        background-position:59% center;
    }

    .header__marca__pais picture {
        margin-top: 9px;
    }

    .header__marca__pais img{
        height:55%;
    }

}

@media screen and (max-width:480px) {

    .header__marca__pais{
        background-position:67% center;
    }

}

@media screen and (max-width:370px) {

    .header__marca__pais{
        background-position:80% center;
    }

}

@media screen and (max-width:350px) {

    .header__marca__pais{
        background-position:89% center;
    }

}

/* FIN - HEADER MOBILE */

/* FIN - ESTILOS MARCA PAÍS LBEL */