/* HELPERS */

a{
    cursor:pointer!important;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.text-uppercase{
    text-transform:uppercase;
}

.text-left{
    text-align:left;
}

.text-right{
    text-align:right;
}

.text-center {
    text-align: center;
}

.text-bold{
    font-weight:bold!important;
}

.mt-9{
    margin-top:9px!important;
}

.mt-12-lbel{
    margin-top:12px;
}

.mt-13{
    margin-top:13px;
}

.mt-20{
    margin-top:20px;
}

.mt-23{
    margin-top:23px;
}

.mt-27 {
    margin-top: 27px;
}

.mt-31{
    margin-top:31px;
}

.mb-61{
    margin-bottom:61px!important;
}

.pt-31{
    padding-top:31px;
}

.ml-87{
    margin-left:87px;
}

.w-18{
    width:18%;
}

.w-50{
    width:50%;
}

.w-82{
    width:81%;
}

.w-85{
    width:85%;
}

.w-100{
    width:100%!important;
}

.v-alignMiddle{
    vertical-align:middle!important;
}

input:focus{
    outline:0;
}

.fondoMobile,
.titulo_interiores
{
    background:#FFF;
    position:relative;
    top:-1px;
}

.fondo_negro_lateral{
    display:none;
}

/* FIN - HELPERS */

/* MI PERFIL */

.titulo_interiores_mi_perfil{
    padding-top:17px;
}

.w-100,
.datos_usuario_iniciales,
.wrapper_content_mi_perfil,
.contenedor_foto_consultora,
.icono_camara,
.icono_camara_img,
.consultora_img,
.nom_consultora,
.datos_codigo_y_zona,
.datos_codigo,
.datos_zona,
.datos_gerente_zona,
.form_cambio_datos,
.grupo_form_cambio_datos,
.grupo_form_cambio_datos label,
.grupo_form_cambio_datos input,
.contenedor_campos_num_adicional,
.tooltip_info_revision_correo,
.vista_cambiar_contrasenia,
.wrapper_content_cambiar_contrasenia,
.enlace_cancelar,
.icono_actualizacion_contrasenia_exitosa,
.titulo_contrasenia_actualizada,
.mensaje_contrasenia_actualizada,
.btn_acept,
.correo_electronico_actual,
.vista_actualizar_correo,
.wrapper_content_actualizar_correo,
.titulo_revisa_tu_correo,
.icono_correo_sobre,
.correo_actualizado,
.titulo_correo_actualizado,
.icono_actualizacion_correo_exitoso,
.icono_actualizacion_correo_erroneo,
.mensaje_correo_actualizado,
.correo_pendiente_de_confirmar,
.vista_actualizar_celular,
.wrapper_content_actualizar_celular,
.celular_actual,
.titulo_revisa_tu_celular,
.icono_mensaje_sms,
.area_ingreso_codigo_sms,
.texto_ingreso_codigo,
.campos_ingreso_codigo_sms,
.envio_instrucciones_info,
.icono_validacion_codigo_sms,
.celular_actualizado,
.icono_actualizacion_celular_exitoso,
.mensaje_celular_actualizado,
.vista_cambiar_foto_perfil,
.wrapper_content_cambiar_foto_perfil,
.opciones_foto_perfil,
.opcion_foto_perfil,
.icono_opcion_foto_perfil img,
.permisos_cuenta_wrapper,
.permisos_cuenta_titulo,
.permisos_cuenta_opciones,
.enlace_ubicacion_actual
{
    display:block;
}

.pestana_lbel.pestana_lbel_mi_perfil{
   background: url(/Content/Images/mobile/Lbel/pestana_lbel.png) no-repeat top center;
}

.datos_usuario_iniciales,
.form_cambio_datos,
.opciones_foto_perfil
{
    font-size:12px;
    color:#000;
}

.datos_usuario_iniciales{
    background-color:#FFF;
    height:auto;
    margin-bottom:34px;
    padding-top:47px;
    font-weight:400;
}

.wrapper_content_mi_perfil,
.wrapper_content_cambiar_contrasenia,
.wrapper_content_actualizar_correo,
.wrapper_content_actualizar_celular,
.wrapper_content_cambiar_foto_perfil
{
    margin:0 auto;
    height:auto;
}

.wrapper_content_mi_perfil{
    width:645px;
}

.w-18,
.w-50,
.w-82,
.foto_consultora,
.datos_consultora_mi_perfil,
.icono_cambio_password,
.icono_cambiar_dato,
.icono_ver_password,
.enlace_texto,
.contenedor_campos_num_adicional > div,
.icono_agregar_num_adicional,
.icono_eliminar_numero_adicional,
.enlace_cambiar_contrasenia_consultora,
.enlace_cambiar_dato,
.enlace_eliminar_numero_adicional,
.icono_info_alerta,
.tooltip_texto,
.tooltip_texto p,
.enlace_no_cambiar_correo,
.icono_back_arrow,
.cambiar_correo_info span,
.enlace_cambiar_correo,
.campo_ingreso_codigo_sms,
.icono_cerrar,
.icono_opcion_foto_perfil,
.descrip_opcion_foto_perfil,
.icono_mis_datos,
.opcion_mi_perfil_titulo_texto,
.permiso_cuenta_opcion_descripcion,
.permiso_cuenta_opcion_label,
.permiso_cuenta_opcion_checkbox,
.grupo_form_permiso_cuenta,
.grupo_form_checkbox_condiciones
{
    display:inline-block;
    vertical-align:top;
}

.foto_consultora,
.icono_camara,
.contenedor_foto_consultora
{
    border-radius:100%;
}

.foto_consultora {
    width: 120px;
    height: 115px;
    margin-right: 44px;
    position: relative;
    -moz-box-shadow: 0 5px 12px -1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 5px 12px -1px rgba(0,0,0,0.15);
    box-shadow: 0 5px 12px -1px rgba(0,0,0,0.15);
}

.contenedor_foto_consultora{
    height:100%;
    overflow:hidden;
    background-color:#E5E5E5;
}

.consultora_img{
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: -1px;
    height: auto;
}

.icono_cambio_password,
.icono_cambiar_dato,
.icono_agregar_num_adicional,
.icono_eliminar_numero_adicional,
.icono_info_alerta,
.icono_actualizacion_contrasenia_exitosa,
.icono_validacion_codigo_sms
{
    background-position:center;
    background-repeat:no-repeat;
}

.icono_camara{
    width: 32.98px;
    height: 33.98px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/Content/Images/Esika/icono_camara.svg);
    background-position: 7px 8px;
    background-size: 59%;
    background-repeat:no-repeat;
    z-index: 2;
}

.datos_consultora_mi_perfil{
    /*max-width: 347px;*/
    font-size:16px;
}

/*.datos_codigo_y_zona{
    margin-bottom:16px;
}*/

.datos_gerente_zona{
    margin-bottom:16px;
}

.datos_codigo{
    margin-right:34px;
}

.icono_cambio_password{
    width: 13px;
    height: 19px;
    background-image: url("/Content/Images/icono_candado.svg");
    background-size: 100%;
    margin-right: 7px;
    position: relative;
    top: 2px;
}

.enlace_texto:hover{
    text-decoration:underline;
}

.form_cambio_datos,
.opciones_foto_perfil
{
    background-color:#FFF;
    margin-bottom:79px;
}

.opcion_mi_perfil {
    border: 1px solid #808080;
    border-radius: 4px;
    min-height: 60px;
    margin-bottom: 20px;
}

.opcion_mi_perfil:last-child{
    margin-bottom:0;
}

.opcion_mi_perfil_titulo {
    height: 60px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    cursor: pointer;
    position: relative;
}

.icono_mis_datos{
    width:16px;
    height:18px;
}

.icono_flecha_despliegue_contenido_mi_perfil {
    width: 20px;
    height: 18px;
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 10px;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.opcion_mi_perfil.mostrarContenido{
    border:1px solid #000;
}

.opcion_mi_perfil.mostrarContenido .icono_flecha_despliegue_contenido_mi_perfil{
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top:6px;
    right:14px;
}

.permiso_cuenta_opcion_descripcion span:first-child{
    margin-bottom: 2px;
}

.permiso_cuenta_opcion_descripcion span:last-child {
    color: #808080;
}

.opcion_mi_perfil_titulo_texto{
    padding-left:15px;
}

.opcion_mi_perfil_contenido{
    border-top: 1px solid #808080;
}

    .opcion_direccion_entrega .opcion_mi_perfil_contenido{
        display:none;
    }

.form_cambio_datos{
    padding-top:30px;
    padding-bottom:30px;
}

.grupo_form_cambio_datos,
.contenedor_campos_num_adicional,
.grupo_form_cambio_datos > div,
.contenedor_campos_num_adicional > div,
.opcion_direccion_entrega .opcion_mi_perfil_contenido > div {
    display: flex;
}

    .opcion_direccion_entrega .opcion_mi_perfil_contenido > div,
    .grupo_form_cambio_datos,
    .contenedor_campos_num_adicional,
    .contenedor_campos_num_adicional > div {
        flex-direction: row !important;
        flex-wrap: wrap!important;
        justify-content: space-around!important;
        align-items: center !important;
    }

        .grupo_form_cambio_datos > div {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: nowrap;
        }

.grupo_form_cambio_datos {
    position: relative;
    min-height: 32px;
    padding: 14px 14px 14px 32px;
    border-bottom: 1px solid #d8d8d8;
}

    .grupo_form_cambio_datos--confirmacionPendiente {
        background-color: #f5f5f5;
    }

        .grupo_form_cambio_datos--confirmacionPendiente label {
            background-color: transparent !important;
        }

        .grupo_form_cambio_datos--confirmacionPendiente label:before,
        .grupo_form_cambio_datos--confirmado label:before {
            display: block;
            content: "";
            position: absolute;
            top: 2px;
            left: -24px;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .grupo_form_cambio_datos--validacionErronea label:before,
        .grupo_form_cambio_datos--confirmacionPendiente label:before {
            background-image: url(/Content/Images/icono_pendiente_confirmacion.svg);
        }

        .grupo_form_cambio_datos--validacionExitosa label:before,
        .grupo_form_cambio_datos--confirmado label:before{
            background-image: url(/Content/Images/icono_confirmacion.svg);
        }

    .grupo_form_cambio_datos > div:first-child,
    .contenedor_campos_num_adicional > div{
        position:relative;
        flex-grow:1;
    }

    .grupo_form_cambio_datos:last-child{
        margin-bottom:16px;
        border-bottom:0;
    }

    .grupo_form_cambio_datos > div{
        position:relative;
    }
    
    .grupo_form_cambio_datos label{
        width:90%;
        cursor:default;
        position:absolute;
        top:18px;
        left:0;
        font-size:13px;
        font-weight:400;
        min-height:32px;
        background-color:#FFF;
        z-index:3;
    }

        .grupo_form_cambio_datos--validacionErronea label:before,
        .grupo_form_cambio_datos--validacionExitosa label:before{
            display: block;
            content: "";
            position: absolute;
            top: 2px;
            left: -22px;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-size: 100%;
        }

    .grupo_form_cambio_datos_btn_guardar_wrapper{
        margin-left: -20px;
        margin-right: -20px;
        padding:0;
    }

    .mensaje_validacion_campo {
        color: #e81c36;
        font-size:13px;
        position:relative;
        top:-2px;
    }

        .mensaje_validacion_campo--vistasActualizacion {
            margin-top: 4px;
            font-size: 13px;
            top:0;
        }

    .grupo_form_cambio_datos label,
    .campo_con_datos + label,
    .correo_electronico_actual span:first-child,
    .celular_actual span:first-child,
    .grupo_form_cambio_datos select{
        color:#808080;
        letter-spacing:0.2px;
    }

    .grupo_form_cambio_datos label,
    .grupo_form_cambio_datos input,
    .grupo_form_cambio_datos select{
        font-family:'Lato', sans-serif;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .grupo_form_cambio_datos input,
    .grupo_form_cambio_datos select {
        background-color: transparent;
        margin-top: 18px;
        font-size: 14px;
        font-weight: 400;
        color: #808080;
        border: 0;
        height: 40px;
        padding-right: 8px;
        position: relative;
        z-index: 2;
    }

    .grupo_form_cambio_datos select,
    .enlace_ubicacion_actual{
        background-repeat:no-repeat;
        background-position:98.5% center;
    }

    .grupo_form_cambio_datos select{
        -moz-appearance:none;
        -webkit-appearance:none;
        background-image:url(/Content/Images/icono_campos_select_mi_perfil.svg);
    }

    .grupo_form_cambio_datos_campo_ciudad{
        padding-right:15px;
    }

    .grupo_form_cambio_datos_campo_comuna{
        padding-left:15px;
    }

    .grupo_form_cambio_datos_campo_direccion,
    .grupo_form_cambio_datos_campo_direccion > div{
        position:relative;
    }

    .grupo_form_cambio_datos input:focus + label,
    .grupo_form_cambio_datos select:focus + label,
    .grupo_form_cambio_datos .campo_con_datos + label{
        top:6px;
        font-size:12.5px;
        background-color:transparent;
        color:#000;
        font-weight:bold;
    }

    .grupo_form_cambio_datos input:focus,
    .grupo_form_cambio_datos select:focus,
    .grupo_form_cambio_datos input:focus + label,
    .grupo_form_cambio_datos select:focus + label{
        color:rgba(0,0,0,1);
    }

    .grupo_form_cambio_datos--validacionErronea input:focus + label:before,
    .grupo_form_cambio_datos--validacionErronea .campo_con_datos + label:before,
    .grupo_form_cambio_datos--validacionExitosa input:focus + label:before,
    .grupo_form_cambio_datos--validacionExitosa .campo_con_datos + label:before{
        top:1px;
    }

    .campo_con_datos + label{
        z-index:2;
    }

.enlace_ubicacion_actual{
    position: absolute;
    margin: auto 0;
    top: 18px;
    bottom: 3px;
    right: -7px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-image: url(/Content/Images/icono_localizacion.svg);
    z-index: 3000;
}

.grupo_form_cambio_datos--mapa {
    padding-top:30px;
    padding-right: 32px;
}

.w-100.mapa_wrapper{
    height:250px;
}

.mapa_wrapper .mapouter,
.mapa_wrapper .gmap_canvas
{
    height:100%;
}

.enlace_cambiar_dato,
.enlace_eliminar_numero_adicional {
    font-size: 13px;
    position: relative;
    z-index: 3;
}

.enlace_cambiar_dato,
.btn_confirmar_dato {
    width: 82px;
}

.enlace_cambiar_dato {
    color: #B9007E;
}

    .icono_cambiar_dato {
        width: 16px;
        height: 16px;
        margin-top: 0.5px;
    }

        .icono_cambiar_dato img {
            width: 100%;
            height: auto;
        }

    .btn_confirmar_dato {
        margin-top: 16px;
        height: 32px;
        font-size: 12.6px;
        color: #FFF;
        letter-spacing: 1px;
        border:0;
    }

.enlace_agregar_num_adicional {
    position: absolute;
    top: 13px;
    left: 16px;
    font-size: 14px;
}

.grupo_form_cambio_datos .label_num_adicional{
    display:none;
}

.icono_agregar_num_adicional{
    width:15px;
    height:15px;
    background-image:url("/Content/Images/icono_plus.svg");
    margin-right:3px;
    position:relative;
    top:3.5px;
}

.icono_eliminar_numero_adicional{
    width:13px;
    height:17px;
    background-image:url("/Content/Images/icono_eliminar.svg");
    margin-right:3px;
    position:relative;
    top:2px;
}

.linea_separadora{
    height:1px;
}

.permisos_cuenta_wrapper{
    margin-top:33px;
    border-bottom:1px solid #808080;
}

.permisos_cuenta_titulo,
.permiso_cuenta_opcion,
.checkbox_condiciones_descripcion,
.datos_obligatorios{
    font-size:13px;
}

.permisos_cuenta_titulo,
.permiso_cuenta_opcion {
    margin-bottom: 33px;
}

.permisos_cuenta_titulo,
.terminos_y_condiciones_wrapper .datos_obligatorios {
    color: #808080;
}

.checkbox_condiciones_descripcion,
.checkbox_condiciones_descripcion a {
    color: #000;
}

.terminos_y_condiciones_wrapper ~ .grupo_form_cambio_datos{
    padding-left:0;
    padding-right:0;
    margin-bottom:0;
}

.grupo_form_checkbox_condiciones .checkbox_condiciones_label,
.grupo_form_permiso_cuenta {
    margin-top: 1px !important;
    margin-bottom: 0 !important;
    margin-right: 8px;
}

.grupo_input_actualizarMisDatos .checkbox_condiciones_wrapper,
.permiso_cuenta_opcion{
    display:flex;
    justify-content:flex-start;
}

.grupo_input_actualizarMisDatos .checkbox_condiciones_wrapper,
.grupo_input_actualizarMisDatos .checkbox_condiciones_descripcion {
    margin-right: 0!important;
}

input.checkbox_condiciones_checkbox,
input.permiso_cuenta_opcion_checkbox
{
    display:none!important;
}

.checkbox_condiciones_label,
.permiso_cuenta_opcion_label{
    background-color: #FFF;
    border: 1px solid #808080;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image:url(/Content/Images/icono_check_mi_perfil.svg);
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer!important;
}

.checkbox_condiciones_checkbox:checked + .checkbox_condiciones_label,
.permiso_cuenta_opcion_checkbox:checked + .permiso_cuenta_opcion_label{
    background-color:#b9007e;
    border: 1px solid #b9007e;
}

.grupo_input_actualizarMisDatos .checkbox_condiciones_descripcion,
.permiso_cuenta_opcion_descripcion{
    margin-bottom: 4px;
    order: 1;
}

.btn_guardar_datos_nuevos,
.btn_cambiar_contrasenia,
.btn_acept,
.btn_continuar
{
    height: 45px;
    color: #FFF;
    border-radius:4px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 0.9px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn_acept{
    line-height:45px;
}

    .btn_acept:hover,
    .btn_acept:active
    {
        text-decoration:none;
        color:#FFF;
    }

.btn_guardar_datos_nuevos{
    width:202px;
}

    .btn_guardar_datos_nuevos:hover,
    .btn_cambiar_contrasenia:hover,
    .btn_continuar:hover,
    .btn_acept:hover
    {
        background-color: rgba(100,47,128,0.8);
    }

.tooltip_info_revision_correo {
    width: auto;
    max-width: 320px;
    min-height: 98px;
    margin-top: -25px;
    margin-bottom: 16px;
    padding: 17px 12px;
    position: relative;
    top: 0;
    left: 0;
    border:1px solid #dcdcdc;
    background-color: #FFF;
    z-index: 4;
    -moz-box-shadow: 0 1px 8px 1px rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: 0 1px 8px 1px rgba(150, 150, 150, 0.5);
    box-shadow: 0 1px 8px 1px rgba(150, 150, 150, 0.5);
}

.tooltip_info_revision_correo:after, .tooltip_info_revision_correo:before {
    top:initial;
	bottom: 100%;
    left: 23px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip_info_revision_correo:after {
	border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFF;
    border-width: 8px;
    margin-left: -8px;
}

.tooltip_info_revision_correo:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #dcdcdc;
	border-width: 9px;
	margin-left: -9px;
}

.icono_info_alerta{
    width: 20px;
    height: 20px;
    background-image: url(/Content/Images/Lbel/icono_info_alerta.svg);
    margin-right: 5px;
}

.tooltip_texto{
    width:90.5%;
    text-transform:initial;
}

.tooltip_texto p{
    margin:0;
    padding:0;
}

.enlace_no_cambiar_correo{
    text-decoration: underline;
    margin-top: 11px;
}

.fondoDesktop{
    overflow:initial;
}

.btn_secundario--cancelar,
.btn_primario--miPerfil {
    min-width: 160px;
}

.btn_primario--miPerfil {
    z-index: 400;
}

/*  FIN - MI PERFIL */

/* CAMBIA TU CONTRASEÑA, ACTUALIZA TU CORREO ELECTRÓNICO, ACTUALIZA TU CELULAR, CAMBIAR FOTO DE PERFIL */

.wrapper_content_cambiar_contrasenia,
.wrapper_content_actualizar_correo,
.wrapper_content_actualizar_celular,
.wrapper_content_cambiar_foto_perfil{
    width:520px;
}

.vista_cambiar_contrasenia,
.vista_actualizar_correo,
.vista_actualizar_celular,
.vista_cambiar_foto_perfil {
    background-color: #FFF;
    padding: 17px 37px 37px;
}

.grupo_form_cambio_datos--vistaActualizacionCorreo,
.grupo_form_cambio_datos--vistaActualizacionCelular,
.grupo_form_cambio_datos--ctasCambioContrasenia{
    padding: 0;
    border-bottom: 0;
}

    .grupo_form_cambio_datos--vistaActualizacionCorreo input,
    .grupo_form_cambio_datos--vistaActualizacionCelular input {
        border-bottom: 1px solid #979797;
    }

.grupo_form_cambio_datos--cambioContrasenia {
    padding-left: 0;
    padding-right: 0;
}

    .grupo_form_cambio_datos--cambioContrasenia label{
        top:24px;
    }

.grupo_form_cambio_datos--ctasCambioContrasenia{
    margin-top:40px;
}

.enlace_volver_a_mi_perfil{
    margin-bottom:11px;
}

    .enlace_volver_a_mi_perfil--vistaActualizarCorreo,
    .enlace_volver_a_mi_perfil--vistaActualizarCelular{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100px;
        height: 45px;
        margin-top: -8px;
        margin-left:-8px;
    }

    .enlace_volver_a_mi_perfil_icono{
        width:24px;
        height:24px;
    }

        .enlace_volver_a_mi_perfil_icono img {
            width: 100%;
            height: auto;
        }

    .enlace_volver_a_mi_perfil_texto{
        font-size:13px;
    }

.icono_back_arrow,
.icono_cerrar{
    width:18px;
    height:21px;
    margin-top:1px;
    margin-right:8.5px;
}

.icono_back_arrow img,
.icono_correo_sobre img,
.icono_mensaje_sms img,
.icono_cerrar img
{
    width:100%;
    height:auto;
}

.form_cambiar_contrasenia,
.contrasenia_actualizada,
.form_actualizar_correo,
.revisa_tu_correo,
.correo_pendiente_de_confirmar,
.correo_actualizado,
.form_actualizar_celular,
.revisa_tu_celular,
.celular_actualizado
{
    background-color:#FFF;
    min-height:355px;
    padding:50px 77px;
}

.enlace_cancelar{
    text-decoration: underline;
    padding-top: 27px;
    width: 72px;
    font-size:12.5px;
}

.btn_cambiar_contrasenia,
.btn_continuar
{
    width:153px;
}

.icono_ver_password{
    width: 28px;
    height: 18.16px;
    position: absolute;
    top: 25px;
    right: 8px;
    cursor:pointer;
    z-index:3;
    background-image:url("/Content/Images/icono_ver_password.svg");
    background-position:center 0;
    background-repeat:no-repeat;
    overflow:hidden;
}

.icono_ver_password_activo{
    background-position:center -27px;
}

.icono_actualizacion_contrasenia_exitosa,
.icono_correo_sobre,
.icono_actualizacion_correo_exitoso,
.icono_actualizacion_correo_erroneo,
.titulo_contrasenia_actualizada,
.titulo_revisa_tu_correo,
.titulo_correo_pendiente_confirmacion,
.titulo_correo_actualizado,
.titulo_revisa_tu_celular,
.icono_mensaje_sms,
.btn_acept,
.campos_ingreso_codigo_sms,
.icono_actualizacion_celular_exitoso,
.opcion_foto_perfil,
.icono_opcion_foto_perfil img
{
    margin-left:auto;
    margin-right:auto;
}

.icono_actualizacion_contrasenia_exitosa,
.icono_actualizacion_correo_exitoso,
.icono_actualizacion_celular_exitoso
{
    width:50px;
    height:50px;
    margin-bottom:15px;
    background-image:url("/Content/Images/Lbel/icono_check_lbel.svg");
    background-size:100%;
}

.icono_actualizacion_correo_erroneo{
    width:50px;
    height:50px;
    margin-bottom:15px;
    background-image:url("/Content/Images/Lbel/icono_exclamacion_lbel.svg");
    background-size:100%;
}

.titulo_contrasenia_actualizada,
.titulo_correo_actualizado,
.titulo_revisa_tu_correo,
.titulo_correo_pendiente_confirmacion,
.titulo_revisa_tu_celular
{
    font-family:'Lato', sans-serif;
    color:#000;
    font-weight:300!important;
}

.titulo_contrasenia_actualizada,
.titulo_correo_actualizado
{
    max-width: 213px;
    font-size:24px;
    margin-bottom:30px;
}

.mensaje_contrasenia_actualizada,
.envio_instrucciones_info,
.mensaje_correo_actualizado,
.mensaje_celular_actualizado
{
    font-size:14px;
    line-height:18px;
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:35px;
    padding:0;
}

.btn_acept{
    width:119px;
}

.correo_electronico_actual,
.celular_actual
{
    padding-left:5px;
    margin-bottom:24px;
}

.correo_electronico_actual span:first-child,
.celular_actual span:first-child
{
    margin-bottom:5px;
}

.envio_instrucciones_info span:last-child,
.correo_electronico_actual span:last-child,
.celular_actual span:last-child
{
    font-size:17px;
}

.correo_electronico_actual span:last-child,
.celular_actual span:last-child
{
    color:rgba(0,0,0,0.6);
}

.titulo_revisa_tu_correo,
.titulo_correo_pendiente_confirmacion,
.titulo_revisa_tu_celular
{
    font-size:21px;
    margin-bottom:13px;
}

.icono_correo_sobre,
.icono_mensaje_sms
{
    margin-bottom:13.5px;
    background-size:100%;
}

.icono_correo_sobre {
    width: 64px;
    height: 64px;
    background-image: url('/Content/Images/icono_mail.svg');
}

.icono_mensaje_sms {
    width: 64px;
    height: 64px;
    background-image: url('/Content/Images/icono_celular.svg');
}

.actualizacion_celular_titulo,
.envio_instrucciones_info span:first-child {
    margin-bottom: 8px;
}

.actualizacion_celular_titulo {
    margin-top: 0;
    font-size: 20px;
    color:#000;
}

.correo_actual,
.num_celular_actual {
    font-size: 16px;
}

.correo_actual {
    margin-bottom: 8px;
}

.enlace_reenviar_instrucciones,
.enlace_cambiar_correo,
.enlace_cambiar_numero_celular {
    text-decoration: underline;
}

.enlace_cambiar_numero_celular {
    margin-left: 11px;
}

.codigo_sms_caducidad,
.enlace_reenviar_instrucciones {
    font-size: 14px;
}

.codigo_sms_caducidad{
    margin-bottom:35px;
}

.codigo_sms_caducidad span {
    color: #ad1f78;
}

.titulo_correo_pendiente_confirmacion{
    margin-top:0;
}

.cambiar_correo_info{
    font-size:12px;
}

.enlace_cambiar_correo{
    margin-left:5px;
}

.notificacion_estado {
    margin-top: 35px;
    margin-bottom: 35px;
}

.sin_correo_registrado,
.sin_numero_celular_registrado
{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 34px;
}

.texto_ingreso_codigo {
    font-size: 18px;
    margin-bottom: 16px;
}

.wrapper_campo_ingreso_codigo_sms {
    display: inline-block;
    position: relative;
    margin-right: 4px;
}

    .wrapper_campo_ingreso_codigo_sms:last-child {
        margin-right: 0;
    }

.campos_ingreso_codigo_sms {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.campo_ingreso_codigo_sms {
    width: 35px;
    height: 37px;
    padding-bottom: 9px;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    color: #ad1f78;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

.campo_ingreso_codigo_sms_borde_inferior {
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 70px;
}

.icono_validacion_codigo_sms{
    display:none;
    width:24px;
    height:24px;
    border-radius:100%;
    border-width:1.5px;
    border-style:solid;
    position:absolute;
    bottom:1px;
    right:-30px;
}

.validacion_erronea{
    border-color:#e81c36;
    background-image:url("/Content/Images/icono_validacion_codigo_sms_erroneo.svg");
    background-position-x:4px;
}

.validacion_exitosa{
    border-color:#66A231;
    background-image:url("/Content/Images/icono_validacion_codigo_sms_correcto.svg");
}

.opciones_foto_perfil{
    padding-top:73px;
    padding-bottom:73px;
}

.opcion_foto_perfil {
    width: 260px;
    height: 90px;
    position:relative;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 29px;
    background-color:#FFF;
    border: 1px solid #E7E1E1;
    margin-bottom: 20px;
    -moz-box-shadow: 0 8px 11px -7px rgba(103, 103, 103, 0.5);
    -webkit-box-shadow: 0 8px 11px -7px rgba(103, 103, 103, 0.5);
    box-shadow: 0 8px 11px -7px rgba(103, 103, 103, 0.5);
    text-decoration: none;
    color: #000;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

    .opcion_foto_perfil:hover{
        background-color:#fbfbfb;
        -moz-box-shadow: 0 4px 11px -7px rgba(103, 103, 103, 0.9);
        -webkit-box-shadow: 0 4px 11px -7px rgba(103, 103, 103, 0.9);
        box-shadow: 0 4px 11px -7px rgba(103, 103, 103, 0.9);
    }

.opcion_tomar_foto,
.opcion_cargar_foto_desde_galeria
{
    padding-top:26px;
}

.opcion_eliminar_foto{
    padding-top:23px;
}

.icono_opcion_foto_perfil{
    margin-right:20px;
}

.icono_opcion_foto_perfil img{
    width:auto;
    height:100%;
}

.icono_tomar_foto,
.icono_cargar_foto_desde_galeria,
.icono_eliminar_foto
{
    width:44px;
}

.icono_tomar_foto{
    height:33px;
}

.icono_cargar_foto_desde_galeria{
    height:34px;
}

.icono_eliminar_foto{
    height:45px;
}

.text-error {
    color: red;
}

.input-file{
    display:none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.icono_error,
.icono_success {
    margin-bottom: 16px;
}

    .icono_error img,
    .icono_success img {
        width: 100%;
        height: auto;
        border: 0;
    }

    .icono_success img {
        margin-left: 9px;
    }

    .icono_success--miPerfil {
        margin-top:24px;
        width: 82px;
        height: 82px;
    }

    .icono_error--miPerfil{
        margin-top:24px;
        width:64px;
        height:64px;
    }

.mensaje_success,
.mensaje_error{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
    letter-spacing: 0.8px;
}

    .mensaje_success{
        color: #b9007e;
    }

    .mensaje_error{
        color:#000;
    }

    .mensaje_error--miPerfil{
        font-size:15px;
        margin-bottom:64px;
    }

    .mensaje_success--miPerfil {
        font-size: 20px;
    }

@media screen and (max-width:991px){

    .w-100-mobile{
        width:100%;
    }

    .mt-0-mobile{
        margin-top:0!important;
    }

    .vista_actualizar_correo_paddingMobile{
        padding:37px 0!important;
    }

    .pl-20-mobile{
        padding-left:20px;
    }

    .correo_actualizado_paddingMobile{
        padding:50px 20px!important;
    }

    .quitarBackgroundImageMobile{
        background-image:none;
    }

    .quitarPaddingDerechoMobile{
        padding-right:0;
    }   

}

/* FIN - CAMBIA TU CONTRASEÑA, ACTUALIZA TU CORREO ELECTRÓNICO, ACTUALIZA TU CELULAR, CAMBIAR FOTO DE PERFIL */
