.revistadigital .revistadigital-desc span {
    color: #613c87;
}

.revistadigital .revistadigital-baj a {
    color: #613c87;
}

.revistadigital .arrow-right {
    border-left: 5px solid #613c87;
}

.revistadigital .boxoffer .fondo_boton {
    background: #613c87;
}

.titulo_set_banner_ept {
    color: #613c87;
}

.buscar_landing_ept {
    background: #613c87;
}

.rd_logo {
    background: rgba(97,60,135,1);
    background: -moz-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(97,60,135,1)), color-stop(31%, rgba(97,60,135,1)), color-stop(100%, rgba(97,60,135,1)));
    background: -webkit-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: linear-gradient(135deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613c87', endColorstr='#9d071d', GradientType=1 );
}

.rd_tit {
    color: #613c87;
}

/* boton rojo */
.rd_btn_rojo {
    background: #613c87;
}

.rd_btn_rojo_right {
    background: #613c87;
}

.rd_btn_rojo:after {
    background: rgba(97,60,135,1);
    background: -moz-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(97,60,135,1)), color-stop(31%, rgba(97,60,135,1)), color-stop(100%, rgba(97,60,135,1)));
    background: -webkit-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: linear-gradient(135deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
}
/* fin boton rojo*/

.rd_inscripcion .popup_rd_content .btn_diagonal {
    background: #613c87;
}

    .rd_inscripcion .popup_rd_content .btn_diagonal:after {
        background: -webkit-linear-gradient(top left, #613c87 0, #613c87 31%, rgb(97,60,135) 100%);
        background: -o-linear-gradient(top left, #613c87 0, #613c87 31%, rgb(97,60,135) 100%);
        background: linear-gradient(to bottom right, #613c87 0, #613c87 31%, rgb(97,60,135) 100%);
    }

.home_block_rd {
    background-color: #613c87;
}

.home_rd1 .btn_diagonal:after {
    background: -webkit-linear-gradient(top left, #613c87 0, #613c87 31%, rgb(97,60,135) 100%);
    background: -o-linear-gradient(top left, #613c87 0, #613c87 31%, rgb(97,60,135) 100%);
    background: linear-gradient(to bottom right, #613c87 0, #613c87 31%, rgb(97,60,135) 100%);
}

.home_rd {
    background-color: rgba(97,60,135,1);
}

    .home_rd .btn_diagonal:after {
        background: -webkit-linear-gradient(top left, #613c87 0, #613c87 31%, rgb(97,60,135) 100%);
        background: -o-linear-gradient(top left, #613c87 0, #613c87 31%, rgb(97,60,135) 100%);
        background: linear-gradient(to bottom right, #613c87 0, #613c87 31%, rgb(97,60,135) 100%);
    }

.gana-mas .txt-img-cont-tres {
    background: url('../../../Images/Lbel/consejos-y-tips-visual.png');
}

.como-funciona .caja-img .visual-funcionamiento {
    background: url('/Content/Images/Lbel/visual-de-funcionamiento.png');
}

.como-funciona .caja-club-derecha hr {
    background: #613c87;
}

/* POPUP CONFIRMACION DE DATOS */
.boton_popup_confirmacion_datos {
    background: #613c87 !important;
}

.popup_confirmacion_datos .contenido-table-datos .cont-datos .form-confirmacion .loader-confirmacion {
    background: url('/Content/Images/Lbel/loading_circle.gif');
}
