
.default-color {
    color:  #613c87;
}

.default-background {
    background-color:  #613c87;
}

.default-background-color {
    background-color:  #613c87;
}

.default-border-hover:hover {
    border-color: #613c87 !important;
}

.multimarca-background-color{
    background-color:#b9007e;
}
