
.default-color {
    color:  #613c87;
}

.default-background {
    background-color:  #613c87;
}

.default-background-color {
    background-color:  #613c87;
}

.default-border-hover:hover {
    border-color: #613c87 !important;
}

.btn_deshabilitado{
    border:1px solid rgba(128, 128, 128, 0.5);
    background-color:rgba(216, 216, 216, 0.5)!important;
    line-height:45px;
    pointer-events:none;
    cursor:not-allowed!important;
    color:rgba(128, 128, 128, 0.5)!important;
}
