<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Portal.Consultoras.ServiceCatalogoPersonalizado.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>  
  <connectionStrings>
    <add name="ConnectionCatalogo" connectionString="Data Source=awrds008.cgwmheq2buot.us-east-1.rds.amazonaws.com;Initial Catalog=AppCatalogo;Persist Security Info=True;User ID=usrappcatalogosqas;Password=Belcorp2015;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionPE" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpPeru_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionEC" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpEcuador_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionCL" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpChile_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionGT" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpGuatemala_SB2;Persist Security Info=True;User ID=sa;Password=sistemas;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionSV" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpSalvador_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionVE" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpVenezuela_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionCR" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpCostaRica_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionPA" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpPanama_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionMX" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpMexico_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionDO" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpDominicana_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionBO" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpBolivia_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionAR" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpArgentina_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionPR" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpPuertoRico_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionCO" connectionString="Data Source=AWNTS74;Initial Catalog=BelcorpColombia_SB2;Persist Security Info=True;User ID=sa;Password=C0n$ult0r@$;Application Name=Belcorp Portal Consultoras"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaServicePROLConsultas" value="http://qaelb-webprol-2076989301.us-east-1.elb.amazonaws.com/wsconsultasprol/wsConsulta.asmx?wsdl"/>
    <add key="RutaImagenesAppCatalogo" value="https://s3-sa-east-1.amazonaws.com/appcatalogo/{0}/{1}/{2}/productos/{3}"/>
    <add key="ConnAWSCacheRedis" value="ecencorebra.ombwyy.ng.0001.use1.cache.amazonaws.com:6379,abortConnect=false,syncTimeout=5000"/>
    <add key="TimeCacheRedis" value="01:00:00"/>
    <add key="RutaInicialImagenPcm" value="http://10.12.6.218:9001"/>

    <add key="RutaProductosJetlore" value="https://api.jetlore.com/offers/offers.json"/>
    <add key="ClientHashJetlore" value="a1061c49278131e3e5e7e03b5be6ba60" />
    <add key="LimiteProductosJetlore" value="100"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <applicationSettings>
    <Portal.Consultoras.ServiceCatalogoPersonalizado.Properties.Settings>
      <setting name="Portal_Consultoras_ServiceCatalogoPersonalizado_ServicePROLConsultas_wsConsulta"
        serializeAs="String">
        <value>http://qaelb-webprol-2076989301.us-east-1.elb.amazonaws.com/wsconsultasprol/wsConsulta.asmx</value>
      </setting>
    </Portal.Consultoras.ServiceCatalogoPersonalizado.Properties.Settings>
  </applicationSettings>
</configuration>