<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProcesoMAEActualizarDireccionEntregaWebServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pelnx2138:7003/ssiccclespdp/services/ProcesoMAEActualizarDireccionEntregaWebService"
                binding="basicHttpBinding" bindingConfiguration="ProcesoMAEActualizarDireccionEntregaWebServiceSoapBinding"
                contract="ServiceDirecciondeEntrega.ProcesoMAEActualizarDireccionEntregaWebServiceImpl"
                name="ProcesoMAEActualizarDireccionEntregaWebService" />
        </client>
    </system.serviceModel>
</configuration>