<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProcesoPEDCuadreOfertasConsolidadoWebServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pelnx2141:7002/nssiccqas/services/ProcesoPEDCuadreOfertasConsolidadoWebService"
                binding="basicHttpBinding" bindingConfiguration="ProcesoPEDCuadreOfertasConsolidadoWebServiceSoapBinding"
                contract="ServiceSicc.ProcesoPEDCuadreOfertasConsolidadoWebServiceImpl"
                name="ProcesoPEDCuadreOfertasConsolidadoWebService" />
        </client>
    </system.serviceModel>
</configuration>