<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProcesoMAEActualizarDireccionEntregaWebServiceSoapBinding" />
                <binding name="ProcesoMAEActualizaFlagImpBoletasWebServiceSoapBinding" />
                <binding name="ProcesoPEDPedidoRechazadoWebServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pelnx2044:7003/ssiccclespdp/services/ProcesoMAEActualizaFlagImpBoletasWebService" binding="basicHttpBinding" bindingConfiguration="ProcesoMAEActualizaFlagImpBoletasWebServiceSoapBinding" contract="ServiceActualizarFlagBoletaImpresa.ProcesoMAEActualizaFlagImpBoletasWebServiceImpl" name="ProcesoMAEActualizaFlagImpBoletasWebService" />
            <endpoint address="http://pelnx2044:7003/ssiccclespdp/services/ProcesoMAEActualizarDireccionEntregaWebService" binding="basicHttpBinding" bindingConfiguration="ProcesoMAEActualizarDireccionEntregaWebServiceSoapBinding" contract="ServiceDirecciondeEntrega.ProcesoMAEActualizarDireccionEntregaWebServiceImpl" name="ProcesoMAEActualizarDireccionEntregaWebService" />
            <endpoint address="http://pelnx2041:7003/ssicceclbpdp/services/ProcesoPEDPedidoRechazadoWebService" binding="basicHttpBinding" bindingConfiguration="ProcesoPEDPedidoRechazadoWebServiceSoapBinding" contract="ServiceTotalPagarSiccEC.ProcesoPEDPedidoRechazadoWebServiceImpl" name="ProcesoPEDPedidoRechazadoWebService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>