@model Portal.Consultoras.Web.Models.ConsultaAdministrativaModel
@{
    ViewBag.Title = "ConultaConsultora";
}

<script>

    function BuscarConsultora()
    {
        if ($("#ddlPais").val() == "") {
            alert("Seleccionar País");
            return false;
        }
        if ($.trim($("#txtCodigo").val()) == "") {
            alert("Ingresar código de consultora");
            return false;
        }
        waitingDialog({});
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'ConsultaAdministrativa/ObtenterDatosConsultora',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ PaisID: $("#ddlPais").val(), CodigoConsultora: $("#txtCodigo").val() }),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.result == true) {
                        $("#txtCodigoConsultoraR").val(data.CodigoConsultora);
                        $("#txtNombre").val(data.NombreCompleto);
                        $("#txtZona").val(data.CodigoZona);
                        $("#txtRegion").val(data.CodigorRegion);
                        $("#txtEstadoActividad").val(data.EstadoActividad);
                        $("#txtSegmento").val(data.Segmento);
                        $("#txtFechaNacimiento").val(data.FechaNacimiento);
                        $("#txtEstadoCivil").val(data.EstadoCivil);
                        $("#txtKitNueva").val(data.KtiNueva);
                        $("#txtAutorizaPedido").val(data.AutorizaPedido);
                        $("#txtEmail").val(data.EMail);
                        $("#txtMontoUltimoPedido").val(data.MontoUltimoPedido);
                        $("#txtMontoFlexiPago").val(data.MontoFlexipago);
                        $("#txtUltimaCampaniaFacturada").val(data.UltimaCampanaFacturada);
                        $("#txtMontoMaximoPedido").val(data.MontoMaximoPedido);
                        $("#txtMontoMinimoPedido").val(data.MontoMinimoPedido);
                        $("#txtFechaIngreso").val(data.FechaIngreso);
                        $("#txtMontoSaldoActual").val(data.MontoSaldoActual);
                        $("#txtPasaPedidoWeb").val(data.PasePedidoWeb);
                        $("#txtCompraOfertaWeb").val(data.TipoOferta2);
                        $("#txtTieneCorreoElectronico").val(data.TieneCorreo);
                        $("#txtEnviaCatalogo").val(data.EnviaCatalogo);
                        $("#txtProgramaDupla").val(data.EstablecidaDupla);
                        $("#txtOfertaEspecial").val(data.NuevaComproOfertaEspecial);
                    }
                    else
                        alert("El código ingresado no existe");
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("ERROR");
                }
            }
        });

        return false;
    }

</script>
<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Consulta <span>Datos de Consultora</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="titB">Código:</div>
                <div class="selectH borde_redondeado">
                    <input type="text" id="txtCodigo" />
                </div>
                <div class="input_search">
                    <input type="button" value="Buscar" id="btnBuscar" onclick="BuscarConsultora()">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">
            <div class="div-3">
                <div class="titI">Código consultora:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtCodigoConsultoraR" readonly="true" />
                </div>
                <div class="titF">Nombre:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtNombre" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Zona:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtZona" readonly="true" />
                </div>
                <div class="titF">Región:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtRegion" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI">Estado de actividad:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtEstadoActividad" readonly="true" />
                </div>
                <div class="titF">Segmento:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtSegmento" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Fecha de nacimiento:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtFechaNacimiento" readonly="true" />
                </div>
                <div class="titF">Estado civil:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtEstadoCivil" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Kit nueva:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtKitNueva" readonly="true" />
                </div>
                <div class="titF">Autoriza pedido:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtAutorizaPedido" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Email:</div>
                <div class="selectA borde_redondeado">
                    <input type="text" id="txtEmail" readonly="true" />
                </div>
                <div class="titF">Monto último pedido:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtMontoUltimoPedido" type="text" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Monto flexipago:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtMontoFlexiPago" type="text" readonly="true" />
                </div>
                <div class="titF line_height">Ultima campaña facturada:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtUltimaCampaniaFacturada" type="text" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Monto máximo pedido:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtMontoMaximoPedido" type="text" readonly="true" />
                </div>
                <div class="titF">Monto mínimo pedido:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtMontoMinimoPedido" type="text" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Fecha ingreso:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtFechaIngreso" type="text" readonly="true" />
                </div>
                <div class="titF">Monto saldo actual:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtMontoSaldoActual" type="text" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Pasa pedido Web:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtPasaPedidoWeb" type="text" readonly="true" />
                </div>
                <div class="titF">Compra oferta Web:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtCompraOfertaWeb" type="text" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titI line_height">Tiene correo registrado:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtTieneCorreoElectronico" type="text" readonly="true" />
                </div>
                <div class="titF">Envia catálogo:</div>
                <div class="selectA borde_redondeado">
                    <input id="txtEnviaCatalogo" type="text" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titE">Establecida pertenece al programa dupla:</div>
                <div class="selectH2 borde_redondeado">
                    <input id="txtProgramaDupla" type="text" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titE">Establecida validó mail del programa dupla:</div>
                <div class="titAuto">
                    (No activo)
                </div>
            </div>
            <div class="div-3">
                <div class="titE">Establecida compró kit dupla:</div>
                <div class="titAuto">
                    (No activo)
                </div>
            </div>
            <div class="div-3">
                <div class="titE">Establecida compró oferta dupla:</div>
                <div class="titAuto">
                    (No activo)
                </div>
            </div>
            <div class="div-3">
                <div class="titE">Nueva compró oferta espeial:</div>
                <div class="selectH2 borde_redondeado">
                    <input id="txtOfertaEspecial" type="text" readonly="true" />
                </div>
            </div>
            <div class="div-3">
                <div class="titE">Nueva llegó a la meta:</div>
                <div class="titAuto">
                    (No activo)
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>
