@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    function ConsultaConsultora() {

        var item = {
            Dato: ""
        };

        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'ConsultaAdministrativa/RedirectConsultaConsultora',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    if (data.success == true) {
                        window.location.href = data.redirectTo;
                    }
                    else {
                        alert(data.message);
                    }
                }
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert(data.message);
                }
            }
        });
    };

</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Consultas Administrativas</h1>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper" style="min-height:300px">
            <div><a href="#" onclick="return ConsultaConsultora();">Detalle de indicadores de consultora</a></div>
        </div>
    </div>
</div>
<div id="ConsultaUsuario">
    
</div>
