
/* MC - HD-4294 - VALIDAR CORREO EN EL PASE DE PEDIDO */

#PopupReservaPedido {
    z-index: 2147483647;
}

.popup__somos__belcorp--reservaPedido {
    max-width: 550px;
    min-height: 280px;
    padding: 30px 0 0 0;
    overflow: hidden;
}

    .popup__somos__belcorp--reservaPedido > div:last-child .popup__somos__belcorp__cabecera{
        padding-top:32px;
    }

.popup__somos__belcorp.popup__somos__belcorp--reservaPedido{
    top:59px;
    min-height:492px;
}

.popup__somos__belcorp__icono__cerrar--reservaPedido,
.popup__somos__belcorp__icono__cerrar--confirmaCorreo {
    right: 4px;
    top: -25px;
}

.popup__somos__belcorp__icono.popup__somos__belcorp__icono--reservaPedido {
    width: 60px;
    height: auto;
    margin-bottom: 16px;
}

.popup__somos__belcorp__titulo--reservaPedido,
.popup__somos__belcorp__titulo--boletaElectronica{
    color: #000;
}

.popup__somos__belcorp__titulo.popup__somos__belcorp__titulo--reservaPedido {
    font-size: 20px;
    margin-bottom: 28px !important;
}

.popup__somos__belcorp__contenido--reservaPedido {
    padding: 26px 111px;
    background-color: #fafafa;
}

.popup__somos__belcorp__contenido--confirmaCorreo{
    padding:0 80px 26px 80px;
}

.popup__somos__belcorp__contenido--confirmaCorreo .popup__somos__belcorp__titulo--reservaPedido {
    margin-bottom: 8px !important;
}

.popup__somos__belcorp__mensaje.popup__somos__belcorp__mensaje--reservaPedido {
    margin-bottom: 32px !important;
    text-align: left;
}

.popup__somos__belcorp__titulo.popup__somos__belcorp__titulo--boletaElectronica {
    font-size: 16px;
    margin-bottom: 12px !important;
    line-height: 20px;
}

.form__group__fields--confirmacionCorreoBoleta{
    margin-bottom:60px;
}

.form__group__fields--confirmaCorreo{
    position:relative;
}

.form__group__fields--confirmaCorreo .text__field__sb {
    min-width:280px;
}

.popup__somos__belcorp__btn--actualizarCorreo {
    width: 100%;
    margin-bottom: 10px !important;
    color: #FFF;
}

.popup__somos__belcorp__mensaje--reenvioAlCorreo{
    margin-top:84px;
}

.enlace__sb--reenviarCorreo{
    margin-top:5px;
}

.enlace__editar__correo__reservaPedido {
    position: absolute;
    right: 0;
    top: 7px;
    width: 24px;
    height: 24px;
    padding: 3px;
    cursor:pointer;
    z-index:10;
}

    .enlace__editar__correo__reservaPedido img{
        width:100%;
        height:auto;
    }

@media screen and (max-width:991px) {

    .popup__somos__belcorp.popup__somos__belcorp--reservaPedido {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding-top: 0;
        margin-bottom: 0;
        top: 0;
        min-height:0;
        overflow:auto;
    }

        .popup__somos__belcorp--reservaPedido > div {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
        }

            .popup__somos__belcorp--reservaPedido > div:last-child .popup__somos__belcorp__cabecera {
                padding-top: 0;
            }

            .popup__somos__belcorp__icono__cerrar--reservaPedido,
            .popup__somos__belcorp__icono__cerrar--confirmaCorreo{
                top: 7px;
            }

        .popup__somos__belcorp__contenido.popup__somos__belcorp__contenido--reservaPedido {
            width: 100%;
            position: fixed;
            bottom: 0;
            padding: 16px 16px 26px 16px;
        }     
        
        .popup__somos__belcorp__titulo--boletaElectronica,
        .popup__somos__belcorp__mensaje--reservaPedido{
            text-align:left!important;
        }
        
        .popup__somos__belcorp__contenido--confirmaCorreo {
            padding: 0 16px 26px 16px;
        }

        .enlace__editar__correo__reservaPedido {
            position: absolute;
            right: -13px;
            top: -5px;
            width: 45px;
            height: 45px;
            padding: 13px;
            cursor: pointer;
        }

}

@media screen and (min-height:613px), (max-height:650px) and (orientation:portrait) {

    .popup__somos__belcorp__icono.popup__somos__belcorp__icono--reservaPedido,
    .popup__somos__belcorp__icono.popup__somos__belcorp__icono__cerrar--confirmaCorreo {
        margin-top: calc(100vh - 504px);
    }

}

@media screen and (max-height:612px) and (orientation:portrait) {

    .popup__somos__belcorp__icono.popup__somos__belcorp__icono--reservaPedido,
    .popup__somos__belcorp__icono.popup__somos__belcorp__icono__cerrar--confirmaCorreo {
        margin-top: calc(100vh - 469px);
    }
}

@media screen and (max-height: 540px) and (orientation:portrait) {

    .popup__somos__belcorp__icono.popup__somos__belcorp__icono--reservaPedido,
    .popup__somos__belcorp__icono.popup__somos__belcorp__icono__cerrar--confirmaCorreo {
        margin-top: 69px;
    }

    .popup__somos__belcorp__contenido.popup__somos__belcorp__contenido--reservaPedido {
        position:relative;
    }    
}

@media screen and (max-width:991px) and (orientation:landscape) {

    .popup__somos__belcorp.popup__somos__belcorp--reservaPedido {
        overflow: auto;
        max-width:none;
    }

        .popup__somos__belcorp--reservaPedido > div:first-child,
        .popup__somos__belcorp--reservaPedido > div:last-child{
            justify-content: flex-start;
        }

        .popup__somos__belcorp__icono__cerrar--reservaPedido,
        .popup__somos__belcorp__icono__cerrar--confirmaCorreo {
            top: 6px;
        }

        .popup__somos__belcorp__titulo--boletaElectronica,
        .popup__somos__belcorp__mensaje--reservaPedido,
        .form__group__fields--confirmacionCorreoBoleta,
        .popup__somos__belcorp__btn--actualizarCorreo {
            max-width: 320px;
        }

        .popup__somos__belcorp__contenido.popup__somos__belcorp__contenido--reservaPedido{
            position:relative;
        }

}

@media screen and (min-width:992px) {

    .popup__somos__belcorp__icono.popup__somos__belcorp__icono--reservaPedido,
    .popup__somos__belcorp__icono.popup__somos__belcorp__icono__cerrar--confirmaCorreo {
        margin-top: 0;
    }

}

/* FIN - MC - HD-4294 - VALIDAR CORREO EN EL PASE DE PEDIDO */