
/* MC - HD-4294 - VALIDAR CORREO EN EL PASE DE PEDIDO */

#PopupReservaPedido {
    z-index: 2147483647;
}

.popup__somos__belcorp--reservaPedido {
    max-width: 550px;
    min-height: 280px;
    padding: 30px 0 0 0;
    overflow: hidden;
}

.popup__somos__belcorp.popup__somos__belcorp--reservaPedido{
    top:59px;
}

.popup__somos__belcorp__icono__cerrar--reservaPedido,
.popup__somos__belcorp__icono__cerrar--confirmaCorreo {
    right: 4px;
    top: -25px;
}

.popup__somos__belcorp__icono--reservaPedido {
    width: 64px;
    height: 64px;
    margin-bottom: 16px !important;
}

.popup__somos__belcorp__titulo--reservaPedido,
.popup__somos__belcorp__titulo--boletaElectronica{
    color: #000;
}

.popup__somos__belcorp__titulo.popup__somos__belcorp__titulo--reservaPedido {
    font-size: 20px;
    margin-bottom: 28px !important;
}

.popup__somos__belcorp__contenido--reservaPedido {
    padding: 26px 111px;
    background-color: #fafafa;
}

.popup__somos__belcorp__contenido--confirmaCorreo{
    padding:0 111px 26px 111px;
}

.popup__somos__belcorp__contenido--confirmaCorreo .popup__somos__belcorp__titulo--reservaPedido {
    margin-bottom: 8px !important;
}

.popup__somos__belcorp__mensaje.popup__somos__belcorp__mensaje--reservaPedido {
    margin-bottom: 32px !important;
    text-align: left;
}

.popup__somos__belcorp__titulo.popup__somos__belcorp__titulo--boletaElectronica {
    font-size: 16px;
    margin-bottom: 12px !important;
    line-height: 20px;
}

.form__group__fields--confirmacionCorreoBoleta{
    margin-bottom:60px;
}

.form__group__fields--confirmaCorreo .text__field__sb {
    min-width:230px;
}

.popup__somos__belcorp__btn--actualizarCorreo {
    width: 100%;
    margin-bottom: 10px !important;
    color: #FFF;
}

.popup__somos__belcorp__mensaje--reenvioAlCorreo{
    margin-top:84px;
}

.enlace__sb--reenviarCorreo{
    margin-top:5px;
}

@media screen and (max-width:991px) {

    .popup__somos__belcorp.popup__somos__belcorp--reservaPedido {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding-top: 0;
        margin-bottom: 0;
        top: 0;
    }

        .popup__somos__belcorp--reservaPedido > div {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
        }

            .popup__somos__belcorp--reservaPedido > div:first-child {
                justify-content: flex-end;
            }

            .popup__somos__belcorp--reservaPedido > div:last-child{
                justify-content:center;
            }

            .popup__somos__belcorp__icono__cerrar--reservaPedido {
                top: -58px;
            }

            .popup__somos__belcorp__icono__cerrar--confirmaCorreo {
                top: -80px;
            }

        .popup__somos__belcorp__contenido--reservaPedido {
            padding: 16px 16px 26px 16px;
        }     
        
        .popup__somos__belcorp__titulo--boletaElectronica,
        .popup__somos__belcorp__mensaje--reservaPedido{
            text-align:left!important;
        }
        
        .popup__somos__belcorp__contenido--confirmaCorreo {
            padding: 0 16px 26px 16px;
        }

}

@media screen and (max-width:991px) and (orientation:landscape) {

    .popup__somos__belcorp.popup__somos__belcorp--reservaPedido {
        overflow: auto;
    }

        .popup__somos__belcorp--reservaPedido > div:first-child,
        .popup__somos__belcorp--reservaPedido > div:last-child{
            justify-content: flex-start;
        }

        .popup__somos__belcorp__icono__cerrar--reservaPedido,
        .popup__somos__belcorp__icono__cerrar--confirmaCorreo {
            top: 6px;
        }

        .popup__somos__belcorp__titulo--boletaElectronica,
        .popup__somos__belcorp__mensaje--reservaPedido,
        .form__group__fields--confirmacionCorreoBoleta,
        .popup__somos__belcorp__btn--actualizarCorreo {
            max-width: 320px;
        }
}

/* FIN - MC - HD-4294 - VALIDAR CORREO EN EL PASE DE PEDIDO */