
/* MC - HD-4277 - POPUP PEDIDO GUARDADO Y PEDIDOS PENDIENTES POR APROBAR */

.popup__somos__belcorp--pedidosPendientes,
.popup__somos__belcorp--pedidoGuardadoConExito {
    max-width: 512px;
    height: 330px;
    padding: 58px 31px 51px;
}

    .popup__somos__belcorp__icono__cerrar--pedidosPendientes {
        right: -23px;
        top: -50px;
    }

    .popup__somos__belcorp__icono--pedidoGuardadoConExito,
    .popup__somos__belcorp__icono--pedidosPendientes {
        height:auto;
    }

    .popup__somos__belcorp__icono--pedidosPendientes {
        width: 46px;
        margin-bottom: 16px !important;
    }

    .popup__somos__belcorp__icono--pedidoGuardadoConExito {
        width: 64px;
        height: auto;
        position: relative;
        left: 10px!important;
        margin-bottom: 29px !important;
    }

    .popup__somos__belcorp__titulo.popup__somos__belcorp__titulo--pedidosPendientes,
    .popup__somos__belcorp__titulo.popup__somos__belcorp__titulo--pedidoGuardadoConExito {
        font-size: 18px;
        margin-bottom: 13px !important;
        color: #000;
    }

    .popup__somos__belcorp__mensaje--pedidosPendientes {
        margin-bottom: 24px !important;
        max-width: 328px;
        margin-left: auto;
        margin-right: auto;
    }

    .popup__somos__belcorp__btn--verPedidosPorAprobar {
        width: 100%;
        margin-bottom: 10px !important;
        color: #FFF;
        max-width: 216px;
    }

    .enlace__sb--verDespues{
        margin-top:9px;
    }

        .enlace__sb--verDespues span {
            width: auto;
            font-size: 14px;
        }

    .guardaste__tu__pedido--wrapper{
        flex-direction:column;
        flex-wrap:nowrap;
        justify-content:center;
        align-items:center;
        min-height:208px;
    }

/*@media screen and (min-width:992px) {

    .popup__somos__belcorp--pedidosPendientes {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -moz-transform: translate(0, -70px);
        -ms-transform: translate(0, -70px);
        -o-transform: translate(0, -70px);
        -webkit-transform: translate(0, -70px);
        transform: translate(0, -70px);
        opacity: 0;
    }

        .mostrarPopup {
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity: 1;
        }

}*/

@media screen and (max-width:991px) {

    .popup__somos__belcorp--pedidosPendientes,
    .popup__somos__belcorp--pedidoGuardadoConExito {
        width: 100% !important;
        height: 100%;
        max-width: none;
        padding: 69px 31px 22px;
        top: 0 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
    }

    .popup__somos__belcorp--pedidoGuardadoConExito{
        padding-top:64px;
    }

        .popup__somos__belcorp--pedidosPendientes .popup__somos__belcorp__icono__cerrar,
        .popup__somos__belcorp--pedidoGuardadoConExito .popup__somos__belcorp__icono__cerrar{
            top: -56px;
        }

        .popup__somos__belcorp__icono--pedidoGuardadoConExito{
            margin-bottom: 6px !important;
        }

}

/* FIN - MC - HD-4277 - POPUP PEDIDO GUARDADO Y PEDIDOS PENDIENTES POR APROBAR */
