/* MC - HD-4118 - POPUP ACTUALIZACIÓN INFORMACIÓN REGALO */

.popup__somos__belcorp--informacionRegalo {
    max-width: 688px;
    min-height: 312px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transform: translate(0, -70px);
    -ms-transform: translate(0, -70px);
    -o-transform: translate(0, -70px);
    -webkit-transform: translate(0, -70px);
    transform: translate(0, -70px);
    opacity: 0;
}

.mostrarPopup {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity:1;
}

.popup__somos__belcorp__icono__cerrar--informacionRegalo {
    right: 0;
    top: 0;
    z-index: 5;
}

.popup__somos__belcorp__contenido--informacionRegalo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.popup__somos__belcorp__imagen {
    flex: 0 0 326px;
    max-width: 326px;
    height: 312px;
    margin-bottom: 0;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

    .popup__somos__belcorp__imagen img {
        width: 100%;
        height: 312px;
        object-fit: cover;
        object-position: 61% center;
    }

.popup__somos__belcorp__mensaje--informacionRegalo {
    margin-bottom: 24px !important;
    font-weight: 400;
    line-height: 22px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 15px;
}

    .popup__somos__belcorp__mensaje--informacionRegalo span{
        font-weight:bold;
    }

.popup__somos__belcorp__btn--aceptar {
    width: 100%;
    margin-bottom: 10px !important;
    color: #FFF;
    max-width: 200px;
}

@media screen and (max-width:767px){

    .popup__somos__belcorp--informacionRegalo {
        width: 92%;
        max-width: 331px;
        left: 0;
        top: 32px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

        .popup__somos__belcorp__contenido--informacionRegalo{
            flex-direction:column;
        }

            .popup__somos__belcorp__imagen{
                flex: 0 0 100%;
                max-width: 100%;
                height: 270px;
                margin-bottom: 24px;
                border-top-right-radius: 4px;
                border-bottom-left-radius:0;
            }

                .popup__somos__belcorp__imagen img {
                    height: 270px;
                }

}

@media screen and (max-width:991px) and (orientation:landscape) {

    .popup__somos__belcorp--informacionRegalo{
        margin-bottom:32px;
    }

}

/* FIN - MC - HD-4118 - POPUP ACTUALIZACIÓN INFORMACIÓN REGALO */
