
/* MC - HD-3693 - POPUP BLOQUE POR SISTEMA */

.popup__somos__belcorp--bloqueoSistema {
    max-width: 416px;
    min-height: 312px;
    padding: 58px 31px 22px;
}

.popup__somos__belcorp__icono__cerrar--bloqueoSistema {
    right: -23px;
    top: -50px;
}

.popup__somos__belcorp__icono--bloqueoSistema {
    width: 64px;
    height: 64px;
    margin-bottom: 16px!important;
}

.popup__somos__belcorp__titulo--bloqueoSistema {
    font-size: 18px;
    margin-bottom: 8px!important;
    color: #000;
}

.popup__somos__belcorp__mensaje--bloqueoSistema {
    margin-bottom: 18px !important;
    max-width: 284px;
    margin-left: auto;
    margin-right: auto;
}

.popup__somos__belcorp__btn--entendido {
    width: 100%;
    margin-bottom: 10px!important;
    color: #FFF;
    max-width: 216px;
}

@media screen and (max-width:991px){

    .popup__somos__belcorp--bloqueoSistema {
        width: 100%!important;
        height: 100%;
        max-width:none;
        padding: 69px 31px 22px;
        top: 0!important;
        border-radius: 0!important;
        margin-bottom: 0!important;
    }

        .popup__somos__belcorp--bloqueoSistema .popup__somos__belcorp__icono__cerrar {
            top: -56px;
        }

}

/* FIN - MC - HD-3693 - POPUP BLOQUE POR SISTEMA */