@{
    ViewBag.Title = "Actualiza tu correo electronico";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/mi-perfil.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/mi-perfil.css")">
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>ACTUALIZA</span> TU CORREO ELECTRÓNICO</div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<section class="vista_actualizar_correo">
    <div class="wrapper_content_actualizar_correo">
        <div>
            <a href="#" title="Volver" class="enlace_volver_a_mi_perfil text-uppercase text-bold">
                <span class="icono_back_arrow">
                    <img src="@Url.Content("~/Content/Images/icono_volver.svg")" alt="Volver" />
                </span>
                <span class="enlace_texto">Volver</span>
            </a>
            <div class="form_actualizar_correo">
                <div class="sin_correo_registrado">
                    <span>Aún no has registrado un correo electrónico. Llena el siguiente campo para añadirlo.</span>
                </div>
                <div class="correo_electronico_actual" style="display:none;">
                    <span class="w-100 text-uppercase">Tu correo electrónico actual es :</span>
                    <span class="w-100">vtarazona@belcorp.biz</span>
                </div>
                <fieldset class="grupo_form_cambio_datos text-uppercase">
                    <div class="w-100">
                        <input id="NuevoCorreo" name="NuevoCorreo" class="w-100" type="text" value="" />
                        <label for="NuevoCorreo" class="w-100">Ingresa tu nuevo correo electrónico</label>
                    </div>
                </fieldset>
                <fieldset class="grupo_form_cambio_datos text-uppercase">
                    <div class="w-50 text-left v-alignMiddle">
                        <a href="#" title="Cancelar" class="enlace_cancelar">Cancelar</a>
                    </div>
                    <div class="w-50 text-right v-alignMiddle">
                        <button type="button" class="btn_continuar text-uppercase text-bold default-background-color mt-31">
                            Continuar
                        </button>
                    </div>
                </fieldset>
            </div>
            <div class="revisa_tu_correo text-center" style="display:none;">
                <h1 class="titulo_revisa_tu_correo text-uppercase">
                    Revisa <span class="text-bold">tu correo</span>
                </h1>
                <div class="icono_correo_sobre"></div>
                <p class="w-100 envio_instrucciones_info">
                    <span class="w-100">Te hemos enviado las instrucciones a:</span>
                    <span class="w-100 text-bold">valeria.tarazona@gmail.com</span>
                </p>
                <p class="w-100 envio_instrucciones_info">
                    <span class="w-100">¿Aún no recibes nuestro correo?</span>
                    <a href="#" title="Reenvíenme las instrucciones" class="enlace_reenviar_instrucciones w-100 text-uppercase text-bold">
                        Reenvíenme las instrucciones
                    </a>
                </p>
                <p class="w-100 cambiar_correo_info">
                    <span>¿Este no es tu correo?</span>
                    <a href="#" title="Cambia tu correo" class="enlace_cambiar_correo text-bold">Cambia tu correo</a>
                </p>
            </div>
        </div>
        <div class="correo_actualizado text-center" style="display:none;">
            <div class="icono_actualizacion_correo_exitoso"></div>
            <h1 class="titulo_correo_actualizado text-uppercase">
                ¡Actualizaste <span class="text-bold">tu correo</span>!
            </h1>
            <p class="mensaje_correo_actualizado">
                Continúa visitando somosbelcorp.com<br />y descubre todas la ofertas que tenemos para ti.
            </p>
            <button type="button" class="btn_acept text-uppercase text-bold default-background-color">Ok</button>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PortalConsultoras/MiPerfil/Index.js")"></script>
}


