@{
    ViewBag.Title = "Cambia tu Contrasenia";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/mi-perfil.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/mi-perfil.css")">
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>CAMBIA</span> TU CONTRASEÑA</div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<section class="vista_cambiar_contrasenia">
    <div class="wrapper_content_cambiar_contrasenia">
        <div>
            <a href="#" title="Volver" class="enlace_volver_a_mi_perfil text-uppercase text-bold">
                <span class="icono_back_arrow">
                    <img src="@Url.Content("~/Content/Images/icono_volver.svg")" alt="Volver" />
                </span>
                <span class="enlace_texto">Volver</span>
            </a>
            <div class="form_cambiar_contrasenia">
                <fieldset class="grupo_form_cambio_datos text-uppercase">
                    <div class="w-100">
                        <input id="ContraseniaActual" name="ContraseniaActual" class="w-100" type="password" value="" />
                        <label for="ContraseniaActual" class="w-100">Contraseña Actual</label>
                        <div class="icono_ver_password"></div>
                    </div>
                </fieldset>
                <fieldset class="grupo_form_cambio_datos text-uppercase">
                    <div class="w-100">
                        <input id="NuevaContrasenia" name="NuevaContrasenia" class="w-100" type="password" value="" />
                        <label for="NuevaContrasenia" class="w-100">Nueva contraseña</label>
                        <div class="icono_ver_password"></div>
                    </div>
                </fieldset>
                <fieldset class="grupo_form_cambio_datos text-uppercase">
                    <div class="w-100">
                        <input id="ConfirmarNuevaContrasenia" name="ConfirmarNuevaContrasenia" class="w-100" type="password" value="" />
                        <label for="ConfirmarNuevaContrasenia" class="w-100">Repite la nueva contraseña</label>
                        <div class="icono_ver_password"></div>
                    </div>
                </fieldset>
                <fieldset class="grupo_form_cambio_datos text-uppercase">
                    <div class="w-50 text-left v-alignMiddle">
                        <a href="#" title="Cancelar" class="enlace_cancelar">Cancelar</a>
                    </div>
                    <div class="w-50 text-right v-alignMiddle">
                        <button type="button" class="btn_cambiar_contrasenia text-uppercase text-bold default-background-color mt-31">
                            Cambiar
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="contrasenia_actualizada text-center" style="display:none;">
            <div class="icono_actualizacion_contrasenia_exitosa"></div>
            <h1 class="titulo_contrasenia_actualizada text-uppercase">
                ¡Actualizaste <span class="text-bold">tu contraseña</span>!
            </h1>
            <p class="mensaje_contrasenia_actualizada">
                Continúa visitando somosbelcorp.com<br />y descubre todas la ofertas que tenemos para ti.
            </p>
            <button type="button" class="btn_acept text-uppercase text-bold default-background-color">Ok</button>
        </div>
    </div>
</section>


