USE BelcorpPeru
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpMexico
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpColombia
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpSalvador
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpPuertoRico
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpPanama
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpGuatemala
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpEcuador
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpDominicana
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpCostaRica
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpChile
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

USE BelcorpBolivia
GO

IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE TYPE = 'P' and id = OBJECT_ID('dbo.GetMontoMinimoPorPais'))
	DROP PROC dbo.GetMontoMinimoPorPais
GO

