
.banner_ofertas_masGanadoras {
    width: 258px;
    height: 372px;
    background-color: #bda068;
    padding: 39px;
    display: flex;
    align-items: center;
    margin: 0px 8px;
}

.contenido_ofertas p {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    padding: 0px 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.contenido_ofertas a {
    letter-spacing: 0.2px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    display: block;
    border: 1px solid #fff;
    padding: 14px 0px;
    line-height: normal;
    border-radius: 4px;
}