<div class="row">
    <div class="col-xs-12">
        <div class="material-tabs" style="text-align:left;">
            <a href="javascript:;" class="visible-tab active" style="width: 100%;">CHILE</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">Santiago</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Av. Apoquindo 4501, Edificio Cruz del Sur local 1E Comuna Las Condes - Santiago <small>(Fuera de la estacion del metro Escuela Militar, saliendo por calle Felix de Amesti)</small>
        </div>
        <div class="col-xs-12">
            Lunes - Viernes: 09:30 AM a 07:30 PM<br />Sábado: 10:00 AM a 02:00 PM
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="material-tabs" style="text-align:left;">
            <a href="javascript:;" class="visible-tab active" style="width: 100%;">COLOMBIA</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">Unicentro Bogotá</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            CC Uni Centro Bogotá
        </div>
        <div class="col-xs-12">
            Lunes - Sábado: 10:00 AM - 08:00 PM<br />Domingo: 11:00 AM - 07:00 PM
        </div>
    </div>
</div>

<div class="row mt-10">
    <div class="col-xs-2">Unicentro Cali</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            CC Uni Centro Cali
        </div>
        <div class="col-xs-12">
            Lunes - Viernes: 10:00 AM - 08:00 PM<br />Sábado: 10:00 AM - 09:00 PM<br />Domingo: 11:00 AM - 08:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Santa Fé Bogotá</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            CC Santa Fe Bogotá
        </div>
        <div class="col-xs-12">
            Lunes - Sábado: 10:00 AM - 08:00 PM<br />Domingo: 11:00 AM - 07:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Plaza Las Americas</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Cra 70 b nº 22-13 sur. Frente a la entrada 4 plaza las americas
        </div>
        <div class="col-xs-12">
            Lunes-Viernes: 8:30 AM - 07:00 PM<br />Sábado: 09:00 AM - 06:00 PM<br />Domingo y Feriado: 12:00 PM - 06:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Calle 80</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Av. Calle 80 Nº 92-07
        </div>
        <div class="col-xs-12">
            Lunes-Viernes: 08:30 AM - 07:00 PM<br />Sábado: 09:00 AM - 06:00 PM<br />Domingo y Feriado: 10:00 AM - 04:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Heroes</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Calle 77 Nº 16A-24 B
        </div>
        <div class="col-xs-12">
            Lunes-Viernes: 08:30 AM - 07:00 PM<br />Sábado: 09:00 AM - 06:00 PM<br />Domingo y Feriado: 12:00 PM - 06:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Terminal</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Cra 64 C Nº 79 - 580 lc 9908. Terminal de transporte del norte. Estacion del metro caribe
        </div>
        <div class="col-xs-12">
            Lunes-Viernes: 09:00 AM - 07:00 PM<br />Sábado: 09:00 AM - 06:00 PM<br />Domingo y Feriado: 11:00 AM - 04:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Cali</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Calle 5º 54a -13B Cali
        </div>
        <div class="col-xs-12">
            Lunes-Viernes: 08:30AM - 07:00 PM<br />Sábado: 09:00 AM - 06:00 PM<br />Domingo y Feriado: 12:00 PM - 06:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Burbuja Titan</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            CC Titán, CALLE 80 CON AVENIDA BOYACÁ
        </div>
        <div class="col-xs-12">

        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="material-tabs" style="text-align:left;">
            <a href="javascript:;" class="visible-tab active" style="width: 100%;">COSTA RICA</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">Multiplaza</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            CC Multiplaza Escazu Local 23 - 21
        </div>
        <div class="col-xs-12">
            Lunes - Domingo: 10:00 AM - 09:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Paseo Colón</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Esquina entre Calle # 32 y Av. Central Paseo Colón
        </div>
        <div class="col-xs-12">
            Lunes - Sábado: 09:00 AM - 06:00 PM
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="material-tabs" style="text-align:left;">
            <a href="javascript:;" class="visible-tab active" style="width: 100%;">ECUADOR</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">BC Quito</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Av. 10 de Agosto N°22-93 y Ramirez Dávalos <small>(planta baja, frente a la parada Sta Clara Trolebus)</small>
        </div>
        <div class="col-xs-12">
            Lunes - Sábado: 09:00AM - 07:00PM
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="material-tabs" style="text-align:left;">
            <a href="javascript:;" class="visible-tab active" style="width: 100%;">EL SALVADOR</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">Multiplaza</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            CC Multiplaza, Nivel 1 Local B20
        </div>
        <div class="col-xs-12">
            Lunes - Domingo: 10:00 AM - 08:00 PM
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="material-tabs" style="text-align:left;">
            <a href="javascript:;" class="visible-tab active" style="width: 100%;">GUATEMALA</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">Pradera Concepción</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            CC Pradera Concepción
        </div>
        <div class="col-xs-12">
            Lunes-Jueves: 10:00 AM - 08:00 PM<br />Viernes-Sábado: 10:00 AM - 09:00 PM<br />Domingo: 10:00 AM - 08:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">CC Miraflores</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            CC Miraflores
        </div>
        <div class="col-xs-12">
            Lunes-Jueves: 10:00 AM - 08:00 PM<br />Viernes-Sábado: 10:00 AM - 09:00 PM<br />Domingo: 10:00 AM - 7PM
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="material-tabs" style="text-align:left;">
            <a href="javascript:;" class="visible-tab active" style="width: 100%;">PERÚ</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">Jockey Plaza</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            CC Jockey Plaza
        </div>
        <div class="col-xs-12">
            Lunes a domingo: 11:00 AM - 10:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Faucett</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Av. Elmer Faucett 138, San Miguel
        </div>
        <div class="col-xs-12">
            Lunes-Viernes 10:00 AM - 08:00 PM<br />Sábado 10:00 AM - 02:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Lima Sur</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Av. Santiago de surco (ex tomas marsano) 3707, Surco
        </div>
        <div class="col-xs-12">
            Lunes-Viernes 10:00 AM - 08:00 PM<br />Sábado 10:00 AM - 02:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Lima Centro</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Jr Rufino Torrico 981 (edificio fenix-wilson), Cercado de Lima
        </div>
        <div class="col-xs-12">
            Lunes-Viernes 09:00 AM - 7PM<br />Sábado 10:00 AM - 02:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Trujillo</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Av.Victor Larco Herrera 566-574, Trujillo
        </div>
        <div class="col-xs-12">
            Lunes-Viernes 10:00 AM - 08:00 PM<br />Sábado 10:00 AM - 02:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Arequipa</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Av. Ejercito 310, Yanahuara, Arequipa
        </div>
        <div class="col-xs-12">
            Lunes-Viernes 10:00 AM - 08:00 PM<br />Sábado 10:00 AM - 02:00 PM
        </div>
    </div>
</div>
<div class="row mt-10">
    <div class="col-xs-2">Lima Norte</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Av. Alfredo Mendiola 4150-4152 (esquina con Jr. Las Papayas), San Martin de Porres.
        </div>
        <div class="col-xs-12">
            Lunes-Viernes 09:00 AM - 7PM<br />Sábado 10:00 AM - 02:00 PM
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="material-tabs" style="text-align:left;">
            <a href="javascript:;" class="visible-tab active" style="width: 100%;">PUERTO RICO</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">Plaza Las Américas</div>
    <div class="col-xs-10">
        <div class="col-xs-12">
            Plaza las Américas
        </div>
        <div class="col-xs-12">
            Lunes - Sábado: 09:00 AM - 09:00 PM<br />Domingos: 11:00 AM - 08:00 PM
        </div>
    </div>
</div>