@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="titulo_mobile">
    <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
    &nbsp;&nbsp;PENDIENTES
</div>
<div class="fondo_f2f2f2 triang_pe">
    <div class="pestana_esika"></div><!--PESTANA ESIKA-->
    <div class="pestana_lbel"></div><!--PESTANA LBEL-->
    <div class="content_320">
        <div class="tiempo_restante">Te quedan 5:30:27</div>
        <div class="contacte_cliente">CONTÁCTATE CON FIORELLA </div>
        <div class="texto_detalle_pedido">
            Confirma los productos, precios y forma de entrega. Luego elige cómo atenderás cada producto para que puedas aceptar todo el pedido.
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Nombre</span>
            <span class="nom_his_2"><b>FIORELLA GOYZUETA</b></span>
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Teléfono:</span>
            <span class="nom_his_2 color_belcorp"><b>998787898</b></span>
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Correo:</span>
            <span class="nom_his_2"><b>fiorella@gmail.com</b></span>
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Dirección:</span>
            <span class="nom_his_2"><b>Pardo y Aliaga 456, Mza. 37 Urb. El Golf, San Isidro</b></span>
        </div>
    </div>
    <hr class="clear" />
</div>
<div class="wrapper_resumen_mobile">
    <!--ITEM 1-->
    <div class="detalle_pedido_reservado">
        <div class="left_reservado" style="width:228px;">
            <div class="datos_Reservado">
                <span> 03289 </span>
                <span>ES LEYENDA EDT 100 ML ES LEYENDA EDT 100 ML ES LEYENDA EDT 100 ML</span>
            </div>

        </div>
        <div class="right_reservado">
            <div class="texto_reservado">CANT</div>
            <div class="datos_Reservado"><b>3</b></div>
        </div>
        <hr class="clear"><br>
        <div class="left_reservado">
            <div class="texto_reservado">
                <span>Precio Unitario</span>
                <span>Sub-total</span>
            </div>
        </div>
        <div class="right_reservado">
            <div class="texto_reservado">
                <span>S/. 99.90</span>
                <span>S/. 99.90</span>
            </div>
        </div>
        <hr class="clear">
        <select class="select_detalle">
            <option>¿CÓMO LO ATENDERÁS?</option>
            <option>¿CÓMO LO ATENDERÁS?</option>
            <option>¿CÓMO LO ATENDERÁS?</option>
        </select>
    </div>
    <!--ITEM 2-->
    <div class="detalle_pedido_reservado">
        <div class="left_reservado" style="width:228px;">
            <div class="datos_Reservado">
                <span> 03289 </span>
                <span>ES LEYENDA EDT 100 ML ES LEYENDA EDT 100 ML ES LEYENDA EDT 100 ML</span>
            </div>

        </div>
        <div class="right_reservado">
            <div class="texto_reservado">CANT</div>
            <div class="datos_Reservado"><b>3</b></div>
        </div>
        <hr class="clear"><br>
        <div class="left_reservado">
            <div class="texto_reservado">
                <span>Precio Unitario</span>
                <span>Sub-total</span>
            </div>
        </div>
        <div class="right_reservado">
            <div class="texto_reservado">
                <span>S/. 99.90</span>
                <span>S/. 99.90</span>
            </div>
        </div>
        <hr class="clear">
        <select class="select_detalle">
            <option>¿CÓMO LO ATENDERÁS?</option>
            <option>¿CÓMO LO ATENDERÁS?</option>
            <option>¿CÓMO LO ATENDERÁS?</option>
        </select>
    </div>
    <!--MONTO TOTAL-->
    <div class="left_reservado">
        <div class="importe_final" style="font-size:16px;"><b>TOTAL PEDIDO: </b> </div>
    </div>
    <div class="right_reservado">
        <div class="importe_final" style="font-size:16px"><b>S/. 45,030.00</b></div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora_roja" style="margin-top:20px;"></div>
    <a class="btn_acepto_pedido" href="javascript:;" onclick="javascript: $('#PedidoAceptado').show();">ACEPTO TODO EL PEDIDO</a>
    <a class="btn_rechazo_pedido" href="javascript:;" onclick="javascript: $('#PedidoRechazado').show();">RECHAZO EL PEDIDO</a>
</div>

<!--POP UP PEDIDO ACEPTADO-->
<div id="PedidoAceptado" class="MensajeAlertaMobile">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#PedidoAceptado').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta check_icono_mobile"></div>
        <div class="titulo_compartir">¡PEDIDO <b>ACEPTADO</b>!</div>
        <div class="mensaje_alerta">Has agregado 12 productos a tu pedido</div>
        <a class="btn_ok_mobile" onclick="javascript: $('#PedidoAceptado').hide();">OK</a>
    </div>
</div>
<!--POP UP PEDIDO RECHAZADO-->
<div id="PedidoRechazado" class="MensajeAlertaMobile">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#PedidoRechazado').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="icono_alerta exclamacion_icono_mobile"></div>
        <div class="titulo_compartir">¿VAS A <b>RECHAZAR EL PEDIDO</b>?</div>
        <div class="mensaje_alerta">Si rechazas el pedido vas a perderlo</div>
        <div class="col-xs-12 col-sm-6">
            <a class="btn_acepto_pedido" href="javascript:;" onclick="javascript: $('#PedidoRechazado').hide();">NO, DÉJAME VERLO</a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a class="btn_rechazo_pedido" href="javascript:;" onclick="javascript: $('#PedidoRechazadoDetalle').show();">SI, RECHAZO EL PEDIDO</a>
        </div>
       
    </div>
</div>
<!--POP UP DETALLE PEDIDO RECHAZADO-->
<div id="PedidoRechazadoDetalle" class="MensajeAlertaMobile" style="padding:10px;">
    <div class="content_mensajeAlerta">
        <a class="cerrar_popMobile" href="javascript:;" onclick="javascript: $('#PedidoRechazadoDetalle').hide();">
            <img src="/Content/Images/mobile/Esika/cerrar_04.png" alt="-">
        </a>
        <hr class="clear">
        <div class="titulo_compartir"> <b>CUÉNTANOS PORQUÉ LO RECHAZASTE</b></div>
        <div class="mensaje_alerta">Si rechazas el pedido vas a perderlo</div>
        <div>
            <div class="opcion_rechazo">Yo no puedo atender su pedido.</div>
            <div class="opcion_rechazo">El cliente vive muy lejos.</div>
            <div class="opcion_rechazo">Habían productos agotados en esta campaña.</div>
            <div class="opcion_rechazo">No pasaré pedido esta campaña.</div>
        </div>
        <textarea rows="10" class="comentario_rechazados"> Otros:</textarea>
        <a class="btn_acepto_pedido" href="#">ENVIAR</a>
        

    </div>
</div>
