@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="titulo_mobile">
    <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
    &nbsp;&nbsp;HISTORIAL DE PEDIDOS
</div>
<div class="fondo_f2f2f2 triang_pe">
    <div class="pestana_esika"></div><!--PESTANA ESIKA-->
    <div class="pestana_lbel"></div><!--PESTANA LBEL-->
    <div class="content_320">
        <div class="content_dato_historial">
            <span class="nom_his">Nombre</span>
            <span class="nom_his_2"><b>FIORELLA GOYZUETA</b></span>
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Teléfono:</span>
            <span class="nom_his_2"><b>998787898</b></span>
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Correo:</span>
            <span class="nom_his_2"><b>fiorella@gmail.com</b></span>
        </div>
        <div class="content_dato_historial">
            <span class="nom_his">Dirección:</span>
            <span class="nom_his_2"><b>Pardo y Aliaga 456, Mza. 37 Urb. El Golf, San Isidro</b></span>
        </div>
    </div>
    <hr class="clear" />
</div>
<div class="wrapper_resumen_mobile">
    <!--DETALLE PENDIENTE-->
    <div class="detalle_pedido_reservado">
        <div class="left_reservado" style="width:228px;">
            <div class="datos_Reservado">
                <span> 03289 </span>
                <span>ES LEYENDA EDT 100 ML</span>
            </div>
            
        </div>
        <div class="right_reservado">
            <div class="texto_reservado">CANT</div>
            <div class="datos_Reservado"><b>3</b></div>
        </div>
        <hr class="clear"><br>
        <div class="left_reservado">
            <div class="texto_reservado">
                <span>Precio Unitario</span>
                <span>Subtotal</span>
            </div>            
        </div>
        <div class="right_reservado">
            <div class="texto_reservado">
                <span>S/. 99.90</span>
                <span>S/. 99.90</span>
            </div>            
        </div>
        <hr class="clear" />
        <a href="#" class="btn_ingreso_pedido">INGRESADO AL PEDIDO</a>
    </div>
    <!--2-->
    <div class="detalle_pedido_reservado">
        <div class="left_reservado" style="width:228px;">
            <div class="datos_Reservado">
                <span> 03289 </span>
                <span>ES LEYENDA EDT 100 ML</span>
            </div>

        </div>
        <div class="right_reservado">
            <div class="texto_reservado">CANT</div>
            <div class="datos_Reservado"><b>3</b></div>
        </div>
        <hr class="clear"><br>
        <div class="left_reservado">
            <div class="texto_reservado">
                <span>Precio Unitario</span>
                <span>Subtotal</span>
            </div>
        </div>
        <div class="right_reservado">
            <div class="texto_reservado">
                <span>S/. 99.90</span>
                <span>S/. 99.90</span>
            </div>
        </div>
        <hr class="clear" />
        <a href="#" class="btn_ingreso_pedido">YA LO TENGO</a>
    </div>

    <!--fin-->
    <!--MONTO FINAL-->
    <div class="left_reservado">
        <div class="importe_final" style="font-size:16px;"><b>MONTO TOTAL</b> </div>
    </div>
    <div class="right_reservado">
        <div class="importe_final" style="font-size:16px"><b>S/. 636.60</b></div>
    </div>
    <hr class="clear" />
    <a href="#" class="btn_cancelar_pendientes">QUIERO CANCELAR TODO EL PEDIDO</a>
</div>
