@using Portal.Consultoras.Web.CustomHelpers
@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background: #FFF !important;
        }
    </style>
}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb-next upper">
            <li>
                @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
                    if (mobileConfiguracion.MostrarBotonAtras)
                    {
                        <a href="@Request.UrlReferrer"><i class="icon-angle-left"></i> Volver </a>
                    } }
            </li>
            <li>|</li>
            <li>
                Activar Consultora online
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="block-center">

            <div>
                <h3 class="title-h3">INSCRIPCIÓN CONSULTORA <strong>ONLINE</strong></h3>
            </div>
            <hr class="line-m5"><br>

            <p class="text-center">¡Estás a un paso de ser una Consultora Online!</p>
            <div class="alert-send-message">
                <img src="~/Content/Images/mobile/img-consultoraonline/send-message-success.png" alt="Send message">
                <p>Por favor revisa tu correo para <br> finalizar el proceso</p>
                <div class="line-send-message"></div>
            </div>

            <p class="small">
                Si quieres volver a enviar el correo <a href="javascript:;" id="lnkEnviarCorreo">haz clic aquí</a>. No te olvides de revisar tu carpeta de correos no deseados.
            </p><br>

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var urlEnviaCorreo = '@Url.Action("EnviaCorreo", "ConsultoraOnline", new { area = "Mobile" })';
        var urlBienvenida = '@Url.Action("Index", "Bienvenida", new { area = "Mobile" })';
        var urlIndex = '@Url.Action("Index", "ConsultoraOnline", new { area = "Mobile" })';

        $(document).ready(function () {

            $("#lnkEnviarCorreo").on("click", function (e) {
                ShowLoading();
                jQuery.ajax({
                    type: 'POST',
                    url: urlEnviaCorreo,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            if (data.success == true) {
                                CloseLoading();
                                messageInfo(data.message);
                            }
                            else {
                                CloseLoading();
                                if (data.data == "BIENVENIDA") {
                                    window.location = urlBienvenida;
                                }
                                if (data.data == "ERROR") {
                                    window.location = urlIndex;
                                }
                            }
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            messageInfo(data.message);
                            CloseLoading();
                        }
                    }
                });
            });

        });

    </script>
}