<div id="modal_belcenters" class="fuzemodal" style="display:none">
    <div class="fuzemodal_title">

        <div class="fuzemodal_title_items" onclick="$('#modal_belcenters').fuzemodal('close');">
            <img src="/Content/Images/ConsultoraOnline/close.png" alt="X" />
        </div>
    </div>

    <div class="fuzemodal_content tsm">

        <table>
            <colgroup>
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 300px;">
                <col style="width: 300px;">
            </colgroup>
            <tbody>
                <tr>
                    <th>País</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Horario de atención</th>
                </tr>
                <tr>
                    <td>CHILE</td>
                    <td>Santiago</td>
                    <td>Av. Apoquindo 4501, Edificio Cruz del Sur local 1E Comuna Las Condes - Santiago (Fuera de la estacion del metro Escuela Militar, saliendo por calle Felix de Amesti)</td>
                    <td>Lunes - Viernes: 09:30 AM a 07:30 PM
                    <br>
                        Sábado: 10:00 AM a 02:00 PM</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>COLOMBIA</td>
                    <td>Unicentro Bogotá</td>
                    <td>CC Uni Centro Bogotá</td>
                    <td>Lunes - Sábado: 10:00 AM - 08:00 PM
                    <br>
                        Domingo: 11:00 AM - 07:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Unicentro Cali</td>
                    <td>CC Uni Centro Cali</td>
                    <td>Lunes - Viernes: 10:00 AM - 08:00 PM
                    <br>
                        Sábado: 10:00 AM - 09:00 PM
                    <br>
                        Domingo: 11:00 AM - 08:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Santa Fé Bogotá</td>
                    <td>CC Santa Fe Bogotá</td>
                    <td>Lunes - Sábado: 10:00 AM - 08:00 PM
                    <br>
                        Domingo: 11:00 AM - 07:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Plaza Las Americas</td>
                    <td>Cra 70 b nº 22-13 sur. Frente a la entrada 4 plaza las americas</td>
                    <td>Lunes-Viernes: 8:30 AM - 07:00 PM
                    <br>
                        Sábado: 09:00 AM - 06:00 PM
                    <br>
                        Domingo y Feriado: 12:00 PM - 06:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Calle 80</td>
                    <td>Av. Calle 80 Nº 92-07</td>
                    <td>Lunes-Viernes: 08:30 AM - 07:00 PM
                    <br>
                        Sábado: 09:00 AM - 06:00 PM
                    <br>
                        Domingo y Feriado: 10:00 AM - 04:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Heroes</td>
                    <td>Calle 77 Nº 16A-24 B</td>
                    <td>Lunes-Viernes: 08:30 AM - 07:00 PM
                    <br>
                        Sábado: 09:00 AM - 06:00 PM
                    <br>
                        Domingo y Feriado: 12:00 PM - 06:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Terminal</td>
                    <td>Cra 64 C Nº 79 - 580 lc 9908. Terminal de transporte del norte. Estacion del metro caribe</td>
                    <td>Lunes-Viernes: 09:00 AM - 07:00 PM
                    <br>
                        Sábado: 09:00 AM - 06:00 PM
                    <br>
                        Domingo y Feriado: 11:00 AM - 04:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Cali</td>
                    <td>Calle 5º 54a -13B Cali</td>
                    <td>Lunes-Viernes: 08:30AM - 07:00 PM
                    <br>
                        Sábado: 09:00 AM - 06:00 PM
                    <br>
                        Domingo y Feriado: 12:00 PM - 06:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Burbuja Titan</td>
                    <td>CC Titán , CALLE 80 CON AVENIDA BOYACÁ</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>COSTA RICA</td>
                    <td>Multiplaza</td>
                    <td>CC Multiplaza Escazu Local 23-21</td>
                    <td>Lunes - Domingo: 10:00 AM - 09:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Paseo Colón</td>
                    <td>Esquina entre Calle # 32 y Av. Central Paseo Colón</td>
                    <td>Lunes - Sábado: 09:00 AM - 06:00 PM</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>ECUADOR</td>
                    <td>BC Quito</td>
                    <td>Av. 10 de Agosto N°22-93 y Ramirez Dávalos (planta baja, frente a la parada Sta Clara Trolebus)</td>
                    <td>Lunes - Sábado: 09:00AM - 07:00PM</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>EL SALVADOR</td>
                    <td>Multiplaza</td>
                    <td>CC Multiplaza, Nivel 1 Local B20</td>
                    <td>Lunes - Domingo: 10:00 AM - 08:00 PM</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>GUATEMALA</td>
                    <td>Pradera Concepción</td>
                    <td>CC Pradera Concepción</td>
                    <td>Lunes-Jueves: 10:00 AM  - 08:00 PM
                    <br>
                        Viernes-Sábado: 10:00 AM - 09:00 PM
                    <br>
                        Domingo: 10:00 AM -08:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>CC Miraflores</td>
                    <td>CC Miraflores</td>
                    <td>Lunes-Jueves: 10:00 AM  - 08:00 PM
                    <br>
                        Viernes-Sábado: 10:00 AM - 09:00 PM
                    <br>
                        Domingo: 10:00 AM -7PM</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>PERU</td>
                    <td>Jockey Plaza</td>
                    <td>CC Jockey Plaza</td>
                    <td>Lunes a domingo: 11:00 AM - 10:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Faucett</td>
                    <td>Av.Elmer Faucett 138, San miguel</td>
                    <td>Lunes-Viernes 10:00 AM  - 08:00 PM
                    <br>
                        Sábado 10:00 AM - 02:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lima Sur</td>
                    <td>Av Santiago de surco (ex tomas marsano) 3707, Surco</td>
                    <td>Lunes-Viernes 10:00 AM  - 08:00 PM
                    <br>
                        Sábado 10:00 AM - 02:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lima Centro</td>
                    <td>Jr Rufino Torrico 981 (edificio fenix-wilson), Cercado de Lima</td>
                    <td>Lunes-Viernes 09:00 AM - 7PM
                    <br>
                        Sábado 10:00 AM - 02:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Trujillo</td>
                    <td>Av.Victor Larco Herrera 566-574, Trujillo</td>
                    <td>Lunes-Viernes 10:00 AM  - 08:00 PM
                    <br>
                        Sábado 10:00 AM - 02:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Arequipa</td>
                    <td>Av. Ejercito 310, Yanahuara, Arequipa</td>
                    <td>Lunes-Viernes 10:00 AM  - 08:00 PM
                    <br>
                        Sábado 10:00 AM - 02:00 PM</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lima Norte</td>
                    <td>Av. Alfredo Mendiola 4150-4152 (esquina con Jr. Las Papayas), San Martin de Porres.</td>
                    <td>Lunes-Viernes 09:00 AM - 7PM
                    <br>
                        Sábado 10:00 AM - 02:00 PM</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>PUERTO RICO</td>
                    <td>Plaza Las Américas</td>
                    <td>Plaza las Américas</td>
                    <td>Lunes - Sábado: 09:00 AM -  09:00 PM
                    <br>
                        Domingos: 11:00 AM - 08:00 PM</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
            </tbody>




        </table>

    </div>
</div>


