@model Portal.Consultoras.Web.Models.ClienteContactaConsultoraModel
@{
    ViewBag.Title = "Informacion";
}
@System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/Fuzemodal")
@if (!Model.Afiliado && !Model.EmailActivo && Model.Email != null && !Model.Email.Equals(""))
{
    <div class="field100_co margin_bottom_20 margin_top_20">
        <div class="con_notificacion">
            <img class="position_relative" src="/Content/Images/ConsultoraOnline/ic_no_valido.png" width="44" height="51" alt="" />
            <p class="text_notificacion">
                Todavía no has confirmado tu correo, si quieres que te volvamos a enviar el correo de confirmación
                @Html.ActionLink("haz clic aquí. ", "EnviaCorreo", "ConsultoraOnline", null, new { @class = "link_notificacion" })
            </p>
        </div>
    </div>
}
<div id="slides_activate">
    <div id="activate_banner"><img src="~/Content/Images/ConsultoraOnline/CCC-Banner-fondo.jpg" width="1280" height="454" alt="" /></div>
    <img id="activate_computer" src="~/Content/Images/ConsultoraOnline/CCC_GIF_HIGH_computadora.gif" width="540" height="350" alt="" />
    <div class="cont_activate">
        <h2 class="margin_bottom_20">CONSULTORA <strong>ONLINE</strong></h2>
        Esta es la herramienta que te permitirá recibir pedidos de clientes nuevos y actuales por el App de Catálogos y las páginas web de las marcas.
        @if (!Model.Afiliado)
        {
            <a class="boton_morado margin_top_20" href="/ConsultoraOnline/Inscripcion">ACTÍVATE AQUÍ</a>
        }
    </div>
</div>

<div id="wrap_ver_mas" class="field100_co">
    <a href="#" class="boton_turquesa">
        VER MÁS<br />
        <img src="~/Content/Images/ConsultoraOnline/ic_ver_mas.png" width="21" height="11" alt="" />
    </a>
</div>

<div class="cont_como_funciona">
    <h2 class="text_align_center">¿CÓMO FUNCIONA?</h2>
    <div class="field50_co">
        <div class="cont_pasos float_rigth">
            <img class="img_size_340" src="/Content/Images/ConsultoraOnline/img_funciona_1.png" alt="" />
            <div class="text_morado">1. ACTIVA CONSULTORA ONLINE</div>
            <p class="field90_co margin_left_14">Tu nombre estará disponible en el App de Catálogos de Ésika, L’Bel y Cyzone y en las páginas web de las marcas cuando clientes de tu zona quieran comprar un producto.</p>
        </div>
    </div>
    <div class="field50_co">
        <div class="cont_pasos float_left">
            <img class="img_size_340" src="/Content/Images/ConsultoraOnline/img_funciona_2.png" alt="" />
            <div class="text_azul">2. RECIBE EL PEDIDO Y CONTACTA  AL CLIENTE</div>
            <p class="field90_co margin_left_14">
                Apenas un cliente te escoja, te llegará un correo o una notificación en tu bandeja de Consultora Online informándote que tienes un pedido nuevo,
                junto con los datos de tu cliente. Llámalo, cuéntale quién eres y confirma su pedido.
            </p>
        </div>
    </div>
    <div class="field50_co ">
        <div class="cont_pasos float_rigth">
            <img class="img_size_340" src="/Content/Images/ConsultoraOnline/img_funciona_3.png" alt="" />
            <div class="text_verde">3. ACEPTA AL CLIENTE </div>
            <p class="field90_co margin_left_14">Una vez hayas conversado y confirmado el pedido con tu cliente, deberás ingresar a la sección MIS PEDIDOS  en SomosBelcorp.com y dar click en ACEPTAR PEDIDO. Recuerda que solo tienes 24 horas para aceptar.</p>
        </div>
    </div>
    <div class="field50_co">
        <div class="cont_pasos float_left">
            <img class="img_size_340" src="/Content/Images/ConsultoraOnline/img_funciona_4.png" alt="" />
            <div class="text_turquesa">4. COMIENZA UNA NUEVA RELACIÓN </div>
            <p class="field90_co margin_left_14">
                Ahora que estás en contacto con un nuevo cliente, ¡la relación depende de ti! Aprovecha este primer acercamiento para ganar un cliente frecuente.
                Agrégalo a Whatsapp, mantenlo informado de las siguientes campañas, compártele tus catálogos por la web o invítalos a descargarse el App de Catálogos, y envíale las novedades de nuestras redes sociales.
            </p>
        </div>
    </div>
    @if (!Model.Afiliado)
    {
        <div class="field100_co text_align_center margin_top_72">
            <button class="boton_morado margin_top_20" id="btnInscripcion" onclick="location.href='/ConsultoraOnline/Inscripcion';">ACTIVATE AQUI</button>
        </div>
    }
</div>
<div class="cont_mas_preguntas">
    <h2 class="text_align_center">¿TIENES MÁS PREGUNTAS?</h2>
    <div class="centrar_preguntas">
        <div class="cont_pregunta">
            <h3>¿Qué debo hacer si el precio que el cliente vio en el App de Catálogos o en la página web es diferente al de la campaña actual? </h3>
            <p>El precio que aparece en la web y en el App de Catálogos es el precio regular (precio sin descuento). Ofrece a tus clientes el precio catálogo de tu campaña vigente.</p>
        </div>
        <div class="cont_pregunta">
            <h3>¿Qué hago si el cliente ya no quiere el pedido?</h3>
            Si el cliente te dice que ya no quiere el pedido, puedes cancelarlo tú misma en la sección MIS PEDIDOS.
        </div>
        <div class="cont_pregunta">
            <h3>¿Qué pasa si rechazo el pedido de mi cliente? </h3>
            <p>Puedes ACEPTAR o RECHAZAR el pedido de tu cliente desde la sección MIS PEDIDOS. De esta forma el pedido será asignado a otra Consultora Online.</p>
        </div>
        <div class="cont_pregunta">
            <h3>¿Necesito tener el producto solicitado en stock?</h3>
            <p>
                Esto dependerá del cliente y de cuándo quiere recibir su pedido. Pregúntale si necesita su pedido con urgencia o si podría esperar
                a que sus productos lleguen junto con el pedido que realizas cada campaña.
                Si deseas, también puedes adquirir los productos en uno de nuestros <span id="btnBelcenters" class="link">Belcenters</span>.
            </p>
        </div>
    </div>
</div>
@Html.Partial("_Belcenters")
@section scripts{
    <script src="@Url.Content("~/Scripts/fuzemodal-1.3/fuzemodal-1.3.2.min.js")"></script>
    <script>
        $(document).ready(function () {
            $(".container_landing").css("height", "100%");
            $("#cont_contenido").css("height", "100%");
            $("#modal_belcenters").fuzemodal({ buttonIdOrClass: '#btnBelcenters', speed: 450 });
        });


    </script>
}