@{
    ViewBag.Title = "InscripcionCompleta";
}

<div id="slides_inscripcion">
        
  		<div class="inscribir_consultora">
  		<div class="field100_co text_align_center">
            <h2>INSCRIPCIÓN CONSULTORA <strong>ONLINE</strong></h2>       
    	</div>
               
        <div class="field100_co text_align_center font_size_24 margin_top_90">
           ¡Estás a un paso de ser<br/> una Consultora Online!
 		</div>
        <div class="field100_co text_align_center color_turquesa margin_top_34">
        	<img src="/Content/Images/ConsultoraOnline/ic_mensaje_enviado.png" width="67" height="67" alt=""/>
            
        	<div class="margin_top_34">
                Por favor revisa tu correo
                <br/>
                para finalizar el proceso 
            </div>
        </div>
     <div class="field100_co font_size_12 text_align_center margin_top_150">
       Si quieres volver a enviar el correo @Html.ActionLink("haz clic aquí. ", "EnviaCorreo", "ConsultoraOnline", null, new { @class= "text_color_morado font_size_12" }) No te<br/>olvides de revisar tu carpeta de correos no deseados.
    </div>
  </div>
  
</div>
<script>
    $( document ).ready(function() {
        $("#footer").css("position","fixed");
    }); 
</script>