@section styles{    
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Desktop/SugerenciaPendientes")
}

@{
    ViewBag.Title = "Pendientes";
}

    <div class="position-absolute modal-right top-0 modal-content">
      <div class="container-fluid pr-0">
        <div class="row no-gutters">
          <div class="col">            
            <div class="mobile">
              <div class="container-aceptar-pedidos position-relative">
                <div class="container border-bottom position-sticky top">
                  <div class="row align-items-center">
                    <div class="col">
                      <div class="position-relative text-right mt-3"><a class="close-modal" href="#" alt="Cerrar">Cerrar    </a></div>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col">
                      <h3 class="mt-2 mb-2">Paso 1: Acepta los pedidos que deseas atender      </h3>
                    </div>
                  </div>
                </div>
                <div class="container-flex border-bottom mb-1 background color-third">
                  <div class="container mb-2 pt-2">
                    <div class="row">
                      <div class="col color-text">         <span class="medium t-w700">Producto pedido:              </span><span class="medium">Delineador Líquido Punta Plumón Marrón otoño                </span></div>
                    </div>
                  </div>
                </div>
                <div class="container background color-white">
                  <div class="row align-items-start">
                    <div class="col">
                      <div class="card--content">
                        <div class="row align-items-start">
                          <div class="col-9"><span class="t3 color-text">Katherine Lorenzo</span><span class="medium color-text">999956799</span></div>
                          <div class="col-3 text-right"><a href="#"> <img class="img-fluid icon-32" src="https://i.ibb.co/jTXwndP/trash-3x.png" alt="Borrar"></a></div>
                        </div>
                        <div class="row align-items-center mt-2">
                          <div class="col-4 pr-0">
                            <div class="position-relative">
                              <input type="text" value="1" size="2" maxlength="2"><span class="son position-absolute"><a class="es mas" href="#">+</a><a class="es menos" href="#">-</a></span>
                            </div>
                          </div>
                          <div class="col-8 text-right"><a class="btn full ghost dark-color" href="#">Aceptado</a>
                          </div>
                        </div>
                        <div class="row align-items-center mt-3">
                          <div class="col">
                            <div class="tooltip-primary tooltip-arrow_top p-3"><span class="medium">¿Quieres eliminar este pedido?</span>
                              <div class="row mt-3">
                                <div class="col pl-0 pr-0"><a class="pr-0 btn no-border dark-color" href="#">No, gracias</a></div>
                                <div class="col pl-0"><a class="btn second-color" href="#">Sí, eliminar</a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card--content">
                        <div class="row align-items-start">
                          <div class="col-9"><span class="t3 color-text">Grecia Gabriel</span><span class="medium color-text">999956799</span></div>
                          <div class="col-3 text-right"><a href="#"> <img class="img-fluid icon-32" src="https://i.ibb.co/jTXwndP/trash-3x.png" alt="Borrar"></a></div>
                        </div>
                        <div class="row align-items-center mt-2">
                          <div class="col-4 pr-0">
                            <div class="position-relative">
                              <input type="text" value="1" size="2" maxlength="2"><span class="son position-absolute"><a class="es mas" href="#">+</a><a class="es menos" href="#">-</a></span>
                            </div>
                          </div>
                          <div class="col-8 text-right"><a class="btn full dark-color" href="#">Aceptar</a>
                          </div>
                        </div>
                        <div class="row align-items-center mt-3 hide">
                          <div class="col">
                            <div class="tooltip-primary tooltip-arrow_top p-3"><span class="medium">¿Quieres eliminar este pedido?</span>
                              <div class="row mt-3">
                                <div class="col pl-0 pr-0"><a class="btn no-border dark-color" href="#">No, gracias</a></div>
                                <div class="col"><a class="btn second-color" href="#">Sí, eliminar</a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card--content">
                        <div class="row align-items-start">
                          <div class="col-9"><span class="t3 color-text">Mariana Zumarán</span><span class="medium color-text">999956799</span></div>
                          <div class="col-3 text-right"><a href="#"> <img class="img-fluid icon-32" src="https://i.ibb.co/jTXwndP/trash-3x.png" alt="Borrar"></a></div>
                        </div>
                        <div class="row align-items-center mt-2">
                          <div class="col-4 pr-0">
                            <div class="position-relative">
                              <input type="text" value="1" size="2" maxlength="2"><span class="son position-absolute"><a class="es mas" href="#">+</a><a class="es menos" href="#">-</a></span>
                            </div>
                          </div>
                          <div class="col-8 text-right"><a class="btn full dark-color" href="#">Aceptar</a>
                          </div>
                        </div>
                        <div class="row align-items-center mt-3 hide">
                          <div class="col">
                            <div class="tooltip-primary tooltip-arrow_top p-3"><span class="medium">¿Quieres eliminar este pedido?</span>
                              <div class="row mt-3">
                                <div class="col pl-0 pr-0"><a class="btn no-border dark-color" href="#">No, gracias</a></div>
                                <div class="col"><a class="btn second-color" href="#">Sí, eliminar</a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-flex border mt-2 position-sticky bottom">
                  <div class="container position-absolute top-50">
                    <div class="row align-items-center position-relative">
                      <div class="col">
                        <div class="tooltip-secondary tooltip-arrow_bottom p-3"><span class="tooltip-info medium t-w700">Debes aceptar mínimo un pedido para continuar.</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="container mt-2 mb-2">
                    <div class="row">
                      <div class="col pr-7"><a class="btn ghost full dark-color" href="#" data-action="reject">Rechazar todo</a></div>
                      <div class="col pl-7">
                        <!--Botón activo-->
                        <!--<a class="btn full second-color" href="#">Continuar</a>--><a class="btn full disabled" href="#" disabled>Continuar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">      
            <div class="mobile hide rechazar">    
              <div class="container position-sticky top">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="position-relative text-right mt-3"><a class="close-modal" href="#" alt="Cerrar">Cerrar          </a></div>
                  </div>
                </div>
              </div>
              <div class="vertical-center">                
                <div class="container fix-mt">
                  <div class="row">           
                    <div class="info text-center pr-5 pl-5"><img class="img-fluid" src="https://i.ibb.co/4jKbTqS/error-outline-3x.png" alt="Aviso">
                      <p class="font-big t-w700 mt-2 mb-2">¿Deseas rechazar todos los pedidos de tus clientes?</p>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col ml-3"><a class="btn ghost no-border full" href="#" data-action="not-reject">No, gracias</a></div>
                    <div class="col mr-3"><a class="btn full second-color" href="#">Sí, rechazar</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="contenedor-paso-2" style="left: -330px;">       
            @*<div class="mobile continuar">
              <div class="container-aceptar-pedidos position-relative">
                <div class="container border-bottom position-sticky top">
                  <div class="row align-items-center">
                    <div class="col">
                      <div class="position-relative text-right mt-3"><a class="close-modal" href="#" alt="Cerrar">Cerrar   </a></div>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col">
                      <h3 class="mt-2 mb-1">Paso 2: Elige cómo atender</h3><span class="smaller mb-3">Delineador Líquido Punta Plumón Marrón otoño</span>
                    </div>
                  </div>
                </div>
                <div class="container background color-white">
                  <div class="porGanaMas">
                    <div class="row align-items-center pt-4 pb-3">
                      <div class="col-8 pr-0"><span class="t3 color-text">Por Gana+ S/. 66.60</span><span class="medium color-second">Gana S/. 67.90</span></div>
                      <div class="col"><a class="btn dark-color" href="#">Elegir</a></div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <!-- Clase asociada al plugin slick                -->
                        <div class="conGanaMas card--content mt-0">                       
                          <!-- Bloques para repetir-->
                          <div class="col pr-2 pl-2 color-dark"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Pack 4 Delineadores Líquido Punta Plumón Marrón otoño</span><span class="smaller">S/. 50.80</span></div>
                          <div class="col pr-2 pl-2 color-dark"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Delineador Líquido Punta Plumón Marrón otoño + Natural Care Coconut Ocean *</span><span class="smaller">S/. 15.80</span></div>
                        </div><span class="smaller color-second mt-2 mb-4">* Contiene productos extras</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container border-top">
                  <div class="porCatalogo">
                    <div class="row align-items-center mt-4 mb-3">
                      <div class="col-8 pr-0"><span class="t3 color-text">Por Catálogo+ S/. 134.50                  </span></div>
                      <div class="col"><a class="btn dark-color" href="#">Elegir</a></div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <!-- Clase asociada al plugin slick                -->
                        <div class="conCatalogo card--content mt-0">                       
                          <!-- Bloques para repetir-->
                          <div class="col pr-2 pl-2"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Delineador Líquido Punta Plumón Marrón otoño</span><span class="smaller">S/. 26.90</span></div>
                          <div class="col pr-2 pl-2"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Delineador Líquido Punta Plumón Marrón otoño</span><span class="smaller">S/. 26.90</span></div>
                          <div class="col pr-2 pl-2"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Delineador Líquido Punta Plumón Marrón otoño</span><span class="smaller">S/. 26.90</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container mt-4 mb-32 border-top border-bottom">
                  <div class="porCatalogo">
                    <div class="row align-items-center mt-4 mb-4">
                      <div class="col-8 pr-0"><span class="t3 color-text">Ya lo tengo en stock                 </span></div>
                      <div class="col"><a class="btn dark-color" href="#">Elegir</a></div>
                    </div>
                  </div>
                </div>
                <div class="container-flex position-sticky bottom">
                  <div class="container position-absolute top-50">
                    <div class="row align-items-center position-relative">
                      <div class="col">
                        <div class="tooltip-secondary tooltip-arrow_bottom p-3"><span class="tooltip-info medium t-w700">Debes aceptar mínimo un pedido para continuar.</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="container pt-2 pb-2 border-top">
                    <div class="row mt-2 mb-2">
                      <div class="col"><a class="btn full second-color" href="#">Continuar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>*@
          </div>
        </div>
      </div>
    </div>
    
    <div style="margin-top:20px"></div>
    <div class="container-fluid b-btm btm-2">
      <div class="row no-gutter">
        <div class="col-6 col-md-6 col-lg-4 col-xl-3 return-box">
          <div class="return-skew">       <a class="return-skew_content" href="#">         
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#fff" fill-rule="evenodd" d="M5.174 11l4.585-5.35a1 1 0 1 0-1.518-1.302l-6 7c-.042.048-.063.106-.094.16-.024.042-.055.08-.073.126a.976.976 0 0 0-.073.36L2 12c.001.128.028.25.074.365.018.047.049.084.073.127.031.053.052.111.094.16l6 7a.999.999 0 0 0 1.41.107 1 1 0 0 0 .108-1.41L5.174 13H21a1 1 0 0 0 0-2H5.174z"></path>
              </svg><span>Pedidos por aprobar</span></a></div>
        </div>
      </div>
    </div>
    <div class="container-fluid b-btm">
      <div class="container"> 
        <ul class="nav nav-tabs" id="vpcp" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="por-cliente-tab" data-toggle="tab" href="#por-cliente" role="tab" aria-controls="cliente" aria-selected="true">Vista por cliente</a></li>
          <li class="nav-item"><a class="nav-link" id="por-producto-tab" data-toggle="tab" href="#por-producto" role="tab" aria-controls="producto" aria-selected="false">Vista por producto</a></li>
        </ul>
      </div>
    </div>
    <div class="tab-content" id="vpcpContent">
      <div class="tab-pane fade show active" id="por-cliente" role="tabpanel" aria-labelledby="por-cliente-tab">
        <div class="container-fluid">
          <div class="container">
            <div class="card">
              <div class="card--title">
                <div class="row">
                  <div class="col-3">Nombre del cliente</div>
                  <div class="col-2">Precio total</div>
                  <div class="col-2">Origen</div>
                </div>
              </div>
              <div class="card--content">
                <div class="row">
                  <div class="col-3 t-w700">Katherine Lorenzo</div>
                  <div class="col-2">S/. 140.50</div>
                  <div class="col-2">Catálogo Digital</div>
                  <div class="col text-right"><a class="open-modal btn--arrow" href="#">Confirmar productos</a></div>
                </div>
              </div>
              <div class="card--content">
                <div class="row">
                  <div class="col-3 t-w700">Katherine Lorenzo</div>
                  <div class="col-2">S/. 140.50</div>
                  <div class="col-2">Catálogo Digital</div>
                  <div class="col text-right"><a class="open-modal btn--arrow" href="#">Confirmar productos</a></div>
                </div>
              </div>
              <div class="card--content">
                <div class="row">
                  <div class="col-3 t-w700">Katherine Lorenzo</div>
                  <div class="col-2">S/. 140.50</div>
                  <div class="col-2">Catálogo Digital</div>
                  <div class="col text-right"><a class="open-modal btn--arrow" href="#">Confirmar productos</a></div>
                </div>
              </div>
              <div class="card--content">
                <div class="row">
                  <div class="col-3 t-w700">Katherine Lorenzo</div>
                  <div class="col-2">S/. 140.50</div>
                  <div class="col-2">Catálogo Digital</div>
                  <div class="col text-right"><a class="open-modal btn--arrow" href="#">Confirmar productos</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="por-producto" role="tabpanel" aria-labelledby="por-producto-tab">
        <div class="container-fluid">
          <div class="container">
            <div class="card">
              <div class="card--title">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-3">Nombre del cliente</div>
                  <div class="col-2">Precio total</div>
                  <div class="col-2">Origen</div>
                  <div class="col">Clientes que te lo pidieron</div>
                </div>
              </div>
              <div class="card--content card--content__no-shadow">
                <div class="row">
                  <div class="col-1">img</div>
                  <div class="col-3 t-w700">              <span>x 6 Delineador Líquido Punta Plumón Marrón otoño</span></div>
                  <div class="col-2">S/. 140.50</div>
                  <div class="col-2">Catálogo Digital</div>
                  <div class="col"> 
                    <div class="card--box t-black"><span class="card--box__info">Katherine Lorenzo</span><span class="card--box__info">Grecia  Gabriel</span><span class="card--box__info">Ver más…</span><a class="open-modal btn--arrow btn--arrow__right" href="#">Confirmar productos</a></div>
                  </div>
                </div>
              </div>
              <div class="card--content card--content__no-shadow">
                <div class="row">
                  <div class="col-1">img</div>
                  <div class="col-3 t-w700">              <span>x 6 Delineador Líquido Punta Plumón Marrón otoño</span></div>
                  <div class="col-2">S/. 140.50</div>
                  <div class="col-2">Catálogo Digital</div>
                  <div class="col"> 
                    <div class="card--box t-black"><span class="card--box__info">Katherine Lorenzo</span><span class="card--box__info">Grecia  Gabriel</span><span class="card--box__info">Ver más…</span><a class="open-modal btn--arrow btn--arrow__right" href="#">Confirmar productos</a></div>
                  </div>
                </div>
              </div>
              <div class="card--content card--content__no-shadow">
                <div class="row">
                  <div class="col-1">img</div>
                  <div class="col-3 t-w700">              <span>x 6 Delineador Líquido Punta Plumón Marrón otoño</span></div>
                  <div class="col-2">S/. 140.50</div>
                  <div class="col-2">Catálogo Digital</div>
                  <div class="col"> 
                    <div class="card--box t-black"><span class="card--box__info">Katherine Lorenzo</span><span class="card--box__info">Grecia  Gabriel</span><span class="card--box__info">Ver más…</span><a class="open-modal btn--arrow btn--arrow__right" href="#">Confirmar productos</a></div>
                  </div>
                </div>
              </div>
              <div class="card--content card--content__no-shadow">
                <div class="row">
                  <div class="col-1">img</div>
                  <div class="col-3 t-w700">              <span>x 6 Delineador Líquido Punta Plumón Marrón otoño</span></div>
                  <div class="col-2">S/. 140.50</div>
                  <div class="col-2">Catálogo Digital</div>
                  <div class="col"> 
                    <div class="card--box t-black"><span class="card--box__info">Katherine Lorenzo</span><span class="card--box__info">Grecia  Gabriel</span><span class="card--box__info">Ver más…</span><a class="open-modal btn--arrow btn--arrow__right" href="#">Confirmar productos</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script id="template-paso-2" type="text/x-handlebars-template">
        <div class="mobile continuar">
            <div class="container-aceptar-pedidos position-relative">
                <div class="container border-bottom position-sticky top">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="position-relative text-right mt-3"><a class="close-modal" href="#" alt="Cerrar">Cerrar   </a></div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mt-2 mb-1">Paso 2: Elige cómo atender</h3><span class="smaller mb-3">Delineador Líquido Punta Plumón Marrón otoñoOO</span>
                        </div>
                    </div>
                </div>
                <div class="container background color-white">
                    <div class="porGanaMas">
                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-8 pr-0"><span class="t3 color-text">Por Gana+ S/. 66.60</span><span class="medium color-second">Gana S/. 67.90</span></div>
                            <div class="col"><a class="btn dark-color" href="#">Elegir</a></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- Clase asociada al plugin slick                -->
                                <div class="conGanaMas card--content mt-0">
                                    <!-- Bloques para repetir-->
                                    <div class="col pr-2 pl-2 color-dark"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Pack 4 Delineadores Líquido Punta Plumón Marrón otoño</span><span class="smaller">S/. 50.80</span></div>
                                    <div class="col pr-2 pl-2 color-dark"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Delineador Líquido Punta Plumón Marrón otoño + Natural Care Coconut Ocean *</span><span class="smaller">S/. 15.80</span></div>
                                </div><span class="smaller color-second mt-2 mb-4">* Contiene productos extras</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container border-top">
                    <div class="porCatalogo">
                        <div class="row align-items-center mt-4 mb-3">
                            <div class="col-8 pr-0"><span class="t3 color-text">Por Catálogo+ S/. 134.50                  </span></div>
                            <div class="col"><a class="btn dark-color" href="#">Elegir</a></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- Clase asociada al plugin slick                -->
                                <div class="conCatalogo card--content mt-0">
                                    <!-- Bloques para repetir-->
                                    <div class="col pr-2 pl-2"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Delineador Líquido Punta Plumón Marrón otoño</span><span class="smaller">S/. 26.90</span></div>
                                    <div class="col pr-2 pl-2"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Delineador Líquido Punta Plumón Marrón otoño</span><span class="smaller">S/. 26.90</span></div>
                                    <div class="col pr-2 pl-2"><img class="img-fluid icon-80" src="https://i.ibb.co/MVyDK3j/square-3x.jpg" alt="Producto"><span class="smaller">Delineador Líquido Punta Plumón Marrón otoño</span><span class="smaller">S/. 26.90</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-4 mb-32 border-top border-bottom">
                    <div class="porCatalogo">
                        <div class="row align-items-center mt-4 mb-4">
                            <div class="col-8 pr-0"><span class="t3 color-text">Ya lo tengo en stock                 </span></div>
                            <div class="col"><a class="btn dark-color" href="#">Elegir</a></div>
                        </div>
                    </div>
                </div>
                <div class="container-flex position-sticky bottom">
                    <div class="container position-absolute top-50">
                        <div class="row align-items-center position-relative">
                            <div class="col">
                                <div class="tooltip-secondary tooltip-arrow_bottom p-3"><span class="tooltip-info medium t-w700">Debes aceptar mínimo un pedido para continuar.</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="container pt-2 pb-2 border-top">
                        <div class="row mt-2 mb-2">
                            <div class="col">
                                <a class="btn full second-color" href="#">Continuar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

@section scripts {
    <script>
        $(document).ready(function () {

            SetHandlebars("#template-paso-2", null, "#contenedor-paso-2");


            $('.conGanaMas').slick({
            arrows: true,
            mobileFirst: true,
            infinite: false,
            centerPadding: '40px',
            slidesToShow: 2,
            prevArrow:'<a class="btn btn-circle left white-color" href="#"><</a>',
            nextArrow: '<a class="btn btn-circle right white-color" href="#">></a>'
            // slidesToShow: 2.3
            });      
            
            $('.conCatalogo').slick({
            arrows: true,
            mobileFirst: true,
            infinite: false,
            centerPadding: '40px',
            // slidesToShow: 2
            slidesToShow: 2.3,
            prevArrow:'<a class="btn btn-circle left white-color" href="#"><</a>',
            nextArrow: '<a class="btn btn-circle right white-color" href="#">></a>'
            });


           //
        });
    </script>
    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Desktop/SugerenciaPendientes")
    
    
}