<div class="contenedor_fondo_popup contenido-popup-nuevo-2017" id="PopRDSuscripcion" 
     data-popup-main="" data-popup-function-hide="rdPopup.Cerrar()" style="display:none;">
</div>

<script id="RDPopup-template" type="text/x-handlebars-template">
    <div>
        <div data-popup-body="" class="centrar-estructura" style="{{FondoColorMarco}} {{FondoColor}}">
            <div class="centrar-vertical-contenido">
                <div class="logogndplus">
                    <img src="{{ImagenEtiqueta}}" alt="" />
                </div>
                <div>
                    <img src="{{ImagenPublicidad}}" alt="" />
                </div>
                <div class="clear"></div>
                <p class="primer-texto" style="color:{{MensajeColor}};">
                    {{Mensaje1}}
                </p>
                <p class="segundo-texto" style="color:{{MensajeColor}};">
                    {{Mensaje2}}
                </p>
                <a href="javascript: rdPopup.RedireccionarInformacion(2)" class="btn-popup" style="background:{{BotonColorFondo}};">
                    <span style="color:{{BotonColorTexto}}">{{BotonTexto}}</span>
                </a>
                <div class="cerrargndtxt" onclick="rdPopup.NoMostrar()">NO VOLVER A VER ESTE ANUNCIO</div>
            </div>
            
            <a class="cerrar-popup" data-popup-close=""><img src="@Url.Content("~/Content/Images/close-icon.svg")" alt=""></a>
            
        </div>
        
    </div>
</script>
