<div class="Content_general_pop_up" id="PopRDInscrita" data-popup-main="" style="font-family: 'Lato' !important" data-popup-function-hide="RDPopupCerrar(1)">
    <div class="popup_rd rd_confirmacion" style="width: 620px;" data-popup-body="">
        <a class="cerrar_fichaProducto" style="position: absolute; top: 0px; right: -35px;" data-popup-close="">
            <img src="/Content/Images/cerrar_04_blanco.png" alt="" alternate="" text="">
        </a>
        <div class="popup_rd_cabecera">
            <div class="rd_logo" style="width: 160px;">
                <img src="/Content/Images/RevistaDigital/esika-para-mi-blanco.svg" height="50px">
            </div>
            <div class="popup_cabecera_text" style="top: 22px; left: 190px;">
                <div class="popup_tit">TU NUEVA REVISTA ONLINE PERSONALIZADA</div>
                <div>INGRESA A ÉSIKA PARA MÍ A PARTIR DE LA PRÓXIMA CAMPAÑA</div>
            </div>
        </div>
        <div class="popup_rd_content" style="background-color: #f2eeef">
            <div class="popup_rd_text">
                <div class="popup_saludo" style="font-size: 15px;">¡FELICIDADES <span data-usuario=""></span> ESTÁS INSCRITA!<br>ESTE ES UN GRAN PASO PARA CRECER Y GANAR MÁS</div>
                <div class="rd_desc" style="top: 75px;">A partir de la C-<span data-campania=""></span> tu revista online reemplazará a tu revista impresa.</div>
                <div class="btn_diagonal"><a href="javascript: RDSuscripcionRedireccionar()">SABER MÁS DE ÉSIKA PARA MÍ</a></div>
                <div class="rd_desc" style="top: 210px;">
                    Para cancelar tu inscripción
                    <a href="javascript: RDRedireccionarDesuscripcion()" style="display: inline-block; text-decoration: underline;">ingresa aquí.</a>
                </div>
            </div>
            <img class="rd_cons" src="/Content/Images/RevistaDigital/rd_cons.png" />
        </div>
    </div>
</div>