<div class="contenedor_fondo_popup contenido-popup-nuevo-2017" id="PopRDSuscripcion" data-popup-main="" data-popup-function-hide="RDPopupCerrar()" style="display:none;">
    <div class="centrar-estructura" data-popup-body="" style="box-shadow: inset 0 0 0 5px #c39934; background:transparent;">
        <div class="centrar-vertical-contenido">
            <div class="logogndplus"><img src="~/Content/Images/etiqueta-club-ganamás-blanco-independiente.png" /></div>
            <img src="http://78.media.tumblr.com/f4479113a4e724a2cdf48516550ac76a/tumblr_mmsjreS54O1s5jjtzo1_250.gif" alt="Alternate Text" />
            <p class="primer-texto" style="color:white;">
                CON LA NUEVA HERRAMIENTA DE VOZ
            </p>
            <p class="segundo-texto" style="color:white;">
                ENCUENTRA PRODUCTOS MÁS RÁPIDO
            </p>
            <a href="javascript: RDRedireccionarInformacion(2)" class="btn-popup" style="background:#c39934;">DESCUBRE CÓMO TENERLOS</a>

        </div>
        <a class="cerrar-popup" data-popup-close=""><img src="@Url.Content("~/Content/Images/close-icon.svg")" alt=""></a>
    </div>
    <div class="cerrargndtxt">NO VOLVER A VER ESTE ANUNCIO</div>
</div>