@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.CustomHelpers

@model EstadoCuentaMobilModel
@{
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
}

  <link rel="stylesheet" href="@Url.Content("~/Content/Css/Mobile/Esika/estado-cuenta.css")">


<div class="titulo_mobile nombre_vista">
    @{ var mobileConfiguracion = Html.MobileAppConfiguracion();
        if (mobileConfiguracion.MostrarBotonAtras)
        {
            <a href="@Request.UrlReferrer" class="enlace_regresar catalogosR" title="Regresar"></a>
        }
    }
    FECHAS DE CAMPAÑA
</div>

<div class="block-white">

    <div class="deuda_actual_estado_cuenta">
        <div class="col-xs-12">
            <div class="block-seguimiento" style="text-transform: none;">
                <div class="title-seg"><div class="font-weight-bold" style="font-size:12.5px;">Estás en</div><span class="num-camp-seg"><strong>C-07 </strong></span></div>
                <div class="text-right info-seg">
                    <div class="font-weight-bold">Facturación</div><br><strong>Lunes 05 de Mayo-Jueves 09 Mayo</strong>
                    <div class="font-weight-bold">Fecha de pago pedido C07</div><br><strong>Miércoles 14 Junio</strong>
                </div>
            </div>
        </div>
        <div class="fondo_f2f2f2">
            <div class="pestana_esika"></div>
            <div class="pestana_lbel"></div>
            <div class="tabs-link tab-primary upper">
                <a href="javascript:;" class="mytab" data-campania="201911" data-nropedido="" style="width: 50%">
                    <small>Anteriores</small>
                </a>
                <a href="javascript:;" class="mytab active" data-campania="201907" data-nropedido="1903261213" style="width: 50%">
                    <small>Próximas</small>
                </a>
            </div>
            <div class="col-xs-12">
                <div id="divListaPedidoDetalle_201911_" style="display: none;">
                    <div class="col-xs-12">
                        <div class="icono_alerta exclamacion_icono_mobile"></div>
                        <div class="mensaje_alerta">Hasta el momento no tienes ningún seguimiento de pedido.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="grilla_detalle_movimientos_estado_de_cuenta">
                    <div class="block-seguimiento" style="text-transform: none;">
                        <div class="title-seg"><div class="font-weight-bold" style="font-size:12.5px;">Estás en</div><span class="num-camp-seg"><strong>C-07 </strong></span></div>
                        <div class="text-right info-seg">
                            <div class="font-weight-bold">Facturación</div><br><strong>Lunes 05 de Mayo-Jueves 09 Mayo</strong>
                            <div class="font-weight-bold">Fecha de pago pedido C07</div><br><strong>Miércoles 14 Junio</strong>
                        </div>
                    </div>
                </div>
                <div class="grilla_detalle_movimientos_estado_de_cuenta">
                    <div class="block-seguimiento" style="text-transform: none;">
                        <div class="title-seg"><div class="font-weight-bold" style="font-size:12.5px;">Estás en</div><span class="num-camp-seg"><strong>C-07 </strong></span></div>
                        <div class="text-right info-seg">
                            <div class="font-weight-bold">Facturación</div><br><strong>Lunes 05 de Mayo-Jueves 09 Mayo</strong>
                            <div class="font-weight-bold">Fecha de pago pedido C07</div><br><strong>Miércoles 14 Junio</strong>
                        </div>
                    </div>
                </div>
                <div class="grilla_detalle_movimientos_estado_de_cuenta">
                    <div class="block-seguimiento" style="text-transform: none;">
                        <div class="title-seg"><div class="font-weight-bold" style="font-size:12.5px;">Estás en</div><span class="num-camp-seg"><strong>C-07 </strong></span></div>
                        <div class="text-right info-seg">
                            <div class="font-weight-bold">Facturación</div><br><strong>Lunes 05 de Mayo-Jueves 09 Mayo</strong>
                            <div class="font-weight-bold">Fecha de pago pedido C07</div><br><strong>Miércoles 14 Junio</strong>
                        </div>
                    </div>
                </div>
                <div class="grilla_detalle_movimientos_estado_de_cuenta">
                    <div class="block-seguimiento" style="text-transform: none;">
                        <div class="title-seg"><div class="font-weight-bold" style="font-size:12.5px;">Estás en</div><span class="num-camp-seg"><strong>C-07 </strong></span></div>
                        <div class="text-right info-seg">
                            <div class="font-weight-bold">Facturación</div><br><strong>Lunes 05 de Mayo-Jueves 09 Mayo</strong>
                            <div class="font-weight-bold">Fecha de pago pedido C07</div><br><strong>Miércoles 14 Junio</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



