@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.NotificacionesModel

<div class="logo_lista_detalle">
</div>
<div class="content_datos_gpr">
    <div class="linea_separadora"></div>
    <div class="saludo_gpr">¡Hola @Model.NombreConsultora!</div>
    <div class="cuerpo_gpr">
        <span>@Html.Raw(Model.CuerpoMensaje1)</span>
        <br />
        <div style="width: 80%; text-align: left; margin: 0 auto;">
            <ul class="vineta">
                @foreach (var item in Model.CuerpoDetalles)
                {
                    <li class="vineta1">@Html.Raw(item)</li>
                }
            </ul>
        </div>
        <br />
        <span>@Html.Raw(Model.CuerpoMensaje2)</span>
        <br /><br />
        <div>
            @{
                switch (Model.MotivoRechazo)
                {
                    case Constantes.GPRMotivoRechazo.Mostrar2OpcionesNotificacion:
                        <a class='btnnotificacion' href="javascript:;" onclick="RedirectMenu('Index','Pedido',0,'Pedido')">MODIFICA TU PEDIDO</a>
                        <a class='btnnotificacion' href="javascript:;" onclick="RedirectMenu('Index','MisPagos',0,'')">MIRA LOS LUGARES DE PAGO</a>                        
                        break;
                        
                    case Constantes.GPRMotivoRechazo.ActualizacionDeuda:
                        <a class='btnnotificacion' href="javascript:;" onclick="RedirectMenu('Index','MisPagos',0,'')">MIRA LOS LUGARES DE PAGO</a>
                        break;

                    case Constantes.GPRMotivoRechazo.MontoMinino:
                        <a class='btnnotificacion' href="javascript:;" onclick="RedirectMenu('Index','Pedido',0,'Pedido')">MODIFICA TU PEDIDO</a>                        
                        break;

                    case Constantes.GPRMotivoRechazo.MontoMaximo:
                        <a class='btnnotificacion' href="javascript:;" onclick="RedirectMenu('Index','Pedido',0,'Pedido')">MODIFICA TU PEDIDO</a>                        
                        break;

                    case Constantes.GPRMotivoRechazo.ValidacionMontoMinimoStock:
                        <a class='btnnotificacion' href="javascript:;" onclick="RedirectMenu('Index','Pedido',0,'Pedido')">MODIFICA TU PEDIDO</a>
                        break;
                }
            }
        </div>
            
    </div>
</div>
