@using Portal.Consultoras.Common
@model Portal.Consultoras.Web.Models.NotificacionesModel

<div class="logo_lista_detalle">
</div>
<div class="content_datos_gpr">
    <div class="linea_separadora"></div>
    <div class="saludo_gpr">¡Hola @Model.NombreConsultora!</div>
    <div class="cuerpo_gpr">
        <span>Tu Pedido ha sido rechazado. @Model.DescripcionRechazo</span>
        <div>
            @{
                switch (Model.MotivoRechazo)
                {
                    case Constantes.GPRMotivoRechazo.ActualizacionDeuda:
                <a class='CerrarBanner' href="javascript:;" onclick="RedirectMenu('Index','MisPagos',0,'');cerrarMensajeEstadoPedido()">MIRA LOS LUGARES DE PAGO</a>
                        break;

                    case Constantes.GPRMotivoRechazo.MontoMinino:
                <a class='CerrarBanner' href="javascript:;" onclick="RedirectMenu('Index','Pedido',0,'Pedido');cerrarMensajeEstadoPedido()">MODIFICA TU PEDIDO</a>
                        
                        break;

                    case Constantes.GPRMotivoRechazo.MontoMaximo:
                <a class='CerrarBanner' href="javascript:;" onclick="RedirectMenu('Index','Pedido',0,'Pedido');cerrarMensajeEstadoPedido()">MODIFICA TU PEDIDO</a>
                        
                        break;

                    case Constantes.GPRMotivoRechazo.ValidacionMontoMinimoStock:
                <a class='CerrarBanner' href="javascript:;" onclick="RedirectMenu('Index','Pedido',0,'Pedido');cerrarMensajeEstadoPedido()">MODIFICA TU PEDIDO</a>
                        break;
                }
            }
        </div>
    </div>
</div>
