@model Portal.Consultoras.Web.Models.UrlModel

@{
    ViewBag.Title = "ABCProductos";
}

	<script type='text/javascript'>
	    function adjSize(size) {	                         
	   document.getElementById("myIframe").style.height = size + 40 + "px";     
	    }
	</script>

    <style type="text/css">

    .video {
   position: relative;
   padding-bottom: 100%;
   overflow: hidden;
   height:0;
}
    .video iframe
 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    .divTable
    {
        display:  table;
        width:auto;
    }

    .divRow
    {
       display:table-row;
       width:auto;
       float:right;
    }

    .divCell
    {
        float:left;
        display:table-column;
        width:auto;
    }

    .content {
    width: 50%;
    margin: 0px auto;
}

    #wrapper{
	display:block;
	clear:both;
	margin:0 auto;
	padding-bottom:30px;
	width:903px;	
	}	

    .contentHeader{
	display:block;
	width:904px; 
	margin:0 auto;
	padding-top:30px;
	margin-bottom:40px;
	overflow:hidden;
	}

    h1 {
    font-size: 40px !Important;
    font-family: 'Arial' !Important;
    color: #6c217f !Important;
    font-weight: normal !Important;
    text-transform: none !Important;
    }

    #container{
	display: block;
	margin:0 auto;
	width:100%;
    margin: 35px 0px 0px 0px;
	}

    img
{
	border:none;
    max-width:initial !important;	
}

</style>


<div id="container">
        <div class="cab clearfix">
            <section id="wrapper" class="clearfix">
                <div class="contentHeader" style="margin-bottom: 0; padding-bottom: 20px;">
            <div>
			        <div>
			        <h1 style="float:left">ABC de Productos</h1>
			        </div>
			        <div>
			        <img style="float:right" alt="" src="/Content/Images/logo-belcorp-academia.png" />
			        </div>
		    </div>
                </div>
                <iframe src="@Model.Nombre" style="height:540px" width="100%" scrolling="no" seamless="seamless" id="myIframe" frameBorder="0"></iframe>
            </section>
        </div>
</div>