@using Newtonsoft.Json
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.CustomHelpers
@using Portal.Consultoras.Common;
@using System.Configuration;
@{
    ViewBag.Title = "Bonificaciones";
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);

    string path = ConfigurationManager.AppSettings.Get(Constantes.ConfiguracionManager.BonificacionesURL);
    string token = ViewBag.Token ?? "";
    string _URL_Bonificaciones = string.Format("{0}/ingresar/{1}", path, token);
}

<div class="titulo_mobile">
    <a href="@Request.UrlReferrer" class="enlace_regresar ajustePosicionFlecha" style="display:normal" title="Regresar"></a>
    BONIFICACIONES
</div>
<object type="text/html"
        style="width:100%;height:1000px;"
        data="@_URL_Bonificaciones">
</object>
