@using Newtonsoft.Json
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.CustomHelpers
@using Portal.Consultoras.Common;
@{
    ViewBag.Title = "Bonificaciones";
    var layout = ViewContext.MobileLayout();
    Layout = string.Format("~/Areas/Mobile/Views/Shared/{0}.cshtml", layout);
}
<div class="titulo_mobile">
    <a href="@Request.UrlReferrer" class="enlace_regresar ajustePosicionFlecha" style="display:normal" title="Regresar"></a>
    BONIFICACIONES
</div>
<div class="content_belcorp">
    <div class="pestana_lbel"></div>
    <div class="info_academia">
        <p>
            Por el momento los incentivos no se encuentran configurados en la web.
        </p>
    </div>
</div>
