
USE BelcorpBolivia
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpChile
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpColombia
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpCostaRica
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpDominicana
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpEcuador
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpGuatemala
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpMexico
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpPanama
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpPeru
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpPuertoRico
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO

USE BelcorpSalvador
GO

IF EXISTS(SELECT 1 FROM sys.procedures 
          WHERE Name = 'ListarEstrategiasODD2')
BEGIN
	DROP PROCEDURE dbo.ListarEstrategiasODD2 
END
GO


