@{
    ViewBag.Title = "Index";
}

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-3">
                <div class="titG">País:</div>
                <div class="selectA borde_redondeado">
                    <select name="PaisID" id="ddlPais">
                        <option value="">-- Seleccionar --</option>
                    </select>
                </div>
                <div class="titB">Campaña:</div>
                <div class="selectA borde_redondeado">
                    <select name="CampaniaID" id="ddlCampania">
                        <option value="">-- Seleccionar --</option>
                    </select>
                </div>
                <div class="input_search">
                    <input type="button" value="Buscar" id="btnBuscar" name="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <div class="tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Portada</th>
                            <th>PDF</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Titulo de la noticias</td>
                            <td align="center">
                                <img src="~/Content/Images/prod_grilla_vacio.png" alt="" /></td>
                            <td>noticia.pdf</td>
                            <td class="center">
                                <div align="center">
                                    <a href="#">
                                        <img title="Editar" src="~/Content/Images/Edit.png" />
                                    </a>
                                    &nbsp;
                                    <a href="#">
                                        <img title="Anular" src="~/Content/Images/delete.png" />
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Titulo de la noticias</td>
                            <td align="center">
                                <img src="~/Content/Images/prod_grilla_vacio.png" alt="" /></td>
                            <td>noticia.pdf</td>
                            <td class="center">
                                <div align="center">
                                    <a href="#">
                                        <img title="Editar" src="~/Content/Images/Edit.png" />
                                    </a>
                                    &nbsp;
                                    <a href="#">
                                        <img title="Anular" src="~/Content/Images/delete.png" />
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Titulo de la noticias</td>
                            <td align="center">
                                <img src="~/Content/Images/prod_grilla_vacio.png" alt="" /></td>
                            <td>noticia.pdf</td>
                            <td class="center">
                                <div align="center">
                                    <a href="#">
                                        <img title="Editar" src="~/Content/Images/Edit.png" />
                                    </a>
                                    &nbsp;
                                    <a href="#">
                                        <img title="Anular" src="~/Content/Images/delete.png" />
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Titulo de la noticias</td>
                            <td align="center">
                                <img src="~/Content/Images/prod_grilla_vacio.png" alt="" /></td>
                            <td>noticia.pdf</td>
                            <td class="center">
                                <div align="center">
                                    <a href="#">
                                        <img title="Editar" src="~/Content/Images/Edit.png" />
                                    </a>
                                    &nbsp;
                                    <a href="#">
                                        <img title="Anular" src="~/Content/Images/delete.png" />
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Titulo de la noticias</td>
                            <td align="center">
                                <img src="~/Content/Images/prod_grilla_vacio.png" alt="" /></td>
                            <td>noticia.pdf</td>
                            <td class="center">
                                <div align="center">
                                    <a href="#">
                                        <img title="Editar" src="~/Content/Images/Edit.png" />
                                    </a>
                                    &nbsp;
                                    <a href="#">
                                        <img title="Anular" src="~/Content/Images/delete.png" />
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="div-3">
            <div class="titAuto">
                <div class="input_search">
                    <input type="submit" value="Nuevo" name=""></div>
            </div>
        </div>
    </div>
</div>

<div id="loadingScreen"></div>

<div id="DialogRegistroNoticias" style="display: none;">
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">País:</div>
            <div class="selectA borde_redondeado">
                <select name="PaisID" id="ddlPais">
                    <option value="">-- Seleccionar --</option>
                </select>
            </div>
            <div class="titB">Campaña:</div>
            <div class="selectA borde_redondeado">
                <select name="CampaniaID" id="ddlCampania">
                    <option value="">-- Seleccionar --</option>
                </select>
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Titulo:</div>
            <div class="selectA borde_redondeado">
                <input type="text" />
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Portada:</div>
            <div class="selectA borde_redondeado aligncenter" style="height: 100px;">
                <img src="~/Content/Images/prod_grilla_vacio.png">
            </div>
            <div class="titB">PDF:</div>
            <div style="float: left; width: 248px;">
                <div class="selectA borde_redondeado">
                    <input type="text" />
                </div>

                <div class="selectA borde_redondeado" style="border: none; background: none;">
                    <input type="file" />
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="titB"></div>
            <div class="input_search">
                <input type="button" value="Examinar" id="btnBuscar" name="">
            </div>
        </div>
    </div>
</div>
