<script id="template-demostrador" type="text/x-handlebars-template">
    <article class="ficha__producto" data-item="BuscadorFichasProductos">
        <div class="camino_brillante" data-OrigenPedidoWeb="@ViewBag.origenPedido">
            <div class="row flex-row justify-content-center ml-0 mr-0">
                <div class="camino_brillante" data-estrategia="{{JSON2string this}}"></div>
                <figure class="col-12 pl-0 pr-0 row flex-row ml-0 mr-0 justify-content-center align-items-end ficha__producto__imagen text-center producto_img_home">
                    {{#IsNullOrEmpty FotoProductoMedium '!='}}
                    <img class="" src="{{FotoProductoMedium}}">
                    {{/IsNullOrEmpty}}
                    {{#IsNullOrEmpty FotoProductoMedium '=='}}
                    <img class="" src="@ViewBag.RutaImagenNoDisponible">
                    {{/IsNullOrEmpty}}
                    <a href="javascript:;" class="ver_detalle_carrusel" data-item-tag="verdetalle" onclick="javascript:FichaVerDetalle.OnClickFichaDetalle(event.target)">VER DETALLE</a>
                </figure>
                <div style="display:none;">
                    <div data-demostrador="{{JSON2string this}}"></div>
                </div>
                <div class="col-12 pl-0 pr-0 ficha__producto__descrip d-block mx-auto text-left">
                    <div class="col-12 pl-0 pr-0 ficha__producto__descrip__marca__pais text-uppercase">
                        {{DescripcionMarca}}
                    </div>
                    <div class="col-12 pl-0 pr-0 ficha__producto__descrip__nom text-bold redireccionarFicha">
                        {{DescripcionCUV}}
                    </div>

                </div>
                <div class="row flex-row align-items-end align-items-md-baseline ml-0 mr-0 col-12 pl-0 pr-0 ficha__producto__precio">
                    <div>
                        <div style="text-align: left;padding-right: 15px; font-size: 12px;">Precio normal<br /><div style="text-decoration:line-through;">{{SimboloMoneda}} {{PrecioValorizadoFormat}}</div></div>
                    </div>
                    <div>
                        <div style="font-size: 12px;text-align: left;">Precio para ti <br /><b>{{SimboloMoneda}} {{PrecioCatalogoFormat}}</b></div>
                    </div>
                </div>
                <div class="row flex-row justify-content-between ml-0 mr-0 pl-0 pr-0 ficha__producto__agregar__producto">
                    <div class="col-12 col-md col-lg col-xl pl-0 pr-0">
                        <div class="row flex-row justify-content-between ml-0 mr-0 ficha__producto__rango__cantidad js-no-popup" data-cantidad-contenedor="">
                            <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 menos d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)">
                                <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/menos.svg" alt="">
                            </a>
                            <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" data-input="cantidad" class="col-4 col-md-8 col-lg-8 col-xl-8 pl-0 pr-0 d-block text-center text-bold ValidaNumeral ValidaPasteNumeral js-no-popup">
                            <a class="col-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-0 mas d-block js-no-popup" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)">
                                <img class="d-block js-no-popup" src="https://www.somosbelcorp.com/Content/Images/mas.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7 pl-0 pr-0 flex-grow-1">
                        <a class="boton_Agregalo_home boton_agregar_ofertas boton__agregalo--fichaProducto text-center d-block FichaAgregarProductoBuscador act cartbtn">
                            <i>

                            </i> Agregar
                        </a>
                    </div>
                </div>
                {{#if FlagSeleccionado}}
                <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" data-Agregado="DivAgregado">
                    <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                </div>
                {{else}}
                <div class="col-12 pl-0 pr-0 etiqueta_buscador_producto ficha__producto__etiqueta text-center" style="display:none;" data-Agregado="DivAgregado">
                    <span class="text-uppercase text-bold d-inline-block">Agregado</span>
                </div>
                {{/if}}
            </div>
        </div>
    </article>
</script>