USE BelcorpPeru
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpMexico
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpColombia
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpSalvador
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpPuertoRico
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpPanama
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpGuatemala
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpEcuador
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpDominicana
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpCostaRica
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpChile
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

USE BelcorpBolivia
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'GetHabilitaOpcion')
BEGIN
	DROP PROC [dbo].[GetHabilitaOpcion]
END

