USE BelcorpPeru
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpMexico
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpColombia
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpSalvador
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpPuertoRico
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpPanama
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpGuatemala
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpEcuador
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpDominicana
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpCostaRica
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpChile
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

USE BelcorpBolivia
GO

IF EXISTS (select 1 from sys.objects where type = 'P' and name = 'InsLogEnvioSMS')
BEGIN
	DROP PROC [dbo].[InsLogEnvioSMS]
END
GO

