USE BelcorpPeru
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpMexico
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpColombia
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpSalvador
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpPuertoRico
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpPanama
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpGuatemala
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpEcuador
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpDominicana
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpCostaRica
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpChile
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

USE BelcorpBolivia
GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE TYPE = 'P' AND name = 'InsCodigoGenerado')
BEGIN
	DROP PROC [dbo].[InsCodigoGenerado]
END
GO

