<script id="ofertadeldia-template" type="text/x-handlebars-template">

    <div data-odd-tipoventana="baner" data-OrigenPedidoWeb="{{OrigenPedidoWeb}}">
        <div class="content_oferta_dia" id="banner-odd" data-item="">
            <div class="content_oferta_dia_img izquierda_img">
                <img src="" alt="" style="width: 100%; margin-top: 10px;">
            </div>
            <div class="content_oferta_dia_img derecha_img">
                <img src="" alt="" style="width: 100%; margin-top: 10px;">
            </div>
            <div style="display:none;" data-item-campos="" >
                <input data-estrategia="{{JSON2string prod}}" />
            </div>
            <div class="solo_hoy">
                <div style="height:42px; overflow:hidden;"><img src="{{ImgUrl ImagenSoloHoy}}" id="img-solohoy-odd" alt="" /></div>
                <div class="clock"></div>
                <div class="message"></div>
            </div>
            <div class="producto_set">
                <img src="{{ImgUrl ImagenBanner}}" alt="" id="img-banner-odd" class="imagen_producto" />
            </div>
            <div class="precio_set_dia">
                <div class="nombre_set_oferta">{{NombreOferta}}</div>
                <span>{{SimboloMoneda}} {{PrecioOfertaFormat}}</span>
            </div>
            <div style="float: left">
                <input type="hidden" value="1" style="color:white" size="2" maxlength="2" class="liquidacion_rango_cantidad_pedido ValidaNumeral ValidaPasteNumeral js-no-popup txtcantidad-odd" tabindex="0" data-input="cantidad" >
                <a class="btn_agrega_set_dia"
                   href="javascript:;" 
                   onclick="javascript: EstrategiaAgregarModule.EstrategiaAgregar(event, true, 1);"
                   >AGRÉGALO YA</a>
            </div>
            <a class="btn_detalle_hoy" data-odd-cantidad="{{CantidadProductos}}" onclick="OfertaDelDiaModule.IrContenedorOfertas();">
                <div class="circulo_hoy"><span id="odd_simbolo_ver_ofertas">+</span></div>
                <div class="texto_detalle_set">{{TextoVerDetalle}}</div>
            </a>
        </div>
        <a class="btn_cerrar_ofertaDia" href="javascript:;" onclick="closeOfertaDelDia(this);">x</a>
    </div>

</script>