<script id="ofertadeldia-template" type="text/x-handlebars-template">

    <div class="content_pop_oferta_dia {{ClassDimension}}" id="PopOfertaDia">
        <!-- Titulo Seccion -->
        <div class="parche_presentacion_contenedor parche_presentacion_contenedor_834">
            <div class="rd_volver" style="position: absolute; margin-top: 28px;">
                <a href="javascript: void(0);" data-odd-accion="regresar" style="display:none;">
                    <img class="previous_volver icono_clase_control_color_dinamico" src="/Content/Images/PL20/ld_arrowright_blanco.png" style="width: 8px">
                    <span class="clase_control_color_dinamico" style="top: -4px; position: absolute;left: 15px; font-weight: bold; font-family: 'Lato'; font-size:15px; color:#fff;">VOLVER</span>
                </a>
            </div>
            <div id="imgSoloHoy" style="height:42px; overflow:hidden;float:left;margin-top: 19px; margin-left:-13px; ">
                <img src="{{ImagenSoloHoy}}" alt="" style="width:74%" />
            </div>
            {{#iff SoloUno '==' false}}
            <div class="clock" style="float:right; left: 50px;top: 22px;"></div>
            {{/iff}}
            <div style="clear:both;"></div>
        </div>
        <!-- Fin Titulo Seccion -->

        {{#iff SoloUno}}

        <div class="contenedor_palanca_odd" data-item="">
            <div class="contenedor_odd">
                <div style="display:none;"   data-item-campos="">
                    <input data-estrategia="{{JSON2string prod}}" />
                </div>
                <div class="contenedor_detalle_producto_odd">
                    <div class="img_odd">
                        <img id="img-display-odd" src="{{ImgUrl prod.FotoProducto01}}" alt="" data-img-lazy="1" />
                        <a class="btn_ver_detalle btn_ver_detalle_odd" href="javascript:void(0)" onclick='OnClickFichaDetalle(this)' >VER DETALLE</a>
                    </div>
                    <div class="contenedor_detalle_derecha_odd">
                        <div class="txt_te_quedan">Te quedan:</div>
                        <div class="clock clock_clean clock_palanca_detalle_odd"></div>
                        <div class="nombre_marca marca_odd">
                            <span data-marca_odd>
                                {{#IsNullOrEmpty prod.DescripcionMarca '!='}}
                                {{prod.DescripcionMarca}}
                                {{else}}
                                &ensp;&nbsp;
                                {{/IsNullOrEmpty}}
                            </span>
                        </div>
                        <div class="nombre_oferta_odd">{{prod.DescripcionCompleta}}</div>
                        <div class="precios_odd">
                            {{#iff Precio '>' 0}}
                            <span class="precio_valorizado_odd">{{SimboloMoneda}} {{prod.PrecioTachado}}</span>
                            {{/iff}}
                            <span class="precio_venta_odd">{{SimboloMoneda}} {{prod.PrecioVenta}}</span>
                        </div>

                        {{#iff prod.TipoAccionAgregar '>' 0}}
                        <div class="contenedor_controles_odd">

                            {{#iff prod.TipoAccionAgregar '==' '2'}}
                            <div class="contenedor_agregar_odd">
                                <div class="contenedor_rangos contenedor_rangos_odd" data-cantidad-contenedor="">
                                    <input class="txt_cantidad_pedido_odd ValidaNumeral ValidaPasteNumeral" type="text" value="1" size="2" maxlength="2" data-input="cantidad" data-cantidad-input="-">
                                    <div class="menos_mas_carrusel">
                                        <a class="txt_mas_carrusel txt_mas_odd mas" data-cantidad-agregar="+" onclick="javascript:EstrategiaAgregarModule.AdicionarCantidad(event)" tabindex="0">
                                            <div class="dibujar_linea dibujar_mas dibujar_mas_odd"></div>
                                        </a>
                                        <a class="txt_menos_carrusel menos" data-cantidad-agregar="-" onclick="javascript:EstrategiaAgregarModule.DisminuirCantidad(event)" tabindex="0">
                                            <div class="dibujar_linea dibujar_menos dibujar_menos_odd"></div>
                                        </a>
                                    </div>
                                </div>
                                <a id="btnAgregalo"
                                   class="btn_agregalo btn_agregalo_odd"
                                   @*data-btn-agregar-sr=""*@
                                   href="javascript:;"
                                   onclick="javascript: EstrategiaAgregarModule.EstrategiaAgregar(event, true, 1);">AGRÉGALO</a>
                            </div>
                            {{/iff}}

                            {{#iff prod.TipoAccionAgregar '==' '3'}}
                            <div class="contenedor_elige_tu_tono_odd">
                                <a id="btnElegirTono" class="btn_elige_tu_tono_odd btn_elige_tu_tono_odd_desactivado" data-btn-elegir-tono="">ELIGE TU OPCIÓN</a>
                            </div>
                            {{/iff}}

                            {{#if prod.IsAgregado }}
                            <div class="contenedor_agregado">
                                <div class="txt_agregado">
                                    <span class="span_agregado">AGREGADO</span>
                                    <div class="check_agregado">
                                        <div class="dibujar_linea dibujar_check_agregado"></div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}

                        </div>
                        <div class="clear"></div>
                        {{/iff}}

                    </div>
                </div>
            </div>
        </div>

        {{else}}
        <hr class="clear" />
        <div style="display:none;" data-odd-tipoventana="carrusel" class="content_estrategia_carrusel content_estrategia_carrusel_834">
            <div id="divOddCarrusel" class="contenido contenido_834"></div>
        </div>
        {{/iff}}
    </div>
</script>