@model Portal.Consultoras.Web.Models.CuvAutomaticoModel
@{
    ViewBag.Title = "CUV's Automáticos";
}

<script type="text/javascript">

    function getSelectionStart(el) {


        if (el.selectionStart) {
            return el.selectionStart;
        } else if (document.selection) {

            el.focus();

            var r = document.selection.createRange();
            if (r == null) {
                return 0;
            }

            var re = el.createTextRange(),
                rc = re.duplicate();
            re.moveToBookmark(r.getBookmark());
            rc.setEndPoint('EndToStart', re);

            return rc.text.length;
        }

        return 0;
    }
    function split(val) {
        return val.split(/^[,\s]*|\s*,\s*|[,\s]+$|^$/);
    }

    $(function () {
        //Actualizar el combo box ddlcampania al cambia de item en else combo box ddlpais
        $('#ddlPais').change(function () {
            var Id = $(this).val();
            if (Id != null) {
                waitingDialog({});
                $.ajaxSetup({ cache: false });
                $.getJSON(baseUrl + 'BaseAdm/ObtenerCampaniasPorPais', { PaisID: Id == "" ? 0 : Id }, function (data) {
                    if (checkTimeout(data)) {
                        LimpiarDependencias(Id);
                        if (Id != "") {
                            var ddlCampania = $('#ddlCampania');
                            if (data.lista.length > 0) {
                                for (var item in data.lista) {
                                    if (data.lista[item].CampaniaID) {
                                        ddlCampania.append($('<option/>', {
                                            value: data.lista[item].Codigo,
                                            text: data.lista[item].Codigo
                                        }));
                                    }
                                }
                            }

                        }
                        closeWaitingDialog();
                    }
                });
            }
        });

        $("#ddlCampania").change(function () {
            if (this.selectedIndex == 0)
                this.options[0].value = "0";
            $("#lblmensaje").html("");
            $("#txtCUV").val("");
            $("#VentaID").val("");
            $("#txtDescripcion").text("");
            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        });

        $("#txtCUV")
            .bind("keypress", function (event) {

                var keycode = (event.keyCode ? event.keyCode : event.which);
                var keyChar = String.fromCharCode(keycode);
                var re = /[0-9, ]/;
                return re.test(keyChar);
            })
            .bind("keyup", function (event) {
                if ($("#ddlPais").val() == "") {
                    if (this.value.length == 0) { $("#lblmensaje").html(""); return; }
                    $("#lblmensaje").html("Debe seleccionar un País."); return;
                }
                if ($("#ddlCampania").val() == "") {
                    if (this.value.length == 0) { $("#lblmensaje").html(""); return; }
                    $("#lblmensaje").html("Debe seleccionar una campaña"); return;
                }

                var text_ = split(this.value);
                text_ = text_.unique();
                var array = jQuery.parseJSON($("#VentaID").val()) || { items: [] };
                var a = { items: [] };
                var des = [];
                for (var i = 0; i < text_.length; i++) {
                    if (text_[i] != "") {
                        for (var p in array.items) {
                            if (!array.items.hasOwnProperty(p)) break;
                            if (array.items[+p] && (array.items[+p].codigo == text_[i].toLowerCase())) {
                                a.items.push({ codigo: text_[i].toLowerCase(), descripcion: array.items[+p].descripcion })
                                break;
                            }
                        }
                    }
                }
                $("#VentaID").val(JSON.stringify(a));
                for (var p in a.items) {
                    if (a.items.hasOwnProperty(p))
                        des.push(a.items[+p].descripcion);
                }
                $("#txtDescripcion").text(des.join(",\r"));
            })
            .bind("keydown", function (event) {

                if (event.keyCode == 16 || event.keyCode == 17 || event.keyCode == 18 ||
                    event.keyCode == 190 || event.keyCode == 186 || event.keyCode == 187 ||
                    event.keyCode == 222 || event.keyCode == 191 || event.keyCode == 189) {
                    event.preventDefault();
                    return false;
                }
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).data("autocomplete").menu.active) {
                    event.preventDefault();
                }
            }).autocomplete({
                source: function (request, response) {

                    if (document.selection) {
                        document.getElementById('txtCUV').focus();
                        var range = document.selection.createRange();
                        range.moveStart('character', document.getElementById('txtCUV').value.length);
                        range.moveEnd('character', 0);
                        range.select();
                    }

                    var posicion = getSelectionStart(document.getElementById('txtCUV'));
                    var part = split(request.term.substring(0, posicion));
                    var last = part[part.length - 1] || "";
                    last = jQuery.trim(last.substring(last.lastIndexOf(' ')));

                    $.ajax({
                        url: baseUrl + "CUVAutomatico/FindByCUVs", type: "GET", dataType: "json",
                        data: {
                            campaniaID: $("#ddlCampania").val(),
                            paisID: $('#ddlPais').val(),
                            codigo: last,//request.term,
                            rowCount: 10
                        },
                        success: function (data) {
                            if (checkTimeout(data)) {
                                var array = jQuery.parseJSON($("#VentaID").val()) || { items: [] };
                                response($.map(data, function (item) {
                                    for (var p in array.items) {
                                        if (array.items.hasOwnProperty(p) && array.items[+p].codigo == item.CUV.toLowerCase()) return;
                                    }
                                    if (item && item.CUV) {
                                        return {
                                            label: item.CUV,
                                            value: jQuery.trim(item.Descripcion),
                                            data: item
                                        }; // end return
                                    }
                                }));
                            }
                        }
                    })
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var jsonb = {};
                    arr = { items: [] };
                    var text_ = descrip_ = [];
                    var currval = this.value;
                    if (document.selection) {
                        this.focus();
                        var range = document.selection.createRange();
                        range.moveStart('character', this.value.length);
                        range.moveEnd('character', 0);
                        range.select();
                    }
                    var posicion = getSelectionStart(document.getElementById('txtCUV'));
                    // Si se escribió al inicio del textbox
                    if (currval.length === 0) {
                        text_ = split(this.value);
                        text_.unshift(ui.item.label);
                        jsonb = {
                            codigo: ui.item.label.toLowerCase(),
                            descripcion: ui.item.value
                        };
                        arr.items.push(jsonb);
                    }
                    else if (currval.length === posicion) { // Si se escribió al final del textbox
                        text_ = split(this.value);
                        arr = jQuery.parseJSON($("#VentaID").val()) || { items: [] };
                        if (text_[text_.length - 1] !== "" && arr.items[text_.length - 1])
                            delete arr.items[text_.length - 1];
                        text_.pop();
                        var index = text_.length;
                        while (index >= 0) {
                            if (text_[index] && (text_[index] == "" || text_[index].toLowerCase() == ui.item.label.toLowerCase())) {
                                text_.splice(index, 1);
                                index = text_.length
                            }
                            else index--;
                        }

                        text_.push(ui.item.label)
                        jsonb = {
                            codigo: ui.item.label.toLowerCase(),
                            descripcion: ui.item.value
                        };
                        arr.items.push(jsonb);
                    }
                    else {
                        var ext = this.value.substring(0, posicion);
                        ext = split(ext);
                        ext.pop();
                        var index = ext.length;
                        while (index >= 0) {
                            if (ext[index] && (ext[index] == "" || ext[index].toLowerCase() == ui.item.label.toLowerCase())) {
                                ext.splice(index, 1);
                                index = ext.length
                            }
                            else index--;
                        }
                        ext.push(ui.item.label);

                        var ext2 = this.value.substring(posicion);
                        ext2 = split(ext2);
                        ext2.shift();
                        index = ext2.length;
                        while (index >= 0) {
                            if (ext2[index] && (ext2[index] == "" || ext2[index].toLowerCase() == ui.item.label.toLowerCase())) {
                                ext2.splice(index, 1);
                                index = ext2.length
                            }
                            else index--;
                        }

                        text_ = ext.concat(ext2);
                        jsond2 = jQuery.parseJSON($("#VentaID").val()) || { items: [] };
                        for (var i = 0; i < text_.length; i++) {
                            for (var p in jsond2.items) {
                                if (!jsond2.items.hasOwnProperty(p)) break;
                                if (jsond2.items[+p].codigo == text_[i].toLowerCase()) {
                                    arr.items.push(jsond2.items[+p]); break;
                                }
                                else if (text_[i].toLowerCase() == ui.item.label.toLowerCase()) {
                                    arr.items.push({ codigo: ui.item.label.toLowerCase(), descripcion: ui.item.value });
                                    break;
                                }
                            }
                        }
                    }
                    this.value = text_.join(", ");
                    $("#VentaID").val(JSON.stringify(arr));
                    for (var p in arr.items) {
                        if (arr.items.hasOwnProperty(p))
                            descrip_.push(arr.items[+p].descripcion);
                    }
                    $("#txtDescripcion").text(descrip_.join(",\r"));
                    event.preventDefault();
                    return false;
                },
                minLength: 0,
                multiple: true,
                multipleSeparator: ","
            }).blur(function () {
                // reemplaza los caracteres extraños
                var currv = this.value.replace(/([%&¿#"=¡!<>_\-¨:;´.*+?\/^$|(){}\[\]])/mg, "");
                arr = split(currv);
                index = arr.length;
                while (index >= 0) {
                    if (arr[index] == "") {
                        arr.splice(index, 1);
                        index = arr.length
                    }
                    else index--;
                }
                arr = arr.unique();
                this.value = arr.join(", ");
            });
        
        fnGrilla();

    });

    function LimpiarDependencias(Id) {
        var ddlCampania = $('#ddlCampania');

        ddlCampania.empty();



        ddlCampania.append($('<option/>', {
            value: "",
            text: "-- Seleccionar --"
        }));
    }

    //Carga la Lista de CUV's Automaticos
    function fnGrilla() {
       
        
        jQuery("#list").jqGrid({           
            url: baseUrl + "CUVAutomatico/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
         
                paisID: function () {
                    return $("#ddlPais").val();                    
                },
                campaniaID: function () {
                    return $("#ddlCampania").val();
                }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: [ 'CodCampania', 'CUV', 'Descripción CUV Automatico', 'Opción'],
            colModel: [               
                 {
                     name: 'CampaniaID', index: 'CampaniaID', width: 0, editable: false, align: 'center',
                     hidden: true
                 },
                { name: 'CUV', index: 'CUV', width: 20, editable: true, resizable: false },
                { name: 'Descripcion', index: 'Descripcion', width: 50, editable: true, resizable: false },                
                { name: 'vOpcion', index: 'vOpcion', width: 10, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
           sortname: 'CUV',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 250,
            width: 900,
           pgtext: 'Pág: {0} de {1}',
           altRows: true,
            altclass: 'jQGridAltRowClass',
           loadComplete: function () { },
           gridComplete: function () { }
        });
       
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Del = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "','" + rowObject[1] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Registro' title='Eliminar Registro' border='0' /></a>";
            return Del;
        };

        function LoadCheckState(val, options) {
            var name = options.colModel.name;
            var Page = $(".ui-pg-input").val();

            var Id = name + options.rowId;
            return "<input id=\"" + Id + "\" " + (val == 'SI' ? "checked=\"checked\"" : "") + " type=\"checkbox\" disabled='disabled' offval=\"no\" />";
        };
        var extend = $.jgrid.extend({
            Eliminar: function (Campaniaid, cuv_) {                              
                var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
                if (!elimina)
                    return false;
                waitingDialog({});
                jQuery.ajax({
                    type: 'POST',
                    url: baseUrl + 'CUVAutomatico/Eliminar',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        CampaniaID: Campaniaid,
                        CUV: cuv_
                    }),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            if (data.success == true) {
                                alert(data.message);
                                jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            }
                            else
                                alert(data.message);
                            return false;
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("Ocurrió un error inesperado al momento de eliminar el registro. Consulte con su administrador del sistema para obtener mayor información");
                        }
                    }
                });
                return false;
            }
        });
    }

    //Presionar el boton Agregar
    function Guardar() {
        var paisID = $("#ddlPais").val();
        if (paisID == "") {
            alert("Debe seleccionar un Pais.");
            return false;
        }
        var campaniaID = $("#ddlCampania").val();
        if (campaniaID == "" || campaniaID == "0") {
            alert("Debe seleccionar una Campaña.");
            return false;
        }

        var txtCUV = $("#txtCUV").val();
        if (txtCUV == "") {
            alert("Debe ingresar al menos un Código de venta.");
            return false;
        }

        var msg;
        msg = confirm("¿Está seguro que desea agregar a la lista los Códigos?");

        if (msg) {
            waitingDialog({});
            var params = { paisID: '', campaniaID: '0', codigos: [] };

            params.paisID = paisID;
            params.campaniaID = campaniaID;
            params.codigos.push(txtCUV);
                        
            $.ajax({
                type: "POST",
                url: baseUrl + "CUVAutomatico/Insertar",
                data: JSON.stringify(params),
                contentType: 'application/json',
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();

                        if (data.success == true) {                            
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                            limpiarNC(true);
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("Ocurrió un error inesperado al momento de registrar los datos. Consulte con su administrador del sistema para obtener mayor información");
                    }
                }
            });
        }
        else return false;
    }
    
    function limpiar(elem) {
        var ddlCampania = $("#ddlCampania");
        if (elem) {
            $("#ddlPais")[0].selectedIndex = 0;
            ddlCampania.empty();
            ddlCampania.append($('<option/>', {
                value: 0,
                text: "-- Seleccionar --"
            }));
        }
        ddlCampania[0].selectedIndex = 0;        
        $("#txtCUV").val("");
        $("#VentaID").val("");
        $("#txtDescripcion").text("");
        $("#lblmensaje").html("");
        jQuery("#list").jqGrid("clearGridData");
    }
    function limpiarNC(elem) {
      
        $("#txtCUV").val("");
        $("#VentaID").val("");
        $("#txtDescripcion").text("");
        $("#lblmensaje").html("");
        jQuery("#list").jqGrid("clearGridData");
    }

</script>
<div class="wrap_cab">

    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1>CUV's <span>automáticos</span></h1>
            </div>
        </div>
    </div>

</div>


<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">

            <div class="div-3">
                <div class="titF">País:</div>
                <div class="select_tab">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
            </div>

            <div class="div-3">
                <div class="titF">Campaña:</div>
                <div class="select_tab">
                    @Html.DropDownListFor(model => model.CampaniaID, new SelectList(Model.listaCampanias, "CampaniaID", "NombreCorto"), "-- Seleccionar --", new { id = "ddlCampania" })
                </div>
            </div>

            <div class="div-3">
                <div class="titF">Código(s) de Venta:</div>

                <div class="select_tab">
                    <input id="txtCUV" type="text" />
                    <input type="hidden" id="VentaID" name="VentaID" />
                    <div class="mensaje_tab">
                        <span>Ingresa varios códigos separándolas con una coma.</span>
                    </div>

                </div>
            </div>

            <div style="padding: 0; margin: 15px; overflow: hidden">
                @Html.TextArea("txtDescripcion", new
                    {
                        @readonly = "readonly",
                        maxlength = 500, // or other value 
                        style = "width: 700px; height: 150px"
                    })
            </div>

            <div class="div-3">
                <div class="titB"></div>
                <div class="input_modifica_horizontal">
                    <input id="btnAgregar" type="button" value="Agregar" onclick="Guardar();" />
                </div>
                <div class="input_modifica_horizontal">
                    <input id="btnLimpiar" type="button" value="Limpiar" onclick="limpiar(this);" />
                </div>
            </div>

            <div style="padding: 0; margin: 15px; overflow: hidden">
                <div style="width: 100%; padding: 0 0 0 12px; margin: 0;">
                    <h3>Listado de CUV's automáticos</h3>
                </div>
            </div>

            <div class="grid_tab" style="padding: 0; margin: 0 15px 15px 15px; overflow: hidden">
                <table id="list"></table>
                <div id="pager"></div>
            </div>

            <div id="loadingScreen"></div>

        </div>
    </div>
</div>
