<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" xdt:Transform="Insert" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" xdt:Transform="Insert" />
  </configSections>
  <appSettings>
    <add key="Ambiente" value="PR" xdt:Transform="Replace" />
    <!-- endpoints PROL pruebas -->
    <add key="QA_Prol_AR" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_BO" value="http://200.87.204.148/WS/ServiceStockV2.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_CL" value="http://107.23.56.41/wsPROLSicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_CO" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_CR" value="http://107.23.56.41/wsPROLSicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_EC" value="http://74.81.83.196:8071/WsProlsicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_SV" value="http://107.23.56.41/wsPROLSicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_GT" value="http://107.23.56.41/wsPROLSicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_MX" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_PA" value="http://107.23.56.41/wsPROLSicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_PE" value="http://107.23.56.41/wsPROLSicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_PR" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_DO" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QA_Prol_VE" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- endpoints PROL produccion -->
    <add key="PR_Prol_AR" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_BO" value="http://200.87.204.148/WS/ServiceStockV2.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_CL" value="http://107.23.205.231/wsPROLSicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_CO" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_CR" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_EC" value="http://74.81.83.196:8085/WsProlsicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_SV" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_GT" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_MX" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_PA" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_PE" value="http://107.23.205.231/wsPROLSicc/ServiceStockSsic.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_PR" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_DO" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PR_Prol_VE" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Flags que indican si los checkboxes de catalogos estan deshabilitados por pais, 0=false, 1=true, es false por default -->

    <!-- LBEL, ESIKA, CYZONE, FINART -->
    <add key="CatalogosDeshabilitados_AR" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_BO" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_CL" value="0,0,0,1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_CO" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_CR" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_EC" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_SV" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_GT" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_MX" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_PA" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_PE" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_PR" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_DO" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CatalogosDeshabilitados_VE" value="0,0,0,0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="LogPath" value="D:\LogPortal\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ActivarServSICC" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="URLSignOut" value="https://sts.somosbelcorp.com/adfs/ls/?wa=wsignout1.0" xdt:Transform="InsertAfter
        (/configuration/appSettings/add[@key='ActivarServSICC'])"/>

    <add key="URLSignOutPartner" value="https://federacion.belcorp.biz/adfs/ls/?wa=wsignout1.0" xdt:Transform="InsertAfter
        (/configuration/appSettings/add[@key='URLSignOut'])"/>

    <add key="URLSite" value="https://www.somosbelcorp.com" xdt:Transform="InsertAfter
        (/configuration/appSettings/add[@key='URLSignOutPartner'])"/>

    <add key="DomConsultora" value="SOMOSBELCORP" xdt:Transform="InsertAfter
        (/configuration/appSettings/add[@key='URLSite'])"/>

    <add key="DomBelcorp" value="GALILEO" xdt:Transform="InsertAfter
        (/configuration/appSettings/add[@key='DomConsultora'])"/>

    <add key="SMPTServer" value="smtp.mandrillapp.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMPTUser" value="portalconsultoras" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SMPTPassword" value="Obl1EYrUdOXr9fWuHbRvvw" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_SUPERATE" value="http://142.4.21.244/index/index/param/" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="URL_DUPLACYZONE" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONEBO" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=mKxKQCX36DqKRi9BQRqx6%2f4YOAvOT1OyRSYeptu61zpZKV6CNLNUGJlpkJCoxW22yF8LFajqyribNeFTsIDK27WvPXU2vgzcjvvcJI%2bmvBsW1UXEdQrEM8UEuFw2HEhLSpIxO28YhOayz3uCG7vDZXYFz%2bKX4ntTKji60gkVIIo%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONECO" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=FtdDspnC6FTknCrM5uYHTnPu7FTxOvO%2bsERd8HjA9cSNczhkGsgRAY4jC2fk7ik%2fZuO3C4mfb6hjutjiw1YArwjVtT72JTcTTNP2vbx8gWv%2bpQlwoxafLSYDnIBc%2bDj8KFdObFybxKx0J9a8GnXFjX0zptRPA2hZS1kHMHMANuc%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONEMX" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=Q5qk%2fFk50r5RipmATONhqjJU4nGl%2blkVsgT9oZ6%2fXC%2f7hlCfNSFDpyXMg4R5So0L4JRqcQ68IY59ONiciwWZb%2fumfsXifuICvnecUygYmt%2fQs9thKfYnxpFQ0FWDheHYHW3OSzFt0uV4kvEFdJjArAJwPA1bC9jViNUxpw2vU20%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONEPE" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=Zg9sKSRDWRlmRzy%2fWPp9aO1e%2bWUNPv8fqkKMLajBCx3TkrLMsa83AIbnEmTknePZBc9wY%2bu6FX6X408eXa1h7ZAVxeH8ITjsqCnCRGJuoxOYxC%2fwV6gXm0v65UepE%2fUslUnTfKUJSawIuFjj5DglFHRerFqPGa3zKusQPTnawAw%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONEVZ" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=eeppSVkiz95uZHnaN3ymWpRIsVBD4OMva1%2bpye9DraUJuK5EnfWJ98QgG%2bTu8VMnrgD5LLXeYV5juoPeECOd3ZfJNG7uYnM%2bkZ8LX1L5ONRS5ioeCyPT7YpcEJK7DTHJQrHpMUwkmEjvz1TMIGB9uyDrjctAZmg3mWyNb0lBwV4%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONEAR" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=Ioq%2baZA6olKvvgrJErQy0PsCAsCLswNMAnx4Qu3o%2bel3nm9fKzYcTRTvepji4A4J7LGFSjlaMoklbgNgmDHT3NhF9hBP1FHdAGA0U7sA57LigGxPZH%2bUgj6Fj8hJcF3qR%2fjC2OK4rZGnIhhv4lysdXah8DRJJHibP%2b21w8iXmJw%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONECL" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=ioy6nmUE2qzuYdxfmirzDuO5Qkm0Xvl6fFeOZBPzPSkviFmUm8H93v0z5KYDjsdqavAiT5xNmdwiZot3bSl5x4PaWDYP4A9FdLum%2bQ8XjprQFJuqftwMjau9lepSIl4%2bFuWAVLgOjw0PuqX8%2fT9Gn6oWPQ5SdVyg%2fHsZq2lz7pY%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONECR" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=kdMLJcaN1E06oyfi0HPcYZeyRlFOGv0UEM4mCj12gokv4MA7MUmOnnWmM0R02zbAutvKH0NwoGgEajhyB3LcHcF0gESCL5XQqz7J%2fScUWPlCBxCZppFYB61JsCe1xyp3grn%2bFpUfdHHPjDU2zBFWVzlvFoqqswKO8Ydk1h6TpuA%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONERD" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=MIpYnVHWVWh%2bDVUA2cvNotfguWIZR1bLevarLPphG9ZofvULls3kl5p4Gk8fXd00cptChUK0sARepNQxkTlrevC1MFTkAeIryqNJhAjGHXQwgnRyb6RfPIpX8tXKm6%2f%2fUajLUj7yAJn9ZQ3IA%2fyQtCF6bN0ARdGaPsTFVUKWVg8%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONEEC" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=F77PfEJImyg%2bA6Ati4La%2bxXX2%2facCd%2bC4arWlPB1bvJmKoFVF0JX6Zc1QsJmCwXi2I0MhZ0vju0xUzYtMrbBd9sAm0D0fVWKfx2%2fQtp3KVEiUzZkK7bp%2b1kGAE9gXt3OZkszgNUNJYwxu6LP6u41Snp845B%2bJ0sd0vehcFrJPHg%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONEGT" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=e%2bGYb%2bAMb9fYLZc4vIcpfu8x8zMqwNCf6YPkI8B4DjrJ0hNypC%2f5TOyO2fhh1ywWkiDxaO0jfasZvXaIrCUe6gO5HJYeboTz5jUzPzGRudSRgVq21UVeP5Jfm1sjdGlpaULHTTX7DoahiNNI8quGmdQqguv43ODMIcmc5S73u7M%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONEPR" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=MnWDHcMDf9nSD3A%2b3ZbbGRgo1ExfA%2bfjXNxVTcr6QcZqTdboSwnMX8b%2fUrqRT9pRfpTjF%2fsqsyQYshoCN3qUi9fRfQGkB5mmH4hoSl1TWdy88yJ8jj4DoDEgLl4sT4ncTYisNVmDhHys%2bSZvQYWm1SQTWRsQ1SjwlDphGNsWc2Y%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URL_DUPLACYZONESV" value="http://ws.cyzone.com/Dupla/Index.aspx?enc=A%2bk9xaM20lTXrf6A5XpEJC%2bf13MgA5i2FwM6gCCmZb6uLP81vVdVZ9TuMw0vL%2brp41HI%2bUcMfOsZHvwcSQ4e7SJ%2fGcwzyqajXLq8nNg7bCspEPPgZ4NrCswduIytyOtDFw9G4y%2bLB6DA1bjNo70%2bZYiYpNjYCGRyg%2bUI2WBEr0I%3d" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ida:FederationMetadataLocation" value="https://sts.somosbelcorp.com/FederationMetadata/2007-06/FederationMetadata.xml" xdt:Transform="Insert" />
    <add key="ida:ProviderSelection" value="productionSTS" xdt:Transform="Insert" />
    <add key="ida:Issuer" value="https://sts.somosbelcorp.com/adfs/ls/" xdt:Transform="Insert"/>
    <add key="NewRelic.AppName" value="Portal" xdt:Transform="Insert" />
  </appSettings>

  <location path="WebResource.axd" xdt:Transform="InsertAfter
        (/configuration/location[@path='FederationMetadata'])">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebPages" xdt:Transform="InsertAfter
        (/configuration/location[@path='WebResource.axd'])">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content/Banners" xdt:Transform="InsertAfter
        (/configuration/location[@path='WebPages'])">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content/CargaPedido01" xdt:Transform="InsertAfter
        (/configuration/location[@path='Content/Banners'])">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content/CargaPedido02" xdt:Transform="InsertAfter
        (/configuration/location[@path='Content/CargaPedido01'])">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization xdt:Transform="InsertAfter(/configuration/system.web/globalization)">
      <deny users="?" />
    </authorization>
    <authentication mode="None" xdt:Transform="InsertAfter(/configuration/system.web/authorization)" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="Replace">
    </customErrors>
    <sessionState mode="InProc" cookieless="false" timeout="120" xdt:Transform="Replace" />
    <machineKey decryptionKey="B87D343AC6FF4F021D029D53C62A57263324D2541FDDD9FB" validationKey="3DD8E105E854FE1F89E3ECCDF4360368DCE130CBB8884143D3C7036482AD41B348A4FAE694F15A8F6F6D1458F6AC8ED5A13E866ECEBA5229F9AD13031E5DB7B5" xdt:Transform="InsertAfter
        (/configuration/system.web/pages)" />
  </system.web>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script" xdt:Transform="SetAttributes(accessPolicy)">
    </handlers>
    <modules xdt:Transform="InsertAfter(/configuration/system.webServer/handlers)">
      <remove name="FormsAuthentication" />
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <applicationSettings xdt:Transform="Replace">
    <Portal.Consultoras.Web.Properties.Settings>
      <setting name="Portal_Consultoras_Web_ServiceCatalogosIssuu_MulticatalogoWebService" serializeAs="String">
        <value>http://www.catalogosbelcorp.com/Web/MulticatalogoWebService.asmx</value>
      </setting>
      <setting name="Portal_Consultoras_Web_ServiceOSBBelcorp_BusinessService" serializeAs="String">
        <value>http://172.16.229.102:8102/AppBelcorp-ProBelcorp-context-root/BusinessPort</value>
      </setting>
      <setting name="Portal_Consultoras_Web_ServiceActualizarDatosPrueba_ProcesoMAEPortalConsultoraWebServiceImplService" serializeAs="String">
        <value>http://pelnx71.galileo.ebel:7777/ssiccpeesqas/services/ProcesoMAEPortalConsultoraWebService</value>
      </setting>
      <setting name="Portal_Consultoras_Web_ServicePROL_ServiceStockSsic" serializeAs="String">
        <value>http://107.23.205.231/wsPROLSicc/ServiceStockSsic.asmx</value>
      </setting>
      <setting name="Portal_Consultoras_Web_ServiceOSBBelcorpConsultora_ConsultoraBS" serializeAs="String">
        <!--<value>http://osb.soa.galileo.ebel:8102/belcorp/services/proxy/ffvv/ConsultoraPS</value>-->
        <value>http://osb.soa.galileo.ebel:8102/AppBelcorp-proConsultora-context-root/portConsultoraPSSOAP11?WSDL</value>
      </setting>
      <setting name="Portal_Consultoras_Web_ServiceOSBBelcorpPedido_PedidoBS" serializeAs="String">
        <!--<value>http://osb.soa.galileo.ebel:8102/belcorp/services/proxy/ffvv/PedidoPS</value>-->
        <value>http://osb.soa.galileo.ebel:8102/AppBelcorp-proPedido-context-root/portPedidoPSSOAP11?WSDL</value>
      </setting>
      <setting name="Portal_Consultoras_Web_ServiceActualizaDatosConsultoraPeru_ProcesoMAEPortalConsultoraWebServiceImplService" serializeAs="String">
        <value>http://pelnx12.galileo.ebel:7777/ssiccpeesprd/services/ProcesoMAEPortalConsultoraWebService</value>
      </setting>
      <setting name="Portal_Consultoras_Web_ServiceActualizaDatosConsultoraChile_ProcesoMAEPortalConsultoraWebServiceImplService" serializeAs="String">
        <value>http://pelnx32.galileo.ebel:7777/ssiccclesprd/services/ProcesoMAEPortalConsultoraWebService</value>
      </setting>
      <setting name="Portal_Consultoras_Web_ServiceActualizaDatosConsultoraEcuador_ProcesoMAEPortalConsultoraWebServiceImplService" serializeAs="String">
        <value>http://pelnx47.galileo.ebel:7777/ssicceclbprd/services/ProcesoMAEPortalConsultoraWebService</value>
      </setting>
    </Portal.Consultoras.Web.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClienteService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IUsuarioService" closeTimeout="00:05:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IZonificacionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISACService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IODSService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IContenidoService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISeguridadService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPedidoService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://internal-PRDiELBServiciosConsultoras-87822909.us-east-1.elb.amazonaws.com/PortalWCF/ClienteService.svc" behaviorConfiguration="ServiceViewEventBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClienteService" contract="ServiceCliente.IClienteService" name="BasicHttpBinding_IClienteService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://internal-PRDiELBServiciosConsultoras-87822909.us-east-1.elb.amazonaws.com/PortalWCF/UsuarioService.svc" behaviorConfiguration="ServiceViewEventBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService" contract="ServiceUsuario.IUsuarioService" name="BasicHttpBinding_IUsuarioService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://internal-PRDiELBServiciosConsultoras-87822909.us-east-1.elb.amazonaws.com/PortalWCF/ODSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IODSService" contract="ServiceODS.IODSService" name="BasicHttpBinding_IODSService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://internal-PRDiELBServiciosConsultoras-87822909.us-east-1.elb.amazonaws.com/PortalWCF/SeguridadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadService" contract="ServiceSeguridad.ISeguridadService" name="BasicHttpBinding_ISeguridadService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://internal-PRDiELBServiciosConsultoras-87822909.us-east-1.elb.amazonaws.com/PortalWCF/PedidoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoService" contract="ServicePedido.IPedidoService" name="BasicHttpBinding_IPedidoService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://internal-PRDiELBServiciosConsultoras-87822909.us-east-1.elb.amazonaws.com/PortalWCF/ContenidoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContenidoService" contract="ServiceContenido.IContenidoService" name="BasicHttpBinding_IContenidoService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://internal-PRDiELBServiciosConsultoras-87822909.us-east-1.elb.amazonaws.com/PortalWCF/SACService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISACService" contract="ServiceSAC.ISACService" name="BasicHttpBinding_ISACService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://internal-PRDiELBServiciosConsultoras-87822909.us-east-1.elb.amazonaws.com/PortalWCF/ZonificacionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZonificacionService" contract="ServiceZonificacion.IZonificacionService" name="BasicHttpBinding_IZonificacionService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceViewEventBehavior" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.identityModel xdt:Transform="Insert">
    <identityConfiguration>
      <audienceUris>
        <add value="https://www.somosbelcorp.com/" />
        <add value="https://sts.somosbelcorp.com/adfs/services/trust" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <add thumbprint="FEAA39F75006EDC4D332CD6F88EE17D75E369577" name="http://sts.somosbelcorp.com/adfs/services/trust" />
          <add thumbprint="08ACB2A6B476353A8A54DA98D16C105FBB426CD6" name="http://federacion.belcorp.biz/adfs/services/trust" />
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Insert">
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation issuer="https://sts.somosbelcorp.com/adfs/ls/" realm="https://www.somosbelcorp.com/" requireHttps="true" passiveRedirectEnabled="true" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>