@using Mensajes = Portal.Consultoras.Common.Constantes.MatrizNemotecnicoMensajes
@model Portal.Consultoras.Web.Models.EstrategiaModel
@{
    ViewBag.Title = "Grupo de estrategia";
    const string imagenVacia = "prod_grilla_vacio.png";
}

<div id="DialogGrupoEstrategia" style="display: none;">
  

    <div class="Content_modal">

        <div class="div-3 Content_modal" style="margin-left: 12px; width: 92%; padding-top: 10px; padding-bottom: 0;">
            @*<div style="color: white;">
            <div style="display: inline-block; width: 48%; text-align: center; padding: 8px; background: #00A2E8; border-top-left-radius: 10px;">
                Información CUV Oferta
            </div>
            <div id="divPrecioValorizado" style="display: inline-block; width: 47%; text-align: center; padding: 8px; background: #00A2E8; margin-left: -3px; border-left: 1px #D0D0D0 solid; border-top-right-radius: 10px;">
                Precio Valorizado
            </div>
        </div>
        <div>
            <div style="display: inline-block; width: 48%; text-align: center; padding: 8px; margin-right: -3px; border-right: 1px #D0D0D0 solid;">
                <div style="display: inline-block;">CUV2:</div>
                <div style="display: inline-block;">
                    <input type="text" id="txtCUV2xxx" maxlength="5" class="ValidaNumeral" style="width: 60px;" />
                </div>
                <div style="display: inline-block; padding-left: 40px;">Precio para ti:</div>
                <div style="display: inline-block;">
                    <input type="text" id="txtPrecio2xxx" maxlength="10" class="ValidaNumeral" style="width: 60px;" />
                </div>
            </div>
            <div style="display: inline-block; width: 47%; text-align: center; padding: 8px; margin-right: -3px;">
                <div style="display: inline-block;">Ganancia: </div>
                <div style="display: inline-block; width: 90px;">
                    <input type="text" id="txtGananciaxxx" class="ValidaNumeral" style="width: 60px;" />
                </div>
                <div style="display: inline-block; padding-left: 40px;">Valorizado:</div>
                <div style="display: inline-block;">
                    <input type="text" id="txtPrecioxxxx" style="width: 60px;" />
                </div>
            </div>
        </div>*@
            <table id="listGrupoEstrategia"></table>
            <div id="pagerGrupoEstrategia"></div>
        </div>
         
       
    </div>
</div>
 
    