@using Mensajes = Portal.Consultoras.Common.Constantes.MatrizNemotecnicoMensajes
@model Portal.Consultoras.Web.Models.EstrategiaModel
@{
    ViewBag.Title = "Grupo de estrategia";
    const string imagenVacia = "prod_grilla_vacio.png";
}

<div id="DialogGrupoEstrategia" style="display: none;">
   
    <div class="Content_modal">
 
            <table id="listGrupoEstrategia"></table>
            <div id="pagerGrupoEstrategia"></div>
       
         
       
    </div>

</div>
 
    