@{
    ViewBag.Title = "Consultora Digitales";
}

<div class="wrap_cab">

    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Generar archivo consultoras digitales</h1>
            </div>
        </div>
    </div>

</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper_reg">

            <div class="div-3">
                <div class="titF">Campaña Activa:</div>
                <div class="selectP2 borde_redondeado">
                    <input type="text" id="txtCampaniaActiva" value="@ViewBag.CampaniaActiva" disabled="disabled"/>
                </div>
            </div>


            <div class="div-3">
                <div class="titF"></div>
                <div class="input_add_alert_left">
                    <input type="button" name="" id="btnDescargar" value="Procesar" />
                </div>
            </div>


        </div>
    </div>

</div>
<div id="loadingScreen"></div>



<script type="text/javascript">
    jQuery(function () {


        $("#btnDescargar").click(function () {
            RealizarDescarga();
        });

    });


    function RealizarDescarga() {

        var waiting = {
            message: 'Espere unos minutos, por favor...',
            title: 'Ejecutando Proceso'
        }
        waitingDialog(waiting);

        //var JsonData = {
        //    PaisID: $("#ddlPais").val(),
        //    FechaFacturacion: $("#txtFechaFacturacion").val(),
        //    TipoCronogramaID: $("#cboTipoCronograma").val(),
        //    FlagPedidos: $("#chkMarcarPedidos").is("checked")
        //};

                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'ConsultoraDigitales/RealizarDescarga',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    //data: JSON.stringify(JsonData),
                    async: true,
                    success: function (data) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            if (data.success == true) {
                                alert(data.mensaje);
                            }
                        }
                        else {
                            alert(data.mensaje);
                        }
                    },
                    error: function (data, error) {
                        if (checkTimeout(data)) {
                            closeWaitingDialog();
                            alert("Error del Sistema.");
                        }
                    }

                    });
 
    
    }


    function DescargarCabecera() {
        waitingDialog({});
        setTimeout(function () { DownloadAttachExcelHead() }, 0);
    }


    function DownloadAttachExcelHead() {
        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        var requestedFile = encodeURIComponent($("#hdnfileHeader").val());
        iframe_.setAttribute("src", baseUrl + 'WebPages/Download.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }



</script>