
<link href="@Url.Content("~/Content/Css/Site/Shared/PopupsResponsive/general-popups.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Css/Site/Shared/PopupsResponsive/popup-bloqueo-sistema.css")" rel="stylesheet" />

<div class="popup__wrapper bg__popups__default" id="PopupGeneral">
    <div class="popup__somos__belcorp popup__somos__belcorp--general">
        <div class="popup__somos__belcorp__cabecera">
            <a id="btnCerrar" title="Cerrar" class="popup__somos__belcorp__icono__cerrar">
                <img src="@Url.Content("~/Content/Images/icono_cerrar_popup.svg")" alt="Cerrar Popup" />
            </a>
        </div>
        <div class="popup__somos__belcorp__contenido text-center">
            <p class="text-center popup__somos__belcorp__mensaje popup__somos__belcorp__mensaje--general">
                Aquí iría el mensaje del popup
            </p>
            <button id="btnAceptar" class="border-radius-4 center-block text-center text-bold btn__sb btn__sb__primary--multimarca btn__sb--general">
                Aceptar
            </button>
        </div>
    </div>
</div>
