@*MC - HD-4277 - POPUP PEDIDO GUARDADO CON ÉXITO *@

<link href="@Url.Content("~/Content/Css/Site/Shared/PopupsResponsive/popup-pedidos-pendientes.css")" rel="stylesheet" />

@{
    var isMobile = (bool)ViewData["isMobile"];
    var toFrom = (isMobile) ? "mobile" : "";
}

<div class="popup__wrapper bg__popups__default" id="PopupPedidoGuardado">
    <div class="popup__somos__belcorp popup__somos__belcorp--pedidosPendientes">
        <div class="popup__somos__belcorp__cabecera">
            <a onclick="javascript:$('#PopupPedidosPendientesAlGuardarPedido').fadeOut(100);" title="Cerrar" class="popup__somos__belcorp__icono__cerrar popup__somos__belcorp__icono__cerrar--pedidosPendientes" style="display:none!important;">
                <img src="@Url.Content("~/Content/Images/icono_cerrar_popup.svg")" alt="Cerrar Popup" />
            </a>
        </div>
        <div class="popup__somos__belcorp__contenido text-center">
            <div id="GuardastePedidoConExito" class="d-flex guardaste__tu__pedido--wrapper">
                <div class="popup__somos__belcorp__icono popup__somos__belcorp__icono--pedidoGuardadoConExito center-block">
                    <img class="w-100" src="@Url.Content("~/Content/Images/success_icon.svg")" alt="Guardaste tu pedido con éxito" />
                </div>
                <h2 class="popup__somos__belcorp__titulo popup__somos__belcorp__titulo--pedidoGuardadoConExito">
                    ¡Guardaste tu pedido con éxito!
                </h2>
            </div>
        </div>
    </div>
</div>
@*FIN - MC - HD-4277 - POPUP PEDIDO GUARDADO CON ÉXITO *@