<script>
    function limpiarDatoConsultora() {
        $("#txtDCConsultoraID").val('');
        $("#txtDCCodigoConsultora").val('');
        $("#txtDCCodigoConsultoraVisible").html('');
        $("#txtDCNombreConsultora").html('');
        $("#txtDCRegion").html('');
        $("#txtDCZona").html('');
        $("#txtDCSeccion").html('');

        $("#txtDCDireccion").html('');
        $("#txtDCDireccionEntrega").html('');
        $("#txtDCTelefono1").html('');
        $("#txtDCTelefono2").html('');
        $("#txtDCEmail").html('');
        $("#txtDCValidaEmail").html('');
        $("#txtDCNacimiento").html('');
        $("#txtDCEstadoCivil").html('');
        $("#txtDCOfertaWeb").html('');
        $("#txtDCCatalogoWeb").html('');
    }

    function DatoConsultora() {
        waitingDialog({});
        limpiarDatoConsultora();

        var item = {
            paisID: $("#ddlPais").val(),
            codigoConsultora: jQuery.trim($("#txtCodigos").val()),
            documento: jQuery.trim($("#txtDocumento").val())
        };
        
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'ConsultaDatoConsultora/DatoConsultora',
            data: item,
            async: true,
            success: function (data) {
                
                if (checkTimeout(data) && data) {
                    closeWaitingDialog();
                    $("#txtDCConsultoraID").val(data.consultoraID);
                    $("#txtDCCodigoConsultora").val(data.codigo);
                    $("#txtDCCodigoConsultoraVisible").html(data.codigo);
                    $("#txtDCNombreConsultora").html(data.nombreCompleto);
                    $("#txtDCRegion").html(data.region);
                    $("#txtDCZona").html(data.zona);
                    $("#txtDCSeccion").html(data.seccion);

                    $("#txtDCDireccion").html(data.direccionDomicilio);
                    $("#txtDCDireccionEntrega").html(data.direccionEntrega);
                    $("#txtDCTelefono1").html(data.telefono1);
                    $("#txtDCTelefono2").html(data.telefono2);
                    $("#txtDCEmail").html(data.email);
                    $("#txtDCValidaEmail").html(data.validoEmail);
                    $("#txtDCNacimiento").html(data.fechaNacimiento);
                    $("#txtDCEstadoCivil").html(data.estadoCivil);
                    $("#txtDCOfertaWeb").html(data.ofertaWeb);
                    $("#txtDCCatalogoWeb").html(data.cataloVirtual);
                }
                else {
                    closeWaitingDialog();
                    alert("La consultora no existe.");
                }
                   
            },
            error: function (data, error) {
                if (checkTimeout(data)) {
                    closeWaitingDialog();
                    alert("vuelva intentarlo por favor");
                }
            }
        });
    }
</script>
<div class="div-3">
    <div class="titK">Dirección de domicilio:</div>
    <div class="div-text-grande-mas" id="txtDCDireccion"></div>
</div>
<div class="div-3">
    <div class="titK">Direccion de entrega:</div>
    <div class="div-text-grande-mas" id="txtDCDireccionEntrega"></div>
</div>
<div class="div-3">
    <div class="titK">Correo electronico:</div>
    <div class="div-text-grande" id="txtDCEmail"></div>
    <div class="titK">¿Valido su correo?</div>
    <div class="div-text-pequeno" id="txtDCValidaEmail"></div>
</div>
<div class="div-3">
    <div class="titK">Telefono 1:</div>
    <div class="div-text-mediano" id="txtDCTelefono1"></div>
    <div class="titL">Telefono 2:</div>
    <div class="div-text-mediano"" id="txtDCTelefono2"></div>
</div>
<div class="div-3">
    <div class="titK">Fecha de Nacimiento:</div>
    <div class="div-text-mediano" id="txtDCNacimiento"></div>
    <div class="titL">Estado civil:</div>
    <div class="div-text-mediano" id="txtDCEstadoCivil"></div>
</div>
<div class="div-3">
    <div class="titK">¿Compro oferta Web en última campaña?</div>
    <div class="div-text-mediano" id="txtDCOfertaWeb"></div>
    <div class="titL"><div class="div200">¿Envió catálogos virtuales en última campaña?</div></div>
    <div class="div-text-mediano" id="txtDCCatalogoWeb"></div>
</div>


