<script>
    function limpiarEstadoConsultora() {
        $("#txtECEstado").html('');
        $("#txtECCampanaIngreso").html('');
        $("#txtECMontoMinimo").html('');
        $("#txtECSegmentoConsultora").html('');
        $("#txtECUltimaCampanaFacturada").html('');
        $("#txtECMontoMaximo").html('');
        $("#txtECAutorizaPasarPedido").html('');
        $("#txtECMontoUltimaCampanaFacturada").html('');
        $("#txtECMontoSaldoActual").html('');
        $("#txtECCampanaVigente").html('');
        $("#txtECNumeroPedido").html('');
        $("#txtECFechaFacturacion").html('');
    }
    function EstadoConsultoraForm() {
        limpiarEstadoConsultora();
        $("#cuponNueva").addClass("oculto");

        if ($("#ddlPais").val() == "") {
            alert("Debe seleccionar un País, verifique");
            return false;
        } else if ($("#txtDCCodigoConsultora").val() == "") {
            alert("codigo de consultora invalido, verifique");
            return false;
        } else {
            waitingDialog({});

            var item = {
                paisID: $("#ddlPais").val(),
                codigoConsultora: jQuery.trim($("#txtDCCodigoConsultora").val()),
            };

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ConsultaDatoConsultora/EstadoConsultora',
                data: item,
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        $("#txtECEstado").html(data.estadoConsultora);
                        $("#txtECCampanaIngreso").html(data.campanaIngreso);
                        $("#txtECMontoMinimo").html(data.montoMinimo);
                        $("#txtECSegmentoConsultora").html(data.segmento);
                        $("#txtECUltimaCampanaFacturada").html(data.ultimaCampanaFacturada);
                        $("#txtECMontoMaximo").html(data.montoMaximoPedido);
                        $("#txtECAutorizaPasarPedido").html(data.autorizaPasarPedido);
                        $("#txtECMontoUltimaCampanaFacturada").html(data.montoUltimoPedido);
                        $("#txtECMontoSaldoActual").html(data.montoSaldoActual);
                        $("#txtECCampanaVigente").html(data.campanaVigente);
                        $("#txtECNumeroPedido").html(data.pedidoFacturado);
                        $("#txtECFechaFacturacion").html(data.fechaFacturacion);
                        if (data.numeroCampania <= 4) {
                            EstadoConsultoraGrid();
                            $("#cuponNueva").removeClass("oculto");
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("Servicio no disponible,repetir la busqueda por favor");
                    }
                }
            });
        }
    }

    function EstadoConsultoraGrid() {
        if (jQuery("#listCuponNueva").attr("role") != "grid") {
            jQuery("#listCuponNueva").jqGrid({
                url: baseUrl + 'ConsultaDatoConsultora/ObtenerPackOfertasNuevasPorCampania',
                hidegrid: false,
                datatype: 'json',
                postData: ({
                    campaniaId: jQuery.trim($("#txtECCampanaVigente").val()),
                    consultoraID: jQuery.trim($("#txtDCConsultoraID").val())
                }),
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                colNames: ['Cupón', 'Descripción del Cupón'],
                colModel: [
                    { name: 'OfertaNuevaId', index: 'OfertaNuevaId', width: 70, editable: true, resizable: false },
                    { name: 'DescripcionProd', index: 'DescripcionProd', width: 150, editable: true, resizable: false }
                ],
                jsonReader:
                {
                    root: "rows"
                },
                loadtext: 'Cargando datos...',
                emptyrecords: 'No hay resultados',
                rowNum: 100,
                scrollOffset: 18,
                rowList: [100, 200, 300, 400, 500],
                viewrecords: true,
                multiselect: false,
                height: 'auto',
                width: 930,
                altRows: true,
                footerrow: false,
                altclass: 'jQGridAltRowClass',
                loadComplete: function (data) {
                },
                gridComplete: function () { }
            });

        } else {
            $("#listCuponNueva").jqGrid("clearGridData", true);
            jQuery("#listCuponNueva").trigger('reloadGrid');
        }
    }

</script>

<div class="div-3">
    <div class="titK">Estado Consultora:</div>
    <div class="div-text-mediano" id="txtECEstado"></div>
    <div class="titK">Segmento Consultora:</div>
    <div class="div-text-mediano" id="txtECSegmentoConsultora"></div>
</div>
<div class="div-3">
    <div class="titK">Campaña Ingreso:</div>
    <div class="div-text-mediano" id="txtECCampanaIngreso"></div>
    <div class="titK">Ultima Campaña Facturada:</div>
    <div class="div-text-mediano" id="txtECUltimaCampanaFacturada"></div>

</div>
<div class="div-3">
    <div class="titK">Autoriza Pasar Pedido:</div>
    <div class="div-text-mediano" id="txtECAutorizaPasarPedido"></div>
    <div class="titK">Monto Ultima Campaña Facturada:</div>
    <div class="div-text-mediano" id="txtECMontoUltimaCampanaFacturada"></div>
</div>
<div class="div-3">
    <div class="titK">Monto Maximo:</div>
    <div class="div-text-mediano" id="txtECMontoMaximo"></div>
    <div class="titK">Monto Minimo:</div>
    <div class="div-text-mediano" id="txtECMontoMinimo"></div>
</div>
<div class="div-3">
    <div class="titK">Monto Saldo Actual:</div>
    <div class="div-text-mediano" id="txtECMontoSaldoActual"></div>
</div>

<div id="cuponNueva"class="oculto">
<div class="zonatit">
    <h3>Cupones Programa de nuevas</h3>
</div>
<div class="div-3">
    <div class="titK">Campaña Vigente:</div>
    <div class="div-text-pequeno" id="txtECCampanaVigente"></div>
    <div class="titK">Numero de Pedido:</div>
    <div class="div-text-pequeno" id="txtECNumeroPedido"></div>
    <div class="titK">Fecha Facturacion:</div>
    <div class="div-text-pequeno" id="txtECFechaFacturacion"></div>
</div>
    <section class="container clearfix">
        <table id="listCuponNueva"></table>
    </section>
</div>