<script>
    function GridEstadoCuentaDetalle() {
        if (jQuery.trim($("#txtDCConsultoraID").val()) != "") {
            if (jQuery("#gvwEstadoCuentaDetalle").attr("role") != "grid") {
                jQuery("#gvwEstadoCuentaDetalle").jqGrid({
                    url: baseUrl + "ConsultaDatoConsultora/EstadoCuenta",
                    hidegrid: false,
                    datatype: 'json',
                    postData: ({
                        codigoConsultora: function () { return jQuery.trim($("#txtDCCodigoConsultora").val()); }
                    }),
                    mtype: 'GET',
                    contentType: "application/json; charset=utf-8",
                    colNames: ['Fecha', 'Últimos Movimientos', 'Pedidos', 'Abonos'],
                    colModel: [
                        { name: 'Fecha', index: 'Fecha', width: 20, editable: true, resizable: false },
                        { name: 'Glosa', index: 'Glosa', width: 50, editable: true, resizable: false },
                        { name: 'Cargo', index: 'Cargo', width: 15, editable: true, resizable: false, align: "right" },
                        { name: 'Abono', index: 'Abono', width: 15, editable: true, resizable: false, align: "right" },
                    ],
                    jsonReader:
                        {
                            simbolo: "simbolo",
                            fechaVencimiento: "fechaVencimiento",
                            montoPagar: "montoPagar",
                            root: "rows",
                            page: "page",
                            total: "total",
                            records: "records",
                            repeatitems: true,
                            cell: "cell",
                            id: "id"
                        },
                    loadtext: 'Cargando datos...',
                    recordtext: "{0} - {1} de {2} Registros",
                    emptyrecords: 'No hay resultados',
                    rowNum: 100,
                    scrollOffset: 0,
                    rowList: [100, 200, 300],
                    sortname: 'Fecha',
                    sortorder: 'desc',
                    viewrecords: true,
                    multiselect: false,
                    height: 'Auto',
                    width: '930',
                    pgtext: 'Pág: {0} de {1}',
                    altRows: true,
                    altclass: 'jQGridAltRowClass',
                    loadComplete: function (data) {
                        $("#simbolo").html(data.simbolo);
                        $("#monto-pagar").html(data.montoPagar);
                        $("#fecha-vencimiento").html(data.fechaVencimiento);
                    },
                    gridComplete: function () { }
                });
            } else {
                $("#simbolo").html('');
                $("#monto-pagar").html('');
                $("#fecha-vencimiento").html('');
                $("#gvwEstadoCuentaDetalle").jqGrid("clearGridData", true);
                jQuery("#gvwEstadoCuentaDetalle").trigger('reloadGrid');
            }
            jQuery("#gvwEstadoCuentaDetalle").jqGrid('navGrid', "#pagerEstadoCuenta", { edit: false, add: false, refresh: false, del: false, search: false });
            jQuery("#gvwEstadoCuentaDetalle").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        } else {
            alert("Codigo de Consultora invalido, verificar");
        }
    }
</script>
<div class="container clearfix">
    <table id="gvwEstadoCuentaDetalle"></table>
</div>
<div class="elements2">
    <div class="div-3">
        <div class="total">
            <div style="float: left;">
                Total Monto a Pagar: <span id="simbolo" class="superindice"></span>
            </div>
            <div style="float: left; display: block; padding-top: 4px; text-align: left; min-width: 70px;">
                <span id="monto-pagar" class="num"></span>
            </div>
        </div>
        <div style="width: 20px; float: right;">&nbsp</div>
        <div class="total_white">
            <div style="float: left;">
                Fecha de vencimiento:
            </div>
            <span id="fecha-vencimiento" style="width: 105px; display: block; float: right;" class="num_white">
            </span>
        </div>
    </div>
</div>
