<script type="text/javascript">
    function validarExiteInformacion() //08/09/2014 - Elmer Cangahuala Marquez - R2013-2
    {
        if (jQuery.trim($("#txtDCConsultoraID").val()) == "") {
            alert("Codigo de Consultora invalido, verificar");
            $("#divMensaje").html("");
            $("#ddlCampaniaPaquete").val('--Seleccionar--');
        }
        else {
            fnGrillaPaqueteDocumentario();
        }
    }

    function ControlesPaqueteDocumentario() { 


        $("#btnBuscarPaquete").click(function () {
            
            if (jQuery.trim($("#txtDCConsultoraID").val()) != "") {
                fnGrillaPaqueteDocumentario();
                if (checkTimeout()) {
                    fnGrillaPaqueteDocumentario();
                }
            } else {
                alert("Codigo de Consultora invalido, verificar");
            }

        });

        $("#ddlCampaniaPaquete").change(function () {
            if ($("#ddlCampaniaPaquete").val() != "")
                $("#divMensaje").html("Paquetes encontrados para la campaña: " + $("#ddlCampaniaPaquete").val());
            else
                alert('ola');
                $("#divMensaje").html("");
        });
    }

    function fnGrillaPaqueteDocumentario() {
            if (jQuery("#listPaqueteDocumentario").attr("role") != "grid") {
            jQuery("#listPaqueteDocumentario").jqGrid({
                url: baseUrl + "ConsultaDatoConsultora/PaqueteDocumentario",
                hidegrid: false,
                datatype: 'json',
                postData: ({
                    campania: function () { return jQuery.trim($("#ddlCampaniaPaquete").val()); },
                    codigo: function () { return jQuery.trim($("#txtDCCodigoConsultora").val()); }
                }),
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                colNames: ['Nombre', 'Fecha Facturación', 'Descargar Archivo'],
                colModel: [
                    { name: 'Nombre', index: 'Nombre', width: 100, editable: true, resizable: false },
                    { name: 'FechaFacturacion', index: 'FechaFacturacion', width: 60, editable: true, resizable: false, align: 'center' },
                    { name: 'Ruta', index: 'Ruta', width: 40, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
                ],
                jsonReader:
                    {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: true,
                        cell: "cell",
                        id: "id"
                    },
                pager: jQuery('#pagerPaqueteDocumentario'),
                loadtext: 'Cargando datos...',
                recordtext: "{0} - {1} de {2} Registros",
                emptyrecords: 'No hay resultados',
                rowNum: 10,
                scrollOffset: 0,
                rowList: [10, 20, 30, 40, 50],
                sortname: 'Nombre',
                sortorder: 'asc',
                viewrecords: true,
                multiselect: false,
                width: '930',
                height: 'auto',
                pgtext: 'Pág: {0} de {1}',
                altRows: true,
                altclass: 'jQGridAltRowClass',
                loadComplete: function () { },
                gridComplete: function () { }
            });
        } else {
            $("#listPaqueteDocumentario").jqGrid("clearGridData", true);
            jQuery("#listPaqueteDocumentario").trigger('reloadGrid');
        }
        jQuery("#listPaqueteDocumentario").jqGrid('navGrid', "#pagerPaqueteDocumentario", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#listPaqueteDocumentario").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

        function ShowActions(cellvalue, options, rowObject) {
            var cellValueInt = parseInt(cellvalue);
            var Descargar = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#listPaqueteDocumentario').Descargar('" + rowObject[2] + "');\" >" + "<img src='@Url.Content("~/Content/Images/ico_clientes.png")' alt='Descargar Documento' title='Descargar Documento' border='0' /></a>";
            return Descargar;
        };
    }

    $.jgrid.extend({
        Descargar: function (Ruta) {
            window.open(Ruta, "_blank");
            return false;
        }
    });

    function DownloadAttachPDF() {
        var iframe_ = document.createElement("iframe");
        iframe_.style.display = "none";
        var requestedFile = $("#hdfRutaFTP").val();
        iframe_.setAttribute("src", baseUrl + 'WebPages/DownloadFTP.aspx?file=' + requestedFile);

        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) { // Si es Internet Explorer
            iframe_.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        waitingDialog({});
                        break;
                    case "complete":
                    case "interactive":
                    case "uninitialized":
                        closeWaitingDialog();
                        break;
                    default:
                        closeWaitingDialog();
                        break;
                }
            };
        }
        else {
            // Si es Firefox o Chrome
            $(iframe_).ready(function () {
                closeWaitingDialog();
            });
        }
        document.body.appendChild(iframe_);
    }

</script>

<div class="div-3">
    <div class="titG" style="width: 200px;">Seleccionar Campaña:</div>
    <div class="selectA borde_redondeado">
        @Html.DropDownList("ddlCampaniaPaquete", new SelectList(Model.listaCampania, "CampaniaID", "CampaniaID"), "-- Seleccionar --")
    </div>
    <div class="input_search">
        <input type="submit" name="" id="btnBuscarPaquete" value="Buscar" />
    </div>
</div>
<div class="wrap">
    <section class="container clearfix" style="min-height: 300px;">
        <div id="divMensaje" style="color: #702789; font-size: 12px; text-align: center;"></div>
        <table id="listPaqueteDocumentario"></table>
        <div id="pagerPaqueteDocumentario"></div>
    </section>
    <input type="hidden" id="hdfRutaFTP" />
</div>
<div style="color: #702789; font-size: 12px; text-align: center; background: #fff;">
    Ud. necesita tener un lector de archivos PDF instalado para poder visualizar los paquetes documentarios. De no tener uno, puede descargalo <a href="http://get.adobe.com/es/reader/" target="_blank">Aquí</a>
</div>
<div id="loadingScreen"></div>

