<script type="text/javascript">
    function fnGrillaPedidoFacturado() {
        $("#detallePedidoOCR").addClass('oculto');
        $("#detallePedidoFacturado").addClass('oculto');
        $("#detallePedidoWeb").addClass('oculto');
        if (jQuery.trim($("#txtDCConsultoraID").val()) != "") {
            if (jQuery("#listPedidoFacturado").attr("role") != "grid") {
                jQuery("#listPedidoFacturado").jqGrid({
                    url: baseUrl + "ConsultaDatoConsultora/PedidoFacturado",
                    hidegrid: false,
                    datatype: 'json',
                    mtype: 'GET',
                    postData: ({
                        codigoConsultora: function () { return jQuery.trim($("#txtDCCodigoConsultora").val()); }
                    }),
                    contentType: "application/json; charset=utf-8",
                    colNames: ['Campaña', 'Origen de Pedido', 'Total Pedido', 'Cantidad Productos', 'Fecha Facturación', 'Flete', 'MontoTotal'],
                    colModel: [
                        { name: 'CampaniaID', index: 'Campaña', width: 100, editable: true, resizable: false, formatter: SeleccionarCampania },
                        { name: 'EstadoPedidoDesc', index: 'Origen', width: 80, editable: true, resizable: false },
                        { name: 'ImporteTotal', index: 'ImporteTotal', width: 80, editable: true, resizable: false },
                        { name: 'CantidadProductos', index: 'CantidadProductos', width: 80, editable: true, resizable: false },
                        { name: 'CodigoUsuarioCreacion', index: 'Fecha de Facturación', width: 100, editable: true, resizable: false, },
                        { name: 'Direccion', index: 'Flete', width: 0, editable: false, align: 'center', hidden: true },
                        { name: 'MontoTotal', index: 'MontoTotal', width: 0, editable: false, align: 'center', hidden: true }
                    ],
                    jsonReader:
                        {
                            root: "rows",
                            page: "page",
                            total: "total",
                            records: "records",
                            repeatitems: true,
                            cell: "cell",
                            id: "id"
                        },
                    pager: jQuery('#pagerPedidoFacturado'),
                    loadtext: 'Cargando datos...',
                    recordtext: "{0} - {1} de {2} Registros",
                    emptyrecords: 'No hay resultados',
                    rowNum: 10,
                    scrollOffset: 0,
                    rowList: [10, 20, 30, 40, 50],
                    sortname: 'CampaniaID',
                    sortorder: 'desc',
                    viewrecords: true,
                    multiselect: false,
                    height: 'auto',
                    width: 930,
                    pgtext: 'Pág: {0} de {1}',
                    altRows: true,
                    altclass: 'jQGridAltRowClass',
                    loadComplete: function () { },
                    gridComplete: function () { }
                });
            } else {
                $("#listPedidoFacturado").jqGrid("clearGridData", true);
                jQuery("#listPedidoFacturado").trigger('reloadGrid');
            }
            jQuery("#listPedidoFacturado").jqGrid('navGrid', "#pagerPedidoFacturado", { edit: false, add: false, refresh: false, del: false, search: false });
            jQuery("#listPedidoFacturado").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
        } else {
            alert("Codigo de Consultora invalido, verificar");
        }
        function SeleccionarCampania(cellvalue, options, rowObject) {
            var Render = "<a href=\"javascript:CargarDetalle(" + options.rowId + "," + rowObject[5] + "," + rowObject[6] + ",'" + rowObject[1] + "')\">" + rowObject[0] + "</a>";
            return Render
        };
    }

    function CargarDetalle(CampaniaId, Flete, Total, tipo) {
        $("#detallePedidoOCR").addClass('oculto');
        $("#detallePedidoFacturado").addClass('oculto');
        $("#detallePedidoWeb").addClass('oculto');
        $("#totalPedidoWeb").html('');
        $("#pedidoFacturadoCampania").val('');
        $("#PedidoFacturadoFlete").val('');
        $("#pedidoFacturadoTotal").val('');
        $(".simboloParcial").html('');
        $("#lblFlete").html('');
        $("#lblTotalFacturado").html('');
        $("#lblTotalParcial").html('');
        $("#listPedidoFacturadoProducto").jqGrid("clearGridData", true);
        $("#listPedidoWeb").jqGrid("clearGridData", true);
        if (tipo == "WEB") {
            $("#detallePedidoFacturado").removeClass('oculto');
            $("#detallePedidoWeb").removeClass('oculto');
            $("#pedidoFacturadoCampania").val(CampaniaId);
            $("#PedidoFacturadoFlete").val(Flete);
            $("#pedidoFacturadoTotal").val(Total);
            var campania = CampaniaId.toString();
            if (campania.length == 6) {
                campania = campania.substring(0, 4) + '-' + campania.substring(4, 6)
            }
            $("#campanaPedidoFacturado").html(campania);
            $("#campanaPedidoWeb").html(campania);
           fnGrillaPedidoFacturadoProducto();
           GrillaPedidoWeb();
        }
        if (tipo == "OCR") {
            $("#detallePedidoOCR").removeClass('oculto');
        }
    }

    function fnGrillaPedidoFacturadoProducto() {
        if (jQuery("#listPedidoFacturadoProducto").attr("role") != "grid") {
            jQuery("#listPedidoFacturadoProducto").jqGrid({
                url: baseUrl + "ConsultaDatoConsultora/PedidoFacturadoProducto",
                hidegrid: false,
                datatype: 'json',
                postData: ({
                    codigoConsultora: function () { return jQuery.trim($("#txtDCCodigoConsultora").val()); },
                    campaniaId: function () { return jQuery.trim($("#pedidoFacturadoCampania").val()); },
                    flete: function () { return jQuery.trim($("#PedidoFacturadoFlete").val()); },
                    totalFacturado: function () { return jQuery.trim($("#pedidoFacturadoTotal").val()); },
                }),
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                colNames: ['Código', 'Descripción', 'Cantidad', 'Precio Unitario', 'Total', '', 'Descuento', 'Importe a Pagar'],
                colModel: [
                    { name: 'CUV', index: 'CUV', width: 70, editable: true, resizable: false },
                    { name: 'DescripcionProd', index: 'DescripcionProd', width: 150, editable: true, resizable: false },
                    { name: 'Cantidad', index: 'Cantidad', width: 70, editable: true, resizable: false },
                    { name: 'PrecioUnidad', index: 'PrecioUnidad', width: 80, editable: true, resizable: false },
                    { name: 'ImporteTotal', index: 'ImporteTotal', width: 80, editable: true, resizable: false },
                    { name: 'ImporteTotalSin', index: 'ImporteTotalSin', width: 80, editable: true, resizable: false, hidden: true },
                    { name: 'ImporteDescuento', index: 'ImporteDescuento', width: 80, editable: true, resizable: false },
                    { name: 'ImportePagar', index: 'ImportePagar', width: 80, editable: true, resizable: false }
                ],
                jsonReader:
                    {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: true,
                        cell: "cell",
                        id: "id",
                        totalSum: "totalSum",
                        simbolo: "simbolo",
                        flete: "flete",
                        totalFacturado: "totalFacturado",
                        importeTotal: "importeTotal"
                    },
                pager: jQuery('#pagerPedidoFacturadoProducto'),
                loadtext: 'Cargando datos...',
                recordtext: "{0} - {1} de {2} Registros",
                emptyrecords: 'No hay resultados',
                rowNum: 100,
                scrollOffset: 18,
                rowList: [100, 200, 300, 400, 500],
                sortname: 'CampaniaID',
                sortorder: 'asc',
                viewrecords: true,
                multiselect: false,
                height: 'auto',
                width: 930,
                pgtext: 'Pág: {0} de {1}',
                altRows: true,
                footerrow: false,
                altclass: 'jQGridAltRowClass',
                loadComplete: function (data) {
                    $(".simboloParcial").html(data.simbolo);
                    $("#lblFlete").html(data.flete);
                    $("#lblTotalFacturado").html(data.totalFacturado);
                    $("#lblTotalParcial").html(data.importeTotal);
                },
                gridComplete: function () { }
            });
        } else {
            $(".simboloParcial").html('');
            $("#lblFlete").html('');
            $("#lblTotalFacturado").html('');
            $("#lblTotalParcial").html('');
            $("#listPedidoFacturadoProducto").jqGrid("clearGridData", true);
            jQuery("#listPedidoFacturadoProducto").trigger('reloadGrid');
        }
        jQuery("#listPedidoFacturadoProducto").jqGrid('navGrid', "#pagerPedidoFacturadoProducto", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#listPedidoFacturadoProducto").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');

    }

    function GrillaPedidoWeb() {
        if (jQuery("#listPedidoWeb").attr("role") != "grid") {
            jQuery("#listPedidoWeb").jqGrid({
                url: baseUrl + "ConsultaDatoConsultora/ConsultarPedidoWebDetalleClientes",
                hidegrid: false,
                datatype: 'json',
                postData: ({
                    campaniaId  : jQuery.trim($("#pedidoFacturadoCampania").val()),
                    consultoraId :  jQuery.trim($("#txtDCConsultoraID").val()),
                }),
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                colNames: ['Nombre', 'Opcion'],
                colModel: [
                    { name: 'Nombre', index: 'Nombre', width: 120, editable: true, resizable: false },
                    { name: 'Activo', index: 'Activo', width: 12, editable: true, sortable: false, align: 'center', resizable: false, formatter: ShowActions }
                ],
                jsonReader:
                    {
                        totalPW: "totalPW",
                        simbolo: "simbolo",
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: true,
                        cell: "cell",
                        id: "id",
                        simbolo: "simbolo"
                    },
                pager: jQuery('#pagerPedidoWeb'),
                loadtext: 'Cargando datos...',
                recordtext: "{0} - {1} de {2} Registros",
                emptyrecords: 'No hay resultados',
                rowNum: 10,
                scrollOffset: 0,
                rowList: [10, 20, 30, 40, 50],
                sortname: 'Nombre',
                sortorder: 'asc',
                viewrecords: true,
                multiselect: false,
                height: 'auto',
                width: 930,
                pgtext: 'Pág: {0} de {1}',
                altRows: true,
                altclass: 'jQGridAltRowClass',
                loadComplete: function (data) {
                    $("#totalPedidoWeb").html(data.simbolo + ' ' + data.totalPW);
                    var timeOut = 50;
                    var rowIds = $("#listPedidoWeb").getDataIDs();
                    $.each(rowIds, function (index, rowId) {
                        setTimeout(function () {
                            $("#listPedidoWeb").expandSubGridRow(rowId);
                        }, timeOut);
                        timeOut = timeOut + 200;
                    });
                },
                gridComplete: function () { },
                subGrid: true,
                subGridRowExpanded: function (subgrid_id, row_id) {
                    var subgrid_table_id;
                    subgrid_table_id = subgrid_id + "_t";
                    jQuery("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll' style='text-align:center;'></table>");
                    jQuery("#" + subgrid_table_id).jqGrid({
                        url: baseUrl + "ConsultaDatoConsultora/ConsultarPedidoWebDetalleProductos",
                        datatype: "json",
                        postData: ({
                            campaniaId : jQuery.trim($("#pedidoFacturadoCampania").val()),
                            consultoraId: jQuery.trim($("#txtDCConsultoraID").val()),
                            clientId: function () { return row_id; }
                        }),
                        colNames: ['Código', 'Descripción', 'Cantidad', 'Precio Unit.', 'Precio Total', ''],
                        colModel: [
                          { name: "CUV", index: "CUV", width: 80, key: true, sortable: false },
                          { name: "DescripcionProd", index: "DescripcionProd", width: 150, sortable: false },
                          { name: "Cantidad", index: "Cantidad", width: 60, align: "right", sortable: false },
                          { name: "PrecioUnidad", index: "PrecioUnidad", width: 80, align: "right", sortable: false },
                          { name: "ImporteTotal", index: "ImporteTotal", width: 80, align: "right", sortable: false },
                          { name: "ImporteTotalSin", index: "ImporteTotalSin", width: 80, align: "right", sortable: false, hidden: true }
                        ],
                        height: '100%',
                        width: 905,
                        rowNum: 100,
                        sortname: 'Nombre',
                        sortorder: "asc",
                        footerrow: true,
                        loadComplete: function (data) {
                            var $this = $(this),
                                sum = $this.jqGrid("getCol", "ImporteTotalSin", false, "sum");
                            $this.jqGrid("footerData", "set", { PrecioUnidad: "Total:", ImporteTotal: data.simbolo + "" + data.totalSum });
                        }
                    });
                }
            });
        } else {
            $("#totalPedidoWeb").html('');
            $("#listPedidoWeb").jqGrid("clearGridData", true);
            jQuery("#listPedidoWeb").trigger('reloadGrid');
        }
        jQuery("#listPedidoWeb").jqGrid('navGrid', "#pagerPedidoWeb", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#listPedidoWeb").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Email = "&nbsp;<a href='#' onclick=\"return jQuery('#listPedidoWeb').EnviarEmail('" + rowObject[2] + "','" + rowObject[1] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Email.png")' alt='Enviar Email' title='Enviar Email' border='0' /></a>";
            return Email;
    };

    $.jgrid.extend({
        EnviarEmail: function (Email, ClientId) {
            var CampaniaId = jQuery.trim($("#pedidoFacturadoCampania").val());
            if (jQuery.trim(Email) == "" && ClientId != "0") {
                alert("El cliente seleccionado no tiene email registrado");
                return false;
            }

            var elimina = confirm('¿Está seguro que desea enviar el email al cliente seleccionado?');
            if (!elimina)
                return;

            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ConsultaDatoConsultora/EnviarEmail',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    ClientId: ClientId,
                    Email: Email,
                    CampaniaId: CampaniaId,
                     consultoraId: jQuery.trim($("#txtDCConsultoraID").val())
                }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        if (data.success == true) {
                            closeWaitingDialog();
                            alert(data.message);
                        }
                        else {
                            closeWaitingDialog();
                            alert(data.message);
                        }
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert("ERROR");
                    }
                }
            });
            return false;
        }
    });
</script>
<section class="container clearfix">
    <table id="listPedidoFacturado"></table>
    <div id="pagerPedidoFacturado"></div>
    <input type="hidden" id="PedidoFacturadoFlete" />
    <input type="hidden" id="pedidoFacturadoCampania" />
    <input type="hidden" id="pedidoFacturadoTotal" />
    <div id="detallePedidoFacturado" class="oculto">
        <h3>Pedido Facturado Campaña: <span id="campanaPedidoFacturado"></span></h3>
        <br>
        <div class="border-wrapper">
            <table id="listPedidoFacturadoProducto"></table>
            <div id="pagerPedidoFacturadoProducto"></div>
        </div>
        <div class="sep"></div>
        <div class="elements2">
            <div class="div-3">
                <div class="titAutoRight" style="padding-bottom: 2px; padding-top: 2px;">
                    <label class="color_red" style="color: black; font-weight: bold;">
                        Importe Total: <span class="simboloParcial"></span>
                    </label>
                    <label id="lblTotalParcial" class="color_red" style="color: black; font-weight: bold;">
                    </label>
                </div>
            </div>
            <div class="div-3">
                <div class="titAutoRight" style="padding-bottom: 2px; padding-top: 2px;">
                    <label class="color_red" style="color: black; font-weight: bold;">
                        Flete: <span class="simboloParcial"></span>
                    </label>
                    <label id="lblFlete" class="color_red" style="color: black; font-weight: bold;">
                    </label>
                </div>
            </div>
            <div class="div-3">
                <div class="titAutoRight" style="padding-bottom: 2px; padding-top: 2px;">
                    <label class="color_red" style="color: black; font-weight: bold;">
                        Total Facturado: <span class="simboloParcial"></span>
                    </label>
                    <label id="lblTotalFacturado" class="color_red" style="color: black; font-weight: bold;">
                    </label>
                </div>
            </div>
        </div>
    </div>


    <div id="detallePedidoWeb" class="oculto">
        <h3>Pedido Digitado Campaña: <span id="campanaPedidoWeb"></span></h3>
        <br>
        <div class="border-wrapper">
            <table id="listPedidoWeb"></table>
            <div id="pagelistPedidoWeb"></div>
        </div>
        <div class="elements2">
            <div class="div-3">
                <div class="titAutoRight">
                    <label class="color_red" style="color: black; font-weight: bold;">
                        Monto Total: <span id="totalPedidoWeb"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div id="detallePedidoOCR" class="oculto">
        <h3>Pedido ingresado por OCR</h3>
    </div>
</section>
