<script>
    function Seguimiento() {
        //obtener url
        if (jQuery.trim($("#txtDCConsultoraID").val()) != "") {
            $("#seguimiento").html("");
            waitingDialog({});
            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'ConsultaDatoConsultora/SeguimientoPedido',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ codigo: jQuery.trim($("#txtDCCodigoConsultora").val()) }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        var pinta = '<iframe src="' + data + '" width="950" height="700"></iframe>';
                        $("#seguimiento").html(pinta);
                    }

                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        alert(data.message);
                    }
                }
            });
        } else {
            $("#seguimiento").html('');
            alert("Codigo de Consultora invalido, verificar");
        }
    }
</script>
<section class="container clearfix">
    <div id="seguimiento">

    </div>
</section>
