/*Modal detalle*/
.modal_producto_detalle {
    padding-right: 0px !important;
    background-color: #fff;
}

    .modal_producto_detalle .modal-dialog {
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .modal_producto_detalle .modal-content {
        border: none;
        height: 100%;
        box-shadow: none;
    }

        .modal_producto_detalle .modal-content .imagen_producto {
            margin-bottom: 0px !important;
        }

    .modal_producto_detalle .modal-content {
        box-shadow: none !important;
    }


.btn_volver {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 25px;
    background: none;
}

    .btn_volver img {
        width: 11px;
        transform: rotate(180deg);
        position: relative;
        top: -1px;
        margin-right: 5px;
    }

.d.precio {
    font-size: 13.5px;
    margin: 10px 0 15px 0;
}


.ganancia {
    color: #b9007e !important;
}
/* Fin Modal detalle*/
/* Tabs */
.tabs {
    margin-top: 15px;
}
.tabs ul.tabs {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tabs ul.tabs li a, .tab_title {
    padding: 15px 0px;
    display: block;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    background: url(/Content/Images/mobile/Esika/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 11px;
    cursor: pointer;
    text-transform: initial;
    font-weight:normal;
}

.tabs ul.tabs li .active {
    background: url(/Content/Images/mobile/Esika/top-arrow.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 11px;
}

.tabs ul.tabs li a:hover {
    text-decoration: none;
}

.tabs ul.tabs li, .tab_item {
    width: 100%;
    display: block;
}

.tabs ul.tabs li:last-child {
    border-top: none !important;
}

.tabs ul.tabs li ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 20px;
    display: none;
}

.tabs li {
    border-bottom: 1px solid #ccc;
}

.tabs li:last-child {
    border: none;
}

.ficha_tabs li .active {
    color: #b9007e !important;
}

.tabs_container h4 {
    font-size: 13.5px;
    font-weight: bold !important;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 5px;
    text-transform: initial;
}

.tabs_container p {
    text-transform: initial;
    font-weight: normal;
    margin: 0 0 15px;
}

.tabs_container p:last-child {
    margin: 0 0 0 !important;
}

.video_item {
    width: 300px;
    height: 173px;
    display: inline-block;
}

.video_title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}
/* fin Tabs */

.flecha_ofertas-tipo {
    display: none !important;
}