.compartir_redes {
    padding: 24px 0px 100px 0px;
    border-top: 1px solid #ccc;
    text-align: center;
}

    .compartir_redes p {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-bottom: 24px;
    }

    .compartir_redes a {
        display: inline-block;
        text-align: center;
        width: 51px;
        margin: 0 10px;
        height: 54px;
    }

        .compartir_redes a img {
            width: 100%;
        }
