@model Portal.Consultoras.Web.Models.EtiquetaModel
@{
    ViewBag.Title = "Administración de Etiquetas";
}

<script type="text/javascript">

    jQuery(document).ready(function () {
        IniDialog();
        fnGrilla();

        $("#btnBuscar").click(function () {

            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }

            $("#hdTipoConsulta").attr("value", "1");

            fnGrilla();
        });

        $("#btnNuevo").click(function () {
            if ($("#ddlPais").val() == "") {
                alert("Debe seleccionar el País, verifique.");
                return false;
            }
            $('#spanPais').html($("#ddlPais option:selected").html());
            $('#hdPais').val($("#ddlPais").val());
            $('#hdEtiquetaID').val("0");
            $('#txtEtiqueta').val("");
            $('#txtEtiqueta').focus();
            showDialog('DialogAdministracionEtiquetas');
        });

    });

    function fnGrilla() {

        jQuery("#list").jqGrid({
            url: baseUrl + "AdministrarEtiquetas/Consultar",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                PaisID: function () { return jQuery.trim($("#ddlPais").val()); },
                Consulta: function () { return jQuery.trim($("#hdTipoConsulta").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['', 'Descripción', 'Estado'],
            colModel: [
                { name: 'EtiquetaID', index: 'EtiquetaID', width: 50, editable: true, resizable: false, hidden: true},
                { name: 'Descripcion', index: 'Descripcion', width: 700, editable: true, resizable: false },
                { name: 'Estado', index: 'Estado', width: 80, editable: true, align: 'center', formatter: ShowActions }
            ],
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "cell",
                id: "id"
            },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'Descripcion',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function ShowActions(cellvalue, options, rowObject) {
        var cellValueInt = parseInt(cellvalue);
        var Des = "&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Editar('" + rowObject[0] + "', '" + rowObject[1] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Edit.png")' alt='Editar Etiqueta' title='Editar Etiqueta' border='0' /></a>";
        Des += "&nbsp;&nbsp;<a href='javascript:;' onclick=\"return jQuery('#list').Eliminar('" + rowObject[0] + "');\" >" + "<img src='@Url.Content("~/Content/Images/Delete.png")' alt='Eliminar Etiqueta' title='Eliminar Etiqueta' border='0' /></a>";
        return Des;
    }

    $.jgrid.extend({
        Editar: function (id, etiqueta) {
            $("#spanPais").html($("#ddlPais option:selected").html());
            $("#hdPais").val($("#ddlPais").val());
            $('#txtEtiqueta').val(etiqueta);
            $('#hdEtiquetaID').val(id);
            $('#txtEtiqueta').focus();
            showDialog("DialogAdministracionEtiquetas");
            return false;
        },
        Eliminar: function (id) {
            var elimina = confirm('¿ Está seguro que desea eliminar el registro seleccionado?');
            if (!elimina)
                return false;

            waitingDialog({});

            var paisID = $("#ddlPais").val();

            jQuery.ajax({
                type: 'POST',
                url: baseUrl + 'AdministrarEtiquetas/Eliminar',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ PaisID: paisID, EtiquetaID: id }),
                async: true,
                success: function (data) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                        if (data.success == true) {
                            alert(data.message);
                            jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                        }
                        else
                            alert(data.message);
                    }
                },
                error: function (data, error) {
                    if (checkTimeout(data)) {
                        closeWaitingDialog();
                    }
                }
            });
            return false;
        }
    });

    function IniDialog() {
        $('#DialogAdministracionEtiquetas').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            closeOnEscape: true,
            width: 500,
            draggable: true,
            title: "Registro de Etiquetas para registro de Estrategias.",
            buttons:
            {
                "Guardar": function () {
                    var etiqID = $('#hdEtiquetaID').val();
                    var paisID = $("#hdPais").val();
                    var etiqueta = $("#txtEtiqueta").val();
                    
                    if ($.trim(etiqueta) == "") {
                        alert("No ingresó la descripción de la etiqueta.");
                        return false;
                    }

                    var params = {
                        PaisID: paisID,
                        Descripcion: etiqueta,
                        EtiquetaID: etiqID
                    };

                    jQuery.ajax({
                        type: 'POST',
                        url: baseUrl + 'AdministrarEtiquetas/Registrar',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(params),
                        async: true,
                        success: function (data) {
                            if (checkTimeout(data)) {
                                if (data.success == true) {
                                    alert(data.message);
                                    HideDialog("DialogAdministracionEtiquetas");
                                    $("#hdTipoConsulta").val("1");
                                    jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
                                }
                                else {
                                    alert(data.message);
                                }
                            }
                        },
                        error: function (data, error) {
                            if (checkTimeout(data)) {
                                alert(data.message);
                                HideDialog("DialogAdministracionEtiquetas");
                            }
                        }
                    });
                },
                "Cancelar": function () {
                    HideDialog("DialogAdministracionEtiquetas");
                }
            }
        });
    }

</script>

<input type="hidden" id="hdTipoConsulta" value="0" />
<div class="wrap_cab">
    <div class="filtros2">
        <div class="elements">
            <div class="div-2">
                <h1><span>Administrar Etiquetas</span></h1>
            </div>
            <div class="div-3">
                <div class="titA">País:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.PaisID, new SelectList(Model.listaPaises, "PaisID", "Nombre"), "-- Seleccionar --", new { id = "ddlPais" })
                </div>
                <div class="input_horizontal">
                    <input type="button" name="btnBuscar" id="btnBuscar" value="Buscar" />
                    <input type="button" name="btnNuevo" id="btnNuevo" value="Nuevo" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <table id="list"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>

<div id="DialogAdministracionEtiquetas" style="display: none;">
    <input type="hidden" id="hdPais" value="" />
    <input type="hidden" id="hdEtiquetaID" value="" />
    <div class="Content_modal">
        <div class="div-3">
            <div class="titB">Pais:</div>
            <div class="selectA borde_redondeado">
                <span id="spanPais"></span>
            </div>
        </div>
        <div class="div-3">
            <div class="titB">Etiqueta:</div>
            <div class="selectA borde_redondeado">
                <input id="txtEtiqueta" type="text" value="" maxlength="100" />
            </div>
        </div>
    </div>
</div>
<div id="loadingScreen"></div>