@{
    ViewBag.Title = "Catálogo personalizado";
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp content_belcorp_misPedidos">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores"><span>LOS FAVORITOS </span> DE TUS CLIENTES ESTA CAMPAÑA</div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>
<div id="cuerpo" style="background-color: #f6f6f6;">
    <div data-div="d">
        <div class="content_belcorp content_belcorp_misPedidos" id="contenidoGrilla">
            <div class="pestana_lbel new">
            
                <div class="content-favclientes columna1 catper">

                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>

                        <div class="producto_nombre_descripcion">
                            <h6>ÉSIKA</h6>
                            <p class="nombre_producto">
                                <b>Fragancia Leyenda</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 59.00</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>
                        <div class="etiqueta_producto nuevofavorito">
                            <img src="~/Content/Images/nuevo-producto.png" alt="Etiqueta Producto" />
                        </div>
                        <div class="producto_nombre_descripcion">
                            <h6>CYZONE</h6>
                            <p class="nombre_producto">
                                <b>Acondicionador berrylicious yummy yogurt</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 13.00</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>

                        <div class="producto_nombre_descripcion">
                            <h6>CYZONE</h6>
                            <p class="nombre_producto">
                                <b>perfume #true</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 69.90</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>

                        <div class="producto_nombre_descripcion">
                            <h6>CYZONE</h6>
                            <p class="nombre_producto">
                                <b>Esmalte de uñas cyº nails in! finish sugar</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 10.00</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
                <div class="content-favclientes columna2 catper">

                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>

                        <div class="producto_nombre_descripcion">
                            <h6>ÉSIKA</h6>
                            <p class="nombre_producto">
                                <b>Fragancia Leyenda</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 59.00</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>
                        <div class="etiqueta_producto nuevofavorito">
                            <img src="~/Content/Images/nuevo-producto.png" alt="Etiqueta Producto" />
                        </div>
                        <div class="producto_nombre_descripcion">
                            <h6>CYZONE</h6>
                            <p class="nombre_producto">
                                <b>Acondicionador berrylicious yummy yogurt</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 13.00</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>

                        <div class="producto_nombre_descripcion">
                            <h6>CYZONE</h6>
                            <p class="nombre_producto">
                                <b>perfume #true</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 69.90</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>

                        <div class="producto_nombre_descripcion">
                            <h6>CYZONE</h6>
                            <p class="nombre_producto">
                                <b>Esmalte de uñas cyº nails in! finish sugar</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 10.00</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
                <div class="content-favclientes columna3 catper">

                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>

                        <div class="producto_nombre_descripcion">
                            <h6>ÉSIKA</h6>
                            <p class="nombre_producto">
                                <b>Fragancia Leyenda</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 59.00</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>
                        <div class="etiqueta_producto nuevofavorito">
                            <img src="~/Content/Images/nuevo-producto.png" alt="Etiqueta Producto" />
                        </div>
                        <div class="producto_nombre_descripcion">
                            <h6>CYZONE</h6>
                            <p class="nombre_producto">
                                <b>Acondicionador berrylicious yummy yogurt</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 13.00</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>

                        <div class="producto_nombre_descripcion">
                            <h6>CYZONE</h6>
                            <p class="nombre_producto">
                                <b>perfume #true</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 69.90</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="contiene-productos">
                        <div class="producto_img_home mini">
                            <img src="http://S3.amazonaws.com/consultorasQAS/SomosBelcorp/Matriz/PE/PE_200064288_20131041749_01_rrdhiqdnya.png">
                        </div>

                        <div class="producto_nombre_descripcion">
                            <h6>CYZONE</h6>
                            <p class="nombre_producto">
                                <b>Esmalte de uñas cyº nails in! finish sugar</b>
                            </p>
                            <div class="producto_precio">
                                <span class="producto_precio_oferta"><b>S/. 10.00</b></span>
                            </div>
                            <div class="liquidacion_rango_home">
                                <input type="text" value="1" size="2" maxlength="2" id="txtCantidad" class="liquidacion_rango_cantidad_pedido ValidaNumeral">
                                <div class="liquidacion_rango_right_pedido">
                                    <a class="mas"><img src="/Content/Images/Esika/mas.png" alt=""></a>
                                    <a class="menos"><img src="/Content/Images/Esika/menos.png" alt=""></a>
                                </div>
                            </div>
                            <a class="boton_Agregalo_home">
                                AGRÉGALO
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
            
            </div><!--PESTAÑA PARA DARLE ESTILO CON LBEL-->

        </div>
    </div>
</div>
