@{
    ViewBag.Title = "Restablece tu contrasenia";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/verificacion-pin.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/verificacion-pin.css")">
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores">
            <div class="pestana_lbel"></div>
            <a href="#" title="Volver" class="v-alignMiddle enlace_volver_mobile">
                <img src="@Url.Content("~/Content/Images/icono_volver_mobile.svg")" alt="" />
            </a>
            <div class="inline-block v-alignMiddle">
                <span>RESTABLECE</span> TU CONTRASEÑA
            </div>
        </div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<section class="block vista_flujo_restablecer_contrasenia">
    <div class="block center-block w-85-mobile wrapper_content_restablecer_contrasenia">
        <div class="block mt-15-mobile">
            <a href="#" title="Volver" class="block enlace_volver_a_mi_perfil text-uppercase text-bold">
                <span class="inline-block v-alignMiddle icono_back_arrow">
                    <img src="@Url.Content("~/Content/Images/icono_volver.svg")" alt="Volver" />
                </span>
                <span class="inline-block v-alignMiddle enlace_texto">Volver</span>
            </a>
            <div class="block form_completar_datos">
                <p class="block completar_datos_texto">
                    Completa tus datos para buscar tu cuenta
                </p>
                <fieldset class="block grupo_form_cambio_datos text-uppercase">
                    <div class="w-100 block">
                        <select id="Pais" name="Pais" class="w-100 block campo_lista_paises" type="text" value="">
                            <option value="0">Elige tu país</option>
                            <option value="1" selected>Perú</option>
                        </select>
                        <label for="Pais" class="w-100 block">Selecciona tu país</label>
                    </div>
                </fieldset>
                <fieldset class="block grupo_form_cambio_datos text-uppercase">
                    <div class="w-100 block">
                        <span class="block icono_user"></span>
                        <input id="CodigoConsultoraDni" name="CodigoConsultoraDni" class="w-100 block campo_codigo_consultora_o_dni" type="text" value="" />
                        <label for="CodigoConsultoraDni" class="w-100 block text-uppercase">Código de consultora o dni</label>
                    </div>
                </fieldset>
                <fieldset class="block grupo_form_cambio_datos text-uppercase">
                    <div class="w-50 w-40-mobile text-left inline-block v-alignMiddle">
                        <a href="#" title="Cancelar" class="block enlace_cancelar">Cancelar</a>
                    </div>
                    <div class="w-50 w-60-mobile text-right inline-block v-alignMiddle">
                        <button type="button" class="btn_continuar text-uppercase text-bold default-background-color mt-31">
                            Continuar
                        </button>
                    </div>
                </fieldset>
            </div>
            <div class="block no_te_saltes_este_paso text-center" style="display:none;">
                <div class="block center-block mt-40-mobile icono_validacion_celular_exitosa"></div>
                <h1 class="block center-block titulo_celular_validado text-uppercase">
                    ¡No te saltes<br /><span class="text-bold">este paso</span>!
                </h1>
                <p class="block mensaje_celular_validado mb-35">
                    Recuerda que si no verificas tus datos, no<br />podrás ingresar a nuestra plataforma.
                </p>
                <a href="#" class="block center-block mb-20 enlace_continuar_verificacion text-uppercase text-bold default-background-color mb-31">Continuar verificación</a>
                <a href="#" title="Actualizar contraseña" class="block enlace_no_deseo_ingresar text-bold">No deseo ingresar ahora</a>
            </div>
        </div>
    </div>

</section>

