@{
    ViewBag.Title = "Restablece tu contrasenia";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (System.Configuration.ConfigurationManager.AppSettings.Get("PaisesEsika").Contains(ViewBag.PaisAnalytics == null ? "" : ViewBag.PaisAnalytics))
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Esika/verificacion-pin.css")">
}
else
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Site/Lbel/verificacion-pin.css")">
}

<div class="fondo_f9f9f9">
    <div class="content_belcorp">
        <div class="fondo_negro_lateral"></div>
        <div class="titulo_interiores">
            <div class="pestana_lbel"></div>
            <a href="#" title="Volver" class="v-alignMiddle enlace_volver_mobile">
                <img src="@Url.Content("~/Content/Images/icono_volver_mobile.svg")" alt="" />
            </a>
            <div class="inline-block v-alignMiddle">
                <span>VERIFICA</span> TU AUTENTICIDAD
            </div>
        </div>
    </div>
    <hr class="clear" />
    <div class="linea_separadora" style="margin-top:-1px"></div>
</div>

<section class="block vista_flujo_restablecer_contrasenia">
    <div class="block center-block wrapper_content_verificacion_autenticidad">
        <div class="block">
            <a href="#" title="Volver" class="block enlace_volver_a_mi_perfil text-uppercase text-bold">
                <span class="inline-block v-alignMiddle icono_back_arrow">
                    <img src="@Url.Content("~/Content/Images/icono_volver.svg")" alt="Volver" />
                </span>
                <span class="inline-block v-alignMiddle enlace_texto">Volver</span>
            </a>
            <!-- OPCIONES DE VERIFICACIÓN DE AUTENTICIDAD -->
            <div class="block opciones_verificacion_autenticidad">
                <div class="block mt-20-mobile">
                    <p class="block texto_verificacion_datos">
                        <span class="block">¡Bienvenida Valeria!</span>
                        <span class="block" style="display:none;">¡Nos alegra que hayas vuelto!</span>
                    </p>
                    <p class="block texto_verificacion_datos">
                        <span class="block">Por ser la primera vez que ingresas y por tu seguridad vamos a verificar tus datos.</span>
                        <span class="block" style="display:none;">Como hace tiempo que no sabíamos de ti, por tu seguridad vamos a verificar tus datos.</span>
                    </p>
                    <p class="block texto_verificacion_datos">
                        <span class="block">Elige el que te sea más familiar :</span>
                    </p>
                </div>
                <div class="block center-block lista_opciones_verificacion_autenticidad">
                    <a href="#" title="Opción Correo" class="block opcion_verificacion_autenticidad">
                        <div class="inline-block v-alignMiddle icono_opcion_verificacion_autenticidad icono_opcion_correo"></div>
                        <div class="inline-block v-alignMiddle datos_verificacion_autenticidad">
                            <div class="block text-uppercase">Correo Electrónico</div>
                            <div class="block text-bold">valeria.tarazona@gmail.com</div>
                        </div>
                    </a>
                    <a href="#" title="Opción Sms" class="block opcion_verificacion_autenticidad">
                        <div class="inline-block v-alignMiddle icono_opcion_verificacion_autenticidad icono_opcion_sms"></div>
                        <div class="inline-block v-alignMiddle datos_verificacion_autenticidad">
                            <div class="block text-uppercase">Mensaje de texto (sms)</div>
                            <div class="block text-bold">987 654 321</div>
                        </div>
                    </a>
                </div>
                <div class="block">
                    <p class="texto_alternativa_call_center block">
                        <span class="inline-block v-alignMiddle">
                            Si no reconoces tu correo o celular, comunícate con nuestro
                            <a href="#" title="Call Center" class="inline-block v-alignBottom enlace_call_center text-bold">Call Center</a>
                        </span>
                    </p>
                </div>
            </div>
            <!-- FIN - OPCIONES DE VERIFICACIÓN DE AUTENTICIDAD -->
            <!-- VERIFICACIÓN POR CÓDIGO SMS -->
            <div class="block revisa_tu_celular text-center" style="display:none;">
                <h1 class="block center-block mt-20-mobile titulo_revisa_tu_celular text-uppercase mb-13">
                    Revisa <span class="text-bold">tu celular</span>
                </h1>
                <div class="block center-block icono_mensaje_sms"></div>
                <p class="w-100 envio_instrucciones_info block mb-35">
                    <span class="w-100 block mb-7">Te hemos enviado un código SMS al:</span>
                    <span class="w-100 block text-bold font-size-17">912 345 678</span>
                </p>
                <div class="area_ingreso_codigo_sms block mb-35 mb-20-mobile">
                    <div class="block texto_ingreso_codigo text-uppercase text-bold">Ingresa el código aquí</div>
                    <fieldset class="block center-block campos_ingreso_codigo_sms">
                        <input class="inline-block v-alignBottom campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                        <input class="inline-block v-alignBottom campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                        <input class="inline-block v-alignBottom campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                        <input class="inline-block v-alignBottom campo_ingreso_codigo_sms text-center" type="text" value="" maxlength="1" />
                        <div class="block icono_validacion_codigo_sms validacion_erronea"></div>
                    </fieldset>
                    <div class="block codigo_sms_caducidad text-uppercase">El código caduca en <span class="default-color">01:00</span></div>
                </div>
                <p class="w-100 envio_instrucciones_info block mb-45 mb-20-mobile">
                    <a href="#" title="Reenvíenme el código" class="block enlace_reenviar_instrucciones w-100 text-uppercase text-bold">
                        Reenvíenme el código
                    </a>
                </p>
                <p class="w-100 block cambiar_correo_info">
                    <span class="inline-block v-alignMiddle">¿Este no es tu número?</span>
                    <a href="#" title="Cambia tu correo" class="inline-block v-alignMiddle enlace_cambiar_correo text-bold">Cambia tu número</a>
                </p>
            </div>
            <div class="block celular_validado text-center" style="display:none;">
                <div class="block center-block mt-20-mobile icono_validacion_celular_exitosa"></div>
                <h1 class="block center-block titulo_celular_validado text-uppercase">
                    ¡Validamos<br /><span class="text-bold">tu celular</span>!
                </h1>
                <p class="block mensaje_celular_validado">
                    Continúa visitando somosbelcorp.com<br />y descubre todas la ofertas que tenemos para ti.
                </p>
                <p class="block mensaje_celular_validado mb-45 mb-33-mobile">
                    Te recomendamos además actualizar tu contraseña por tu seguridad.
                </p>
                <a href="#" class="block center-block mb-20-mobile enlace_ir_a_somos_belcorp text-uppercase text-bold default-background-color mb-31">Ir a somos belcorp</a>
                <a href="#" title="Actualizar contraseña" class="block enlace_actualizar_contrasenia text-bold">Actualizar contraseña</a>
            </div>
            <!-- FIN - VERIFICACIÓN POR CÓDIGO SMS -->
            <!-- VERIFICACIÓN POR CORREO ELECTRÓNICO -->
            <div class="revisa_tu_correo block text-center" style="display:none;">
                <h1 class="titulo_revisa_tu_correo mt-20-mobile text-uppercase block center-block mb-13">
                    Revisa <span class="text-bold">tu correo</span>
                </h1>
                <div class="block center-block icono_correo_sobre"></div>
                <p class="w-100 block envio_instrucciones_info mb-50">
                    <span class="w-100 block mb-7">Te hemos enviado las instrucciones a:</span>
                    <span class="w-100 block text-bold font-size-17">valeria.tarazona@gmail.com</span>
                </p>
                <p class="w-100 block envio_instrucciones_info mb-50">
                    <span class="w-100 block mb-13">¿Aún no recibes nuestro correo?</span>
                    <a href="#" title="Reenvíenme las instrucciones" class="block enlace_reenviar_instrucciones w-100 text-uppercase text-bold">
                        Reenvíenme las instrucciones
                    </a>
                </p>
                <p class="w-100 block cambiar_correo_info">
                    <span class="inline-block v-alignMiddle">¿Este no es tu correo?</span>
                    <a href="#" title="Cambia tu correo" class="inline-block v-alignMiddle enlace_cambiar_correo text-bold">Cambia tu correo</a>
                </p>
            </div>
            <div class="correo_validado block text-center" style="display:none;">
                <div class="icono_validacion_correo_exitoso block center-block mt-20-mobile"></div>
                <h1 class="titulo_correo_validado text-uppercase block center-block">
                    ¡Validamos<br /><span class="text-bold">tu correo</span>!
                </h1>
                <p class="mensaje_correo_validado block">
                    Continúa visitando somosbelcorp.com<br />y descubre todas la ofertas que tenemos para ti.
                </p>
                <p class="mensaje_correo_validado block mb-45 mb-33-mobile">
                    Te recomendamos además actualizar tu contraseña por tu seguridad.
                </p>
                <a href="#" class="block center-block mb-20-mobile enlace_ir_a_somos_belcorp text-uppercase text-bold default-background-color mb-31">Ir a somos belcorp</a>
                <a href="#" title="Actualizar contraseña" class="block enlace_actualizar_contrasenia text-bold">Actualizar contraseña</a>
            </div>
            <!-- FIN - VERIFICACIÓN POR CORREO ELECTRÓNICO -->
        </div>
    </div>

</section>

