
@model Portal.Consultoras.Web.Models.ServicioModel
@{
    ViewBag.Title = "Mantenimiento Servicios";
}
<script>

    jQuery(document).ready(function () {
        fnGrilla2();
        $("#ddlCampania").change(function () { $("#ddlCampaniaFinal").val("0"); fnGrilla2(); });
        $("#ddlCampaniaFinal").change(function () { CargarGrilla(); });
        $("#btnguardar").click(function () { Guardar(); });
    });

    function CargarGrilla() {
        if ($("#ddlCampania").val() == "0") {
            alert("Seleccione Campaña Inicial.");
            $("#ddlCampaniaFinal").val("0");
            return false;
        }
        if ((Number)($("#ddlCampania").val()) >= (Number)($("#ddlCampaniaFinal").val()) && $("#ddlCampaniaFinal").val() != "0") {
            alert("La campaña Final debe ser mayor a la inicial.");
            $("#ddlCampaniaFinal").val("0");
            return false;
        }

        fnGrilla2();
    }
    function fnGrilla() {
        jQuery("#list").jqGrid({
            url: baseUrl + "Servicios/ConsultarServicios",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vDescripcion: function () { return jQuery.trim($("#txtDescripcion").val()); },
                vCampaniaInicial: function () { return jQuery.trim($("#ddlCampania").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['ServicioId', 'Nombre', 'Url'],
            colModel: [
                { name: 'ServicioId', index: 'ServicioId', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'Descripcion', index: 'Descripcion', width: 50, editable: true, resizable: false },
                { name: 'Url', index: 'Url', width: 40, editable: false, resizable: false }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'ServicioId',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
                var subgrid_table_id;
                subgrid_table_id = subgrid_id + "_t";
                jQuery("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll' style='text-align:center;'></table>");
                jQuery("#" + subgrid_table_id).jqGrid({
                    url: baseUrl + "Servicios/ConsultarEstadoServiciobyPais",
                    datatype: "json",
                    postData: ({
                        ServicioId: function () { return row_id; },
                        CampaniaId: function () { return jQuery.trim($("#ddlCampania").val()); }
                    }),
                    colNames: ['AR', 'BO', 'CL', 'CO', 'CR', 'EC', 'SV', 'GT', 'MX', 'PA', 'PE', 'PR', 'DO', 'VE', 'SR'],
                    colModel: [
                      { name: "AR", index: "AR", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "BO", index: "BO", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "CL", index: "CL", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "CO", index: "CO", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "CR", index: "CR", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "EC", index: "EC", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "SV", index: "SV", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "GT", index: "GT", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "MX", index: "MX", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "PA", index: "PA", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "PE", index: "PE", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "PR", index: "PR", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "DO", index: "DO", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "VE", index: "VE", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "SR", index: "SR", width: 7, align: "center", sortable: false, hidden: true },
                    ],
                    height: '100%',
                    width: 910,
                    rowNum: 100,
                    sortname: 'AR',
                    sortorder: "asc",
                    footerrow: false,
                    loadComplete: function (data) {
                    }
                });
            }
        });
        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    };
    function fnGrilla2() {

        jQuery("#list").jqGrid({
            url: baseUrl + "Servicios/ConsultarServicio",
            hidegrid: false,
            datatype: 'json',
            postData: ({
                vDescripcion: function () { return jQuery.trim($("#txtDescripcion").val()); },
                vCampaniaInicial: function () { return jQuery.trim($("#ddlCampania").val()); }
            }),
            mtype: 'GET',
            contentType: "application/json; charset=utf-8",
            colNames: ['ServicioId', 'Nombre', 'Url'],
            colModel: [
                { name: 'ServicioId', index: 'ServicioId', width: 0, editable: false, align: 'center', hidden: true },
                { name: 'Descripcion', index: 'Descripcion', width: 50, editable: true, resizable: false },
                { name: 'Url', index: 'Url', width: 40, editable: false, resizable: false }
            ],
            jsonReader:
                {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell"
                },
            pager: jQuery('#pager'),
            loadtext: 'Cargando datos...',
            recordtext: "{0} - {1} de {2} Registros",
            emptyrecords: 'No hay resultados',
            rowNum: 10,
            scrollOffset: 0,
            rowList: [10, 20, 30, 40, 50],
            sortname: 'ServicioId',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: false,
            height: 'auto',
            width: 930,
            pgtext: 'Pág: {0} de {1}',
            altRows: true,
            altclass: 'jQGridAltRowClass',
            loadComplete: function () { },
            gridComplete: function () { },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
                var subgrid_table_id;
                $("#subgrid_id").val(subgrid_id);
                $("#row_id").val(row_id);
                subgrid_table_id = subgrid_id + "_t";
                jQuery("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll' style='text-align:center;'></table>");
                jQuery("#" + subgrid_table_id).jqGrid({
                    url: baseUrl + "Servicios/ConsultarEstadoServiciobyPais2",
                    datatype: "json",
                    postData: ({
                        ServicioId: function () { return row_id; },
                        CampaniaInicioID: function () { return jQuery.trim($("#ddlCampania").val()); },
                        CampaniaFinalID: function () { return jQuery.trim($("#ddlCampaniaFinal").val()); }
                    }),
                    colNames: ['AR', 'BO', 'CL', 'CO', 'CR', 'EC', 'SV', 'GT', 'MX', 'PA', 'PE', 'PR', 'DO', 'VE', 'SR'],
                    colModel: [
                      { name: "AR", index: "AR", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "BO", index: "BO", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "CL", index: "CL", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "CO", index: "CO", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "CR", index: "CR", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "EC", index: "EC", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "SV", index: "SV", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "GT", index: "GT", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "MX", index: "MX", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "PA", index: "PA", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "PE", index: "PE", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "PR", index: "PR", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "DO", index: "DO", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "VE", index: "VE", width: 7, align: "center", sortable: false, formatter: CustomCheckBox, edittype: "checkbox", editoptions: { value: "1:0" } },
                      { name: "SR", index: "SR", width: 7, align: "center", sortable: false, hidden: true },
                    ],
                    height: '100%',
                    width: 910,
                    gridview: true,
                    rowNum: 100,
                    sortname: 'AR',
                    sortorder: "asc",
                    treeGrid: true,
                    footerrow: false,
                    treeGridModel: 'adjacency',
                    treedatatype: "local",
                    ExpandColumn: 'name',
                    loadComplete: function (data) {}
                });   
            }
        });

        jQuery("#list").jqGrid('navGrid', "#pager", { edit: false, add: false, refresh: false, del: false, search: false });
        jQuery("#list").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    };

    function CustomCheckBox(val, options, rowObject) {
        var ISOPais = options.colModel.name;
        var ischecked = val == "1" ? "checked='checked'" : "";
        var CampaniaInicialId = $("#ddlCampania").val();
        var CampaniaFinalId = $("#ddlCampaniaFinal").val();
        var ServicioId = rowObject[14];
        return "<input id='cboxPais_" + options.rowId + options.pos + "' value = '" + ISOPais + "' type='checkbox' " + ischecked + " onclick=\"ClickCboxPais('" + ISOPais + "', '" + CampaniaInicialId + "','" + CampaniaFinalId + "','" + ServicioId + "',this); \" />";
    }
    function ClickCboxPais(ISOPais, CampaniaInicialId, CampaniaFinalId, ServicioId, object) {
        var Estado = object.checked ? "1" : "0";

        var item = {
            ServicioId: ServicioId,
            CampaniaInicialId: CampaniaInicialId,
            CampaniaFinalId: CampaniaFinalId,
            ISOPais: ISOPais,
            Estado: Estado
        };
        waitingDialog({});
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'Servicios/MantenerEstado',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                // valida si ha habido un timeout
                if (checkTimeout(data)) {
                    // si no ha habido timeout continua el procesamiento normal
                    if (data.success == true) {

                    }
                    else {
                        alert(data.message);
                    }
                }
                closeWaitingDialog();
            },
            error: function (data, error) {
                // valida si ha habido un timeout
                if (checkTimeout(data)) {
                    // si no ha habido timeout continua el procesamiento normal
                    alert(data.message);
                }
                closeWaitingDialog();
            }
        });
        closeWaitingDialog();
    }
    function Guardar()
    {
        waitingDialog({});
        var cadena_ids = "";

        var lsta = $("#list").find("span").each(function () {
            if (this.className == "ui-icon ui-icon-minus") {
                var id = this.parentElement.parentElement.parentElement.id;

                if (cadena_ids == "") {
                    cadena_ids = id;
                }
                else {
                    cadena_ids = cadena_ids + "," + id;
                }
            }
        });
        
        if (cadena_ids == "") {
            alert("No hay datos para actualizar.");
            closeWaitingDialog();
            return false;
        }

        var CampaniaInicialId = $("#ddlCampania").val();
        var CampaniaFinalId = $("#ddlCampaniaFinal").val();

        var item = {
            IDs: cadena_ids,
            CampaniaInicialId: CampaniaInicialId,
            CampaniaFinalId: CampaniaFinalId
        };

        
        jQuery.ajax({
            type: 'POST',
            url: baseUrl + 'Servicios/InsertEstado',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(item),
            async: true,
            success: function (data) {
                // valida si ha habido un timeout
                if (checkTimeout(data)) {
                    // si no ha habido timeout continua el procesamiento normal
                    if (data.success == true) {
                        alert(data.message);
                        fnGrilla2();
                    }
                    else {
                        alert(data.message);
                    }
                }
                closeWaitingDialog();
            },
            error: function (data, error) {
                // valida si ha habido un timeout
                if (checkTimeout(data)) {
                    // si no ha habido timeout continua el procesamiento normal
                    alert(data.message);
                }
                closeWaitingDialog();
            }
        });
    }
</script>

<div class="wrap_cab">
    <div class="filtros">
        <div class="elements">
            <div class="div-2">
                <h1>Mantenimiento <span>de Servicios</span></h1>
            </div>
            <div class="div-3">
                <div class="titG">Campaña Inicial:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.NombreCorto, new SelectList(Model.DropDownListCampania, "CampaniaID", "Codigo"), new { id = "ddlCampania" })
                </div>
                <div class="titG">Campaña Final:</div>
                <div class="selectA borde_redondeado">
                    @Html.DropDownListFor(model => model.NombreCorto, new SelectList(Model.DropDownListCampania, "CampaniaID", "Codigo"), new { id = "ddlCampaniaFinal" })
                </div>

            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container clearfix">
        <div class="border-wrapper">
            <div class="grila_fixed">
                <table id="list"></table>
                <div id="pager"></div>
            </div>
        </div>
        <div class="elements2">
            <div class="div-3">
                <div class="titAuto">
                    <div class="input_search">
                        <input type="button" name="" id="btnguardar" value="Guardar" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="loadingScreen"></div>
@Html.Hidden("subgrid_id")
@Html.Hidden("row_id")

