
.titulo h2 {
    color: #043552;
}

.bc_para_ti-menu-opciones li a.activo {
    color: #67388c;
}

.bc_para_ti-menu-opciones ul li a.activo p::after {
    border: 1px solid #67388c;
}

.bc_para_ti-menu-opciones ul li a.activo p.activo {
    border-bottom: 1px solid #613c87;
    color: #613c87;
}

.activo .opcion_home_vistaOfertas::after {
    border: 1px solid #67388c;
}

.contenedorMenu {
	height: 45px;
	width: 138px;
	padding-top: 13px;
	position: relative;
	text-align: center;
}

	.contenedorMenu.active {
		border-bottom: 4px solid #6c398a;
		height: 45px;
		position: relative;
		text-align: center;
		width: 138px;
	}


.op-menu-horizontal .subnavegador li .activado {
    border-bottom: 2px solid #67388c;
    color: #67388c;
}