
.rd_logo {
    background: rgba(97,60,135,1);
    background: -moz-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(97,60,135,1)), color-stop(31%, rgba(97,60,135,1)), color-stop(100%, rgba(97,60,135,1)));
    background: -webkit-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: linear-gradient(135deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613c87', endColorstr='#9d071d', GradientType=1 );
}

/* SECCIÓN REVISTA DIGITAL VISTA BIENVENIDA - PEDIDO - CATALOGO */
.revistadigital .boxoffer .fondo_boton, .contenedor_botonVerMasOfertas .boxoffer .fondo_boton {
    background: #613c87;
}

/* FIN BIENVENIDA - PEDIDO - CATALOGO */

.btn_red a {
    color: #613c87;
    border: 1px solid #613c87;
}

.btn_inscribirse {
    background: #613c87;
}

/* NUEVO LANDING SUSCRIPCION MOBILE */
.como-funciona span.recuerda {
    color: #613c87;
}

.bloques-gana-mas .contenedor-mobile-fix > .bloque-img .cnt-tres {
    background: url('/Content/Images/Lbel/consejos-y-tips-visual.png');
}

.bloques-gana-mas .contenedor-mobile-fix .visual-funcionamiento {
    background: url('/Content/Images/Lbel/visual-de-funcionamiento.png');
}

.bloques-gana-mas .contenedor-mobile-fix .caja-club-derecha hr {
    background: #613c87;
}

/* FIN NUEVO LANDING SUSCRIPCION MOBILE */


/* POP UP ACTUALIZA DATOS*/
.boton_popup_confirmacion_datos {
    background: #613c87 !important;
}

.popup_confirmacion_datos .contenido-popup-nuevo-2017 .estructura_confirmar_datos .centrar-vertical-contenido .form-confirmacion .loader-confirmacion {
    background: url(/Content/Images/Lbel/loading_circle.gif);
}
/* FIN POP UP ACTUALIZA DATOS */

.logo_no_suscrita {
    background-image: url(/Content/Images/Lbel/RevistaDigital/logo_lbel_diagonal.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}