body {
    overflow-x: hidden;
}

/* SECCIÓN REVISTA DIGITAL VISTA BIENVENIDA MOBILE */
.revistadigital .boxoffer, .contenedor_botonVerMasOfertas .boxoffer {
    width: 102px;
    height: 60px;
    position: absolute;
    top: 275px;
    right: -5px;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

    .revistadigital .boxoffer:hover, .contenedor_botonVerMasOfertas .boxoffer:hover {
        opacity: .95;
    }

    .revistadigital .boxoffer .fondo_boton, .contenedor_botonVerMasOfertas .boxoffer .fondo_boton {
        width: 100%;
        height: 67px;
        background: #613c87;
        transform: skewX(-14deg);
        position: absolute;
        left: -14px;
        background: -moz-linear-gradient(top, rgba(213,37,31,1) 0, rgba(163,16,18,1) 100%);
        background: -webkit-linear-gradient(top, rgba(213,37,31,1) 0, rgba(163,16,18,1) 100%);
        background: -o-linear-gradient(top, rgba(213,37,31,1) 0, rgba(163,16,18,1) 100%);
        background: -ms-linear-gradient(top, rgba(213,37,31,1) 0, rgba(163,16,18,1) 100%);
        background: linear-gradient(to bottom, rgba(213,37,31,1) 0, rgba(163,16,18,1) 100%);
        box-shadow: 3px 2px 5px rgba(0,0,0,.25);
        -moz-box-shadow: 3px 2px 5px rgba(0,0,0,.25);
        -o-box-shadow: 3px 2px 5px rgba(0,0,0,.25);
        -ms-box-shadow: 3px 2px 5px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 2px 5px rgba(0,0,0,.25);
    }

    .revistadigital .boxoffer .texto_boton, .contenedor_botonVerMasOfertas .boxoffer .texto_boton {
        position: absolute;
        font-family: 'Lato';
        font-size: 11px;
        color: #fff;
        top: 8px;
        left: 12px;
        text-align: left;
        width: 72px;
        line-height: 15px;
    }

        .revistadigital .boxoffer .texto_boton:after, .contenedor_botonVerMasOfertas .boxoffer .texto_boton:after {
            width: 13px;
            height: 32px;
            position: absolute;
            content: '';
            top: 7px;
            right: 5px;
            background: url('../../../Images/flecha-right.svg') no-repeat center center;
            background-size: 100%;
            z-index: 100;
        }

.revistadigital .revistadigital-content {
    position: relative;
}

.revistadigital .content_item_home .etiqueta-producto {
    display: block;
    width: 95px;
    height: 28px;
    position: relative;
    overflow: hidden;
}

.revistadigital .content_item_home .fondo-etiqueta {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    transform: skew(-17deg);
    left: -5px;
}

.revistadigital .content_item_home .etiqueta-producto span {
    display: block;
    color: #fff;
    font-family: 'Lato';
    font-size: 13px;
    position: relative;
    text-align: left;
    padding-top: 4px;
    padding-left: 10px;
    letter-spacing: 3.5px;
}

.contenedor_carrusel_home .content_item_carrusel_clubganamas_off {
    background-image: linear-gradient(48deg, white, white) !important;
    padding: 20px 10px;
}

    .contenedor_carrusel_home .content_item_carrusel_clubganamas_off img.portada {
        width: 100%;
    }

    .contenedor_carrusel_home .content_item_carrusel_clubganamas_off a.portada {
        border: 1px solid black !important;
        color: black !important;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        width: 100%;
        border: 1px solid white;
        /* padding: 18.6px 0px; */
        padding: 15.5px 0px;
        margin-top: 5px;
    }

    .contenedor_carrusel_home .content_item_carrusel_clubganamas_off p.tercero {
        overflow: hidden;
        font-weight: bold;
        margin-bottom: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        height: 40px;
        padding: 0;
        font-size: 13px;
        margin: 0 auto;
        width: 100%;
        max-width: 177px;
        overflow: hidden;
        height: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        line-height: 18px;
        display: block;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
    }

/* SECCIÓN REVISTA DIGITAL VISTA CATÁLOGOS Y REVISTAS */

div#tab_revistasdigital_mobile {
    margin: -35px auto 0 auto;
    width: 100%;
    max-width: 400px;
}

.contenedor_seccionRevistaDigital {
    display: block;
    margin: 0 15px;
    padding-left: 34px;
}

.seccionRevistaDigital_logo_marca {
    height: 97px;
    display: block;
}

    .seccionRevistaDigital_logo_marca img {
        text-align: left;
        width: auto;
        height: 100%;
    }

.contenido_seccionRevistaDigital {
    display: block;
    margin-top: 9px;
    position: relative;
    z-index: 5;
}

    .contenido_seccionRevistaDigital span {
        font-family: 'Lato';
        font-weight: bold;
        width: 100%;
    }

        .contenido_seccionRevistaDigital span:first-child {
            display: block;
            margin-bottom: 8px;
            font-size: 14px;
        }

        .contenido_seccionRevistaDigital span:last-child {
            font-size: 13px;
        }

.contenedor_botonVerMasOfertas {
    display: block;
    position: relative;
    margin-top: 32px;
}

    .contenedor_botonVerMasOfertas .boxoffer {
        left: 0;
        right: 0;
        top: 0;
    }

/* POPUP INSCRITA A REVISTA DIGITAL */

.logo_EPT_content {
    width: 35%;
    height: 100px;
    text-align: center;
    padding-right: 10px;
    float: left;
    position: relative;
    background: rgba(177,19,20,1);
    background: -moz-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(177,19,20,1)), color-stop(18%, rgba(197,31,28,1)), color-stop(100%, rgba(223,41,34,1)));
    background: -webkit-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    background: -o-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    background: -ms-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    background: linear-gradient(to bottom, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b11314', endColorstr='#df2922', GradientType=0 );
    padding-top: 15px;
}

    .logo_EPT_content img {
        width: auto;
        height: 65px;
    }

.texto_usuario_ept {
    font-family: 'Lato';
    font-weight: 700;
    color: white;
    float: left;
    width: 65%;
    background: black;
    height: 100px;
    font-size: 13px;
    padding-top: 25px;
    padding-left: 17px;
    padding-right: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    position: relative;
}

    .texto_usuario_ept:before {
        display: none;
        content: '';
        position: absolute;
        left: -19px;
        top: 0;
        z-index: 9;
        height: 0;
        border-style: solid;
        border-width: 0 0 100px 20px;
        border-color: transparent transparent #000000 transparent;
    }

.content_carrusel_landing {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

    .content_carrusel_landing .btn_negro a {
        border: none;
    }

.tabs_pagos li a {
    padding: 15px 0px;
    margin-bottom: 4px;
}

.content_item_ept {
    background: white;
    border: 1px solid #e7e1e1;
    -webkit-box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    -moz-box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    position: relative;
    margin-bottom: 20px;
    padding: 0;
}

.titulo_set_banner_ept {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'Lato';
    font-size: 13px;
    color: #FF1534;
}

.detalle_set_banner_ept {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 700;
    margin-top: 2px;
}

.btn_mas_info_set {
    text-align: center;
    font-family: 'Lato';
    font-size: 13px;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.etiqueta_nuevo_ept {
    position: absolute;
    top: 0;
    left: 0;
}

.content_set_imagen_banner {
    text-align: center;
    margin-top: 34px;
    height: 111px;
}

    .content_set_imagen_banner img {
        width: auto;
        height: 106px;
    }

.slick-slider {
    margin-top: 0;
}

.subtitulo_landing {
    float: left;
    width: auto;
    background: #D6251F;
    font-family: 'LAto';
    font-size: 17px;
    height: 45px;
    line-height: 45px;
    color: white;
    padding-left: 15px;
    padding-right: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
}

    .subtitulo_landing:after {
        content: '';
        position: absolute;
        right: -19px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 20px 0 0;
        border-color: #d6251f transparent transparent transparent;
    }

.ofertaProductoslanding .content_item_home {
    margin-bottom: 35px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}

.nombre_producto_bpt {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.title-compartir {
    font-family: 'Lato';
    text-align: center;
    margin-top: 20px;
}

.div-carousel-rd-prev {
    left: -14%;
    top: 35%;
    text-align: right;
}

.div-carousel-rd-next {
    right: -14%;
    top: 35%;
}

.btn-ofertas-margen-fix {
    margin-top: 10px;
}

@media (max-width : 800px) {
    .js-slick-prev {
        padding-right: 10px;
    }

    .js-slick-next {
        padding-left: 10px;
    }

    .js-slick-prev img {
        width: 25px;
    }

    .js-slick-next img {
        width: 25px;
    }
}

@media (max-width : 425px) {
    .div-carousel-rd-prev {
        left: -9% !important;
    }

    .div-carousel-rd-next {
        right: -9% !important;
    }
}

@media (min-width: 426px) and (max-width: 1024px) {
    .div-carousel-rd-prev {
        left: -10%;
    }

    .div-carousel-rd-next {
        right: -10%;
    }
}


/*TRANSITIONS*/
@keyframes bounceLeft {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }

    80% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }
}

@keyframes bounceRight {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    80% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
}


.mpopup_rd {
    background-color: #F2EEF0;
    height: 100%;
    width: 100%;
    margin: auto;
    max-width: 440px;
    min-width: 320px;
    position: relative;
    top: 50%;
}

.mob_rd_inscripcion {
    min-height: 568px;
    max-height: 684px;
}

.mpopup_rd_cabecera {
    height: 85px;
    background-color: black;
    width: 100%;
    padding-left: 40%;
    padding-top: 30px;
}

.mpopup_tit {
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    width: 90%;
    max-width: 200px;
    min-width: 160px;
    letter-spacing: .5px;
}

.mrd_logo {
    background: rgba(97,60,135,1);
    background: -moz-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(97,60,135,1)), color-stop(31%, rgba(97,60,135,1)), color-stop(100%, rgba(97,60,135,1)));
    background: -webkit-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: linear-gradient(135deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613c87', endColorstr='#9d071d', GradientType=1 );
    text-align: center;
    position: relative;
}

    .mrd_logo:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        clear: both;
    }

.mrd_logo {
    width: 32%;
    height: 85px;
    padding-top: 24px;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 110px;
}

    .mrd_logo:after {
        border-left: 22px solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 85px solid #000;
    }
/* CONTENIDO POPUP INSCRIPCIÓN */
.mpopup_rd_content {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.mpopup_saludo {
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 20px;
}

.mpopup_text {
    font-size: 14px;
}

    .mpopup_text .mtit {
        font-size: 15px;
        color: #613c87;
        font-weight: 700;
    }

.mpopup_inscripcion {
    text-align: center;
}

    .mpopup_inscripcion img {
        max-width: 320px;
        margin: 4% 0;
    }


.btn_bpt {
    margin: 15px 0 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.2px;
    height: 60px;
}

    .btn_bpt.btn_red a {
        background-color: #613c87;
        text-decoration: none;
        color: white;
        text-align: center;
        height: 53px;
        width: 100%;
        position: absolute;
        line-height: 53px;
        padding: 0;
    }

.mpopup_textleg {
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    font-family: 'Lato';
    display: block;
    width: 100%;
    word-wrap: break-word;
}

    .mpopup_textleg a {
        color: black;
        text-decoration: underline;
    }

.mpopup_rd .mpopup_nomostrar {
    position: absolute;
    bottom: -20px;
    text-align: center;
    left: 50%;
    margin-left: -75px;
}

    .mpopup_rd .mpopup_nomostrar a {
        font-size: 11px;
        color: #757575;
        letter-spacing: .5px;
        text-decoration: underline;
    }




/* CONTENIDO POPUP CONFIRMACIÓN */
.mob_rd_confirmacion {
    max-height: 450px;
    margin-top: -225px !important;
}

.btn_bpt.btn_transparent a {
    background-color: transparent;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    text-align: center;
    height: 53px;
    width: 100%;
    position: absolute;
    line-height: 53px;
}

.mob_rd_confirmacion .btn_transparent a {
    letter-spacing: .2px;
    width: 240px;
}

.mob_rd_confirmacion .mpopup_text {
    letter-spacing: .5px;
    line-height: 17px;
    margin: 30px 0 50px;
}

.mob_rd_confirmacion .mpopup_textleg {
    text-align: left;
}

.mob_rd_confirmacion .rd_consultora {
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 58%;
}

/*EPT PREGUNTAS FRECUENTES*/
.ept_content_preguntas {
    font-family: 'Lato';
}

.box_beneficios_ept {
    position: relative;
}

.beneficios_ept {
    max-width: 400px;
    margin-bottom: 20px;
}

.tit_preguntas {
    font-weight: 900;
    line-height: 17px;
    margin: 20px 0 30px 0;
    letter-spacing: 1px;
}

.tit_beneficios_ept {
    display: inline-block;
    color: #613c87;
    font-size: 18px;
    font-weight: 600;
    width: 36%;
    vertical-align: -webkit-baseline-middle;
}

    .tit_beneficios_ept span {
        font-size: 22px;
    }

.desc_beneficios_ept {
    display: inline-block;
    width: 60%;
    line-height: 16px;
    vertical-align: -webkit-baseline-middle;
}

.tit_light_ept {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.box_preguntas_ept {
    margin: 0 0 40px;
}

.btn_cancelarInscripcion_ept {
    margin: 20px 0 70px;
}

    .btn_cancelarInscripcion_ept a {
        border: 1px solid black;
        padding: 13px 36px;
    }

.text_legal_ept {
    width: 90%;
    margin: auto;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
}

.ept_preguntasRespuestas_accordion .box_pregunta_ept {
    font-family: 'Lato';
    font-size: 15px;
    border-bottom: 1px solid black;
    position: relative;
}

.box_pregunta_ept:nth-child(2n) {
    margin-right: 0;
}

.ept_preguntasRespuestas_accordion {
    margin: 10px 0 30px;
    overflow: hidden;
    overflow: hidden;
}

    .ept_preguntasRespuestas_accordion .text_respuesta_ept {
        overflow: hidden;
        display: none;
        margin-bottom: 20px;
        font-size: 13px;
    }

.box_pregunta_ept .tit_pregunta_ept {
    cursor: pointer;
    padding: 20px 20px 20px 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}

    .box_pregunta_ept .tit_pregunta_ept:after {
        content: '';
        background: url('../../../Images/RevistaDigital/Polygon.png') no-repeat right center;
        right: 0;
        top: 20px;
        position: absolute;
        height: 20px;
        width: 20px;
    }

.descargarPreguntasRespuestas {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 50px;
}

@media (min-width: 700px) {
    .texto_usuario_ept {
        padding-top: 42px;
    }
}

@media (min-width: 397px) and (max-width: 767px) {
    .texto_usuario_ept {
        padding-top: 35px;
    }
}

@media (min-width: 460px) {
    .mpopup_text div {
        margin-bottom: 0;
    }

    .mpopup_text .mtit {
        font-size: 18px;
    }

    .mtit span {
        font-size: 20px !important;
    }
}

@media (max-height: 567px) {
    .mpopup_rd {
        margin-top: -240px;
    }
}

@media (min-height: 568px) {
    .mpopup_rd {
        margin-top: -284px;
    }
}


.revistadigital-detalle-titulo {
    height: 48px;
}

    .revistadigital-detalle-titulo .logo_EPT_content {
        background: black;
        height: 48px;
        padding-top: 0;
    }

        .revistadigital-detalle-titulo .logo_EPT_content span {
            font-size: 13px;
            padding-left: 15%;
        }

    .revistadigital-detalle-titulo .texto_usuario_ept {
        height: 48px;
        padding-top: 0;
        background: rgba(177,19,20,1);
        background: -moz-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(177,19,20,1)), color-stop(18%, rgba(197,31,28,1)), color-stop(100%, rgba(223,41,34,1)));
        background: -webkit-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        background: -o-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        background: -ms-linear-gradient(top, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        background: linear-gradient(to bottom, rgba(177,19,20,1) 0, rgba(197,31,28,1) 18%, rgba(223,41,34,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b11314', endColorstr='#df2922', GradientType=0 );
    }

    .revistadigital-detalle-titulo .logo_EPT_content:after {
        content: '';
        position: absolute;
        right: -25px;
        top: 0;
        z-index: 9;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 13px 25px 13px;
        border-color: black transparent transparent black;
    }

.precio_tachado_bpt {
    margin-right: 10px;
    text-decoration: line-through;
}


.arrow_misofertas {
    width: 72px;
    margin: auto;
    height: 72px;
    background-color: white;
    border-radius: 45px;
    position: relative;
    top: -36px;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    padding-top: 16px;
    font-family: 'Lato';
    margin-top: 10px;
}

.content_item_home_bpt {
    background: white;
    border: 1px solid #e7e1e1;
    -webkit-box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    -moz-box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    box-shadow: 0 15px 13px -8px rgba(204,200,204,1);
    position: relative;
    margin-bottom: 10px;
}

.box_producto_mobile_fix {
    margin-left: 4%;
    margin-right: 4%;
}

.producto_img_mobile_bpt {
    height: 125px;
    overflow: hidden;
    text-align: center;
    margin-top: 15px;
}

    .producto_img_mobile_bpt img {
        width: auto;
        height: 100%;
        max-width: 100% !important;
    }

.producto_nombre_descripcion_bpt {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    height: auto;
    font-family: 'Lato';
    letter-spacing: .2px;
    text-align: center;
    color: black;
}

    .producto_nombre_descripcion_bpt h6 {
        margin: 0;
        padding: 0;
        font-size: 11px;
        font-weight: 300;
        color: #000;
        margin-top: 8px;
        margin-bottom: 2px;
        text-transform: uppercase;
    }

    .producto_nombre_descripcion_bpt .nombre_producto_bpt {
        padding: 0;
        font-size: 13px;
        font-family: 'Lato';
        color: black;
        margin: 0 auto;
        width: 100%;
        margin-top: 6px;
        font-weight: 900;
        overflow: hidden;
        /* for set '...' in absolute position */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

        .producto_nombre_descripcion_bpt .nombre_producto_bpt b {
            display: block;
            overflow: hidden;
            height: 35px !important;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
        }

.producto_precio_bpt {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lato';
    letter-spacing: .2px;
    color: #000;
    margin-bottom: 12px;
}

.rd_logo {
    background: rgba(97,60,135,1);
    background: -moz-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(97,60,135,1)), color-stop(31%, rgba(97,60,135,1)), color-stop(100%, rgba(97,60,135,1)));
    background: -webkit-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(97,60,135,1) 0, rgba(97,60, 135,1) 31%, rgba(97,60,135,1) 100%);
    background: linear-gradient(135deg, rgba(97,60,135,1) 0, rgba(97,60,135,1) 31%, rgba(97,60,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613c87', endColorstr='#9d071d', GradientType=1 );
    text-align: center;
    position: relative;
}

    .rd_logo:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        clear: both;
    }

/* BANNER VER MÁS OFERTAS */
.banner_pedido_rd {
    height: auto;
    width: 100%;
    position: relative;
    background-color: #F6F6F6;
    height: auto;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    font-family: 'Lato';
}

.cabecera_pedido_rd {
    background-color: black;
}

    .cabecera_pedido_rd .rd_logo {
        width: 120px;
        height: 85px;
        text-transform: uppercase;
    }

        .cabecera_pedido_rd .rd_logo img {
            width: 79%;
            margin: auto;
            display: block;
            padding: 5px 5px 10px 0;
        }

        .cabecera_pedido_rd .rd_logo:after {
            border-left: 20px solid transparent;
            border-right: 0 solid transparent;
            border-bottom: 85px solid #000;
        }

        .cabecera_pedido_rd .rd_logo img.small {
            width: 80px;
            padding-top: 22px;
        }

.cabecera_pedido_text {
    color: white;
    position: absolute;
    top: 13px;
    left: 130px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
    padding-right: 8px;
}

.wrapper_resumen_mobile_clubganamas {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 580px;
}

    .wrapper_resumen_mobile_clubganamas .zonadecolor {
        width: 100%;
        height: 247px;
        background: black;
    }

    .wrapper_resumen_mobile_clubganamas .dorado {
        background: linear-gradient(62deg, #b3842f, #d9b43c) !important;
    }

    .wrapper_resumen_mobile_clubganamas .zonadecolor img.logo-club-etiqueta {
        width: 89px;
        position: absolute;
    }

    .wrapper_resumen_mobile_clubganamas .zonadecolor span {
        display: block;
        width: 209px;
        margin: auto;
        line-height: 1.31;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        font-size: 13px;
        padding: 55px 0px 15px 0px;
        text-transform: uppercase;
    }

        .wrapper_resumen_mobile_clubganamas .zonadecolor span p.primero {
            display: block;
            font-weight: normal !important;
            margin-bottom: 3px;
        }

        .wrapper_resumen_mobile_clubganamas .zonadecolor span p.segundo {
            display: block;
            font-weight: 900;
        }

    .wrapper_resumen_mobile_clubganamas .zonadecolor a.boton-ver-mas {
        display: block;
        width: 209px;
        text-transform: uppercase;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: 1px;
        color: #ffffff;
        margin: auto;
        border: 1px solid white;
        padding: 13px 0px;
    }

    .wrapper_resumen_mobile_clubganamas .zona-items {
        height: 440px;
        overflow: hidden;
        width: 100%;
        margin-top: -88px;
    }

.banner_pedido_masofertas {
    padding: 25px 20px;
    text-align: center;
}

.banner_pedido_text {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.btn_red, .btn_black_solid, .btn_white_stroke, .btn_negro {
    margin: 20px 0;
}

    .btn_red a {
        color: #613c87;
        text-decoration: none;
        padding: 15px;
        border: 1px solid #613c87;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: .5px;
        font-family: 'Lato';
        display: block;
        width: 100%;
        word-wrap: break-word;
    }

    .btn_negro a {
        color: black;
        text-decoration: none;
        padding: 15px 6%;
        border: 1px solid black;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .5px;
    }

    .btn_black_solid a, .btn_white_stroke a {
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 15px 25px;
        border: 1px solid black;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: .5px;
    }

    .btn_white_stroke a {
        border-color: white;
    }

.rd_producto_bloqueado {
    min-height: 75px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 1;
    text-align: center;
    color: white;
    font-family: 'Lato';
    letter-spacing: 1px;
    padding: 10px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, .25);
}

    .rd_producto_bloqueado a {
        color: white;
        padding: 10px 0;
        font-size: 12px;
    }

.rd_producto_bloqueado_tit {
    margin-bottom: 4px;
}

.texto_tab_pagos {
    font-family: 'Lato';
}

.btn_inscribirse {
    background: #613c87;
    font-family: Lato;
    font-size: 13px;
    color: white;
    width: 75%;
    max-width: 320px;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    display: block;
    margin-top: 20px;
}

.terminos_inscribirse {
    display: inline-block;
    text-decoration: underline;
}


/*BLOQUE HOME INSCRITAS C-12*/
.mob_home_bpt {
    font-family: 'Lato';
    text-align: center;
}

.rd_lanzamiento {
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0 20px;
}

.rd_lanzamiento_producto {
    width: 100%;
    max-width: 320px;
    margin: 20px 0;
}

.rd_verofertas {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.mob_carrusel_bpt {
    background-color: #F2EEF0;
    padding-bottom: 30px;
    font-weight: 600;
}

.texto_inscribirse {
    font-family: 'Lato';
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
}

.subtexto_inscribirse {
    font-family: 'Lato';
    font-size: 11px;
    margin-top: 27px;
    color: gray;
}

.content_inscribirte {
    margin-top: 10px;
    background: #ececec;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Lato';
    font-size: 13px;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
}

.enterate_aqui {
    display: block;
    font-family: 'Lato';
    font-size: 11px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    width: 270px;
    font-weight: 400;
}

.block_inscribete_predio {
    text-align: center;
}

.hblock_title_perdio {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 22px;
    text-align: center;
    margin-bottom: 18px;
}

.hblock_title_perdio2 {
    height: auto;
    left: 300px;
    font-size: 17px;
    font-weight: 100;
    padding-top: 13px;
    line-height: 24px;
    letter-spacing: 2px;
    display: block;
}

/* NUEVO LANDING SUSCRIPCION MOBILE */
.como-funciona span.recuerda {
    color: #613c87;
}

.bloques-gana-mas .contenedor-mobile-fix > .bloque-img .cnt-tres {
    background: url('../../../Images/Lbel/consejos-y-tips-visual.png');
}

.bloques-gana-mas .contenedor-mobile-fix span.recuerda-txt {
    color: #613c87 !important;
}

.bloques-gana-mas .contenedor-mobile-fix .visual-funcionamiento {
    background: url('/Content/Images/Lbel/visual-de-funcionamiento.png');
}

.bloques-gana-mas .contenedor-mobile-fix .caja-club-derecha hr {
    background: #613c87;
}

a.btn-suscribete-video {
    background: #613c87;
    box-shadow: 1px 2px 3px 4px #000000;
}
/* FIN NUEVO LANDING SUSCRIPCION MOBILE */


/* POP UP ACTUALIZA DATOS*/
.boton_popup_confirmacion_datos {
    background: #613c87 !important;
}

.popup_confirmacion_datos .contenido-popup-nuevo-2017 .estructura_confirmar_datos .centrar-vertical-contenido .form-confirmacion .loader-confirmacion {
    background: url(../../../Images/Lbel/loading_circle.gif);
}

/* FIN POP UP ACTUALIZA DATOS */

/*BOTON ESIKA NO ANIMADO: ROJO*/
.activar_boton_esika_no_animado {
    background-color: #e81c36 !important;
    color: white !important;
    padding: 15px 0px;
}
/*BOTON DORADO NO ANIMADO - CLUB GANA+*/
.activar_boton_dorado_no_animado {
    background-color: #c39934;
    color: white !important;
    padding: 15px 0px;
    border: none !important;
}
/*BOTON BLANCO NO ANIMADO - CLUB GANA+*/
.activar_boton_blanco_no_animado {
    background-color: white;
    color: #c39934 !important;
    position: relative;
    padding: 15px 0px;
}
