
/* SECCIÓN REVISTA DIGITAL VISTA BIENVENIDA - PEDIDO - CATALOGO */
.revistadigital .boxoffer .fondo_boton, .contenedor_botonVerMasOfertas .boxoffer .fondo_boton {
    background: #613c87;
}

/* FIN BIENVENIDA - PEDIDO - CATALOGO */

.btn_red a {
    color: #613c87;
    border: 1px solid #613c87;
}

.btn_inscribirse {
    background: #613c87;
}

/* NUEVO LANDING SUSCRIPCION MOBILE */
.como-funciona span.recuerda {
    color: #613c87;
}

.bloques-gana-mas .contenedor-mobile-fix > .bloque-img .cnt-tres {
    background: url('/Content/Images/Lbel/consejos-y-tips-visual.png');
}

.bloques-gana-mas .contenedor-mobile-fix span.recuerda-txt {
    color: #613c87 !important;
}

.bloques-gana-mas .contenedor-mobile-fix .visual-funcionamiento {
    background: url('/Content/Images/Lbel/visual-de-funcionamiento.png');
}

.bloques-gana-mas .contenedor-mobile-fix .caja-club-derecha hr {
    background: #613c87;
}

a.btn-suscribete-video {
    background: #613c87;
    box-shadow: 1px 2px 3px 4px #000000;
}
/* FIN NUEVO LANDING SUSCRIPCION MOBILE */


/* POP UP ACTUALIZA DATOS*/
.boton_popup_confirmacion_datos {
    background: #613c87 !important;
}

.popup_confirmacion_datos .contenido-popup-nuevo-2017 .estructura_confirmar_datos .centrar-vertical-contenido .form-confirmacion .loader-confirmacion {
    background: url(/Content/Images/Lbel/loading_circle.gif);
}
/* FIN POP UP ACTUALIZA DATOS */

