<div class="cerrar-vineta">
    <div class="sbcont">
        <span>REVISTA C-17 <img src="~/Content/Images/flecha-hacia-abajo.png" /></span>
    </div>
</div>
<div class="cont-vineta">
    <div class="sbcont">
        <div class="marco">
            <img id="imgPortadaRevista" src="" alt="">
            <span>
                Encuentra también aquí las mismas ofertas en el formato antiguo
            </span>
            <a href="">VER GUÍA</a>
        </div>
    </div>
</div>