<div class="desplegablegnd">
    <div class="gndcontenido">
        <div class="gnd">
            <span class="gndcerrar">
                REVISTA C17 <span class="flechitagnd">❯</span>
            </span>
            <div class="gndbloque">
                <img id="imgPortadaRevista" src="~/Content/Images/revista_no_disponible.jpg" alt="">
                <p class="txtgnd">Encuentra también aquí las mismas ofertas en el formato antiguo</p>
                <a href="#" class="irgnd">VER GUÍA</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>