<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JsonWebTokenSecretKey" value="kjsfg!)=)4diof25sfdg302dfg57438)!#$#70dfgf234asdnan" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IZonificacionService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IODSService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IContenidoService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_ISeguridadService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IComunidadService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="WsFuncionesSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="WS_GenerarLideresSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IEvaluacionCrediticiaService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IValidacionCrediticia" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IPortalService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IBelcorpPaisService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IODSService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IValidacionesUnete" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IProductoService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="WsFuncionesSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_ICDRService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPedidoService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text" />
        <binding name="BasicHttpBinding_IPedidoRechazadoService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISACService" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IUsuarioService" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IClienteService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" />
        <binding name="BasicHttpsBinding_ISeguridadService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:23486/ComunidadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComunidadService" contract="ServiceComunidad.IComunidadService" name="BasicHttpBinding_IComunidadService" />
      <endpoint address="http://10.12.3.253/wsProlMetodo/WsFunciones.asmx" binding="basicHttpBinding" bindingConfiguration="WsFuncionesSoap1" contract="WsFuncionesSoap2.WsFuncionesSoap" name="WsFuncionesSoap1" />
      <endpoint address="http://10.12.3.129/wsProlMetodo/WsFunciones.asmx" binding="basicHttpBinding" bindingConfiguration="WsFuncionesSoap" contract="WsFuncionesSoap.WsFuncionesSoap" name="WsFuncionesSoap" />
      <endpoint address="http://superate2qa.somosbelcorp.com/WS_GenerarLideres.asmx" binding="basicHttpBinding" bindingConfiguration="WS_GenerarLideresSoap" contract="ServicioGenerarLideres.WS_GenerarLideresSoap" name="WS_GenerarLideresSoap" />
      <endpoint address="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBelcorpPaisService" contract="HojaInscripcionBelcorpPais.IBelcorpPaisService" name="BasicHttpBinding_IBelcorpPaisService" />
      <endpoint address="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ODSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IODSService1" contract="HojaInscripcionODS.IODSService" name="BasicHttpBinding_IODSService1" />
      <endpoint address="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidacionCrediticia" contract="ValidacionCrediticia.IValidacionCrediticia" name="BasicHttpBinding_IValidacionCrediticia" />
      <endpoint address="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ValidacionesUnete.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidacionesUnete" contract="ValidacionesUnete.IValidacionesUnete" name="BasicHttpBinding_IValidacionesUnete" />
      <endpoint address="http://localhost:41615/CDRService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICDRService" contract="ServiceCDR.ICDRService" name="BasicHttpBinding_ICDRService" />
      <endpoint address="http://localhost:41615/PedidoRechazadoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoRechazadoService" contract="ServicePedidoRechazado.IPedidoRechazadoService" name="BasicHttpBinding_IPedidoRechazadoService" />
      <endpoint address="http://localhost:41615/SACService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISACService" contract="ServiceSAC.ISACService" name="BasicHttpBinding_ISACService" />
      <endpoint address="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortalService" contract="ServiceUnete.IPortalService" name="BasicHttpBinding_IPortalService" />
      <endpoint address="http://localhost:41615/ODSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IODSService" contract="ServiceODS.IODSService" name="BasicHttpBinding_IODSService" />
      <endpoint address="http://localhost:41615/ContenidoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContenidoService" contract="ServiceContenido.IContenidoService" name="BasicHttpBinding_IContenidoService" />
      <endpoint address="http://localhost:41615/SeguridadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadService" contract="ServiceSeguridad.ISeguridadService" name="BasicHttpBinding_ISeguridadService" />
      <endpoint address="http://localhost:41615/UsuarioService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService" contract="ServiceUsuario.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
      <endpoint address="http://localhost:41615/ZonificacionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZonificacionService" contract="ServiceZonificacion.IZonificacionService" name="BasicHttpBinding_IZonificacionService" />
      <endpoint address="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/CatalogoWCF/ProductoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductoService" contract="ServiceProductoCatalogoPersonalizado.IProductoService" name="BasicHttpBinding_IProductoService" />
      <endpoint address="http://localhost:41615/ClienteService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClienteService" contract="ServiceCliente.IClienteService" name="BasicHttpBinding_IClienteService" />
      <endpoint address="http://localhost:41615/PedidoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoService" contract="ServicePedido.IPedidoService" name="BasicHttpBinding_IPedidoService" />
      <endpoint address="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/EvaluacionCrediticiaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEvaluacionCrediticiaService" contract="ServiceEvaluacionCrediticia.IEvaluacionCrediticiaService" name="BasicHttpBinding_IEvaluacionCrediticiaService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>