@{
    // Asignar permisosList con los elementos solo de la cabecera
    var permisoList = (List<Portal.Consultoras.Web.Models.PermisoModel>)ViewBag.Permiso;
    permisoList = permisoList != null
        ? permisoList.Where(x => x.Posicion.ToLower().Equals("header") && x.Mostrar).OrderBy(p => p.OrdenItem).ToList()
        : new List<Portal.Consultoras.Web.Models.PermisoModel>();
}

@if (permisoList.Count > 0)
{
    var listaMenu2 = new Portal.Consultoras.Web.Models.PermisoModel();
    listaMenu2.SubMenus = permisoList;
    @Html.Partial("~/Views/Shared/_Menu2.cshtml", listaMenu2)
   
}

@if (ViewBag.MostrarBuscadorYFiltros)
{
    <div class="buscador_filtros">
        <input type="text" value="" id="CampoBuscadorProductos" class="campo_buscador_filtros" placeholder="¿Buscas ofertas?" />
        <a class="enlace_busqueda_filtros" title="Buscar">
            <img src="@Url.Content("~/Content/Images/icono_lupa.png")" alt="Buscar" />
        </a>
        <a class="opcion_limpiar_campo_busqueda_productos" title="Cerrar" style="display:none;">
            <img src="@Url.Content("~/Content/Images/btn_cerrar_popup_color_negro.svg")" alt="Cerrar" />
        </a>
    </div>
}
