
@using Portal.Consultoras.Common
@using Portal.Consultoras.Web.Models;
@using Portal.Consultoras.Web.Areas.Mobile.Models
@using Portal.Consultoras.Web.Areas.Mobile.Helpers
@using Portal.Consultoras.Web.Helpers

@{
    ShowRoomBannerLateralModel showRoomBannerLateral = new ShowRoomBannerLateralModel();
    if (ViewBag.MostrarShowRoomBannerLateral == true) { showRoomBannerLateral = ViewBag.ShowRoomBannerLateral; }

    bool esIngresoUnico = ViewContext.EsIngresoUnico();

    var items = (List<MenuMobileModel>)ViewBag.MenuMobile;
    var itemsMenu = items == null ? new List<MenuMobileModel>() : items.Where(p => p.Posicion.ToLower().Equals("menu")).ToList();
    var urlDomain = Util.GetUrlHost(Request);
    var tipoUsuario = ViewBag.TipoUsuario;
}

<!-- MENÚ PRINCIPAL MOBILE -->
<nav class="header__menu header__menu--lateralIzquierdo mostrarEnMobile">
    <div class="icono__cerrar row flex-column align-items-end ml-0 mr-0">
        <img src="@Url.Content("~/Content/Images/icono_cerrar_menu_mobile.png")" alt="Cerrar">
    </div>
    <div class="consultora__saludo row flex-column justify-content-center align-items-center ml-0 mr-0 mb-30">
        <div class="consultora__datos consultora__datos--menu">
            <div class="consultora__imagen w-100">
                <img src="@Url.Content("~/Content/Images/icono_avatar.svg")" alt="Foto Consultora" class="w-100">
            </div>
            <div class="icono__actualizarDatos text-center">
                <img src="@Url.Content("~/Content/Images/mobile/icono_editar_foto_perfil.svg")" alt="Actualizar datos">
            </div>
        </div>
        <div class="consultora__saludo consultora__saludo--menu">
            ¡Hola Mary!
        </div>
    </div>
    <ul class="menu__lista row flex-column flex-lg-row flex-xl-row justify-content-lg-start justify-content-xl-start align-items-lg-center align-items-xl-center ml-0 mr-0 mb-0 pl-0">
        <li class="menu__item">
            <a class="menu__link menu__link--pedido d-block text-uppercase" title="Ingresa tu pedido">
                Ingresa <span class="text-bold">tu pedido</span>
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link d-block" title="Inicio">
                Inicio
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link d-block menu__link--conSubmenu menu__link--conSubmenuMobile" title="Mi Negocio">
                Mi Negocio
            </a>
            <ul class="submenu__lista submenu__lista--miNegocio row flex-column flex-nowrap flex-lg-wrap flex-xl-wrap ml-0 mr-0 mb-0 pl-0">
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Seguimiento a tu pedido">
                        Seguimiento a tu pedido
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Pedidos ingresados">
                        Pedidos ingresados
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Pedidos facturados">
                        Pedidos facturados
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Estado de cuenta">
                        Estado de cuenta
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="App de catálogos">
                        App de catálogos
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Mis clientes">
                        Mis clientes
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Expofertas">
                        Expofertas
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Productos Agotados">
                        Productos Agotados
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Mis pedidos">
                        Mis pedidos
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Mi Perfil">
                        Mi Perfil
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Cambios y devoluciones">
                        Cambios y devoluciones
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Mis certificados">
                        Mis certificados
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu__item menu__item--ofertas">
            <a class="menu__link d-block menu__link--ofertas" title="Ofertas">
                <!-- Se muestra ésta imagen si la consultora no tiene suscripción activa -->
                <img src="https://cdn1-prd.somosbelcorp.com/RevistaDigital/PE/gif-ganamas.gif" alt="Gana Más" style="display:none;">
                <!-- Fin - Se muestra ésta imagen si la consultora no tiene suscripción activa -->
                <!-- Se muestra ésta imagen si la consultora tiene suscripción activa -->
                <img src="https://d1y60eoca8fkyl.cloudfront.net/RevistaDigital/PE/gif-clubganamas.gif" alt="Club Gana Más">
                <!-- Fin - Se muestra ésta imagen si la consultora tiene suscripción activa -->
            </a>
        </li>
        <li class="menu__item">
            <!-- Agregar clase menu__link--sinAfiliacionAppCatalogo cuando consultora no esté afiliada al app de catálogos -->
            <a class="menu__link d-block menu__link--conSubmenu menu__link--conSubmenuMobile" title="App de Catálogos">
                App de Catálogos
            </a>
            <!-- Fin - Agregar clase menu__link--sinAfiliacionAppCatalogo cuando consultora no esté afiliada al app de catálogos -->
            <!-- Si la consultora no esté afiliada al app de catálogos no se le debe mostrar este submenú -->
            <ul class="submenu__lista row flex-column flex-nowrap ml-0 mr-0 mb-0 pl-0">
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Información">
                        Información
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Pedidos pendientes">
                        Pedidos pendientes
                        <span class="notificaciones__cantidad notificaciones__cantidad--pedidosPendientes d-block">1</span>
                    </a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link d-block" title="Historial de pedidos">
                        Historial de pedidos
                    </a>
                </li>
            </ul>
            <!-- Fin - Si la consultora no esté afiliada al app de catálogos no se le debe mostrar este submenú -->
        </li>
        <li class="menu__item">
            <a class="menu__link d-block" title="Catálogos">
                Catálogos
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link d-block" title="Mi Asesor de Belleza">
                Mi Asesor de Belleza
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link d-block" title="Mi Academia">
                Mi Academia
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link d-block" title="Mi Comunidad">
                Mi Comunidad
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link d-block" title="Mis Notificaciones">
                Mis Notificaciones
            </a>
        </li>
    </ul>
    <a class="menu__link menu__link--cerrar-sesion text-underline d-block" title="Cerrar Sesión">
        Cerrar sesión
    </a>
</nav>
<!-- FIN - MENÚ PRINCIPAL MOBILE -->