<div class="content-pop-up pb-0 popup_privacidad_de_datos">
    <div class="cabecera">
        AVISO DE PRIVACIDAD
    </div>
    <div class="indicador_lbel"></div>
    <div style="height: 275px; padding-right: 15%; padding-left: 15%; margin-top: 55px;">
        <div style="color: #222;" id="pop-up-body" class="default-skin">

            TRANSBEL, S.A. de C.V.,  con domicilio en Rancho San Javier, Carretera México Querétaro Km. 41.5, Nave 6, Lotes 2 y 3, Col. Ex hacienda San Miguel, Cuautitlán Izcalli  Mex., C.P. 54715 y sucursal en Edificio Torre Reforma Piso 32, Paseo de la Reforma 483, Col. Cuauhtémoc, Del. Cuauhtémoc C.P. 06500, Teléfono +52 55 5284 36 00 Ciudad de México (en adelante “Belcorp”) pone a su disposición el presente Aviso de Privacidad, a fin de dar cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante la “Ley”).
            <br />
            <br />

            Datos Personales que se recaban.- Nombre; fecha de nacimiento, Registro Federal de Contribuyentes; domicilio fiscal; domicilio particular; dirección de correo electrónico; número de teléfono fijo y celular; número de credencial para votar (IFE); número de Registro Federal de Contribuyentes (RFC); número de Clave única de Registro de Población (CURP); escolaridad; firma autógrafa; referencias familiares, lo cual incluye: nombre, teléfono. Asimismo, con los datos personales proporcionados, Belcorp podrá obtener indirectamente datos personales de índole financiera adicionales de usted como pueden ser su reporte de historial crediticio en cualquiera de las Sociedades de información Crediticia existentes en el territorio de los Estados Unidos Mexicanos u otros antecedentes o registros financieros.

            <br />
            <br />

            Finalidades y/o Usos de los datos personales.- Los datos personales que recaba Belcorp son utilizados para cumplir con las obligaciones derivadas de la relación que con usted se cree, así como para enviarle información, recordatorios y/o invitaciones para actividades organizadas por La Compañía, brindarle beneficios para usted y su negocio, llevar a cabo la cobranza y procesamiento de pagos; reingresos a venta directa; formar una base de datos de personas dedicadas a la venta directa; análisis de mercado; realizar llamadas para fines publicitarios y mercadotécnicos, envío de publicidad y promociones sobre Los Productos o servicios de Belcorp; análisis a fin de determinar la eficacia de nuestra publicidad y promociones; y para mapearla y contactarla con posibles compradoras mediante el uso de una aplicación de software a ser instalada en dispositivos móviles y tabletas electrónicas con dicho fin (la “App”). Los datos de familiares serán utilizados únicamente para contactarlos e intentar localizar a la consultora.

            <br />
            <br />

            Por lo tanto, al firmar el presente documento, usted brinda su consentimiento en forma libre, voluntaria, previa, expresa, informada e inequívoca a Belcorp, para que realice el tratamiento de sus datos personales conforme a lo indicado precedentemente.

            <br />
            <br />

            Transferencias de datos personales.- Belcorp podrá transferir sus datos personales a cualquier sociedad filial o subsidiaria, así como a cualquier Sociedad de Información Crediticia para efectos de reporte por falta de pago oportuno y a través de la App a posibles compradoras a efecto de que ellas puedan contactarla a usted y usted pueda realizar alguna venta. Asimismo, en caso de que Belcorp decida vender su cartera de clientes, sus datos personales serán transferidos al tercero adquirente y dicha transferencia la será notificada a través de una modificación al presente Aviso de Privacidad de conformidad con los términos aquí establecidos. Excepto por lo anterior, Belcorp no cederá o transferirá sus datos personales a terceros ajenos a Belcorp sin su conocimiento previo. Sin embargo, Belcorp podrá transferir sus datos personales cuando dicha transferencia esté prevista en la Ley.

            <br />
            <br />

            Derechos que le corresponden  respecto a sus datos personales.- Usted podrá ejercitar ante la Persona responsable de Datos Personales de Belcorp los derechos de acceso, rectificación cancelación y oposición (derechos ARCO), establecidos en la Ley. Asimismo, podrá revocar, en todo momento, el consentimiento que haya otorgado y que fuese  necesario para el tratamiento de sus datos personales, así como solicitar que se limite el uso o divulgación de sus datos personales. Lo anterior, enviando su petición al correo electrónico: privacidadbelcorpmx@belcorp.biz o presentándose en la sucursal ubicada en Edificio Torre Reforma Piso 32, Paseo de la Reforma 483, Col. Cuauhtémoc, Del. Cuauhtémoc C.P. 06500, Teléfono +52 55 5284 36 00 Ciudad de México. Belcorp pondrá a su disposición a partir de enero de 2012 los Formatos Sugeridos para llevar a cabo el ejercicio de derechos ARCO a través de su sitio web: <a href="https://www.somosbelcorp.com">www.somosbelcorp.com</a> - <a href="https://www.uneteabelcorp.com">www.uneteabelcorp.com</a>   o en el domicilio antes mencionado.

            <br />
            <br />

            Cambios al Aviso de Privacidad.- En caso de existir cambios en el presente se pondrá a su disposición la versión actualizada del mismo a través de la página web <a href="https://www.somosbelcorp.com">www.somosbelcorp.com</a> -<a href="https://www.uneteabelcorp.com">www.uneteabelcorp.com</a> o se le enviará la versión actualizada al domicilio que nos proporcionó.

            <br />
            <br />

            En caso de no estar de acuerdo con los términos del presente, le pedimos que lo informe a la Persona responsable de Datos Personales de Belcorp dentro de los 5 días hábiles siguientes a haber recibido este Aviso de Privacidad, de lo contario, se entenderá que está de acuerdo en que sus datos personales sean tratados de conformidad con el presente.

            <br />
            <br />

            De haber proporcionado datos de terceros, usted garantiza que ha obtenido las autorizaciones necesarias para tal efecto y que les ha informado del tratamiento que se les dará a sus datos personales en los términos de este aviso de Privacidad.

            <br />
            <br />

            En término de la Ley y su Reglamento, le informamos que, ante la negativa de respuesta a las solicitudes de derechos ARCO o inconformidad con la misma, usted puede presentar ante el Instituto Federal de Acceso a la información y Protección de Datos, la correspondiente Solicitud de Protección de Derechos en los plazos y términos fijados por la Ley y su Reglamento.

            <br />
            <br />

            HAGO CONSTAR BAJO PROTESTA DE DECIR VERDAD QUE TODOS LOS DATOS REGISTRADOS SON VERDADEROS; POR LO QUE ASUMO MI RESPONSABLIDAD CON TODAS LAS CONSECUENCIAS JURIDICAS EN LA PARTE CIVIL, PENAL Y COMERCIAL SOBRE DATOS ENTREGADOS.
        </div>
    </div>
    <div style="height: 50px;">
        <div style="text-align: right; padding-top: 0; padding-right: 15%; color: #000; font-weight: bold;">
            <span style="border-bottom: 1px solid #000; cursor: pointer;" onclick="CloseDialog()">OK, GRACIAS</span>
        </div>
    </div>
    <div class="clear"></div>
    <div class="enlaces_archivos_arco">
        <div class="texto_solicitudes">Solicitudes :</div>
        <div class="grupo_enlaces_archivos_arco">
            <a href="@System.Configuration.ConfigurationManager.AppSettings.Get("URLSolicitudAcceso")" id="btnAccesoUrl" title="Acceso" class="enlace_archivo_arco">Acceso</a>
            <a href="@System.Configuration.ConfigurationManager.AppSettings.Get("URLSolicitudCancelacion")" id="btnCancelacionUrl" title="Cancelación" class="enlace_archivo_arco">Cancelación</a>
            <a href="@System.Configuration.ConfigurationManager.AppSettings.Get("URLSolicitudOposicion")" id="btnOposicionUrl" title="Oposición" class="enlace_archivo_arco">Oposición</a>
            <a href="@System.Configuration.ConfigurationManager.AppSettings.Get("URLSolicitudRectificacion")" id="btnRectificacionUrl" title="Rectificación" class="enlace_archivo_arco">Rectificación</a>

        </div>
    </div>
</div>