@{
    List<Portal.Consultoras.Web.Models.PermisoModel> permisoList = ViewBag.PermisosFooter;
}
<script type="text/javascript">
    if (!Array.prototype.indexOf) {
        Array.prototype.indexOf = function (elt) {
            var len = this.length >>> 0;

            var from = Number(arguments[1]) || 0;
            from = (from < 0)
                 ? Math.ceil(from)
                 : Math.floor(from);
            if (from < 0)
                from += len;
            for (; from < len; from++) {
                if (from in this &&
                    this[from] === elt)
                    return from;
            }
            return -1;
        };
    }
</script>

@if (permisoList != null)
{

    <div class="foot_list">
        @if (ViewBag.Rol == Portal.Consultoras.Common.Constantes.Rol.AdministradorContenido)
        {
            <label>Links</label>
            <ol>
                @foreach (var mp in permisoList.Where(p => p.IdPadre == 0 && p.Mostrar && String.Compare(p.Posicion, "Footer", StringComparison.OrdinalIgnoreCase) == 0).OrderBy(p => p.OrdenItem))
                {
                    <li>
                        @if (mp.PaginaNueva)
                        {
                            <a href="#">@mp.Descripcion</a>
                        }
                        else if(@mp.UrlItem!="" && @mp.UrlItem.Contains("/"))
                        {
                            <a href="#">@mp.Descripcion</a>
                        }
                    </li>
                }
                <li>
                    <a href="#" class="static_footer">Productos agotados</a>
                </li>
                <li>
                    @if (!ViewBag.UrlCapedevi.Equals(string.Empty))
                    {
                        if (ViewBag.NombrePais == "Ecuador")
                        {
                            <a href="#" class="static_footer">AEVD</a>
                        }
                        else
                        {
                            <a href="#" class="static_footer">CAPEDEVI</a>
                        }
                    }
                    else
                    {
                            <a style="display: none" class="static_footer">CAPEDEVI</a>
                    }
                </li>
                <li>
                    @if (!ViewBag.UrlAyuda.Equals(string.Empty))
                    {
                        <a href="#" style="display: none;" class="static_footer">Ayuda</a>
                    }
                    else
                    {
                        <a onclick="return false;" style="display: none;" class="static_footer">Ayuda</a>
                    }
                </li>
                <li>
                    @if (!ViewBag.UrlTerminos.Equals(string.Empty))
                    {
                        <a href="#" class="static_footer">Términos y Condiciones</a>
                    }
                    else
                    {
                        <a onclick="return false;" class="static_footer">Términos y Condiciones</a>
                    }
                </li>
                <li>
                    <a href="#" class="static_footer">Fe de Erratas</a>
                </li>
            </ol>
        }
    </div>
}