@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Belcorp | Portal Consultoras";
}

<div class="logo_modal">
    <a href="#" id="logo">
        <img src="../Content/Images/logo_belcorp.png" alt="" />
    </a>
</div>
<div class="wrap_modal">
    <div class="image_modal">
        <img src="../Content/Images/error_icono.png" alt="" />
    </div>
</div>
<div class="texto_modal">
    Ha ocurrido un error en el Sistema
</div>
<div class="boton_modal">
    <div class="input_regresar_home">
        @Html.ActionLink("Ir al Sitio", "Index", "Bienvenida")
    </div>
</div>
