USE BelcorpBolivia
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpCostaRica
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpChile
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpColombia
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpDominicana
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpEcuador
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpGuatemala
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpMexico
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpPanama
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpPeru
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpPuertoRico
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpSalvador
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
USE BelcorpVenezuela
GO
ALTER PROCEDURE [dbo].[UpdMatrizComercialImagen]
	@IdMatrizComercialImagen varchar(50),
	@Foto varchar(150),
	@UsuarioModificacion varchar(50),
	@NemoTecnico varchar(100)
AS
	UPDATE MatrizComercialImagen
	set
		Foto = @Foto,
		UsuarioModificacion = @UsuarioModificacion,
		FechaModificacion = getdate(),
		NemoTecnico = @NemoTecnico
	where IdMatrizComercialImagen = @IdMatrizComercialImagen ;
GO
