USE BelcorpBolivia
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpCostaRica
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpChile
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpColombia
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpDominicana
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpEcuador
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpGuatemala
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpMexico
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpPanama
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpPeru
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpPuertoRico
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpSalvador
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
USE BelcorpVenezuela
GO
DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9851')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9851', @ID, '1', 'Habilitar búsqueda por nemotécnico en matriz de imagenes.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9852')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9852', @ID, '1', 'Habilitar búsqueda por nemotécnico en ofertas de liquidación.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9853')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9853', @ID, '1', 'Habilitar búsqueda por nemotécnico en productos sugeridos.')
END
GO

DECLARE @ID SMALLINT 
SET @ID = 98 --Plan 20

IF NOT EXISTS(SELECT 1 FROM TablaLogicaDatos where TablaLogicaID = @ID AND TablaLogicaDatosID='9854')
BEGIN
	INSERT INTO TablaLogicaDatos(TablaLogicaDatosID,TablaLogicaID, Codigo, Descripcion) VALUES('9854', @ID, '1', 'Habilitar búsqueda por nemotécnico en zona de estrategia.')
END
GO
