<style>
    .demo-lightSlider {
        width: 100%;
    }
    .demo-lightSlider a.btn-ver-mas{
            /* display: inline-block; */
    /* width: 100%; */
    text-align: center;
    background: rgba(218, 20, 20, 0.49);
    color: white;
    padding: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    /* bottom: 0; */
    right: 0;
    z-index: 99999999;
    margin-top: calc(-7% - 10%);
    font-size: 15PX;
    }

    .demo-lightSlider ul {
        list-style: none outside none;
        padding-left: 0;
        margin-bottom: 0;
    }

        .demo-lightSlider ul li {
            display: block;
            float: left;
            margin-right: 6px;
            cursor: pointer;
        }

        .demo-lightSlider ul li img {
            width: 100%;
        }
    .contenedor-items-revista{
        
    }
</style>
<div class="demo-lightSlider">
    <ul id="lightSlider">
        <!-- En data-thumb iría el previsual pequeño de la portada-->
        <li data-thumb="https://image.isu.pub/170321005726-493f6caa5b7a6aafafa9e41cd63df725/jpg/page_1.jpg">
            <img src="https://image.isu.pub/170321005726-493f6caa5b7a6aafafa9e41cd63df725/jpg/page_1.jpg" />
        </li>
        <li data-thumb="https://i.imgur.com/yCgeFYH.jpg">
            <img src="https://i.imgur.com/yCgeFYH.jpg" />
        </li>
        <li data-thumb="https://i.imgur.com/UjqHp2S.jpg">
            <img src="https://i.imgur.com/UjqHp2S.jpg" />
        </li>
        <li data-thumb="https://image.isu.pub/170321005726-493f6caa5b7a6aafafa9e41cd63df725/jpg/page_1.jpg">
            <img src="https://image.isu.pub/170321005726-493f6caa5b7a6aafafa9e41cd63df725/jpg/page_1.jpg" />
        </li>
        <li data-thumb="https://i.imgur.com/yCgeFYH.jpg">
            <img src="https://i.imgur.com/yCgeFYH.jpg" />
        </li>
        <li data-thumb="https://i.imgur.com/UjqHp2S.jpg">
            <img src="https://i.imgur.com/UjqHp2S.jpg" />
        </li>

        <li data-thumb="https://image.isu.pub/170321005726-493f6caa5b7a6aafafa9e41cd63df725/jpg/page_1.jpg">
            <img src="https://image.isu.pub/170321005726-493f6caa5b7a6aafafa9e41cd63df725/jpg/page_1.jpg" />
        </li>
        <li data-thumb="https://i.imgur.com/yCgeFYH.jpg">
            <img src="https://i.imgur.com/yCgeFYH.jpg" />
        </li>
        <li data-thumb="https://i.imgur.com/UjqHp2S.jpg">
            <img src="https://i.imgur.com/UjqHp2S.jpg" />
        </li>
        <li data-thumb="https://image.isu.pub/170321005726-493f6caa5b7a6aafafa9e41cd63df725/jpg/page_1.jpg">
            <img src="https://image.isu.pub/170321005726-493f6caa5b7a6aafafa9e41cd63df725/jpg/page_1.jpg" />
        </li>
        <li data-thumb="https://i.imgur.com/yCgeFYH.jpg">
            <img src="https://i.imgur.com/yCgeFYH.jpg" />
        </li>
        <li data-thumb="https://i.imgur.com/UjqHp2S.jpg">
            <img src="https://i.imgur.com/UjqHp2S.jpg" />
        </li>
    </ul>
    <a class="btn-ver-mas">VER CATÁLOGO</a>
    <div class="contenedor-items-revista">
        Hola!
    </div>   
</div>