@using Portal.Consultoras.Common

@model Portal.Consultoras.Web.Models.RevistaDigitalInformativoModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayoutContenedor.cshtml";
    var urlDomain = Util.GetUrlHost(Request);
}

@section styles{
    @System.Web.Optimization.Styles.Render("~/Bundle/Css/Mobile/RevistaDigital-Informativa")
}

<div id="saber-mas-uno"></div>
<div class="bloques-gana-mas gana-mas">
    <div class="contenedor-mobile-fix" style="padding: 0;">
        <div class="logo"></div>
        <span class="txt-logo">
            PRONTO PODRÁS DISFRUTAR DE LAS MEJORES OFERTAS EXCLUSIVAS <br />¡Y MUCHO MÁS!
        </span>
    </div>
</div>

<div class="bloques-gana-mas mejores-ofertas">
    <div class="contenedor-mobile-fix">
        <div class="bloque-texto">
            <p class="titulo">
                PACKS A TU MEDIDA
            </p>
            <span class="texto">
                Tendrás ofertas de tus productos favoritos, más ganadoras que las de tu guía impresa.
            </span>
        </div>
        <div class="bloque-img img-pack">
            <div class="cnt cnt-uno">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="bloques-gana-mas sin-codigos">
    <div class="contenedor-mobile-fix">
        <div class="bloque-texto">
            <p class="titulo">
                SIN CÓDIGOS
            </p>
            <span class="texto">
                No vas a tener que digitar códigos, todo será más rápido.
            </span>
        </div>
        <div class="bloque-img">
            <div class="cnt cnt-dos">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="bloques-gana-mas pack-a-medida">
    <div class="contenedor-mobile-fix">
        <div class="bloque-texto">
            <p class="titulo">
                TIPS PARA GANAR
            </p>
            <span class="texto">
                Recibirás en tu celular y/o en tu correo electrónico tips para vender ¡mucho más!
            </span>
        </div>
        <div class="bloque-img tips-info">
            <div class="cnt cnt-tres">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>






<div class="bloques-gana-mas como-funciona" id="saber-mas-dos">
    <div class="contenedor-mobile-fix">
        <div class="arrow"></div>
        <p class="titulo">¿CÓMO FUNCIONA?</p>
        <div class="bloque-texto">
            <span class="nro">-</span>
            <span class="txt">
                Te suscribes en la campaña que desees.
            </span>
            <span class="nro">-</span>
            <span class="txt">
                En la siguiente campaña, <b>dejarás de recibir la guía impresa</b> ¡ y podrás disfrutar de ser parte del Club Gana+!
            </span>     
        </div>
        <div class="bloque-img">
            <div class="cnt">
                <div class="visual-funcionamiento"></div>
            </div>
        </div>
        <div class="clear"></div>
        <span class="txt recuerda-txt">
            PODRÁS CANCELAR TU SUSCRIPCIÓN CUANDO QUIERAS.
        </span>
        <div class="clear"></div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var done = false;
        var PosBannerMenu;
        //var player; // create youtube player
        var tipoOrigenPantalla = 1;
        var isScroll = false;
    </script>

    @System.Web.Optimization.Scripts.Render("~/Bundle/Js/Mobile/RevistaDigital-Informativa")
}

