
@model System.Int32

<div class="CompartirCorreoPop contenedor_fondo_popup" id="PopRDInscrita" style="display:none;font-family: 'Lato' !important" data-popup-main="" data-popup-function-hide="RDPopupCerrar(1)">
    <div class="mpopup_rd mob_rd_confirmacion" data-popup-body="">
        <a class="cerrar_fichaProducto" style="position: absolute; top: 6px; right: 6px; width: 40px; height: 40px; text-align: right;" href="javascript:;" data-popup-close="">
            <img src="/Content/Images/cerrar_04_blanco.png" width="20px" alt="" alternate="" text="">
        </a>
        <div class="mpopup_rd_cabecera">
            <div class="mrd_logo">
                <img src="/Content/Images/RevistaDigital/esika-para-mi-blanco.svg" height="38px">
            </div>
            <div class="mpopup_tit">¡FELICIDADES ESTÁS INSCRITA A TU NUEVA REVISTA ONLINE!</div>
        </div>

        <div class="mpopup_rd_content">
            <div class="mpopup_text"><span data-usuario=""></span>, ingresa a Ésika para mí la próxima campaña y a partir de la C-<span data-campania="">@Model</span>, tu revista online reemplazará a tu revista impresa.</div>
            <div class="btn_bpt btn_transparent"><a href="javascript: RDSuscripcionRedireccionar();">SABER MÁS DE ÉSIKA PARA MÍ</a></div>
            <div class="mpopup_textleg">Para cancelar tu inscripción <a href="javascript: RDRedireccionarDesuscripcion();">haz click aquí</a></div>
        </div>
        <img class="rd_consultora" src="/Content/Images/RevistaDigital/mob_rd_consultora.png" />
    </div>
</div>