
@model Portal.Consultoras.Web.Models.MensajeProductoBloqueadoModel

<div class="row">
    @if (Model.BtnInscribirse)
    {
        <div class="content_inscribirte" style="margin: 0 14px;">
            @Html.Raw(Model.MensajeTitulo)
            <div style="display:none;" data-estadoregistro0="">
                <a href="javascript: RDSuscripcion();" class="btn_inscribirse">INSCRIBIRME A ÉSIKA PARA MÍ</a>
            </div>
            <a href="javascript: RDPageInformativa();" class="enterate_aqui" style="text-decoration:underline;">ENTÉRATE MÁS DE ÉSIKA PARA MÍ AQUÍ</a>
        </div>
    }
    else
    {
        <div class="rd_producto_bloqueado" style="margin: 0 14px;">
            <div class="rd_producto_bloqueado_tit">
                <img class="rd_arrowright" src="@Url.Content("~/Content/Images/RevistaDigital/exclamacion_blanco.png")" style="margin-right: 10px;" />
                @Html.Raw(Model.MensajeTitulo)
            </div>
            <a href="javascript: RDPageInformativa();">
                ENTÉRATE MÁS DE ÉSIKA PARA MÍ AQUÍ
                <img class="rd_arrowright" src="@Url.Content("~/Content/Images/RevistaDigital/rd_arrowright_blanco.png")" height="12" />
            </a>
        </div>
    }
</div>